@import (reference) '../../../style/color-palette.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/focus.less';

:host {
  display: inline-block;
}

.gux-target {
  display: inline-flex;
  padding: 4px 8px 4px 12px;
  cursor: pointer;
  background-color: @gux-grey-90;
  .gux-form-field-border();

  &:focus-within {
    .gux-focus-ring();
  }

  .gux-display {
    display: inline-flex;
    min-width: 100px;
    padding-right: 8px;
    color: #2e394c;

    .gux-spinner {
      outline: none;

      &:not(:first-child) {
        margin-left: 4px;
      }

      &:focus-visible {
        background: #deeaff;
      }

      &.gux-empty {
        color: @gux-black-90;
      }
    }
  }

  .gux-popup-toggle {
    justify-content: right;
    padding: 2px;
    color: @gux-black-90;
    background: transparent;
    border: none;
    border-radius: 4px;

    &:focus-visible {
      .gux-focus-ring();
    }

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      color: #2e394c;
      cursor: pointer;
    }

    gux-icon {
      width: 16px;
      height: 16px;
    }

    &.gux-expanded {
      color: #2a60c8;

      &:not(:disabled):focus-visible,
      &:not(:disabled):hover {
        color: #2a60c8;
      }
    }
  }
}
