:host {
  display: inline-block;
}

.gux-target {
  display: inline-flex;
  gap: var(--gse-ui-formControl-input-gap);
  padding: var(--gse-ui-formControl-textarea-padding);
  cursor: pointer;
  background-color: var(--gse-ui-calendarMenu-backgroundColor);
  border: var(--gse-ui-formControl-input-default-border-width)
    var(--gse-ui-formControl-input-default-border-style)
    var(--gse-ui-formControl-input-default-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &:focus-within {
    border: var(--gse-ui-formControl-input-active-border-width)
      var(--gse-ui-formControl-input-active-border-style)
      var(--gse-ui-formControl-input-active-border-color);
    border-radius: var(--gse-ui-formControl-focusRing-borderRadius);
    outline: var(--gse-ui-formControl-input-focus-border-width)
      var(--gse-ui-formControl-input-focus-border-style)
      var(--gse-ui-formControl-input-focus-border-color);
    outline-offset: var(--gse-semantic-focusOutline-offset);
  }

  .gux-display {
    display: inline-flex;
    align-items: center;
    min-inline-size: 100px;
    padding-inline-end: var(--gse-ui-formControl-input-gap);
    font-family: var(--gse-ui-formControl-label-text-fontFamily);
    font-size: var(--gse-ui-formControl-label-text-fontSize);
    font-weight: var(--gse-ui-formControl-label-text-fontWeight);
    line-height: var(--gse-ui-formControl-label-text-lineHeight);
    color: var(--gse-ui-formControl-label-labelColor);

    .gux-spinner {
      outline: none;

      &:not(:first-child) {
        margin-inline-start: 4px;
      }

      &:focus-visible {
        background: var(--gse-ui-calendarMenu-month-hover-backgroundColor);
      }
    }
  }

  .gux-popup-toggle {
    justify-content: right;
    color: var(--gse-ui-monthPicker-calendarStates-defaultColor);
    background: transparent;
    border: none;

    &:focus-visible {
      border-radius: var(
        --gse-ui-calendarMenu-month-calendarButton-focusBorderRadius
      );
      outline: var(--gse-ui-monthPicker-calendarStates-focus-border-width)
        var(--gse-ui-monthPicker-calendarStates-focus-border-style)
        var(--gse-ui-monthPicker-calendarStates-focus-border-color);
      outline-offset: var(--gse-semantic-focusOutline-offset);
    }

    &:not(:disabled):hover {
      color: var(--gse-ui-monthPicker-calendarStates-hoverColor);
      cursor: pointer;
    }

    &:not(:disabled):focus {
      color: var(--gse-ui-monthPicker-calendarStates-activeColor);
      cursor: pointer;
    }

    &:disabled {
      color: var(--gse-ui-monthPicker-calendarStates-disabledColor);
    }

    gux-icon {
      inline-size: var(--gse-ui-icon-small-size);
      block-size: var(--gse-ui-icon-small-size);
    }

    &.gux-expanded {
      color: var(--gse-ui-monthPicker-calendarStates-activeColor);
    }
  }
}
