@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: inline-block;
}

.gux-target {
  display: inline-flex;
  gap: ui.$gse-ui-formControl-input-gap;
  padding: ui.$gse-ui-formControl-textarea-padding;
  cursor: pointer;
  background-color: ui.$gse-ui-calendarMenu-backgroundColor;
  border: ui.$gse-ui-formControl-input-default-border-width
    ui.$gse-ui-formControl-input-default-border-style
    ui.$gse-ui-formControl-input-default-border-color;
  border-radius: ui.$gse-ui-formControl-input-borderRadius;

  &:focus-within {
    outline: ui.$gse-ui-formControl-input-focus-border-width
      ui.$gse-ui-formControl-input-focus-border-style
      ui.$gse-ui-formControl-input-focus-border-color;
    outline-offset: global.$gse-semantic-focusOutline-offset;
    border: ui.$gse-ui-formControl-input-active-border-width
      ui.$gse-ui-formControl-input-active-border-style
      ui.$gse-ui-formControl-input-active-border-color;
    border-radius: ui.$gse-ui-formControl-focusRing-borderRadius;
  }

  .gux-display {
    display: inline-flex;
    align-items: center;
    min-inline-size: 100px;
    padding-inline-end: ui.$gse-ui-formControl-input-gap;
    font-family: ui.$gse-ui-formControl-label-text-fontFamily;
    font-size: ui.$gse-ui-formControl-label-text-fontSize;
    font-weight: ui.$gse-ui-formControl-label-text-fontWeight;
    line-height: ui.$gse-ui-formControl-label-text-lineHeight;
    color: ui.$gse-ui-formControl-label-labelColor;

    .gux-spinner {
      outline: none;

      &:not(:first-child) {
        margin-inline-start: 4px;
      }

      &:focus-visible {
        background: ui.$gse-ui-calendarMenu-month-hover-backgroundColor;
      }
    }
  }

  .gux-popup-toggle {
    justify-content: right;
    color: ui.$gse-ui-monthPicker-calendarStates-defaultColor;
    background: transparent;
    border: none;

    &:focus-visible {
      outline: ui.$gse-ui-monthPicker-calendarStates-focus-border-width
        ui.$gse-ui-monthPicker-calendarStates-focus-border-style
        ui.$gse-ui-monthPicker-calendarStates-focus-border-color;
      outline-offset: global.$gse-semantic-focusOutline-offset;
      border-radius: var(
        --gse-ui-calendarMenu-month-calendarButton-focusBorderRadius
      );
    }

    &:not(:disabled):hover {
      color: ui.$gse-ui-monthPicker-calendarStates-hoverColor;
      cursor: pointer;
    }

    &:not(:disabled):focus {
      color: ui.$gse-ui-monthPicker-calendarStates-activeColor;
      cursor: pointer;
    }

    &:disabled {
      color: ui.$gse-ui-monthPicker-calendarStates-disabledColor;
    }

    &.gux-expanded {
      color: ui.$gse-ui-monthPicker-calendarStates-activeColor;
    }
  }
}
