@import (reference) '../../../style/color-palette.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/focus.less';
@import (reference) '../../../style/spacing.less';

:host {
  display: inline-block;
}

.gux-target {
  display: inline-flex;
  padding: @gux-spacing-2xs @gux-spacing-xs @gux-spacing-2xs @gux-spacing-small;
  cursor: pointer;
  background-color: @gux-grey-90;
  .gux-form-field-border();

  &:focus-within {
    .gux-focus-ring();
  }

  .gux-display {
    display: inline-flex;
    min-width: 100px;
    padding-right: @gux-spacing-xs;
    color: @gux-black-40;

    .gux-spinner {
      outline: none;

      &:not(:first-child) {
        margin-left: @gux-spacing-2xs;
      }

      &:focus-visible {
        background: @gux-blue-100;
      }

      &.gux-empty {
        color: @gux-black-90;
      }
    }
  }

  .gux-popup-toggle {
    justify-content: right;
    padding: 2px;
    color: @gux-black-90;
    background: transparent;
    border: none;
    border-radius: 4px;

    &:focus-visible {
      .gux-focus-ring-small();
    }

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      color: @gux-black-40;
      cursor: pointer;
    }

    gux-icon {
      width: 16px;
      height: 16px;
    }

    &.gux-expanded {
      color: @gux-blue-60;

      &:not(:disabled):focus-visible,
      &:not(:disabled):hover {
        color: @gux-blue-60;
      }
    }
  }
}
