@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  @include mixins.gux-hide-offscreen;
}

:host(:focus-within) {
  @include mixins.gux-unhide-offscreen;
}

::slotted(a) {
  padding: 12px;
  font-size: 2rem;
  background-color: var(--gse-semantic-background-container-elevated-default);
}
