@use '~genesys-spark/src/style/mixins.scss';
@use '../../gux-form-field.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-legend-label {
    @include gux-form-field.gse-ui-formControl-label-bold;

    ::slotted(label) {
      white-space: nowrap;
    }

    &.gux-beside {
      position: relative;
      top: var(--gse-ui-formControl-input-top);
      float: left;
      width: fit-content;
      min-width: 45px; // TODO:2289
      margin-right: var(--gse-ui-formControl-label-gap);
    }

    &.gux-above {
      padding: var(--gse-ui-formControl-label-padding);
    }

    &.gux-screenreader {
      @include mixins.gux-sr-only;
    }
  }
}
