@use '~genesys-spark/src/style/mixins.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-legend-label {
    ::slotted(label) {
      white-space: nowrap;
    }

    &.gux-required {
      &::after {
        color: var(--gse-ui-formControl-label-indicator-requiredColor);
        content: ' *';
      }
    }

    &.gux-beside {
      position: relative;
      top: var(--gse-ui-formControl-input-top);
      float: left;
      width: fit-content;
      min-width: 45px; // TODO:2289
      margin-right: var(--gse-ui-formControl-label-gap);
    }

    &.gux-above {
      padding: var(--gse-ui-formControl-label-padding);
    }

    &.gux-screenreader {
      @include mixins.gux-sr-only;
    }
  }
}
