@use '~genesys-spark/src/style/mixins.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-legend-label {
    ::slotted(label) {
      white-space: nowrap;
    }

    &.gux-required {
      &::after {
        color: var(--gse-ui-formControl-label-indicator-requiredColor);
        content: ' *';
      }
    }

    &.gux-screenreader {
      @include mixins.gux-sr-only;
    }
  }
}
