@import (reference) '../../../../../style/typography.less';

/* stylelint-disable-next-line selector-class-pattern */
.GuxFormFieldLegendLabelStyle {
  .gux-form-field-legend-label {
    padding: 0;

    &.gux-required {
      &::after {
        font-size: 12px;
        color: #ea0b0b;
        content: ' *';
      }
    }

    &.gux-beside {
      position: relative;
      top: 8px;
      float: left;
      width: fit-content;
      min-width: 45px;
      margin-right: 8px;
    }

    &.gux-above {
      margin-bottom: 8px;
    }

    &.gux-screenreader {
      .gux-sr-only();
    }
  }
}
