@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: flex;
  flex-direction: column;

  .gux-stepper {
    display: flex;
    block-size: 100%;

    &.gux-stepper-horizontal {
      flex-direction: row;

      --stepper-min-inline-size: var(--gse-ui-stepper-step-horizontal-minWidth);
      --stepper-min-block-size: var(--gse-ui-stepper-step-horizontal-minHeight);
      --step-gap: var(--gse-ui-stepper-step-gap);
      --stepper-padding-block: var(--gse-ui-stepper-step-horizontal-gap) 0;
      --stepper-border-block-start-incomplete: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-bar-incompleted-foregroundColor) solid;
      --stepper-border-block-start-completed: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-icon-completed-selectedForegroundColor) solid;
      --stepper-border-block-start-error: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-bar-error-foregroundColor) solid;
      --stepper-border-block-start-active: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-bar-active-foregroundColor) solid;
    }

    &.gux-stepper-vertical {
      flex-direction: column;

      --step-gap: var(--gse-ui-stepper-step-vertical-gap);
      --stepper-min-block-size: var(--gse-ui-stepper-step-vertical-minHeight);
      --stepper-min-inline-size: var(--gse-ui-stepper-step-vertical-minWidth);
      --stepper-padding-inline: var(--gse-ui-stepper-step-vertical-gap) 0;
      --stepper-border-inline-start-incomplete: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-bar-incompleted-foregroundColor) solid;
      --stepper-border-inline-start-completed: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-icon-completed-selectedForegroundColor) solid;
      --stepper-border-inline-start-error: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-bar-error-foregroundColor) solid;
      --stepper-border-inline-start-active: var(
          --gse-ui-stepper-bar-horizontal-height
        )
        var(--gse-ui-stepper-bar-active-foregroundColor) solid;
      --stepper-step-body-margin: var(
        --gse-ui-stepper-step-vertical-body-marginTop
      );
    }
  }
}
