// IMPORTANT!!!
// These variables should typically be used as the FALLBACK value within a CSS var() expression
// that references a CSS variable of the same name!
//
//   Example:
//     .gux-some-element {
//       z-index: var(--gux-zindex-popup, zindex.$gux-zindex-popup)
//     }                                  ^^^^^^^^^^^^^^^^^ fallback value of the var() expression
//
// This pattern ensures that z-index values are overridable within consuming apps by providing a
// new value for the CSS variable for some specific selector within that app's stylesheet. These
// SCSS variables are here to avoid duplicating the static defaults which will be inlined into the
// resulting CSS.

// Changing default z-index values could be a breaking change for dependent apps. Be mindful!

// Values here are somewhat arbitrary as these variables were factored out of existing usages that
// used these values directly. A future breaking change should consider making the defaults higher,
// and connect clearly to the existing documentation about elevation:
// e.g. start z-indexes at 100 so apps can use 0-99 for their own content without risk of conflict
// Elevation doc: https://spark.genesys.com/7978beca0/p/121ce3-shadows--elevation
// https://inindca.atlassian.net/browse/COMUI-1171
$gux-zindex-modal: 1;
$gux-zindex-popover: 2;
// "popup" covers any interactive picker component, e.g. dropdowns, color selectors, date pickers, etc.
$gux-zindex-popup: 1;
$gux-zindex-tooltip: 1;
