// Genesys Colors from https://intranet.genesys.com/display/GDS/Colors+3.0
@import './color-palette.scss';

// Type and Icons
$gux-type: #2e394c;
$gux-type-dark: $gux-grey-100;

// Backgrounds
$gux-background: $gux-grey-100;

// Borders
$gux-border: $gux-grey-60;
$gux-border-strong: #6b7585;

// Placeholder
$gux-placeholder: #596373;

// Conditional Palette
$gux-alert: $gux-alert-red-60;
$gux-warning: $gux-alert-yellow-60;
$gux-positive: $gux-alert-green-60;
$gux-neutral: $gux-navy-sec;
$gux-alert-dark: $gux-alert-red-90;
$gux-warning-dark: $gux-alert-yellow-60;
$gux-positive-dark: $gux-alert-green-90;
$gux-neutral-dark: #75a8ff;

// Interactive
$gux-text-selection: #deeaff;
