// Genesys Colors from https://intranet.genesys.com/display/GDS/Colors+3.0

// Type and Icons
$gux-type: #2e394c;
$gux-type-dark: #fdfdfd;

// Backgrounds
$gux-background: #fdfdfd;

// Borders
$gux-border: #e2e6ee;
$gux-border-strong: #6b7585;

// Placeholder
$gux-placeholder: #596373;

// Conditional Palette
$gux-alert: #ea0b0b;
$gux-warning: #ffae00;
$gux-positive: #3c8527;
$gux-neutral: #203b73;
$gux-alert-dark: #f8b2b2;
$gux-warning-dark: #ffae00;
$gux-positive-dark: #c2deb9;
$gux-neutral-dark: #75a8ff;

// Interactive
$gux-text-selection: #deeaff;
