@import (reference) './zindex.less';

:root {
  // z-index
  --gux-zindex-modal: @gux-zindex-modal;
  --gux-zindex-popover: @gux-zindex-popover;
  --gux-zindex-popup: @gux-zindex-popup;
  --gux-zindex-tooltip: @gux-zindex-tooltip;
}
