@import (reference) 'color-palette.less';

.gux-form-field-border {
  border: 1px solid #6b7585;
  border-radius: 4px;
  box-shadow: inset 0 0 4px fade(#202937, 16%);
}

.gux-hide-offscreen {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.gux-unhide-offscreen {
  position: inherit;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  overflow: inherit;
}
