@import 'color-palette.scss';

@mixin gux-shadow-10 {
  box-shadow: 0 0 2px rgba($gux-black-30, 16%);
}

@mixin gux-shadow-20 {
  box-shadow: 0 2px 4px rgba($gux-black-30, 24%);
}

@mixin gux-shadow-30 {
  box-shadow: 0 8px 24px rgba($gux-black-30, 40%);
}

@mixin gux-shadow-40 {
  box-shadow: 0 3px 14px rgba($gux-black-50, 22%);
}
