$gux-soft-grid-increment: 2px;

$gux-spacing-3xs: ($gux-soft-grid-increment * 1);
$gux-spacing-2xs: ($gux-soft-grid-increment * 2);
$gux-spacing-xs: ($gux-soft-grid-increment * 4);
$gux-spacing-small: ($gux-soft-grid-increment * 6);
$gux-spacing-medium: ($gux-soft-grid-increment * 8);
$gux-spacing-large: ($gux-soft-grid-increment * 12);
$gux-spacing-xl: ($gux-soft-grid-increment * 16);
$gux-spacing-2xl: ($gux-soft-grid-increment * 20);
$gux-spacing-3xl: ($gux-soft-grid-increment * 24);
$gux-spacing-4xl: ($gux-soft-grid-increment * 32);
