@import './_mixins.scss';
@import './focus.scss';
@import './roboto.scss';

/*
 * Typography styles and mixins.
 */

/* Helpers */

@mixin base-font {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: 400;
}

@mixin bold-font {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: 700;
}

/* Base typography */

@mixin body-font {
  @include base-font;

  // font-size: 12px;
  font-size: var(--gse-core-fontSize-xs);
  line-height: var(--gse-core-lineHeight-xs);
}

@mixin body-font-bold {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: 700;
}

/* Headings */

@mixin h1 {
  font-family: var(--gse-core-fontFamily-heading), sans-serif;
  font-weight: var(--gse-core-fontWeight-bold);
  //24px
  font-size: var(--gse-core-fontSize-xl);
  //32px
  line-height: var(--gse-core-lineHeight-xl);
}

@mixin h2 {
  font-family: var(--gse-core-fontFamily-heading), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
  // font-size: 18px;
  font-size: var(--gse-core-fontSize-lg);
  // line-height: 24px;
  line-height: var(--gse-lineHeight-md);
}
@mixin h3 {
  font-family: var(--gse-core-fontFamily-heading), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
  // 16px
  font-size: var(--gse-core-fontSize-md);
  // line-height: 20px;
  line-height: var(--gse-core-lineHeight-md);
}

@mixin h4-6 {
  font-family: var(--gse-core-fontFamily-heading), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
  // font-size: 14px;
  font-size: var(--gse-core-fontSize-sm);
  line-height: 20px;
  line-height: var(--gse-core-lineHeight-sm);
}

/* Anchor */
@mixin gux-anchor {
  color: #2a60c8;
  text-decoration: underline;
  border-radius: 2px;

  &:hover {
    color: #2754ac;
  }

  &:active {
    color: #23478f;
  }

  &:focus-visible {
    @include gux-focus-ring;
  }
}

@mixin gux-anchor-table {
  @include gux-anchor;

  text-decoration: none;
}

.gux-icon-anchor {
  gux-icon {
    padding-right: 2px;
  }
}

/* Custom Styles */

@mixin gux-large-text {
  @include base-font;

  font-size: 14px;
  line-height: 24px;
}

@mixin gux-small-text {
  @include base-font;

  font-size: 11px;
  line-height: 16px;
}

@mixin gse-ui-formControl-label {
  font-family: var(--gse-ui-formControl-label-text-fontFamily);
  line-height: var(--gse-ui-formControl-label-text-lineHeight);
  font-size: var(--gse-ui-formControl-label-text-fontSize);
  color: var(--gse-ui-formControl-label-labelColor);
  font-weight: var(--gse-ui-formControl-label-text-fontWeight);
}

@mixin gux-sr-only {
  @include gux-hide-offscreen;
}

@mixin gux-sr-only-clip {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
