@import './_mixins.scss';
@import './focus.scss';
@import './roboto.scss';

/*
 * Typography styles and mixins.
 */

// Variables part
$body-font-line-height: 20px;

/* Helpers */

@mixin base-font {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@mixin light-font {
  @include base-font;

  font-weight: 300;
}

@mixin bold-font {
  @include base-font;

  font-weight: 700;
}

/* Base typography */

@mixin body-font {
  @include base-font;

  font-size: 12px;
  line-height: $body-font-line-height;
}

@mixin body-font-bold {
  @include body-font;
  @include bold-font;
}

body {
  @include body-font;
}

/* Headings */

@mixin h1 {
  @include light-font;

  font-size: 24px;
  line-height: 32px;
}

h1 {
  @include h1;
}

@mixin h2 {
  @include light-font;

  font-size: 18px;
  line-height: 24px;
}

h2 {
  @include h2;
}

@mixin h3 {
  @include bold-font;

  font-size: 14px;
  line-height: 20px;
}

h3 {
  @include h3;
}

@mixin h4-6 {
  @include base-font;

  font-size: 14px;
  line-height: 20px;
}

h4,
h5,
h6 {
  @include h4-6;
}

/* Anchor */
@mixin gux-anchor {
  color: var(--gse-ui-link-default-color);
  text-decoration: underline;
  border-radius: var(--gse-ui-links-borderRadius);

  &:hover {
    color: var(--gse-ui-link-hover-color);
  }

  &:active {
    color: var(--gse-ui-link-active-color);
  }

  &:visited {
    color: var(--gse-ui-link-visited-color);
  }

  &:focus-visible {
    @include gux-focus-ring;
  }
}

@mixin gux-anchor-table {
  @include gux-anchor;

  text-decoration: none;
}

.gux-icon-anchor {
  gux-icon {
    padding-right: var(--gse-ui-links-inLine-padding);
  }
}

a {
  @include gux-anchor;
}

table a {
  @include gux-anchor-table;
}

/* Custom Styles */

@mixin gux-large-text {
  @include base-font;

  font-size: 14px;
  line-height: 24px;
}

@mixin gux-small-text {
  @include base-font;

  font-size: 11px;
  line-height: 16px;
}

@mixin gse-ui-formControl-label {
  font-family: var(--gse-ui-formControl-label-text-fontFamily);
  line-height: var(--gse-ui-formControl-label-text-lineHeight);
  font-size: var(--gse-ui-formControl-label-text-fontSize);
  color: var(--gse-ui-formControl-label-labelColor);
  font-weight: var(--gse-ui-formControl-label-text-fontWeight);
}

@mixin gux-sr-only {
  @include gux-hide-offscreen;
}

@mixin gux-sr-only-clip {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
