@import './focus.scss';

/*
 * Typography styles and mixins.
 */

/* Helpers */

@mixin base-font {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-regular);
}

@mixin semi-bold-font {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin bold-font {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-bold);
}

/* Base typography */

@mixin body-font {
  @include base-font;
  font-size: var(--gse-core-fontSize-xs);
  line-height: var(--gse-core-lineHeight-xs);
}

@mixin body-font-bold {
  font-family: var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-bold);
}

/* Headings */

@mixin h1 {
  font-family: var(--gse-core-fontFamily-heading),
    var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-bold);
  font-size: var(--gse-core-fontSize-xl);
  line-height: var(--gse-core-lineHeight-xl);
}

@mixin h2 {
  font-family: var(--gse-core-fontFamily-heading),
    var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
  font-size: var(--gse-core-fontSize-lg);
  line-height: var(--gse-lineHeight-md);
}
@mixin h3 {
  font-family: var(--gse-core-fontFamily-heading),
    var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
  font-size: var(--gse-core-fontSize-md);
  line-height: var(--gse-core-lineHeight-md);
}

@mixin h4-6 {
  font-family: var(--gse-core-fontFamily-heading),
    var(--gse-core-fontFamily-body), sans-serif;
  font-weight: var(--gse-core-fontWeight-semiBold);
  font-size: var(--gse-core-fontSize-sm);
  line-height: var(--gse-core-lineHeight-sm);
}

/* Anchor */
@mixin gux-anchor {
  color: var(--gse-ui-link-default-color);
  text-decoration: underline;
  border-radius: var(--gse-ui-links-borderRadius);

  &:hover {
    color: var(--gse-ui-link-hover-color);
  }

  &:active {
    color: var(--gse-ui-link-active-color);
  }

  &:visited {
    color: var(--gse-ui-link-visited-color);
  }

  &:focus-visible {
    @include gux-focus-ring;
  }
}

@mixin gux-anchor-table {
  @include gux-anchor;

  text-decoration: none;
}

.gux-icon-anchor {
  gux-icon {
    padding-right: var(--gse-ui-links-inLine-padding);
  }
}

/* Custom Styles */
// COMUI-2274 review typography mixins
@mixin gux-large-text {
  @include base-font;

  font-size: var(--gse-core-fontSize-md);
  line-height: var(--gse-core-lineHeight-md);
}

@mixin gux-small-text {
  @include base-font;

  font-size: var(--gse-core-fontSize-xs);
  line-height: var(--gse-core-lineHeight-xs);
}

@mixin gse-ui-formControl-label {
  font-family: var(--gse-ui-formControl-label-text-fontFamily);
  line-height: var(--gse-ui-formControl-label-text-lineHeight);
  font-size: var(--gse-ui-formControl-label-text-fontSize);
  color: var(--gse-ui-formControl-label-labelColor);
  font-weight: var(--gse-ui-formControl-label-text-fontWeight);
}
