@import (reference) '../../../../../style/color-palette.less';

/* stylelint-disable-next-line selector-class-pattern */
.GuxFormFieldHelpStyle {
  .gux-form-field-help {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 4px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #6b7585;

    &.gux-show {
      display: flex;
    }

    .gux-message {
      flex: 0 1 auto;
      align-self: none;
      order: 0;
    }
  }
}
