:host {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.gux-button-multi-container .gux-dropdown-button button > * {
  vertical-align: middle;
}
.gux-button-multi-container .gux-dropdown-button button gux-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
