gux-pagination-item-counts-beta {
  .gux-pagination-item-counts-container {
    display: flex;
    flex-direction: row;
    gap: var(--gse-ui-dataTableItems-tablePagination-countDisplay-gap);
    white-space: nowrap;
    font-family: var(
      --gse-ui-dataTableItems-tablePagination-defaultText-fontFamily
    );
    color: var(--gse-ui-dataTableItems-tablePagination-foregroundColor);
    font-size: var(
      --gse-ui-dataTableItems-tablePagination-defaultText-fontSize
    );
    line-height: var(
      --gse-ui-dataTableItems-tablePagination-defaultText-lineHeight
    );
    font-weight: var(
      --gse-ui-dataTableItems-tablePagination-currentResultText-fontWeight
    );

    .gux-pagination-item-counts-range {
      font-weight: bold;
    }
  }
}
