gux-pagination-item-counts-beta {
  color: #2e394c;

  .gux-pagination-item-counts-container {
    margin-right: 16px;
    white-space: nowrap;

    .gux-pagination-item-counts-range {
      font-weight: bold;
    }
  }
}
