@gse-core-spacing-4xs: 4px;
@gse-core-spacing-3xs: 8px;
@gse-core-spacing-2xs: 12px;
@gse-core-spacing-xs: 16px;
@gse-core-spacing-sm: 20px;
@gse-core-spacing-md: 24px;
@gse-core-spacing-lg: 32px;
@gse-core-spacing-xl: 40px;
@gse-core-spacing-2xl: 48px;
@gse-core-zIndex-0: 0;
@gse-core-zIndex-1: 1;
@gse-core-zIndex-100: 100;
@gse-core-zIndex-200: 200;
@gse-core-zIndex-300: 300;
@gse-core-zIndex-400: 400;
@gse-core-zIndex-500: 500;
@gse-core-zIndex-600: 600;
@gse-core-borderRadius-none: 0;
@gse-core-borderRadius-sm: 4px;
@gse-core-borderRadius-md: 8px;
@gse-core-borderRadius-lg: 16px;
@gse-core-borderRadius-xl: 20px;
@gse-core-borderRadius-full: 100%;
@gse-core-color-white: #ffffff;
@gse-core-color-black: #000000;
@gse-core-color-transparent: #00000000;
@gse-core-color-cornflower-100: #f2f2f3;
@gse-core-color-cornflower-200: #e4e5e7;
@gse-core-color-cornflower-300: #c6c8ce;
@gse-core-color-cornflower-400: #a3a7b0;
@gse-core-color-cornflower-500: #767c8d;
@gse-core-color-cornflower-600: #626e84;
@gse-core-color-cornflower-700: #3e5374;
@gse-core-color-cornflower-800: #23395d;
@gse-core-color-cornflower-900: #1b2c48;
@gse-core-color-cornflower-1000: #0f1929;
@gse-core-color-islandaqua-100: #edf8f9;
@gse-core-color-islandaqua-200: #daf0f4;
@gse-core-color-islandaqua-300: #b5e2e8;
@gse-core-color-islandaqua-400: #90d3dd;
@gse-core-color-islandaqua-500: #6bc5d1;
@gse-core-color-islandaqua-600: #46b6c6;
@gse-core-color-islandaqua-700: #2c808c;
@gse-core-color-islandaqua-800: #0c6d7e;
@gse-core-color-islandaqua-900: #115d71;
@gse-core-color-islandaqua-1000: #094052;
@gse-core-color-tomato-100: #fef3f3;
@gse-core-color-tomato-200: #fee8e6;
@gse-core-color-tomato-300: #fecfcb;
@gse-core-color-tomato-400: #feb2ab;
@gse-core-color-tomato-500: #fe8f85;
@gse-core-color-tomato-600: #fe624d;
@gse-core-color-tomato-700: #e35744;
@gse-core-color-tomato-800: #c44b3b;
@gse-core-color-tomato-900: #a03d30;
@gse-core-color-tomato-1000: #712b22;
@gse-core-color-lavenderhaze-100: #fbfcfe;
@gse-core-color-lavenderhaze-200: #f3f5fb;
@gse-core-color-lavenderhaze-300: #e8ebf7;
@gse-core-color-lavenderhaze-400: #d1d7ef;
@gse-core-color-lavenderhaze-500: #c6ceec;
@gse-core-color-lavenderhaze-600: #b5bfe6;
@gse-core-color-lavenderhaze-700: #a8b4e2;
@gse-core-color-lavenderhaze-800: #9ba9dd;
@gse-core-color-lavenderhaze-900: #7785b8;
@gse-core-color-lavenderhaze-1000: #626d97;
@gse-core-color-blueberry-50: #eff0fe;
@gse-core-color-blueberry-100: #dee1fd;
@gse-core-color-blueberry-200: #ced2fc;
@gse-core-color-blueberry-300: #9ca6f9;
@gse-core-color-blueberry-400: #7b88f7;
@gse-core-color-blueberry-500: #5a6af5;
@gse-core-color-blueberry-600: #4856cb;
@gse-core-color-blueberry-700: #3742a2;
@gse-core-color-blueberry-800: #252e78;
@gse-core-color-blueberry-900: #1c2463;
@gse-core-color-blueberry-1000: #141a4f;
@gse-core-color-mineral-100: #ddeaf7;
@gse-core-color-mineral-200: #cde0f4;
@gse-core-color-mineral-300: #bcd6f0;
@gse-core-color-mineral-400: #9ac1e8;
@gse-core-color-mineral-500: #79ade1;
@gse-core-color-mineral-600: #5798d9;
@gse-core-color-mineral-700: #467aae;
@gse-core-color-mineral-800: #345b82;
@gse-core-color-mineral-900: #233d57;
@gse-core-color-mineral-1000: #1a2e41;
@gse-core-color-plum-100: #eee3ff;
@gse-core-color-plum-200: #e6d6ff;
@gse-core-color-plum-300: #dec8ff;
@gse-core-color-plum-400: #cdacff;
@gse-core-color-plum-500: #bd91ff;
@gse-core-color-plum-600: #ac75ff;
@gse-core-color-plum-700: #8a5ecc;
@gse-core-color-plum-800: #674699;
@gse-core-color-plum-900: #452f66;
@gse-core-color-plum-1000: #34234d;
@gse-core-color-raspberry-100: #fadff5;
@gse-core-color-raspberry-200: #f7cff0;
@gse-core-color-raspberry-300: #f5bfeb;
@gse-core-color-raspberry-400: #ef9ee1;
@gse-core-color-raspberry-500: #ea7ed7;
@gse-core-color-raspberry-600: #e55ecd;
@gse-core-color-raspberry-700: #b74ba4;
@gse-core-color-raspberry-800: #89387b;
@gse-core-color-raspberry-900: #5c2652;
@gse-core-color-raspberry-1000: #451c3e;
@gse-core-color-coral-100: #ffdee4;
@gse-core-color-coral-200: #ffced6;
@gse-core-color-coral-300: #ffbec9;
@gse-core-color-coral-400: #ff9dad;
@gse-core-color-coral-500: #ff7d92;
@gse-core-color-coral-600: #ff5c77;
@gse-core-color-coral-700: #cc4a5f;
@gse-core-color-coral-800: #993747;
@gse-core-color-coral-900: #662530;
@gse-core-color-coral-1000: #4d1c24;
@gse-core-color-mango-100: #fff4dc;
@gse-core-color-mango-200: #ffeeca;
@gse-core-color-mango-300: #ffe8b9;
@gse-core-color-mango-400: #ffdd96;
@gse-core-color-mango-500: #ffd173;
@gse-core-color-mango-600: #ffc650;
@gse-core-color-mango-700: #cc9e40;
@gse-core-color-mango-800: #997730;
@gse-core-color-mango-900: #664f20;
@gse-core-color-mango-1000: #4d3b18;
@gse-core-color-pear-100: #edf5df;
@gse-core-color-pear-200: #e3eecc;
@gse-core-color-pear-300: #d9e8bb;
@gse-core-color-pear-400: #c6dd98;
@gse-core-color-pear-500: #b3d176;
@gse-core-color-pear-600: #a0c654;
@gse-core-color-pear-700: #809e43;
@gse-core-color-pear-800: #607732;
@gse-core-color-pear-900: #404f22;
@gse-core-color-pear-1000: #303b19;
@gse-core-color-jade-100: #dff5f0;
@gse-core-color-jade-200: #cceee6;
@gse-core-color-jade-300: #bbe8de;
@gse-core-color-jade-400: #98ddcd;
@gse-core-color-jade-500: #76d1bc;
@gse-core-color-jade-600: #54c6ab;
@gse-core-color-jade-700: #439e89;
@gse-core-color-jade-800: #327767;
@gse-core-color-jade-900: #224f45;
@gse-core-color-jade-1000: #193b33;
@gse-core-fontFamily-body: Noto Sans;
@gse-core-fontFamily-heading: Urbanist;
@gse-core-fontSize-xs: 12px;
@gse-core-fontSize-sm: 14px;
@gse-core-fontSize-md: 16px;
@gse-core-fontSize-lg: 18px;
@gse-core-fontSize-xl: 24px;
@gse-core-fontSize-xxl: 36px;
@gse-core-fontWeight-regular: 400;
@gse-core-fontWeight-semiBold: 600;
@gse-core-fontWeight-bold: 700;
@gse-core-lineHeight-2xs: 16px;
@gse-core-lineHeight-xs: 18px;
@gse-core-lineHeight-sm: 20px;
@gse-core-lineHeight-md: 24px;
@gse-core-lineHeight-lg: 27px;
@gse-core-lineHeight-xl: 32px;
@gse-core-lineHeight-2xl: 44px;
@gse-core-lineHeight-matchFontSize: 1;
@gse-core-typography-body-sm-fontFamily: Noto Sans;
@gse-core-typography-body-sm-lineHeight: 18px;
@gse-core-typography-body-sm-fontSize: 12px;
@gse-core-typography-body-sm-fontWeight: 400;
@gse-core-typography-body-smBold-fontFamily: Noto Sans;
@gse-core-typography-body-smBold-lineHeight: 18px;
@gse-core-typography-body-smBold-fontSize: 12px;
@gse-core-typography-body-smBold-fontWeight: 700;
@gse-core-typography-body-smSemiBold-fontFamily: Noto Sans;
@gse-core-typography-body-smSemiBold-lineHeight: 18px;
@gse-core-typography-body-smSemiBold-fontSize: 12px;
@gse-core-typography-body-smSemiBold-fontWeight: 600;
@gse-core-typography-body-smRegular-fontFamily: Noto Sans;
@gse-core-typography-body-smRegular-lineHeight: 18px;
@gse-core-typography-body-smRegular-fontSize: 12px;
@gse-core-typography-body-smRegular-fontWeight: 400;
@gse-core-typography-body-md-fontFamily: Noto Sans;
@gse-core-typography-body-md-lineHeight: 20px;
@gse-core-typography-body-md-fontSize: 14px;
@gse-core-typography-body-md-fontWeight: 400;
@gse-core-typography-body-mdRegular-fontFamily: Noto Sans;
@gse-core-typography-body-mdRegular-lineHeight: 20px;
@gse-core-typography-body-mdRegular-fontSize: 14px;
@gse-core-typography-body-mdRegular-fontWeight: 400;
@gse-core-typography-body-mdSemiBold-fontFamily: Noto Sans;
@gse-core-typography-body-mdSemiBold-lineHeight: 20px;
@gse-core-typography-body-mdSemiBold-fontSize: 14px;
@gse-core-typography-body-mdSemiBold-fontWeight: 600;
@gse-core-typography-body-mdBold-fontFamily: Noto Sans;
@gse-core-typography-body-mdBold-lineHeight: 20px;
@gse-core-typography-body-mdBold-fontSize: 14px;
@gse-core-typography-body-mdBold-fontWeight: 700;
@gse-core-typography-body-lg-fontFamily: Noto Sans;
@gse-core-typography-body-lg-lineHeight: 24px;
@gse-core-typography-body-lg-fontSize: 16px;
@gse-core-typography-body-lg-fontWeight: 400;
@gse-core-typography-body-lgRegular-fontFamily: Noto Sans;
@gse-core-typography-body-lgRegular-lineHeight: 24px;
@gse-core-typography-body-lgRegular-fontSize: 16px;
@gse-core-typography-body-lgRegular-fontWeight: 400;
@gse-core-typography-body-lgSemiBold-fontFamily: Noto Sans;
@gse-core-typography-body-lgSemiBold-lineHeight: 24px;
@gse-core-typography-body-lgSemiBold-fontSize: 16px;
@gse-core-typography-body-lgSemiBold-fontWeight: 600;
@gse-core-typography-body-lgBold-fontFamily: Noto Sans;
@gse-core-typography-body-lgBold-lineHeight: 24px;
@gse-core-typography-body-lgBold-fontSize: 16px;
@gse-core-typography-body-lgBold-fontWeight: 700;
@gse-core-typography-heading-xs-fontFamily: Urbanist;
@gse-core-typography-heading-xs-lineHeight: 24px;
@gse-core-typography-heading-xs-fontSize: 14px;
@gse-core-typography-heading-xs-fontWeight: 700;
@gse-core-typography-heading-xsBold-fontFamily: Urbanist;
@gse-core-typography-heading-xsBold-lineHeight: 24px;
@gse-core-typography-heading-xsBold-fontSize: 14px;
@gse-core-typography-heading-xsBold-fontWeight: 700;
@gse-core-typography-heading-xsSemiBold-fontFamily: Urbanist;
@gse-core-typography-heading-xsSemiBold-lineHeight: 24px;
@gse-core-typography-heading-xsSemiBold-fontSize: 14px;
@gse-core-typography-heading-xsSemiBold-fontWeight: 600;
@gse-core-typography-heading-sm-fontFamily: Urbanist;
@gse-core-typography-heading-sm-lineHeight: 24px;
@gse-core-typography-heading-sm-fontSize: 16px;
@gse-core-typography-heading-sm-fontWeight: 700;
@gse-core-typography-heading-smBold-fontFamily: Urbanist;
@gse-core-typography-heading-smBold-lineHeight: 24px;
@gse-core-typography-heading-smBold-fontSize: 16px;
@gse-core-typography-heading-smBold-fontWeight: 700;
@gse-core-typography-heading-smSemiBold-fontFamily: Urbanist;
@gse-core-typography-heading-smSemiBold-lineHeight: 24px;
@gse-core-typography-heading-smSemiBold-fontSize: 16px;
@gse-core-typography-heading-smSemiBold-fontWeight: 600;
@gse-core-typography-heading-md-fontFamily: Urbanist;
@gse-core-typography-heading-md-lineHeight: 27px;
@gse-core-typography-heading-md-fontSize: 18px;
@gse-core-typography-heading-md-fontWeight: 700;
@gse-core-typography-heading-mdBold-fontFamily: Urbanist;
@gse-core-typography-heading-mdBold-lineHeight: 27px;
@gse-core-typography-heading-mdBold-fontSize: 18px;
@gse-core-typography-heading-mdBold-fontWeight: 700;
@gse-core-typography-heading-mdSemiBold-fontFamily: Urbanist;
@gse-core-typography-heading-mdSemiBold-lineHeight: 27px;
@gse-core-typography-heading-mdSemiBold-fontSize: 18px;
@gse-core-typography-heading-mdSemiBold-fontWeight: 600;
@gse-core-typography-heading-lg-fontFamily: Urbanist;
@gse-core-typography-heading-lg-lineHeight: 32px;
@gse-core-typography-heading-lg-fontSize: 24px;
@gse-core-typography-heading-lg-fontWeight: 700;
@gse-core-typography-heading-lgBold-fontFamily: Urbanist;
@gse-core-typography-heading-lgBold-lineHeight: 32px;
@gse-core-typography-heading-lgBold-fontSize: 24px;
@gse-core-typography-heading-lgBold-fontWeight: 700;
@gse-core-typography-heading-lgSemiBold-fontFamily: Urbanist;
@gse-core-typography-heading-lgSemiBold-lineHeight: 32px;
@gse-core-typography-heading-lgSemiBold-fontSize: 24px;
@gse-core-typography-heading-lgSemiBold-fontWeight: 600;
@gse-core-typography-heading-xl-fontFamily: Urbanist;
@gse-core-typography-heading-xl-lineHeight: 44px;
@gse-core-typography-heading-xl-fontSize: 36px;
@gse-core-typography-heading-xl-fontWeight: 700;
@gse-core-typography-heading-xlBold-fontFamily: Urbanist;
@gse-core-typography-heading-xlBold-lineHeight: 44px;
@gse-core-typography-heading-xlBold-fontSize: 36px;
@gse-core-typography-heading-xlBold-fontWeight: 700;
@gse-core-typography-heading-xlSemiBold-fontFamily: Urbanist;
@gse-core-typography-heading-xlSemiBold-lineHeight: 44px;
@gse-core-typography-heading-xlSemiBold-fontSize: 36px;
@gse-core-typography-heading-xlSemiBold-fontWeight: 600;
@gse-core-typography-heading-overline-fontFamily: Urbanist;
@gse-core-typography-heading-overline-fontWeight: 600;
@gse-core-typography-heading-overline-lineHeight: 16px;
@gse-core-typography-heading-overline-fontSize: 12px;
@gse-core-typography-heading-overline-letterSpacing: 1.5px;
@gse-core-typography-heading-overline-textCase: uppercase;
@gse-core-typography-subheading-fontFamily: Urbanist;
@gse-core-typography-subheading-fontWeight: 700;
@gse-core-typography-subheading-lineHeight: 20px;
@gse-core-typography-subheading-fontSize: 14px;
@gse-core-typography-subheadingBold-fontFamily: Urbanist;
@gse-core-typography-subheadingBold-fontWeight: 700;
@gse-core-typography-subheadingBold-lineHeight: 20px;
@gse-core-typography-subheadingBold-fontSize: 14px;
@gse-core-typography-subheadingSemiBold-fontFamily: Urbanist;
@gse-core-typography-subheadingSemiBold-fontWeight: 600;
@gse-core-typography-subheadingSemiBold-lineHeight: 20px;
@gse-core-typography-subheadingSemiBold-fontSize: 14px;
@gse-core-typography-subheadingRegular-fontFamily: Urbanist;
@gse-core-typography-subheadingRegular-fontWeight: 400;
@gse-core-typography-subheadingRegular-lineHeight: 20px;
@gse-core-typography-subheadingRegular-fontSize: 14px;
@gse-core-elevation-low-x: 0;
@gse-core-elevation-low-y: 2px;
@gse-core-elevation-low-blur: 4px;
@gse-core-elevation-low-spread: 1px;
@gse-core-elevation-low-color: #23395c1a;
@gse-core-elevation-low-type: dropShadow;
@gse-core-elevation-medium-x: 0;
@gse-core-elevation-medium-y: 4px;
@gse-core-elevation-medium-blur: 6px;
@gse-core-elevation-medium-spread: 1px;
@gse-core-elevation-medium-color: #23395c1f;
@gse-core-elevation-medium-type: dropShadow;
@gse-core-elevation-high-x: 0;
@gse-core-elevation-high-y: 6px;
@gse-core-elevation-high-blur: 8px;
@gse-core-elevation-high-spread: 1px;
@gse-core-elevation-high-color: #23395c26;
@gse-core-elevation-high-type: dropShadow;
@gse-core-size-xs: 16px;
@gse-core-size-sm: 20px;
@gse-core-size-md: 24px;
@gse-core-size-lg: 32px;
@gse-core-size-xl: 40px;
@gse-core-size-2xl: 48px;
@gse-core-size-3xl: 98px;
@gse-core-textDecoration-underline: underline;
