@use '~genesys-spark/dist/scss/focus.scss';

// Style
:host {
  z-index: var(--gse-semantic-zIndex-popover);
  color: var(--gse-ui-menu-option-label-foregroundColor);
  cursor: default;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}

.gux-flyout-menu-content {
  position: fixed;
  display: none;
  border: none;
  border-radius: var(--gse-ui-menu-borderRadius);

  &.gux-shown {
    display: flex;
  }

  .gux-arrow {
    position: absolute;
    width: var(
      --gse-ui-popover-anchor-width
    ); // TODO: COMUI-2993 Replace this token with menu-specific token

    height: var(
      --gse-ui-popover-anchor-height
    ); // TODO: COMUI-2993 Replace this token with menu-specific token

    /* 4px padding leaves some space for the shadow to bleed into */
    padding-bottom: 4px;
    overflow: hidden;
  }

  .gux-arrow-caret {
    width: 0;
    height: 0;
    filter: drop-shadow(
      var(--gse-ui-popover-boxShadow-x, var(--gse-ui-popover-boxShadow-offsetX))
        var(
          --gse-ui-popover-boxShadow-y,
          var(--gse-ui-popover-boxShadow-offsetY)
        )
        calc(var(--gse-ui-popover-boxShadow-blur) / 2)
        var(--gse-ui-tooltip-boxShadow-color)
    ); // TODO: COMUI-2993 Replace this token with menu-specific token

    border-top: calc(var(--gse-ui-popover-anchor-width) / 2) solid
      var(--gse-ui-popover-backgroundColor); // TODO: COMUI-2993 Replace this token with menu-specific token

    border-right: calc(var(--gse-ui-popover-anchor-width) / 2) solid transparent; // TODO: COMUI-2993 Replace this token with menu-specific token
    border-left: calc(var(--gse-ui-popover-anchor-width) / 2) solid transparent; // TODO: COMUI-2993 Replace this token with menu-specific token
  }
}
