@use '../../../style/focus.scss';
@use '../../../style/zindex.scss';

// Style
:host {
  z-index: var(--gux-zindex-popover, zindex.$gux-zindex-popover);
  color: var(--gse-ui-menu-option-label-foregroundColor);
  cursor: default;

  .gux-arrow {
    position: absolute;
    width: var(--gse-ui-popover-anchor-width);
    height: var(--gse-ui-popover-anchor-width);
    background: var(--gse-ui-popover-backgroundColor);
    border-top: var(--gse-ui-menu-border-width) var(--gse-ui-menu-border-style)
      var(--gse-ui-menu-border-color);
    border-right: var(--gse-ui-menu-border-width)
      var(--gse-ui-menu-border-style) var(--gse-ui-menu-border-color);
  }
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}

.gux-flyout-menu-content {
  position: fixed;
  border: var(--gse-ui-menu-border-width) var(--gse-ui-menu-border-style)
    var(--gse-ui-menu-border-color);
  display: none;

  &.gux-shown {
    display: flex;
  }
}
