@use '../../../style/focus.scss';
@use '../../../style/zindex.scss';

// Style
:host {
  z-index: var(--gux-zindex-popover, zindex.$gux-zindex-popover);
  color: var(--gse-ui-menu-option-label-foregroundColor);
  cursor: default;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}

.gux-flyout-menu-content {
  position: fixed;
  display: none;
  border: none;
  border-radius: var(--gse-ui-menu-borderRadius);

  &.gux-shown {
    display: flex;
  }

  .gux-arrow {
    position: absolute;
    z-index: -1;
    width: var(--gse-ui-popover-anchor-width);
    height: var(--gse-ui-popover-anchor-height);
    background: var(--gse-ui-popover-backgroundColor);
    border: none;
    box-shadow: var(--gse-ui-menu-boxShadow-x) var(--gse-ui-menu-boxShadow-y)
      var(--gse-ui-menu-boxShadow-blur) var(--gse-ui-menu-boxShadow-spread)
      var(--gse-ui-menu-boxShadow-color);
  }
}
