gux-pagination-item-counts-legacy {
  .gux-pagination-item-counts-container {
    display: flex;
    flex-direction: row;
    gap: var(--gse-ui-dataTableItems-tablePagination-countDisplay-gap);
    font-family: var(
      --gse-ui-dataTableItems-tablePagination-defaultText-fontFamily
    );
    font-size: var(
      --gse-ui-dataTableItems-tablePagination-defaultText-fontSize
    );
    font-weight: var(
      --gse-ui-dataTableItems-tablePagination-currentResultText-fontWeight
    );
    line-height: var(
      --gse-ui-dataTableItems-tablePagination-defaultText-lineHeight
    );
    color: var(--gse-ui-dataTableItems-tablePagination-foregroundColor);
    white-space: nowrap;
  }
}
