@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

:host {
  display: block;
  border-radius: ui.$gse-ui-button-borderRadius;
}

.gux-highlight {
  inline-size: ui.$gse-ui-rte-colorSwatch-width;
  block-size: ui.$gse-ui-rte-colorSwatch-height;
  border-radius: ui.$gse-ui-button-borderRadius;

  button {
    all: unset;
    inline-size: 100%;
    block-size: 100%;
    cursor: pointer;

    &:focus-visible {
      @include focus.gux-focus-ring-small;

      border-radius: global.$gse-semantic-focusOutline-sm-borderRadius;
    }
  }

  &.gux-orange {
    background-color: ui.$gse-ui-rte-colorSwatch-orange-default;
  }

  &.gux-coral {
    background-color: ui.$gse-ui-rte-colorSwatch-coral-default;
  }

  &.gux-pear {
    background-color: ui.$gse-ui-rte-colorSwatch-pear-default;
  }

  &.gux-raspberry {
    background-color: ui.$gse-ui-rte-colorSwatch-raspberry-default;
  }

  &.gux-mango {
    background-color: ui.$gse-ui-rte-colorSwatch-mango-default;
  }

  &.gux-blue {
    background-color: ui.$gse-ui-rte-colorSwatch-azure-default;
  }

  &.gux-mineral {
    background-color: ui.$gse-ui-rte-colorSwatch-mineral-default;
  }

  &.gux-island {
    background-color: ui.$gse-ui-rte-colorSwatch-island-default;
  }

  &.gux-inherit {
    color: inherit;
    background-color: inherit;
  }
}
