<gux-action-button text="Primary" accent="primary" is-open="true">
  <gux-action-item
    id="listItem1"
    text="test"
    value="test"
    onclick="alert('listItem1 clicked')"
  ></gux-action-item>
  <gux-action-item id="listItem2" text="test2" value="test2"></gux-action-item>
  <gux-action-item text="test3" value="test3" disabled="true"></gux-action-item>
  <gux-list-divider></gux-list-divider>
  <gux-action-item><span>I am a span</span></gux-action-item>
</gux-action-button>

<gux-action-button text="Secondary">
  <gux-action-item
    id="listItem1"
    text="test"
    value="test"
    onclick="alert('listItem1 clicked')"
  ></gux-action-item>
  <gux-action-item id="listItem2" text="test2" value="test2"></gux-action-item>
  <gux-action-item text="test3" value="test3" disabled="true"></gux-action-item>
  <gux-list-divider></gux-list-divider>
  <gux-action-item><span>I am a span</span></gux-action-item>
</gux-action-button>
