<h1>gux-action-button</h1>
<div id="example" class="layout">
  <div class="row">
    <div class="overlap">
      <h2>Primary</h2>
      <gux-action-button text="Primary" accent="primary" is-open="true">
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>

      <gux-action-button text="Primary" accent="primary">
        <gux-action-item text="test" disabled></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item disabled><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
    <div>
      <h2>Secondary</h2>
      <gux-action-button text="Secondary" accent="secondary">
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test 3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
    <div>
      <h2>Tertiary</h2>
      <gux-action-button text="Tertiary" accent="tertiary">
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test 3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
    <div>
      <h2>Disabled</h2>
      <gux-action-button class="disable-toggle" text="Disabled" disabled>
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
  </div>

  <div class="row">
    <div>
      <h2>Primary</h2>
      <gux-action-button text="Primary" accent="primary">
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
    <div>
      <h2>Secondary</h2>
      <gux-action-button text="Secondary" accent="secondary">
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test 3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
    <div>
      <h2>Tertiary</h2>
      <gux-action-button text="Tertiary" accent="tertiary">
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test 3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
    <div>
      <h2>Disabled</h2>
      <gux-action-button class="disable-toggle" text="Disabled" disabled>
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-action-list-divider></gux-action-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-action-button>
    </div>
  </div>

  <style
    onload="(function () {
    const example = document.getElementById('example');
    example.addEventListener('press', notify);

    const disableToggles = document.getElementsByClassName('disable-toggle');

    Array.from(disableToggles).forEach((disableToggle) => {
      setInterval(() => {
        disableToggle.disabled = !disableToggle.disabled;
      }, 5000);
    });
  })()"
  >
    .layout {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      justify-content: space-between;
      height: calc(100% - 64px);
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      justify-content: space-around;
      width: 100%;
    }

    .overlap gux-action-button {
      margin-bottom: 4px;
    }
  </style>
</div>
