@import (reference) '../../../style/color.less';

// Variables part

gux-action-button {
  display: inline-block;
  min-width: 128px;

  .gux-action-button-container {
    display: flex;
    position: relative;

    .gux-action-button {
      flex: 1;
      margin-right: 1px;

      button {
        max-width: none;
        text-align: center;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .gux-dropdown-button {
      button {
        width: 32px;
        min-width: 0;
        padding: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        gux-icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    .gux-dropdown-list {
      display: none;
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 32px;
    }

    &.gux-open {
      .gux-dropdown-list {
        display: block;
      }
    }
  }
}
