<h3>Enabled</h3>
<div>
  <div>
    <gux-context-search-beta><input type="text" /></gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta
      ><input type="text" placeholder="Search"
    /></gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta
      current-match="1"
      match-count="10"
      style="width: 200px"
    >
      <input
        type="text"
        placeholder="Search"
        value="Default Search Text"
        oninput="console.log(event.target.value);"
      />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="0" match-count="0">
      <input type="text" placeholder="Search" value="Default Search Text" />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="0" match-count="0">
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta
      current-match="1"
      match-count="1"
      style="width: 200px"
    >
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="1000" match-count="100000">
      <input type="text" placeholder="Search" value="Lorem ipsum dolor " />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="1000" match-count="100000">
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="1000" match-count="abc">
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="100000" match-count="100">
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-context-search-beta>
  </div>
</div>
<div>
  <div>
    <gux-context-search-beta
      current-match="0"
      match-count="0"
      disable-navigation="true"
    >
      <input type="text" placeholder="Search" value="Navigation Disabled" />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta
      current-match="0"
      match-count="1"
      disable-navigation="true"
    >
      <input type="text" placeholder="Search" value="Navigation Disabled" />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta
      current-match="1"
      match-count="10"
      disable-navigation="true"
    >
      <input type="text" placeholder="Search" value="Navigation Disabled" />
    </gux-context-search-beta>
  </div>
</div>
<h3>Disabled</h3>
<div>
  <div>
    <gux-context-search-beta current-match="10" match-count="10">
      <input
        type="text"
        disabled="true"
        placeholder="Search"
        value="Search Disabled"
      />
    </gux-context-search-beta>
  </div>
  <div>
    <gux-context-search-beta current-match="1100" match-count="100000001">
      <input
        type="text"
        disabled="true"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-context-search-beta>
  </div>
</div>
<div>
  <gux-context-search-beta
    current-match="1"
    match-count="1000000"
    disable-navigation="true"
  >
    <input
      type="text"
      disabled="true"
      placeholder="Search"
      value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
    />
  </gux-context-search-beta>
</div>
