@import (reference) '../../../../style/color.less';
@import (reference) '../../../../style/mixins.less';

:host {
  width: 100%;
  outline: none;
}

:host([disabled]) {
  pointer-events: none;
}

:host([disabled='false']) {
  pointer-events: auto;
}

::slotted(gux-icon) {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

button {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  padding: 8px 16px;
  color: #2e394c;
  word-wrap: break-word;
  cursor: pointer;
  border: none;
  outline: none;

  &:focus-visible:not(:disabled) {
    color: @gux-grey-100;
    background: #2a60c8;
  }

  &:hover:not(:disabled) {
    color: @gux-grey-100;
    background: #2754ac;
  }

  &:active:not(:disabled) {
    color: @gux-grey-100;
    background: #23478f;
  }

  &:disabled {
    color: fade(#2e394c, 50%);
    cursor: default;
  }
}
