:host {
  display: block;
}

.gux-cta-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-ctaGroup-gap);
  justify-content: start;

  &.gux-end-align {
    flex-direction: row-reverse;
    justify-content: end;
  }

  ::slotted(gux-button) {
    flex: 0 1 auto;
    min-inline-size: 0;
  }
}
