@import (reference) '../../../style/color.less';

.has-defaults {
  gux-option {
    padding-left: 20px;
  }
}

gux-dropdown {
  .zone-header {
    padding: 6px 12px;
    color: @gux-black-100;
    text-transform: uppercase;
  }

  .tz-utc {
    color: @gux-black-90;
  }

  gux-option {
    &.gux-active,
    &.gux-hovered:not(:disabled) {
      .tz-utc {
        color: @gux-grey-60;
      }
    }
  }
}
