gux-dropdown {
  .zone-header {
    padding: 8px 12px 4px; //TODO: COMUI-2478 token needed for padding
    color: #6b7585; //TODO: COMUI-2478 need tp clarify token for zone header.
    text-transform: uppercase;
  }

  gux-option {
    padding: 0px 12px; //TODO COMUI-2478  cannot use dropdown tokens here as the gux-option requires a padding of 8px 12px in gux-dropdown whereas in timezone its 0px 12px.
  }
}
