gux-dropdown {
  .zone-header {
    padding-block: 8px 4px;
    padding-inline: 12px; //TODO: COMUI-2478 token needed for padding
    color: #6b7585; //TODO: COMUI-2478 need tp clarify token for zone header.
    text-transform: uppercase;
  }

  gux-option {
    padding: var(--gse-ui-menu-option-padding);

    &.gux-has-defaults {
      block-size: auto;
    }

    .gux-option-wrapper {
      display: flex;
      flex-direction: column;
    }

    .gux-default-zone {
      color: #626e84; // COMUI-2478 need to clarify token.
    }
  }
}
