// This file is needed because of a safari
//  - https://bugs.webkit.org/show_bug.cgi?id=223814
//  - https://bugs.webkit.org/show_bug.cgi?id=178237#attach_442680

@use '~genesys-spark/dist/scss/radio-icons.scss';

gux-form-field-radio {
  input[type='radio']::before {
    grid-area: 1/1;
    content: '';
    border-radius: 50%;
  }

  input[type='radio']:focus-visible::before {
    outline: var(--gse-ui-radioButton-focus-border-width)
      var(--gse-ui-radioButton-focus-border-style)
      var(--gse-ui-radioButton-focus-border-color);
    outline-offset: 1px;
    border-radius: var(--gse-ui-radioButton-focus-borderRadius);
  }

  input[type='radio']:not(:checked)::before {
    @include radio-icons.unchecked;

    background: var(
      --gse-ui-radioButton-icon-default-unselectedForegroundColor
    );
  }

  input[type='radio']:not(:checked):not(:disabled):hover::before {
    @include radio-icons.unchecked-hover;

    background: var(--gse-ui-radioButton-icon-hover-foregroundColor);
  }

  input[type='radio']:checked:not(:disabled):hover::before {
    @include radio-icons.checked-hover;

    background: var(--gse-ui-radioButton-icon-hover-foregroundColor);
  }

  input[type='radio']:checked::before {
    @include radio-icons.checked;

    background: var(--gse-ui-radioButton-icon-default-selectedForegroundColor);
  }

  input[type='radio']:disabled::before {
    cursor: not-allowed;
    opacity: var(--gse-ui-radioButton-disabled-opacity);
  }

  &.gux-input-error {
    input[type='radio']:not(:checked)::before {
      @include radio-icons.unchecked-error;

      background: var(--gse-ui-radioButton-icon-error-foregroundColor);
    }

    input[type='radio']:checked::before {
      @include radio-icons.checked-error;

      background: var(--gse-ui-radioButton-icon-error-foregroundColor);
    }
  }
}
