// This file is needed because of a safari
//  - https://bugs.webkit.org/show_bug.cgi?id=223814
//  - https://bugs.webkit.org/show_bug.cgi?id=178237#attach_442680

@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/radio-icons.scss';

gux-form-field-radio {
  input[type='radio']::before {
    grid-area: 1/1;
    content: '';
    border-radius: 50%;
  }

  input[type='radio']:focus-visible::before {
    outline: ui.$gse-ui-radioButton-focus-border-width
      ui.$gse-ui-radioButton-focus-border-style
      ui.$gse-ui-radioButton-focus-border-color;
    outline-offset: 1px;
    border-radius: ui.$gse-ui-radioButton-focus-borderRadius;
  }

  input[type='radio']:not(:checked)::before {
    @include radio-icons.unchecked;

    background: ui.$gse-ui-radioButton-icon-default-unselectedForegroundColor;
  }

  input[type='radio']:not(:checked):not(:disabled):hover::before {
    @include radio-icons.unchecked-hover;

    background: ui.$gse-ui-radioButton-icon-hover-foregroundColor;
  }

  input[type='radio']:checked:not(:disabled):hover::before {
    @include radio-icons.checked-hover;

    background: ui.$gse-ui-radioButton-icon-hover-foregroundColor;
  }

  input[type='radio']:checked::before {
    @include radio-icons.checked;

    background: ui.$gse-ui-radioButton-icon-default-selectedForegroundColor;
  }

  input[type='radio']:disabled::before {
    cursor: not-allowed;
    opacity: ui.$gse-ui-radioButton-disabled-opacity;
  }

  &.gux-input-error {
    input[type='radio']:not(:checked)::before {
      @include radio-icons.unchecked-error;

      background: ui.$gse-ui-radioButton-icon-error-foregroundColor;
    }

    input[type='radio']:checked::before {
      @include radio-icons.checked-error;

      background: ui.$gse-ui-radioButton-icon-error-foregroundColor;
    }
  }
}
