/*
@prop --gse-ui-radioButton-icon-default-unselectedForegroundColor
@prop --gse-ui-radioButton-icon-default-selectedForegroundColor
@prop --gse-ui-radioButton-icon-hover-foregroundColor
@prop --gse-ui-radioButton-icon-active-foregroundColor
@prop --gse-ui-radioButton-icon-error-foregroundColor
@prop --gse-ui-radioButton-icon-height
@prop --gse-ui-radioButton-icon-width
@prop --gse-ui-radioButton-label-foregroundColor
@prop --gse-ui-radioButton-label-text-fontFamily
@prop --gse-ui-radioButton-label-text-fontWeight
@prop --gse-ui-radioButton-label-text-lineHeight
@prop --gse-ui-radioButton-gap
@prop --gse-ui-radioButton-helper-padding
@prop --gse-ui-radioButton-helper-gap
@prop --gse-ui-radioButton-disabled-opacity
@prop --gse-ui-radioButton-focus-border-color
@prop --gse-ui-radioButton-focus-border-width
@prop --gse-ui-radioButton-focus-border-style
@prop --gse-ui-radioButton-focus-borderRadius
@prop --gse-ui-radioButton-focus-offset
*/
@use './gux-form-field-radio-icons.scss';

@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-error.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

:host(.gux-disabled) {
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);

  ::slotted(label) {
    cursor: not-allowed;
  }
}

:host(.gux-input-error) {
  input[type='radio']:checked::before {
    @include gux-form-field-radio-icons.checked-error;
  }

  ::slotted(input[type='radio']:not(:checked))::before {
    @include gux-form-field-radio-icons.unchecked-error;
  }

  .gux-form-field-error {
    font-family: var(--gse-ui-formControl-helper-helperText-fontFamily);
    color: var(--gse-ui-radioButton-icon-error-foregroundColor);
  }
}

.gux-input-label {
  display: flex;
  flex-direction: row;
  padding-top: 4px;

  .gux-label {
    display: flex;
    flex-direction: column;
    line-height: var(--gse-ui-radioButton-label-text-lineHeight);
  }
}

::slotted(input[type='radio']) {
  display: inline-grid;
  width: var(--gse-ui-radioButton-icon-width);
  height: var(--gse-ui-radioButton-icon-height);
  margin: 1px var(--gse-ui-radioButton-helper-gap) 0 0;
  color: var(--gse-ui-radioButton-icon-default-unselectedForegroundColor);
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  outline: none;
}

::slotted(input[type='radio'])::before {
  grid-area: 1/1;
  content: '';
  border-radius: 50%;
}

::slotted(input[type='radio']:focus-visible) {
  border-radius: var(--gse-ui-radioButton-focus-borderRadius);
  outline: var(--gse-ui-radioButton-focus-border-width)
    var(--gse-ui-radioButton-focus-border-style)
    var(--gse-ui-radioButton-focus-border-color);
  outline-offset: 1px;
}

::slotted(input[type='radio']:not(:checked))::before {
  @include gux-form-field-radio-icons.unchecked;
}

::slotted(input[type='radio']:not(:checked):not(:disabled):hover)::before {
  @include gux-form-field-radio-icons.unchecked-hover;
}

::slotted(input[type='radio']:checked:not(:disabled):hover)::before {
  @include gux-form-field-radio-icons.checked-hover;
}

::slotted(input[type='radio']:checked)::before {
  @include gux-form-field-radio-icons.checked;
}

::slotted(input[type='radio']:disabled)::before {
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);
}

::slotted(label) {
  display: inline-block;
  font-family: var(--gse-ui-radioButton-label-text-fontFamily);
  font-size: var(--gse-ui-formControl-label-text-fontSize);
  font-weight: var(--gse-ui-radioButton-label-text-fontWeight);
  line-height: var(--gse-ui-radioButton-label-text-lineHeight);
  color: var(--gse-ui-radioButton-label-foregroundColor);
  vertical-align: middle;
}
