// This file is needed because of a safari
//  - https://bugs.webkit.org/show_bug.cgi?id=223814
//  - https://bugs.webkit.org/show_bug.cgi?id=178237#attach_442680

@import (reference) '../../../../../style/color-palette.less';
@import (reference) '../../../../../style/mixins.less';

@gux-icon-radio-unchecked: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16ZM8 1.92C4.6464 1.92 1.92 4.6464 1.92 8C1.92 11.3536 4.6464 14.08 8 14.08C11.3536 14.08 14.08 11.3536 14.08 8C14.08 4.6464 11.3536 1.92 8 1.92Z' fill='%2377828f'/%3E%3C/svg%3E");
@gux-icon-radio-unchecked-hover: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16ZM8 1.92C4.6464 1.92 1.92 4.6464 1.92 8C1.92 11.3536 4.6464 14.08 8 14.08C11.3536 14.08 14.08 11.3536 14.08 8C14.08 4.6464 11.3536 1.92 8 1.92Z' fill='%232a60c8'/%3E%3C/svg%3E");
@gux-icon-radio-checked: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16ZM8 1.92C4.6464 1.92 1.92 4.6464 1.92 8C1.92 11.3536 4.6464 14.08 8 14.08C11.3536 14.08 14.08 11.3536 14.08 8C14.08 4.6464 11.3536 1.92 8 1.92Z' fill='%232a60c8'/%3E%3Cpath d='M8 11.84C10.1208 11.84 11.84 10.1208 11.84 8C11.84 5.87923 10.1208 4.16 8 4.16C5.87923 4.16 4.16 5.87923 4.16 8C4.16 10.1208 5.87923 11.84 8 11.84Z' fill='%232a60c8'/%3E%3C/svg%3E");

gux-form-field-radio {
  input[type='radio']::before {
    grid-area: 1/1;
    content: '';
    border-radius: 50%;
  }

  input[type='radio']:focus-visible::before {
    .focus-ring();
  }

  input[type='radio']:not(:checked)::before {
    background-image: @gux-icon-radio-unchecked;
  }

  input[type='radio']:not(:checked):not(:disabled):hover::before {
    background-image: @gux-icon-radio-unchecked-hover;
  }

  input[type='radio']:checked::before {
    background-image: @gux-icon-radio-checked;
  }

  input[type='radio']:disabled::before {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
