// This file is needed because of a safari
//  - https://bugs.webkit.org/show_bug.cgi?id=223814
//  - https://bugs.webkit.org/show_bug.cgi?id=178237#attach_442680

@use './gux-form-field-radio-icons.scss';

gux-form-field-radio {
  input[type='radio']::before {
    grid-area: 1/1;
    content: '';
    border-radius: 50%;
  }

  input[type='radio']:focus-visible::before {
    border-radius: var(--gse-ui-radioButton-focus-borderRadius);
    outline: var(--gse-ui-radioButton-focus-border-width)
      var(--gse-ui-radioButton-focus-border-style)
      var(--gse-ui-radioButton-focus-border-color);
    outline-offset: 1px;
  }

  input[type='radio']:not(:checked)::before {
    @include gux-form-field-radio-icons.unchecked;
  }

  input[type='radio']:not(:checked):not(:disabled):hover::before {
    @include gux-form-field-radio-icons.unchecked-hover;
  }

  input[type='radio']:checked:not(:disabled):hover::before {
    @include gux-form-field-radio-icons.checked-hover;
  }

  input[type='radio']:checked::before {
    @include gux-form-field-radio-icons.checked;
  }

  input[type='radio']:disabled::before {
    cursor: not-allowed;
    opacity: var(--gse-ui-radioButton-disabled-opacity);
  }

  &.gux-input-error {
    input[type='radio']:not(:checked)::before {
      @include gux-form-field-radio-icons.unchecked-error;
    }

    input[type='radio']:checked::before {
      @include gux-form-field-radio-icons.checked-error;
    }
  }
}
