@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/scss/radio-icons.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-error.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
  padding-block-start: 4px;
}

:host(.gux-disabled) {
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);

  ::slotted(label) {
    cursor: not-allowed;
  }
}

:host(.gux-input-error) {
  input[type='radio']:checked::before {
    @include radio-icons.checked-error;

    background: var(--gse-ui-radioButton-icon-error-foregroundColor);
  }

  ::slotted(input[type='radio']:not(:checked))::before {
    @include radio-icons.unchecked-error;

    background: var(--gse-ui-radioButton-icon-error-foregroundColor);
  }

  .gux-form-field-error {
    font-family: var(--gse-ui-formControl-helper-helperText-fontFamily);
    color: var(--gse-ui-radioButton-icon-error-foregroundColor);
  }
}

.gux-input-label {
  display: flex;
  flex-direction: row;
  gap: var(--gse-ui-radioButton-helper-gap);

  .gux-label {
    display: flex;
    flex-direction: column;
    line-height: var(--gse-ui-radioButton-label-text-lineHeight);
  }

  .gux-input {
    line-height: 16px;
  }
}

::slotted(input[type='radio']) {
  display: inline-grid;
  inline-size: var(--gse-ui-radioButton-icon-width);
  block-size: var(--gse-ui-radioButton-icon-height);
  margin: 0;
  vertical-align: middle;
  color: var(--gse-ui-radioButton-icon-default-unselectedForegroundColor);
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: 0;
}

::slotted(input[type='radio'])::before {
  grid-area: 1/1;
  content: '';
  border-radius: 50%;
}

::slotted(input[type='radio']:focus-visible) {
  outline: var(--gse-ui-radioButton-focus-border-width)
    var(--gse-ui-radioButton-focus-border-style)
    var(--gse-ui-radioButton-focus-border-color);
  outline-offset: global.$gse-semantic-focusOutline-offset;
  border-radius: var(--gse-ui-radioButton-focus-borderRadius);
}

::slotted(input[type='radio']:not(:checked))::before {
  @include radio-icons.unchecked;

  background: var(--gse-ui-radioButton-icon-default-unselectedForegroundColor);
}

::slotted(input[type='radio']:not(:checked):not(:disabled):hover)::before {
  @include radio-icons.unchecked-hover;

  background: var(--gse-ui-radioButton-icon-hover-foregroundColor);
}

::slotted(input[type='radio']:checked:not(:disabled):hover)::before {
  @include radio-icons.checked-hover;

  background: var(--gse-ui-radioButton-icon-hover-foregroundColor);
}

::slotted(input[type='radio']:checked)::before {
  @include radio-icons.checked;

  background: var(--gse-ui-radioButton-icon-default-selectedForegroundColor);
}

::slotted(input[type='radio']:disabled)::before {
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);
}

::slotted(label) {
  display: inline-block;
  font-family: var(--gse-ui-radioButton-label-text-fontFamily);
  font-size: var(--gse-ui-formControl-label-text-fontSize);
  font-weight: var(--gse-ui-radioButton-label-text-fontWeight);
  line-height: var(--gse-ui-radioButton-label-text-lineHeight);
  vertical-align: middle;
  color: var(--gse-ui-radioButton-label-foregroundColor);
}
