/*
@prop --gse-ui-radioButton-icon-default-unselectedForegroundColor
@prop --gse-ui-radioButton-icon-default-selectedForegroundColor
@prop --gse-ui-radioButton-icon-hover-foregroundColor
@prop --gse-ui-radioButton-icon-active-foregroundColor
@prop --gse-ui-radioButton-icon-error-foregroundColor
@prop --gse-ui-radioButton-icon-height
@prop --gse-ui-radioButton-icon-width
@prop --gse-ui-radioButton-label-foregroundColor
@prop --gse-ui-radioButton-label-text-fontFamily
@prop --gse-ui-radioButton-label-text-fontWeight
@prop --gse-ui-radioButton-label-text-lineHeight
@prop --gse-ui-radioButton-gap
@prop --gse-ui-radioButton-helper-padding
@prop --gse-ui-radioButton-helper-gap
@prop --gse-ui-radioButton-disabled-opacity
@prop --gse-ui-radioButton-focus-border-color
@prop --gse-ui-radioButton-focus-border-width
@prop --gse-ui-radioButton-focus-border-style
@prop --gse-ui-radioButton-focus-borderRadius
@prop --gse-ui-radioButton-focus-offset
*/

@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-error.GuxFormFieldErrorStyle;
@include gux-form-field-help.GuxFormFieldHelpStyle;

$gux-icon-radio-unchecked: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 8C16 12.4187 12.4187 16 8 16C3.58125 16 0 12.4187 0 8C0 3.58125 3.58125 0 8 0C12.4187 0 16 3.58125 16 8ZM8 1.5C4.40937 1.5 1.5 4.40937 1.5 8C1.5 11.5906 4.40937 14.5 8 14.5C11.5906 14.5 14.5 11.5906 14.5 8C14.5 4.40937 11.5906 1.5 8 1.5Z' fill-rule='evenodd' clip-rule='evenodd' fill='%23767C8D'/%3E%3C/svg%3E";
$gux-icon-radio-unchecked-hover: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 8C16 12.4187 12.4187 16 8 16C3.58125 16 0 12.4187 0 8C0 3.58125 3.58125 0 8 0C12.4187 0 16 3.58125 16 8ZM8 1.5C4.40937 1.5 1.5 4.40937 1.5 8C1.5 11.5906 4.40937 14.5 8 14.5C11.5906 14.5 14.5 11.5906 14.5 8C14.5 4.40937 11.5906 1.5 8 1.5Z' fill-rule='evenodd' clip-rule='evenodd' fill='%233742A2'/%3E%3C/svg%3E";
$gux-icon-radio-checked-hover: "data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8C5 6.31563 6.31563 5 8 5C9.65625 5 11 6.31563 11 8C11 9.65625 9.65625 11 8 11C6.31563 11 5 9.65625 5 8ZM16 8C16 12.4187 12.4187 16 8 16C3.58125 16 0 12.4187 0 8C0 3.58125 3.58125 0 8 0C12.4187 0 16 3.58125 16 8ZM8 1.5C4.40938 1.5 1.5 4.40938 1.5 8C1.5 11.5906 4.40938 14.5 8 14.5C11.5906 14.5 14.5 11.5906 14.5 8C14.5 4.40938 11.5906 1.5 8 1.5Z' fill='%233742A2'/%3E%3C/svg%3E";
$gux-icon-radio-checked: "data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8C5 6.31563 6.31563 5 8 5C9.65625 5 11 6.31563 11 8C11 9.65625 9.65625 11 8 11C6.31563 11 5 9.65625 5 8ZM16 8C16 12.4187 12.4187 16 8 16C3.58125 16 0 12.4187 0 8C0 3.58125 3.58125 0 8 0C12.4187 0 16 3.58125 16 8ZM8 1.5C4.40938 1.5 1.5 4.40938 1.5 8C1.5 11.5906 4.40938 14.5 8 14.5C11.5906 14.5 14.5 11.5906 14.5 8C14.5 4.40938 11.5906 1.5 8 1.5Z' fill='%234856CB'/%3E%3C/svg%3E";
$gux-icon-radio-unchecked-error: "data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8C16 12.4187 12.4187 16 8 16C3.58125 16 0 12.4187 0 8C0 3.58125 3.58125 0 8 0C12.4187 0 16 3.58125 16 8ZM8 1.5C4.40937 1.5 1.5 4.40937 1.5 8C1.5 11.5906 4.40937 14.5 8 14.5C11.5906 14.5 14.5 11.5906 14.5 8C14.5 4.40937 11.5906 1.5 8 1.5Z' fill='%23E22245'/%3E%3C/svg%3E";
$gux-icon-radio-checked-error: "data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8C5 6.31563 6.31563 5 8 5C9.65625 5 11 6.31563 11 8C11 9.65625 9.65625 11 8 11C6.31563 11 5 9.65625 5 8ZM16 8C16 12.4187 12.4187 16 8 16C3.58125 16 0 12.4187 0 8C0 3.58125 3.58125 0 8 0C12.4187 0 16 3.58125 16 8ZM8 1.5C4.40938 1.5 1.5 4.40938 1.5 8C1.5 11.5906 4.40938 14.5 8 14.5C11.5906 14.5 14.5 11.5906 14.5 8C14.5 4.40938 11.5906 1.5 8 1.5Z' fill='%23E22245'/%3E%3C/svg%3E";

:host {
  display: block;
}

:host(.gux-disabled) {
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);

  ::slotted(label) {
    cursor: not-allowed;
  }
}

:host(.gux-input-error) {
  ::slotted(input[type='radio']:not(:checked))::before {
    background-image: url($gux-icon-radio-unchecked-error);
  }

  ::slotted(input[type='radio']:checked)::before {
    background-image: url($gux-icon-radio-checked-error);
  }

  .gux-form-field-error {
    font-family: var(--gse-ui-formControl-helper-helperText-fontFamily);
    color: var(--gse-ui-radioButton-icon-error-foregroundColor);
  }
}

.gux-input-label {
  display: flex;
  flex-direction: row;
  padding-top: 4px;

  .gux-label {
    display: flex;
    flex-direction: column;
    line-height: var(--gse-ui-radioButton-label-text-lineHeight);
  }
}

::slotted(input[type='radio']) {
  display: inline-grid;
  width: var(--gse-ui-radioButton-icon-width);
  height: var(--gse-ui-radioButton-icon-height);
  margin: 1px var(--gse-ui-radioButton-helper-gap) 0 0;
  color: var(--gse-ui-radioButton-icon-default-unselectedForegroundColor);
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  outline: none;
}

::slotted(input[type='radio'])::before {
  grid-area: 1/1;
  content: '';
  border-radius: 50%;
}

::slotted(input[type='radio']:focus-visible) {
  border-radius: var(--gse-ui-radioButton-focus-borderRadius);
  outline: var(--gse-ui-radioButton-focus-border-width)
    var(--gse-ui-radioButton-focus-border-style)
    var(--gse-ui-radioButton-focus-border-color);
  outline-offset: 1px;
}

::slotted(input[type='radio']:not(:checked))::before {
  background-image: $gux-icon-radio-unchecked;
}

::slotted(input[type='radio']:not(:checked):not(:disabled):hover)::before {
  background-image: $gux-icon-radio-unchecked-hover;
}

::slotted(input[type='radio']:checked:not(:disabled):hover)::before {
  background-image: $gux-icon-radio-checked-hover;
}

::slotted(input[type='radio']:checked)::before {
  background-image: $gux-icon-radio-checked;
}

::slotted(input[type='radio']:disabled)::before {
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);
}

::slotted(label) {
  display: inline-block;
  font-family: var(--gse-ui-radioButton-label-text-fontFamily);
  font-size: var(--gse-ui-formControl-label-text-fontSize);
  font-weight: var(--gse-ui-radioButton-label-text-fontWeight);
  line-height: var(--gse-ui-radioButton-label-text-lineHeight);
  color: var(--gse-ui-radioButton-label-foregroundColor);
  vertical-align: middle;
}
