@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

// Style
:host {
  display: inline-block;
}

.gux-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch flex-start;
  align-items: center;
  block-size: ui.$gse-ui-tag-small-height;
  padding: ui.$gse-ui-tag-removable-padding;
  font-family: ui.$gse-ui-tag-textLarge-fontFamily;
  font-size: ui.$gse-ui-tag-textLarge-fontSize;
  font-weight: ui.$gse-ui-tag-textLarge-fontWeight;
  line-height: ui.$gse-ui-tag-textLarge-lineHeight;
  color: ui.$gse-ui-tag-accent1-bold-foregroundColor;
  background-color: ui.$gse-ui-tag-accent1-bold-backgroundColor;
  border-radius: ui.$gse-ui-tag-borderRadius;

  .gux-sr-only {
    @include mixins.gux-sr-only-clip;
  }

  .gux-tag-remove-button {
    all: unset;
    display: flex;
    place-content: center center;
    align-items: center;
    margin-inline-start: ui.$gse-ui-tag-removable-gap;

    &:not(:disabled):hover {
      cursor: pointer;
    }

    &:focus-within {
      .gux-tag-remove-icon {
        @include focus.gux-focus-ring-small;
      }
    }
  }

  &.gux-disabled {
    opacity: ui.$gse-ui-tag-disabled-opacity;
  }
}
