@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  flex: 0 0 auto;
  gap: ui.$gse-ui-sidePanel-header-iconGap;
  align-items: center;
  inline-size: 100%;
  padding: 0;
  margin: 0;
  font-family: ui.$gse-ui-sidePanel-heading-text-fontFamily;
  font-size: ui.$gse-ui-sidePanel-heading-text-fontSize;
  font-weight: ui.$gse-ui-sidePanel-heading-text-fontWeight;
  line-height: ui.$gse-ui-sidePanel-heading-text-lineHeight;
  color: ui.$gse-ui-sidePanel-headerColor;
}
