@use '../../../style/mixins';

/**
  * @prop --gse-ui-dataTableItems-editColumn-editColumnContent-gap
  * @prop --gse-ui-dataTableItems-editColumn-editColumnContent-padding
  */

.gux-container {
  width: 320px; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  min-width: 320px; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  padding: var(--gse-ui-dataTableItems-editColumn-editColumnContent-padding);

  .gux-search {
    gux-content-search {
      width: 100%;

      // Hide native input search clear button
      input[type='search']::-webkit-search-decoration,
      input[type='search']::-webkit-search-cancel-button,
      input[type='search']::-webkit-search-results-button,
      input[type='search']::-webkit-search-results-decoration {
        display: none;
        -webkit-appearance: none;
      }
    }
  }

  .gux-select {
    padding: var(--gse-ui-dataTableItems-editColumn-editColumnContent-padding);
    margin-left: (
      16px + 8px
    ); //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only-clip;
}
