@import (reference) '../../../style/color.less';
@import (reference) '../../../style/shadows.less';

gux-simple-toast {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  width: 286px;
  padding: 8px 16px;
  margin-bottom: 4px;
  border: 1px solid;
  border-radius: 4px;
  .gux-shadow-20();

  .gux-icon {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    margin: 6px 0;

    &.gux-alert {
      color: @gux-alert;
    }

    &.gux-warning {
      color: @gux-warning;
    }

    &.gux-positive {
      color: @gux-positive;
    }

    &.gux-neutral {
      color: @gux-neutral;
    }

    gux-icon {
      width: 12px;
      height: 12px;
    }
  }

  .gux-message {
    flex: 1 1 auto;
    align-self: auto;
    order: 0;
    max-height: 48px;
    margin: 0 12px 0 8px;
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
  }
}

// Theming
// Light
.gux-simple-toast-light-theme {
  color: @gux-type;
  background: @gux-grey-90;
  border-color: @gux-grey-30;

  .gux-icon {
    &.gux-alert {
      color: @gux-alert;
    }

    &.gux-warning {
      color: @gux-warning;
    }

    &.gux-positive {
      color: @gux-positive;
    }

    &.gux-neutral {
      color: @gux-neutral;
    }
  }

  .gux-dismiss-button {
    color: @gux-type;
  }
}

// Default Theme
gux-simple-toast {
  .gux-simple-toast-light-theme();
}

// Light Theme
.gux-light-theme {
  gux-simple-toast {
    .gux-simple-toast-light-theme();
  }
}

gux-simple-toast.gux-light-theme {
  .gux-simple-toast-light-theme();
}
