@import (reference) '../../../style/color.less';
@import (reference) '../../../style/shadows.less';

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  width: 286px;
  padding: 8px 16px;
  margin-bottom: 4px;
  color: @gux-type;
  background: @gux-grey-90;
  border: 1px solid;
  border-color: @gux-grey-30;
  border-radius: 4px;
  .gux-shadow-20();
}

.gux-icon {
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
  margin: 6px 0;

  &.gux-alert {
    color: @gux-alert;
  }

  &.gux-warning {
    color: @gux-warning;
  }

  &.gux-positive {
    color: @gux-positive;
  }

  &.gux-neutral {
    color: @gux-neutral;
  }

  gux-icon {
    width: 12px;
    height: 12px;
  }
}

.gux-message {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
  margin: 0 12px 0 8px;
}
