<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Vue Tester App</title>

    <link
      href="https://dhqbrvplips7x.cloudfront.net/common-ui-docs/genesys-webcomponents/3.59.0-715/genesys-webcomponents/genesys-webcomponents.css"
      rel="stylesheet"
    />

    <script
      type="module"
      src="https://dhqbrvplips7x.cloudfront.net/common-ui-docs/genesys-webcomponents/3.59.0-715/genesys-webcomponents/genesys-webcomponents.esm.js"
    ></script>

    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <h1>Vue@3</h1>
    <div id="app">
      <gux-form-field-text-like>
        <input
          slot="input"
          name="errorInput"
          type="text"
          placeholder="Enter text"
        />
        <label slot="label">Input</label>
        <span v-if="hasError" slot="error">Field is required</span>
      </gux-form-field-text-like>

      <gux-form-field-dropdown>
        <gux-dropdown>
          <gux-listbox>
            <gux-option value="a" disabled>Ant</gux-option>
            <gux-option value="b">Bat</gux-option>
            <gux-option value="c">Cat</gux-option>
          </gux-listbox>
        </gux-dropdown>
        <label slot="label">Default</label>
        <span slot="error" v-if="hasError">Field is required</span>
      </gux-form-field-dropdown>

      <gux-button v-on:click="toggleHasError">Toggle Has Error</gux-button>
    </div>

    <script>
      var app = Vue.createApp({
        data() {
          return {
            hasError: false
          };
        },
        methods: {
          toggleHasError: function () {
            this.hasError = !this.hasError;
          }
        }
      });

      app.config.compilerOptions.isCustomElement = tag =>
        tag.startsWith('gux-');

      app.mount('#app');
    </script>
  </body>
</html>
