<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Vue Tester App</title>

    <!-- <link
      href="https://dhqbrvplips7x.cloudfront.net/common-ui-docs/genesys-webcomponents/3.59.0-715/genesys-webcomponents/genesys-webcomponents.css"
      rel="stylesheet"
    />

    <script
      type="module"
      src="https://dhqbrvplips7x.cloudfront.net/common-ui-docs/genesys-webcomponents/3.59.0-715/genesys-webcomponents/genesys-webcomponents.esm.js"
    ></script> -->
    <link
      href="http://localhost:8080/genesys-webcomponents/genesys-webcomponents.css"
      rel="stylesheet"
    />

    <script
      type="module"
      src="http://localhost:8080/genesys-webcomponents/genesys-webcomponents.esm.js"
    ></script>
    <script src="https://unpkg.com/vue@^3.4.0"></script>
  </head>

  <body>
    <h1>Vue@3</h1>
    <div id="app">
      <gux-form-field-text-like>
        <input
          slot="input"
          name="errorInput"
          type="text"
          placeholder="Enter text"
        />
        <label slot="label">Input</label>
        <span v-if="hasError" slot="error">Field is required</span>
      </gux-form-field-text-like>

      <gux-form-field-dropdown>
        <gux-dropdown>
          <gux-listbox>
            <gux-option value="a" disabled>Ant</gux-option>
            <gux-option value="b">Bat</gux-option>
            <gux-option value="c">Cat</gux-option>
          </gux-listbox>
        </gux-dropdown>
        <label slot="label">Default</label>
        <span slot="error" v-if="hasError">Field is required</span>
      </gux-form-field-dropdown>

      <gux-button v-on:click="toggleHasError">Toggle Has Error</gux-button>

      <h3>table example</h3>

      <h2>Object table with rows selection and disabled rows</h2>
      <gux-table-beta object-table selectable-rows>
        <table slot="data">
          <thead>
            <tr data-row-id="head">
              <th><gux-all-row-select></gux-all-row-select></th>
              <th data-column-name="first-name">First name</th>
              <th data-column-name="last-name">Last name</th>
              <th data-column-name="age" data-cell-numeric>Age</th>
              <th data-column-name="action" data-cell-action>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr data-row-id="person-id-1">
              <td><gux-row-select disabled="true"></gux-row-select></td>
              <td>John</td>
              <td>Doe</td>
              <td data-cell-numeric>25</td>
              <td data-cell-action>Delete</td>
            </tr>
            <tr data-row-id="person-id-2">
              <td><gux-row-select disabled="false"></gux-row-select></td>
              <td>Jane</td>
              <td>Doe</td>
              <td data-cell-numeric>23</td>
              <td data-cell-action>Delete</td>
            </tr>
            <tr data-row-id="person-id-3">
              <td><gux-row-select :disabled="!!hasError"></gux-row-select></td>
              <td>Toggle Has Error</td>
              <td>To Disable</td>
              <td data-cell-numeric>21</td>
              <td data-cell-action>Delete</td>
            </tr>
            <tr data-row-id="person-id-4">
              <td><gux-row-select></gux-row-select></td>
              <td>Jane</td>
              <td>Doe</td>
              <td data-cell-numeric>23</td>
              <td data-cell-action>Delete</td>
            </tr>
          </tbody>
        </table>
      </gux-table-beta>
    </div>

    <script>
      var app = Vue.createApp({
        data() {
          return {
            hasError: false
          };
        },
        methods: {
          toggleHasError: function () {
            this.hasError = !this.hasError;
          }
        }
      });

      app.config.compilerOptions.isCustomElement = tag =>
        tag.startsWith('gux-');

      app.mount('#app');
    </script>
  </body>
</html>
