<h1>gux-date-beta</h1>

<h2>Dates</h2>

<h3>Short</h3>
<gux-date-beta id="date-1" format="short"></gux-date-beta>

<h3>Medium</h3>
<gux-date-beta id="date-2" format="medium"></gux-date-beta>

<h3>Long</h3>
<gux-date-beta id="date-3" format="long"></gux-date-beta>

<h3>Full</h3>
<gux-date-beta id="date-4" format="full"></gux-date-beta>

<style
  onload="(function() {
    const date1 = document.querySelector('#date-1');
    const date2 = document.querySelector('#date-2');
    const date3 = document.querySelector('#date-3');
    const date4 = document.querySelector('#date-4');

    const date = new Date();

    date1.date = date;
    date2.date = date;
    date3.date = date;
    date4.date = date;
  })()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
