<h1>gux-inline-alert-beta</h1>

<h2>Inline Alert Examples</h2>
<div class="alerts">
  <gux-inline-alert-beta accent="info"
    ><strong>Note:</strong> This is an information alert.</gux-inline-alert-beta
  >
  <gux-inline-alert-beta accent="success"
    ><strong>Note:</strong> This is a success alert.</gux-inline-alert-beta
  >
  <gux-inline-alert-beta accent="warning"
    ><strong>Note:</strong> This is a warning alert.</gux-inline-alert-beta
  >
  <gux-inline-alert-beta accent="error"
    ><strong>Note:</strong> This is a warning alert.</gux-inline-alert-beta
  >
</div>

<style>
  .alerts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 31px;
    width: 560px;
    padding: 10px;
    border: 1px solid var(--gux-charcoal-grey);
  }
</style>
