:host {
  position: relative;
  display: inline-block;

  abbr {
    text-decoration: none;
  }
}

.gux-avatar {
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  &.gux-large {
    width: var(--gse-ui-avatar-large-size);
    height: var(--gse-ui-avatar-large-size);

    & .gux-content {
      width: calc(100% - var(--gse-ui-avatar-large-presenceRing-width) * 2);
      height: calc(100% - var(--gse-ui-avatar-large-presenceRing-width) * 2);
      margin: var(--gse-ui-avatar-large-presenceRing-width);
      font-size: var(--gse-ui-avatar-large-initials-fontSize);
      border-width: var(--gse-ui-avatar-content-large-border-width);
    }
  }

  &.gux-medium {
    width: var(--gse-ui-avatar-medium-size);
    height: var(--gse-ui-avatar-medium-size);

    & .gux-content {
      width: calc(100% - var(--gse-ui-avatar-medium-presenceRing-width) * 2);
      height: calc(100% - var(--gse-ui-avatar-medium-presenceRing-width) * 2);
      margin: var(--gse-ui-avatar-medium-presenceRing-width);
      font-size: var(--gse-ui-avatar-medium-initials-fontSize);
    }
  }

  &.gux-small {
    width: var(--gse-ui-avatar-small-size);
    height: var(--gse-ui-avatar-small-size);

    & .gux-content {
      width: calc(100% - var(--gse-ui-avatar-small-presenceRing-width) * 2);
      height: calc(100% - var(--gse-ui-avatar-small-presenceRing-width) * 2);
      margin: var(--gse-ui-avatar-small-presenceRing-width);
      font-size: var(--gse-ui-avatar-small-initials-fontSize);
    }
  }

  &.gux-xsmall {
    width: var(--gse-ui-avatar-xsmall-size);
    height: var(--gse-ui-avatar-xsmall-size);

    & .gux-content {
      width: calc(100% - var(--gse-ui-avatar-xsmall-presenceRing-width) * 2);
      height: calc(100% - var(--gse-ui-avatar-xsmall-presenceRing-width) * 2);
      margin: var(--gse-ui-avatar-xsmall-presenceRing-width);
      font-size: var(--gse-ui-avatar-xsmall-initials-fontSize);
    }
  }
}

.gux-avatar-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--gse-ui-avatar-content-default-border-color);
  border-style: var(--gse-ui-avatar-content-default-border-style);
  border-radius: 50%;

  &.gux-large {
    top: calc(var(--gse-ui-avatar-content-large-border-width) * -1);
    right: calc(var(--gse-ui-avatar-content-large-border-width) * -1);
    width: var(--gse-ui-avatar-large-badge-size);
    height: var(--gse-ui-avatar-large-badge-size);
    border-width: var(--gse-ui-avatar-content-large-border-width);
  }

  &.gux-medium {
    top: calc(var(--gse-ui-avatar-content-default-border-width) * -1);
    right: calc(var(--gse-ui-avatar-content-default-border-width) * -1);
    width: var(--gse-ui-avatar-medium-badge-size);
    height: var(--gse-ui-avatar-medium-badge-size);
    border-width: var(--gse-ui-avatar-content-default-border-width);
  }

  &.gux-small,
  &.gux-xsmall {
    top: calc(var(--gse-ui-avatar-content-default-border-width) * -1);
    right: calc(var(--gse-ui-avatar-content-default-border-width) * -1);
    width: var(--gse-ui-avatar-small-badge-size);
    height: var(--gse-ui-avatar-small-badge-size);
    border-width: var(--gse-ui-avatar-content-default-border-width);
  }
}

.gux-content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: var(--gse-ui-avatar-large-initials-fontFamily);
  font-size: var(--gse-ui-avatar-large-initials-fontSize);
  font-weight: var(--gse-ui-avatar-large-initials-fontWeight);
  color: var(--gse-ui-avatar-media-initialsForeground-inverse);
  text-transform: uppercase;
  background-color: var(--gse-ui-avatar-media-initialsBackground-default);
  border: var(--gse-ui-avatar-content-default-border-width)
    var(--gse-ui-avatar-content-default-border-style)
    var(--gse-ui-avatar-content-default-border-color);
  border-radius: 50%;
}

::slotted(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
