<gux-dropdown placeholder="Select..." filterable=true>
    <gux-option value="en-US" text="American English"></gux-option>
    <gux-option value="es" text="Latin American Spanish"></gux-option>
    <gux-option value="es-ES" text="European Spanish"></gux-option>
    <gux-option value="en-UK" text="UK English"></gux-option>
    <gux-option value="fr-CA" text="Canadian French"></gux-option>
    <gux-option value="fr" text="European French"></gux-option>
    <gux-option value="nl" text="Dutch"></gux-option>
</gux-dropdown>