.gux-pagination {
  display: flex;
  justify-content: space-between;

  .pagination-items-count,
  .pagination-items-per-page,
  .pagination-buttons {
    display: inline-block;
  }

  .pagination-buttons {
    margin-left: auto;
  }
}

%genesys-pagination-dark-theme {
  color: $genesys-off-white;
}

.genesys-dark-theme {
  genesys-pagination {
    @extend %genesys-pagination-dark-theme;
  }
}

genesys-pagination.genesys-dark-theme {
  @extend %genesys-pagination-dark-theme;
}
