@import "./pagination-variables.less";

.gux-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  genesys-pagination-item-counts {
    margin-right: @genesys-pagination-text-margin;
  }

  .pagination-buttons {
    margin-left: auto;
  }
}
