@import './pagination-variables.less';

genesys-pagination > .genesys-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  genesys-pagination-item-counts {
    margin-right: @genesys-pagination-text-margin;
  }

  .pagination-buttons {
    margin-left: auto;
  }

  &.genesys-pagination-size-medium,
  &.genesys-pagination-size-small {
    genesys-pagination-items-per-page {
      display: none;
    }
  }

  &.genesys-pagination-size-small {
    display: block;

    genesys-pagination-item-counts,
    .pagination-buttons {
      margin: 0;
      text-align: center;
    }

    .pagination-buttons {
      margin-top: @genesys-pagination-button-margin;
    }
  }
}
