@genesys-pagination-button-margin: @genesys-margin-small-horizontal;
@genesys-pagination-input-margin: @genesys-margin-large-horizontal;
@genesys-pagination-text-margin: @genesys-margin-xlarge-horizontal;

@genesys-pagination-screen-sm: 350px;
@genesys-pagination-screen-md: 600px;
