<h1>Tag colours</h1>
<div class="tags">
  <gux-tag-beta>default</gux-tag-beta>
  <gux-tag-beta color="default">default (explicit)</gux-tag-beta>
  <gux-tag-beta color="navy">navy</gux-tag-beta>
  <gux-tag-beta color="blue">blue</gux-tag-beta>
  <gux-tag-beta color="electric-purple">electric-purple</gux-tag-beta>
  <gux-tag-beta color="aqua-green">aqua-green</gux-tag-beta>
  <gux-tag-beta color="fuscha">fuscha</gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink" disabled>bubblegum-pink</gux-tag-beta>
  <gux-tag-beta color="dark-purple" disabled>dark purple</gux-tag-beta>
  <gux-tag-beta color="olive-green" disabled>olive-green</gux-tag-beta>
  <gux-tag-beta color="lilac" disabled>lilac</gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green" disabled
    >alert-yellow-green</gux-tag-beta
  >
</div>

<h1>Tag icons</h1>
<div class="tags">
  <gux-tag-beta icon="bolt">default</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="default">default (explicit)</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="navy">navy</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="blue">blue</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="electric-purple"
    >electric-purple</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="aqua-green">aqua-green</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="fuscha">fuscha</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="bubblegum-pink" disabled
    >bubblegum-pink</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="dark-purple" disabled
    >dark purple</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="olive-green" disabled
    >olive-green</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="lilac" disabled>lilac</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="alert-yellow-green" disabled
    >alert-yellow-green</gux-tag-beta
  >
</div>

<h1>Removable tags</h1>
<div id="remove-tag" class="tags">
  <gux-tag-beta value="1" removable>default</gux-tag-beta>
  <gux-tag-beta color="default" value="2" removable
    >default (explicit)</gux-tag-beta
  >
  <gux-tag-beta color="navy" value="3" removable>navy</gux-tag-beta>
  <gux-tag-beta color="blue" value="4" removable>blue</gux-tag-beta>
  <gux-tag-beta color="electric-purple" value="5" removable
    >electric-purple</gux-tag-beta
  >
  <gux-tag-beta color="aqua-green" value="6" removable>aqua-green</gux-tag-beta>
  <gux-tag-beta color="fuscha" value="7" removable>fuscha</gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink" value="8" removable disabled
    >bubblegum-pink</gux-tag-beta
  >
  <gux-tag-beta color="dark-purple" value="9" removable disabled
    >dark purple</gux-tag-beta
  >
  <gux-tag-beta color="olive-green" value="10" removable disabled
    >olive-green</gux-tag-beta
  >
  <gux-tag-beta color="lilac" value="11" removable disabled>lilac</gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green" value="12" removable disabled
    >alert-yellow-green</gux-tag-beta
  >
</div>

<h1>Icons and Removable tags</h1>
<div id="remove-tag" class="tags">
  <gux-tag-beta icon="bolt" value="1" removable>default</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="default" value="2" removable
    >default (explicit)</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="navy" value="3" removable>navy</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="blue" value="4" removable>blue</gux-tag-beta>
  <gux-tag-beta icon="bolt" color="electric-purple" value="5" removable
    >electric-purple</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="aqua-green" value="6" removable
    >aqua-green</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="fuscha" value="7" removable
    >fuscha</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="bubblegum-pink" value="8" removable disabled
    >bubblegum-pink</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="dark-purple" value="9" removable disabled
    >dark purple</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="olive-green" value="10" removable disabled
    >olive-green</gux-tag-beta
  >
  <gux-tag-beta icon="bolt" color="lilac" value="11" removable disabled
    >lilac</gux-tag-beta
  >
  <gux-tag-beta
    icon="bolt"
    color="alert-yellow-green"
    value="12"
    removable
    disabled
    >alert-yellow-green</gux-tag-beta
  >
</div>

<style
  onload="(function() {
  const removeTagElement = document.querySelector('#remove-tag');
  removeTagElement.addEventListener('guxdelete', (event) => {
    const valueToRemove = event.detail;

    Array.from(
      removeTagElement.querySelectorAll('gux-tag-beta')
    ).forEach((tag) => {
      if (tag.value === valueToRemove) {
        tag.remove();
      }
    });
  })
})()"
>
  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid var(--gux-charcoal-grey);
  }

  gux-tag-beta {
    margin: 4px;
  }
</style>
