<h1>gux-tag-beta</h1>
<h2>Tags</h2>
<div class="tags">
  <gux-tag-beta><span>default</span></gux-tag-beta>
  <gux-tag-beta color="default"
    ><span>default (explicit) long long</span></gux-tag-beta
  >
  <gux-tag-beta color="navy"><span>navy</span></gux-tag-beta>
  <gux-tag-beta color="blue"><span>blue</span></gux-tag-beta>
  <gux-tag-beta color="electric-purple"
    ><span>electric-purple</span></gux-tag-beta
  >
  <gux-tag-beta color="aqua-green"><span>aqua-green</span></gux-tag-beta>
  <gux-tag-beta color="fuscha"><span>fuscha</span></gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink"
    ><span>bubblegum-pink</span></gux-tag-beta
  >
  <gux-tag-beta color="dark-purple"><span>dark purple</span></gux-tag-beta>
  <gux-tag-beta color="olive-green"><span>olive-green</span></gux-tag-beta>
  <gux-tag-beta color="lilac"><span>lilac</span></gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green"
    ><span>alert-yellow-green</span></gux-tag-beta
  >
  <gux-tag-beta color="invalid"><span>invalid</span></gux-tag-beta>
</div>

<h2>Disabled tags</h2>
<div class="tags">
  <gux-tag-beta disabled><span>default</span></gux-tag-beta>
  <gux-tag-beta color="default" disabled
    ><span>default (explicit)</span></gux-tag-beta
  >
  <gux-tag-beta color="navy" disabled><span>navy</span></gux-tag-beta>
  <gux-tag-beta color="blue" disabled><span>blue</span></gux-tag-beta>
  <gux-tag-beta color="electric-purple" disabled
    ><span>electric-purple</span></gux-tag-beta
  >
  <gux-tag-beta color="aqua-green" disabled
    ><span>aqua-green</span></gux-tag-beta
  >
  <gux-tag-beta color="fuscha" disabled><span>fuscha</span></gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink" disabled
    ><span>bubblegum-pink</span></gux-tag-beta
  >
  <gux-tag-beta color="dark-purple" disabled
    ><span>dark purple</span></gux-tag-beta
  >
  <gux-tag-beta color="olive-green" disabled
    ><span>olive-green</span></gux-tag-beta
  >
  <gux-tag-beta color="lilac" disabled><span>lilac</span></gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green" disabled
    ><span>alert-yellow-green</span></gux-tag-beta
  >
  <gux-tag-beta color="invalid" disabled><span>invalid</span></gux-tag-beta>
</div>

<h2>Tag icons</h2>
<div class="tags">
  <gux-tag-beta>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>default</span>
  </gux-tag-beta>
  <gux-tag-beta color="default">
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>default (explicit)</span>
  </gux-tag-beta>
  <gux-tag-beta color="navy">
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>navy</span>
  </gux-tag-beta>
  <gux-tag-beta color="blue">
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>blue</span>
  </gux-tag-beta>
  <gux-tag-beta color="electric-purple">
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>electric-purple</span>
  </gux-tag-beta>
  <gux-tag-beta color="aqua-green">
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>aqua-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="fuscha">
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>fuscha</span>
  </gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink" disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>bubblegum-pink</span>
  </gux-tag-beta>
  <gux-tag-beta color="dark-purple" disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>dark purple</span>
  </gux-tag-beta>
  <gux-tag-beta color="olive-green" disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>olive-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="lilac" disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon>
    <span>lilac</span>
  </gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green" disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>alert-yellow-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="invalid" disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>invalid</span>
  </gux-tag-beta>
</div>

<h2>Removable tags</h2>
<div class="remove-tag" class="tags">
  <gux-tag-beta value="1" removable><span>default</span></gux-tag-beta>
  <gux-tag-beta color="default" value="2" removable
    ><span>default (explicit)</span></gux-tag-beta
  >
  <gux-tag-beta color="navy" value="3" removable
    ><span>navy</span></gux-tag-beta
  >
  <gux-tag-beta color="blue" value="4" removable
    ><span>blue</span></gux-tag-beta
  >
  <gux-tag-beta color="electric-purple" value="5" removable
    ><span>electric-purple</span></gux-tag-beta
  >
  <gux-tag-beta color="aqua-green" value="6" removable
    ><span>aqua-green</span></gux-tag-beta
  >
  <gux-tag-beta color="fuscha" value="7" removable
    ><span>fuscha</span></gux-tag-beta
  >
  <gux-tag-beta color="bubblegum-pink" value="8" removable disabled
    ><span>bubblegum-pink</span></gux-tag-beta
  >
  <gux-tag-beta color="dark-purple" value="9" removable disabled
    ><span>dark purple</span></gux-tag-beta
  >
  <gux-tag-beta color="olive-green" value="10" removable disabled
    ><span>olive-green</span></gux-tag-beta
  >
  <gux-tag-beta color="lilac" value="11" removable disabled
    ><span>lilac</span></gux-tag-beta
  >
  <gux-tag-beta color="alert-yellow-green" value="12" removable disabled
    ><span>alert-yellow-green</span></gux-tag-beta
  >
  <gux-tag-beta color="invalid" value="13" removable disabled
    ><span>invalid</span></gux-tag-beta
  >
</div>

<h2>Icons and Removable tags</h2>
<div class="remove-tag" class="tags">
  <gux-tag-beta value="1" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>default</span>
  </gux-tag-beta>
  <gux-tag-beta color="default" value="2" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>default (explicit)</span>
  </gux-tag-beta>
  <gux-tag-beta color="navy" value="3" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>navy</span>
  </gux-tag-beta>
  <gux-tag-beta color="blue" value="4" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>blue</span>
  </gux-tag-beta>
  <gux-tag-beta color="electric-purple" value="5" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>electric-purple</span>
  </gux-tag-beta>
  <gux-tag-beta color="aqua-green" value="6" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>aqua-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="fuscha" value="7" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>fuscha</span>
  </gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink" value="8" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>bubblegum-pink</span>
  </gux-tag-beta>
  <gux-tag-beta color="dark-purple" value="9" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>dark purple</span>
  </gux-tag-beta>
  <gux-tag-beta color="olive-green" value="10" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>olive-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="lilac" value="11" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>lilac</span>
  </gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green" value="12" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon>
    <span>alert-yellow-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="invalid" value="13" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>invalid</span>
  </gux-tag-beta>
</div>

<h2>Icons and Removable tags localised</h2>
<div class="remove-tag" class="tags" lang="de">
  <gux-tag-beta value="1" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>default</span>
  </gux-tag-beta>
  <gux-tag-beta color="default" value="2" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>default (explicit)</span>
  </gux-tag-beta>
  <gux-tag-beta color="navy" value="3" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>navy</span>
  </gux-tag-beta>
  <gux-tag-beta color="blue" value="4" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>blue</span>
  </gux-tag-beta>
  <gux-tag-beta color="electric-purple" value="5" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>electric-purple</span>
  </gux-tag-beta>
  <gux-tag-beta color="aqua-green" value="6" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>aqua-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="fuscha" value="7" removable>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>fuscha</span>
  </gux-tag-beta>
  <gux-tag-beta color="bubblegum-pink" value="8" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>bubblegum-pink</span>
  </gux-tag-beta>
  <gux-tag-beta color="dark-purple" value="9" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>dark purple</span>
  </gux-tag-beta>
  <gux-tag-beta color="olive-green" value="10" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon
    ><span>olive-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="lilac" value="11" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>lilac</span>
  </gux-tag-beta>
  <gux-tag-beta color="alert-yellow-green" value="12" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon>
    <span>alert-yellow-green</span>
  </gux-tag-beta>
  <gux-tag-beta color="invalid" value="13" removable disabled>
    <gux-icon icon-name="bolt" decorative="true"></gux-icon><span>invalid</span>
  </gux-tag-beta>
</div>

<style
  onload="(function() {
  const removeTagElements = document.getElementsByClassName('remove-tag');

  Array.from(removeTagElements).forEach(function(removeTagElement) {
    removeTagElement.addEventListener('guxdelete', (event) => {
      const valueToRemove = event.detail;

      Array.from(
        removeTagElement.querySelectorAll('gux-tag-beta')
      ).forEach((tag) => {
        if (tag.value === valueToRemove) {
          tag.remove();
        }
      });
    })
  });
})()"
>
  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid var(--gux-charcoal-grey);
  }

  gux-tag-beta {
    max-width: 100px;
    margin: 4px;
  }
</style>
