:host {
  display: inline-block;
  inline-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  text-decoration: inherit;
  cursor: inherit;
}

::slotted(*) {
  display: inline;
}

.gux-truncate-multi-line {
  white-space: normal;

  .gux-truncate-slot-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
}

gux-tooltip {
  font-weight: normal;
  line-height: normal;
  text-align: start;
  overflow-wrap: break-word;
  white-space: normal;
}

.gux-truncate-slot-container > * {
  display: inline;
}

.gux-truncate-slot-container {
  display: block;
  text-overflow: ellipsis;
}

.gux-overflow-hidden {
  overflow: hidden;
}
