<h1>gux-rating</h1>

<h2>Defaults</h2>
<gux-rating-beta
  aria-label="feedback"
  onchange="notify(event)"
  oninput="notify(event)"
>
</gux-rating-beta>

<h2>Set initial value</h2>
<label for="rating">Feedback</label><br />
<gux-rating-beta
  id="rating"
  value="3"
  onchange="notify(event)"
  oninput="notify(event)"
>
</gux-rating-beta>

<h2>Set max value</h2>
<label id="rating-label">Feedback</label><br />
<gux-rating-beta
  aria-labelledby="rating-label"
  value="2.5"
  max-value="10"
  onchange="notify(event)"
  oninput="notify(event)"
>
</gux-rating-beta>

<h2>Disabled</h2>
<gux-rating-beta
  aria-label="feedback"
  value="3"
  disabled
  onchange="notify(event)"
  oninput="notify(event)"
>
</gux-rating-beta>

<h2>Readonly</h2>
<gux-rating-beta
  aria-label="feedback"
  value="3"
  readonly
  onchange="notify(event)"
  oninput="notify(event)"
>
</gux-rating-beta>

<h2>Get value</h2>

<gux-rating-beta
  aria-label="feedback"
  id="get-value"
  value="3"
  onchange="notify(event)"
  oninput="notify(event)"
>
</gux-rating-beta>

<div>
  Last retrieved value from gux-rating: <span id="value-output">N/A</span>
</div>

<gux-button
  onclick="(function() {
  const guxRating = document.getElementById('get-value');
  const valueOutput = document.getElementById('value-output');

  valueOutput.textContent = guxRating.value;
})()"
  >Get Value</gux-button
>
