<div style="display: flex; flex-direction: column">
  <span style="padding-top: 15px">basic</span>
  <gux-rating-beta></gux-rating-beta>

  <span style="padding-top: 15px">allow half rating selection</span>
  <gux-rating-beta allow-half-ratings></gux-rating-beta>

  <span style="padding-top: 15px">value pre-set</span>
  <gux-rating-beta rating="3.5"></gux-rating-beta>

  <span style="padding-top: 15px">adjusted max</span>
  <gux-rating-beta max-rating="10"></gux-rating-beta>

  <span style="padding-top: 15px">complex usage</span>
  <gux-rating-beta
    rating="7"
    max-rating="10"
    allow-half-ratings
  ></gux-rating-beta>
</div>
