gux-rating-beta {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;

  &.gux-disabled {
    opacity: 0.5;
  }
}
