::slotted(a) {
  display: inline-block;
  line-height: 0px;
}

::slotted(button) {
  padding: 0;
  margin: 0;
  line-height: 0px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
}
