@import (reference) '../../../../style/color-palette.less';
@import (reference) '../../../../style/focus.less';
@import (reference) '../../../../style/spacing.less';

gux-pagination-buttons {
  color: @gux-black-50;

  .gux-pagination-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: flex-end;

    &.gux-expanded {
      justify-content: center;
    }

    & > div {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
    }

    .gux-pagination-buttons-group {
      white-space: nowrap;

      gux-button-slot:not(:first-of-type) {
        margin-left: @gux-spacing-2xs;
      }
    }

    .gux-pagination-buttons-input-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      justify-content: center;
      margin: 0 @gux-spacing-medium;

      & > div {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
        white-space: nowrap;
      }

      .gux-pagination-buttons-input {
        width: 60px;
        margin: 0 @gux-spacing-xs;

        input {
          width: inherit;
          text-align: center;
        }
      }
    }

    .gux-pagination-buttons-list-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      justify-content: center;
      margin: 0 @gux-spacing-medium;

      .gux-pagination-buttons-list-button {
        height: 32px;
        padding: 0 @gux-spacing-2xs;
        margin: 0 @gux-spacing-2xs;
        background: inherit;
        border: none;
        border-radius: @gux-spacing-3xs;

        &:focus-visible {
          .gux-focus-ring();
        }

        &.gux-current {
          font-weight: 600;
        }

        &.gux-target {
          color: @gux-blue-60;
          cursor: pointer;
        }
      }
    }

    .gux-pagination-buttons-spacer {
      width: @gux-spacing-small;
    }
  }
}
