@import (reference) '../../../../style/color-palette.less';
@import (reference) '../../../../style/focus.less';

gux-pagination-buttons {
  color: #2e394c;

  .gux-pagination-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: flex-end;

    &.gux-expanded {
      justify-content: center;
    }

    & > div {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
    }

    .gux-pagination-buttons-group {
      white-space: nowrap;

      gux-button-slot:not(:first-of-type) {
        margin-left: 4px;
      }
    }

    .gux-pagination-buttons-input-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      justify-content: center;
      margin: 0 16px;

      & > div {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
        white-space: nowrap;
      }

      .gux-pagination-buttons-input {
        width: 60px;
        margin: 0 8px;

        input {
          width: inherit;
          text-align: center;
        }
      }
    }

    .gux-pagination-buttons-list-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      justify-content: center;
      margin: 0 16px;

      .gux-pagination-buttons-list-button {
        height: 32px;
        padding: 0 4px;
        margin: 0 4px;
        background: inherit;
        border: none;
        border-radius: 2px;

        &:focus-visible {
          .gux-focus-ring();
        }

        &.gux-current {
          font-weight: 600;
        }

        &.gux-target {
          color: #2a60c8;
          cursor: pointer;
        }
      }
    }

    .gux-pagination-buttons-spacer {
      width: 12px;
    }
  }
}
