@use '../../../../genesys-spark-tokens/dist-new/scss/gse-flare-dark-core';
@use '../../../../genesys-spark-tokens/dist-new/scss/gse-flare-dark-semantic';
@use '../../../../genesys-spark-tokens/dist-new/scss/gse-flare-light-core';
@use '../../../../genesys-spark-tokens/dist-new/scss/gse-flare-light-semantic';

:root {
  @include gse-flare-light-core.tokens;
  @include gse-flare-light-semantic.tokens;
}

[flare-mode='dark'] {
  @include gse-flare-dark-core.tokens;
  @include gse-flare-dark-semantic.tokens;
}
