@use '../../../../genesys-spark-tokens/dist/scss/gse-core';
@use '../../../../genesys-spark-tokens/dist/scss/gse-semantic-flare';
@use '../../../../genesys-spark-tokens/dist/scss/gse-semantic-flare-global';
@use '../../../../genesys-spark-tokens/dist/scss/gse-semantic-flare-dark';
@use '../../../../genesys-spark-tokens/dist/scss/gse-semantic-flare-light';

:root {
  @include gse-core.tokens;
  @include gse-semantic-flare.tokens;
  @include gse-semantic-flare-global.tokens;
  @include gse-semantic-flare-light.tokens;
}

[flare-mode='dark'] {
  @include gse-semantic-flare-dark.tokens;
}
