@use '~genesys-spark/dist/scss/focus.scss';

$gux-avatar-mask: "data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 13c0-2.6.7-5 1.8-7.2C21.5 2.3 17.5 0 13 0 5.8 0 0 5.8 0 13s5.8 13 13 13c4.5 0 8.5-2.3 10.8-5.8C22.7 18 22 15.6 22 13z' /%3E%3C/svg%3E";

@mixin mask {
  -webkit-mask-image: url($gux-avatar-mask);
  mask-image: url($gux-avatar-mask);
}

.gux-avatar-group {
  // --gse-ui-avatar-groupShapes-gap: -3px; //TODO: Remove after testing

  display: flex;
  width: fit-content;
  padding-block: 3px; // Adding some space for the focus ring TODO: Add token
  padding-inline: 3px 8px; // Adding some space for the focus ring TODO: Add token // Adding some space for the focus ring and negative margin TODO: Add token

  gux-avatar-list-item-beta {
    margin-inline-end: var(--gse-ui-avatar-groupShapes-gap);

    &:not(:last-of-type) gux-avatar-beta {
      @include mask;
    }
  }

  &.gux-avatar-group-overflow > gux-avatar-list-item-beta gux-avatar-beta {
    @include mask;
  }

  gux-avatar-list-item-beta:hover,
  gux-avatar-list-item-beta:focus-within {
    z-index: var(--gse-semantic-zIndex-showFocus);
    background: var(--gse-ui-avatar-content-default-border-color);

    gux-avatar-beta {
      mask: none;
    }
  }

  .gux-overflow-list-item {
    display: flex;
    gap: 8px;
    align-items: center;

    &:focus-within {
      @include focus.gux-focus-ring-small;
    }
  }
}
