@use '~genesys-spark/dist/scss/focus.scss';

:host {
  display: flex;
  align-items: center;
  inline-size: fit-content;
  padding-block: var(--gse-semantic-interactive-sm-padding);
  padding-inline: var(--gse-semantic-interactive-sm-padding)
    var(--gse-semantic-interactive-md-padding);
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}

.gux-add-item-overflow {
  // + 2px to offset the minus margin on the other side
  padding-inline-start: calc(var(--gse-core-spacing-4xs) + 2px);
}
