<form onchange="notify(event)" oninput="notify(event)">
  <h1>gux-form-field-legacy (Checkbox)</h1>

  <p>
    slot a input[type=checkbox] element into a gux-form-field-legacy element
  </p>

  <div>
    <gux-form-field-legacy>
      <input slot="input" type="checkbox" name="food" value="pizza" />
      <label slot="label">Pizza</label>
    </gux-form-field-legacy>
    <gux-form-field-legacy>
      <input slot="input" type="checkbox" name="food" value="pasta" checked />
      <label slot="label">Pasta</label>
    </gux-form-field-legacy>
    <gux-form-field-legacy>
      <input
        slot="input"
        type="checkbox"
        name="food"
        value="hamburger"
        id="hamburger"
      />
      <label slot="label">Hamburger</label>
    </gux-form-field-legacy>
    <gux-form-field-legacy>
      <input
        slot="input"
        type="checkbox"
        name="food"
        value="sandwich"
        disabled
      />
      <label slot="label">Sandwich</label>
    </gux-form-field-legacy>
    <gux-form-field-legacy>
      <input slot="input" type="checkbox" name="food" value="sushi" />
      <label slot="label">Sushi</label>
      <span slot="error">Required</span>
    </gux-form-field-legacy>
  </div>
</form>

<style
  onload="(function () {
  document.getElementById('hamburger').indeterminate = true;
})()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
