@import '../../../style/mixins';

/**
  * @prop --gse-ui-badge-height
  * @prop --gse-ui-badge-gap
  * @prop --gse-ui-badge-borderRadius
  * @prop --gse-ui-badge-text-fontFamily
  * @prop --gse-ui-badge-text-fontSize
  * @prop --gse-ui-badge-text-fontWeight // missing
  * @prop --gse-ui-badge-text-lineHeight
  * @prop --gse-ui-badge-error-bold-backgroundColor
  * @prop --gse-ui-badge-error-bold-foregroundColor
  * @prop --gse-ui-badge-error-regular-backgroundColor
  * @prop --gse-ui-badge-error-regular-foregroundColor
  * @prop --gse-ui-badge-info-bold-backgroundColor
  * @prop --gse-ui-badge-info-bold-foregroundColor
  * @prop --gse-ui-badge-info-regular-backgroundColor
  * @prop --gse-ui-badge-info-regular-foregroundColor
  * @prop --gse-ui-badge-success-bold-backgroundColor
  * @prop --gse-ui-badge-success-bold-foregroundColor
  * @prop --gse-ui-badge-success-regular-backgroundColor
  * @prop --gse-ui-badge-success-regular-foregroundColor
  * @prop --gse-ui-badge-warning-bold-backgroundColor
  * @prop --gse-ui-badge-warning-bold-foregroundColor
  * @prop --gse-ui-badge-warning-regular-backgroundColor
  * @prop --gse-ui-badge-warning-regular-foregroundColor
  */

// Style
:host {
  display: inline-block;
  height: fit-content;
  border-radius: var(--gse-ui-badge-borderRadius);
}

.gux-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--gse-ui-badge-height);
  padding: var(--gse-ui-badge-padding);
  border-radius: var(--gse-ui-badge-borderRadius);
  gap: var(--gse-ui-badge-gap);
  font-family: var(--gse-ui-badge-text-fontFamily);
  font-size: var(--gse-ui-badge-text-fontSize);
  font-weight: var(--gse-ui-badge-text-fontWeight, 600);
  line-height: var(--gse-ui-badge-text-lineHeight);

  gux-tooltip-title {
    white-space: nowrap;

    ::slotted(gux-icon) {
      height: 16px;
      font-size: 16px;
    }
  }

  .gux-sr-only {
    @include gux-sr-only-clip;
  }

  &.gux-info,
  &.gux-neutral {
    color: var(--gse-ui-badge-info-regular-foregroundColor);
    background-color: var(--gse-ui-badge-info-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-info-bold-foregroundColor);
      background-color: var(--gse-ui-badge-info-bold-backgroundColor);
    }
  }

  &.gux-error,
  &.gux-red {
    color: var(--gse-ui-badge-error-regular-foregroundColor);
    background-color: var(--gse-ui-badge-error-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-error-bold-foregroundColor);
      background-color: var(--gse-ui-badge-error-bold-backgroundColor);
    }
  }

  &.gux-warning,
  &.gux-yellow {
    color: var(--gse-ui-badge-warning-regular-foregroundColor);
    background-color: var(--gse-ui-badge-warning-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-warning-bold-foregroundColor);
      background-color: var(--gse-ui-badge-warning-bold-backgroundColor);
    }
  }

  &.gux-success,
  &.gux-green {
    color: var(--gse-ui-badge-success-regular-foregroundColor);
    background-color: var(--gse-ui-badge-success-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-success-bold-foregroundColor);
      background-color: var(--gse-ui-badge-success-bold-backgroundColor);
    }
  }

  &.gux-inherit {
    color: inherit;
    background-color: inherit;
  }
}
