<h1>gux-button-multi-legacy</h1>

<div class="layout">
  <div class="row">
    <div class="overlap">
      <h2>Primary</h2>
      <gux-button-multi-legacy text="Primary" accent="primary" is-open="true">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test3" onclick="notify(event)"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>

      <gux-button-multi-legacy text="Primary" accent="primary">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test3" onclick="notify(event)"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
    <div>
      <h2>Secondary</h2>
      <gux-button-multi-legacy text="Secondary" accent="secondary">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item
          text="test 3"
          onclick="notify(event)"
        ></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
    <div>
      <h2>Tertiary</h2>
      <gux-button-multi-legacy text="Tertiary" accent="tertiary">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item
          text="test 3"
          onclick="notify(event)"
        ></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
    <div>
      <h2>Disabled</h2>
      <gux-button-multi-legacy class="disable-toggle" text="Disabled" disabled>
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test3" onclick="notify(event)"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
  </div>

  <div class="row">
    <div>
      <h2>Primary</h2>
      <gux-button-multi-legacy text="Primary" accent="primary">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test3" onclick="notify(event)"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
    <div>
      <h2>Secondary</h2>
      <gux-button-multi-legacy text="Secondary" accent="secondary">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item
          text="test 3"
          onclick="notify(event)"
        ></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
    <div>
      <h2>Tertiary</h2>
      <gux-button-multi-legacy text="Tertiary" accent="tertiary">
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item
          text="test 3"
          onclick="notify(event)"
        ></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
    <div>
      <h2>Disabled</h2>
      <gux-button-multi-legacy class="disable-toggle" text="Disabled" disabled>
        <gux-action-item text="test" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test2" onclick="notify(event)"></gux-action-item>
        <gux-action-item text="test3" onclick="notify(event)"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item onclick="notify(event)"
          ><span>I am a span</span></gux-action-item
        >
      </gux-button-multi-legacy>
    </div>
  </div>

  <style
    onload="(function () {
    const disableToggles = document.getElementsByClassName('disable-toggle');

    Array.from(disableToggles).forEach((disableToggle) => {
      setInterval(() => {
        disableToggle.disabled = !disableToggle.disabled;
      }, 5000);
    });
  })()"
  >
    .layout {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      justify-content: space-between;
      height: calc(100% - 64px);
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      justify-content: space-around;
      width: 100%;
    }

    .overlap gux-button-multi-legacy {
      margin-bottom: 4px;
    }
  </style>
</div>
