<h1>gux-date-time-beta</h1>

<h2>Date and Time</h2>

<h3>Short</h3>
<gux-date-time-beta id="time-1" format="short"></gux-date-time-beta>

<h3>Medium</h3>
<gux-date-time-beta id="time-2" format="medium"></gux-date-time-beta>

<h3>Long</h3>
<gux-date-time-beta id="time-3" format="long"></gux-date-time-beta>

<h3>Full</h3>
<gux-date-time-beta id="time-4" format="full"></gux-date-time-beta>

<style
  onload="(function() {
    const time1 = document.querySelector('#time-1');
    const time2 = document.querySelector('#time-2');
    const time3 = document.querySelector('#time-3');
    const time4 = document.querySelector('#time-4');

    const date = new Date();

    time1.date = date;
    time2.date = date;
    time3.date = date;
    time4.date = date;
  })()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
