<gux-panel-frame-beta>
  <div slot="header">
    <div style="display: flex; align-items: center; justify-content: flex-end">
      <h2 style="margin-right: auto">Find Events</h2>
    </div>
  </div>
  <div slot="body">
    <div style="display: flex; flex-direction: column">
      <gux-text-label label="Event Name">
        <gux-text-field></gux-text-field>
      </gux-text-label>
      <gux-rating-beta></gux-rating-beta>
      <gux-text-label label="Comment">
        <gux-text-field></gux-text-field>
      </gux-text-label>
      <gux-toggle></gux-toggle>
    </div>
  </div>
  <div slot="footer">
    <div style="display: flex; justify-content: space-between">
      <gux-button>Close</gux-button>
      <gux-button accent="primary">Accept</gux-button>
    </div>
  </div>
</gux-panel-frame-beta>
