@import (reference) '../../../style/color.less';

gux-panel-frame-beta {
  color: @gux-black-50;

  .gux-panel-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px 15px;
    background-color: @gux-grey-100;
    border: 1px solid @gux-grey-60;

    .gux-panel-header,
    .gux-panel-body,
    .gux-panel-footer {
      box-sizing: border-box;
      width: 100%;
    }

    .gux-panel-header {
      flex-shrink: 0;
      padding: 0 8px;
      border-bottom: 1px solid @gux-grey-60;
    }

    .gux-panel-body {
      flex-grow: 1;
      padding: 8px 8px;
      overflow-y: auto;
    }

    .gux-panel-footer {
      flex-shrink: 0;
      padding: 12px 8px;
      border-top: 1px solid @gux-grey-60;
    }
  }
}
