@import (reference) '../../../../style/color.less';
@import (reference) '../../../../style/spacing.less';
@import (reference) '../../../../style/typography.less';

gux-rating-star {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  cursor: pointer;
  > svg {
    height: 24px;
    width: 24px;
  }
}

// Theming
.gux-rating-dark-theme {
  .gux-rating-item-shape-default {
    &:hover {
      stroke: @gux-genesys-blue;
    }

    &.gux-rating-star-fill-percent-50 {
      stroke: @gux-genesys-blue;
    }

    &.gux-rating-star-fill-percent-100 {
      fill: @gux-genesys-blue;
      stroke: @gux-genesys-blue;
    }
  }

  svg {
    lineargradient {
      stop {
        stop-color: transparent;
      }

      stop:first-child {
        stop-color: @gux-genesys-blue;
      }
    }
  }
}

// Dark
.gux-dark-theme {
  gux-rating-star {
    .gux-rating-dark-theme();
  }
}

gux-rating-star.gux-dark-theme {
  .gux-rating-dark-theme();
}

// Light
.gux-rating-light-theme {
  .gux-rating-item-shape-default {
    stroke: #98a7b8;

    &.gux-rating-star-fill-percent-50 {
      stroke: @gux-charcoal-grey;
    }

    &.gux-rating-star-fill-percent-100 {
      fill: @gux-charcoal-grey;
      stroke: @gux-charcoal-grey;
    }
  }

  svg {
    lineargradient {
      stop {
        stop-color: transparent;
      }

      stop:first-child {
        stop-color: @gux-type;
      }
    }
  }
}

.gux-light-theme {
  gux-rating-star {
    .gux-rating-light-theme();
  }
}

gux-rating-star.gux-light-theme {
  .gux-rating-light-theme();
}

// Default Theme
gux-rating-star {
  .gux-rating-light-theme();
}
