<form onchange="notify(event)" oninput="notify(event)">
  <h1>gux-form-field (Search)</h1>

  <p>slot an input[type=search] element into a gux-form-field element</p>

  <gux-form-field>
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Enter a search"
    />
    <label slot="label">Search</label>
  </gux-form-field>

  <h2>Disabled</h2>

  <gux-form-field>
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Enter a search"
      disabled
    />
    <label slot="label">Search</label>
  </gux-form-field>

  <h2>No Visible Label</h2>

  <gux-form-field>
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Enter a search"
    />
    <label slot="label" class="gux-sr-only"
      >This will be read by a screenreader</label
    >
  </gux-form-field>

  <h2>With smaller width</h2>
  <div style="width: 120px">
    <gux-form-field>
      <input
        slot="input"
        name="search"
        type="search"
        placeholder="Enter a search"
      />
      <label slot="label" class="gux-sr-only"
        >This will be read by a screenreader</label
      >
    </gux-form-field>
  </div>
</form>
