gux-table {
  * {
    box-sizing: border-box;
  }

  table {
    width: 100%;
    white-space: nowrap;
    border-spacing: 0;

    td {
      height: var(--gse-ui-dataTableItems-cell-default-height);
      padding: var(--gse-ui-dataTableItems-cell-padding);
      font-family: var(--gse-ui-dataTableItems-cell-text-fontFamily);
      font-size: var(--gse-ui-dataTableItems-cell-text-fontSize);
      font-weight: var(--gse-ui-dataTableItems-cell-text-fontWeight);
      line-height: var(--gse-ui-dataTableItems-cell-text-lineHeight);
      color: var(--gse-ui-dataTableItems-cell-foregroundColor);
      text-align: left;

      gux-icon {
        color: var(--gse-ui-dataTableItems-cell-icon-foregroundColor);
      }

      gux-button > gux-icon {
        color: inherit;
      }
    }

    th {
      height: var(--gse-ui-dataTableItems-header-default-height);
      padding: var(--gse-ui-dataTableItems-header-padding);
      font-family: var(--gse-ui-dataTableItems-header-text-fontFamily);
      font-size: var(--gse-ui-dataTableItems-header-text-fontSize);
      font-weight: var(--gse-ui-dataTableItems-header-text-fontWeight);
      line-height: var(--gse-ui-dataTableItems-header-text-lineHeight);
      color: var(--gse-ui-dataTableItems-header-foregroundColor);
      background: var(--gse-ui-dataTableItems-header-defaultBackgroundColor);

      &:has(gux-all-row-select) {
        width: var(--gse-ui-dataTableItems-header-multiselect-default-width);
      }
    }

    th,
    td {
      text-align: left;
      border-color: var(--gse-ui-dataTableItems-divider-color);
      border-style: var(--gse-ui-dataTableItems-divider-style);
      border-width: 0 var(--gse-ui-dataTableItems-divider-width)
        var(--gse-ui-dataTableItems-divider-width) 0;
    }

    th[data-cell-numeric],
    td[data-cell-numeric],
    th[data-cell-action],
    td[data-cell-action] {
      text-align: right;
    }

    // This is a fallback as the :has selector is currently not supported by firefox. To be removed once released: COMUI-1652
    tr[data-row-id] {
      td:first-child {
        width: var(
          --gse-ui-dataTableItems-cell-multiselect-checkboxCell-default-width
        );
      }

      th:first-child {
        width: var(--gse-ui-dataTableItems-header-multiselect-default-width);
      }
    }

    th:last-child,
    td:last-child {
      border-right-width: 0;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: var(--gse-semantic-zIndex-tooltip);

      th {
        position: relative;
      }
    }

    tbody {
      tr td {
        background-color: var(
          --gse-ui-dataTableItems-cell-defaultBackgroundColor
        );
      }

      tr:nth-child(2n) td {
        background-color: var(--gse-ui-dataTableItems-cell-altBackgroundColor);
      }

      tr:hover td,
      tr:nth-child(2n):hover td {
        background-color: var(
          --gse-ui-dataTableItems-cell-hoverBackgroundColor
        );
      }
    }
  }

  &[gs-compact] {
    th {
      height: var(--gse-ui-dataTableItems-header-compact-height);
    }

    tr[data-row-id] th:first-child {
      width: var(--gse-ui-dataTableItems-header-multiselect-compact-width);
    }

    th:has(gux-all-row-select) {
      width: var(--gse-ui-dataTableItems-header-multiselect-compact-width);
    }

    td {
      height: var(--gse-ui-dataTableItems-cell-compact-height);
    }

    tr[data-row-id] td:first-child {
      width: var(
        --gse-ui-dataTableItems-cell-multiselect-checkboxCell-compact-width
      );
    }
  }

  &[gs-obj-table] {
    tbody {
      th,
      td {
        border-width: 0;
      }

      tr[data-selected-row] {
        td {
          background: var(--gse-ui-dataTableItems-cell-hoverBackgroundColor);
        }
      }
    }
  }
}

// used to ensure gux-sort-control arrow doesn't overlap header text when columns are resized
th:not([data-cell-action]):not([data-cell-numeric]):has(> gux-sort-control) {
  padding-right: calc(
    2 * var(--gse-ui-dataTableItems-header-gap) + var(--gse-ui-icon-size-sm)
  ) !important;
}

th[data-cell-numeric]:has(> gux-sort-control),
th[data-cell-action]:has(> gux-sort-control) {
  padding-left: calc(
    2 * var(--gse-ui-dataTableItems-header-gap) + var(--gse-ui-icon-size-sm) +
      2px
  ) !important;
}
