@use '~genesys-spark/dist/scss/typography.scss';

:host {
  position: relative;
  z-index: var(--gse-semantic-zIndex-sticky);
  display: block;

  .gux-table {
    position: relative;
    height: inherit; // Required for correct behavior in Firefox. Removing this property allows the table to overflow outside of the height of the parent; preventing vertical scroll.

    .gux-table-container {
      max-height: 100%;
      overflow: auto;
      scrollbar-color: var(--gse-ui-dataTableItems-scrollbar-foregroundColor);
      scrollbar-width: thin;

      &.gux-column-resizing-hover,
      &.gux-column-resizing {
        cursor: col-resize;
      }
    }
  }

  .gux-empty-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--gse-ui-dataTableItems-header-default-height));
    color: #596373;
    background: #fdfdfd;

    @include typography.heading-lg;
  }
}
