@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

gux-table {
  * {
    box-sizing: border-box;
  }

  & {
    border-color: ui.$gse-ui-dataTable-border-color;
    border-style: ui.$gse-ui-dataTable-border-style;
    border-width: ui.$gse-ui-dataTable-border-width;
  }

  table {
    inline-size: 100%;
    white-space: nowrap;
    border-spacing: 0;

    td {
      block-size: ui.$gse-ui-dataTableItems-cell-default-height;
      padding: ui.$gse-ui-dataTableItems-cell-padding;
      font-family: ui.$gse-ui-dataTableItems-cell-text-fontFamily;
      font-size: ui.$gse-ui-dataTableItems-cell-text-fontSize;
      font-weight: ui.$gse-ui-dataTableItems-cell-text-fontWeight;
      line-height: ui.$gse-ui-dataTableItems-cell-text-lineHeight;
      color: ui.$gse-ui-dataTableItems-cell-foregroundColor;
      text-align: start;

      &:has(gux-row-select) {
        inline-size: var(
          --gse-ui-dataTableItems-cell-multiselect-checkboxCell-default-width
        );
      }

      gux-icon {
        color: ui.$gse-ui-dataTableItems-cell-icon-foregroundColor;
      }

      gux-button > gux-icon {
        color: inherit;
      }
    }

    th {
      block-size: ui.$gse-ui-dataTableItems-header-default-height;
      padding: ui.$gse-ui-dataTableItems-header-padding;
      font-family: ui.$gse-ui-dataTableItems-header-text-fontFamily;
      font-size: ui.$gse-ui-dataTableItems-header-text-fontSize;
      font-weight: ui.$gse-ui-dataTableItems-header-text-fontWeight;
      line-height: ui.$gse-ui-dataTableItems-header-text-lineHeight;
      color: ui.$gse-ui-dataTableItems-header-foregroundColor;
      background: ui.$gse-ui-dataTableItems-header-defaultBackgroundColor;

      &:has(gux-all-row-select) {
        inline-size: var(
          --gse-ui-dataTableItems-header-multiselect-default-width
        );
      }
    }

    th,
    td {
      text-align: start;
      border-color: ui.$gse-ui-dataTable-border-color;
      border-style: ui.$gse-ui-dataTable-border-style;
      border-width: 0 ui.$gse-ui-dataTable-border-width
        ui.$gse-ui-dataTable-border-width 0;
    }

    th[data-cell-numeric],
    td[data-cell-numeric],
    th[data-cell-action],
    td[data-cell-action] {
      text-align: end;
    }

    th:has(gux-all-row-select) {
      inline-size: var(
        --gse-ui-dataTableItems-header-multiselect-default-width
      );
    }

    th:last-child,
    td:last-child {
      border-inline-end-width: 0;
    }

    thead {
      position: sticky;
      inset-block-start: 0;
      z-index: global.$gse-semantic-zIndex-sticky;

      th {
        position: relative;
      }
    }

    tbody {
      tr td {
        background-color: var(
          --gse-ui-dataTableItems-cell-defaultBackgroundColor
        );
      }

      tr:nth-child(2n) td {
        background-color: ui.$gse-ui-dataTableItems-cell-altBackgroundColor;
      }

      tr:last-child td {
        border-block-end-width: 0;
      }

      tr:hover td,
      tr:nth-child(2n):hover td {
        background-color: var(
          --gse-ui-dataTableItems-cell-hoverBackgroundColor
        );
      }
    }
  }

  &[gs-compact] {
    th {
      block-size: ui.$gse-ui-dataTableItems-header-compact-height;

      &:has(gux-all-row-select) {
        inline-size: var(
          --gse-ui-dataTableItems-header-multiselect-compact-width
        );
      }
    }

    td {
      block-size: ui.$gse-ui-dataTableItems-cell-compact-height;

      &:has(gux-row-select) {
        inline-size: var(
          --gse-ui-dataTableItems-cell-multiselect-checkboxCell-compact-width
        );
      }
    }
  }

  &[gs-obj-table] {
    tbody {
      th,
      td {
        border-width: 0;
      }

      tr[data-selected-row] {
        td {
          background: ui.$gse-ui-dataTableItems-cell-hoverBackgroundColor;
        }
      }
    }
  }
}

// used to ensure gux-sort-control arrow doesn't overlap header text when columns are resized
th:not([data-cell-action]):not([data-cell-numeric]):has(> gux-sort-control) {
  padding-inline-end: calc(
    2 * #{ui.$gse-ui-dataTableItems-header-gap} + #{ui.$gse-ui-icon-small-size}
  ) !important;
}

th[data-cell-numeric]:has(> gux-sort-control),
th[data-cell-action]:has(> gux-sort-control) {
  padding-inline-start: calc(
    2 * #{ui.$gse-ui-dataTableItems-header-gap} +
      #{ui.$gse-ui-icon-small-size} + 2px
  ) !important;
}
