@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
  flex: 1 1 auto;
  align-self: auto;

  .gux-submenu-button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: stretch flex-start;
    align-items: center;
    inline-size: ui.$gse-ui-flyoutMenu-width;
    block-size: ui.$gse-ui-menu-option-height;
    padding: ui.$gse-ui-menu-option-padding;
    line-height: ui.$gse-ui-menu-option-label-default-text-lineHeight;
    color: ui.$gse-ui-menu-option-label-foregroundColor;
    background-color: ui.$gse-ui-menu-option-default-backgroundColor;

    &:focus-within,
    &:hover {
      background-color: ui.$gse-ui-menu-option-hover-backgroundColor;
    }

    &.gux-submenu-button-active {
      font-weight: ui.$gse-ui-menu-option-label-active-text-fontWeight;
      color: ui.$gse-ui-menu-option-shortcut-selected-foregroundColor;
      background-color: ui.$gse-ui-menu-option-selected-backgroundColor;
    }

    .gux-submenu-button-text {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      margin-inline-end: ui.$gse-ui-menu-option-gap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .gux-submenu-open-icon {
      flex: 0 0 auto;
      align-self: auto;
      order: 0;
    }
  }

  .gux-submenu-wrapper {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    visibility: hidden;
    flex-direction: column;
    padding: ui.$gse-ui-menu-padding;
    margin: 0;
    background-color: ui.$gse-ui-menu-backgroundColor;
    border: none;
    border-radius: ui.$gse-ui-menu-borderRadius;
    box-shadow: ui.$gse-ui-menu-boxShadow;
    opacity: 0;

    &.gux-shown {
      visibility: visible;
      animation-name: fade-in;
      animation-duration: 100ms;
      animation-delay: 350ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
