:host {
  display: block;
}

.gux-selection-target {
  display: flex;
  gap: 10px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid green;

  &.gux-selected {
    background-color: lightgrey;
  }

  &.gux-disabled {
    cursor: default;
    opacity: 0.5;
  }
}
