@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  position: fixed;
  z-index: global.$gse-semantic-zIndex-tooltip;
  display: none;
  inline-size: max-content;
  max-inline-size: ui.$gse-ui-tooltip-maxWidth;
  border-radius: ui.$gse-ui-tooltip-borderRadius;
  box-shadow: ui.$gse-ui-tooltip-boxShadow;
  opacity: 0;
}

:host(.gux-show) {
  display: block;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-delay: 350ms;
  animation-fill-mode: forwards;
}

.gux-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: ui.$gse-ui-tooltip-gap;
  place-content: center flex-start;
  padding: ui.$gse-ui-tooltip-padding;
  font-family: ui.$gse-ui-tooltip-text-fontFamily;
  font-size: ui.$gse-ui-tooltip-text-fontSize;
  font-weight: ui.$gse-ui-tooltip-text-fontWeight;
  line-height: ui.$gse-ui-tooltip-text-lineHeight;
  color: ui.$gse-ui-tooltip-light-foregroundColor;
  pointer-events: none;
  background-color: ui.$gse-ui-tooltip-light-backgroundColor;
  border: ui.$gse-ui-tooltip-light-border-width
    ui.$gse-ui-tooltip-light-border-style ui.$gse-ui-tooltip-light-border-color;
  border-radius: ui.$gse-ui-tooltip-borderRadius;

  ::slotted(gux-icon) {
    align-self: center;
    inline-size: ui.$gse-ui-icon-small-size;
    block-size: ui.$gse-ui-icon-small-size;
    color: ui.$gse-ui-tooltip-light-foregroundColor;
  }

  ::slotted(*) {
    inline-size: 100%;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &.gux-dark {
    color: ui.$gse-ui-tooltip-dark-foregroundColor;
    background-color: ui.$gse-ui-tooltip-dark-backgroundColor;
    border: ui.$gse-ui-tooltip-dark-border-width
      ui.$gse-ui-tooltip-dark-border-style ui.$gse-ui-tooltip-dark-border-color;

    ::slotted(gux-icon) {
      align-self: center;
      inline-size: ui.$gse-ui-icon-small-size;
      block-size: ui.$gse-ui-icon-small-size;
      color: ui.$gse-ui-tooltip-dark-iconColor;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
