gux-option {
  box-sizing: border-box;
  display: flex;
  min-height: 32px;
  padding: 6px 8px;
  color: #2e394c;
  word-wrap: break-word;
  cursor: pointer;
}
gux-option.gux-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
gux-option.gux-selected {
  background: #deeaff;
}
gux-option.gux-active,
gux-option.gux-hovered:not(:disabled) {
  color: #fdfdfd;
  background: #2a60c8;
}
gux-option.gux-filtered {
  display: none;
}
