@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/typography.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

.gux-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px; //TODO https://inindca.atlassian.net/browse/COMUI-2444
  background-color: var(--gse-ui-advancedTabs-set-backgroundColor);

  .gux-scrollable-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid var(--gse-ui-advancedTabs-divider-dividerColor); //TODO https://inindca.atlassian.net/browse/COMUI-2444
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: 0;
    }

    .gux-tablist {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only;
}
