@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/typography.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

.gux-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  inline-size: 100%;
  background-color: var(--gse-ui-advancedTabs-set-backgroundColor);

  button {
    block-size: var(--gse-ui-button-default-height);
    padding: var(--gse-ui-button-default-paddingIconOnly);
    border-radius: var(--gse-ui-button-borderRadius);
  }

  [slot='add-tab'] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gux-scrollable-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    border-block-end: var(--gse-ui-advancedTabs-item-divider-border-width)
      var(--gse-ui-advancedTabs-item-divider-border-style)
      var(--gse-ui-advancedTabs-item-divider-border-color);
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      block-size: 0;
    }

    .gux-tablist {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only;
}
