<form onchange="notify(event)" oninput="notify(event)">
  <h1>gux-form-field-legacy (Search)</h1>

  <p>slot an input[type=search] element into a gux-form-field-legacy element</p>

  <gux-form-field-legacy label-position="beside">
    <input slot="input" name="search" type="search" placeholder="Search" />
    <label slot="label">Search</label>
  </gux-form-field-legacy>

  <h2>Disabled</h2>

  <gux-form-field-legacy label-position="beside">
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Search"
      disabled
    />
    <label slot="label">Search</label>
  </gux-form-field-legacy>

  <h2>No Visible Label</h2>

  <gux-form-field-legacy label-position="screenreader">
    <input slot="input" name="search" type="search" placeholder="Search" />
    <label slot="label">This will be read by a screenreader</label>
  </gux-form-field-legacy>

  <h2>With smaller width</h2>
  <div style="width: 120px">
    <gux-form-field-legacy label-position="screenreader">
      <input slot="input" name="search" type="search" placeholder="Search" />
      <label slot="label">This will be read by a screenreader</label>
    </gux-form-field-legacy>
  </div>
</form>
