// Variables part
@menu-background-color: @genesys-off-white;
@menu-border-color: #dae1eb;
@menu-shadow: rgba(34, 37, 41, 0.24);
@divider-color: #c3cad4;

genesys-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    > li {
      position: relative;
      height: 32px;
      line-height: 32px;
      padding: 0px 16px;
      display: flex;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
      &.divider {
        height: 1px;
        margin: 5px 12px;
        pointer-events: none;
      }
    }
  }
}

// Theming

// Dark
.genesys-list-dark-theme {
  color: @genesys-grey-2;
  ul {
    background: @menu-background-color;
    border-color: 1px solid @menu-border-color;
    box-shadow: 0px 0 2px 0px @menu-shadow;
    > li {
      &:not(.disabled) {
        &:hover,
        &:focus {
          background: @genesys-dark-blue;
          color: @genesys-off-white;
        }
      }
      &.divider {
        background-color: @divider-color;
      }
    }
  }
}

.genesys-dark-theme {
  genesys-list {
    &:extend(.genesys-list-dark-theme);
  }
}
genesys-list.genesys-dark-theme {
  &:extend(.genesys-list-dark-theme);
}

// Light
.genesys-list-light-theme {
  ul {
    background: @menu-background-color;
    border-color: 1px solid @menu-border-color;
    box-shadow: 0px 0 2px 0px @menu-shadow;
    > li {
      &:not(.disabled) {
        &:hover,
        &:focus {
          background: @genesys-dark-blue;
          color: @genesys-off-white;
        }
      }
      &.divider {
        background-color: @divider-color;
      }
    }
  }
}

.genesys-light-theme {
  genesys-list {
    &:extend(.genesys-list-light-theme);
  }
}
genesys-list.genesys-light-theme {
  &:extend(.genesys-list-light-theme);
}

// Default Theme
genesys-list {
  .genesys-list-light-theme;
}
