@mixin focus-and-hover-copy-content {
  ::slotted(*) {
    background-color: var(
      --gse-ui-copyToClipboard-label-active-backgroundColor
    );
  }

  gux-icon[icon-name='fa/copy-regular'] {
    visibility: visible;
  }
}

button {
  all: unset;
}

.gux-copy-to-clipboard-wrapper {
  display: inline-flex;
  align-items: center;

  .gux-copy-content {
    display: inherit;
    gap: var(--gse-ui-copyToClipboard-contentContainer-gap);
    align-items: inherit;
    cursor: pointer;

    ::slotted(*) {
      padding: var(--gse-ui-copyToClipboard-label-padding);
      font-family: var(--gse-ui-copyToClipboard-label-text-fontFamily);
      font-size: var(--gse-ui-copyToClipboard-label-text-fontSize);
      font-weight: var(--gse-ui-copyToClipboard-label-text-fontWeight);
      line-height: var(--gse-ui-copyToClipboard-label-text-lineHeight);
      color: var(--gse-ui-copyToClipboard-label-foregroundColor);
      text-decoration: var(--gse-ui-copyToClipboard-label-text-textDecoration);
      border-radius: var(--gse-ui-copyToClipboard-label-borderRadius);
    }

    &:hover {
      @include focus-and-hover-copy-content;
    }

    gux-icon[icon-name='fa/copy-regular'] {
      flex-shrink: 0;
      width: var(--gse-ui-icon-size-sm);
      height: var(--gse-ui-icon-size-sm);
      padding: var(--gse-ui-copyToClipboard-iconContainer-padding);
      visibility: hidden;
      background-color: var(
        --gse-ui-copyToClipboard-label-active-backgroundColor
      );
      border-radius: var(--gse-ui-copyToClipboard-label-borderRadius);
    }
  }

  &:focus-visible {
    outline: none;

    @include focus-and-hover-copy-content;
  }

  gux-tooltip {
    display: inline-flex;
    align-items: center;

    .gux-tooltip-content > * {
      vertical-align: middle;
    }

    gux-icon {
      width: var(--gse-ui-icon-size-sm);
      height: var(--gse-ui-icon-size-sm);
      padding: var(--gse-ui-copyToClipboard-iconContainer-padding);

      &[icon-name='fa/circle-check-solid'] {
        color: var(
          --gse-ui-copyToClipboard-tooltipIcon-success-foregroundColor
        );
      }

      &[icon-name='fa/circle-xmark-solid'] {
        color: var(--gse-ui-copyToClipboard-tooltipIcon-error-foregroundColor);
      }
    }
  }
}
