@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

@mixin focus-and-hover-copy-content {
  ::slotted(*) {
    background-color: ui.$gse-ui-copyToClipboard-label-active-backgroundColor;
  }

  gux-icon[icon-name='fa/copy-regular'] {
    visibility: visible;
  }
}

button {
  all: unset;
}

.gux-copy-to-clipboard-wrapper {
  display: inline-flex;
  align-items: center;
  max-inline-size: 100%;

  .gux-copy-content {
    display: inherit;
    gap: ui.$gse-ui-copyToClipboard-contentContainer-gap;
    align-items: inherit;
    max-inline-size: 100%;
    cursor: pointer;

    ::slotted(*) {
      padding: ui.$gse-ui-copyToClipboard-label-padding;
      font-family: ui.$gse-ui-copyToClipboard-label-text-fontFamily;
      font-size: ui.$gse-ui-copyToClipboard-label-text-fontSize;
      font-weight: ui.$gse-ui-copyToClipboard-label-text-fontWeight;
      line-height: ui.$gse-ui-copyToClipboard-label-text-lineHeight;
      color: ui.$gse-ui-copyToClipboard-label-foregroundColor;
      text-decoration: ui.$gse-ui-copyToClipboard-label-text-textDecoration;
      border-radius: ui.$gse-ui-copyToClipboard-label-borderRadius;
    }

    &:hover {
      @include focus-and-hover-copy-content;
    }

    gux-icon[icon-name='fa/copy-regular'] {
      visibility: hidden;
      flex-shrink: 0;
      padding: ui.$gse-ui-copyToClipboard-iconContainer-padding;
      background-color: ui.$gse-ui-copyToClipboard-label-active-backgroundColor;
      border-radius: ui.$gse-ui-copyToClipboard-label-borderRadius;
    }
  }

  &:focus-visible {
    outline: none;

    @include focus-and-hover-copy-content;
  }
}

gux-tooltip.gux-show {
  display: inline-flex;
  align-items: center;

  .gux-tooltip-content {
    display: contents;

    & > * {
      vertical-align: middle;
    }
  }

  gux-icon {
    &[icon-name='fa/circle-check-solid'] {
      color: ui.$gse-ui-copyToClipboard-tooltipIcon-success-foregroundColor;
    }

    &[icon-name='fa/circle-xmark-solid'] {
      color: ui.$gse-ui-copyToClipboard-tooltipIcon-error-foregroundColor;
    }
  }
}
