@use '../../../../style/typography.scss';

:host {
  display: block;
  flex: 1 1 auto;
  align-self: auto;

  &:host(.gux-disabled) {
    pointer-events: none;
    cursor: default;
    // TODO: Get more styles for this from design
  }

  &:host(.gux-filtered) {
    display: none;
  }

  .gux-option-group-label {
    display: block;
    padding: var(--gse-ui-menu-groupedMenu-title-padding);
    color: var(--gse-ui-menu-groupedMenu-title-foregroundColor);

    @include typography.heading-overline;
  }
}
