@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/typography.scss';

.gux-option-group {
  display: block;
  flex: 1 1 auto;
  align-self: auto;

  .gux-option-group-label {
    display: block;
    padding: ui.$gse-ui-menu-groupedMenu-title-padding;
    color: ui.$gse-ui-menu-groupedMenu-title-foregroundColor;

    @include typography.heading-overline;
  }
}

:host(.gux-filtered) {
  display: none;
}
