<h1>gux-badge-beta</h1>

<h2>Badges</h2>

<h2>Subtle</h2>
<div class="badges">
  <gux-badge-beta>No Impact</gux-badge-beta>
  <gux-badge-beta color="neutral">No Impact (explicit)</gux-badge-beta>
  <gux-badge-beta color="green">Resolved</gux-badge-beta>
  <gux-badge-beta color="yellow">Medium Impact</gux-badge-beta>
  <gux-badge-beta color="red">High Impact</gux-badge-beta>
</div>

<h2>Bold</h2>
<div class="badges">
  <gux-badge-beta bold color="neutral">No Impact</gux-badge-beta>
  <gux-badge-beta bold color="green">Resolved</gux-badge-beta>
  <gux-badge-beta bold color="yellow">Medium Impact</gux-badge-beta>
  <gux-badge-beta bold color="red">High Impact</gux-badge-beta>
</div>

<h2>Icon + Label</h2>
<div class="badges">
  <gux-badge-beta color="neutral">
    <gux-icon icon-name="subtract" decorative></gux-icon>No Impact
  </gux-badge-beta>
  <gux-badge-beta bold color="neutral">
    <gux-icon icon-name="subtract" decorative></gux-icon>No Impact
  </gux-badge-beta>
</div>

<h2>Custom colors</h2>
<div class="badges">
  <gux-badge-beta color="custom" class="custom">Custom</gux-badge-beta>
  <gux-badge-beta color="custom" class="custom">
    <gux-icon icon-name="subtract" decorative></gux-icon>No Impact
  </gux-badge-beta>
</div>
<p>
  Define the following custom properties in your CSS to apply custom colors to
  the text & background.
</p>
<ul>
  <li>--gux-badge-text-color</li>
  <li>-gux-badge-background-color</li>
</ul>
<gux-inline-alert-beta accent="error" class="custom-color-warning">
  <strong>Important:</strong>
  Color contrast must be at least 4.5:1 to pass WCAG AA guidelines.
  <a href="https://webaim.org/resources/contrastchecker/" target="_blank">
    Check contrast
  </a>
</gux-inline-alert-beta>

<style>
  .badges {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid var(--gux-charcoal-grey);
  }

  gux-badge-beta {
    max-width: 100px;
    margin: 4px;
  }

  .custom {
    --gux-badge-background-color: rebeccapurple;
    --gux-badge-text-color: white;
  }

  .custom-color-warning {
    margin-top: 16px;
  }
</style>
