<div class="scroll-container">
  <div class="scroll-interior">
    <div id="popover-target">Example Element</div>
    <gux-popover id="popover-example" position="top" for="popover-target">
      <div>popover content</div>
    </gux-popover>
  </div>
</div>

<style
  onload="(function () {
  const popoverTarget = document.getElementById('popover-target');
  const popoverExample = document.getElementById('popover-example');

  popoverTarget.addEventListener('mouseover', () => {
    popoverExample.hidden = false;
  });
})()"
>
  .scroll-container {
    border: 1px solid #aaa;
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: scroll;
  }

  .scroll-interior {
    height: 600px;
    width: 600px;
    position: relative;
    background-color: #fff;
  }

  #popover-target {
    display: inline-block;
    padding: 10px 15px;
    position: absolute;
    top: 250px;
    left: 250px;
    border: 1px #e4e9f0;
    box-shadow: 0 0 2px rgba(34, 37, 41, 0.24);
    background-color: #fdfdfd;
  }
</style>
