@import (reference) '../../../style/color.less';

// Style
gux-popover {
  z-index: 2;
  color: @gux-type;

  .gux-popover-wrapper {
    display: flex;
    flex-direction: column;
    background-color: @gux-type-dark;
    border: 1px @gux-border;
    box-shadow: 0 0 2px fade(@gux-black-30, 24%);
  }

  .gux-arrow,
  .gux-arrow::after {
    position: absolute;
    width: 0;
    height: 0;
    content: ' ';
    border-color: transparent;
    border-style: solid;
  }

  .gux-arrow {
    border-width: 6px;
  }

  .gux-arrow::after {
    border-width: 4px;
  }

  &[data-popper-placement='bottom'],
  &[data-popper-placement='bottom-start'],
  &[data-popper-placement='bottom-end'] {
    margin-top: 6px;

    .gux-arrow {
      margin-top: -12px;
      border-bottom-color: @gux-border;

      &::after {
        margin-top: -2px;
        margin-left: -4px;
        border-bottom-color: @gux-type-dark;
      }
    }
  }

  &[data-popper-placement='top'],
  &[data-popper-placement='top-start'],
  &[data-popper-placement='top-end'] {
    margin-bottom: 6px;

    .gux-arrow {
      bottom: 0;
      margin-bottom: -12px;
      border-top-color: @gux-border;

      &::after {
        margin-top: -6px;
        margin-left: -4px;
        border-top-color: @gux-type-dark;
      }
    }
  }

  &[data-popper-placement='left'],
  &[data-popper-placement='left-start'],
  &[data-popper-placement='left-end'] {
    margin-right: 6px;

    .gux-arrow {
      right: 0;
      margin-right: -12px;
      border-left-color: @gux-border;

      &::after {
        margin-top: -4px;
        margin-left: -6px;
        border-left-color: @gux-type-dark;
      }
    }
  }

  &[data-popper-placement='right'],
  &[data-popper-placement='right-start'],
  &[data-popper-placement='right-end'] {
    margin-left: 6px;

    .gux-arrow {
      margin-left: -12px;
      border-right-color: @gux-border;

      &::after {
        margin-top: -4px;
        margin-left: -2px;
        border-right-color: @gux-type-dark;
      }
    }
  }

  .gux-title-bar {
    align-self: flex-end;
    margin-bottom: -16px;

    .gux-dismiss {
      width: 12px;
      height: 12px;
      padding: 4px 4px 0 0;
      color: @gux-type;
      cursor: pointer;

      &:hover {
        color: @gux-blue-60;
      }
    }
  }

  .gux-popover-content {
    margin: 16px 18px;
  }
}
