@use '~genesys-spark/src/style/mixins.scss';

// Style
:host {
  display: inline-block;
  height: fit-content;
  border-radius: var(--gse-ui-badge-borderRadius);
}

.gux-badge {
  display: flex;
  flex-direction: row;
  gap: var(--gse-ui-badge-gap);
  align-items: center;
  justify-content: center;
  height: var(--gse-ui-badge-height);
  padding: 2px 12px; //COMUI-2355 . Missing token 2px top and bottom and 12px for left and right paddings.
  font-family: var(--gse-ui-badge-text-fontFamily);
  font-size: var(--gse-ui-badge-text-fontSize);
  font-weight: var(--gse-ui-badge-text-fontWeight);
  line-height: var(--gse-ui-badge-text-lineHeight);
  border-radius: var(--gse-ui-badge-borderRadius);

  gux-tooltip-title {
    white-space: nowrap;
  }

  .gux-sr-only {
    @include mixins.gux-sr-only-clip;
  }

  &.gux-info {
    color: var(--gse-ui-badge-info-regular-foregroundColor);
    background-color: var(--gse-ui-badge-info-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-info-bold-foregroundColor);
      background-color: var(--gse-ui-badge-info-bold-backgroundColor);
    }
  }

  &.gux-error {
    color: var(--gse-ui-badge-error-regular-foregroundColor);
    background-color: var(--gse-ui-badge-error-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-error-bold-foregroundColor);
      background-color: var(--gse-ui-badge-error-bold-backgroundColor);
    }
  }

  &.gux-warning {
    color: var(--gse-ui-badge-warning-regular-foregroundColor);
    background-color: var(--gse-ui-badge-warning-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-warning-bold-foregroundColor);
      background-color: var(--gse-ui-badge-warning-bold-backgroundColor);
    }
  }

  &.gux-success {
    color: var(--gse-ui-badge-success-regular-foregroundColor);
    background-color: var(--gse-ui-badge-success-regular-backgroundColor);

    &.gux-bold {
      color: var(--gse-ui-badge-success-bold-foregroundColor);
      background-color: var(--gse-ui-badge-success-bold-backgroundColor);
    }
  }

  &.gux-inherit {
    color: inherit;
    background-color: inherit;
  }
}
