build/
dist/
.docs/
.npmrc
./docs/.npmrc
src/i18n/locales.json

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.iml

.out/
.stencil/
.idea/
.vscode/
.versions/
.coverage/
*-manifest.json
components.d.ts
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
