@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

.gux-form-field-label-indicator-required {
  padding-inline-start: ui.$gse-ui-formControl-formField-gap;
  color: ui.$gse-ui-formControl-label-indicator-requiredColor;
}

.gux-form-field-label-indicator-optional {
  margin-inline-start: ui.$gse-ui-formControl-formField-gap;
  font-family: ui.$gse-ui-formControl-label-indicator-text-fontFamily;
  font-size: ui.$gse-ui-formControl-label-indicator-text-fontSize;
  font-weight: ui.$gse-ui-formControl-label-indicator-text-fontWeight;
  line-height: ui.$gse-ui-formControl-label-indicator-text-lineHeight;
  color: ui.$gse-ui-formControl-label-indicator-optionalColor;
}
