@use '~genesys-spark/dist/scss/focus.scss';

$gux-avatar-mask: "data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 13c0-2.6.7-5 1.8-7.2C21.5 2.3 17.5 0 13 0 5.8 0 0 5.8 0 13s5.8 13 13 13c4.5 0 8.5-2.3 10.8-5.8C22.7 18 22 15.6 22 13z' /%3E%3C/svg%3E";

@mixin mask {
  -webkit-mask-image: url($gux-avatar-mask);
  mask-image: url($gux-avatar-mask);
}

::slotted(img) {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--gse-ui-avatar-small-content-size);
  block-size: var(--gse-ui-avatar-small-content-size);
  padding: 0;
  margin: 0;
  margin-inline-end: var(--gse-ui-avatar-groupSet-gap);
  overflow: hidden;
  line-height: 0px;
  color: var(--gse-ui-avatar-media-initialsForeground-inverse);
  cursor: pointer;
  background: none;
  background-color: var(--gse-ui-avatar-media-initialsBackground-default);
  border: none;
  border-radius: 50%;

  @include mask;

  &:focus-visible,
  &:hover {
    position: relative;
    z-index: var(--gse-semantic-zIndex-showFocus);
    mask: none;

    @include focus.gux-focus-ring;
  }

  &.gux-last-item {
    mask: none;
  }

  .gux-avatar-initials {
    font-family: var(--gse-ui-avatar-small-initials-fontFamily);
    font-size: var(--gse-ui-avatar-small-initials-fontSize);
    font-weight: var(--gse-ui-avatar-small-initials-fontWeight);
    line-height: 1;
    text-transform: uppercase;
  }

  &.gux-accent-1 {
    color: var(--gse-ui-avatar-media-initialsForeground-inverse);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent1);
  }

  &.gux-accent-2 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent2);
  }

  &.gux-accent-3 {
    color: var(--gse-ui-avatar-media-initialsForeground-inverse);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent3);
  }

  &.gux-accent-4 {
    color: var(--gse-ui-avatar-media-initialsForeground-inverse);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent4);
  }

  &.gux-accent-5 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent5);
  }

  &.gux-accent-6 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent6);
  }

  &.gux-accent-7 {
    color: var(--gse-ui-avatar-media-initialsForeground-inverse);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent7);
  }

  &.gux-accent-8 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent8);
  }

  &.gux-accent-9 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent9);
  }

  &.gux-accent-10 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent10);
  }

  &.gux-accent-11 {
    color: var(--gse-ui-avatar-media-initialsForeground-default);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent11);
  }

  &.gux-accent-12 {
    color: var(--gse-ui-avatar-media-initialsForeground-inverse);
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent12);
  }

  &.gux-accent-inherit {
    color: inherit;
    background-color: inherit;
  }
}
