<gux-button
  accent="primary"
  onClick='(function() {
      document.getElementById("palette").open();
  })()'
  >Open</gux-button
>

<gux-button
  accent="primary"
  onClick='(function() {
      document.getElementById("palette").close();
  })()'
  >Close</gux-button
>

<gux-command-palette-beta id="palette" lang="en">
  <gux-command-action text="command 1" common></gux-command-action>
  <gux-command-action text="command 2" recent></gux-command-action>
  <gux-command-action text="command 3" recent></gux-command-action>
  <gux-command-action text="command 4"></gux-command-action>
  <gux-command-action text="command 5"></gux-command-action>
  <gux-command-action text="command 6"></gux-command-action>
  <gux-command-action text="command 7"></gux-command-action>
  <gux-command-action text="command 8"></gux-command-action>
  <gux-command-action text="command 9"></gux-command-action>
  <gux-command-action text="command 10"></gux-command-action>
  <gux-command-action text="command 11"></gux-command-action>
  <gux-command-action text="command 12"></gux-command-action>
</gux-command-palette-beta>
