@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: inline-flex;
  inline-size: 1em;
  block-size: 1em;
}

:host([size='small']) {
  inline-size: ui.$gse-ui-icon-small-size;
  block-size: ui.$gse-ui-icon-small-size;
}

:host([size='medium']) {
  inline-size: ui.$gse-ui-icon-medium-size;
  block-size: ui.$gse-ui-icon-medium-size;
}

:host([size='large']) {
  inline-size: ui.$gse-ui-icon-large-size;
  block-size: ui.$gse-ui-icon-large-size;
}

.gux-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;

  svg {
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    fill: currentcolor;
  }
}
