@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

.gux-calendar-beta {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  font-family: var(--gse-ui-calendarMenu-month-defaultText-fontFamily);
  font-size: var(--gse-ui-calendarMenu-month-defaultText-fontSize);
  background: var(--gse-ui-calendarMenu-date-selected-foregroundColor);
  border-radius: 8px; // --gse-ui-calendarMenu-single-header-borderRadius and --gse-ui-calendarMenu-single-body-borderRadius need to be combined
  box-shadow: var(--gse-ui-calendarMenu-boxShadow);

  .gux-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: var(--gse-ui-calendarMenu-month-single-header-height);
    padding: var(--gse-ui-calendarMenu-header-padding);
    font-style: normal;
    font-weight: var(--gse-ui-calendarMenu-month-currentText-fontWeight);
    color: var(--gse-ui-calendarMenu-header-foregroundColor);
    text-align: center;
    background-color: var(--gse-ui-calendarMenu-header-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-header-borderRadius);

    .gux-header-month-and-year {
      inline-size: var(--gse-ui-calendarMenu-month-single-header-textWidth);
      font-family: var(--gse-ui-calendarMenu-month-headerText-fontFamily);
      font-size: var(--gse-ui-calendarMenu-month-headerText-fontSize);
      line-height: var(--gse-ui-calendarMenu-month-headerText-lineHeight);
      color: var(--gse-ui-calendarMenu-month-selected-foregroundColor);
    }

    .gux-left,
    .gux-right {
      block-size: 100%;
      color: var(--gse-ui-calendarMenu-header-foregroundColor);
      cursor: pointer;
      outline: none;
      background: none;
      border: none;

      &:focus-visible {
        @include focus.gux-focus-ring;
      }
    }
  }

  .gux-content {
    display: flex;
    flex-direction: column;
    gap: var(--gse-ui-calendarMenu-dateBody-gap);
    padding: var(--gse-ui-calendarMenu-dateBody-padding);
    color: var(--gse-ui-calendarMenu-date-default-foregroundColor);
    background-color: var(--gse-ui-calendarMenu-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-body-borderRadius);

    .gux-week-days {
      font-family: var(--gse-ui-calendarMenu-day-headerText-fontFamily);
      font-size: var(--gse-ui-calendarMenu-day-headerText-fontSize);
      font-weight: var(--gse-ui-calendarMenu-day-headerText-fontWeight);
      color: var(--gse-ui-calendarMenu-month-default-foregroundColor);
      text-align: center;

      .gux-week-day {
        display: inline-block;
        inline-size: var(--gse-ui-calendarMenu-day-range-height);
        block-size: var(--gse-ui-calendarMenu-day-range-width);
      }
    }

    .gux-content-week {
      .gux-content-date {
        display: inline-block;
        inline-size: var(--gse-ui-calendarMenu-day-date-size);
        block-size: var(--gse-ui-calendarMenu-day-input-height);
        font-family: var(--gse-ui-calendarMenu-date-currentText-fontFamily);
        font-size: var(--gse-ui-calendarMenu-date-defaultText-fontSize);
        font-style: normal;
        font-weight: var(--gse-ui-calendarMenu-date-defaultText-fontWeight);
        line-height: 32px;
        vertical-align: middle;
        text-align: center;
        outline: none;
        border: none;
        opacity: var(--gse-ui-calendarMenu-disabled-opacity);

        &.gux-current-month {
          // TODO: Is this the correct token to use here?
          color: var(--gse-ui-calendarMenu-month-default-foregroundColor);
          opacity: 1;
        }

        &.gux-hidden {
          display: none;
        }

        &.gux-disabled {
          pointer-events: none;
        }

        &.gux-selected {
          color: var(--gse-ui-calendarMenu-date-selected-foregroundColor);
          outline: none;
          background-color: var(
            --gse-ui-calendarMenu-date-selected-backgroundColor
          );
          border: none;
          border-radius: var(--gse-ui-calendarMenu-month-borderRadius);

          &:hover {
            background-color: var(
              --gse-ui-calendarMenu-date-selected-hoverBackgroundColor
            );
          }
        }

        &:hover {
          cursor: pointer;
          background-color: var(
            --gse-ui-calendarMenu-date-hover-backgroundColor
          );
          border-radius: var(--gse-ui-calendarMenu-month-borderRadius);
        }

        &:focus-visible {
          border-radius: var(--gse-ui-calendarMenu-month-focusBorderRadius);

          @include focus.gux-focus-ring;
        }

        .gux-sr-only {
          @include mixins.gux-sr-only-clip;
        }

        &.gux-current-date {
          font-family: var(--gse-ui-calendarMenu-month-currentText-fontFamily);
          font-size: var(--gse-ui-calendarMenu-date-currentText-fontSize);
          font-weight: var(--gse-ui-calendarMenu-date-currentText-fontWeight);
        }
      }
    }
  }
}
