@use '../../../../../style/mixins';

// Design tokens used for the calendar:
//
// @prop --gse-ui-calendarMenu-day-range-width ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-day-range-height ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-day-input-height
// @prop --gse-ui-calendarMenu-day-input-width ** Not used. Where exactly should this be used?
// @prop --gse-ui-calendarMenu-day-headerText-fontFamily
// @prop --gse-ui-calendarMenu-day-headerText-lineHeight
// @prop --gse-ui-calendarMenu-day-headerText-fontSize
// @prop --gse-ui-calendarMenu-day-headerText-fontWeight
// @prop --gse-ui-calendarMenu-day-date-size
// @prop --gse-ui-calendarMenu-height ** Token not used. Where exactly should this be used?
// @prop --gse-ui-calendarMenu-width ** Token not used. Where exactly should this be used?
// @prop --gse-ui-calendarMenu-month-default-foregroundColor
// @prop --gse-ui-calendarMenu-month-single-header-textWidth
// @prop --gse-ui-calendarMenu-month-single-header-width ** Token not used. Is this needed?
// @prop --gse-ui-calendarMenu-month-single-header-height ** Token not used. Is this needed?
// @prop --gse-ui-calendarMenu-month-monthCell-width ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-month-monthCell-height ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-month-headerText-fontFamily
// @prop --gse-ui-calendarMenu-month-headerText-lineHeight
// @prop --gse-ui-calendarMenu-month-headerText-fontSize
// @prop --gse-ui-calendarMenu-month-range-vertical-width ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-month-range-vertical-height ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-month-defaultText-fontFamily
// @prop --gse-ui-calendarMenu-month-defaultText-lineHeight ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-month-defaultText-fontSize
// @prop --gse-ui-calendarMenu-month-defaultText-fontWeight
// @prop --gse-ui-calendarMenu-month-currentText-fontFamily
// @prop --gse-ui-calendarMenu-month-currentText-lineHeight
// @prop --gse-ui-calendarMenu-month-currentText-fontSize
// @prop --gse-ui-calendarMenu-month-currentText-fontWeight
// @prop --gse-ui-calendarMenu-month-borderRadius
// @prop --gse-ui-calendarMenu-month-focusBorderRadius
// @prop --gse-ui-calendarMenu-month-selected-foregroundColor
// @prop --gse-ui-calendarMenu-month-selected-backgroundColor
// @prop --gse-ui-calendarMenu-month-selected-hoverBackgroundColor
// @prop --gse-ui-calendarMenu-month-hover-backgroundColor
// @prop --gse-ui-calendarMenu-dateBody-padding
// @prop --gse-ui-calendarMenu-dateBody-gap ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-header-backgroundColor
// @prop --gse-ui-calendarMenu-header-foregroundColor
// @prop --gse-ui-calendarMenu-header-gap ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-header-padding
// @prop --gse-ui-calendarMenu-backgroundColor
// @prop --gse-ui-calendarMenu-date-defaultText-fontFamily
// @prop --gse-ui-calendarMenu-date-defaultText-lineHeight ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-date-defaultText-fontSize
// @prop --gse-ui-calendarMenu-date-defaultText-fontWeight
// @prop --gse-ui-calendarMenu-date-currentText-fontFamily
// @prop --gse-ui-calendarMenu-date-currentText-lineHeight ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-date-currentText-fontSize
// @prop --gse-ui-calendarMenu-date-currentText-fontWeight
// @prop --gse-ui-calendarMenu-date-selected-foregroundColor
// @prop --gse-ui-calendarMenu-date-selected-backgroundColor
// @prop --gse-ui-calendarMenu-date-selected-hoverBackgroundColor
// @prop --gse-ui-calendarMenu-date-hover-backgroundColor
// @prop --gse-ui-calendarMenu-date-range-backgroundColor ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-date-default-foregroundColor
// @prop --gse-ui-calendarMenu-single-header-borderRadius
// @prop --gse-ui-calendarMenu-single-body-borderRadius
// @prop --gse-ui-calendarMenu-range-header-firstMonth-borderRadius ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-range-header-secondMonth-borderRadius ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-range-body-firstMonth-borderRadius ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-range-body-secondMonth-borderRadius ** Token not used. Range logic will be implemented in the future
// @prop --gse-ui-calendarMenu-disabled-opacity
// @prop --gse-ui-calendarMenu-monthBody-padding
// @prop --gse-ui-calendarMenu-monthBody-gap ** Token not used. Do we need this?
// @prop --gse-ui-calendarMenu-boxShadow-color ** Token not used. Can we combine all box-shadow tokens into one token?
// @prop --gse-ui-calendarMenu-boxShadow-type ** Token not used. Can we combine all box-shadow tokens into one token?
// @prop --gse-ui-calendarMenu-boxShadow-x ** Token not used. Can we combine all box-shadow tokens into one token?
// @prop --gse-ui-calendarMenu-boxShadow-y ** Token not used. Can we combine all box-shadow tokens into one token?
// @prop --gse-ui-calendarMenu-boxShadow-blur ** Token not used. Can we combine all box-shadow tokens into one token?
// @prop --gse-ui-calendarMenu-boxShadow-spread ** Token not used. Can we combine all box-shadow tokens into one token?

.gux-calendar-beta {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  font-family: var(--gse-ui-calendarMenu-month-defaultText-fontFamily);
  font-size: var(--gse-ui-calendarMenu-month-defaultText-fontSize);
  background: var(--gse-ui-calendarMenu-date-selected-foregroundColor);
  border-radius: var(--gse-ui-calendarMenu-single-body-borderRadius);
  // TODO: Get box-shadow token working instead of hardcoding
  // box-shadow: var(--gse-ui-calendarMenu-boxShadow-color)px var(--gse-ui-calendarMenu-boxShadow-x)px var(--gse-ui-calendarMenu-boxShadow-y)px var(--gse-ui-calendarMenu-boxShadow-blur)px var(----gse-ui-calendarMenu-boxShadow-spread)px;
  box-shadow: rgb(34 37 41 / 24%) 0 2px 4px;

  .gux-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--gse-ui-calendarMenu-month-single-header-height);
    padding: var(--gse-ui-calendarMenu-header-padding);
    font-style: normal;
    font-weight: var(--gse-ui-calendarMenu-month-currentText-fontWeight);
    color: var(--gse-ui-calendarMenu-header-foregroundColor);
    text-align: center;
    background-color: var(--gse-ui-calendarMenu-header-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-header-borderRadius);

    .gux-header-month-and-year {
      width: var(--gse-ui-calendarMenu-month-single-header-textWidth);
      font-family: var(--gse-ui-calendarMenu-month-headerText-fontFamily);
      font-size: var(--gse-ui-calendarMenu-month-headerText-fontSize);
      line-height: var(--gse-ui-calendarMenu-month-headerText-lineHeight);
      color: var(--gse-ui-calendarMenu-month-selected-foregroundColor);
    }

    .gux-left,
    .gux-right {
      color: var(--gse-ui-calendarMenu-month-monthHeader-foregroundColor);
      cursor: pointer;
      background: none;
      border: none;
      outline: none;

      &:focus-visible {
        outline: 2px solid #aac9ff;
        outline-offset: 1px;
      }

      gux-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  .gux-week-days {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: var(--gse-ui-calendarMenu-day-headerText-fontFamily);
    font-size: var(--gse-ui-calendarMenu-day-headerText-fontSize);
    font-weight: var(--gse-ui-calendarMenu-day-headerText-fontWeight);
    color: var(--gse-ui-calendarMenu-day-dayHeader-foregroundColor);
    text-align: center;

    .gux-week-day {
      display: inline-block;
      width: var(--gse-ui-calendarMenu-day-date-size);
      height: 16px;
      font-weight: var(--gse-ui-calendarMenu-day-header-fontWeight);
    }
  }

  .gux-content {
    padding: var(--gse-ui-calendarMenu-dateBody-padding);
    color: var(--gse-core-color-cornflower-900);
    background-color: var(--gse-ui-calendarMenu-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-body-borderRadius);
  }

  .gux-content-week {
    .gux-content-date {
      display: inline-block;
      width: var(--gse-ui-calendarMenu-day-date-size);
      height: var(--gse-ui-calendarMenu-day-input-height);
      font-family: var(--gse-ui-calendarMenu-date-currentText-fontFamily);
      font-size: var(--gse-ui-calendarMenu-date-defaultText-fontSize);
      font-style: normal;
      font-weight: var(--gse-ui-calendarMenu-date-defaultText-fontWeight);
      line-height: 32px;
      color: var(--gse-core-color-cornflower-600);
      text-align: center;
      vertical-align: middle;
      border: none;
      outline: none;
      opacity: var(--gse-ui-calendarMenu-disabled-opacity);

      &.gux-current-month {
        // TODO: Is this the correct token to use here?
        color: var(--gse-ui-calendarMenu-month-default-foregroundColor);
        opacity: 1;
      }

      &.gux-hidden {
        display: none;
      }

      &.gux-disabled {
        pointer-events: none;
      }

      &.gux-selected {
        color: var(--gse-ui-calendarMenu-date-selected-foregroundColor);
        background-color: var(
          --gse-ui-calendarMenu-date-selected-backgroundColor
        );
        border: none;
        border-radius: var(--gse-ui-calendarMenu-month-borderRadius);
        outline: none;

        &:hover {
          background-color: var(
            --gse-ui-calendarMenu-date-selected-hoverBackgroundColor
          );
        }
      }

      &:hover {
        cursor: pointer;
        background-color: var(--gse-ui-calendarMenu-date-hover-backgroundColor);
        border-radius: var(--gse-ui-calendarMenu-month-borderRadius);
      }

      &:focus-visible {
        border-radius: var(--gse-ui-calendarMenu-month-focusBorderRadius);
        outline: 1px solid #7b61ff;
      }

      .gux-sr-only {
        @include mixins.gux-sr-only-clip;
      }

      &.gux-current-date {
        font-family: var(--gse-ui-calendarMenu-month-currentText-fontFamily);
        font-size: var(--gse-ui-calendarMenu-date-currentText-fontSize);
        font-weight: var(--gse-ui-calendarMenu-date-currentText-fontWeight);
      }
    }
  }
}
