<gux-flyout-menu-beta onclick="notify(event)">
  <span slot="target">Example Target Element</span>
  <gux-menu slot="menu">
    <gux-menu-option>Option One</gux-menu-option>
    <gux-submenu label="Submenu Two">
      <gux-menu-option>Option One</gux-menu-option>
      <gux-submenu label="Submenu Two">
        <gux-menu-option>Option One</gux-menu-option>
        <gux-menu-option>Option Two</gux-menu-option>
        <gux-menu-option>Option Three</gux-menu-option>
      </gux-submenu>
      <gux-menu-option>Option Three</gux-menu-option>
    </gux-submenu>
    <gux-menu-option>Option Three</gux-menu-option>
    <gux-menu-option>Option Four</gux-menu-option>
    <gux-submenu label="Submenu Five">
      <gux-menu-option>Option One</gux-menu-option>
      <gux-menu-option>Option Two</gux-menu-option>
      <gux-submenu label="Submenu Three">
        <gux-menu-option>Option One</gux-menu-option>
        <gux-submenu label="Submenu Two">
          <gux-menu-option>Option One</gux-menu-option>
          <gux-menu-option>Option Two</gux-menu-option>
          <gux-menu-option>Option Three</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option Three</gux-menu-option>
      </gux-submenu>
    </gux-submenu>
  </gux-menu>
</gux-flyout-menu-beta>
