@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/shadows.less';

@gux-arrow-height: 5px;

// Style
gux-flyout-menu-beta {
  z-index: 2;
  color: @gux-type;
  cursor: default;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    * [slot='target'] {
      .focus-ring();
    }
  }

  .gux-flyout-menu-wrapper {
    display: none;
    flex-direction: column;
    background-color: @gux-type-dark;
    border: 1px solid @gux-grey-30;
    border-radius: 4px;
    .gux-shadow-20();

    &.gux-shown {
      display: flex;
    }
  }

  .gux-arrow,
  .gux-arrow::before {
    position: absolute;
    top: -3px;
    width: @gux-arrow-height * 2;
    height: @gux-arrow-height * 2;
    background: inherit;
  }

  .gux-arrow::before {
    visibility: visible;
    content: '';
    border-top: 1px solid @gux-grey-30;
    border-left: 1px solid @gux-grey-30;
    transform: rotate(45deg);
  }

  .gux-flyout-menu-content {
    margin: 0;
  }
}
