@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

@mixin button-text {
  font-family: ui.$gse-ui-button-text-fontFamily;
  font-size: ui.$gse-ui-button-text-fontSize;
  font-weight: ui.$gse-ui-button-text-fontWeight;
  line-height: ui.$gse-ui-button-text-lineHeight;
}

:host {
  display: inline-block;
  pointer-events: none;
}

::slotted(input[type='button']),
::slotted(input[type='submit']),
::slotted(button) {
  @include button-text;

  inline-size: 100%;
  min-inline-size: ui.$gse-ui-button-iconOnly-width;
  block-size: ui.$gse-ui-button-default-height;
  padding: ui.$gse-ui-button-default-padding;
  overflow: hidden;
  text-overflow: ellipsis;
  color: ui.$gse-ui-button-secondary-default-foregroundColor;
  white-space: nowrap;
  pointer-events: auto;
  cursor: pointer;
  background-color: ui.$gse-ui-button-secondary-default-backgroundColor;
  border: none;
  border-radius: ui.$gse-ui-button-borderRadius;
}

:host([icon-only]) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    padding: ui.$gse-ui-button-default-paddingIconOnly;
  }
}

::slotted(input[type='button'][disabled]),
::slotted(input[type='submit'][disabled]),
::slotted(button[disabled]) {
  cursor: default;
  opacity: ui.$gse-ui-button-disabled-opacity;
}

::slotted(input[type='button']:focus),
::slotted(input[type='submit']:focus),
::slotted(button:focus) {
  outline: none;
}

::slotted(input[type='button']:focus-visible:enabled),
::slotted(input[type='submit']:focus-visible:enabled),
::slotted(button:focus-visible:enabled) {
  @include focus.gux-focus-ring;
}

::slotted(input[type='button']:hover:enabled),
::slotted(input[type='submit']:hover:enabled),
::slotted(button:hover:enabled) {
  color: ui.$gse-ui-button-secondary-hover-foregroundColor;
  background-color: ui.$gse-ui-button-secondary-hover-backgroundColor;
}

::slotted(input[type='button']:active:enabled),
::slotted(input[type='submit']:active:enabled),
::slotted(button:active:enabled) {
  color: ui.$gse-ui-button-secondary-active-foregroundColor;
  background-color: ui.$gse-ui-button-secondary-active-backgroundColor;
}

:host([accent='primary']) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    color: ui.$gse-ui-button-primary-default-foregroundColor;
    background-color: ui.$gse-ui-button-primary-default-backgroundColor;
  }

  ::slotted(input[type='button']:hover:enabled),
  ::slotted(input[type='submit']:hover:enabled),
  ::slotted(button:hover:enabled) {
    color: ui.$gse-ui-button-primary-hover-foregroundColor;
    background-color: ui.$gse-ui-button-primary-hover-backgroundColor;
  }

  ::slotted(input[type='button']:active:enabled),
  ::slotted(input[type='submit']:active:enabled),
  ::slotted(button:active:enabled) {
    color: ui.$gse-ui-button-primary-active-foregroundColor;
    background-color: ui.$gse-ui-button-primary-active-backgroundColor;
  }
}

:host([accent='tertiary']) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    color: ui.$gse-ui-button-tertiary-default-foregroundColor;
    background-color: ui.$gse-ui-button-tertiary-default-backgroundColor;
    border-color: ui.$gse-ui-button-tertiary-default-border-color;
    border-style: ui.$gse-ui-button-tertiary-default-border-style;
    border-width: ui.$gse-ui-button-tertiary-default-border-width;
  }

  ::slotted(input[type='button']:hover:enabled),
  ::slotted(input[type='submit']:hover:enabled),
  ::slotted(button:hover:enabled) {
    color: ui.$gse-ui-button-tertiary-hover-foregroundColor;
    background-color: ui.$gse-ui-button-tertiary-hover-backgroundColor;
  }

  ::slotted(input[type='button']:active:enabled),
  ::slotted(input[type='submit']:active:enabled),
  ::slotted(button:active:enabled) {
    color: ui.$gse-ui-button-tertiary-active-foregroundColor;
    background-color: ui.$gse-ui-button-tertiary-active-backgroundColor;
  }
}

:host([accent='ghost']) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    color: ui.$gse-ui-button-ghost-default-foregroundColor;
    background-color: ui.$gse-ui-button-ghost-default-backgroundColor;
  }

  ::slotted(input[type='button']:hover:enabled),
  ::slotted(input[type='submit']:hover:enabled),
  ::slotted(button:hover:enabled) {
    color: ui.$gse-ui-button-ghost-hover-foregroundColor;
    background-color: ui.$gse-ui-button-ghost-hover-backgroundColor;
  }

  ::slotted(input[type='button']:active:enabled),
  ::slotted(input[type='submit']:active:enabled),
  ::slotted(button:active:enabled) {
    color: ui.$gse-ui-button-ghost-active-foregroundColor;
    background-color: ui.$gse-ui-button-ghost-active-backgroundColor;
  }
}

:host([accent='danger']) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    color: ui.$gse-ui-button-danger-default-foregroundColor;
    background-color: ui.$gse-ui-button-danger-default-backgroundColor;
  }

  ::slotted(input[type='button']:hover:enabled),
  ::slotted(input[type='submit']:hover:enabled),
  ::slotted(button:hover:enabled) {
    color: ui.$gse-ui-button-danger-hover-foregroundColor;
    background-color: ui.$gse-ui-button-danger-hover-backgroundColor;
  }

  ::slotted(input[type='button']:active:enabled),
  ::slotted(input[type='submit']:active:enabled),
  ::slotted(button:active:enabled) {
    color: ui.$gse-ui-button-danger-active-foregroundColor;
    background-color: ui.$gse-ui-button-danger-active-backgroundColor;
  }
}

:host([accent='inline']) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    min-inline-size: initial;
    block-size: initial;
    padding: 0;
    color: ui.$gse-ui-links-default-foregroundColor;
    background: none;
    border: none;
  }

  ::slotted(input[type='button'][disabled]),
  ::slotted(input[type='submit'][disabled]),
  ::slotted(button[disabled]) {
    color: ui.$gse-ui-links-disabled-foregroundColor;
  }

  ::slotted(input[type='button']:hover:enabled),
  ::slotted(input[type='submit']:hover:enabled),
  ::slotted(button:hover:enabled) {
    color: ui.$gse-ui-links-hover-foregroundColor;
    text-decoration: underline;
    background: none;
  }

  ::slotted(input[type='button']:active:enabled),
  ::slotted(input[type='submit']:active:enabled),
  ::slotted(button:active:enabled) {
    color: ui.$gse-ui-links-active-foregroundColor;
    text-decoration: underline;
    background: none;
  }
}

:host([accent='input-icon']) {
  ::slotted(input[type='button']),
  ::slotted(input[type='submit']),
  ::slotted(button) {
    inline-size: 16px;
    min-inline-size: initial;
    block-size: 16px;
    padding: 1px;
    color: var(--gse-ui-formControl-input-inputClearable-inputClearableColor);
    background-color: transparent;
  }

  ::slotted(input[type='button']:hover:enabled),
  ::slotted(input[type='submit']:hover:enabled),
  ::slotted(button:hover:enabled) {
    color: var(--gse-semantic-background-interactive-primary-hover);
    background-color: transparent;
  }

  ::slotted(input[type='button']:active:enabled),
  ::slotted(input[type='submit']:active:enabled),
  ::slotted(button:active:enabled) {
    color: var(--gse-semantic-background-interactive-primary-active);
    background-color: transparent;
  }

  ::slotted(input[type='button']:focus-visible:enabled),
  ::slotted(input[type='submit']:focus-visible:enabled),
  ::slotted(button:focus-visible:enabled) {
    // outline: none;
    color: var(--gse-semantic-background-interactive-primary-default);
    background-color: transparent;
  }
}
