.gux-list-items-container {
  padding: 8px 0;
  margin: 0;
  list-style: none;
  background: #fdfdfd;
  border: 1px solid #b4bccb;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(32, 41, 55, 0.24);
}
