:host {
  box-sizing: border-box;
  display: block;
  max-height: var(--gse-ui-menu-maxHeight);
  padding: var(--gse-ui-menu-padding);
  overflow-y: auto;
  background: var(--gse-ui-menu-backgroundColor);
  border: var(--gse-ui-menu-border-width) var(--gse-ui-menu-border-style)
    var(--gse-ui-menu-border-color);
  border-radius: var(--gse-ui-menu-borderRadius);
  outline: none;
  box-shadow: var(--gse-ui-menu-boxShadow-x) var(--gse-ui-menu-boxShadow-y)
    var(--gse-ui-menu-boxShadow-blur) var(--gse-ui-menu-boxShadow-spread)
    var(--gse-ui-menu-boxShadow-color);
  scrollbar-color: var(--gse-ui-menu-scrollbar-foregroundColor);
}

.gux-message-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: stretch center;
  align-items: center;

  .gux-no-matches {
    box-sizing: border-box;
    height: var(--gse-ui-menu-option-height);
    font-family: var(
      --gse-ui-dropdown-menu-emptyState-subheader-text-fontFamily
    );
    font-size: var(--gse-ui-dropdown-menu-emptyState-subheader-text-fontSize);
    font-weight: var(
      --gse-ui-dropdown-menu-emptyState-subheader-text-fontWeight
    );
    line-height: var(
      --gse-ui-dropdown-menu-emptyState-subheader-text-lineHeight
    );
    color: var(--gse-ui-dropdown-menu-emptyState-subheader-foregroundColor);
  }
}
