@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  box-sizing: border-box;
  display: block;
  max-block-size: ui.$gse-ui-menu-maxHeight;
  padding: ui.$gse-ui-menu-padding;
  overflow: hidden auto;
  outline: none;
  scrollbar-color: ui.$gse-ui-menu-scrollbar-foregroundColor;
  background: ui.$gse-ui-menu-backgroundColor;
  border: ui.$gse-ui-menu-border-width ui.$gse-ui-menu-border-style
    ui.$gse-ui-menu-border-color;
  border-radius: ui.$gse-ui-menu-borderRadius;
  box-shadow: ui.$gse-ui-menu-boxShadow;

  ::slotted(gux-select-all) {
    position: sticky;
    inset-block-start: 0;
  }
}

:host(.has-select-all) {
  padding: 0;
}

.gux-message-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: stretch center;
  align-items: center;

  .gux-no-matches {
    box-sizing: border-box;
    block-size: ui.$gse-ui-menu-option-height;
    padding-block: ui.$gse-ui-dropdown-gap;
    font-family: ui.$gse-ui-menu-option-label-active-text-fontFamily;
    font-size: ui.$gse-ui-menu-option-label-active-text-fontSize;
    font-weight: ui.$gse-ui-menu-option-label-active-text-fontWeight;
    line-height: ui.$gse-ui-menu-option-label-active-text-lineHeight;
    color: ui.$gse-ui-menu-option-label-foregroundColor;
  }
}
