@import (reference) '../../../style/color-palette.less';
@import (reference) '../../../style/typography.less';

.gux-container {
  width: 320px;
  min-width: 320px;

  .gux-search {
    gux-content-search {
      width: 100%;

      // Hide native input search clear button
      input[type='search']::-webkit-search-decoration,
      input[type='search']::-webkit-search-cancel-button,
      input[type='search']::-webkit-search-results-button,
      input[type='search']::-webkit-search-results-decoration {
        display: none;
        -webkit-appearance: none;
      }
    }
  }

  .gux-select {
    padding: 8px 0 8px 16px;
    margin: 4px 0;
    color: #596373;
    background-color: #f6f7f9;
    border-radius: 4px;
  }
}

.gux-sr-only {
  .gux-sr-only-clip();
}
