@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

.gux-segmented-control-divider {
  inline-size: ui.$gse-ui-segmentedControl-divider-width;
  block-size: ui.$gse-ui-segmentedControl-dividerLine;
  margin-inline: ui.$gse-ui-segmentedControl-dividerComponent-margin;
  background-color: ui.$gse-ui-segmentedControl-divider-color;
  border-radius: ui.$gse-ui-segmentedControl-borderRadius;
}
