:host {
  // all these to be removed when token issues are fixed
  // COMUI-3125 -> COMUI-3126 subtask
  --gse-ui-button-dismiss-medium-width: 32px;
  --gse-ui-button-dismiss-medium-height: 32px;
  --gse-ui-button-dismiss-small-width: 24px;
  --gse-ui-button-dismiss-small-height: 24px;
}

gux-button-slot {
  position: absolute;
  inset-block-start: var(--gse-ui-modal-dismissButton-paddingTop);
  inset-inline-end: var(--gse-ui-modal-dismissButton-paddingRight);
  inline-size: var(--gse-ui-button-dismiss-medium-width);
  block-size: var(--gse-ui-button-dismiss-medium-height);

  &.gux-dismiss-small {
    inline-size: var(--gse-ui-button-dismiss-small-width);
    block-size: var(--gse-ui-button-dismiss-small-height);

    button {
      inline-size: var(--gse-ui-button-dismiss-small-width);
      block-size: var(
        --gse-ui-button-dismiss-small-height
      ); // button doesn't stay the same height for the small one without this

      padding: 0;
    }
  }

  &.gux-inherit {
    position: inherit;
  }

  .gux-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: stretch center;
    align-items: center;

    gux-icon {
      flex: 0 0 auto;
      align-self: auto;
      order: 0;
      inline-size: 16px;
      block-size: 16px;
      color: var(--gse-ui-dismissButton-foregroundColor);
    }
  }
}
