@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

gux-button-slot {
  position: absolute;
  inset-block-start: 4px;
  inset-inline-end: 4px;
  inline-size: ui.$gse-ui-button-dismiss-medium-width;
  block-size: ui.$gse-ui-button-dismiss-medium-height;

  &.gux-dismiss-small {
    inline-size: ui.$gse-ui-button-dismiss-small-width;
    block-size: ui.$gse-ui-button-dismiss-small-height;

    button {
      inline-size: ui.$gse-ui-button-dismiss-small-width;
      min-inline-size: ui.$gse-ui-button-dismiss-small-width;
      block-size: var(
        --gse-ui-button-dismiss-small-height
      ); // button doesn't stay the same height for the small one without this

      padding: 0;
    }
  }

  &.gux-inherit {
    position: inherit;
    inset-block-start: inherit;
    inset-inline-end: inherit;
  }

  .gux-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: stretch center;
    align-items: center;

    gux-icon {
      flex: 0 0 auto;
      align-self: auto;
      order: 0;
      color: ui.$gse-ui-dismissButton-foregroundColor;
    }
  }
}
