@import (reference) '../../../style/color.less';
@import (reference) '../../../style/spacing.less';
@import (reference) '../../../style/focus.less';

button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  color: @gux-black-90;
  background: transparent;
  border: none;
  border-radius: 4px;

  &.gux-inherit {
    position: inherit;
  }

  &:not(:disabled):focus-visible,
  &:not(:disabled):hover {
    color: @gux-black-50;
    cursor: pointer;
  }

  gux-icon {
    width: 16px;
    height: 16px;
    margin: @gux-spacing-2xs;
    border-radius: 4px;
  }

  &:focus {
    outline: none;

    gux-icon {
      outline: none;
    }
  }

  &:focus-visible:enabled {
    gux-icon {
      .gux-focus-ring();
    }
  }
}
