@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  box-sizing: border-box;
  gap: ui.$gse-ui-menu-option-gap;
  align-content: stretch;
  min-block-size: ui.$gse-ui-menu-option-height;
  font-family: ui.$gse-ui-dropdown-menu-selectAll-labelText-fontFamily;
  font-size: ui.$gse-ui-dropdown-menu-selectAll-labelText-fontSize;
  font-weight: ui.$gse-ui-dropdown-menu-selectAll-labelText-fontWeight;
  line-height: ui.$gse-ui-dropdown-menu-selectAll-labelText-lineHeight;
  color: ui.$gse-ui-menu-selectAll-label-foregroundColor;
  word-wrap: break-word;
  cursor: pointer;
  background-color: ui.$gse-ui-menu-selectAll-backgroundColor;
  box-shadow: ui.$gse-ui-menu-selectAll-scrolling-boxShadow;

  .gux-select-all-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-menu-selectAll-labelContainer-gap;
    align-items: center;
    padding: ui.$gse-ui-menu-selectAll-labelContainer-padding;
    padding-block-end: ui.$gse-ui-menu-selectAll-gap;
    border-block-end: 1px solid global.$gse-semantic-border-container-divider;
  }

  .gux-option-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-menu-selectAll-label-gap;
    align-items: center;
    min-inline-size: 0;

    .gux-counter-label {
      font-family: ui.$gse-ui-dropdown-menu-selectAll-counterText-fontFamily;
      font-size: ui.$gse-ui-dropdown-menu-selectAll-counterText-fontSize;
      font-weight: ui.$gse-ui-dropdown-menu-selectAll-counterText-fontWeight;
      line-height: ui.$gse-ui-dropdown-menu-selectAll-counterText-lineHeight;
    }
  }

  .gux-checkbox-container {
    position: relative;
    display: inline-block;
    min-inline-size: ui.$gse-ui-menu-option-startIcon-width;
    max-inline-size: ui.$gse-ui-menu-option-startIcon-width;
    block-size: ui.$gse-ui-menu-option-startIcon-height;
    content: '';

    > path {
      fill: ui.$gse-ui-menu-option-checkbox-unchecked-default-foregroundColor;
    }
  }

  &:host(.gux-selected) {
    font-family: ui.$gse-ui-menu-option-label-active-text-fontFamily;
    font-size: ui.$gse-ui-menu-option-label-active-text-fontSize;
    font-weight: ui.$gse-ui-menu-option-label-active-text-fontWeight;
    line-height: ui.$gse-ui-menu-option-label-active-text-lineHeight;
    background-color: ui.$gse-ui-menu-option-selected-backgroundColor;

    .gux-checkbox-container > path {
      fill: ui.$gse-ui-menu-option-checkbox-checked-default-foregroundColor;
    }
  }

  .gux-screenreader {
    @include mixins.gux-sr-only;
  }
}
