@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

@mixin button-text {
  font-family: ui.$gse-ui-button-text-fontFamily;
  font-size: ui.$gse-ui-button-text-fontSize;
  font-weight: ui.$gse-ui-button-text-fontWeight;
  line-height: ui.$gse-ui-button-text-lineHeight;
}

// Style

:host {
  display: inline-block;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

:host(:focus) {
  outline: none;

  button {
    outline: none;
  }
}

::slotted(gux-icon) {
  inline-size: ui.$gse-ui-button-icon-size;
  block-size: ui.$gse-ui-button-icon-size;
}

::slotted(*) {
  padding-inline-start: ui.$gse-ui-button-gap;
  vertical-align: middle;
}

::slotted(gux-tooltip),
::slotted(gux-tooltip-beta) {
  padding-inline-start: 0;
}

::slotted(*:first-child) {
  padding: 0;
}

button {
  @include button-text;

  inline-size: 100%;
  min-inline-size: ui.$gse-ui-button-iconOnly-width;
  block-size: ui.$gse-ui-button-default-height;
  padding: ui.$gse-ui-button-default-padding;
  overflow: hidden;
  text-overflow: ellipsis;
  color: ui.$gse-ui-button-secondary-default-foregroundColor;
  white-space: nowrap;
  pointer-events: auto;
  cursor: pointer;
  background-color: ui.$gse-ui-button-secondary-default-backgroundColor;
  border: none;
  border-radius: ui.$gse-ui-button-borderRadius;

  &.gux-icon-only {
    display: inline-flex;
    padding: ui.$gse-ui-button-default-paddingIconOnly;
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: ui.$gse-ui-button-disabled-opacity;
  }

  &:hover:enabled {
    color: ui.$gse-ui-button-secondary-hover-foregroundColor;
    background-color: ui.$gse-ui-button-secondary-hover-backgroundColor;
  }

  &:active:enabled {
    color: ui.$gse-ui-button-secondary-active-foregroundColor;
    background-color: ui.$gse-ui-button-secondary-active-backgroundColor;
  }

  &:focus-visible:enabled {
    @include focus.gux-focus-ring;

    border-radius: global.$gse-semantic-focusOutline-sm-borderRadius;
  }

  &.gux-primary {
    color: ui.$gse-ui-button-primary-default-foregroundColor;
    background-color: ui.$gse-ui-button-primary-default-backgroundColor;

    &:hover:enabled {
      color: ui.$gse-ui-button-primary-hover-foregroundColor;
      background-color: ui.$gse-ui-button-primary-hover-backgroundColor;
    }

    &:active:enabled {
      color: ui.$gse-ui-button-primary-active-foregroundColor;
      background-color: ui.$gse-ui-button-primary-active-backgroundColor;
    }
  }

  &.gux-tertiary {
    color: ui.$gse-ui-button-tertiary-default-foregroundColor;
    background-color: ui.$gse-ui-button-tertiary-default-backgroundColor;
    border-color: ui.$gse-ui-button-tertiary-default-border-color;
    border-style: ui.$gse-ui-button-tertiary-default-border-style;
    border-width: ui.$gse-ui-button-tertiary-default-border-width;

    /* prettier-ignore */
    &.gux-icon-only {
      padding: calc(#{ui.$gse-ui-button-default-paddingIconOnly} - #{ui.$gse-ui-button-tertiary-default-border-width});
    }

    &:hover:enabled {
      color: ui.$gse-ui-button-tertiary-hover-foregroundColor;
      background-color: ui.$gse-ui-button-tertiary-hover-backgroundColor;
    }

    &:active:enabled {
      color: ui.$gse-ui-button-tertiary-active-foregroundColor;
      background-color: ui.$gse-ui-button-tertiary-active-backgroundColor;
    }
  }

  &.gux-ghost {
    color: ui.$gse-ui-button-ghost-default-foregroundColor;
    background-color: ui.$gse-ui-button-ghost-default-backgroundColor;

    &:hover:enabled {
      color: ui.$gse-ui-button-ghost-hover-foregroundColor;
      background-color: ui.$gse-ui-button-ghost-hover-backgroundColor;
    }

    &:active:enabled {
      color: ui.$gse-ui-button-ghost-active-foregroundColor;
      background-color: ui.$gse-ui-button-ghost-active-backgroundColor;
    }
  }

  &.gux-danger {
    color: ui.$gse-ui-button-danger-default-foregroundColor;
    background-color: ui.$gse-ui-button-danger-default-backgroundColor;

    &:hover:enabled {
      color: ui.$gse-ui-button-danger-hover-foregroundColor;
      background-color: ui.$gse-ui-button-danger-hover-backgroundColor;
    }

    &:active:enabled {
      color: ui.$gse-ui-button-danger-active-foregroundColor;
      background-color: ui.$gse-ui-button-danger-active-backgroundColor;
    }
  }

  &.gux-inline {
    min-inline-size: initial;
    block-size: initial;
    padding: 0;
    color: ui.$gse-ui-links-default-foregroundColor;
    background: none;
    border: none;
    border-radius: 0;

    &[disabled] {
      color: ui.$gse-ui-links-disabled-foregroundColor;
    }

    &:hover:enabled {
      color: ui.$gse-ui-links-hover-foregroundColor;
      text-decoration: underline;
      background: none;
    }

    &:active:enabled {
      color: ui.$gse-ui-links-active-foregroundColor;
      text-decoration: underline;
      background: none;
    }
  }
}
