@use '~genesys-spark/dist/scss/focus.scss';

@mixin button-text {
  font-family: var(--gse-ui-button-text-fontFamily);
  font-size: var(--gse-ui-button-text-fontSize);
  font-weight: var(--gse-ui-button-text-fontWeight);
  line-height: var(--gse-ui-button-text-lineHeight);
}

// Style

:host {
  display: inline-block;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

:host(:focus) {
  outline: none;

  button {
    outline: none;
  }
}

::slotted(gux-icon) {
  inline-size: var(--gse-ui-button-icon-size);
  block-size: var(--gse-ui-button-icon-size);
}

::slotted(*) {
  padding-inline-start: var(
    --gse-core-spacing-3xs
  ); // COMUI-2156 add missing button tokens

  vertical-align: middle;
}

::slotted(*:first-child) {
  padding: 0;
}

button {
  @include button-text;

  inline-size: 100%;
  min-inline-size: var(--gse-ui-button-iconOnly-width);
  block-size: var(--gse-ui-button-default-height);
  padding: var(--gse-ui-button-default-padding);
  overflow: hidden;
  color: var(--gse-ui-button-secondary-default-foregroundColor);
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: auto;
  cursor: pointer;
  background-color: var(--gse-ui-button-secondary-default-backgroundColor);
  border: none;
  border-radius: var(--gse-ui-button-borderRadius);

  &.gux-icon-only {
    display: inline-flex;
    padding: var(--gse-ui-button-default-paddingIconOnly);
  }

  &[disabled] {
    cursor: default;
    opacity: var(--gse-ui-button-disabled-opacity);
  }

  &:hover:enabled {
    color: var(--gse-ui-button-secondary-hover-foregroundColor);
    background-color: var(--gse-ui-button-secondary-hover-backgroundColor);
  }

  &:active:enabled {
    color: var(--gse-ui-button-secondary-active-foregroundColor);
    background-color: var(--gse-ui-button-secondary-active-backgroundColor);
  }

  &:focus-visible:enabled {
    @include focus.gux-focus-ring;

    border-radius: var(--gse-semantic-focusRing-cornerRadius);
  }

  &.gux-primary {
    color: var(--gse-ui-button-primary-default-foregroundColor);
    background-color: var(--gse-ui-button-primary-default-backgroundColor);

    &:hover:enabled {
      color: var(--gse-ui-button-primary-hover-foregroundColor);
      background-color: var(--gse-ui-button-primary-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-primary-active-foregroundColor);
      background-color: var(--gse-ui-button-primary-active-backgroundColor);
    }
  }

  &.gux-tertiary {
    color: var(--gse-ui-button-tertiary-default-foregroundColor);
    background-color: var(--gse-ui-button-tertiary-default-backgroundColor);
    border-color: var(--gse-ui-button-tertiary-default-border-color);
    border-style: var(--gse-ui-button-tertiary-default-border-style);
    border-width: var(--gse-ui-button-tertiary-default-border-width);

    &.gux-icon-only {
      padding: calc(
        var(--gse-ui-button-default-paddingIconOnly) - var(
            --gse-ui-button-tertiary-default-border-width
          )
      );
    }

    &:hover:enabled {
      color: var(--gse-ui-button-tertiary-hover-foregroundColor);
      background-color: var(--gse-ui-button-tertiary-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-tertiary-active-foregroundColor);
      background-color: var(--gse-ui-button-tertiary-active-backgroundColor);
    }
  }

  &.gux-ghost {
    color: var(--gse-ui-button-ghost-default-foregroundColor);
    background-color: var(--gse-ui-button-ghost-default-backgroundColor);

    &:hover:enabled {
      color: var(--gse-ui-button-ghost-hover-foregroundColor);
      background-color: var(--gse-ui-button-ghost-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-ghost-active-foregroundColor);
      background-color: var(--gse-ui-button-ghost-active-backgroundColor);
    }
  }

  &.gux-danger {
    color: var(--gse-ui-button-danger-default-foregroundColor);
    background-color: var(--gse-ui-button-danger-default-backgroundColor);

    &:hover:enabled {
      color: var(--gse-ui-button-danger-hover-foregroundColor);
      background-color: var(--gse-ui-button-danger-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-danger-active-foregroundColor);
      background-color: var(--gse-ui-button-danger-active-backgroundColor);
    }
  }

  &.gux-inline {
    min-inline-size: initial;
    block-size: initial;
    padding: 0;
    color: var(
      --gse-ui-link-default-foregroundColor,
      --gse-ui-links-default-foregroundColor
    );
    background: none;
    border: none;
    border-radius: 0;

    &[disabled] {
      color: var(
        --gse-ui-link-disabled-foregroundColor,
        --gse-ui-links-disabled-foregroundColor
      );
    }

    &:hover:enabled {
      color: var(
        --gse-ui-link-hover-foregroundColor,
        --gse-ui-links-hover-foregroundColor
      );
      text-decoration: underline;
      background: none;
    }

    &:active:enabled {
      color: var(
        --gse-ui-link-active-foregroundColor,
        --gse-ui-links-active-foregroundColor
      );
      text-decoration: underline;
      background: none;
    }
  }
}
