@use '../../../style/focus.scss';

// COMUI-2156 add missing button tokens
$temp-slotted-padding-left: 8px;
$temp-slotted-first-child-padding: 0;

@mixin button-text {
  font-family: var(--gse-ui-button-text-fontFamily);
  font-size: var(--gse-ui-button-text-fontSize);
  font-weight: var(--gse-ui-button-text-fontWeight);
  line-height: var(--gse-ui-button-text-lineHeight);
}

// Style

:host {
  display: inline-block;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

:host(:focus) {
  outline: none;

  button {
    outline: none;
  }
}

::slotted(gux-icon) {
  width: var(--gse-ui-button-icon-size);
  height: var(--gse-ui-button-icon-size);
}

::slotted(*) {
  padding-left: $temp-slotted-padding-left;
  vertical-align: middle;
}

::slotted(*:first-child) {
  padding: $temp-slotted-first-child-padding;
}

button {
  @include button-text;

  width: 100%;
  min-width: var(--gse-ui-button-icon-only-width);
  height: var(--gse-ui-button-height);
  padding: var(--gse-ui-button-padding);
  overflow: hidden;
  color: var(--gse-ui-button-secondary-default-foregroundColor);
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: auto;
  cursor: pointer;
  background-color: var(--gse-ui-button-secondary-default-backgroundColor);
  border: none;
  border-radius: var(--gse-ui-button-borderRadius);

  &[disabled] {
    cursor: default;
    opacity: var(--gse-ui-button-disabled-opacity);
  }

  &:hover:enabled {
    color: var(--gse-ui-button-secondary-hover-foregroundColor);
    background-color: var(--gse-ui-button-secondary-hover-backgroundColor);
  }

  &:active:enabled {
    color: var(--gse-ui-button-secondary-active-foregroundColor);
    background-color: var(--gse-ui-button-secondary-active-backgroundColor);
  }

  &:focus-visible:enabled {
    @include focus.gux-focus-ring;
  }

  &.gux-primary {
    color: var(--gse-ui-button-primary-default-foregroundColor);
    background-color: var(--gse-ui-button-primary-default-backgroundColor);

    &:hover:enabled {
      color: var(--gse-ui-button-primary-hover-foregroundColor);
      background-color: var(--gse-ui-button-primary-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-primary-active-foregroundColor);
      background-color: var(--gse-ui-button-primary-active-backgroundColor);
    }
  }

  &.gux-tertiary {
    color: var(--gse-ui-button-tertiary-default-foregroundColor);
    background-color: var(--gse-ui-button-tertiary-default-backgroundColor);
    border-color: var(--gse-ui-button-tertiary-default-border-color);
    border-style: var(--gse-ui-button-tertiary-default-border-style);
    border-width: var(--gse-ui-button-tertiary-default-border-width);

    &:hover:enabled {
      color: var(--gse-ui-button-tertiary-hover-foregroundColor);
      background-color: var(--gse-ui-button-tertiary-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-tertiary-active-foregroundColor);
      background-color: var(--gse-ui-button-tertiary-active-backgroundColor);
    }
  }

  &.gux-ghost {
    color: var(--gse-ui-button-ghost-default-foregroundColor);
    background-color: var(--gse-ui-button-ghost-default-backgroundColor);

    &:hover:enabled {
      color: var(--gse-ui-button-ghost-hover-foregroundColor);
      background-color: var(--gse-ui-button-ghost-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-ghost-active-foregroundColor);
      background-color: var(--gse-ui-button-ghost-active-backgroundColor);
    }
  }

  &.gux-danger {
    color: var(--gse-ui-button-danger-default-foregroundColor);
    background-color: var(--gse-ui-button-danger-default-backgroundColor);

    &:hover:enabled {
      color: var(--gse-ui-button-danger-hover-foregroundColor);
      background-color: var(--gse-ui-button-danger-hover-backgroundColor);
    }

    &:active:enabled {
      color: var(--gse-ui-button-danger-active-foregroundColor);
      background-color: var(--gse-ui-button-danger-active-backgroundColor);
    }
  }

  &.gux-inline {
    min-width: initial;
    height: initial;
    padding: 0;
    color: var(--gse-ui-link-default-color);
    background: none;
    border: none;

    &[disabled] {
      color: var(--gse-ui-link-disabled-color);
    }

    &:hover:enabled {
      color: var(--gse-ui-link-hover-color);
      text-decoration: underline;
      background: none;
    }

    &:active:enabled {
      color: var(--gse-ui-link-active-color);
      text-decoration: underline;
      background: none;
    }
  }
}
