// Variables part

gux-notification-toast {
  > div {
    padding: 0 16px;
    display: flex;
    width: 336px;
    height: 78px;
    position: relative;
    border: 1px solid;
    .content-wrapper {
      flex: 1;
      overflow: hidden;
    }
    .icon-wrapper gux-icon,
    .icon-wrapper img {
      height: 32px;
      width: 32px;
      margin-right: 8px;
      margin-top: 16px;
    }
    .title {
      margin-top: 11px;
      .subhead-2();
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .message {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .close-icon-wrapper {
      position: absolute;
      top: 8px;
      right: 8px;
      button {
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
      }
      gux-icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}

// Theming

// Dark
.gux-notification-toast-dark-theme {
  > div {
    background: @gux-off-white;
    color: @gux-grey-2;
    border-color: @gux-border;
    .message {
      color: @gux-pale-gray;
    }
    .close-icon-wrapper {
      button {
        color: @gux-pale-gray;
      }
    }
    .icon-wrapper.alert {
      color: @gux-alert;
    }
    .icon-wrapper.warning {
      color: @gux-warning;
    }
    .icon-wrapper.positive {
      color: @gux-positive;
    }
    .icon-wrapper.neutral {
      color: @gux-neutral;
    }
  }
}

.gux-dark-theme {
  gux-notification-toast {
    .gux-notification-toast-dark-theme();
  }
}
gux-notification-toast.gux-dark-theme {
  .gux-notification-toast-dark-theme();
}

// Light
.gux-notification-toast-light-theme {
  > div {
    background: @gux-panel;
    color: @gux-off-white;
    border-color: @gux-grey-2;
    .message {
      color: @gux-pale-gray-2;
    }
    .close-icon-wrapper {
      button {
        color: @gux-pale-gray-2;
      }
    }
    .icon-wrapper.alert {
      color: @gux-alert-2;
    }
    .icon-wrapper.warning {
      color: @gux-warning;
    }
    .icon-wrapper.positive {
      color: @gux-positive;
    }
    .icon-wrapper.neutral {
      color: @gux-neutral-2;
    }
  }
}

.gux-light-theme {
  gux-notification-toast {
    .gux-notification-toast-light-theme();
  }
}
gux-notification-toast.gux-light-theme {
  .gux-notification-toast-light-theme();
}

gux-notification-toast {
  .gux-notification-toast-light-theme();
}
