<div style="width: 100px">
  <gux-dropdown placeholder="Select..." filterable="true">
    <gux-option value="en-US">American English</gux-option>
    <gux-option value="es">Latin American Spanish</gux-option>
    <gux-option value="es-ES">European Spanish</gux-option>
    <gux-option value="en-UK">UK English</gux-option>
    <gux-option value="fr-CA" text="Canadian French"
      >American French</gux-option
    >
    <gux-option value="fr" text="European French"></gux-option>
    <gux-option>Dutch</gux-option>
  </gux-dropdown>
</div>

<div>
  <gux-dropdown placeholder="Select..." filterable="true">
    <gux-option value="en-US">American English</gux-option>
    <gux-option value="es">Latin American Spanish</gux-option>
    <gux-option value="es-ES">European Spanish</gux-option>
    <gux-option value="en-UK">UK English</gux-option>
    <gux-option value="fr-CA" text="Canadian French"
      >American French</gux-option
    >
    <gux-option value="fr" text="European French"></gux-option>
    <gux-option>Dutch</gux-option>
  </gux-dropdown>
</div>

<div>
  <gux-dropdown placeholder="Select...">
    <gux-option value="en-US">American English</gux-option>
    <gux-option value="es">Latin American Spanish</gux-option>
    <gux-option value="es-ES" selected>European Spanish</gux-option>
    <gux-option value="en-UK">UK English</gux-option>
    <gux-option value="fr-CA" text="Canadian French"
      >American French</gux-option
    >
    <gux-option value="fr" text="European French"></gux-option>
    <gux-option>Dutch</gux-option>
  </gux-dropdown>
</div>
