@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/color.less';

// Variables part
@background-color: #f9fafb;
@background-color-dark-theme: #555d66;

@text-color: @gux-type;
@text-color-dark-theme: @gux-type-dark;

@placeholder: #9baaba;

@border-color: #dae1e8;
@border-color-dark-theme: @gux-grey-global;

@focus-outline: fade(@gux-genesys-blue, 50%);
@focus-outline-dark-theme: @gux-genesys-blue;
@active-border: @gux-genesys-dark-blue;

@menu-background-color: @gux-type-dark;
@menu-border-color: #dae1eb;

// Style
gux-dropdown {
  div.gux-dropdown {
    position: relative;
    margin: 4px 0;

    &.gux-disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }

    .gux-select-field {
      position: relative;
      height: 32px;
      width: 100%;

      .gux-ghost {
        position: absolute;
        height: 32px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 25px 4px 12px;
        border: 1px solid transparent;
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.66666667;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      gux-text-field {
        > div {
          margin: 0;
        }

        input {
          cursor: pointer;
          background-color: transparent;
          text-overflow: ellipsis;
        }

        &.gux-unclearable {
          button {
            display: none;
          }
        }
      }

      button.gux-dropdown-indicator {
        position: absolute;
        top: 1px;
        right: 3px;
        bottom: 0;
        border: none;
        background: none;
        cursor: pointer;
        display: block;
        outline: none;
        overflow: hidden;
        pointer-events: none;
      }
    }

    .gux-options {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 1;
      margin: 0;
      padding: 8px 0;
      background: @menu-background-color;
      border: 1px solid @menu-border-color;
      box-shadow: none;
      color: @text-color;

      &.gux-opened {
        display: block;
      }

      > gux-option {
        position: relative;
        height: 32px;
        line-height: 32px;
        padding: 0 16px;
        display: flex;
        cursor: pointer;

        > div {
          position: relative;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .gux-ghost {
            position: absolute;
          }
        }

        &[disabled] {
          opacity: 0.5;
          pointer-events: none;
          cursor: default;
        }

        &.gux-filtered {
          display: none;
        }

        &:not([disabled]) {
          &[selected] {
            background: #deeaff;
            color: @text-color;
          }

          &:hover,
          &:focus {
            background: @gux-genesys-dark-blue;
            color: @gux-type-dark;
          }
        }
      }
    }

    &.gux-page {
      .gux-select-field {
        .gux-ghost {
          white-space: nowrap;
          overflow: hidden;

          .h1();

          line-height: 1.66666667;
          height: 48px;
          padding: 2px 25px 4px 11px;
        }

        height: 48px;

        gux-text-field {
          div.gux-field {
            height: 48px;
          }

          input {
            .h1();

            line-height: 1.66666667;
            height: 48px;
            border: none;
            border-bottom: 2px solid transparent;

            &:focus {
              box-shadow: none;
              border: none;
              border-bottom: 2px solid fade(@gux-genesys-blue, 50%);
            }
          }
        }
      }

      &.gux-active {
        .gux-select-field gux-text-field input:focus {
          border-bottom: 1px solid @gux-genesys-dark-blue;
        }
      }
    }

    &.gux-palette {
      .gux-select-field {
        .gux-ghost {
          white-space: nowrap;
          overflow: hidden;

          .h2();

          line-height: 1.66666667;
          height: 52px;
          padding: 9px 25px 4px 11px;
        }

        height: 52px;

        gux-text-field {
          div.gux-field {
            height: 52px;
          }

          input {
            .h2();

            line-height: 1.66666667;
            height: 52px;
            border: none;
            border-bottom: 2px solid transparent;

            &:focus {
              box-shadow: none;
              border: none;
              border-bottom: 2px solid fade(@gux-genesys-blue, 50%);
            }
          }
        }
      }

      &.gux-active {
        .gux-select-field gux-text-field input:focus {
          border-bottom: 1px solid @gux-genesys-dark-blue;
        }
      }
    }
  }
}
// Theming
// Light
.gux-dropdown-light-theme {
  div.gux-dropdown {
    .gux-select-field {
      .gux-ghost {
        background-color: @background-color;
        color: @placeholder;
      }

      gux-text-field input {
        border-color: @border-color;
        color: @text-color;

        &:focus {
          box-shadow: 0 0 0 3px @focus-outline;
        }
      }

      button.gux-dropdown-indicator {
        color: @text-color;
      }
    }

    &.gux-default.gux-active {
      .gux-select-field {
        .gux-field {
          input:focus {
            border: 1px solid @active-border;
            box-shadow: 0 0 4px @focus-outline;
          }
        }
      }
    }

    &.gux-page {
      .gux-select-field {
        .gux-ghost {
          background-color: @gux-background;
          color: #9baab8;
        }

        gux-text-field input {
          border-bottom: 1px solid @gux-border;
        }
      }

      &.gux-active {
        gux-text-field input {
          border-bottom: 1px solid @gux-genesys-blue;
        }
      }
    }

    &.gux-palette {
      .gux-select-field {
        .gux-ghost {
          background-color: @gux-background;
          color: #9baab8;
        }

        gux-text-field {
          input {
            border-bottom: 1px solid @gux-border;
          }
        }
      }

      &.gux-active {
        gux-text-field {
          input {
            border-bottom: 1px solid @gux-genesys-blue;
          }
        }
      }
    }
  }
}

.gux-light-theme {
  gux-dropdown {
    .gux-dropdown-light-theme;
  }
}

.gux-dropdown.gux-light-theme {
  .gux-dropdown-light-theme;
}

// Dark
.gux-dropdown-dark-theme {
  color: @gux-type-dark;

  div.gux-dropdown {
    .gux-select-field {
      .gux-ghost {
        background-color: @background-color-dark-theme;
        color: #9baaba;
      }

      gux-text-field input {
        border-color: @border-color-dark-theme;
        color: @text-color-dark-theme;
      }

      button.gux-dropdown-indicator {
        color: @text-color-dark-theme;
      }
    }

    &.gux-default {
      .gux-select-field {
        gux-text-field input {
          &:focus {
            box-shadow: 0 0 1px 3px @focus-outline-dark-theme;
          }
        }
      }

      &.gux-active {
        .gux-select-field {
          .gux-field {
            input:focus {
              border-color: @border-color-dark-theme;
              box-shadow: 0 0 1px 3px @focus-outline-dark-theme;
            }
          }
        }
      }
    }

    &.gux-page {
      .gux-select-field {
        .gux-ghost {
          background-color: @gux-charcoal-grey;
        }

        gux-text-field input {
          border-color: @gux-grey-global;

          &:focus {
            border-color: fade(@gux-genesys-blue, 50%);
          }
        }
      }

      &.gux-active {
        gux-text-field input:focus {
          border-bottom: 1px solid @gux-genesys-blue;
        }
      }
    }

    &.gux-palette {
      .gux-select-field {
        .gux-ghost {
          background-color: @gux-charcoal-grey;
        }

        gux-text-field input {
          border-color: @gux-grey-global;

          &:focus {
            border-color: fade(@gux-genesys-blue, 50%);
          }
        }
      }

      &.gux-active {
        gux-text-field input:focus {
          border-bottom: 1px solid @gux-genesys-blue;
        }
      }
    }
  }
}

.gux-dark-theme {
  gux-dropdown {
    .gux-dropdown-dark-theme;
  }
}

.gux-dropdown.gux-dark-theme {
  .gux-dropdown-dark-theme;
}
// Default Theme
gux-dropdown {
  .gux-dropdown-light-theme;
}
