@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';

// Style
gux-dropdown {
  div.gux-dropdown {
    position: relative;
    margin: 4px 0;

    &.gux-disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }

    .gux-select-field {
      position: relative;
      width: 100%;
      height: 32px;

      .gux-ghost {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        padding: 5px 25px 4px 12px;
        overflow: hidden;
        font-size: 12px;
        line-height: 1.66666667;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid transparent;
        border-radius: 2px;
      }

      gux-text-field-legacy {
        > div {
          margin: 0;
        }

        input {
          text-overflow: ellipsis;
          cursor: pointer;
          background-color: transparent;
        }

        &.gux-unclearable {
          button {
            display: none;
          }
        }
      }

      button.gux-dropdown-indicator {
        position: absolute;
        top: 1px;
        right: 3px;
        bottom: 0;
        display: block;
        overflow: hidden;
        pointer-events: none;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
      }
    }

    .gux-options {
      position: absolute;
      z-index: 1;
      display: none;
      width: 100%;
      padding: 8px 0;
      margin: 1px 0;
      color: @gux-black-50;
      background: @gux-grey-100;
      border: 1px solid @gux-black-100;
      .shadow-30();

      &.gux-opened {
        display: block;
      }

      > gux-option {
        position: relative;
        display: flex;
        height: 32px;
        padding: 0 16px;
        line-height: 32px;
        cursor: pointer;

        > div {
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .gux-ghost {
            position: absolute;
          }
        }

        &[disabled] {
          pointer-events: none;
          cursor: default;
          opacity: 0.5;
        }

        &.gux-filtered {
          display: none;
        }

        &:not([disabled]) {
          &[selected] {
            color: @gux-black-50;
            background: @gux-blue-100;
          }

          &:hover,
          &:focus {
            color: @gux-type-dark;
            background: @gux-blue-60;
          }
        }
      }
    }

    &.gux-page {
      .gux-select-field {
        .gux-ghost {
          height: 48px;
          padding: 2px 25px 4px 11px;
          overflow: hidden;
          line-height: 1.66666667;
          white-space: nowrap;

          .h1();
        }

        height: 48px;

        gux-text-field-legacy {
          div.gux-field {
            height: 48px;
          }

          input {
            .h1();

            height: 48px;
            line-height: 1.66666667;
            border: none;
            border-bottom: 2px solid transparent;

            &:focus {
              border: none;
              border-bottom: 2px solid fade(@gux-blue-80, 50%);
              box-shadow: none;
            }
          }
        }
      }

      &.gux-active {
        .gux-select-field gux-text-field-legacy input:focus {
          border-bottom: 1px solid @gux-blue-60;
        }
      }
    }

    &.gux-palette {
      .gux-select-field {
        .gux-ghost {
          height: 52px;
          padding: 9px 25px 4px 11px;
          overflow: hidden;
          line-height: 1.66666667;
          white-space: nowrap;

          .h2();
        }

        height: 52px;

        gux-text-field-legacy {
          div.gux-field {
            height: 52px;
          }

          input {
            .h2();

            height: 52px;
            line-height: 1.66666667;
            border: none;
            border-bottom: 2px solid transparent;

            &:focus {
              border: none;
              border-bottom: 2px solid fade(@gux-blue-80, 50%);
              box-shadow: none;
            }
          }
        }
      }

      &.gux-active {
        .gux-select-field gux-text-field-legacy input:focus {
          border-bottom: 1px solid @gux-blue-60;
        }
      }
    }
  }
}
// Theming
// Light
.gux-dropdown-light-theme {
  div.gux-dropdown {
    .gux-select-field {
      .gux-ghost {
        color: @gux-black-90;
        background-color: @gux-grey-90;
      }

      gux-text-field-legacy input {
        color: @gux-black-50;
        border-color: @gux-black-100;

        &:focus {
          box-shadow: 0 0 0 3px fade(@gux-blue-80, 50%);
        }
      }

      button.gux-dropdown-indicator {
        color: @gux-black-50;
      }
    }

    &.gux-default.gux-active {
      .gux-select-field {
        .gux-field {
          input:focus {
            background-color: @gux-grey-100;
            border: 1px solid @gux-blue-60;
            box-shadow: 0 0 4px fade(@gux-blue-80, 50%);
          }
        }
      }
    }

    &.gux-page {
      .gux-select-field {
        .gux-ghost {
          color: @gux-grey-10;
          background-color: @gux-background;
        }

        gux-text-field-legacy input {
          border-bottom: 1px solid @gux-black-100;
        }
      }

      &.gux-active {
        gux-text-field-legacy input {
          border-bottom: 1px solid @gux-blue-80;
        }
      }
    }

    &.gux-palette {
      .gux-select-field {
        .gux-ghost {
          color: @gux-grey-10;
          background-color: @gux-background;
        }

        gux-text-field-legacy {
          input {
            border-bottom: 1px solid @gux-black-100;
          }
        }
      }

      &.gux-active {
        gux-text-field-legacy {
          input {
            border-bottom: 1px solid @gux-blue-80;
          }
        }
      }
    }
  }
}

gux-dropdown {
  .gux-dropdown-light-theme;
}
