@use '../../../../../genesys-spark-tokens/dist/scss/_gse-ui-feedback'; // TODO: https://inindca.atlassian.net/browse/COMUI-2242

$small-breakpoint: gse-ui-feedback.$gse-ui-progressAndLoading-loadingState-small-width;
$medium-breakpoint: gse-ui-feedback.$gse-ui-progressAndLoading-loadingState-medium-width;

@mixin loadingStateFont($type) {
  font-family: var(
    --gse-ui-progressAndLoading-loadingState-#{$type}-fontFamily
  );
  font-size: var(--gse-ui-progressAndLoading-loadingState-#{$type}-fontSize);
  font-weight: var(
    --gse-ui-progressAndLoading-loadingState-#{$type}-fontWeight
  );
  line-height: var(
    --gse-ui-progressAndLoading-loadingState-#{$type}-lineHeight
  );
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
}

.gux-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--gse-ui-progressAndLoading-loadingState-large-width);
  color: var(--gse-ui-progressAndLoading-textColor);
  text-align: center;
}

// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
@container (width > #{$medium-breakpoint}) {
  .gux-container {
    .gux-primary-message {
      margin-top: var(--gse-ui-progressAndLoading-large-gap);

      @include loadingStateFont('large-header');
    }

    .gux-additional-guidance {
      margin-top: var(--gse-ui-progressAndLoading-large-gapText);

      @include loadingStateFont('large-subheader');
    }
  }
}

// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
@container (width > #{$small-breakpoint}) and (width <=#{$medium-breakpoint}) {
  .gux-container {
    .gux-primary-message {
      margin-top: var(--gse-ui-progressAndLoading-medium-gap);

      @include loadingStateFont('medium-header');
    }

    .gux-additional-guidance {
      margin-top: var(--gse-ui-progressAndLoading-medium-gapText);

      @include loadingStateFont('medium-subheader');
    }
  }
}

// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
@container (width <=#{$small-breakpoint}) {
  .gux-container {
    .gux-primary-message {
      margin-top: var(--gse-ui-progressAndLoading-small-gap);

      @include loadingStateFont('small-header');
    }

    .gux-additional-guidance {
      margin-top: var(--gse-ui-progressAndLoading-small-gapText);

      @include loadingStateFont('small-subheader');
    }
  }
}
