@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host([disabled]),
button[disabled] {
  pointer-events: none;
  user-select: none;
}

.gux-sr-only {
  display: flex;

  @include mixins.gux-sr-only-clip;
}

gux-button-slot {
  inline-size: 100%;
}

.gux-action-title {
  display: flex;
  flex-direction: row;
  gap: ui.$gse-ui-button-gap;
  align-items: center;

  slot[name='icon']::slotted(gux-icon) {
    inline-size: ui.$gse-ui-icon-small-size;
    block-size: ui.$gse-ui-icon-small-size;
  }
}
