@use '~genesys-spark/dist/scss/mixins.scss';

:host([disabled]),
button[disabled] {
  pointer-events: none;
  user-select: none;
}

.gux-sr-only {
  display: flex;

  @include mixins.gux-sr-only-clip;
}

.gux-action-title {
  display: flex;
  flex-direction: row;
  gap: var(--gse-ui-button-gap);
  align-items: center;

  slot[name='icon']::slotted(gux-icon) {
    width: var(--gse-ui-icon-size-sm, var(--gse-ui-icon-small-size));
    height: var(--gse-ui-icon-size-sm, var(--gse-ui-icon-small-size));
  }
}
