@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

gux-pagination-items-per-page-legacy {
  .gux-pagination-items-per-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-dataTableItems-tablePagination-recordsetControls-gap;
    place-content: stretch center;
    align-items: center;

    & > div {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
      white-space: nowrap;
    }

    .gux-pagination-items-per-page-picker {
      gux-dropdown {
        display: inline-block;
        width: 64px;
      }
    }

    .gux-pagination-per-page {
      font-family: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-fontFamily
      );
      font-size: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-fontSize
      );
      font-weight: var(
        --gse-ui-dataTableItems-tablePagination-currentResultText-fontWeight
      );
      line-height: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-lineHeight
      );
      color: ui.$gse-ui-dataTableItems-tablePagination-foregroundColor;
    }
  }
}
