@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  display: inline-block;
}

.gux-calendar {
  margin-block-start: 2px;
  border-radius: 8px; // --gse-ui-calendarMenu-single-header-borderRadius and --gse-ui-calendarMenu-single-body-borderRadius need to be combined
  box-shadow: var(--gse-ui-calendarMenu-boxShadow);

  .gux-header {
    position: relative;
    display: flex;
    gap: var(--gse-ui-calendarMenu-header-gap);
    align-items: center;
    justify-content: space-between;
    block-size: var(--gse-ui-calendarMenu-month-single-header-height);
    padding: var(--gse-ui-calendarMenu-header-padding);
    font-weight: var(--gse-ui-calendarMenu-month-currentText-fontWeight);
    color: var(--gse-ui-calendarMenu-header-foregroundColor);
    background-color: var(--gse-ui-calendarMenu-header-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-header-borderRadius);

    button {
      position: absolute;
      color: var(--gse-ui-calendarMenu-header-foregroundColor);
      cursor: pointer;
      background: none;
      border: none;
      outline: none;

      &:focus-visible {
        outline: var(--gse-ui-formControl-input-focus-border-width)
          var(--gse-ui-formControl-input-focus-border-style)
          var(--gse-ui-formControl-input-focus-border-color);
      }

      &.gux-left {
        inset-inline-start: 18px;
      }

      &.gux-right {
        inset-inline-end: 18px;
      }

      gux-icon {
        pointer-events: none;
      }
    }

    .gux-month-list {
      display: flex;
      justify-content: space-between;
      inline-size: 100%;
      font-family: var(--gse-ui-calendarMenu-month-headerText-fontFamily);
      font-size: var(--gse-ui-calendarMenu-month-headerText-fontSize);
      line-height: var(--gse-ui-calendarMenu-month-headerText-lineHeight);

      label {
        inline-size: 100%;
        text-align: center;
      }
    }
  }

  .gux-content {
    display: flex;
    align-items: flex-start;
    block-size: var(--gse-ui-calendarMenu-height);
    padding: var(--gse-ui-calendarMenu-dateBody-padding);
    color: var(--gse-ui-calendarMenu-month-default-foregroundColor);
    background-color: var(--gse-ui-calendarMenu-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-body-borderRadius);

    table {
      inline-size: var(--gse-ui-calendarMenu-day-input-width);
      text-align: start;
      table-layout: fixed;
      border-spacing: 0;
      -ms-user-select: none;
      user-select: none;

      &:not(:last-child) {
        padding-inline-end: 24px; // TODO: use token?
      }

      tr {
        block-size: var(--gse-ui-calendarMenu-day-input-height);

        &:empty {
          display: none;
        }

        th,
        td {
          inline-size: var(--gse-ui-calendarMenu-day-date-size);
          block-size: var(--gse-ui-calendarMenu-day-date-size);
          padding: 0;
          margin: 0;
          text-align: center;
        }

        th {
          font-family: var(--gse-ui-calendarMenu-day-headerText-fontFamily);
          font-size: var(--gse-ui-calendarMenu-day-headerText-fontSize);
          font-weight: var(--gse-ui-calendarMenu-day-headerText-fontWeight);
          line-height: var(--gse-ui-calendarMenu-day-headerText-lineHeight);
        }

        td {
          font-family: var(--gse-ui-calendarMenu-date-defaultText-fontFamily);
          font-size: var(--gse-ui-calendarMenu-date-defaultText-fontSize);
          font-weight: var(--gse-ui-calendarMenu-date-defaultText-fontWeight);
          line-height: var(--gse-ui-calendarMenu-date-defaultText-lineHeight);
          color: var(--gse-ui-calendarMenu-date-default-foregroundColor);
          cursor: pointer;

          &.gux-hovered {
            background-color: var(
              --gse-ui-calendarMenu-date-range-backgroundColor
            );
          }

          &.gux-selected {
            color: var(--gse-ui-calendarMenu-date-selected-foregroundColor);
            background-color: var(
              --gse-ui-calendarMenu-date-selected-backgroundColor
            );
            border-radius: var(--gse-ui-calendarMenu-month-borderRadius);

            &:hover:not(&.gux-start-date):not(&.gux-end-date) {
              background-color: var(
                --gse-ui-calendarMenu-date-selected-hoverBackgroundColor
              );
            }
          }

          &.gux-start-date,
          &.gux-end-date {
            background-color: var(
              --gse-ui-calendarMenu-date-range-backgroundColor
            );

            .gux-date {
              display: flex;
              align-items: center;
              justify-content: center;
              inline-size: var(--gse-ui-calendarMenu-day-date-size);
              block-size: var(--gse-ui-calendarMenu-day-date-size);
              background-color: var(
                --gse-ui-calendarMenu-date-selected-backgroundColor
              );
              border-radius: var(--gse-ui-calendarMenu-month-borderRadius);

              &:hover {
                background-color: var(
                  --gse-ui-calendarMenu-date-selected-hoverBackgroundColor
                );
              }
            }
          }

          &.gux-start-date {
            border-radius: var(
              --gse-ui-calendarMenu-range-date-startDate-borderRadius
            );
          }

          &.gux-end-date {
            border-radius: var(
              --gse-ui-calendarMenu-range-date-endDate-borderRadius
            );
          }

          &:hover:not(&.gux-start-date):not(&.gux-end-date):not(
              &.gux-hovered
            ):not(&.gux-selected) {
            background-color: var(
              --gse-ui-calendarMenu-date-hover-backgroundColor
            );
            border-radius: var(--gse-ui-calendarMenu-month-borderRadius);
          }

          &.gux-disabled {
            pointer-events: none;
            opacity: var(--gse-ui-calendarMenu-disabled-opacity);
          }

          &.gux-not-in-month {
            opacity: var(--gse-ui-calendarMenu-disabled-opacity);

            &:hover {
              background-color: var(
                --gse-ui-calendarMenu-date-hover-backgroundColor
              );
            }

            &.gux-hidden {
              visibility: hidden;
            }
          }

          &.gux-current-date {
            font-family: var(--gse-ui-calendarMenu-date-currentText-fontFamily);
            font-size: var(--gse-ui-calendarMenu-date-currentText-fontSize);
            font-weight: var(--gse-ui-calendarMenu-date-currentText-fontWeight);
            line-height: var(--gse-ui-calendarMenu-date-currentText-lineHeight);
          }

          &:focus-visible {
            border-radius: var(--gse-ui-calendarMenu-month-focusBorderRadius);

            @include focus.gux-focus-ring;
          }
        }
      }
    }
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only;
}
