@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  position: relative;
  display: flex;
  inline-size: 100%;
  block-size: ui.$gse-ui-menu-divider-height;
  padding: 0;
  margin: ui.$gse-ui-menu-divider-margin;
  pointer-events: none;
  cursor: pointer;
  cursor: default;
  background-color: ui.$gse-ui-menu-divider-backgroundColor;
}
