:host {
  position: relative;
  display: flex;
  inline-size: 100%;
  block-size: var(--gse-ui-menu-divider-height);
  padding: 0;
  margin: var(--gse-ui-menu-divider-margin);
  pointer-events: none;
  cursor: pointer;
  cursor: default;
  background-color: var(--gse-ui-menu-divider-backgroundColor);
}
