<gux-action-toast>
  <gux-icon slot="icon" icon-name="add-user" decorative></gux-icon>
  <div slot="title">Title</div>
  <div slot="message">This is the message</div>
  <gux-button slot="negative-button">Reject</gux-button>
  <gux-button slot="positive-button" accent="primary">Accept</gux-button>
</gux-action-toast>

<gux-action-toast>
  <gux-icon slot="icon" icon-name="add-user" decorative></gux-icon>
  <div slot="title">Title</div>
  <dl slot="message">
    <dt>Name</dt>
    <dd>Clarissa Hopkirk</dd>
    <dt>Topic</dt>
    <dd>Billing Issue</dd>
    <dt>Tier</dt>
    <dd>Gold</dd>
  </dl>
  <gux-button slot="negative-button">Reject</gux-button>
  <gux-button slot="positive-button" accent="primary">Accept</gux-button>
</gux-action-toast>
