<h1>Example 1</h1>
<gux-tabs-advanced id="interactive">
  <gux-tab-advanced-list slot="tab-list" show-new-tab-button="true">
    <gux-tab-advanced tab-id="1-1" tab-icon-name="lock">
      <span slot="title"> Hello World </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option
          option-id="1"
          icon-name="edit"
          onclick="notify(event)"
        >
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="2"
          icon-name="clone"
          onclick="notify(event)"
        >
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="3"
          icon-name="share"
          onclick="notify(event)"
        >
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="4"
          icon-name="download"
          onclick="notify(event)"
        >
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="1-2" tab-icon-name="lock">
      <span slot="title"> Hello World 2 </span>
    </gux-tab-advanced>
  </gux-tab-advanced-list>
  <gux-tab-advanced-panel tab-id="1-1">
    <span>Tab content 1</span>
    <div>The current time is: <span id="currentTime"></span></div>
    <div>
      The current selected panel tab-id is: <span id="currenttab-id"></span>
    </div>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="1-2">
    <span>Tab content 2</span>
  </gux-tab-advanced-panel>
</gux-tabs-advanced>

<h1>Example 2</h1>
<gux-tabs-advanced id="interactive" value="3">
  <gux-tab-advanced-list slot="tab-list" allow-sort="true">
    <gux-tab-advanced tab-id="2-1" tab-icon-name="lock">
      <span slot="title"> Hello World 3 </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option
          option-id="1"
          icon-name="edit"
          onclick="notify(event)"
        >
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="2"
          icon-name="clone"
          onclick="notify(event)"
        >
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="3"
          icon-name="share"
          onclick="notify(event)"
        >
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="4"
          icon-name="download"
          onclick="notify(event)"
        >
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>

    <gux-tab-advanced tab-id="2-2" tab-icon-name="lock">
      <span slot="title"> Hello World 4 </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option
          option-id="1"
          icon-name="edit"
          onclick="notify(event)"
        >
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="2"
          icon-name="clone"
          onclick="notify(event)"
        >
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="3"
          icon-name="share"
          onclick="notify(event)"
        >
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="4"
          icon-name="download"
          onclick="notify(event)"
        >
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>

    <gux-tab-advanced tab-id="2-3" tab-icon-name="lock">
      <span slot="title"> Hello World 5 </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option
          option-id="1"
          icon-name="edit"
          onclick="notify(event)"
        >
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="2"
          icon-name="clone"
          onclick="notify(event)"
        >
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="3"
          icon-name="share"
          onclick="notify(event)"
        >
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="4"
          icon-name="download"
          onclick="notify(event)"
        >
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>

    <gux-tab-advanced tab-id="2-4" tab-icon-name="lock">
      <span slot="title"> Hello World 6 </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option
          option-id="1"
          icon-name="edit"
          onclick="notify(event)"
        >
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="2"
          icon-name="clone"
          onclick="notify(event)"
        >
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="3"
          icon-name="share"
          onclick="notify(event)"
        >
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="4"
          icon-name="download"
          onclick="notify(event)"
        >
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>

    <gux-tab-advanced tab-id="2-5" tab-icon-name="lock">
      <span slot="title"> Hello World 7 </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option
          option-id="1"
          icon-name="edit"
          onclick="notify(event)"
        >
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="2"
          icon-name="clone"
          onclick="notify(event)"
        >
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="3"
          icon-name="share"
          onclick="notify(event)"
        >
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option
          option-id="4"
          icon-name="download"
          onclick="notify(event)"
        >
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>

    <gux-tab-advanced tab-id="2-6" tab-icon-name="lock">
      <span slot="title"> Hello World 8 </span>
      <span slot="dropdown-options">
        <gux-tab-advanced-option option-id="1" icon-name="edit">
          Edit
        </gux-tab-advanced-option>
        <gux-tab-advanced-option option-id="2" icon-name="clone">
          Clone
        </gux-tab-advanced-option>
        <gux-tab-advanced-option option-id="3" icon-name="share">
          Share
        </gux-tab-advanced-option>
        <gux-tab-advanced-option option-id="4" icon-name="download">
          Download
        </gux-tab-advanced-option>
      </span>
    </gux-tab-advanced>
  </gux-tab-advanced-list>
  <gux-tab-advanced-panel tab-id="2-1">
    <span>Tab content 1</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-2">
    <span>Tab content 2</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-3">
    <span>Tab content 3</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-4">
    <span>Tab content 4</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-5">
    <span>Tab content 5</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-6">
    <span>Tab content 6</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-7">
    <span>Tab content 7</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="2-8">
    <span>Tab content 8</span>
  </gux-tab-advanced-panel>
</gux-tabs-advanced>

<h1>Example 3</h1>
<gux-tabs-advanced id="interactive" tab-limit="10">
  <gux-tab-advanced-list
    slot="tab-list"
    allow-sort="false"
    show-new-tab-button="false"
  >
    <gux-tab-advanced tab-id="3-1" tab-icon-name="lock">
      <span slot="title"> Hello 1 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-2" tab-icon-name="lock">
      <span slot="title"> Hello 2 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-3" tab-icon-name="lock">
      <span slot="title"> Hello 3 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-4" tab-icon-name="lock">
      <span slot="title"> Hello 4 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-5" tab-icon-name="lock">
      <span slot="title"> Hello 5 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-6" tab-icon-name="lock">
      <span slot="title"> Hello 6 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-7" tab-icon-name="lock">
      <span slot="title"> Hello 7 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-8" tab-icon-name="lock">
      <span slot="title"> Hello 8 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-9" tab-icon-name="lock">
      <span slot="title"> Hello 9 </span>
    </gux-tab-advanced>
    <gux-tab-advanced tab-id="3-10" tab-icon-name="lock">
      <span slot="title"> Hello 10 </span>
    </gux-tab-advanced>
  </gux-tab-advanced-list>
  <gux-tab-advanced-panel tab-id="3-1">
    <span>Tab content 1</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-2">
    <span>Tab content 2</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-3">
    <span>Tab content 3</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-4">
    <span>Tab content 4</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-5">
    <span>Tab content 5</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-6">
    <span>Tab content 6</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-7">
    <span>Tab content 7</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-8">
    <span>Tab content 8</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-9">
    <span>Tab content 9</span>
  </gux-tab-advanced-panel>
  <gux-tab-advanced-panel tab-id="3-10">Tab content 10</gux-tab-advanced-panel>
</gux-tabs-advanced>

<style
  onload="(function () {
    document.querySelector(`gux-tab-advanced-panel[tab-id='1-1']`).addEventListener('guxactivepanelchange', 
    (event) => {
      const currentTime = new Date().toLocaleTimeString();
      document.querySelector('#currentTime').innerHTML = currentTime;
      document.querySelector('#currenttab-id').innerHTML = event.detail;
    })
  }
  )()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
