:host {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  width: 286px;
  margin-bottom: 4px;
  color: #2e394c;
  background: #f6f7f9;
  border: 1px solid #b4bccb;
  border-radius: 4px;
  // need to replace with token
  box-shadow: 0 2px 4px rgba(#202937, 24%);
}

.gux-icon {
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
  padding: 8px 12px 8px 16px;
  margin: 2px 0;

  &.gux-alert {
    color: #ea0b0b;
  }

  &.gux-warning {
    color: #ffae00;
  }

  &.gux-positive {
    color: #3c8527;
  }

  &.gux-neutral {
    color: #203b73;
  }

  ::slotted(gux-icon) {
    width: 16px;
    height: 16px;
  }
}

.gux-message {
  flex: 1 1 auto;
  align-self: center;
  order: 0;
  margin: 8px 0;
}

.gux-dismiss {
  margin: 4px 0;
}
