@import '../../../style/color.scss';
@import '../../../style/shadows.scss';
@import '../../../style/spacing.scss';

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  width: 286px;
  margin-bottom: 4px;
  color: $gux-type;
  background: $gux-grey-90;
  border: 1px solid $gux-grey-30;
  border-radius: 4px;
  @include gux-shadow-20;
}

.gux-icon {
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
  padding: 8px 12px 8px 16px;
  margin: $gux-spacing-3xs 0;

  &.gux-alert {
    color: $gux-alert;
  }

  &.gux-warning {
    color: $gux-warning;
  }

  &.gux-positive {
    color: $gux-positive;
  }

  &.gux-neutral {
    color: $gux-neutral;
  }

  ::slotted(gux-icon) {
    width: 16px;
    height: 16px;
  }
}

.gux-message {
  flex: 1 1 auto;
  align-self: center;
  order: 0;
  margin: 8px 0;
}

.gux-dismiss {
  margin: 4px 0;
}
