<h4>Enabled</h4>
<div>
  <gux-button title="default">Default</gux-button>
  <gux-button title="Primary" accent="primary">Primary</gux-button>
  <gux-button title="Secondary" accent="secondary">Secondary</gux-button>
  <gux-button title="Invalid accent" accent="invalid"
    >Invalid accent</gux-button
  >
  <gux-button title="Slotted element" accent="invalid">
    <span>Text in a span element</span>
  </gux-button>
  <gux-button title="Slotted element" accent="invalid">
    <span>Text in a span element</span>
    <span>More text in a span element</span>
  </gux-button>
</div>

<h4>Disabled</h4>
<div>
  <gux-button title="default" disabled>Default</gux-button>
  <gux-button title="Primary" accent="primary" disabled>Primary</gux-button>
  <gux-button title="Secondary" accent="secondary" disabled
    >Secondary</gux-button
  >
  <gux-button title="Invalid accent" accent="invalid" disabled
    >Invalid accent</gux-button
  >
  <gux-button title="Slotted element" accent="invalid" disabled>
    <span>Text in a span element</span>
  </gux-button>
  <gux-button title="Slotted element" accent="invalid" disabled>
    <span>Text in a span element</span>
    <span>More text in a span element</span>
  </gux-button>
</div>

<style>
  gux-button {
    margin: 10px;
  }
</style>
