@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/spacing.less';

gux-button {
  display: inline-block;
  min-width: 32px;
  pointer-events: none;

  > button {
    width: 100%;
    height: 32px;
    padding: 0 @spacing-medium;
    overflow: hidden;
    .body-font();

    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    &[disabled] {
      cursor: default;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }

    gux-icon {
      width: 16px;
      height: 16px;
    }

    > * {
      padding-left: @spacing-2xs;
    }

    > *:first-child {
      padding: 0;
    }
  }
}

// Theming

.gux-button-light-theme {
  > button {
    color: @gux-black-50;
    background-color: @gux-grey-60;

    &:hover:enabled {
      background-color: @gux-grey-50;
    }

    &:active:enabled {
      background-color: @gux-grey-40;
    }

    &:focus:enabled {
      .focus-ring();
    }

    &.gux-tertiary {
      color: @gux-blue-60;
      background-color: @gux-grey-100;
      border: 1px solid @gux-blue-60;

      &:hover:enabled {
        color: @gux-grey-100;
        background-color: @gux-blue-50;
      }

      &:active:enabled {
        color: @gux-grey-100;
        background-color: @gux-blue-40;
      }
    }

    &.gux-primary {
      color: @gux-grey-100;
      background-color: @gux-blue-60;

      &:hover:enabled {
        background-color: @gux-blue-50;
      }

      &:active:enabled {
        background-color: @gux-blue-40;
      }
    }
  }
}

// Default Theme
gux-button {
  .gux-button-light-theme();
}

// Light
.gux-light-theme {
  gux-button {
    .gux-button-light-theme();
  }
}

gux-button.gux-light-theme {
  .gux-button-light-theme();
}
