@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';

// Variables part
@primary-dark-background-color: @gux-blue-60;
@primary-dark-border-color: @gux-black-30;
@primary-dark-color: @gux-type-dark;
@primary-dark-hover-background-color: @expalette-primary-dark-hover-background-color;
@secondary-dark-background-color: @expalette-background-color-dark;
@secondary-dark-border-color: @gux-black-30;
@secondary-dark-color: @gux-type-dark;
@secondary-dark-hover-background-color: @expalette-secondary-dark-hover-background-color;

gux-button {
  display: inline-block;
  min-width: 32px;
  pointer-events: none;

  > button {
    width: 100%;
    padding: 0 16px;
    height: 32px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
    pointer-events: auto;

    &[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    &:focus {
      outline: none;
    }
  }
}

// Theming
.gux-button-dark-theme {
  > button {
    background-color: @secondary-dark-background-color;
    border: 1px solid @secondary-dark-border-color;
    color: @secondary-dark-color;

    &:hover {
      background-color: @secondary-dark-hover-background-color;
    }

    &:active {
      box-shadow: 0 0 0 3px @gux-blue-80;
    }

    &:focus {
      box-shadow: 0 0 0 3px fade(@gux-blue-80, 50%);
    }

    &[disabled] {
      &:hover {
        background-color: @secondary-dark-background-color;
      }

      &:active {
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &.gux-primary {
      background-color: @primary-dark-background-color;
      border: 1px solid @primary-dark-border-color;
      color: @primary-dark-color;

      &:hover {
        background-color: @primary-dark-hover-background-color;
      }

      &:active {
        box-shadow: 0 0 0 3px @gux-blue-80;
      }

      &:focus {
        box-shadow: 0 0 0 3px fade(@gux-blue-80, 50%);
      }

      &[disabled] {
        &:hover {
          background-color: @primary-dark-background-color;
        }

        &:active {
          box-shadow: none;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.gux-button-light-theme {
  > button {
    background-color: @gux-grey-60;
    color: @gux-black-50;

    &:hover:enabled {
      background-color: @gux-grey-50;
    }

    &:active:enabled {
      background-color: @gux-grey-40;
    }

    &:focus:enabled {
      .focus-ring();
    }

    &.gux-tertiary {
      background-color: @gux-grey-100;
      color: @gux-blue-60;
      border: 1px solid @gux-blue-60;

      &:hover:enabled {
        background-color: @gux-blue-50;
        color: @gux-grey-100;
      }

      &:active:enabled {
        background-color: @gux-blue-40;
        color: @gux-grey-100;
      }
    }

    &.gux-primary {
      background-color: @gux-blue-60;
      color: @gux-grey-100;

      &:hover:enabled {
        background-color: @gux-blue-50;
      }

      &:active:enabled {
        background-color: @gux-blue-40;
      }
    }
  }
}

// Default Theme
gux-button {
  .gux-button-light-theme();
}

// Dark
.gux-dark-theme {
  gux-button {
    .gux-button-dark-theme();
  }
}

gux-button.gux-dark-theme {
  .gux-button-dark-theme();
}

// Light
.gux-light-theme {
  gux-button {
    .gux-button-light-theme();
  }
}

gux-button.gux-light-theme {
  .gux-button-light-theme();
}
