@import (reference) '../../../../../style/color.less';
@import (reference) '../gux-menu.common.less';

gux-submenu {
  display: block;
  flex: 1 1 auto;
  align-self: auto;

  .gux-submenu-button {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    width: (@gux-menu-item-width + 4px);
    height: 32px;
    padding: 0 12px 0 16px;
    line-height: 32px;
    color: @gux-type;
    background-color: @gux-off-white;

    &:focus-within,
    &:hover {
      color: @gux-type-dark;
      background-color: #2a60c8;
    }

    .gux-submenu-button-text {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      margin-right: 12px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .gux-submenu-open-icon {
      flex: 0 0 auto;
      align-self: auto;
      order: 0;
      width: 16px;
      height: 16px;
    }
  }

  .gux-submenu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 8px 0;
    margin: 0;
    visibility: hidden;
    background-color: @gux-type-dark;
    border: 1px solid @gux-grey-30;
    border-radius: 4px;
    box-shadow: 0 2px 4px fade(#202937, 24%);

    &.gux-shown {
      visibility: visible;
    }
  }
}
