@use '~genesys-spark/src/style/mixins.scss';

:host {
  display: block;
  max-width: fit-content;
  white-space: normal;
}

gux-icon {
  width: var(--gse-ui-icon-size-sm); // TODO: [COMUI-2290] missing token
  height: var(--gse-ui-icon-size-sm); // TODO: [COMUI-2290] missing token
  color: var(--gse-ui-button-ghost-default-foregroundColor);
}

button {
  height: var(
    --gse-ui-button-default-height
  ); // TODO: [COMUI-2290] name should be more specific

  padding: 0 8px; // TODO: [COMUI-2290] missing token
  border-radius: var(--gse-ui-button-borderRadius);
}

button.gux-compact {
  height: var(
    --gse-ui-contextMenu-button-compact
  ); // TODO: [COMUI-2290] name should be more specific

  padding: 0 4px; // TODO: [COMUI-2290] missing token
}

button:hover:enabled {
  background-color: var(--gse-ui-button-ghost-hover-backgroundColor);

  gux-icon {
    color: var(--gse-ui-button-ghost-hover-foregroundColor);
  }
}

button:active:enabled {
  background-color: var(--gse-ui-button-ghost-active-backgroundColor);

  gux-icon {
    color: var(--gse-ui-button-ghost-active-foregroundColor);
  }
}

button[disabled] {
  opacity: var(--gse-ui-button-disabled-opacity);
}

.gux-list-container {
  width: 220px; // TODO: [COMUI-2290] missing token
  max-height: 330px; // TODO: [COMUI-2290] missing token

  @include mixins.gux-menu-container;
}
