@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  display: block;
  max-inline-size: fit-content;
  white-space: normal;
}

gux-icon {
  color: ui.$gse-ui-button-ghost-default-foregroundColor;
}

button {
  block-size: ui.$gse-ui-button-default-height;
  padding: ui.$gse-ui-button-default-paddingIconOnly;
  border-radius: ui.$gse-ui-button-borderRadius;
}

button.gux-compact {
  min-inline-size: ui.$gse-ui-contextMenu-button-compact;
  block-size: ui.$gse-ui-button-compact-height;
  padding: ui.$gse-ui-button-compact-paddingIconOnly;
}

button:hover:enabled {
  background-color: ui.$gse-ui-button-ghost-hover-backgroundColor;

  gux-icon {
    color: ui.$gse-ui-button-ghost-hover-foregroundColor;
  }
}

button:active:enabled {
  background-color: ui.$gse-ui-button-ghost-active-backgroundColor;

  gux-icon {
    color: ui.$gse-ui-button-ghost-active-foregroundColor;
  }
}

button[disabled] {
  opacity: ui.$gse-ui-button-disabled-opacity;
}

.gux-list-container {
  inline-size: ui.$gse-ui-contextMenu-menu-width;
  max-block-size: ui.$gse-ui-contextMenu-menu-maxHeight;

  @include mixins.gux-menu-container;
}
