@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  display: block;
  max-width: fit-content;
  white-space: normal;
}

gux-icon {
  width: var(--gse-ui-icon-size-sm);
  height: var(--gse-ui-icon-size-sm);
  color: var(--gse-ui-button-ghost-default-foregroundColor);
}

button {
  height: var(--gse-ui-button-default-height);
  padding: var(--gse-ui-button-default-paddingIconOnly);
  border-radius: var(--gse-ui-button-borderRadius);
}

button.gux-compact {
  height: var(--gse-ui-button-compact-height);
  padding: var(--gse-ui-button-compact-paddingIconOnly);
}

button:hover:enabled {
  background-color: var(--gse-ui-button-ghost-hover-backgroundColor);

  gux-icon {
    color: var(--gse-ui-button-ghost-hover-foregroundColor);
  }
}

button:active:enabled {
  background-color: var(--gse-ui-button-ghost-active-backgroundColor);

  gux-icon {
    color: var(--gse-ui-button-ghost-active-foregroundColor);
  }
}

button[disabled] {
  opacity: var(--gse-ui-button-disabled-opacity);
}

.gux-list-container {
  width: var(--gse-ui-contextMenu-menu-width);
  max-height: var(--gse-ui-contextMenu-menu-maxHeight);

  @include mixins.gux-menu-container;
}
