@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '../../gux-form-field.scss';
@use '../../functional-components/gux-form-field-container/gux-form-field-container.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-label/gux-form-field-label.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-container.Style;
@include gux-form-field-error.Style;
@include gux-form-field-label.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

::slotted(label) {
  @include gux-form-field.gse-ui-formControl-label-bold;
}

.gux-input-and-error-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--gse-ui-fileUpload-mainContainer-gap);
}

.gux-drop-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--gse-ui-fileUpload-dragDrop-btnText-gap);
  margin-inline: 0;
  font-family: var(--gse-ui-fileUpload-dragAndDrop-dropZone-text-fontFamily);
  font-size: var(--gse-ui-fileUpload-dragAndDrop-dropZone-text-fontSize);
  font-weight: var(--gse-ui-fileUpload-dragAndDrop-dropZone-text-fontWeight);
  line-height: var(--gse-ui-fileUpload-dragAndDrop-dropZone-text-lineHeight);
  color: var(--gse-ui-fileUpload-dragAndDrop-dropZoneText-color);

  &.gux-drop-zone {
    place-content: stretch center;
    align-items: center;
    min-block-size: var(--gse-ui-fileUpload-dragAndDrop-dropZone-minHeight);
    padding: 20px;
    border: var(--gse-ui-fileUpload-dragAndDrop-dropZone-default-border-width)
      var(--gse-ui-fileUpload-dragAndDrop-dropZone-default-border-style)
      var(--gse-ui-fileUpload-dragAndDrop-dropZone-default-border-color);
    border-radius: var(--gse-ui-fileUpload-dropZone-borderRadius);

    &.gux-drag-over:not(.gux-disabled) {
      background-color: var(
        --gse-ui-fileUpload-dragAndDrop-dropZone-background-active
      );
      border: var(--gse-ui-fileUpload-dragAndDrop-dropZone-active-border-width)
        var(--gse-ui-fileUpload-dragAndDrop-dropZone-active-border-style)
        var(--gse-ui-fileUpload-dragAndDrop-dropZone-active-border-color);
    }

    &.gux-disabled {
      border-color: #00004040;

      .gux-drag-and-drop-text {
        opacity: 0.5;
      }
    }
  }
}

.gux-offscreen {
  @include mixins.gux-hide-offscreen;
}

.gux-proxy-button {
  inline-size: fit-content;
  border-radius: var(--gse-ui-button-borderRadius);
}

.gux-proxy-button:focus-within {
  @include focus.gux-focus-ring;
}

.gux-file-list {
  display: flex;
  flex-direction: column;
  gap: var(--gse-ui-fileUpload-fileCard-cardGroup-gap);
  inline-size: 100%;
}
