@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '../../gux-form-field.scss';
@use '../../functional-components/gux-form-field-container/gux-form-field-container.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-label/gux-form-field-label.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-container.Style;
@include gux-form-field-error.Style;
@include gux-form-field-label.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

::slotted(label) {
  @include gux-form-field.gse-ui-formControl-label-bold;
}

.gux-input-and-error-container {
  flex-grow: 1;
}

.gux-drop-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-block: 10px;
  margin-inline: 0;

  &.gux-drop-zone {
    place-content: stretch center;
    align-items: center;
    padding: 20px;
    border: 2px dashed blue;
    border-radius: 5px;

    &.gux-drag-over:not(.gux-disabled) {
      background-color: #0000ff20;
    }

    &.gux-disabled {
      border-color: #00004040;

      .gux-drag-and-drop-text {
        opacity: 0.5;
      }
    }
  }
}

.gux-offscreen {
  @include mixins.gux-hide-offscreen;
}

.gux-proxy-button {
  inline-size: fit-content;
  border-radius: var(--gse-ui-button-borderRadius);
}

.gux-proxy-button:focus-within {
  @include focus.gux-focus-ring;
}

.gux-file-list {
  &.gux-disabled {
    opacity: 0.5;
  }

  .gux-file-list-item {
    display: flex;
    align-items: center;
    block-size: 32px;
    margin-block: 5px;
    border: 1px solid grey;
    border-radius: 5px;

    .gux-file-name {
      margin-inline: 10px;
    }
  }
}
