@use 'sass:list';
@use 'sass:string';
@use './sprite-utils/sprites.generated.scss';

@mixin gux-sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: list.nth($sprite, 10);
    $sprite-name-lower-case: string.to-lower-case(#{$sprite-name});

    .gux-flag-#{$sprite-name-lower-case} {
      display: inline-block;

      @include sprites.sprite-position($sprite);
      @include sprites.sprite-width($sprite);
      @include sprites.sprite-height($sprite);
      // @include sprites.sprite-image($sprite);
    }
  }
}

@include gux-sprites(sprites.$spritesheet-sprites);
