<h1>gux-dropdown-v2-beta</h1>
<form onchange="notify(event)" oninput="notify(event)">
  <h2>Filterable Long List</h2>
  <gux-dropdown-v2-beta filterable placeholder="Select a country">
    <gux-listbox aria-label="Countries">
      <gux-option-v2 value="AFG">Afghanistan</gux-option-v2>
      <gux-option-v2 value="ALA">Åland Islands</gux-option-v2>
      <gux-option-v2 value="ALB">Albania</gux-option-v2>
      <gux-option-v2 value="DZA">Algeria</gux-option-v2>
      <gux-option-v2 value="ASM">American Samoa</gux-option-v2>
      <gux-option-v2 value="AND">Andorra</gux-option-v2>
      <gux-option-v2 value="AGO">Angola</gux-option-v2>
      <gux-option-v2 value="AIA">Anguilla</gux-option-v2>
      <gux-option-v2 value="ATA">Antarctica</gux-option-v2>
      <gux-option-v2 value="ATG">Antigua and Barbuda</gux-option-v2>
      <gux-option-v2 value="ARG">Argentina</gux-option-v2>
      <gux-option-v2 value="ARM">Armenia</gux-option-v2>
      <gux-option-v2 value="ABW">Aruba</gux-option-v2>
      <gux-option-v2 value="AUS">Australia</gux-option-v2>
      <gux-option-v2 value="AUT">Austria</gux-option-v2>
      <gux-option-v2 value="AZE">Azerbaijan</gux-option-v2>
      <gux-option-v2 value="BHR">Bahrain</gux-option-v2>
      <gux-option-v2 value="BGD">Bangladesh</gux-option-v2>
      <gux-option-v2 value="BRB">Barbados</gux-option-v2>
      <gux-option-v2 value="BLR">Belarus</gux-option-v2>
      <gux-option-v2 value="BEL">Belgium</gux-option-v2>
      <gux-option-v2 value="BLZ">Belize</gux-option-v2>
      <gux-option-v2 value="BEN">Benin</gux-option-v2>
      <gux-option-v2 value="BMU">Bermuda</gux-option-v2>
      <gux-option-v2 value="BTN">Bhutan</gux-option-v2>
      <gux-option-v2 value="BOL">Bolivia</gux-option-v2>
      <gux-option-v2 value="BIH">Bosnia and Herzegovina</gux-option-v2>
      <gux-option-v2 value="BWA">Botswana</gux-option-v2>
      <gux-option-v2 value="BVT">Bouvet Island</gux-option-v2>
      <gux-option-v2 value="BRA">Brazil</gux-option-v2>
      <gux-option-v2 value="IOT">British Indian Ocean Territory</gux-option-v2>
      <gux-option-v2 value="VGB">British Virgin Islands</gux-option-v2>
      <gux-option-v2 value="BRN">Brunei</gux-option-v2>
      <gux-option-v2 value="BGR">Bulgaria</gux-option-v2>
      <gux-option-v2 value="BFA">Burkina Faso</gux-option-v2>
      <gux-option-v2 value="BDI">Burundi</gux-option-v2>
      <gux-option-v2 value="KHM">Cambodia</gux-option-v2>
      <gux-option-v2 value="CMR">Cameroon</gux-option-v2>
      <gux-option-v2 value="CAN">Canada</gux-option-v2>
      <gux-option-v2 value="CPV">Cape Verde</gux-option-v2>
      <gux-option-v2 value="BES"
        >Caribbean Netherlands: Bonaire, Sint Eustatius and Saba</gux-option-v2
      >
      <gux-option-v2 value="CYM">Cayman Islands</gux-option-v2>
      <gux-option-v2 value="CAF">Central African Republic</gux-option-v2>
      <gux-option-v2 value="TCD">Chad</gux-option-v2>
      <gux-option-v2 value="CHL">Chile</gux-option-v2>
      <gux-option-v2 value="CHN">China, People"s Republic of</gux-option-v2>
      <gux-option-v2 value="CXR">Christmas Island</gux-option-v2>
      <gux-option-v2 value="CCK">Cocos (Keeling) Islands</gux-option-v2>
      <gux-option-v2 value="COL">Colombia</gux-option-v2>
      <gux-option-v2 value="COM">Comoros</gux-option-v2>
      <gux-option-v2 value="COD"
        >Congo, Democratic Republic of the</gux-option-v2
      >
      <gux-option-v2 value="COG">Congo, Republic of the</gux-option-v2>
      <gux-option-v2 value="COK">Cook Islands</gux-option-v2>
      <gux-option-v2 value="CRI">Costa Rica</gux-option-v2>
      <gux-option-v2 value="CIV">Côte d"Ivoire</gux-option-v2>
      <gux-option-v2 value="HRV">Croatia</gux-option-v2>
      <gux-option-v2 value="CUB">Cuba</gux-option-v2>
      <gux-option-v2 value="CUW">Curaçao</gux-option-v2>
      <gux-option-v2 value="CYP">Cyprus</gux-option-v2>
      <gux-option-v2 value="CZE">Czech Republic</gux-option-v2>
      <gux-option-v2 value="DNK">Denmark</gux-option-v2>
      <gux-option-v2 value="DJI">Djibouti</gux-option-v2>
      <gux-option-v2 value="DMA">Dominica</gux-option-v2>
      <gux-option-v2 value="DOM">Dominican Republic</gux-option-v2>
      <gux-option-v2 value="ECU">Ecuador</gux-option-v2>
      <gux-option-v2 value="EGY">Egypt</gux-option-v2>
      <gux-option-v2 value="SLV">El Salvador</gux-option-v2>
      <gux-option-v2 value="GNQ">Equatorial Guinea</gux-option-v2>
      <gux-option-v2 value="ERI">Eritrea</gux-option-v2>
      <gux-option-v2 value="EST">Estonia</gux-option-v2>
      <gux-option-v2 value="SWZ">Eswatini</gux-option-v2>
      <gux-option-v2 value="ETH">Ethiopia</gux-option-v2>
      <gux-option-v2 value="FLK">Falkland Islands</gux-option-v2>
      <gux-option-v2 value="FRO">Faroe Islands</gux-option-v2>
      <gux-option-v2 value="FJI">Fiji</gux-option-v2>
      <gux-option-v2 value="FIN">Finland</gux-option-v2>
      <gux-option-v2 value="FRA">France</gux-option-v2>
      <gux-option-v2 value="GUF">French Guiana</gux-option-v2>
      <gux-option-v2 value="PYF">French Polynesia</gux-option-v2>
      <gux-option-v2 value="ATF"
        >French Southern and Antarctic Lands</gux-option-v2
      >
      <gux-option-v2 value="GAB">Gabon</gux-option-v2>
      <gux-option-v2 value="GEO">Georgia</gux-option-v2>
      <gux-option-v2 value="DEU">Germany</gux-option-v2>
      <gux-option-v2 value="GHA">Ghana</gux-option-v2>
      <gux-option-v2 value="GIB">Gibraltar</gux-option-v2>
      <gux-option-v2 value="GRC">Greece</gux-option-v2>
      <gux-option-v2 value="GRL">Greenland</gux-option-v2>
      <gux-option-v2 value="GRD">Grenada</gux-option-v2>
      <gux-option-v2 value="GLP">Guadeloupe</gux-option-v2>
      <gux-option-v2 value="GUM">Guam</gux-option-v2>
      <gux-option-v2 value="GTM">Guatemala</gux-option-v2>
      <gux-option-v2 value="GGY">Guernsey</gux-option-v2>
      <gux-option-v2 value="GIN">Guinea</gux-option-v2>
      <gux-option-v2 value="GNB">Guinea-Bissau</gux-option-v2>
      <gux-option-v2 value="GUY">Guyana</gux-option-v2>
      <gux-option-v2 value="HTI">Haiti</gux-option-v2>
      <gux-option-v2 value="HMD"
        >Heard Island and McDonald Islands</gux-option-v2
      >
      <gux-option-v2 value="HND">Honduras</gux-option-v2>
      <gux-option-v2 value="HKG">Hong Kong</gux-option-v2>
      <gux-option-v2 value="HUN">Hungary</gux-option-v2>
      <gux-option-v2 value="ISL">Iceland</gux-option-v2>
      <gux-option-v2 value="IND">India</gux-option-v2>
      <gux-option-v2 value="IDN">Indonesia</gux-option-v2>
      <gux-option-v2 value="IRN">Iran</gux-option-v2>
      <gux-option-v2 value="IRQ">Iraq</gux-option-v2>
      <gux-option-v2 value="IRL">Ireland</gux-option-v2>
      <gux-option-v2 value="IMN">Isle of Man</gux-option-v2>
      <gux-option-v2 value="ISR">Israel</gux-option-v2>
      <gux-option-v2 value="ITA">Italy</gux-option-v2>
      <gux-option-v2 value="JAM">Jamaica</gux-option-v2>
      <gux-option-v2 value="JPN">Japan</gux-option-v2>
      <gux-option-v2 value="JEY">Jersey</gux-option-v2>
      <gux-option-v2 value="JOR">Jordan</gux-option-v2>
      <gux-option-v2 value="KAZ">Kazakhstan</gux-option-v2>
      <gux-option-v2 value="KEN">Kenya</gux-option-v2>
      <gux-option-v2 value="KIR">Kiribati</gux-option-v2>
      <gux-option-v2 value="PRK"
        >Korea, Democratic People"s Rep. (North)</gux-option-v2
      >
      <gux-option-v2 value="KOR">Korea, Republic of (South)</gux-option-v2>
      <gux-option-v2 value="KWT">Kuwait</gux-option-v2>
      <gux-option-v2 value="KGZ">Kyrgyzstan</gux-option-v2>
      <gux-option-v2 value="LAO">Laos</gux-option-v2>
      <gux-option-v2 value="LVA">Latvia</gux-option-v2>
      <gux-option-v2 value="LBN">Lebanon</gux-option-v2>
      <gux-option-v2 value="LSO">Lesotho</gux-option-v2>
      <gux-option-v2 value="LBR">Liberia</gux-option-v2>
      <gux-option-v2 value="LBY">Libya</gux-option-v2>
      <gux-option-v2 value="LIE">Liechtenstein</gux-option-v2>
      <gux-option-v2 value="LTU">Lithuania</gux-option-v2>
      <gux-option-v2 value="LUX">Luxembourg</gux-option-v2>
      <gux-option-v2 value="MAC">Macau</gux-option-v2>
      <gux-option-v2 value="MDG">Madagascar</gux-option-v2>
      <gux-option-v2 value="MWI">Malawi</gux-option-v2>
      <gux-option-v2 value="MYS">Malaysia</gux-option-v2>
      <gux-option-v2 value="MDV">Maldives</gux-option-v2>
      <gux-option-v2 value="MLI">Mali</gux-option-v2>
      <gux-option-v2 value="MLT">Malta</gux-option-v2>
      <gux-option-v2 value="MHL">Marshall Islands</gux-option-v2>
      <gux-option-v2 value="MTQ">Martinique</gux-option-v2>
      <gux-option-v2 value="MRT">Mauritania</gux-option-v2>
      <gux-option-v2 value="MUS">Mauritius</gux-option-v2>
      <gux-option-v2 value="MYT">Mayotte</gux-option-v2>
      <gux-option-v2 value="MEX">Mexico</gux-option-v2>
      <gux-option-v2 value="FSM">Micronesia, Federated States of</gux-option-v2>
      <gux-option-v2 value="MDA">Moldova</gux-option-v2>
      <gux-option-v2 value="MCO">Monaco</gux-option-v2>
      <gux-option-v2 value="MNG">Mongolia</gux-option-v2>
      <gux-option-v2 value="MNE">Montenegro</gux-option-v2>
      <gux-option-v2 value="MSR">Montserrat</gux-option-v2>
      <gux-option-v2 value="MAR">Morocco</gux-option-v2>
      <gux-option-v2 value="MOZ">Mozambique</gux-option-v2>
      <gux-option-v2 value="MMR">Myanmar</gux-option-v2>
      <gux-option-v2 value="NAM">Namibia</gux-option-v2>
      <gux-option-v2 value="NRU">Nauru</gux-option-v2>
      <gux-option-v2 value="NPL">Nepal</gux-option-v2>
      <gux-option-v2 value="NLD">Netherlands</gux-option-v2>
      <gux-option-v2 value="NCL">New Caledonia</gux-option-v2>
      <gux-option-v2 value="NZL">New Zealand</gux-option-v2>
      <gux-option-v2 value="NIC">Nicaragua</gux-option-v2>
      <gux-option-v2 value="NER">Niger</gux-option-v2>
      <gux-option-v2 value="NGA">Nigeria</gux-option-v2>
      <gux-option-v2 value="NIU">Niue</gux-option-v2>
      <gux-option-v2 value="NFK">Norfolk Island</gux-option-v2>
      <gux-option-v2 value="MKD">North Macedonia</gux-option-v2>
      <gux-option-v2 value="MNP">Northern Mariana Islands</gux-option-v2>
      <gux-option-v2 value="NOR">Norway</gux-option-v2>
      <gux-option-v2 value="OMN">Oman</gux-option-v2>
      <gux-option-v2 value="PAK">Pakistan</gux-option-v2>
      <gux-option-v2 value="PLW">Palau</gux-option-v2>
      <gux-option-v2 value="PAN">Panama</gux-option-v2>
      <gux-option-v2 value="PNG">Papua New Guinea</gux-option-v2>
      <gux-option-v2 value="PRY">Paraguay</gux-option-v2>
      <gux-option-v2 value="PER">Peru</gux-option-v2>
      <gux-option-v2 value="PHL">Philippines</gux-option-v2>
      <gux-option-v2 value="PCN">Pitcairn Islands</gux-option-v2>
      <gux-option-v2 value="POL">Poland</gux-option-v2>
      <gux-option-v2 value="PRT">Portugal</gux-option-v2>
      <gux-option-v2 value="PRI">Puerto Rico</gux-option-v2>
      <gux-option-v2 value="QAT">Qatar</gux-option-v2>
      <gux-option-v2 value="REU">Réunion</gux-option-v2>
      <gux-option-v2 value="ROU">Romania</gux-option-v2>
      <gux-option-v2 value="RUS">Russian Federation</gux-option-v2>
      <gux-option-v2 value="RWA">Rwanda</gux-option-v2>
      <gux-option-v2 value="BLM">Saint Barthélemy</gux-option-v2>
      <gux-option-v2 value="SHN"
        >Saint Helena, Ascension and Tristan da Cunha</gux-option-v2
      >
      <gux-option-v2 value="KNA">Saint Kitts and Nevis</gux-option-v2>
      <gux-option-v2 value="LCA">Saint Lucia</gux-option-v2>
      <gux-option-v2 value="MAF">Saint Martin (French part)</gux-option-v2>
      <gux-option-v2 value="SPM">Saint Pierre and Miquelon</gux-option-v2>
      <gux-option-v2 value="VCT"
        >Saint Vincent and the Grenadines</gux-option-v2
      >
      <gux-option-v2 value="WSM">Samoa</gux-option-v2>
      <gux-option-v2 value="SMR">San Marino</gux-option-v2>
      <gux-option-v2 value="STP">São Tomé and Príncipe</gux-option-v2>
      <gux-option-v2 value="SAU">Saudi Arabia</gux-option-v2>
      <gux-option-v2 value="SEN">Senegal</gux-option-v2>
      <gux-option-v2 value="SRB">Serbia</gux-option-v2>
      <gux-option-v2 value="SYC">Seychelles</gux-option-v2>
      <gux-option-v2 value="SLE">Sierra Leone</gux-option-v2>
      <gux-option-v2 value="SGP">Singapore</gux-option-v2>
      <gux-option-v2 value="SXM">Sint Maarten (Dutch part)</gux-option-v2>
      <gux-option-v2 value="SVK">Slovakia</gux-option-v2>
      <gux-option-v2 value="SVN">Slovenia</gux-option-v2>
      <gux-option-v2 value="SLB">Solomon Islands</gux-option-v2>
      <gux-option-v2 value="SOM">Somalia</gux-option-v2>
      <gux-option-v2 value="ZAF">South Africa</gux-option-v2>
      <gux-option-v2 value="SGS"
        >South Georgia and the South Sandwich Islands</gux-option-v2
      >
      <gux-option-v2 value="SSD">South Sudan</gux-option-v2>
      <gux-option-v2 value="ESP">Spain</gux-option-v2>
      <gux-option-v2 value="LKA">Sri Lanka</gux-option-v2>
      <gux-option-v2 value="PSE">State of Palestine</gux-option-v2>
      <gux-option-v2 value="SDN">Sudan</gux-option-v2>
      <gux-option-v2 value="SUR">Suriname</gux-option-v2>
      <gux-option-v2 value="SJM">Svalbard and Jan Mayen</gux-option-v2>
      <gux-option-v2 value="SWE">Sweden</gux-option-v2>
      <gux-option-v2 value="CHE">Switzerland</gux-option-v2>
      <gux-option-v2 value="SYR">Syria</gux-option-v2>
      <gux-option-v2 value="TWN">Taiwan</gux-option-v2>
      <gux-option-v2 value="TJK">Tajikistan</gux-option-v2>
      <gux-option-v2 value="TZA">Tanzania</gux-option-v2>
      <gux-option-v2 value="THA">Thailand</gux-option-v2>
      <gux-option-v2 value="BHS">The Bahamas</gux-option-v2>
      <gux-option-v2 value="GMB">The Gambia</gux-option-v2>
      <gux-option-v2 value="TLS">Timor-Leste[18]</gux-option-v2>
      <gux-option-v2 value="TGO">Togo</gux-option-v2>
      <gux-option-v2 value="TKL">Tokelau</gux-option-v2>
      <gux-option-v2 value="TON">Tonga</gux-option-v2>
      <gux-option-v2 value="TTO">Trinidad and Tobago</gux-option-v2>
      <gux-option-v2 value="TUN">Tunisia</gux-option-v2>
      <gux-option-v2 value="TUR">Turkey</gux-option-v2>
      <gux-option-v2 value="TKM">Turkmenistan</gux-option-v2>
      <gux-option-v2 value="TCA">Turks and Caicos Islands</gux-option-v2>
      <gux-option-v2 value="TUV">Tuvalu</gux-option-v2>
      <gux-option-v2 value="UGA">Uganda</gux-option-v2>
      <gux-option-v2 value="UKR">Ukraine</gux-option-v2>
      <gux-option-v2 value="ARE">United Arab Emirates</gux-option-v2>
      <gux-option-v2 value="GBR">United Kingdom</gux-option-v2>
      <gux-option-v2 value="USA">United States</gux-option-v2>
      <gux-option-v2 value="UMI"
        >United States Minor Outlying Islands</gux-option-v2
      >
      <gux-option-v2 value="VIR"
        >United States Virgin Islands[20]</gux-option-v2
      >
      <gux-option-v2 value="URY">Uruguay</gux-option-v2>
      <gux-option-v2 value="UZB">Uzbekistan</gux-option-v2>
      <gux-option-v2 value="VUT">Vanuatu</gux-option-v2>
      <gux-option-v2 value="VAT">Vatican City State</gux-option-v2>
      <gux-option-v2 value="VEN">Venezuela</gux-option-v2>
      <gux-option-v2 value="VNM">Vietnam</gux-option-v2>
      <gux-option-v2 value="WLF">Wallis and Futuna</gux-option-v2>
      <gux-option-v2 value="ESH">Western Sahara</gux-option-v2>
      <gux-option-v2 value="YEM">Yemen</gux-option-v2>
      <gux-option-v2 value="ZMB">Zambia</gux-option-v2>
      <gux-option-v2 value="ZWE">Zimbabwe</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <h2>Value Set</h2>
  <gux-dropdown-v2-beta value="a">
    <gux-listbox aria-label="Animals">
      <gux-option-v2 value="a" disabled>Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
      <gux-option-v2 value="e" disabled>Eel</gux-option-v2>
      <gux-option-v2 value="f">Frog</gux-option-v2>
      <gux-option-v2 value="g">Goat</gux-option-v2>
      <gux-option-v2 value="h" disabled>Horse</gux-option-v2>
      <gux-option-v2 value="i" disabled>Ibis</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <h2>No Value Set</h2>
  <gux-dropdown-v2-beta>
    <gux-listbox aria-label="Animals">
      <gux-option-v2 value="a">Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
      <gux-option-v2 value="e">Eel</gux-option-v2>
      <gux-option-v2 value="f">Frog</gux-option-v2>
      <gux-option-v2 value="g">Goat</gux-option-v2>
      <gux-option-v2 value="h">Horse</gux-option-v2>
      <gux-option-v2 value="i">Ibis</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <h2>Unknown Value Set</h2>
  <gux-dropdown-v2-beta value="j">
    <gux-listbox id="unknown-listbox" aria-label="Animals">
      <gux-option-v2 value="a">Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
      <gux-option-v2 value="e">Eel</gux-option-v2>
      <gux-option-v2 value="f">Frog</gux-option-v2>
      <gux-option-v2 value="g">Goat</gux-option-v2>
      <gux-option-v2 value="h">Horse</gux-option-v2>
      <gux-option-v2 value="i">Ibis</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <gux-button
    onclick="(function() {
    const newOption = window.toHTML(`<gux-option-v2 value='j'>Jellyfish</gux-option-v2>`);
    document.getElementById('unknown-listbox').appendChild(newOption);
  })()"
    >Add "Jellyfish" Option</gux-button
  >

  <gux-button
    onclick="(function() {
    const option = document.querySelector('#unknown-listbox gux-option-v2[value=j]')

    option && option.remove();
})()"
    >Remove "Jellyfish" Option</gux-button
  >

  <h2>Disabled</h2>
  <gux-dropdown-v2-beta value="a" disabled>
    <gux-listbox aria-label="Animals">
      <gux-option-v2 value="a">Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <h2>Placeholder</h2>
  <gux-dropdown-v2-beta placeholder="Select an animal">
    <gux-listbox aria-label="Animals">
      <gux-option-v2 value="a">Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <h2>Long List</h2>
  <gux-dropdown-v2-beta placeholder="Select an animal">
    <gux-listbox aria-label="Animals">
      <gux-option-v2 value="a">Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
      <gux-option-v2 value="e">Eel</gux-option-v2>
      <gux-option-v2 value="f">Frog</gux-option-v2>
      <gux-option-v2 value="g">Goat</gux-option-v2>
      <gux-option-v2 value="h">Hourse</gux-option-v2>
      <gux-option-v2 value="i">Ibis</gux-option-v2>
      <gux-option-v2 value="j">Jellyfish</gux-option-v2>
      <gux-option-v2 value="k">Kestrel</gux-option-v2>
      <gux-option-v2 value="l">Lion</gux-option-v2>
      <gux-option-v2 value="m">Monkey</gux-option-v2>
      <gux-option-v2 value="n">Narwhal</gux-option-v2>
      <gux-option-v2 value="o">Otter</gux-option-v2>
      <gux-option-v2 value="p">Penguin</gux-option-v2>
      <gux-option-v2 value="q">Quail</gux-option-v2>
      <gux-option-v2 value="r">Rabbit</gux-option-v2>
      <gux-option-v2 value="s">Snake</gux-option-v2>
      <gux-option-v2 value="t">Toad</gux-option-v2>
      <gux-option-v2 value="u">Urchin</gux-option-v2>
      <gux-option-v2 value="v">Vulture</gux-option-v2>
      <gux-option-v2 value="w">Worm</gux-option-v2>
      <gux-option-v2 value="x">Xerus</gux-option-v2>
      <gux-option-v2 value="y">Yak</gux-option-v2>
      <gux-option-v2 value="z">Zebra</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>

  <h2>Set list max height</h2>
  <gux-dropdown-v2-beta placeholder="Select an animal">
    <gux-listbox style="max-height: 100px" aria-label="Animals">
      <gux-option-v2 value="a">Ant</gux-option-v2>
      <gux-option-v2 value="b">Bat</gux-option-v2>
      <gux-option-v2 value="c">Cat</gux-option-v2>
      <gux-option-v2 value="d">Dog</gux-option-v2>
      <gux-option-v2 value="e">Eel</gux-option-v2>
      <gux-option-v2 value="f">Frog</gux-option-v2>
      <gux-option-v2 value="g">Goat</gux-option-v2>
      <gux-option-v2 value="h">Hourse</gux-option-v2>
      <gux-option-v2 value="i">Ibis</gux-option-v2>
      <gux-option-v2 value="j">Jellyfish</gux-option-v2>
      <gux-option-v2 value="k">Kestrel</gux-option-v2>
      <gux-option-v2 value="l">Lion</gux-option-v2>
      <gux-option-v2 value="m">Monkey</gux-option-v2>
      <gux-option-v2 value="n">Narwhal</gux-option-v2>
      <gux-option-v2 value="o">Otter</gux-option-v2>
      <gux-option-v2 value="p">Penguin</gux-option-v2>
      <gux-option-v2 value="q">Quail</gux-option-v2>
      <gux-option-v2 value="r">Rabbit</gux-option-v2>
      <gux-option-v2 value="s">Snake</gux-option-v2>
      <gux-option-v2 value="t">Toad</gux-option-v2>
      <gux-option-v2 value="u">Urchin</gux-option-v2>
      <gux-option-v2 value="v">Vulture</gux-option-v2>
      <gux-option-v2 value="w">Worm</gux-option-v2>
      <gux-option-v2 value="x">Xerus</gux-option-v2>
      <gux-option-v2 value="y">Yak</gux-option-v2>
      <gux-option-v2 value="z">Zebra</gux-option-v2>
    </gux-listbox>
  </gux-dropdown-v2-beta>
</form>

<style>
  form {
    width: 200px;
  }
</style>
