@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  display: inline-block;
  border-radius: var(--gse-ui-tag-borderRadius);
}

.gux-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-tag-removable-gap);
  place-content: stretch flex-start;
  align-items: center;
  height: var(--gse-ui-tag-height);
  padding: var(--gse-ui-tag-padding);
  font-family: var(--gse-ui-tag-text-fontFamily);
  font-size: var(--gse-ui-tag-text-fontSize);
  font-weight: var(--gse-ui-tag-text-fontWeight, 600);
  line-height: var(--gse-ui-tag-text-lineHeight);
  color: var(--gse-ui-tag-default-foregroundColor);
  background-color: var(--gse-ui-tag-default-backgroundColor);
  border-radius: var(--gse-ui-tag-borderRadius);

  &.gux-size-small {
    height: var(--gse-ui-tag-small-height);
  }

  &.gux-size-large {
    height: var(--gse-ui-tag-large-height);
  }

  &.gux-disabled {
    position: relative;

    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background-color: #fff;
      border-radius: var(--gse-ui-tag-borderRadius);
      opacity: var(--gse-ui-tag-disabled-opacity);
    }
  }

  gux-tooltip-title {
    white-space: nowrap;
    cursor: default;

    ::slotted(gux-icon) {
      font-size: var(--gse-ui-tag-button-size);
    }
  }

  .gux-sr-only {
    @include mixins.gux-sr-only-clip;
  }

  .gux-tag-remove-button {
    all: unset;
    display: flex;
    place-content: center center;
    align-items: center;

    &:not(:disabled):hover {
      cursor: pointer;
    }

    .gux-tag-remove-icon {
      width: var(--gse-ui-tag-button-size);
      height: var(--gse-ui-tag-button-size);
      margin-right: -4px;
    }

    &:focus-within {
      .gux-tag-remove-icon {
        border-radius: var(--gse-semantic-focusRing-cornerRadius);
        outline: var(--gse-semantic-focusRing-small-border-width) solid
          var(--gse-semantic-color-focus);
      }
    }
  }

  &.gux-accent-default {
    color: var(--gse-ui-tag-default-bold-foregroundColor);
    background-color: var(--gse-ui-tag-default-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-default-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-default-subtle-backgroundColor);
    }
  }

  &.gux-accent-1 {
    color: var(--gse-ui-tag-accent1-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent1-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent1-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent1-subtle-backgroundColor);
    }
  }

  &.gux-accent-2 {
    color: var(--gse-ui-tag-accent2-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent2-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent2-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent2-subtle-backgroundColor);
    }
  }

  &.gux-accent-3 {
    color: var(--gse-ui-tag-accent3-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent3-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent3-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent3-subtle-backgroundColor);
    }
  }

  &.gux-accent-4 {
    color: var(--gse-ui-tag-accent4-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent4-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent4-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent4-subtle-backgroundColor);
    }
  }

  &.gux-accent-5 {
    color: var(--gse-ui-tag-accent5-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent5-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent5-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent5-subtle-backgroundColor);
    }
  }

  &.gux-accent-6 {
    color: var(--gse-ui-tag-accent6-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent6-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent6-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent6-subtle-backgroundColor);
    }
  }

  &.gux-accent-7 {
    color: var(--gse-ui-tag-accent7-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent7-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent7-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent7-subtle-backgroundColor);
    }
  }

  &.gux-accent-8 {
    color: var(--gse-ui-tag-accent8-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent8-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent8-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent8-subtle-backgroundColor);
    }
  }

  &.gux-accent-9 {
    color: var(--gse-ui-tag-accent9-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent9-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent9-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent9-subtle-backgroundColor);
    }
  }

  &.gux-accent-10 {
    color: var(--gse-ui-tag-accent10-bold-foregroundColor);
    background-color: var(--gse-ui-tag-accent10-bold-backgroundColor);

    &.gux-emphasis-subtle {
      color: var(--gse-ui-tag-accent10-subtle-foregroundColor);
      background-color: var(--gse-ui-tag-accent10-subtle-backgroundColor);
    }
  }

  &.gux-accent-inherit {
    color: inherit;
    background-color: inherit;
  }
}
