@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

$focus-outline-offset: 5px;

:host {
  display: inline-block;
  border-radius: ui.$gse-ui-tag-borderRadius;
}

.gux-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: ui.$gse-ui-tag-removable-gap;
  place-content: stretch flex-start;
  align-items: center;
  block-size: ui.$gse-ui-tag-small-height;
  padding: ui.$gse-ui-tag-padding;
  font-family: ui.$gse-ui-tag-textSmall-fontFamily;
  font-size: ui.$gse-ui-tag-textSmall-fontSize;
  font-weight: ui.$gse-ui-tag-textSmall-fontWeight;
  line-height: ui.$gse-ui-tag-textSmall-lineHeight;
  color: ui.$gse-ui-tag-default-bold-foregroundColor;
  background-color: ui.$gse-ui-tag-default-bold-backgroundColor;
  border-radius: ui.$gse-ui-tag-borderRadius;

  &.gux-size-large {
    block-size: ui.$gse-ui-tag-large-height;
    font-family: ui.$gse-ui-tag-textLarge-fontFamily;
    font-size: ui.$gse-ui-tag-textLarge-fontSize;
    font-weight: ui.$gse-ui-tag-textLarge-fontWeight;
    line-height: ui.$gse-ui-tag-textLarge-lineHeight;

    .gux-tag-remove-button:focus-within .gux-tag-remove-icon {
      outline-offset: $focus-outline-offset * 2;
    }
  }

  &.gux-disabled {
    position: relative;
    user-select: none;
    opacity: ui.$gse-ui-tag-disabled-opacity;
  }

  gux-tooltip-title {
    white-space: nowrap;
    cursor: default;

    ::slotted(gux-icon) {
      font-size: ui.$gse-ui-tag-button-size;
    }
  }

  .gux-tag-remove-button {
    all: unset;
    display: flex;
    place-content: center center;
    align-items: center;

    &:not(:disabled):hover {
      cursor: pointer;
    }

    .gux-tag-remove-icon {
      inline-size: ui.$gse-ui-tag-button-size;
      block-size: ui.$gse-ui-tag-button-size;
      margin-inline-end: -4px;
    }

    &:focus-within {
      .gux-tag-remove-icon {
        outline: global.$gse-semantic-focusOutline-md-borderWidth solid
          ui.$gse-ui-color-focus;
        outline-offset: $focus-outline-offset;
        border-radius: global.$gse-semantic-focusOutline-sm-borderRadius;
      }
    }
  }

  &.gux-accent-default {
    color: ui.$gse-ui-tag-default-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-default-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-default-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-default-subtle-backgroundColor;
    }
  }

  &.gux-accent-1 {
    color: ui.$gse-ui-tag-accent1-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent1-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent1-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent1-subtle-backgroundColor;
    }
  }

  &.gux-accent-2 {
    color: ui.$gse-ui-tag-accent2-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent2-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent2-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent2-subtle-backgroundColor;
    }
  }

  &.gux-accent-3 {
    color: ui.$gse-ui-tag-accent3-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent3-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent3-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent3-subtle-backgroundColor;
    }
  }

  &.gux-accent-4 {
    color: ui.$gse-ui-tag-accent4-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent4-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent4-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent4-subtle-backgroundColor;
    }
  }

  &.gux-accent-5 {
    color: ui.$gse-ui-tag-accent5-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent5-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent5-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent5-subtle-backgroundColor;
    }
  }

  &.gux-accent-6 {
    color: ui.$gse-ui-tag-accent6-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent6-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent6-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent6-subtle-backgroundColor;
    }
  }

  &.gux-accent-7 {
    color: ui.$gse-ui-tag-accent7-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent7-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent7-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent7-subtle-backgroundColor;
    }
  }

  &.gux-accent-8 {
    color: ui.$gse-ui-tag-accent8-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent8-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent8-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent8-subtle-backgroundColor;
    }
  }

  &.gux-accent-9 {
    color: ui.$gse-ui-tag-accent9-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent9-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent9-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent9-subtle-backgroundColor;
    }
  }

  &.gux-accent-10 {
    color: ui.$gse-ui-tag-accent10-bold-foregroundColor;
    background-color: ui.$gse-ui-tag-accent10-bold-backgroundColor;

    &.gux-emphasis-subtle {
      color: ui.$gse-ui-tag-accent10-subtle-foregroundColor;
      background-color: ui.$gse-ui-tag-accent10-subtle-backgroundColor;
    }
  }

  &.gux-accent-inherit {
    color: inherit;
    background-color: inherit;
  }
}
