<h1>Default</h1>
<gux-line-chart
  chart-data='{
  "values": [
    {"date": "2021-01-01", "value": 9.4, "category": "a"},
    {"date": "2021-01-02", "value": 12.8, "category": "a"},
    {"date": "2021-01-03", "value": 10.6, "category": "a"},
    {"date": "2021-01-04", "value": 11.7, "category": "a"},
    {"date": "2021-01-05", "value": 12.2, "category": "a"},
    {"date": "2021-01-06", "value": 8.9, "category": "a"},
    {"date": "2021-01-07", "value": 4.4, "category": "a"},
    {"date": "2021-01-08", "value": 7.2, "category": "a"},
    {"date": "2021-01-09", "value": 10, "category": "a"},
    {"date": "2021-01-10", "value": 9.4, "category": "a"},
    {"date": "2021-01-11", "value": 6.1, "category": "a"},
    {"date": "2021-01-12", "value": 6.1, "category": "a"},
    {"date": "2021-01-13", "value": 6.1, "category": "a"},
    {"date": "2021-01-14", "value": 5, "category": "a"},
    {"date": "2021-01-15", "value": 4.4, "category": "a"},
    {"date": "2021-01-16", "value": 1.1, "category": "a"},
    {"date": "2021-01-17", "value": 1.7, "category": "a"},
    {"date": "2021-01-18", "value": 3.3, "category": "a"},
    {"date": "2021-01-19", "value": 0, "category": "a"},
    {"date": "2021-01-20", "value": -1.1, "category": "a"},
    {"date": "2021-01-21", "value": 7.2, "category": "a"},
    {"date": "2021-01-22", "value": 8.3, "category": "a"},
    {"date": "2021-01-23", "value": 6.7, "category": "a"},
    {"date": "2021-01-24", "value": 8.3, "category": "a"},
    {"date": "2021-01-25", "value": 10, "category": "a"},
    {"date": "2021-01-26", "value": 8.9, "category": "a"},
    {"date": "2021-01-27", "value": 8.9, "category": "a"},
    {"date": "2021-01-28", "value": 6.7, "category": "a"},
    {"date": "2021-01-29", "value": 6.7, "category": "a"},
    {"date": "2021-01-30", "value": 9.4, "category": "a"},
    {"date": "2021-01-31", "value": 8.3, "category": "a"},
    {"date": "2021-01-01", "value": 5.6, "category": "b"},
    {"date": "2021-01-02", "value": 5.6, "category": "b"},
    {"date": "2021-01-03", "value": 5, "category": "b"},
    {"date": "2021-01-04", "value": 10.6, "category": "b"},
    {"date": "2021-01-05", "value": 12.2, "category": "b"},
    {"date": "2021-01-06", "value": 12.2, "category": "b"},
    {"date": "2021-01-07", "value": 7.8, "category": "b"},
    {"date": "2021-01-08", "value": 7.8, "category": "b"},
    {"date": "2021-01-09", "value": 10, "category": "b"},
    {"date": "2021-01-10", "value": 7.8, "category": "b"},
    {"date": "2021-01-11", "value": 9.4, "category": "b"},
    {"date": "2021-01-12", "value": 11.1, "category": "b"},
    {"date": "2021-01-13", "value": 9.4, "category": "b"},
    {"date": "2021-01-14", "value": 6.1, "category": "b"},
    {"date": "2021-01-15", "value": 7.8, "category": "b"},
    {"date": "2021-01-16", "value": 11.7, "category": "b"},
    {"date": "2021-01-17", "value": 13.3, "category": "b"},
    {"date": "2021-01-18", "value": 13.9, "category": "b"},
    {"date": "2021-01-19", "value": 10, "category": "b"},
    {"date": "2021-01-20", "value": 10, "category": "b"},
    {"date": "2021-01-21", "value": 7.2, "category": "b"},
    {"date": "2021-01-22", "value": 9.4, "category": "b"},
    {"date": "2021-01-23", "value": 12.2, "category": "b"},
    {"date": "2021-01-24", "value": 14.4, "category": "b"},
    {"date": "2021-01-25", "value": 17.2, "category": "b"},
    {"date": "2021-01-26", "value": 16.1, "category": "b"},
    {"date": "2021-01-27", "value": 11.1, "category": "b"},
    {"date": "2021-01-28", "value": 12.2, "category": "b"},
    {"date": "2021-01-29", "value": 12.2, "category": "b"},
    {"date": "2021-01-30", "value": 8.3, "category": "b"},
    {"date": "2021-01-31", "value": 7.2, "category": "b"}
  ]
}'
  };
>
</gux-line-chart>
