@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host([gs-reorder-indicator='above']) {
  .gux-container {
    border-block-start-color: var(
      --gse-ui-dataTableItems-editColumn-editColumnItem-drop-borderColor
    );
  }
}

:host([gs-reorder-indicator='below']) {
  .gux-container {
    border-block-end-color: var(
      --gse-ui-dataTableItems-editColumn-editColumnItem-drop-borderColor
    );
  }
}

.gux-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-dataTableItems-editColumn-editColumnItem-gap);
  place-content: stretch flex-start;
  align-items: center;
  margin-block-end: -2px; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  border-block-start: 2px solid transparent; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  border-block-end: 2px solid transparent; //TODO https://inindca.atlassian.net/browse/COMUI-2314

  &.gux-drop-above {
    border-block-start-color: var(
      --gse-ui-dataTableItems-editColumn-editColumnItem-drop-borderColor
    );
  }

  &.gux-drop-below {
    border-block-end-color: var(
      --gse-ui-dataTableItems-editColumn-editColumnItem-drop-borderColor
    );
  }

  &.gux-dragging {
    border-block-start-color: transparent;
    border-block-end-color: transparent;
    opacity: 0.4; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }

  .gux-reorder {
    all: unset;
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    color: var(
      --gse-ui-dataTableItems-editColumn-editColumnItem-foregroundColor
    );
    cursor: grab;
    border-radius: 4px; //TODO https://inindca.atlassian.net/browse/COMUI-2314

    &:active {
      pointer-events: none;
      cursor: grabbing !important;
    }

    &:active,
    &:focus-visible {
      gux-icon {
        color: var(
          --gse-ui-dataTableItems-editColumn-editColumnItem-active-foregroundColor
        );
      }
    }

    &:hover {
      gux-icon {
        color: var(
          --gse-ui-dataTableItems-editColumn-editColumnItem-hover-foregroundColor
        );
      }
    }

    &:hover,
    &:focus-visible {
      @include focus.gux-focus-ring-small;
    }
  }

  .gux-select {
    position: relative;
    flex: 1 1 auto;
    align-self: auto;
    order: 1;

    gux-text-highlight {
      position: absolute;
      inset-block-start: 1px;
      inset-inline-start: calc(
        var(--gse-ui-icon-small-size) + var(--gse-ui-checkbox-gap)
      ); //TODO https://inindca.atlassian.net/browse/COMUI-2314

      color: transparent;
      pointer-events: none;
    }
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only-clip;
}
