@use '../../../../style/mixins';
@use '../../../../style/focus';

/**
  * @prop --gse-ui-dataTableItems-editColumn-editColumnItem-gap
  */

:host([gs-reorder-indicator='above']) {
  .gux-container {
    border-top-color: #aac9ff; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }
}

:host([gs-reorder-indicator='below']) {
  .gux-container {
    border-bottom-color: #aac9ff; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }
}

.gux-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-dataTableItems-editColumn-editColumnItem-gap);
  place-content: stretch flex-start;
  align-items: center;
  margin-bottom: -2px; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  border-top: 2px solid transparent; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  border-bottom: 2px solid transparent; //TODO https://inindca.atlassian.net/browse/COMUI-2314

  &.gux-drop-above {
    border-top-color: #aac9ff; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }

  &.gux-drop-below {
    border-bottom-color: #aac9ff; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }

  &.gux-dragging {
    border-top-color: transparent;
    border-bottom-color: transparent;
    opacity: 0.4; //TODO https://inindca.atlassian.net/browse/COMUI-2314
  }

  .gux-reorder {
    all: unset;
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    color: #596373; //TODO https://inindca.atlassian.net/browse/COMUI-2314
    cursor: grab;
    border-radius: 4px; //TODO https://inindca.atlassian.net/browse/COMUI-2314

    gux-icon {
      width: var(--gse-ui-icon-size-sm);
      height: var(--gse-ui-icon-size-sm);
    }

    &.gux-reordering {
      &:focus-visible {
        gux-icon {
          color: #2a60c8; //TODO https://inindca.atlassian.net/browse/COMUI-2314
        }
      }
    }

    &:active {
      pointer-events: none;
      cursor: grabbing !important;
    }

    &:hover,
    &:focus-visible {
      @include focus.gux-focus-ring-small;

      gux-icon {
        color: #2a60c8; //TODO https://inindca.atlassian.net/browse/COMUI-2314
      }
    }
  }

  .gux-select {
    position: relative;
    flex: 1 1 auto;
    align-self: auto;
    order: 1;

    gux-text-highlight {
      position: absolute;
      top: 0;
      left: 26px + 5px; //TODO https://inindca.atlassian.net/browse/COMUI-2314
      color: transparent;
      pointer-events: none;
    }
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only-clip;
}
