@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';

// Variables part
@menu-background-color: @gux-type-dark;
@menu-border-color: @gux-border;
@menu-shadow: fade(@gux-black-30, 24%);

gux-list {
  .gux-list-items-container {
    padding: 8px 0;
    margin: 0;
    margin-top: 4px;
    list-style: none;
    background: @menu-background-color;
    border: 1px solid @gux-grey-30;
    border-radius: 4px;
    .shadow-20();
  }
}
