@import (reference) '../../../style/color.less';

// Variables part
@menu-background-color: @gux-type-dark;
@menu-border-color: #dae1eb;
@menu-shadow: rgba(34, 37, 41, 0.24);

gux-list {
  .gux-list-items-container {
    list-style: none;
    margin: 0;
    padding: 8px 0;
  }
}

// Theming

// Dark
.gux-list-dark-theme {
  color: @gux-type;

  .gux-list-items-container {
    background: @menu-background-color;
    box-shadow: 0 0 2px 0 @menu-shadow;
  }
}

.gux-dark-theme {
  gux-list {
    .gux-list-dark-theme();
  }
}

gux-list.gux-dark-theme {
  .gux-list-dark-theme();
}

// Light
.gux-list-light-theme {
  .gux-list-items-container {
    background: @menu-background-color;
    box-shadow: 0 0 2px 0 @menu-shadow;
  }
}

.gux-light-theme {
  gux-list {
    .gux-list-light-theme();
  }
}

gux-list.gux-light-theme {
  .gux-list-light-theme();
}

// Default Theme
gux-list {
  .gux-list-light-theme();
}
