<div>
  <h1>Default (Modal)</h1>
  <gux-radial-loading screenreader-text="Loading..."></gux-radial-loading>
</div>

<div>
  <h1>Full Page</h1>
  <gux-radial-loading
    context="full-page"
    screenreader-text="Loading..."
  ></gux-radial-loading>
</div>

<div>
  <h1>Input</h1>
  <gux-radial-loading
    context="input"
    screenreader-text="Loading..."
  ></gux-radial-loading>
</div>

<div>
  <h1>Modal</h1>
  <gux-radial-loading
    context="modal"
    screenreader-text="Loading..."
  ></gux-radial-loading>
</div>
