@use '../../../style/_focus.scss';

/**
 * @prop --gse-ui-rating-default-color
 * @prop --gse-ui-rating-active-color
 * @prop --gse-ui-rating-hover-color
 * @prop --gse-ui-rating-disabled-color
 * @prop --gse-ui-rating-disabled-opacity
 * @prop --gse-ui-rating-size
*/

:host {
  display: inline-flex;
  user-select: none;
}

:host(:host:focus-visible) {
  @include focus.gux-focus-ring-small;
  outline-offset: var(--gse-semantic-focusRing-offset);
  box-shadow: 0 0 0 1px var(--gse-semantic-focusRing-small-border-style);
}

.gux-rating-star-container {
  color: var(--gse-ui-rating-default-color);

  &.gux-disabled {
    color: var(--gse-ui-rating-disabled-color);
    pointer-events: none;
    opacity: var(--gse-ui-rating-disabled-opacity);
  }

  gux-icon {
    width: var(--gse-ui-rating-size);
    height: var(--gse-ui-rating-size);
    color: var(--gse-ui-rating-default-color);

    &:hover:not(.gux-disabled) {
      color: var(--gse-ui-rating-hover-color);
    }
  }
}
