@use '~genesys-spark/src/style/focus.scss';

:host {
  display: inline-block;
  min-width: fit-content;
  user-select: none;
}

:host(:host:focus-visible) {
  @include focus.gux-focus-ring-small;

  outline-offset: var(--gse-semantic-focusRing-offset);
  box-shadow: 0 0 0 1px var(--gse-semantic-focusRing-small-border-style);
}

.gux-rating-star-container {
  display: flex;
  gap: var(--gse-ui-rating-star-gap);
  justify-content: space-between;
  color: var(--gse-ui-rating-default-color);

  &.gux-disabled {
    color: var(--gse-ui-rating-disabled-color);
    pointer-events: none;
    opacity: var(--gse-ui-rating-disabled-opacity);
  }

  gux-icon {
    flex: 0 0 auto;
    width: var(--gse-ui-rating-size);
    height: var(--gse-ui-rating-size);
    color: var(--gse-ui-rating-default-color);

    &:hover:not(.gux-disabled) {
      color: var(--gse-ui-rating-hover-color);
    }
  }
}
