// Variables part
@backgroundColor: #fdfdfd;
@textcolor: #444a52;
@border: #dae1e8;
@placeholder: #b8c2cc;
@iconColor: #b8c2cc;

@darkBackgroundColor: #555d66;
@darkTextcolor: #fdfdfd;
@darkBorder: #222529;
@darkPlaceholder: #9baab8;
@darkIconColor: #9baab8;

genesys-text-field {
  position: relative;
  .genesys-field {
    position: relative;
    height: 32px;
    input {
      height: 32px;
      width: 100%;
      box-sizing: border-box;
      padding: 4px 25px 4px 12px;
      background-color: @backgroundColor;
      background-image: none;
      border: 1px solid @border;
      border-radius: 2px;
      font-size: 12px;
      line-height: 1.66666667;
      color: @textcolor;
      &::placeholder {
        color: @placeholder;
      }
      &::-webkit-input-placeholder {
        color: @placeholder;
      }
      &::-ms-input-placeholder {
        color: @placeholder;
      }
      &::-moz-placeholder {
        color: @placeholder;
      }
    }
    button {
      color: @iconColor;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border: none;
      background: none;
      cursor: pointer;
      display: block;
      opacity: 0;
      outline: none;
    }
  }
  &:not([disabled]):hover,
  &:not([disabled]):focus {
    button {
      opacity: 1;
    }
  }
  &.updated {
    &::before {
      content: '';
      border-left: 0px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #f00;
      position: absolute;
      z-index: 10;
    }
  }
  &.error {
    input {
      border-color: #f53131;
      outline: 0;
      &:focus,
      &:hover {
        border-color: #f53131;
        outline: 0;
      }
    }
    .genesys-error {
      label {
        padding: 5px 0;
      }
      i {
        color: #f53131;
        margin-right: 4px;
      }
    }
  }
  &.warning {
    input {
      border-color: #f53131;
      outline: 0;
      &:focus,
      &:hover {
        border-color: #f53131;
        outline: 0;
      }
    }
    .genesys-error {
      label {
        padding: 5px 0;
      }
      i {
        color: #f8a740;
        margin-right: 4px;
      }
    }
  }
}

// Theming
.genesys-text-field-dark-theme {
  .genesys-field {
    input {
      background-color: @darkBackgroundColor;
      border: 1px solid @darkBorder;
      color: @darkTextcolor;
      &::placeholder {
        color: @darkPlaceholder;
      }
      &::-webkit-input-placeholder {
        color: @darkPlaceholder;
      }
      &::-ms-input-placeholder {
        color: @darkPlaceholder;
      }
      &::-moz-placeholder {
        color: @darkPlaceholder;
      }
    }

    button {
      color: @darkIconColor;
    }
  }

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    button {
      opacity: 1;
    }
  }

  &.updated {
    &::before {
      content: '';
      border-left: 0px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #f00;
      position: absolute;
      z-index: 10;
    }
  }
  &.error {
    input {
      border-color: #f53131;
      &:focus,
      &:hover {
        border-color: #f53131;
      }
    }
    .genesys-error {
      i {
        color: #f53131;
      }
    }
  }
  &.warning {
    input {
      border-color: #f53131;
      &:focus,
      &:hover {
        border-color: #f53131;
      }
    }
    .genesys-error {
      i {
        color: #f8a740;
      }
    }
  }
}

.genesys-dark-theme {
  genesys-text-field {
    .genesys-text-field-dark-theme;
  }
}
.genesys-text-field.genesys-dark-theme {
  .genesys-text-field-dark-theme;
}
