// Variables part
@background-color: @genesys-off-white;
@text-color: @genesys-grey-2;
@border: @genesys-border-alt;
@placeholder: @genesys-pale-gray-2;
@icon-color: #B1BECC;

@dark-background-color: @genesys-grey-2;
@dark-text-color: @genesys-off-white;
@dark-border: @genesys-grey-1;
@dark-placeholder: @genesys-pale-gray-2;
@dark-icon-color: #B1BECC;

@focus-outline: fade(@genesys-blue, 50%);
@focus-border: @genesys-dark-blue;
@alert-color: @genesys-alert;
@alert-color-dark: @genesys-alert-2;

genesys-text-field {
  display: block;
  > div {
    margin: 4px 0;
    &.error, &.warning {
      input {
        border-color: @alert-color;
        outline: 0;
        &:focus,
        &:hover {
          border-color: @alert-color;
          outline: 0;
        }
      }
      .genesys-error {
        color: @alert-color;
        i {
          margin-right: 4px;
        }
      }
    }
    &.warning {
      .genesys-error {
        i {
          color: @genesys-warning;
        }
      }
    }
    &.flex {
      display: grid;
      width: 100%;
      grid-auto-columns: min-content auto;
      label {
        grid-column: 1 e("/") 2;
        grid-row: 1 e("/") 2;
      }
      .genesys-field {
        grid-column: 2 e("/") 2;
        grid-row: 1 e("/") 2;
      }
      .genesys-error {
        grid-column: 2 e("/") 2;
        grid-row: 2 e("/") 2;
      }
    }
    label {
      margin-right: 8px;
      height: 32px;
      line-height: 30px;
      font-weight: bold;
      display: inline-block;
    }
    > div.genesys-field {
      position: relative;
      height: 32px;
    }

  }
  .genesys-field {
    position: relative;
    input {
      height: 32px;
      width: 100%;
      box-sizing: border-box;
      padding: 4px 25px 4px 12px;
      background-color: @background-color;
      background-image: none;
      border: 1px solid @border;
      border-radius: 2px;
      font-size: 12px;
      line-height: 1.66666667;
      color: @text-color;
      &::placeholder {
        color: @placeholder;
      }
      &::-webkit-input-placeholder {
        color: @placeholder;
      }
      &::-ms-input-placeholder {
        color: @placeholder;
      }
      &::-moz-placeholder {
        color: @placeholder;
      }
      &:focus {
        border: 1px solid @focus-border;
        outline: none;
        box-shadow: 0px 0px 4px @focus-outline;
      }
    }
    button {
      color: @icon-color;
      position: absolute;
      top: 1px;
      right: 3px;
      bottom: 0;
      border: none;
      background: none;
      cursor: pointer;
      display: block;
      outline: none;
      overflow: hidden;
    }
  }
}

// Theming

// Dark
.genesys-text-field-dark-theme {
  > div {
    &.error, &.warning {
      input {
        border-color: @alert-color-dark;
        outline: 0;
        &:focus,
        &:hover {
          border-color: @alert-color-dark;
          outline: 0;
        }
      }
      .genesys-error {
        color: @alert-color-dark;
        i {
          margin-right: 4px;
        }
      }
    }
    &.warning {
      .genesys-error {
        i {
          color: @genesys-warning;
        }
      }
    }
  }
  .genesys-field {
    input {
      background-color: @dark-background-color;
      border: 1px solid @dark-border;
      color: @dark-text-color;
      &::placeholder {
        color: @dark-placeholder;
      }
      &::-webkit-input-placeholder {
        color: @dark-placeholder;
      }
      &::-ms-input-placeholder {
        color: @dark-placeholder;
      }
      &::-moz-placeholder {
        color: @dark-placeholder;
      }
      &:focus {
        border: 1px solid @genesys-blue;
        outline: 3px @genesys-blue;
        box-shadow: none;
      }
    }

    button {
      color: @dark-icon-color;
    }
  }

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    button {
      opacity: 1;
    }
  }
}

.genesys-dark-theme {
  genesys-text-field {
    .genesys-text-field-dark-theme;
  }
}
.genesys-text-field.genesys-dark-theme {
  .genesys-text-field-dark-theme;
}

// Light
.genesys-text-field-light-theme {
  > div {
    &.error, &.warning {
      input {
        border-color: @alert-color;
        &:focus,
        &:hover {
          border-color: @alert-color;
        }
      }
      .genesys-error {
        color: @alert-color;
      }
    }
    &.warning {
      .genesys-error {
        i {
          color: @genesys-warning;
        }
      }
    }
  }
  .genesys-field {
    input {
      background-color: @background-color;
      border: 1px solid @border;
      color: @text-color;
      &::placeholder {
        color: @placeholder;
      }
      &::-webkit-input-placeholder {
        color: @placeholder;
      }
      &::-ms-input-placeholder {
        color: @placeholder;
      }
      &::-moz-placeholder {
        color: @placeholder;
      }
      &:focus {
        border: 1px solid @focus-border;
        box-shadow: 0px 0px 4px @focus-outline;
      }
    }
    button {
      color: @icon-color;
    }
  }
}

.genesys-light-theme {
  genesys-text-field {
      .genesys-text-field-light-theme;
  }
}
genesys-text-field.genesys-light-theme {
  .genesys-text-field-light-theme;
}

// Default Theme
genesys-text-field {
  .genesys-text-field-light-theme
}