@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  ::slotted(footer) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-block-start: global.$gse-semantic-formControl-formBody-paddingBottom;
    border-block-start: ui.$gse-ui-formFooter-separator-width
      ui.$gse-ui-formFooter-separator-style
      ui.$gse-ui-formFooter-separator-color;
  }
}

:host(.gux-form-footer-page-desktop) ::slotted(footer) {
  gap: ui.$gse-ui-formFooter-page-desktop-gap;
  padding-block: ui.$gse-ui-formFooter-page-desktop-topPadding
    ui.$gse-ui-formFooter-page-desktop-bottomPadding;
  padding-inline: ui.$gse-ui-formFooter-page-desktop-horizontalPadding
    ui.$gse-ui-formFooter-page-desktop-horizontalPadding;
}

:host(.gux-form-footer-page-mobile) ::slotted(footer) {
  flex-direction: column;
  gap: ui.$gse-ui-formFooter-page-mobile-gap;
  align-items: stretch;
  justify-content: center;
  padding-block: ui.$gse-ui-formFooter-page-mobile-topPadding
    ui.$gse-ui-formFooter-page-mobile-bottomPadding;
  padding-inline: ui.$gse-ui-formFooter-page-mobile-horizontalPadding
    ui.$gse-ui-formFooter-page-mobile-horizontalPadding;
}

:host(.gux-form-footer-side-sheet-desktop) ::slotted(footer) {
  gap: ui.$gse-ui-formFooter-sideSheet-desktop-gap;
  padding-block: ui.$gse-ui-formFooter-sideSheet-desktop-topPadding
    ui.$gse-ui-formFooter-sideSheet-desktop-bottomPadding;
  padding-inline: ui.$gse-ui-formFooter-sideSheet-desktop-horizontalPadding
    ui.$gse-ui-formFooter-sideSheet-desktop-horizontalPadding;
}
