@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/focus.less';
@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/color-palette.less';

// Style
:host {
  display: inline-block;
}

.gux-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  color: #fdfdfd;
  background-color: #2e394c;
  border-radius: 4px;

  gux-tooltip-title {
    white-space: nowrap;
    cursor: default;

    ::slotted(gux-icon) {
      height: 20px;
      font-size: 16px;
    }
  }

  .gux-sr-only {
    .gux-sr-only-clip();
  }

  .gux-tag-remove-button {
    all: unset;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 8px;

    &:not(:disabled):hover {
      cursor: pointer;
    }

    .gux-tag-remove-icon {
      width: 16px;
      height: 16px;
      border-radius: 25%;
    }

    &:focus-within {
      .gux-tag-remove-icon {
        .gux-focus-ring-small();
      }
    }
  }

  &.gux-disabled {
    background-color: fade(#2e394c, 50%);
  }

  &.gux-default {
    background-color: #2e394c;

    &.gux-disabled {
      background-color: fade(#2e394c, 50%);
    }
  }

  &.gux-default-subtle {
    color: #2e394c;
    background-color: #e2e6ee;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#e2e6ee, 50%);
    }
  }

  // Secondary Colors
  &.gux-navy {
    background-color: #203b73;

    &.gux-disabled {
      background-color: fade(#203b73, 50%);
    }
  }

  &.gux-blue {
    color: #2e394c;
    background-color: #75a8ff;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#75a8ff, 50%);
    }
  }

  &.gux-electric-purple {
    background-color: #8452cf;

    &.gux-disabled {
      background-color: fade(#8452cf, 50%);
    }
  }

  &.gux-aqua-green {
    color: #202937;
    background-color: #1da8b3;

    &.gux-disabled {
      color: fade(#202937, 50%);
      background-color: fade(#1da8b3, 50%);
    }
  }

  &.gux-fuchsia {
    color: #000;
    background-color: #cc3ebe;

    &.gux-disabled {
      color: fade(#000, 50%);
      background-color: fade(#cc3ebe, 50%);
    }
  }

  &.gux-dark-purple {
    background-color: #5e5782;

    &.gux-disabled {
      background-color: fade(#5e5782, 50%);
    }
  }

  &.gux-bubblegum-pink {
    color: #2e394c;
    background-color: #ff8fdd;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#ff8fdd, 50%);
    }
  }

  &.gux-olive-green {
    color: #151d28;
    background-color: #868c1e;

    &.gux-disabled {
      color: fade(#151d28, 50%);
      background-color: fade(#868c1e, 50%);
    }
  }

  &.gux-lilac {
    color: #2e394c;
    background-color: #b5b5eb;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#b5b5eb, 50%);
    }
  }

  &.gux-alert-yellow-green {
    color: #2e394c;
    background-color: #ddd933;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#ddd933, 50%);
    }
  }

  // Blue
  &.gux-blue-10 {
    background-color: #172b52;

    &.gux-disabled {
      background-color: fade(#172b52, 50%);
    }
  }

  &.gux-blue-20 {
    background-color: #1c3363;

    &.gux-disabled {
      background-color: fade(#1c3363, 50%);
    }
  }

  &.gux-blue-30 {
    background-color: #203b73;

    &.gux-disabled {
      background-color: fade(#203b73, 50%);
    }
  }

  &.gux-blue-40 {
    background-color: #23478f;

    &.gux-disabled {
      background-color: fade(#23478f, 50%);
    }
  }

  &.gux-blue-50 {
    background-color: #2754ac;

    &.gux-disabled {
      background-color: fade(#2754ac, 50%);
    }
  }

  &.gux-blue-60 {
    background-color: #2a60c8;

    &.gux-disabled {
      background-color: fade(#2a60c8, 50%);
    }
  }

  &.gux-blue-70 {
    color: #151d28;
    background-color: #5084e3;

    &.gux-disabled {
      color: fade(#151d28, 50%);
      background-color: fade(#5084e3, 50%);
    }
  }

  &.gux-blue-80 {
    color: #2e394c;
    background-color: #75a8ff;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#75a8ff, 50%);
    }
  }

  &.gux-blue-90 {
    color: #2e394c;
    background-color: #aac9ff;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#aac9ff, 50%);
    }
  }

  &.gux-blue-100 {
    color: #2e394c;
    background-color: #deeaff;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#deeaff, 50%);
    }
  }

  // Red
  &.gux-alert-red-10 {
    background-color: #520404;

    &.gux-disabled {
      background-color: fade(#520404, 50%);
    }
  }

  &.gux-alert-red-20 {
    background-color: #700505;

    &.gux-disabled {
      background-color: fade(#700505, 50%);
    }
  }

  &.gux-alert-red-30 {
    background-color: #8f0707;

    &.gux-disabled {
      background-color: fade(#8f0707, 50%);
    }
  }

  &.gux-alert-red-40 {
    background-color: #ad0808;

    &.gux-disabled {
      background-color: fade(#ad0808, 50%);
    }
  }

  &.gux-alert-red-50 {
    background-color: #cc0a0a;

    &.gux-disabled {
      background-color: fade(#cc0a0a, 50%);
    }
  }

  &.gux-alert-red-60 {
    background-color: #ea0b0b;

    &.gux-disabled {
      background-color: fade(#ea0b0b, 50%);
    }
  }

  &.gux-alert-red-70 {
    color: #000;
    background-color: #ef4343;

    &.gux-disabled {
      color: fade(#000, 50%);
      background-color: fade(#ef4343, 50%);
    }
  }

  &.gux-alert-red-80 {
    color: #283243;
    background-color: #f37a7a;

    &.gux-disabled {
      color: fade(#283243, 50%);
      background-color: fade(#f37a7a, 50%);
    }
  }

  &.gux-alert-red-90 {
    color: #2e394c;
    background-color: #f8b2b2;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#f8b2b2, 50%);
    }
  }

  &.gux-alert-red-100 {
    color: #2e394c;
    background-color: #fceaea;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#fceaea, 50%);
    }
  }

  // Green
  &.gux-alert-green-10 {
    background-color: #0d3d00;

    &.gux-disabled {
      background-color: fade(#0d3d00, 50%);
    }
  }

  &.gux-alert-green-20 {
    background-color: #164b08;

    &.gux-disabled {
      background-color: fade(#164b08, 50%);
    }
  }

  &.gux-alert-green-30 {
    background-color: #205a10;

    &.gux-disabled {
      background-color: fade(#205a10, 50%);
    }
  }

  &.gux-alert-green-40 {
    background-color: #296817;

    &.gux-disabled {
      background-color: fade(#296817, 50%);
    }
  }

  &.gux-alert-green-50 {
    background-color: #33771f;

    &.gux-disabled {
      background-color: fade(#33771f, 50%);
    }
  }

  &.gux-alert-green-60 {
    background-color: #3c8527;

    &.gux-disabled {
      background-color: fade(#3c8527, 50%);
    }
  }

  &.gux-alert-green-70 {
    color: #202937;
    background-color: #69a358;

    &.gux-disabled {
      color: fade(#202937, 50%);
      background-color: fade(#69a358, 50%);
    }
  }

  &.gux-alert-green-80 {
    color: #2e394c;
    background-color: #95c189;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#95c189, 50%);
    }
  }

  &.gux-alert-green-90 {
    color: #2e394c;
    background-color: #c2deb9;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#c2deb9, 50%);
    }
  }

  &.gux-alert-green-100 {
    color: #2e394c;
    background-color: #eefcea;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#eefcea, 50%);
    }
  }

  // Yellow
  &.gux-alert-yellow-10 {
    background-color: #523800;

    &.gux-disabled {
      background-color: fade(#523800, 50%);
    }
  }

  &.gux-alert-yellow-20 {
    background-color: #755000;

    &.gux-disabled {
      background-color: fade(#755000, 50%);
    }
  }

  &.gux-alert-yellow-30 {
    background-color: #976700;

    &.gux-disabled {
      background-color: fade(#976700, 50%);
    }
  }

  &.gux-alert-yellow-40 {
    color: #151d28;
    background-color: #ba7f00;

    &.gux-disabled {
      color: fade(#151d28, 50%);
      background-color: fade(#ba7f00, 50%);
    }
  }

  &.gux-alert-yellow-50 {
    color: #2e394c;
    background-color: #dc9600;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#dc9600, 50%);
    }
  }

  &.gux-alert-yellow-60 {
    color: #2e394c;
    background-color: #ffae00;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#ffae00, 50%);
    }
  }

  &.gux-alert-yellow-70 {
    color: #2e394c;
    background-color: #fbbe3b;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#fbbe3b, 50%);
    }
  }

  &.gux-alert-yellow-80 {
    color: #2e394c;
    background-color: #fcd276;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#fcd276, 50%);
    }
  }

  &.gux-alert-yellow-90 {
    color: #2e394c;
    background-color: #fce5b1;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#fce5b1, 50%);
    }
  }

  &.gux-alert-yellow-100 {
    color: #2e394c;
    background-color: #fdf8ec;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#fdf8ec, 50%);
    }
  }

  // Brand Colors
  &.gux-brand-orange {
    color: #151d28;
    background-color: #ff4f1f;

    &.gux-disabled {
      color: fade(#151d28, 50%);
      background-color: fade(#ff4f1f, 50%);
    }
  }

  &.gux-brand-teal {
    color: #283243;
    background-color: #00ae9e;

    &.gux-disabled {
      color: fade(#283243, 50%);
      background-color: fade(#00ae9e, 50%);
    }
  }

  &.gux-brand-navy {
    background-color: #23395d;

    &.gux-disabled {
      background-color: fade(#23395d, 50%);
    }
  }

  &.gux-brand-light-blue {
    color: #151d28;
    background-color: #3b90aa;

    &.gux-disabled {
      color: fade(#151d28, 50%);
      background-color: fade(#3b90aa, 50%);
    }
  }

  &.gux-brand-yellow {
    color: #2e394c;
    background-color: #ff8f14;

    &.gux-disabled {
      color: fade(#2e394c, 50%);
      background-color: fade(#ff8f14, 50%);
    }
  }
}
