@import '../../../style/mixins';

/**
  * @prop --gse-ui-tag-label-font-family
  * @prop --gse-ui-tag-label-font-weight
  * @prop --gse-ui-tag-label-line-height
  * @prop --gse-ui-tag-label-font-size
  * @prop --gse-ui-tag-background-default
  * @prop --gse-ui-tag-background-accent1
  * @prop --gse-ui-tag-background-accent2
  * @prop --gse-ui-tag-background-accent3
  * @prop --gse-ui-tag-background-accent4
  * @prop --gse-ui-tag-background-accent5
  * @prop --gse-ui-tag-background-accent6
  * @prop --gse-ui-tag-background-accent7
  * @prop --gse-ui-tag-background-accent8
  * @prop --gse-ui-tag-background-accent9
  * @prop --gse-ui-tag-background-accent10
  * @prop --gse-ui-tag-foreground-default
  * @prop --gse-ui-tag-foreground-accent1
  * @prop --gse-ui-tag-foreground-accent2
  * @prop --gse-ui-tag-foreground-accent3
  * @prop --gse-ui-tag-foreground-accent4
  * @prop --gse-ui-tag-foreground-accent5
  * @prop --gse-ui-tag-foreground-accent6
  * @prop --gse-ui-tag-foreground-accent7
  * @prop --gse-ui-tag-foreground-accent8
  * @prop --gse-ui-tag-foreground-accent9
  * @prop --gse-ui-tag-foreground-accent10
  */

$cui-ui-tag-border-radius: var(--gse-ui-tag-label-line-height);
$cui-ui-tag-gap: 4px;
$cui-ui-tag-height: 20px;
$cui-ui-tag-padding: 0 12px;
$cui-ui-tag-icon-size: 16px;

$cui-focus-ring-color: var(--gse-ui-shared-focus-ring);
$cui-focus-ring-width: 2px;
$cui-focus-ring-offset: 0;
$cui-focus-ring-corner-radius: 4px;

:host {
  display: inline-block;
  border-radius: $cui-ui-tag-border-radius;
}

.gux-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;

  font-family: var(--gse-ui-tag-label-font-family);
  font-weight: var(--gse-ui-tag-label-font-weight);
  line-height: var(--gse-ui-tag-label-line-height);
  font-size: var(--gse-ui-tag-label-font-size);

  background-color: var(--gse-ui-tag-background-default);
  color: var(--gse-ui-tag-foreground-default);

  border-radius: $cui-ui-tag-border-radius;
  gap: $cui-ui-tag-gap;
  height: $cui-ui-tag-height;
  padding: $cui-ui-tag-padding;

  &.gux-disabled {
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
      background-color: #ffffff;
      border-radius: $cui-ui-tag-border-radius;
      content: '';
    }
  }

  gux-tooltip-title {
    white-space: nowrap;
    cursor: default;

    ::slotted(gux-icon) {
      font-size: $cui-ui-tag-icon-size;
    }
  }

  .gux-sr-only {
    @include gux-sr-only-clip;
  }

  .gux-tag-remove-button {
    all: unset;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    &:not(:disabled):hover {
      cursor: pointer;
    }

    .gux-tag-remove-icon {
      width: $cui-ui-tag-icon-size;
      height: $cui-ui-tag-icon-size;
      margin-right: -4px;
    }

    &:focus-within {
      .gux-tag-remove-icon {
        outline: $cui-focus-ring-width solid $cui-focus-ring-color;
        outline-offset: $cui-focus-ring-offset;
        border-radius: $cui-focus-ring-corner-radius;
      }
    }
  }

  &.gux-accent-default {
    background-color: var(--gse-ui-tag-background-default);
    color: var(--gse-ui-tag-foreground-default);
  }

  &.gux-accent-1 {
    background-color: var(--gse-ui-tag-background-accent1);
    color: var(--gse-ui-tag-foreground-accent1);
  }

  &.gux-accent-2 {
    background-color: var(--gse-ui-tag-background-accent2);
    color: var(--gse-ui-tag-foreground-accent2);
  }

  &.gux-accent-3 {
    background-color: var(--gse-ui-tag-background-accent3);
    color: var(--gse-ui-tag-foreground-accent3);
  }

  &.gux-accent-4 {
    background-color: var(--gse-ui-tag-background-accent4);
    color: var(--gse-ui-tag-foreground-accent4);
  }

  &.gux-accent-5 {
    background-color: var(--gse-ui-tag-background-accent5);
    color: var(--gse-ui-tag-foreground-accent5);
  }

  &.gux-accent-6 {
    background-color: var(--gse-ui-tag-background-accent6);
    color: var(--gse-ui-tag-foreground-accent6);
  }

  &.gux-accent-7 {
    background-color: var(--gse-ui-tag-background-accent7);
    color: var(--gse-ui-tag-foreground-accent7);
  }

  &.gux-accent-8 {
    background-color: var(--gse-ui-tag-background-accent8);
    color: var(--gse-ui-tag-foreground-accent8);
  }

  &.gux-accent-9 {
    background-color: var(--gse-ui-tag-background-accent9);
    color: var(--gse-ui-tag-foreground-accent9);
  }

  &.gux-accent-10 {
    background-color: var(--gse-ui-tag-background-accent10);
    color: var(--gse-ui-tag-foreground-accent10);
  }

  &.gux-accent-inherit {
    background-color: inherit;
    color: inherit;
  }
}
