$gse-ui-blankState-large-minWidth: 570px; // --gse-ui-blankState-large-minWidth

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
}

.gux-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--gse-ui-blankState-padding);
  color: var(--gse-ui-blankState-foregroundColor);

  .gux-image {
    padding-bottom: var(--gse-ui-blankState-gapMain);
  }

  .gux-message {
    padding-bottom: var(--gse-ui-blankState-gapMessage);
  }

  .gux-guidance {
    padding-bottom: var(--gse-ui-blankState-gapContent);
  }

  ::slotted(gux-icon) {
    width: var(--gse-ui-blankState-icon-size-lg);
    height: var(--gse-ui-blankState-icon-size-lg);
    color: var(--gse-ui-blankState-iconColor);
  }

  slot[name='primary-message'] {
    font-family: var(
      --gse-ui-progressAndLoading-blankState-large-header-fontFamily
    );
    font-size: var(
      --gse-ui-progressAndLoading-blankState-large-header-fontSize
    );
    font-weight: var(
      --gse-ui-progressAndLoading-blankState-large-header-fontWeight
    );
    line-height: var(
      --gse-ui-progressAndLoading-blankState-large-header-lineHeight
    );
    color: var(--gse-ui-blankState-foregroundColor);
    text-align: center;
  }

  slot[name='additional-guidance'] {
    font-family: var(
      --gse-ui-progressAndLoading-blankState-large-subheader-fontFamily
    );
    font-size: var(
      --gse-ui-progressAndLoading-blankState-large-subheader-fontSize
    );
    font-weight: var(
      --gse-ui-progressAndLoading-blankState-large-subheader-fontWeight
    );
    line-height: var(
      --gse-ui-progressAndLoading-blankState-large-subheader-lineHeight
    );
    color: var(--gse-ui-blankState-foregroundColor);
    text-align: center;
  }
}

// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
@container (width < #{$gse-ui-blankState-large-minWidth}) {
  .gux-container {
    ::slotted(gux-icon) {
      width: var(--gse-ui-blankState-icon-size-sm);
      height: var(--gse-ui-blankState-icon-size-sm);
    }

    slot[name='primary-message'] {
      font-family: var(
        --gse-ui-progressAndLoading-blankState-small-header-fontFamily
      );
      font-size: var(
        --gse-ui-progressAndLoading-blankState-small-header-fontSize
      );
      font-weight: var(
        --gse-ui-progressAndLoading-blankState-small-header-fontWeight
      );
      line-height: var(
        --gse-ui-progressAndLoading-blankState-small-header-lineHeight
      );
    }

    slot[name='additional-guidance'] {
      font-family: var(
        --gse-ui-progressAndLoading-blankState-small-subheader-fontFamily
      );
      font-size: var(
        --gse-ui-progressAndLoading-blankState-small-subheader-fontSize
      );
      font-weight: var(
        --gse-ui-progressAndLoading-blankState-small-subheader-fontWeight
      );
      line-height: var(
        --gse-ui-progressAndLoading-blankState-small-subheader-lineHeight
      );
    }
  }
}
