@use '~genesys-spark/dist/scss/mixins.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-label {
    display: inline-flex;
    flex: 1 0 auto;

    ::slotted(gux-label-info-beta) {
      padding-inline-start: var(--gse-ui-formControl-formField-gap);
    }

    &.gux-beside {
      position: relative;
      inset-block-start: var(--gse-ui-formControl-input-top);
      inline-size: fit-content;
      min-inline-size: var(--gse-ui-formControl-input-textfield-minWidth);
      max-inline-size: fit-content;
      margin-inline-end: var(--gse-ui-formControl-group-gapItems);
    }

    &.gux-above {
      padding-block-end: var(--gse-ui-formControl-formField-gap);
    }

    &.gux-screenreader {
      @include mixins.gux-sr-only;
    }
  }
}
