@use '~genesys-spark/dist/scss/mixins.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-label {
    display: inline-flex;
    flex: 1 0 auto;

    ::slotted(label) {
      padding-inline-end: var(--gse-ui-formControl-label-gap);
    }

    &.gux-required {
      gux-form-field-label-indicator {
        padding-inline-end: var(--gse-ui-formControl-label-gap);
      }
    }

    &.gux-beside {
      position: relative;
      top: var(--gse-ui-formControl-input-top);
      width: fit-content;
      min-width: var(--gse-ui-formControl-input-textfield-minWidth);
      max-width: fit-content;
      margin-right: var(--gse-ui-formControl-group-gapItems);
    }

    &.gux-above {
      padding: var(--gse-ui-formControl-label-padding);
    }

    &.gux-screenreader {
      @include mixins.gux-sr-only;
    }
  }
}
