@import '../../../style/zindex.scss';
@import '../../../style/mixins';

.gux-target-container {
  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.gux-popup-container {
  position: fixed;
  z-index: var(--gux-zindex-popup, $gux-zindex-popup);
  width: max-content;
  visibility: hidden;

  &.gux-expanded {
    visibility: visible;
  }
}

.gux-sr-only-clip {
  @include gux-sr-only-clip;
}
