@import (reference) '../../../style/color.less';
@import (reference) '../../../style/zindex.less';

.gux-target-container {
  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.gux-popup-container {
  z-index: var(--gux-zindex-popup, @gux-zindex-popup);
  visibility: hidden;

  &.gux-expanded {
    visibility: visible;
  }
}
