@use '~genesys-spark/dist/scss/mixins.scss';

.gux-target-container {
  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.gux-popup-container {
  position: fixed;
  z-index: var(--gse-semantic-zIndex-popup);
  inline-size: max-content;
  visibility: hidden;
  background-color: var(--gse-ui-menu-backgroundColor);

  &.gux-expanded {
    visibility: visible;
  }
}

.gux-sr-only-clip {
  @include mixins.gux-sr-only-clip;
}
