@use '../../../style/mixins';

.gux-target-container {
  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.gux-popup-container {
  position: fixed;
  z-index: var(--gse-semantic-zIndex-popup);
  width: max-content;
  visibility: hidden;
  background-color: white; //TODO: https://inindca.atlassian.net/browse/COMUI-2233

  &.gux-expanded {
    visibility: visible;
  }
}

.gux-sr-only-clip {
  @include mixins.gux-sr-only-clip;
}
