@import (reference) '../../../style/color-palette.less';

gux-pagination {
  display: block;
  border-top: 1px solid @gux-grey-60;

  .gux-pagination-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;

    .gux-pagination-info {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      align-self: auto;
      justify-content: flex-start;
      order: 0;

      & > * {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
      }
    }

    .gux-pagination-change {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      margin-left: 16px;
    }

    .gux-pagination-change:first-child {
      margin-left: 0;
    }
  }
}
