@mixin tokens {
  --gse-core-spacing-5xs: 2px;
  --gse-core-spacing-6xs: 1px;
  --gse-core-borderRadius-xs: 2px;
  --gse-core-color-pepper-100: #f9d3da;
  --gse-core-color-pepper-200: #f3a7b5;
  --gse-core-color-pepper-300: #ee7a8f;
  --gse-core-color-pepper-400: #e84e6a;
  --gse-core-color-pepper-500: #e22245;
  --gse-core-color-pepper-600: #b51b37;
  --gse-core-color-pepper-700: #881429;
  --gse-core-color-pepper-800: #5a0e1c;
  --gse-core-color-pepper-900: #440a15;
  --gse-core-color-pepper-1000: #2d070e;
  --gse-core-color-honey-100: #fef4d8;
  --gse-core-color-honey-200: #fce9b2;
  --gse-core-color-honey-300: #fbdd8b;
  --gse-core-color-honey-400: #f9d265;
  --gse-core-color-honey-500: #f8c73e;
  --gse-core-color-honey-600: #c9a132;
  --gse-core-color-honey-700: #9a7b25;
  --gse-core-color-honey-800: #6c5619;
  --gse-core-color-honey-900: #3d300c;
  --gse-core-color-honey-1000: #251d06;
  --gse-core-color-emerald-100: #cef0e6;
  --gse-core-color-emerald-200: #9de1cd;
  --gse-core-color-emerald-300: #6bd3b3;
  --gse-core-color-emerald-400: #3ac49a;
  --gse-core-color-emerald-500: #09b581;
  --gse-core-color-emerald-600: #079167;
  --gse-core-color-emerald-700: #056d4d;
  --gse-core-color-emerald-800: #044834;
  --gse-core-color-emerald-900: #033627;
  --gse-core-color-emerald-1000: #02241a;
  --gse-core-color-violet-100: #e2dff8;
  --gse-core-color-violet-200: #c5bef1;
  --gse-core-color-violet-300: #a89ee9;
  --gse-core-color-violet-400: #8b7de2;
  --gse-core-color-violet-500: #6e5ddb;
  --gse-core-color-violet-600: #594bb2;
  --gse-core-color-violet-700: #443989;
  --gse-core-color-violet-800: #2e275f;
  --gse-core-color-violet-900: #241e4b;
  --gse-core-color-violet-1000: #191536;
  --gse-core-fontFamily-roboto: Roboto;
  --gse-core-fontFamily-urbanist: Urbanist;
  --gse-core-fontFamily-notoSans: 'Noto Sans';
  --gse-core-fontWeight-semiBold: 600;
  --gse-core-size-2xs: 12px;
  --gse-core-size-3xs: 8px;
  --gse-core-size-4xs: 4px;
  --gse-core-size-5xs: 2px;
  --gse-core-size-6xs: 1px;
  --gse-core-colorLegacy-blue-10: #172b52;
  --gse-core-colorLegacy-blue-20: #1c3363;
  --gse-core-colorLegacy-blue-30: #203b73;
  --gse-core-colorLegacy-blue-40: #23478f;
  --gse-core-colorLegacy-blue-50: #2754ac;
  --gse-core-colorLegacy-blue-60: #2a60c8;
  --gse-core-colorLegacy-blue-70: #5084e3;
  --gse-core-colorLegacy-blue-80: #75a8ff;
  --gse-core-colorLegacy-blue-90: #aac9ff;
  --gse-core-colorLegacy-blue-100: #deeaff;
  --gse-core-colorLegacy-black-10: #000000;
  --gse-core-colorLegacy-black-20: #151d28;
  --gse-core-colorLegacy-black-30: #202937;
  --gse-core-colorLegacy-black-40: #283243;
  --gse-core-colorLegacy-black-50: #2e394c;
  --gse-core-colorLegacy-black-60: #364154;
  --gse-core-colorLegacy-black-70: #3e4a5b;
  --gse-core-colorLegacy-black-80: #4c5667;
  --gse-core-colorLegacy-black-90: #596373;
  --gse-core-colorLegacy-black-100: #6b7585;
  --gse-core-colorLegacy-grey-10: #8a97ad;
  --gse-core-colorLegacy-grey-20: #99a4b8;
  --gse-core-colorLegacy-grey-30: #b4bccb;
  --gse-core-colorLegacy-grey-40: #c8cfda;
  --gse-core-colorLegacy-grey-50: #d7dce5;
  --gse-core-colorLegacy-grey-60: #e2e6ee;
  --gse-core-colorLegacy-grey-70: #e8ecf2;
  --gse-core-colorLegacy-grey-80: #eff1f5;
  --gse-core-colorLegacy-grey-90: #f6f7f9;
  --gse-core-colorLegacy-grey-100: #fdfdfd;
  --gse-core-colorLegacy-red-10: #520404;
  --gse-core-colorLegacy-red-20: #700505;
  --gse-core-colorLegacy-red-30: #8f0707;
  --gse-core-colorLegacy-red-40: #ad0808;
  --gse-core-colorLegacy-red-50: #cc0a0a;
  --gse-core-colorLegacy-red-60: #ea0b0b;
  --gse-core-colorLegacy-red-70: #ef4343;
  --gse-core-colorLegacy-red-80: #f37a7a;
  --gse-core-colorLegacy-red-90: #f8b2b2;
  --gse-core-colorLegacy-red-100: #fceaea;
  --gse-core-colorLegacy-green-10: #0d3d00;
  --gse-core-colorLegacy-green-20: #164b08;
  --gse-core-colorLegacy-green-30: #205a10;
  --gse-core-colorLegacy-green-40: #296817;
  --gse-core-colorLegacy-green-50: #33771f;
  --gse-core-colorLegacy-green-60: #3c8527;
  --gse-core-colorLegacy-green-70: #69a358;
  --gse-core-colorLegacy-green-80: #95c189;
  --gse-core-colorLegacy-green-90: #c2deb9;
  --gse-core-colorLegacy-green-100: #eefcea;
  --gse-core-colorLegacy-yellow-10: #523800;
  --gse-core-colorLegacy-yellow-20: #755000;
  --gse-core-colorLegacy-yellow-30: #976700;
  --gse-core-colorLegacy-yellow-40: #ba7f00;
  --gse-core-colorLegacy-yellow-50: #dc9600;
  --gse-core-colorLegacy-yellow-60: #ffae00;
  --gse-core-colorLegacy-yellow-70: #fbbe3b;
  --gse-core-colorLegacy-yellow-80: #fcd276;
  --gse-core-colorLegacy-yellow-90: #fce5b1;
  --gse-core-colorLegacy-yellow-100: #fdf8ec;
  --gse-core-colorLegacy-yellow-110: #fff793;
  --gse-core-colorLegacy-yellow-120: #ffef27;
  --gse-core-colorLegacy-secondary-yellowGreen: #ddd933;
  --gse-core-colorLegacy-secondary-oliveGreen: #868c1e;
  --gse-core-colorLegacy-secondary-aquaGreen: #1da8b3;
  --gse-core-colorLegacy-secondary-pink: #ff8fdd;
  --gse-core-colorLegacy-secondary-fuchsia: #cc3ebe;
  --gse-core-colorLegacy-secondary-lilac: #b5b5eb;
  --gse-core-colorLegacy-secondary-plum: #5e5782;
  --gse-core-colorLegacy-secondary-electricPurple: #8452cf;
  --gse-core-colorLegacy-secondary-genesysBlue: #75a8ff;
  --gse-core-colorLegacy-secondary-navy: #203b73;
  --gse-core-colorLegacy-dataVisualization-yellowGreen: #f8f3c6;
  --gse-core-colorLegacy-dataVisualization-oliveGreen: #dcdbbb;
  --gse-core-colorLegacy-dataVisualization-aquaGreen: #c7e5e8;
  --gse-core-colorLegacy-dataVisualization-pink: #ffdff5;
  --gse-core-colorLegacy-dataVisualization-fuchsia: #f4c9ec;
  --gse-core-colorLegacy-dataVisualization-lilac: #e9e8f9;
  --gse-core-colorLegacy-dataVisualization-plum: #cdc9d8;
  --gse-core-colorLegacy-dataVisualization-electricPurple: #dcc9f2;
  --gse-core-colorLegacy-dataVisualization-genesysBlue: #d9e4ff;
  --gse-core-colorLegacy-dataVisualization-navy: #bbbfd4;
  --gse-core-colorLegacy-brand-brandOrange: #ff4f1f;
  --gse-core-colorLegacy-brand-brandTeal: #00ae9e;
  --gse-core-colorLegacy-brand-brandNavy: #23395d;
  --gse-core-colorLegacy-brand-brandLightBlue: #3b90aa;
  --gse-core-colorLegacy-brand-brandYellow: #ff8f14;
  --gse-core-borderWidth-1: 1px;
  --gse-core-borderWidth-2: 2px;
  --gse-core-borderWidth-3: 3px;
  --gse-core-textCase-uppercase: uppercase;
  --gse-core-opacity-0: 0;
  --gse-core-opacity-50: 0.5;
  --gse-core-opacity-80: 0.8;
  --gse-core-letterSpacing-1: 1px;
}
