@mixin tokens {
  --gse-semantic-zIndex-base: 0;
  --gse-semantic-zIndex-showFocus: 1;
  --gse-semantic-zIndex-sticky: 1;
  --gse-semantic-zIndex-popup: 100;
  --gse-semantic-zIndex-popover: 200;
  --gse-semantic-zIndex-tooltip: 200;
  --gse-semantic-zIndex-panel: 300;
  --gse-semantic-zIndex-navbar: 400;
  --gse-semantic-zIndex-sidebar: 400;
  --gse-semantic-zIndex-toast: 500;
  --gse-semantic-zIndex-modal: 600;
  --gse-semantic-opacity-disabled: 0.5;
  --gse-semantic-opacity-shroud: 0.8;
  --gse-semantic-theme-fontFamily-headings: Roboto;
  --gse-semantic-theme-fontFamily-body: Roboto;
  --gse-semantic-theme-fontFamily-code-body: 'Noto Sans Mono';
  --gse-semantic-theme-background-container-primary-10: #ffffff;
  --gse-semantic-theme-background-container-primary-20: #fdfdfd;
  --gse-semantic-theme-background-container-primary-30: #f6f7f9;
  --gse-semantic-theme-background-container-primary-40: #e8ecf2;
  --gse-semantic-theme-background-container-primary-50: #deeaff;
  --gse-semantic-theme-background-container-primary-60: #e2e6ee;
  --gse-semantic-theme-background-container-secondary-10: #2a60c8;
  --gse-semantic-theme-background-container-secondary-20: #2754ac;
  --gse-semantic-theme-background-container-secondary-30: #23478f;
  --gse-semantic-theme-background-container-tertiary-10: rgba(0, 0, 0, 0);
  --gse-semantic-theme-background-container-tertiary-20: #6b7585;
  --gse-semantic-theme-background-container-highContrast-10: #283243;
  --gse-semantic-theme-background-container-highContrast-20: #1c3363;
  --gse-semantic-theme-background-container-highContrast-30: #172b52;
  --gse-semantic-theme-background-container-highContrast-40: #000000;
  --gse-semantic-theme-background-formControl-input-10: #f6f7f9;
  --gse-semantic-theme-background-formControl-input-20: #6b7585;
  --gse-semantic-theme-background-overlay-10: #202937cc;
  --gse-semantic-theme-background-system-primary-10: #deeaff;
  --gse-semantic-theme-background-system-primary-20: #75a8ff;
  --gse-semantic-theme-background-system-primary-30: #2a60c8;
  --gse-semantic-theme-background-system-primary-40: #2754ac;
  --gse-semantic-theme-background-system-primary-50: #203b73;
  --gse-semantic-theme-background-system-info-5: #deeaff;
  --gse-semantic-theme-background-system-info-10: #deeaff;
  --gse-semantic-theme-background-system-info-20: #75a8ff;
  --gse-semantic-theme-background-system-info-30: #2a60c8;
  --gse-semantic-theme-background-system-info-40: #203b73;
  --gse-semantic-theme-background-system-info-50: #172b52;
  --gse-semantic-theme-background-system-success-5: #eefcea;
  --gse-semantic-theme-background-system-success-10: #eefcea;
  --gse-semantic-theme-background-system-success-20: #95c189;
  --gse-semantic-theme-background-system-success-30: #95c189;
  --gse-semantic-theme-background-system-success-35: #3c8527;
  --gse-semantic-theme-background-system-success-40: #205a10;
  --gse-semantic-theme-background-system-success-50: #0d3d00;
  --gse-semantic-theme-background-system-warning-5: #fdf8ec;
  --gse-semantic-theme-background-system-warning-10: #fdf8ec;
  --gse-semantic-theme-background-system-warning-20: #fcd276;
  --gse-semantic-theme-background-system-warning-30: #ffae00;
  --gse-semantic-theme-background-system-warning-40: #976700;
  --gse-semantic-theme-background-system-warning-50: #523800;
  --gse-semantic-theme-background-system-error-5: #fceaea;
  --gse-semantic-theme-background-system-error-10: #fceaea;
  --gse-semantic-theme-background-system-error-20: #f37a7a;
  --gse-semantic-theme-background-system-error-30: #ea0b0b;
  --gse-semantic-theme-background-system-error-40: #8f0707;
  --gse-semantic-theme-background-system-error-50: #520404;
  --gse-semantic-theme-background-customAccents-bold-10: #203b73;
  --gse-semantic-theme-background-customAccents-bold-20: #23478f;
  --gse-semantic-theme-background-customAccents-bold-30: #b5b5eb;
  --gse-semantic-theme-background-customAccents-bold-40: #205a10;
  --gse-semantic-theme-background-customAccents-bold-50: #151d28;
  --gse-semantic-theme-background-customAccents-bold-60: #75a8ff;
  --gse-semantic-theme-background-customAccents-bold-70: #8452cf;
  --gse-semantic-theme-background-customAccents-bold-80: #5e5782;
  --gse-semantic-theme-background-customAccents-bold-90: #ff8fdd;
  --gse-semantic-theme-background-customAccents-bold-100: #755000;
  --gse-semantic-theme-background-customAccents-bold-110: #ddd933;
  --gse-semantic-theme-background-customAccents-bold-120: #ffef27;
  --gse-semantic-theme-background-customAccents-bold-130: #75a8ff;
  --gse-semantic-theme-background-customAccents-subtle-10: #bbbfd4;
  --gse-semantic-theme-background-customAccents-subtle-20: #d9e4ff;
  --gse-semantic-theme-background-customAccents-subtle-30: #e9e8f9;
  --gse-semantic-theme-background-customAccents-subtle-40: #c2deb9;
  --gse-semantic-theme-background-customAccents-subtle-50: #c8cfda;
  --gse-semantic-theme-background-customAccents-subtle-60: #d9e4ff;
  --gse-semantic-theme-background-customAccents-subtle-70: #dcc9f2;
  --gse-semantic-theme-background-customAccents-subtle-80: #cdc9d8;
  --gse-semantic-theme-background-customAccents-subtle-90: #ffdff5;
  --gse-semantic-theme-background-customAccents-subtle-100: #fcd276;
  --gse-semantic-theme-background-customAccents-subtle-110: #f8f3c6;
  --gse-semantic-theme-background-customAccents-subtle-120: #fff793;
  --gse-semantic-theme-background-customAccents-colorSwatch-10: #ff451a;
  --gse-semantic-theme-background-customAccents-colorSwatch-20: #ffbec9;
  --gse-semantic-theme-background-customAccents-colorSwatch-30: #c6dd98;
  --gse-semantic-theme-background-customAccents-colorSwatch-40: #ffd173;
  --gse-semantic-theme-background-customAccents-colorSwatch-50: #f5bfeb;
  --gse-semantic-theme-background-customAccents-colorSwatch-60: #adbff0;
  --gse-semantic-theme-background-customAccents-colorSwatch-70: #bcd6f0;
  --gse-semantic-theme-background-customAccents-colorSwatch-80: #81cbe5;
  --gse-semantic-theme-background-customAccents-status-10: #09b581;
  --gse-semantic-theme-background-customAccents-status-20: #e22245;
  --gse-semantic-theme-background-customAccents-status-30: #f8c73e;
  --gse-semantic-theme-background-customAccents-status-40: #2143a2;
  --gse-semantic-theme-background-customAccents-status-50: #848891;
  --gse-semantic-theme-background-customAccents-status-60: #b74ba4;
  --gse-semantic-theme-background-customAccents-status-70: #ff451a;
  --gse-semantic-theme-foreground-primary-10: #3e4a5b;
  --gse-semantic-theme-foreground-primary-20: #2e394c;
  --gse-semantic-theme-foreground-primary-30: #2e394c;
  --gse-semantic-theme-foreground-secondary-10: #ffffff;
  --gse-semantic-theme-foreground-secondary-20: #596373;
  --gse-semantic-theme-foreground-secondary-30: #4c5667;
  --gse-semantic-theme-foreground-tertiary-10: #2e394c;
  --gse-semantic-theme-foreground-tertiary-20: #2e394c;
  --gse-semantic-theme-foreground-tertiary-30: #2e394c;
  --gse-semantic-theme-foreground-tertiary-05: #75a8ff;
  --gse-semantic-theme-foreground-highContrast-10: #ffffff;
  --gse-semantic-theme-foreground-highContrast-20: #eff1f5;
  --gse-semantic-theme-foreground-highContrast-30: #b4bccb;
  --gse-semantic-theme-foreground-system-primary-10: #2a60c8;
  --gse-semantic-theme-foreground-system-info-10: #2a60c8;
  --gse-semantic-theme-foreground-system-success-10: #3c8527;
  --gse-semantic-theme-foreground-system-warning-10: #ffae00;
  --gse-semantic-theme-foreground-system-error-10: #ea0b0b;
  --gse-semantic-theme-foreground-specialAccents-brand-10: #ff4f1f;
  --gse-semantic-theme-foreground-specialAccents-ai-10: #8a5ecc;
  --gse-semantic-theme-foreground-link-10: #2a60c8;
  --gse-semantic-theme-foreground-link-20: #2754ac;
  --gse-semantic-theme-foreground-link-30: #23478f;
  --gse-semantic-theme-foreground-link-40: #8452cf;
  --gse-semantic-theme-foreground-icon-10: #2e394c;
  --gse-semantic-theme-foreground-formControl-clickInput-10: #2a60c8;
  --gse-semantic-theme-foreground-formControl-clickInput-20: #2754ac;
  --gse-semantic-theme-foreground-formControl-clickInput-30: #23478f;
  --gse-semantic-theme-foreground-formControl-clickInput-50: #6b7585;
  --gse-semantic-theme-border-focus-10: #aac9ff;
  --gse-semantic-theme-border-divider-10: #ffffff;
  --gse-semantic-theme-border-divider-20: #b4bccb;
  --gse-semantic-theme-border-divider-30: #2a60c8;
  --gse-semantic-theme-border-system-primary-10: #75a8ff;
  --gse-semantic-theme-border-system-info-10: #75a8ff;
  --gse-semantic-theme-border-system-success-10: #95c189;
  --gse-semantic-theme-border-system-warning-10: #fcd276;
  --gse-semantic-theme-border-system-error-10: #f37a7a;
  --gse-semantic-theme-border-system-error-20: #ea0b0b;
  --gse-semantic-theme-border-inputs-default-10: #6b7585;
  --gse-semantic-theme-border-inputs-hover-10: #2754ac;
  --gse-semantic-theme-border-inputs-active-10: #2a60c8;
  --gse-semantic-theme-border-edges-default-10: #b4bccb;
  --gse-semantic-theme-border-edges-default-20: #4c5667;
  --gse-semantic-theme-border-edges-default-30: #2e394c;
  --gse-semantic-theme-border-edges-default-05: #e2e6ee;
  --gse-semantic-theme-border-edges-enabled-10: #2a60c8;
  --gse-semantic-theme-border-edges-hover-10: #75a8ff;
  --gse-semantic-theme-border-edges-hover-20: #23478f;
  --gse-semantic-theme-border-edges-active-10: #2a60c8;
  --gse-semantic-theme-border-edges-emphasis-default: #6a6d75;
  --gse-semantic-theme-borderRadius-interactive-xlarge: 100%;
  --gse-semantic-theme-borderRadius-interactive-large: 4px;
  --gse-semantic-theme-borderRadius-interactive-small: 4px;
  --gse-semantic-theme-borderRadius-container-large: 4px;
  --gse-semantic-theme-borderRadius-container-medium: 4px;
  --gse-semantic-theme-borderRadius-container-small: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-large: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-medium: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-small: 4px;
  --gse-semantic-theme-borderRadius-focus-full: 100%;
  --gse-semantic-theme-borderRadius-focus-xlarge: 16px;
  --gse-semantic-theme-borderRadius-focus-large: 8px;
  --gse-semantic-theme-borderRadius-focus-medium: 8px;
  --gse-semantic-theme-borderRadius-focus-small: 4px;
  --gse-semantic-theme-borderRadius-focus-xsmall: 4px;
  --gse-semantic-background-interactive-primary-default: #2a60c8;
  --gse-semantic-background-interactive-primary-hover: #2754ac;
  --gse-semantic-background-interactive-primary-active: #23478f;
  --gse-semantic-background-interactive-secondary-default: #e8ecf2;
  --gse-semantic-background-interactive-secondary-hover: #deeaff;
  --gse-semantic-background-interactive-secondary-active: #e2e6ee;
  --gse-semantic-background-interactive-tertiary-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-tertiary-hover: #2754ac;
  --gse-semantic-background-interactive-tertiary-active: #23478f;
  --gse-semantic-background-interactive-ghost-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-ghost-hover: #deeaff;
  --gse-semantic-background-interactive-ghost-active: #e2e6ee;
  --gse-semantic-background-interactive-subtle-default: #ffffff;
  --gse-semantic-background-interactive-subtle-hover: #deeaff;
  --gse-semantic-background-interactive-subtle-active: #e2e6ee;
  --gse-semantic-background-interactive-danger-default: #ea0b0b;
  --gse-semantic-background-interactive-danger-hover: #8f0707;
  --gse-semantic-background-interactive-danger-active: #520404;
  --gse-semantic-background-interactive-custom-tomato: #ff451a;
  --gse-semantic-background-interactive-custom-coral: #ffbec9;
  --gse-semantic-background-interactive-custom-pear: #c6dd98;
  --gse-semantic-background-interactive-custom-mango: #ffd173;
  --gse-semantic-background-interactive-custom-raspberry: #f5bfeb;
  --gse-semantic-background-interactive-custom-blueberry: #adbff0;
  --gse-semantic-background-interactive-custom-mineral: #bcd6f0;
  --gse-semantic-background-interactive-custom-islandaqua: #81cbe5;
  --gse-semantic-background-overlay-shroud-default: #202937cc;
  --gse-semantic-background-container-page-default: #ffffff;
  --gse-semantic-background-container-page-tonalSubtle: #fdfdfd;
  --gse-semantic-background-container-page-tonalMedium: #f6f7f9;
  --gse-semantic-background-container-page-tonalHigh: #deeaff;
  --gse-semantic-background-container-elevated-default: #ffffff;
  --gse-semantic-background-container-elevated-hover: #e8ecf2;
  --gse-semantic-background-container-elevated-active: #e2e6ee;
  --gse-semantic-background-container-elevated-error: #fceaea;
  --gse-semantic-background-container-highConstrast-default: #283243;
  --gse-semantic-background-container-highConstrast-hover: #172b52;
  --gse-semantic-background-container-highConstrast-active: #1c3363;
  --gse-semantic-background-system-error-tonalMedium: #fceaea;
  --gse-semantic-background-system-error-tonalHigh: #ea0b0b;
  --gse-semantic-background-system-error-tonalSubtle: #fceaea;
  --gse-semantic-background-system-warning-tonalMedium: #fdf8ec;
  --gse-semantic-background-system-warning-tonalHigh: #ffae00;
  --gse-semantic-background-system-warning-tonalSubtle: #fdf8ec;
  --gse-semantic-background-system-success-tonalMedium: #eefcea;
  --gse-semantic-background-system-success-tonalHigh: #95c189;
  --gse-semantic-background-system-success-tonalSubtle: #eefcea;
  --gse-semantic-background-system-info-tonalMedium: #deeaff;
  --gse-semantic-background-system-info-tonalHigh: #2a60c8;
  --gse-semantic-background-system-info-tonalSubtle: #deeaff;
  --gse-semantic-background-system-primary-tonalMedium: #deeaff;
  --gse-semantic-background-system-primary-tonalHigh: #2a60c8;
  --gse-semantic-background-system-primary-tonalSubtle: #deeaff;
  --gse-semantic-background-system-customAccents-bold-accent_1: #203b73;
  --gse-semantic-background-system-customAccents-bold-accent_2: #23478f;
  --gse-semantic-background-system-customAccents-bold-accent_3: #b5b5eb;
  --gse-semantic-background-system-customAccents-bold-accent_4: #205a10;
  --gse-semantic-background-system-customAccents-bold-accent_5: #151d28;
  --gse-semantic-background-system-customAccents-bold-accent_6: #75a8ff;
  --gse-semantic-background-system-customAccents-bold-accent_7: #8452cf;
  --gse-semantic-background-system-customAccents-bold-accent_8: #5e5782;
  --gse-semantic-background-system-customAccents-bold-accent_9: #ff8fdd;
  --gse-semantic-background-system-customAccents-bold-accent_10: #755000;
  --gse-semantic-background-system-customAccents-bold-accent_11: #ddd933;
  --gse-semantic-background-system-customAccents-bold-accent_12: #ffef27;
  --gse-semantic-background-system-customAccents-bold-accent_13: #75a8ff;
  --gse-semantic-background-system-customAccents-subtle-accent_1: #bbbfd4;
  --gse-semantic-background-system-customAccents-subtle-accent_2: #d9e4ff;
  --gse-semantic-background-system-customAccents-subtle-accent_3: #e9e8f9;
  --gse-semantic-background-system-customAccents-subtle-accent_4: #c2deb9;
  --gse-semantic-background-system-customAccents-subtle-accent_5: #c8cfda;
  --gse-semantic-background-system-customAccents-subtle-accent_6: #d9e4ff;
  --gse-semantic-background-system-customAccents-subtle-accent_7: #dcc9f2;
  --gse-semantic-background-system-customAccents-subtle-accent_8: #cdc9d8;
  --gse-semantic-background-system-customAccents-subtle-accent_9: #ffdff5;
  --gse-semantic-background-system-customAccents-subtle-accent_10: #fcd276;
  --gse-semantic-background-system-customAccents-subtle-accent_11: #f8f3c6;
  --gse-semantic-background-system-customAccents-subtle-accent_12: #fff793;
  --gse-semantic-background-system-progressAndLoading-default: #deeaff;
  --gse-semantic-background-system-progressAndLoading-progressed: #2a60c8;
  --gse-semantic-background-system-status-available: #09b581;
  --gse-semantic-background-system-status-busy: #e22245;
  --gse-semantic-background-system-status-away: #f8c73e;
  --gse-semantic-background-system-status-onQueue: #2143a2;
  --gse-semantic-background-system-status-offline: #848891;
  --gse-semantic-background-system-status-outOfOffice: #b74ba4;
  --gse-semantic-background-system-status-notification: #ff451a;
  --gse-semantic-background-formControl-clickInput-track: #6b7585;
  --gse-semantic-background-formControl-textInput-track: #f6f7f9;
  --gse-semantic-foreground-interactive-primary-default: #ffffff;
  --gse-semantic-foreground-interactive-primary-active: #ffffff;
  --gse-semantic-foreground-interactive-primary-hover: #ffffff;
  --gse-semantic-foreground-interactive-secondary-default: #2e394c;
  --gse-semantic-foreground-interactive-secondary-active: #2e394c;
  --gse-semantic-foreground-interactive-secondary-hover: #2e394c;
  --gse-semantic-foreground-interactive-tertiary-default: #2e394c;
  --gse-semantic-foreground-interactive-tertiary-active: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-hover: #ffffff;
  --gse-semantic-foreground-interactive-ghost-default: #2e394c;
  --gse-semantic-foreground-interactive-ghost-active: #2e394c;
  --gse-semantic-foreground-interactive-ghost-hover: #2e394c;
  --gse-semantic-foreground-interactive-subtle-default: #3e4a5b;
  --gse-semantic-foreground-interactive-subtle-active: #2e394c;
  --gse-semantic-foreground-interactive-subtle-hover: #2e394c;
  --gse-semantic-foreground-interactive-danger-default: #ffffff;
  --gse-semantic-foreground-interactive-danger-active: #ffffff;
  --gse-semantic-foreground-interactive-danger-hover: #ffffff;
  --gse-semantic-foreground-interactive-link-default: #2a60c8;
  --gse-semantic-foreground-interactive-link-active: #23478f;
  --gse-semantic-foreground-interactive-link-hover: #2754ac;
  --gse-semantic-foreground-interactive-link-visited: #8452cf;
  --gse-semantic-foreground-interactive-indicator-default: #75a8ff;
  --gse-semantic-foreground-container-highEmphasis: #2e394c;
  --gse-semantic-foreground-container-midEmphasis: #3e4a5b;
  --gse-semantic-foreground-container-lowEmphasis: #4c5667;
  --gse-semantic-foreground-container-highContrast-highEmphasis: #ffffff;
  --gse-semantic-foreground-container-highContrast-midEmphasis: #eff1f5;
  --gse-semantic-foreground-container-highContrast-lowEmphasis: #b4bccb;
  --gse-semantic-foreground-container-specialAccents-ai: #8a5ecc;
  --gse-semantic-foreground-container-specialAccents-brand: #ff4f1f;
  --gse-semantic-foreground-system-customAccents-light: #ffffff;
  --gse-semantic-foreground-system-customAccents-dark: #2e394c;
  --gse-semantic-foreground-system-progressAndLoading-default: #2e394c;
  --gse-semantic-foreground-system-progressAndLoading-progressed: #ffffff;
  --gse-semantic-foreground-system-info-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-info-accent: #2a60c8;
  --gse-semantic-foreground-system-success-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-success-accent: #3c8527;
  --gse-semantic-foreground-system-warning-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-warning-accent: #ffae00;
  --gse-semantic-foreground-system-error-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-error-accent: #ea0b0b;
  --gse-semantic-foreground-system-icon-default: #2e394c;
  --gse-semantic-foreground-formControl-helpText-default: #4c5667;
  --gse-semantic-foreground-formControl-helpText-error: #ea0b0b;
  --gse-semantic-foreground-formControl-textInput-placeholder: #4c5667;
  --gse-semantic-foreground-formControl-textInput-populated: #2e394c;
  --gse-semantic-foreground-formControl-textInput-icon: #4c5667;
  --gse-semantic-foreground-formControl-clickInput-enabled: #6b7585;
  --gse-semantic-foreground-formControl-clickInput-selected: #2a60c8;
  --gse-semantic-foreground-formControl-clickInput-hover: #2754ac;
  --gse-semantic-foreground-formControl-clickInput-active: #23478f;
  --gse-semantic-foreground-formControl-clickInput-error: #ea0b0b;
  --gse-semantic-foreground-formControl-label-default: #2e394c;
  --gse-semantic-foreground-formControl-label-requiredAccent: #ea0b0b;
  --gse-semantic-foreground-formControl-label-optionalAccent: #3e4a5b;
  --gse-semantic-foreground-formControl-label-tooltip: #3e4a5b;
  --gse-semantic-border-focus: #aac9ff;
  --gse-semantic-border-container-divider: #b4bccb;
  --gse-semantic-border-container-edges-default: #b4bccb;
  --gse-semantic-border-container-edges-hover: #75a8ff;
  --gse-semantic-border-container-edges-error: #ea0b0b;
  --gse-semantic-border-container-edges-enabled: #2a60c8;
  --gse-semantic-border-container-edges-active: #2a60c8;
  --gse-semantic-border-container-edges-highEmphasis: #2e394c;
  --gse-semantic-border-container-edges-dataTable-default: #e2e6ee;
  --gse-semantic-border-container-edges-lowEmphasis: #6a6d75;
  --gse-semantic-border-container-highConstrast-default: #4c5667;
  --gse-semantic-border-container-highConstrast-enabled: #2a60c8;
  --gse-semantic-border-container-highConstrast-hover: #23478f;
  --gse-semantic-border-container-highConstrast-active: #2a60c8;
  --gse-semantic-border-system-info: #75a8ff;
  --gse-semantic-border-system-warning: #fcd276;
  --gse-semantic-border-system-success: #95c189;
  --gse-semantic-border-system-error: #f37a7a;
  --gse-semantic-border-system-primary: #75a8ff;
  --gse-semantic-border-interactive-primary-divider: #ffffff;
  --gse-semantic-border-interactive-secondary-divider: #ffffff;
  --gse-semantic-border-interactive-tertiary-divider: #2a60c8;
  --gse-semantic-border-interactive-danger-divider: #ffffff;
  --gse-semantic-border-formControl-textInput-default: #6b7585;
  --gse-semantic-border-formControl-textInput-hover: #2754ac;
  --gse-semantic-border-formControl-textInput-active: #2a60c8;
  --gse-semantic-border-formControl-textInput-error: #ea0b0b;
  --gse-semantic-body-sm-regular-fontFamily: Roboto;
  --gse-semantic-body-sm-regular-fontWeight: 400;
  --gse-semantic-body-sm-regular-fontSize: 12px;
  --gse-semantic-body-sm-regular-lineHeight: 18px;
  --gse-semantic-body-sm-link-fontFamily: Roboto;
  --gse-semantic-body-sm-link-fontWeight: 600;
  --gse-semantic-body-sm-link-fontSize: 12px;
  --gse-semantic-body-sm-link-lineHeight: 18px;
  --gse-semantic-body-sm-link-textDecoration: underline;
  --gse-semantic-body-sm-bold-fontFamily: Roboto;
  --gse-semantic-body-sm-bold-fontWeight: 700;
  --gse-semantic-body-sm-bold-fontSize: 12px;
  --gse-semantic-body-sm-bold-lineHeight: 18px;
  --gse-semantic-body-sm-semiBold-fontFamily: Roboto;
  --gse-semantic-body-sm-semiBold-fontWeight: 600;
  --gse-semantic-body-sm-semiBold-fontSize: 12px;
  --gse-semantic-body-sm-semiBold-lineHeight: 18px;
  --gse-semantic-body-md-regular-fontFamily: Roboto;
  --gse-semantic-body-md-regular-fontWeight: 400;
  --gse-semantic-body-md-regular-fontSize: 14px;
  --gse-semantic-body-md-regular-lineHeight: 20px;
  --gse-semantic-body-md-link-fontFamily: Roboto;
  --gse-semantic-body-md-link-fontWeight: 600;
  --gse-semantic-body-md-link-fontSize: 14px;
  --gse-semantic-body-md-link-lineHeight: 20px;
  --gse-semantic-body-md-link-textDecoration: underline;
  --gse-semantic-body-md-bold-fontFamily: Roboto;
  --gse-semantic-body-md-bold-fontWeight: 700;
  --gse-semantic-body-md-bold-fontSize: 14px;
  --gse-semantic-body-md-bold-lineHeight: 20px;
  --gse-semantic-body-md-semiBold-fontFamily: Roboto;
  --gse-semantic-body-md-semiBold-fontWeight: 600;
  --gse-semantic-body-md-semiBold-fontSize: 14px;
  --gse-semantic-body-md-semiBold-lineHeight: 20px;
  --gse-semantic-body-lg-regular-fontFamily: Roboto;
  --gse-semantic-body-lg-regular-fontWeight: 400;
  --gse-semantic-body-lg-regular-fontSize: 16px;
  --gse-semantic-body-lg-regular-lineHeight: 24px;
  --gse-semantic-body-lg-link-fontFamily: Roboto;
  --gse-semantic-body-lg-link-fontWeight: 600;
  --gse-semantic-body-lg-link-fontSize: 16px;
  --gse-semantic-body-lg-link-lineHeight: 24px;
  --gse-semantic-body-lg-link-textDecoration: underline;
  --gse-semantic-body-lg-bold-fontFamily: Roboto;
  --gse-semantic-body-lg-bold-fontWeight: 700;
  --gse-semantic-body-lg-bold-fontSize: 16px;
  --gse-semantic-body-lg-bold-lineHeight: 24px;
  --gse-semantic-body-lg-semiBold-fontFamily: Roboto;
  --gse-semantic-body-lg-semiBold-fontWeight: 600;
  --gse-semantic-body-lg-semiBold-fontSize: 16px;
  --gse-semantic-body-lg-semiBold-lineHeight: 24px;
  --gse-semantic-heading-xs-bold-fontFamily: Roboto;
  --gse-semantic-heading-xs-bold-fontWeight: 700;
  --gse-semantic-heading-xs-bold-fontSize: 14px;
  --gse-semantic-heading-xs-bold-lineHeight: 24px;
  --gse-semantic-heading-xs-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-xs-semiBold-fontWeight: 600;
  --gse-semantic-heading-xs-semiBold-fontSize: 14px;
  --gse-semantic-heading-xs-semiBold-lineHeight: 24px;
  --gse-semantic-heading-sm-bold-fontFamily: Roboto;
  --gse-semantic-heading-sm-bold-fontWeight: 700;
  --gse-semantic-heading-sm-bold-fontSize: 16px;
  --gse-semantic-heading-sm-bold-lineHeight: 24px;
  --gse-semantic-heading-sm-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-sm-semiBold-fontWeight: 600;
  --gse-semantic-heading-sm-semiBold-fontSize: 16px;
  --gse-semantic-heading-sm-semiBold-lineHeight: 24px;
  --gse-semantic-heading-md-bold-fontFamily: Roboto;
  --gse-semantic-heading-md-bold-fontWeight: 700;
  --gse-semantic-heading-md-bold-fontSize: 18px;
  --gse-semantic-heading-md-bold-lineHeight: 27px;
  --gse-semantic-heading-md-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-md-semiBold-fontWeight: 600;
  --gse-semantic-heading-md-semiBold-fontSize: 18px;
  --gse-semantic-heading-md-semiBold-lineHeight: 27px;
  --gse-semantic-heading-lg-bold-fontFamily: Roboto;
  --gse-semantic-heading-lg-bold-fontWeight: 700;
  --gse-semantic-heading-lg-bold-fontSize: 24px;
  --gse-semantic-heading-lg-bold-lineHeight: 32px;
  --gse-semantic-heading-lg-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-lg-semiBold-fontWeight: 600;
  --gse-semantic-heading-lg-semiBold-fontSize: 24px;
  --gse-semantic-heading-lg-semiBold-lineHeight: 32px;
  --gse-semantic-heading-xl-bold-fontFamily: Roboto;
  --gse-semantic-heading-xl-bold-fontWeight: 700;
  --gse-semantic-heading-xl-bold-fontSize: 36px;
  --gse-semantic-heading-xl-bold-lineHeight: 44px;
  --gse-semantic-heading-xl-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-xl-semiBold-fontWeight: 600;
  --gse-semantic-heading-xl-semiBold-fontSize: 36px;
  --gse-semantic-heading-xl-semiBold-lineHeight: 44px;
  --gse-semantic-heading-overline-fontFamily: Roboto;
  --gse-semantic-heading-overline-fontWeight: 600;
  --gse-semantic-heading-overline-fontSize: 12px;
  --gse-semantic-heading-overline-lineHeight: 16px;
  --gse-semantic-heading-overline-textCase: uppercase;
  --gse-semantic-heading-overline-letterSpacing: 1px;
  --gse-semantic-subheading-bold-fontFamily: Roboto;
  --gse-semantic-subheading-bold-fontWeight: 700;
  --gse-semantic-subheading-bold-fontSize: 14px;
  --gse-semantic-subheading-bold-lineHeight: 20px;
  --gse-semantic-subheading-semiBold-fontFamily: Roboto;
  --gse-semantic-subheading-semiBold-fontWeight: 600;
  --gse-semantic-subheading-semiBold-fontSize: 14px;
  --gse-semantic-subheading-semiBold-lineHeight: 20px;
  --gse-semantic-subheading-regular-fontFamily: Roboto;
  --gse-semantic-subheading-regular-fontWeight: 400;
  --gse-semantic-subheading-regular-fontSize: 14px;
  --gse-semantic-subheading-regular-lineHeight: 20px;
  --gse-semantic-interactive-md-size: 32px;
  --gse-semantic-interactive-md-gap: 4px;
  --gse-semantic-interactive-md-padding: 8px;
  --gse-semantic-interactive-sm-size: 24px;
  --gse-semantic-interactive-sm-gap: 2px;
  --gse-semantic-interactive-sm-padding: 4px;
  --gse-semantic-interactive-sm-borderRadius: 4px;
  --gse-semantic-interactive-lg-borderRadius: 4px;
  --gse-semantic-interactive-lg-gap: 8px;
  --gse-semantic-interactive-lg-padding: 12px;
  --gse-semantic-interactive-edges-borderWidth: 1px;
  --gse-semantic-interactive-divider-sm-borderWidth: 1px;
  --gse-semantic-interactive-divider-lg-borderWidth: 2px;
  --gse-semantic-interactive-xl-gap: 12px;
  --gse-semantic-interactive-xl-padding: 16px;
  --gse-semantic-interactive-xl-size: 40px;
  --gse-semantic-interactive-xl-borderRadius: 100%;
  --gse-semantic-interactive-xs-size: 20px;
  --gse-semantic-interactive-xs-padding: 2px;
  --gse-semantic-interactive-xs-height: 20px;
  --gse-semantic-interactive-xs-width: 20px;
  --gse-semantic-focusOutline-full-borderRadius: 100%;
  --gse-semantic-focusOutline-xl-borderRadius: 16px;
  --gse-semantic-focusOutline-lg-borderRadius: 8px;
  --gse-semantic-focusOutline-md-borderRadius: 8px;
  --gse-semantic-focusOutline-md-borderWidth: 2px;
  --gse-semantic-focusOutline-sm-borderRadius: 4px;
  --gse-semantic-focusOutline-sm-borderWidth: 1px;
  --gse-semantic-focusOutline-xs-borderRadius: 4px;
  --gse-semantic-focusOutline-offset: 1px;
  --gse-semantic-container-lg-boxShadow-blur: 8px;
  --gse-semantic-container-lg-boxShadow-spread: 1px;
  --gse-semantic-container-lg-boxShadow-color: rgba(35, 57, 92, 0.15);
  --gse-semantic-container-lg-boxShadow-type: dropShadow;
  --gse-semantic-container-lg-boxShadow-offsetX: 0;
  --gse-semantic-container-lg-boxShadow-offsetY: 0;
  --gse-semantic-container-lg-borderRadius: 4px;
  --gse-semantic-container-lg-gap: 16px;
  --gse-semantic-container-lg-padding: 24px;
  --gse-semantic-container-lg-height: 40px;
  --gse-semantic-container-md-boxShadow-blur: 6px;
  --gse-semantic-container-md-boxShadow-spread: 1px;
  --gse-semantic-container-md-boxShadow-color: rgba(35, 57, 92, 0.12);
  --gse-semantic-container-md-boxShadow-type: dropShadow;
  --gse-semantic-container-md-boxShadow-offsetX: 0;
  --gse-semantic-container-md-boxShadow-offsetY: 0;
  --gse-semantic-container-md-gap: 12px;
  --gse-semantic-container-md-borderRadius: 4px;
  --gse-semantic-container-md-height: 32px;
  --gse-semantic-container-md-padding: 16px;
  --gse-semantic-container-xl-gap: 24px;
  --gse-semantic-container-xl-padding: 32px;
  --gse-semantic-container-xl-height: 48px;
  --gse-semantic-container-sm-boxShadow-blur: 4px;
  --gse-semantic-container-sm-boxShadow-spread: 1px;
  --gse-semantic-container-sm-boxShadow-color: rgba(35, 57, 92, 0.1);
  --gse-semantic-container-sm-boxShadow-type: dropShadow;
  --gse-semantic-container-sm-boxShadow-offsetX: 0;
  --gse-semantic-container-sm-boxShadow-offsetY: 0;
  --gse-semantic-container-sm-borderRadius: 4px;
  --gse-semantic-container-sm-gap: 8px;
  --gse-semantic-container-sm-padding: 12px;
  --gse-semantic-container-sm-minHeight: 20px;
  --gse-semantic-container-sm-height: 32px;
  --gse-semantic-container-xs-gap: 4px;
  --gse-semantic-container-xs-padding: 8px;
  --gse-semantic-container-xs-minHeight: 16px;
  --gse-semantic-container-xs-height: 20px;
  --gse-semantic-container-edges-borderWidth: 1px;
  --gse-semantic-container-divider-borderWidth: 1px;
  --gse-semantic-container-emphasis-width: 4px;
  --gse-semantic-container-2xs-gap: 2px;
  --gse-semantic-container-2xs-padding: 2px;
  --gse-semantic-container-2xs-size: 12px;
  --gse-semantic-container-full-borderRadius: 100%;
  --gse-semantic-container-3xs-size: 8px;
  --gse-semantic-container-4xs-size: 4px;
  --gse-semantic-formControl-form-maxWidth: 600px;
  --gse-semantic-formControl-form-margin: 24px;
  --gse-semantic-formControl-formBody-paddingBottom: 32px;
  --gse-semantic-formControl-formBody-gap: 16px;
  --gse-semantic-formControl-textInput-lg-borderRadius: 4px;
  --gse-semantic-formControl-textInput-sm-borderRadius: 4px;
  --gse-semantic-formControl-textInput-md-borderRadius: 4px;
  --gse-semantic-formControl-textInput-edges-borderWidth: 1px;
  --gse-semantic-formControl-textInput-divider-borderWidth: 1px;
  --gse-semantic-formControl-field-textInput-small-padding: 8px;
  --gse-semantic-formControl-field-textInput-gap: 12px;
  --gse-semantic-formControl-field-textInput-md-height: 32px;
  --gse-semantic-formControl-field-textInput-medium-padding: 12px;
  --gse-semantic-formControl-field-textInput-minWidth: 48px;
  --gse-semantic-formControl-field-textInput-lg-height: 98px;
  --gse-semantic-formControl-field-gap: 4px;
  --gse-semantic-formControl-field-padding: 8px;
  --gse-semantic-formControl-field-clickInput-gap: 8px;
  --gse-semantic-formControl-field-clickInput-padding: 4px;
  --gse-semantic-formControl-field-clickInput-md-size: 32px;
  --gse-semantic-formControl-field-clickInput-sm-size: 16px;
  --gse-semantic-formControl-field-groupedInput-gap: 8px;
  --gse-semantic-formControl-clickInput-handle-borderWidth: 2px;
  --gse-semantic-formControl-formHeader-paddingBottom: 20px;
  --gse-semantic-formControl-formHeader-gap: 4px;
  --gse-semantic-formControl-fieldset-paddingBottom: 48px;
  --gse-semantic-formControl-fieldset-header-paddingBottom: 20px;
  --gse-semantic-formControl-fieldset-header-gap: 4px;
  --gse-semantic-assets-lg-size: 32px;
  --gse-semantic-assets-md-size: 24px;
  --gse-semantic-assets-sm-size: 16px;
  --gse-semantic-assets-xl-size: 48px;
  --gse-semantic-assets-xs-size: 8px;
  --gse-semantic-divider-width: 1px;
  --gse-semantic-divider-sm-width: 2px;
  --gse-semantic-divider-sm-height: 20px;
  --gse-semantic-divider-sm-margin: 2px;
  --gse-semantic-divider-xs-margin: 1px;
  --gse-semantic-divider-md-margin: 4px;
  --gse-semantic-divider-md-padding: 0 4px;
  --gse-semantic-divider-lg-margin: 8px;
  --gse-semantic-divider-track-height: 4px;
  --gse-semantic-divider-indicator-width: 2px;
  --gse-semantic-code-sm-regular-fontFamily: 'Noto Sans Mono';
  --gse-semantic-code-sm-regular-fontWeight: 400;
  --gse-semantic-code-sm-regular-fontSize: 12px;
  --gse-semantic-code-sm-regular-lineHeight: 16px;
}
