@import '../../../style/color.scss';
@import '../../../style/_mixins.scss';
@import '../../../style/shadows.scss';
@import '../../../style/typography.scss';
@import '../../../style/zindex.scss';

$background-color: $gux-grey-90;
$border-color: $gux-border;
$active-border: $gux-blue-60;
$menu-shadow: fade($gux-black-30, 24%);
$menu-background-color: $gux-type-dark;
$menu-border-color: $gux-border;
$divider-color: $gux-grey-40;

:host {
  color: $gux-black-50;
}

// Style
gux-popup {
  display: block;
  margin: 4px 0;

  .gux-select-field {
    position: relative;
    width: 100%;
    height: 32px;

    a.gux-select-input {
      position: absolute;
      inset: 0;
      padding: 6px 24px 6px 12px;
      overflow: hidden;
      color: $gux-black-50;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      background-color: $gux-grey-90;
      background-image: none;
      border: 1px solid $gux-black-100;
      border-radius: 4px;
      box-shadow: inset 0 0 4px fade($gux-black-30, 16%);

      .gux-select-placeholder,
      .gux-select-value {
        line-height: 20px;
      }

      .gux-select-placeholder {
        color: $gux-black-90;
      }

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px fade($gux-blue-80, 50%);
      }
    }

    .gux-icon-wrapper {
      gux-icon {
        width: 16px;
        height: 16px;
        color: $gux-black-90;
      }

      position: absolute;
      top: 1px;
      right: 8px;
      bottom: 0;
      display: flex;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
    }

    &:hover {
      .gux-icon-wrapper {
        gux-icon {
          color: $gux-black-50;
        }
      }
    }
  }

  .gux-advanced-dropdown-menu {
    width: 100%;
    background: $gux-background;
    border: 1px solid $gux-grey-30;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 $menu-shadow;

    @include gux-shadow-20;

    .gux-dropdown-menu-container {
      gux-form-field-search {
        margin: 8px 16px;

        input {
          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
          }
        }
      }
    }
  }

  .gux-dropdown-options {
    padding: 8px 0;
    margin: 0;
    overflow-y: auto;
    color: $gux-black-50;
    background: $menu-background-color;
    border-radius: 4px;
    box-shadow: none;
  }
}

gux-popup::part(gux-popup-container) {
  width: inherit;
}
