<div style="display: flex; justify-content: space-around">
  <gux-toggle></gux-toggle>

  <gux-toggle checked></gux-toggle>

  <gux-toggle checked disabled></gux-toggle>

  <gux-toggle checked-label="On" unchecked-label="Off"></gux-toggle>

  <gux-toggle checked checked-label="on" unchecked-label="off"></gux-toggle>

  <gux-toggle
    checked-label="On"
    unchecked-label="Off"
    label-position="left"
  ></gux-toggle>

  <gux-toggle
    checked
    checked-label="on"
    unchecked-label="off"
    label-position="right"
  ></gux-toggle>
</div>
