@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/spacing.less';

gux-toggle {
  display: inline-block;
  height: 16px;
  color: @gux-black-50;

  &[disabled] > * {
    opacity: 0.5;
  }

  .gux-switch-container {
    height: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    cursor: pointer;

    &.gux-switch-label-left {
      flex-direction: row-reverse;
    }

    &.gux-checked > .gux-switch-label {
      font-weight: bold;
    }

    .gux-switch {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 16px;

      & input {
        display: none;

        &:checked + .gux-slider {
          background-color: @gux-blue-60;
        }

        &:checked + .gux-slider::before {
          -webkit-transform: translateX(12px);
          -ms-transform: translateX(12px);
          transform: translateX(12px);
        }
      }

      .gux-slider {
        background-color: @gux-black-100;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &::before {
          position: absolute;
          content: '';
          height: 14px;
          width: 14px;
          left: 2px;
          bottom: 1px;
          background-color: @gux-grey-100;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        &.gux-round {
          border-radius: 34px;
        }

        &.gux-round::before {
          border-radius: 50%;
        }
      }
    }

    .gux-switch-label {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      text-transform: capitalize;
      padding: 0 @spacing-2xs;
    }

    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    .focus-ring();
  }

  &.gux-checked {
    .gux-slider {
      background-color: @gux-blue-60;
    }
  }
}
