// Variables part
@box-shadow-checked: @gux-blue;
@box-shadow: @gux-border-strong;
@background: @gux-icons;
@background-before: @gux-off-white;
@background-checked: @gux-dark-blue;
@box-shadow-focus: @gux-blue;

@background-dark-theme: #555d66;
@background-checked-dark-theme: @gux-dark-blue;
@background-hover-dark-theme: #76818f;
@background-checked-hover-dark-theme: #3476f5;
@box-shadow-focus-dark-theme: @gux-blue;

// Component main style
gux-toggle {
  /* The switch - the box around the slider */
  display: inline-block;
  height: 16px;

  &[disabled] > * {
    opacity: 0.5;
  }

  > div {
    height: 16px;
    &.gux-checked > span {
      font-weight: bold;
    }
    > span {
      vertical-align: top;
      margin-left: 8px;
      cursor: pointer;
      text-transform: capitalize;
    }
    &:focus {
      outline: none;
      .gux-slider:after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 34px;
        border: 2px solid #ccc;
      }
    }
  }

  &:not([disabled]) * {
    cursor: pointer;
  }

  .gux-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }

  /* Hide default HTML checkbox */
  .gux-switch input {
    display: none;
  }

  /* The slider */
  .gux-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .gux-slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: @background-before;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .gux-slider {
    background-color: @background-checked;
  }

  input:checked + .gux-slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }

  /* Rounded sliders */
  .gux-slider.gux-round {
    border-radius: 34px;
  }

  .gux-slider.gux-round:before {
    border-radius: 50%;
  }
}

// Theming

// Dark
.gux-toggle-dark-theme {
  > div {
    .gux-slider {
      background-color: @background-dark-theme;
    }
    &.gux-checked {
      .gux-slider {
        background-color: @background-checked-dark-theme;
      }
    }
  }

  &:not([disabled]) > div {
    &:hover {
      &.gux-checked {
        .gux-slider {
          background: @background-checked-hover-dark-theme;
          box-shadow: none;
        }
      }
      &:not(.gux-checked) {
        .gux-slider {
          background-color: @background-hover-dark-theme;
          box-shadow: none;
        }
      }
    }
    &:focus {
      .gux-slider:after {
        border-color: @box-shadow-focus-dark-theme;
      }
    }
  }
}

.gux-dark-theme {
  gux-toggle {
    .gux-toggle-dark-theme();
  }
}

gux-toggle.gux-dark-theme {
  .gux-toggle-dark-theme();
}

// Light
.gux-toggle-light-theme {
  > div {
    .gux-slider {
      background-color: @background;
    }
    &.gux-checked {
      .gux-slider {
        background-color: @background-checked-dark-theme;
      }
    }
  }

  &:not([disabled]) > div {
    &:hover {
      &.gux-checked {
        .gux-slider {
          box-shadow: 0px 0px 3px 0 @box-shadow-checked;
        }
      }
      &:not(.gux-checked) {
        .gux-slider {
          box-shadow: 0px 0px 3px 0 @box-shadow;
        }
      }
    }
    &:focus {
      .gux-slider:after {
        border-color: @box-shadow-focus;
      }
    }
  }
}

.gux-light-theme {
  gux-toggle {
    .gux-toggle-light-theme();
  }
}

gux-toggle.gux-light-theme {
  .gux-toggle-light-theme();
}

// Default Theme
gux-toggle {
  .gux-toggle-light-theme();
}
