<div class="container">
  <h3>Positioning Top</h3>
  <div class="section">
    <gux-button id="top-left">Top Left</gux-button>
    <gux-button id="top-center">Top Center</gux-button>
    <gux-button id="top-right">Top Right</gux-button>
  </div>

  <h3>Text Tooltips</h3>
  <div class="section">
    <p>
      <strong id="note-1">Lorem ipsum</strong> dolor sit amet, consectetur
      adipiscing elit. Sed ac odio a dolor semper vehicula at ut nulla. Proin
      pellentesque neque sollicitudin iaculis efficitur.
      <strong id="note-2">Duis porta</strong> urna urna, non commodo nisl
      vulputate pretium. Nam vestibulum orci vel sem lobortis
      <strong id="note-3">faucibus</strong>. Sed arcu mauris, auctor vitae elit
      et, luctus feugiat leo. Ut non massa vel nisi commodo sagittis eget sit
      amet mi. Morbi elit nisi, facilisis quis vulputate in, mollis aliquet
      ipsum. In hac habitasse platea dictumst. Morbi sed ligula id massa
      consequat lacinia. Aliquam luctus lacus at ex euismod, at volutpat ipsum
      porttitor. Nam congue tortor sed bibendum
      <strong id="note-4">vestibulum</strong>. Aliquam porttitor diam eu mattis
      convallis.
    </p>
    <gux-tooltip for="note-1">Tooltip for note 1</gux-tooltip>
    <gux-tooltip for="note-2">Tooltip for note 2</gux-tooltip>
    <gux-tooltip for="note-3">Tooltip for note 3</gux-tooltip>
    <gux-tooltip for="note-4">Tooltip for note 4</gux-tooltip>
  </div>

  <h3>Long Text Tooltips</h3>
  <div class="section">
    <p>
      <strong id="long-note-1">Lorem ipsum</strong> dolor sit amet, consectetur
      adipiscing elit. Sed ac odio a dolor semper vehicula at ut nulla. Proin
      pellentesque neque sollicitudin iaculis efficitur.
    </p>
    <gux-tooltip for="long-note-1"
      >You do not have permission to edit this setting. For details, contact
      your administrator.</gux-tooltip
    >
  </div>

  <h3>Tooltips with no "for" prop</h3>
  <div class="section">
    <div>
      <gux-button>Button</gux-button>
      <gux-tooltip>Tooltip linked to parent element</gux-tooltip>
    </div>
  </div>

  <h3>Icon Tooltips</h3>
  <div class="section">
    <div>
      <gux-icon
        icon-name="add-user"
        screenreader-text="add John Smith to contact list"
      ></gux-icon>
      <gux-tooltip>add John Smith to contact list</gux-tooltip>
    </div>
  </div>

  <h3>In a container where overflow is hidden</h3>
  <div class="section">
    <div class="no-overflow">
      <div>
        <gux-icon
          icon-name="add-user"
          screenreader-text="add John Smith to contact list"
        ></gux-icon>
        <gux-tooltip>add John Smith to contact list</gux-tooltip>
      </div>
    </div>
  </div>

  <h3>Positioning Bottom</h3>
  <div class="section">
    <gux-button id="bottom-left">Bottom Left</gux-button>
    <gux-button id="bottom-center">Bottom Center</gux-button>
    <gux-button id="bottom-right">Bottom Right</gux-button>
  </div>
</div>

<gux-tooltip for="top-left">Top left button tooltip</gux-tooltip>
<gux-tooltip for="top-center">Top center button tooltip</gux-tooltip>
<gux-tooltip for="top-right">Top right button tooltip</gux-tooltip>
<gux-tooltip for="bottom-left"> Bottom left button tooltip </gux-tooltip>
<gux-tooltip for="bottom-center"> Bottom center button tooltip </gux-tooltip>
<gux-tooltip for="bottom-right"> Bottom right button tooltip </gux-tooltip>

<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .section {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    align-self: center;
    justify-content: space-between;
    order: 0;
    width: 100%;
  }

  .no-overflow {
    position: relative;
    overflow: hidden;
  }

  p {
    max-width: 600px;
  }

  strong {
    background-color: yellow;
  }
</style>
