span {
  color: var(--gse-ui-search-match-firstLevel-foregroundColour);

  mark {
    background-color: var(--gse-ui-search-match-firstLevel-backgroundColor);
  }
}

.gux-dimmed {
  mark {
    background-color: var(
      --gse-ui-search-match-subsequentLevel-backgroundColor
    );
  }
}
