span {
  color: var(--gse-ui-formControl-input-populatedColor); // TODO: COMUI-2347

  mark {
    background-color: var(--gse-ui-search-match-firstLevel-backgroundColor);
  }
}

.gux-dimmed {
  mark {
    background-color: var(
      --gse-ui-search-match-subsequentLevel-backgroundColor
    );
  }
}
