<form onchange="notify(event)" oninput="notify(event)">
  <h1>Checkbox</h1>

  <div>
    <gux-form-field>
      <input slot="input" type="checkbox" name="food" value="pizza" />
      <label slot="label">Pizza</label>
    </gux-form-field>

    <gux-form-field>
      <input slot="input" type="checkbox" name="food" value="pasta" checked />
      <label slot="label">Pasta</label>
    </gux-form-field>

    <gux-form-field>
      <input
        slot="input"
        type="checkbox"
        name="food"
        value="hamburger"
        indeterminate
      />
      <label slot="label">Hamburger</label>
    </gux-form-field>

    <gux-form-field>
      <input
        slot="input"
        type="checkbox"
        name="food"
        value="sandwich"
        disabled
      />
      <label slot="label">Sandwich</label>
    </gux-form-field>
    <gux-form-field>
      <input slot="input" type="checkbox" name="required" value="false" />
      <label slot="label">Checkbox with error - Unchecked</label>
      <span slot="error">Required</span>
    </gux-form-field>
  </div>

  <h1>Radio</h1>

  <div>
    <gux-form-field>
      <input slot="input" type="radio" name="dinner" value="pizza" />
      <label slot="label">Pizza</label>
    </gux-form-field>

    <gux-form-field>
      <input slot="input" type="radio" name="dinner" value="pasta" checked />
      <label slot="label">Pasta</label>
    </gux-form-field>

    <gux-form-field>
      <input slot="input" type="radio" name="dinner" value="hamburger" />
      <label slot="label">Hamburger</label>
    </gux-form-field>

    <gux-form-field>
      <input
        slot="input"
        type="radio"
        name="dinner"
        value="sandwich"
        disabled
      />
      <label slot="label">Sandwich</label>
    </gux-form-field>
  </div>

  <h1>Color</h1>

  <div>
    <gux-form-field label-position="beside">
      <input slot="input" name="color" type="color" value="#1da8b3" />
      <label slot="label">Color</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <input slot="input" name="color" type="color" value="#1da8b3" disabled />
      <label slot="label">Color Disabled</label>
    </gux-form-field>

    <gux-form-field label-position="beside">
      <input slot="input" name="color" type="color" value="#1da8b3" required />
      <label slot="label">Color</label>
      <span slot="error">Field is required</span>
    </gux-form-field>
  </div>

  <h1>Number</h1>

  <div>
    <gux-form-field label-position="beside">
      <input
        slot="input"
        name="number"
        type="number"
        step="5"
        min="5"
        max="100"
        placeholder="Enter a number"
      />
      <label slot="label">Number</label>
    </gux-form-field>

    <gux-form-field clearable label-position="beside">
      <input
        slot="input"
        name="number-clearable"
        type="number"
        step="5"
        min="5"
        max="100"
        placeholder="Enter a number"
        value="50"
      />
      <label slot="label">Number</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <input
        slot="input"
        name="number"
        type="number"
        step="5"
        min="5"
        max="100"
        placeholder="Enter a number"
        disabled
      />
      <label slot="label">Number</label>
    </gux-form-field>

    <gux-form-field clearable label-position="above">
      <input
        slot="input"
        name="number-clearable"
        type="number"
        step="5"
        min="5"
        max="100"
        placeholder="Enter a number"
        value="50"
        disabled
      />
      <label slot="label">Number</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <input
        slot="input"
        name="number-required"
        type="number"
        step="5"
        min="5"
        max="100"
        placeholder="Enter a number"
        value="50"
        required
      />
      <label slot="label">Required Number</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <input
        slot="input"
        name="number-error"
        type="number"
        step="5"
        min="5"
        max="100"
        placeholder="Enter a number"
      />
      <label slot="label">Number</label>
      <span slot="error">Field has error</span>
    </gux-form-field>
  </div>

  <h1>Text Like</h1>

  <div>
    <gux-form-field label-position="beside">
      <input
        slot="input"
        name="email"
        type="email"
        placeholder="joe.bloggs@example.com"
      />
      <label slot="label">Email</label>
    </gux-form-field>

    <gux-form-field label-position="beside">
      <input
        slot="input"
        name="password"
        type="password"
        placeholder="Enter a password"
      />
      <label slot="label">Password</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <input
        slot="input"
        name="text"
        type="text"
        placeholder="Enter a string"
      />
      <label slot="label">Text</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <input
        slot="input"
        name="text"
        type="text"
        placeholder="Enter a string"
        required
      />
      <label slot="label">Required Text</label>
    </gux-form-field>
  </div>

  <h1>Text Like (clearable)</h1>

  <div>
    <gux-form-field clearable label-position="beside">
      <input
        slot="input"
        name="email"
        type="email"
        placeholder="joe.bloggs@example.com"
      />
      <label slot="label">Email</label>
    </gux-form-field>

    <gux-form-field clearable label-position="beside">
      <input
        slot="input"
        name="password"
        type="password"
        placeholder="Enter a password"
      />
      <label slot="label">Password</label>
    </gux-form-field>

    <gux-form-field clearable label-position="above">
      <input
        slot="input"
        name="text"
        type="text"
        placeholder="Enter a string"
      />
      <label slot="label">Text</label>
    </gux-form-field>

    <gux-form-field clearable label-position="above">
      <input
        slot="input"
        name="text"
        type="text"
        placeholder="Enter a string"
        required
      />
      <label slot="label">Required Text</label>
    </gux-form-field>
  </div>

  <h1>Text Like (disabled)</h1>

  <div>
    <gux-form-field clearable label-position="beside">
      <input
        slot="input"
        name="email-disabled"
        type="email"
        placeholder="joe.bloggs@example.com"
        value="me@example.com"
        disabled
      />
      <label slot="label">Email</label>
    </gux-form-field>

    <gux-form-field clearable label-position="beside">
      <input
        slot="input"
        name="password-disabled"
        type="password"
        placeholder="Enter a password"
        value="password"
        disabled
      />
      <label slot="label" label-position="beside">Password</label>
    </gux-form-field>

    <gux-form-field clearable label-position="beside">
      <input
        slot="input"
        name="text-disabled"
        type="text"
        placeholder="Enter a string"
        value="text"
        disabled
      />
      <label slot="label">Text</label>
    </gux-form-field>
  </div>

  <h1>Input with error</h1>
  <div>
    <gux-form-field label-position="beside">
      <input
        slot="input"
        name="errorInput"
        type="text"
        step="5"
        min="5"
        max="100"
        placeholder="Enter text"
      />
      <label slot="label">Input</label>
      <span slot="error">Please provide a valid value</span>
    </gux-form-field>
  </div>

  <h1>Text Area</h1>

  <div>
    <gux-form-field label-position="above">
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
      ></textarea>
      <label slot="label">Text Area</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
        disabled
      ></textarea>
      <label slot="label">Disabled Text Area</label>
    </gux-form-field>

    <gux-form-field>
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
        required
      ></textarea>
      <label slot="label">Required Text Area</label>
    </gux-form-field>

    <gux-form-field resize="none" label-position="above">
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
      ></textarea>
      <label slot="label">No Resize</label>
    </gux-form-field>

    <gux-form-field resize="manual" label-position="above">
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
      ></textarea>
      <label slot="label">Manual Resize</label>
    </gux-form-field>

    <gux-form-field resize="auto" label-position="above">
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
      ></textarea>
      <label slot="label">Auto Resize</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <textarea
        slot="input"
        name="textarea"
        placeholder="Type here..."
      ></textarea>
      <label slot="label">Text Area with Error Label</label>
      <span slot="error">Response must be less than 2000 characters</span>
    </gux-form-field>
  </div>

  <h1>Select</h1>
  <div>
    <gux-form-field label-position="beside">
      <select slot="input" name="select" type="select">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
      <label slot="label">Select</label>
    </gux-form-field>

    <gux-form-field label-position="beside">
      <select slot="input" name="select" type="select" disabled>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
      <label slot="label">Disabled select</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <select slot="input" name="select" type="select" required>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
      <label slot="label">Required Select</label>
    </gux-form-field>

    <gux-form-field label-position="above">
      <select slot="input" name="select-required" type="select" required>
        <option value=""></option>
        <option value="option1">Option 1</option>
        <option value="option1">Option 2</option>
        <option value="option1">Option 3</option>
      </select>
      <label slot="label">Select</label>
      <span slot="error">Field is required</span>
    </gux-form-field>
  </div>

  <h1>Range</h1>

  <div>
    <gux-form-field label-position="beside">
      <label slot="label">Range</label>
      <input slot="input" name="range" type="range" />
    </gux-form-field>

    <gux-form-field display-units="%" label-position="beside">
      <label slot="label">Range</label>
      <input slot="input" name="range" type="range" />
    </gux-form-field>

    <gux-form-field display-units="px" label-position="beside">
      <label slot="label">Range</label>
      <input slot="input" name="range" type="range" />
    </gux-form-field>

    <gux-form-field label-position="beside">
      <label slot="label">Range</label>
      <input slot="input" name="range-disabled" type="range" disabled />
    </gux-form-field>

    <gux-form-field display-units="%" value-in-tooltip label-position="above">
      <label slot="label">Range with value in tooltip</label>
      <input slot="input" name="range-with-tooltip" type="range" />
    </gux-form-field>

    <gux-form-field display-units="px" value-in-tooltip label-position="above">
      <label slot="label">Range (disabled)</label>
      <input slot="input" name="range-disabled" type="range" disabled />
    </gux-form-field>

    <gux-form-field value-in-tooltip label-position="above">
      <label slot="label">Required Range</label>
      <input slot="input" name="range-disabled" type="range" required />
    </gux-form-field>
  </div>

  <h1>Search</h1>

  <gux-form-field label-position="beside">
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Enter a search"
    />
    <label slot="label">Search</label>
  </gux-form-field>

  <h2>Disabled</h2>

  <gux-form-field label-position="beside">
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Enter a search"
      disabled
    />
    <label slot="label">Search</label>
  </gux-form-field>

  <h2>No Visible Label</h2>

  <gux-form-field>
    <input
      slot="input"
      name="search"
      type="search"
      placeholder="Enter a search"
    />
    <label slot="label" class="gux-sr-only"
      >This will be read by a screenreader</label
    >
  </gux-form-field>
</form>
