@import (reference) '../../../style/color.less';

// Variables part

// Style
gux-form-field {
  .gux-label-and-input-and-error-container {
    margin: 16px 0;

    .gux-label-and-input-container {
      label {
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
      }

      &.gux-beside {
        display: flex;
        flex-direction: row;
        align-items: center;

        .gux-label-container {
          min-width: 45px;
          margin-right: 8px;
        }

        gux-input-range,
        gux-input-select,
        gux-input-text-like {
          flex: 1 1 auto;
        }
      }

      .gux-input-error .gux-input-container {
        border-color: @gux-alert;
      }

      .gux-input-error textarea {
        border-color: @gux-alert;
      }

      .gux-input-error .gux-input-color-main-element {
        border-color: @gux-alert;
      }
    }

    .gux-error {
      margin: 4px 0;

      .error-icon {
        margin: 0 2px;
        color: @gux-alert;
      }
    }
  }

  .gux-checkbox-and-error-container {
    .gux-error {
      margin: 4px 0;

      .error-icon {
        margin: 0 2px;
        color: @gux-alert;
      }
    }
  }

  .gux-required::after {
    color: @gux-alert-red-60;
    content: ' *';
  }
}

// Theming

// Dark
.gux-form-field-dark-theme {
  color: @gux-type-dark;
}

.gux-dark-theme {
  gux-form-field {
    .gux-form-field-dark-theme();
  }
}

gux-form-field.gux-dark-theme {
  .gux-form-field-dark-theme();
}

// Light
.gux-form-field-light-theme {
  color: @gux-type;
}

.gux-light-theme {
  gux-form-field {
    .gux-form-field-light-theme();
  }
}

gux-form-field.gux-light-theme {
  .gux-form-field-light-theme();
}

// Default Theme
gux-form-field {
  .gux-form-field-light-theme();
}
