:host(.gux-tabs-vertical) {
  block-size: 100%;
}

:host(.gux-tabs-horizontal) {
  .gux-tabs {
    flex-direction: column;
  }
}

:host {
  display: flex;
  flex-direction: column;

  .gux-tabs {
    display: flex;
    block-size: 100%;
  }

  .gux-panel-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    block-size: 100%;
    min-block-size: 0;
  }
}
