:host {
  display: flex;
  flex-direction: column;

  .gux-tabs {
    display: flex;
    height: 100%;
    &:not(.gux-vertical) {
      flex-direction: column;
    }
  }

  .gux-panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
