<form onchange="notify(event)" oninput="notify(event)">
  <h1>gux-form-field (Checkbox)</h1>

  <p>slot a input[type=checkbox] element into a gux-form-field element</p>

  <div>
    <gux-form-field>
      <input
        slot="input"
        type="checkbox"
        id="pizza"
        name="food"
        value="pizza"
      />
      <label slot="label" for="pizza">Pizza</label>
    </gux-form-field>
    <gux-form-field>
      <input
        slot="input"
        type="checkbox"
        id="pasta"
        name="food"
        value="pasta"
        checked
      />
      <label slot="label" for="pasta">Pasta</label>
    </gux-form-field>
    <gux-form-field>
      <input
        slot="input"
        type="checkbox"
        id="hamburger"
        name="food"
        value="hamburger"
      />
      <label slot="label" for="hamburger">Hamburger</label>
    </gux-form-field>
    <gux-form-field>
      <input
        slot="input"
        type="checkbox"
        id="sandwich"
        name="food"
        value="sandwich"
        disabled
      />
      <label slot="label" for="sandwich">Sandwich</label>
    </gux-form-field>
  </div>
</form>
