@import (reference) '../../../../../style/color.less';

@gux-icon-checkbox-unchecked: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%2377828f' d='M416 32v352h-352v-352h352zM448 416v-416h-416v416h416z' /%3E%3C/svg%3E");
@gux-icon-checkbox-unchecked-hover: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%232a60c8' d='M416 32v352h-352v-352h352zM448 416v-416h-416v416h416z' /%3E%3C/svg%3E");
@gux-icon-checkbox-checked: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%232a60c8' d='M144 272l96 -64l224 224l32 -32l-256 -320l-128 160zM416 228l32 40v-268h-416v416h353l-32 -32h-289v-352h352v196z' /%3E%3C/svg%3E");
@gux-icon-checkbox-mixed: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%232a60c8' d='M128 192v32h224v-32h-224zM416 32v352h-352v-352h352zM448 416v-416h-416v416h416z' /%3E%3C/svg%3E");

gux-input-checkbox {
  display: block;
  color: @gux-black-50;

  .gux-input-checkbox-container {
    position: relative;
    padding-left: 24px;
    line-height: 24px;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &[type='checkbox']:focus + label::before {
      outline: fade(@gux-blue-80, 50%) solid 3px;
    }

    &[type='checkbox']:focus + label.gux-unchecked::after {
      background-image: @gux-icon-checkbox-unchecked-hover;
    }

    &[type='checkbox'].gux-input-error + label::before {
      outline: @gux-alert solid 2px;
    }
  }

  label {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }

  label::before {
    position: absolute;
    top: 7px;
    left: 6px;
    display: inline-block;
    width: 11px;
    height: 11px;
    content: '';
  }

  label::after {
    position: absolute;
    top: 6px;
    left: 4px;
    display: block;
    width: @gux-icon-size-default-global;
    height: @gux-icon-size-default-global;
    content: '';
  }

  label.gux-unchecked::after {
    background-image: @gux-icon-checkbox-unchecked;
  }

  input:not(:disabled) ~ label.gux-unchecked:hover::after {
    background-image: @gux-icon-checkbox-unchecked-hover;
  }

  input:disabled ~ label::after,
  input:disabled ~ label {
    cursor: not-allowed;
    opacity: 0.5;
  }

  label.gux-checked::after {
    top: 3px;
    background-image: @gux-icon-checkbox-checked;
    transform: scaleY(-1);
  }

  label.gux-mixed::after {
    background-image: @gux-icon-checkbox-mixed;
  }
}
