gux-menu {
  flex-direction: column;
  width: fit-content;
  padding: var(--gse-ui-flyoutMenu-padding);
  background-color: var(--gse-ui-flyoutMenu-backgroundColor);
  border: var(--gse-ui-menu-border-width) var(--gse-ui-menu-border-style)
    var(--gse-ui-menu-border-color);
  border-radius: var(--gse-ui-menu-borderRadius);
  box-shadow: var(--gse-ui-menu-boxShadow-x) var(--gse-ui-menu-boxShadow-y)
    var(--gse-ui-menu-boxShadow-blur) var(--gse-ui-menu-boxShadow-spread)
    var(--gse-ui-menu-boxShadow-color);
}
