:host {
  flex-direction: column;
  inline-size: fit-content;
  padding: var(--gse-ui-menu-padding);
  background-color: var(--gse-ui-flyoutMenu-backgroundColor);
  border: none;
  border-radius: var(--gse-ui-menu-borderRadius);
  box-shadow: var(--gse-ui-menu-boxShadow-offsetX)
    var(--gse-ui-menu-boxShadow-offsetY) var(--gse-ui-menu-boxShadow-blur)
    var(--gse-ui-menu-boxShadow-spread) var(--gse-ui-menu-boxShadow-color);
}
