@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-error {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-formControl-helper-gap;
    place-content: stretch flex-start;
    padding: ui.$gse-ui-formControl-helper-errorPadding;
    font-family: ui.$gse-ui-formControl-helper-helperText-fontFamily;
    font-size: ui.$gse-ui-formControl-helper-helperText-fontSize;
    line-height: ui.$gse-ui-formControl-helper-helperText-lineHeight;
    color: ui.$gse-ui-formControl-helper-errorColor;

    &.gux-show {
      display: flex;
    }

    gux-icon {
      flex: 0 0 auto;
      order: 0;
      color: ui.$gse-ui-formControl-helper-errorColor;
    }

    .gux-message {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
    }
  }
}
