/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-fieldset-container {
    display: flex;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: none;

    &.gux-beside {
      flex-direction: row;
    }

    &.gux-above {
      flex-direction: column;
    }
  }
}
