/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-fieldset-container {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: none;

    &.gux-beside {
      display: flex;
    }
  }
}
