// Variables part
@slider-fill: @genesys-dark-blue;
@slider-border: #e0e0e0;
@slider-dark: @genesys-off-white;
@slider-fill-dark: @genesys-blue;

genesys-slider {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin-top: 23px;
  }

  .range-input {
    -webkit-appearance: none;
    align-self: center;
    flex-grow: 2;
    height: 18px;
    width: 100%;
    padding: 0;
    margin-right: 20px;
    background-color: transparent;

    &:focus {
      outline: none;
    }
    /** Chrome & Safari */
    &::-webkit-slider-runnable-track {
      height: 2px;
      width: 100%;
      background-color: @slider-border;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      background-color: transparent;
      cursor: pointer;

      &:active {
        height: 20px;
        width: 20px;
      }
    }
    /** Forefox */
    &::-moz-range-track {
      height: 2px;
    }

    &::-moz-range-thumb {
      height: 16px;
      width: 16px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    /** IE */
    &::-ms-track {
      height: 2px;
      width: 100%;
      border: none;
      background-color: @slider-border;
    }

    &::-ms-thumb {
      height: 16px;
      width: 16px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .range-input:active + .mask {
    min-width: 18px;

    &:after {
      height: 18px;
      width: 18px;
    }
  }

  .mask {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    position: absolute;
    top: 52px;
    left: 16px;
    height: 2px;
    width: 12px;
    background-color: @slider-fill;

    &:after {
      display: block;
      z-index: -1;
      align-self: center;
      top: -5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: @slider-fill;
      content: '';
    }
  }
  /** Chrome **/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .mask {
      top: 60px;
      left: 10px;
    }
  }

  .range-tooltip {
    display: none;
    position: absolute;
    top: 3px;
    height: 32px;
    width: 50px;
    border: 1px solid @slider-border;
    box-shadow: 0 0 2px @slider-border;
    border-radius: 2px;
    text-align: center;

    &::after,
    &::before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-top-color: white;
      border-width: 4px;
      margin-left: -4px;
    }

    &::before {
      border-top-color: @slider-border;
      border-width: 6px;
      margin-left: -6px;
    }

    .tooltip-value {
      align-self: center;
    }
  }

  .range-input:active {
    ~ .range-tooltip {
      display: flex;
      justify-content: center;
    }
  }

  genesys-text-field {
    align-self: center;

    label {
      display: none;
    }

    .genesys-icon-close {
      display: none;
    }
  }
}
// Theming

.genesys-slider-dark-theme {
  .range-input {
    background-color: @slider-dark;
  }

  .mask {
    background-color: @slider-fill-dark;

    &::after {
      background-color: @slider-fill-dark;
    }
  }

  .range-tooltip {
    color: @genesys-grey-type;
    background-color: @slider-dark;
  }
}

.genesys-dark-theme {
  genesys-slider {
    .genesys-slider-dark-theme;
  }
}

.genesys-slider.genesys-dark-theme {
  .genesys-slider-dark-theme;
}
