::slotted(*) {
  margin: 0 !important;
  font-family: var(--gse-semantic-forms-paragraph-text-fontFamily) !important;
  font-size: var(--gse-semantic-forms-paragraph-text-fontSize) !important;
  font-weight: var(--gse-semantic-forms-paragraph-text-fontWeight) !important;
  line-height: var(--gse-semantic-forms-paragraph-text-lineHeight) !important;
  color: var(--gse-semantic-forms-paragraph-foregroundColor) !important;
}
