@use '~genesys-spark/dist/beta/tokens/flare/global.scss';

::slotted(*) {
  margin: 0 !important;
  font-family: global.$gse-semantic-body-sm-regular-fontFamily !important;
  font-size: global.$gse-semantic-body-sm-regular-fontSize !important;
  font-weight: global.$gse-semantic-body-sm-regular-fontWeight !important;
  line-height: global.$gse-semantic-body-sm-regular-lineHeight !important;
  color: global.$gse-semantic-foreground-container-midEmphasis !important;
}
