@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

:host {
  height: 100%;
  color: ui.$gse-ui-tabs-item-icon-iconColor;
}

.gux-disclosure-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;

  .gux-disclosure-button {
    width: 16px;
    padding: 0;
    margin: 0;
    color: ui.$gse-ui-tabs-item-icon-iconColor;
    background: transparent;
    border-top: none;
    border-right: 1px solid ui.$gse-ui-tabs-item-divider-dividerColor;
    border-bottom: none;
    border-left: 1px solid ui.$gse-ui-tabs-item-divider-dividerColor;

    gux-icon {
      width: 12px;
      height: 12px;
    }

    &:focus-visible {
      @include focus.gux-focus-ring;
    }
  }

  .gux-disclosure-panel {
    display: none;
    order: -1;
    width: 100%;

    &.gux-active {
      display: block;
    }
  }

  &.gux-right {
    justify-content: flex-end;

    .gux-disclosure-panel {
      order: 1;
    }
  }
}
