<h1>Example 1</h1>
<gux-tabs-beta id="interactive">
  <gux-tab tab-id="1" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>

  <gux-tab tab-id="2" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 2
    </span>
  </gux-tab>
</gux-tabs-beta>

<h1>Example 2</h1>
<gux-tabs-beta
  id="interactive"
  allow-sort="true"
  value="3"
  show-new-tab-button="true"
>
  <gux-tab tab-id="3" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 3
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>

  <gux-tab tab-id="4" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 4
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>

  <gux-tab tab-id="5" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 5
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>

  <gux-tab tab-id="6" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 6
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>

  <gux-tab tab-id="7" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 7
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>

  <gux-tab tab-id="8" tab-icon-name="ic-locked">
    <span slot="title">
      Hello World 8
    </span>
    <span slot="dropdown-options">
      <gux-tab-dropdown-option option-id="1" icon-name="ic-pencil">
        Edit
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="2" icon-name="ic-clone">
        Clone
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="3" icon-name="ic-share">
        Share
      </gux-tab-dropdown-option>
      <gux-tab-dropdown-option option-id="4" icon-name="ic-download">
        Download
      </gux-tab-dropdown-option>
    </span>
  </gux-tab>
</gux-tabs-beta>
