gux-form-field-color {
  input {
    &:focus,
    &:focus-visible {
      outline: none;
      border: 0;
      box-shadow: none;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch,
    &::-moz-color-swatch {
      inline-size: var(--gse-ui-colorPicker-input-swatchSizing);
      block-size: var(--gse-ui-colorPicker-input-swatchSizing);
      border: none;
      border-radius: var(--gse-ui-colorPicker-input-swatchBorderRadius);
    }
  }
}
