@import '../../../../../style/mixins.scss';
@import '../../../../../style/focus.scss';
@import '../../../../../style/typography.scss';
@import '../../functional-components/gux-form-field-container/gux-form-field-container.scss';
@import '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@import '../../functional-components/gux-form-field-label/gux-form-field-label.scss';
@import '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include GuxFormFieldContainerStyle;
@include GuxFormFieldErrorStyle;
@include GuxFormFieldLabelStyle;
@include GuxFormFieldHelpStyle;

:host {
  display: block;
}

::slotted(label) {
  @include gse-ui-formControl-label;
}

::slotted(input) {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
  width: 32px; //TODO: 2292
  height: var(--gse-ui-formControl-input-textfield-height);
  overflow: hidden;
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  color: var(--gse-ui-formControl-input-populatedColor);
  text-align: right;
  text-overflow: ellipsis;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  border: none;
  border-radius: var(--gse-ui-formControl-input-borderRadius);
  outline: none;

  &::placeholder {
    color: var(--gse-ui-formControl-input-placeholderColor);
    opacity: 1; // TODO:  COMUI-2187
  }
}

.gux-input-and-error-container {
  flex-grow: 1;

  .gux-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;

    .gux-input-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      align-self: auto;
      justify-content: center;
      gap: var(--gse-ui-formControl-input-gap);
      order: 0;
      height: var(--gse-ui-formControl-input-textfield-height);
      font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
      font-size: var(--gse-ui-formControl-input-contentText-fontSize);
      line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
      color: var(--gse-ui-formControl-input-populatedColor);
      background-color: var(--gse-ui-formControl-input-backgroundColor);
      background-image: none;
      border-radius: var(--gse-ui-formControl-input-borderRadius);

      &.gux-disabled {
        opacity: var(--gse-ui-formControl-input-disabled-opacity);
      }

      &:focus-within {
        outline: var(--gse-ui-formControl-input-focus-border-width)
          var(--gse-ui-formControl-input-focus-border-style)
          var(--gse-ui-formControl-input-focus-border-color);
        border: var(--gse-ui-formControl-input-active-border-width)
          var(--gse-ui-formControl-input-active-border-style)
          var(--gse-ui-formControl-input-active-border-color);
        border-radius: var(--gse-ui-formControl-focusRing-borderRadius);
      }

      &.gux-input-error {
        .gux-input-container {
          border-color: var(--gse-ui-formControl-input-error-border-color);
        }
      }
    }
  }
}
