@import (reference) '../../../../../style/color-palette.less';
@import (reference) '../../../../../style/mixins.less';
@import (reference) '../../../../../style/focus.less';
@import (reference) '../../../../../style/typography.less';
@import (reference)
  '../../functional-components/gux-form-field-container/gux-form-field-container.less';
@import (reference)
  '../../functional-components/gux-form-field-error/gux-form-field-error.less';
@import (reference)
  '../../functional-components/gux-form-field-label/gux-form-field-label.less';
@import (reference)
  '../../functional-components/gux-form-field-help/gux-form-field-help.less';

.GuxFormFieldContainerStyle();
.GuxFormFieldErrorStyle();
.GuxFormFieldLabelStyle();
.GuxFormFieldHelpStyle();

:host {
  display: block;
  color: #2e394c;
}

::slotted(label) {
  .gux-label();
}

::slotted(input) {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
  font-size: 12px;
  color: #2e394c;
  text-align: right;
  text-overflow: ellipsis;
  background-color: #f6f7f9;
  border: none;
  border-radius: 4px;
  outline: none;

  &::placeholder {
    color: #596373;
    opacity: 1;
  }
}

.gux-input-and-error-container {
  flex-grow: 1;

  .gux-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;

    .gux-input-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      align-self: auto;
      justify-content: center;
      order: 0;
      height: 32px;
      font-family: inherit;
      font-size: 12px;
      line-height: 1.6667;
      color: #2e394c;
      background-color: #f6f7f9;
      background-image: none;
      border-radius: 4px;

      &.gux-disabled {
        opacity: 0.5;
      }

      &:focus-within {
        border-color: #2a60c8;
        .gux-focus-ring();
      }

      &.gux-input-error {
        .gux-input-container {
          border-color: #ea0b0b;
        }
      }
    }
  }
}
