<h1>gux-radial-progress</h1>
<div>
  <h2>Value</h2>
  <h3>No value set</h3>
  <gux-radial-progress screenreader-text="Uploading file"></gux-radial-progress>

  <h3>Set to 0</h3>
  <gux-radial-progress
    screenreader-text="Uploading file"
    value="0"
    max="100"
  ></gux-radial-progress>

  <h3>Set to 3/10</h3>
  <gux-radial-progress
    screenreader-text="Uploading file"
    value="3"
    max="10"
  ></gux-radial-progress>

  <h3>Set to 10/10</h3>
  <gux-radial-progress
    screenreader-text="Uploading file"
    value="10"
    max="10"
  ></gux-radial-progress>
</div>

<div>
  <h2>Dynamic</h2>
  <h3>Scale set to 0</h3>
  <gux-radial-progress
    class="dynamic"
    screenreader-text="Uploading file"
    value="0"
    max="100"
  ></gux-radial-progress>

  <h3>Scale set to 1</h3>
  <gux-radial-progress
    class="dynamic"
    screenreader-text="Uploading file"
    value="0"
    max="100"
    scale="1"
  >
  </gux-radial-progress>

  <h3>Scale set to 2</h3>
  <gux-radial-progress
    class="dynamic"
    screenreader-text="Uploading file"
    value="0"
    max="100"
    scale="2"
  >
  </gux-radial-progress>
</div>

<style
  onload="(function () {
    const dynamicRadialProgressElements = Array.from(document.getElementsByClassName('dynamic'));

    dynamicRadialProgressElements.forEach((dynamicRadialProgressElement) => {
      const intervalId = setInterval(() => {
        const currentValue = dynamicRadialProgressElement.value;

        const change = Math.random();

        if (currentValue + change > 100) {
          dynamicRadialProgressElement.value = 0;
        } else {
          dynamicRadialProgressElement.value += change;
        }
      }, 100)
    });

  }
  )()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
