@import (reference) '../../../style/color.less';

// Style
gux-radial-progress {
  .gux-svg-container {
    display: block;

    .gux-dynamic-circle {
      fill: none;
      stroke: @gux-blue-60;
      stroke-width: 5;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }

    .gux-dynamic-circle-shadow {
      fill: none;
      stroke: @gux-blue-80;
      stroke-width: 5;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }

    .gux-static-circle {
      fill: none;
      stroke: @gux-blue-100;
      stroke-width: 4;
    }

    .gux-percentage {
      font-size: 12px;
      text-anchor: middle;
      fill: @gux-black-50;
    }
  }
}
