@import (reference) '../../../style/color.less';

// Style
gux-radial-progress {
  > div {
    display: block;

    .svg-container {
      display: block;

      .dynamic-circle {
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        fill: none;
        stroke: @gux-genesys-blue;
        stroke-width: 5;
      }

      .static-circle {
        fill: none;
        stroke: #deeaff;
        stroke-width: 5;
      }

      .percentage {
        text-anchor: middle;
        fill: @gux-charcoal-grey;
        font-size: 12px;
      }
    }
  }
}

// Theming

// Dark
.gux-radial-progress-dark-theme {
    color: @gux-type-dark;
    > div {
      .percentage {
        fill: @gux-off-white;
      }
    }
};

.gux-dark-theme {
    gux-radial-progress {
        .gux-radial-progress-dark-theme();
    }
}

gux-radial-progress.gux-dark-theme {
    .gux-radial-progress-dark-theme();
}

// Light
.gux-radial-progress-light-theme {
    color: @gux-type;
};

.gux-light-theme {
    gux-radial-progress {
        .gux-radial-progress-light-theme();
    }
}

gux-radial-progress.gux-light-theme {
    .gux-radial-progress-light-theme();
}

// Default Theme
gux-radial-progress {
    .gux-radial-progress-light-theme();
}
