@mixin gux-focus-ring {
  outline: var(--gse-semantic-focusRing-default-border-color)
    var(--gse-semantic-focusRing-default-border-style)
    var(--gse-semantic-focusRing-default-border-width);
  outline-offset: var(--gse-semantic-focusRing-offset);
}

@mixin gux-focus-ring-small {
  outline: var(--gse-semantic-focusRing-small-border-color)
    var(--gse-semantic-focusRing-small-border-style)
    var(--gse-semantic-focusRing-small-border-width);
}
