@mixin gux-focus-ring {
  outline: var(--gse-semantic-border-focus) solid
    var(--gse-semantic-focusOutline-md-borderWidth);
  outline-offset: var(--gse-semantic-focusOutline-offset);
}

@mixin gux-focus-ring-small {
  outline: var(--gse-semantic-border-focus) solid
    var(--gse-semantic-focusOutline-sm-borderWidth);
}
