@use './focus.scss';

/*
 * Typography styles and mixins.
 */

/* Headings */
@mixin _heading-xl {
  font-family: var(--gse-core-typography-heading-xl-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-heading-xl-fontSize);
  line-height: var(--gse-core-typography-heading-xl-lineHeight);
}

@mixin _heading-lg {
  font-family: var(--gse-core-typography-heading-lg-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-heading-lg-fontSize);
  line-height: var(--gse-core-typography-heading-lg-lineHeight);
}

@mixin _heading-md {
  font-family: var(--gse-core-typography-heading-md-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-heading-md-fontSize);
  line-height: var(--gse-core-typography-heading-md-lineHeight);
}

@mixin _heading-sm {
  font-family: var(--gse-core-typography-heading-sm-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-heading-sm-fontSize);
  line-height: var(--gse-core-typography-heading-sm-lineHeight);
}

@mixin _heading-xs {
  font-family: var(--gse-core-typography-heading-xs-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-heading-xs-fontSize);
  line-height: var(--gse-core-typography-heading-xs-lineHeight);
}

@mixin _heading-subheading {
  font-family: var(--gse-core-typography-subheading-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-subheading-fontSize);
  line-height: var(--gse-core-typography-subheading-lineHeight);
}

@mixin _heading-overline {
  font-family: var(--gse-core-typography-heading-overline-fontFamily),
    var(--gse-core-fontFamily-heading), sans-serif;
  font-size: var(--gse-core-typography-heading-overline-fontSize);
  line-height: var(--gse-core-typography-heading-overline-lineHeight);
  text-transform: var(--gse-core-typography-heading-overline-textCase);
  letter-spacing: var(--gse-core-typography-heading-overline-letterSpacing);
}

@mixin heading-xl-bold {
  @include _heading-xl;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin heading-xl-semiBold {
  @include _heading-xl;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin heading-xl {
  @include heading-xl-bold;
}

@mixin heading-lg-bold {
  @include _heading-lg;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin heading-lg-semiBold {
  @include _heading-lg;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin heading-lg {
  @include heading-lg-bold;
}

@mixin heading-md-bold {
  @include _heading-md;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin heading-md-semiBold {
  @include _heading-md;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin heading-md {
  @include heading-md-bold;
}

@mixin heading-sm-bold {
  @include _heading-sm;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin heading-sm-semiBold {
  @include _heading-sm;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin heading-sm {
  @include heading-sm-bold;
}

@mixin heading-xs-bold {
  @include _heading-xs;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin heading-xs-semiBold {
  @include _heading-xs;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin heading-xs {
  @include heading-xs-bold;
}

@mixin heading-subheading-bold {
  @include _heading-subheading;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin heading-subheading-semiBold {
  @include _heading-subheading;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin heading-subheading-regular {
  @include _heading-subheading;

  font-weight: var(--gse-core-fontWeight-regular);
}

@mixin heading-subheading {
  @include heading-subheading-bold;
}

@mixin heading-overline {
  @include _heading-overline;

  font-weight: var(
    --gse-core-fontWeight-regular
  ); //TODO token for this is wrong
}

/* Body Copy */
@mixin _body-lg {
  font-family: var(--gse-core-typography-body-lg-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-lg-fontSize);
  line-height: var(--gse-core-typography-body-lg-lineHeight);
}

@mixin _body-md {
  font-family: var(--gse-core-typography-body-md-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-md-fontSize);
  line-height: var(--gse-core-typography-body-md-lineHeight);
}

@mixin _body-sm {
  font-family: var(--gse-core-typography-body-sm-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-sm-fontSize);
  line-height: var(--gse-core-typography-body-sm-lineHeight);
}

@mixin body-lg-regular {
  @include _body-lg;

  font-weight: var(--gse-core-fontWeight-regular);
}

@mixin body-lg-semiBold {
  @include _body-lg;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin body-lg-bold {
  @include _body-lg;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin body-md-regular {
  @include _body-md;

  font-weight: var(--gse-core-fontWeight-regular);
}

@mixin body-md-semiBold {
  @include _body-md;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin body-md-bold {
  @include _body-md;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin body-sm-regular {
  @include _body-sm;

  font-weight: var(--gse-core-fontWeight-regular);
}

@mixin body-sm-semiBold {
  @include _body-sm;

  font-weight: var(--gse-core-fontWeight-semiBold);
}

@mixin body-sm-bold {
  @include _body-sm;

  font-weight: var(--gse-core-fontWeight-bold);
}

@mixin ui-button {
  font-family: var(--gse-core-typography-body-md-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-md-fontSize);
  font-weight: var(--gse-core-fontWeight-semiBold);
  line-height: var(--gse-core-typography-body-md-lineHeight);
}

@mixin ui-link {
  font-family: var(--gse-core-typography-body-md-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-md-fontSize);
  font-weight: var(--gse-core-fontWeight-regular);
  line-height: var(--gse-core-typography-body-md-lineHeight);
}

@mixin ui-label {
  font-family: var(--gse-core-typography-body-sm-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-sm-fontSize);
  font-weight: var(--gse-core-fontWeight-bold);
  line-height: var(--gse-core-typography-body-sm-lineHeight);
}

@mixin ui-placeholder {
  font-family: var(--gse-core-typography-body-sm-fontFamily),
    var(--gse-core-fontFamily-body), sans-serif;
  font-size: var(--gse-core-typography-body-sm-fontSize);
  font-weight: var(--gse-core-fontWeight-regular);
  line-height: var(--gse-core-typography-body-sm-lineHeight);
}

/* Anchor */
@mixin ui-anchor {
  color: var(
    --gse-ui-link-default-foregroundColor,
    --gse-ui-links-default-foregroundColor
  );
  text-decoration: underline;
  border-radius: var(--gse-ui-links-borderRadius);

  &:hover {
    color: var(
      --gse-ui-link-hover-foregroundColor,
      --gse-ui-links-hover-foregroundColor
    );
  }

  &:active {
    color: var(
      --gse-ui-link-active-foregroundColor,
      --gse-ui-links-active-foregroundColor
    );
  }

  &:visited {
    color: var(
      --gse-ui-link-visited-foregroundColor,
      --gse-ui-links-visited-foregroundColor
    );
  }

  &:focus-visible {
    @include focus.gux-focus-ring;
  }
}

@mixin ui-anchor-table {
  @include ui-anchor;

  // https://sass-lang.com/documentation/breaking-changes/mixed-decls/
  & {
    text-decoration: none;
  }
}
