:root {
  --gse-semantic-focusRing-cornerRadius: 4px;
  --gse-semantic-focusRing-default-border-color: #7b88f7;
  --gse-semantic-focusRing-default-border-style: solid;
  --gse-semantic-focusRing-default-border-width: 3px;
  --gse-semantic-focusRing-offset: 1px;
  --gse-semantic-focusRing-small-border-color: #7b88f7;
  --gse-semantic-focusRing-small-border-style: solid;
  --gse-semantic-focusRing-small-border-width: 2px;
  --gse-semantic-focusRing-width: 3px;
  --gse-semantic-forms-fieldset-header-foregroundColor: #1b2c48;
  --gse-semantic-forms-fieldset-header-gap: 4px;
  --gse-semantic-forms-fieldset-header-paddingBottom: 20px;
  --gse-semantic-forms-fieldset-header-text-fontFamily: urbanist;
  --gse-semantic-forms-fieldset-header-text-fontSize: 18px;
  --gse-semantic-forms-fieldset-header-text-fontWeight: 700;
  --gse-semantic-forms-fieldset-header-text-lineHeight: 27px;
  --gse-semantic-forms-fieldset-paddingBottom: 48px;
  --gse-semantic-forms-formBody-paddingBottom: 32px;
  --gse-semantic-forms-formControl-gap: 16px;
  --gse-semantic-forms-formHeader-foregroundColor: #1b2c48;
  --gse-semantic-forms-formHeader-gap: 4px;
  --gse-semantic-forms-formHeader-paddingBottom: 20px;
  --gse-semantic-forms-formHeader-text-fontFamily: urbanist;
  --gse-semantic-forms-formHeader-text-fontSize: 24px;
  --gse-semantic-forms-formHeader-text-fontWeight: 600;
  --gse-semantic-forms-formHeader-text-lineHeight: 32px;
  --gse-semantic-forms-margin: 24px;
  --gse-semantic-forms-maxWidth: 600px;
  --gse-semantic-forms-paragraph-foregroundColor: #3e5374;
  --gse-semantic-forms-paragraph-text-fontFamily: 'Noto Sans';
  --gse-semantic-forms-paragraph-text-fontSize: 12px;
  --gse-semantic-forms-paragraph-text-fontWeight: 400;
  --gse-semantic-forms-paragraph-text-lineHeight: 18px;
  --gse-semantic-zIndex-modal: 600;
  --gse-semantic-zIndex-popover: 200;
  --gse-semantic-zIndex-popup: 100;
  --gse-semantic-zIndex-showFocus: 1;
  --gse-semantic-zIndex-sticky: 1;
  --gse-semantic-zIndex-tooltip: 200;
}
