@import (reference) '../../../style/typography.less';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gux-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ::slotted(gux-icon) {
    width: 48px;
    height: 48px;
    color: #c8cfda;
  }

  slot[name='primary-message'] {
    color: #364154;
    text-align: center;
    .h3();
  }

  slot[name='additional-guidance'] {
    color: #364154;
    text-align: center;
    .gux-small-text();
  }

  &.gux-small,
  &.gux-medium {
    .gux-message-container {
      padding: 8px 0 4px;
    }

    .gux-guidance-container {
      padding-bottom: 8px;
    }
  }

  &.gux-large {
    .gux-message-container {
      padding: 16px 0 4px;

      slot[name='primary-message'] {
        .h1();
      }
    }

    .gux-guidance-container {
      padding-bottom: 16px;

      slot[name='additional-guidance'] {
        .gux-large-text();
      }
    }
  }
}
