@import (reference) '../../../../style/color.less';

// Variables part

gux-list-item {
  .gux-list-item {
    display: flex;
    height: max-content;
    padding: 0 16px;
    line-height: 32px;
    word-wrap: break-word;
    cursor: pointer;

    .gux-text {
      width: 100%;
    }
  }

  &:focus,
  &:active,
  &:hover:not([disabled]) {
    .gux-list-item {
      color: @gux-type-dark;
      background: @gux-blue-60;
    }
  }

  &[disabled] {
    .gux-list-item {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
}
