<h1>Accessibility</h1>
<gux-icon class="example" icon-name="add-user" decorative="true"></gux-icon>
<p>
  Set the <strong>decorative</strong> attrribute if the icon does not convey
  information about the page and is only for decoration
</p>

<gux-icon
  class="example"
  icon-name="add-user"
  screenreader-text="add John Smith to contact list"
></gux-icon>
<p>
  Set the <strong>screenreader-text</strong> attribute if the icon conveys
  information to the user that would not otherwise be available
</p>

<h1>Styling</h1>
<gux-icon id="styled" icon-name="add-user" decorative="true"></gux-icon>
<p>
  You can use the <strong>color</strong>, <strong>height</strong> and
  <strong>width</strong> css propreties to style your icon
</p>

<style>
  #styled {
    color: #ff4f1f;
    height: 100px;
    width: 100px;
  }

  .example {
    width: 50px;
    height: 50px;
  }
</style>
