:host {
  display: block;
  flex: 1 1 auto;
  align-self: auto;

  .gux-menu-option-button {
    all: unset;
    width: var(--gse-ui-flyoutMenu-width);
    height: var(--gse-ui-menu-option-height);
    padding: var(--gse-ui-menu-option-padding);
    line-height: var(--gse-ui-menu-option-label-default-text-lineHeight);
    color: var(--gse-ui-menu-option-label-foregroundColor);
    background-color: var(--gse-ui-menu-option-default-backgroundColor);

    &:focus-within,
    &:hover {
      background-color: var(--gse-ui-menu-option-hover-backgroundColor);
    }

    &:enabled {
      cursor: pointer;
    }

    .gux-menu-option-button-text {
      display: block;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .gux-menu-option-button-subtext {
      display: block;
      overflow-x: hidden;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
      // TODO: Replace with proper tokens etc
      color: var(--gse-ui-shared-typography-subtle);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .gux-menu-option-button-text-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
