<h3>Enabled</h3>
<div>
  <div>
    <gux-content-search-beta><input type="text" /></gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta
      ><input type="text" placeholder="Search"
    /></gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta
      current-match="0"
      match-count="10"
      style="width: 200px"
    >
      <input
        type="text"
        placeholder="Search"
        value="Default Search Text"
        oninput="console.log('Test oninput log : '+ event.target.value);"
        onchange="console.log('Test onchange log : '+ event.target.value);"
      />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="0" match-count="0">
      <input type="text" placeholder="Search" value="Default Search Text" />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="0" match-count="0">
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta
      current-match="1"
      match-count="1"
      style="width: 200px"
    >
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="1000" match-count="100000">
      <input type="text" placeholder="Search" value="Lorem ipsum" />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="1000" match-count="100000">
      <input
        type="text"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="1000" match-count="abc">
      <input type="text" placeholder="Search" value="Invalid Match Count" />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="100000" match-count="100">
      <input type="text" placeholder="Search" value="Invalid Current Match" />
    </gux-content-search-beta>
  </div>
</div>
<h3>Disabled</h3>
<div>
  <div>
    <gux-content-search-beta
      ><input type="text" placeholder="Search" disabled="true"
    /></gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="10" match-count="10">
      <input
        type="text"
        disabled="true"
        placeholder="Search"
        value="Search Disabled"
      />
    </gux-content-search-beta>
  </div>
  <div>
    <gux-content-search-beta current-match="1100" match-count="100000001">
      <input
        type="text"
        disabled="true"
        placeholder="Search"
        value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
      />
    </gux-content-search-beta>
  </div>
</div>
