@use '../../../../../style/typography.scss';
@use '../../functional-components/gux-form-field-container/gux-form-field-container.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-label/gux-form-field-label.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-container.Style;
@include gux-form-field-error.Style;
@include gux-form-field-label.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

::slotted(label) {
  @include typography.gse-ui-formControl-label;
}

::slotted(input) {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
  width: 100%;
  overflow: hidden;
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  text-overflow: ellipsis;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  border: none;
  outline: none;

  &::placeholder {
    color: var(--gse-ui-formControl-input-placeholderColor);
    opacity: 1; // missing token COMUI-2187
  }
}

slot[name='prefix'],
slot[name='suffix'] {
  font-family: var(--gse-ui-formControl-input-prefixSufix-text-fontFamily);
  font-size: var(--gse-ui-formControl-input-prefixSufix-text-fontSize);
  line-height: var(--gse-ui-formControl-input-prefixSufix-text-lineHeight);
  color: var(--gse-ui-formControl-input-prefixSufix-defaultColor);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.gux-input-and-error-container {
  flex-grow: 1;

  .gux-input {
    &:focus-visible {
      border: var(--gse-ui-formControl-input-default-border-width)
        var(--gse-ui-formControl-input-default-border-style)
        var(--gse-ui-formControl-input-default-border-color);
      border-radius: var(--gse-ui-formControl-focusRing-borderRadius);
      outline: var(--gse-ui-formControl-input-focus-border-width)
        var(--gse-ui-formControl-input-focus-border-style)
        var(--gse-ui-formControl-input-focus-border-color);
    }
    .gux-input-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: var(--gse-ui-formControl-input-gap);
      align-content: stretch;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: var(--gse-ui-formControl-input-textfield-height);
      padding: var(--gse-ui-formControl-input-padding);
      font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
      font-size: var(--gse-ui-formControl-input-contentText-fontSize);
      font-weight: var(--gse-ui-formControl-input-contentText-fontWeight);
      line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
      color: var(--gse-ui-formControl-input-populatedColor);
      background-color: var(--gse-ui-formControl-input-backgroundColor);
      background-image: none;
      border: var(--gse-ui-formControl-input-default-border-width)
        var(--gse-ui-formControl-input-default-border-style)
        var(--gse-ui-formControl-input-default-border-color);
      border-radius: var(--gse-ui-formControl-input-borderRadius);

      &.gux-has-suffix:not(&.gux-has-prefix) {
        ::slotted(input) {
          text-align: right;
        }
      }

      &.gux-disabled {
        opacity: var(--gse-ui-formControl-input-disabled-opacity);
      }

      &:focus-within {
        border: var(--gse-ui-formControl-input-active-border-width)
          var(--gse-ui-formControl-input-active-border-style)
          var(--gse-ui-formControl-input-active-border-color);
      }

      &:hover:not(.gux-disabled) {
        border: var(--gse-ui-formControl-input-hover-border-width)
          var(--gse-ui-formControl-input-hover-border-style)
          var(--gse-ui-formControl-input-hover-border-color);
      }
    }

    &.gux-input-error {
      .gux-input-container {
        border-color: var(--gse-ui-formControl-input-error-border-color);
      }
    }
  }
}
