.gux-option-defaults() {
  box-sizing: border-box;
  display: flex;
  height: 32px;
  padding: 6px 8px;
  color: #2e394c;
  word-wrap: break-word;
  cursor: pointer;

  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  &.gux-selected {
    background: #deeaff;
  }

  &.gux-active,
  &.gux-hovered:not(:disabled) {
    color: #fdfdfd;
    background: #2a60c8;
  }

  &.gux-filtered {
    display: none;
  }

  .gux-slot-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
