@use '~genesys-spark/dist/beta/tokens/flare/global.scss';

@mixin gux-option-default {
  :host {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-menu-option-gap);
    place-content: stretch center;
    align-items: center;
    block-size: var(--gse-ui-menu-option-height);
    padding: var(--gse-ui-menu-option-padding);
    font-family: var(--gse-ui-menu-option-label-default-text-fontFamily);
    font-size: var(--gse-ui-menu-option-label-default-text-fontSize);
    font-weight: var(--gse-ui-menu-option-label-default-text-fontWeight);
    line-height: var(--gse-ui-menu-option-label-default-text-lineHeight);
    color: var(--gse-ui-menu-option-label-foregroundColor);
    word-wrap: break-word;
    cursor: pointer;

    .gux-option-wrapper {
      inline-size: 100%;
    }

    .gux-slot-container {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  :host(.gux-disabled) {
    pointer-events: none;
    cursor: default;
    opacity: var(--gse-ui-menu-option-disabled-opacity);
  }

  :host(.gux-selected) {
    font-family: var(--gse-ui-menu-option-label-active-text-fontFamily);
    font-size: var(--gse-ui-menu-option-label-active-text-fontSize);
    font-weight: var(--gse-ui-menu-option-label-active-text-fontWeight);
    line-height: var(--gse-ui-menu-option-label-active-text-lineHeight);
    background: var(--gse-ui-menu-option-selected-backgroundColor);
  }

  :host(:active:not(:disabled)) {
    font-family: var(--gse-ui-menu-option-label-active-text-fontFamily);
    font-size: var(--gse-ui-menu-option-label-active-text-fontSize);
    font-weight: var(--gse-ui-menu-option-label-active-text-fontWeight);
    line-height: var(--gse-ui-menu-option-label-active-text-lineHeight);
  }

  :host(.gux-active) {
    outline: var(--gse-ui-menu-option-focus-border-width)
      var(--gse-ui-menu-option-focus-border-style)
      var(--gse-ui-menu-option-focus-border-color);
    outline-offset: -2px;
    border-radius: global.$gse-semantic-focusOutline-sm-borderRadius;
  }

  :host(.gux-show-subtext) {
    place-content: stretch flex-start;
    block-size: auto;

    .gux-option-wrapper {
      display: flex;
      flex-direction: column;
    }

    slot[name='subtext']::slotted(*) {
      font-weight: var(--gse-ui-menu-option-label-default-text-fontWeight);
      color: var(--gse-ui-menu-groupedMenu-subtext-foregroundColor);
    }
  }

  :host(:hover:not(:disabled)) {
    background: var(--gse-ui-menu-option-hover-backgroundColor);
  }

  :host(.gux-filtered) {
    display: none;
  }
}
