@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

@mixin gux-option-default {
  :host {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-menu-option-gap;
    place-content: stretch center;
    align-items: center;
    block-size: ui.$gse-ui-menu-option-height;
    padding: ui.$gse-ui-menu-option-padding;
    font-family: ui.$gse-ui-menu-option-label-default-text-fontFamily;
    font-size: ui.$gse-ui-menu-option-label-default-text-fontSize;
    font-weight: ui.$gse-ui-menu-option-label-default-text-fontWeight;
    line-height: ui.$gse-ui-menu-option-label-default-text-lineHeight;
    color: ui.$gse-ui-menu-option-label-foregroundColor;
    overflow-wrap: break-word;
    cursor: pointer;

    .gux-option-wrapper {
      inline-size: 100%;
    }

    .gux-slot-container {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  :host(.gux-disabled) {
    pointer-events: none;
    cursor: default;
    opacity: ui.$gse-ui-menu-option-disabled-opacity;
  }

  :host(.gux-selected) {
    font-family: ui.$gse-ui-menu-option-label-active-text-fontFamily;
    font-size: ui.$gse-ui-menu-option-label-active-text-fontSize;
    font-weight: ui.$gse-ui-menu-option-label-active-text-fontWeight;
    line-height: ui.$gse-ui-menu-option-label-active-text-lineHeight;
    background: ui.$gse-ui-menu-option-selected-backgroundColor;
  }

  :host(:active:not(:disabled)) {
    font-family: ui.$gse-ui-menu-option-label-active-text-fontFamily;
    font-size: ui.$gse-ui-menu-option-label-active-text-fontSize;
    font-weight: ui.$gse-ui-menu-option-label-active-text-fontWeight;
    line-height: ui.$gse-ui-menu-option-label-active-text-lineHeight;
  }

  :host(.gux-active) {
    outline: ui.$gse-ui-menu-option-focus-border-width
      ui.$gse-ui-menu-option-focus-border-style
      ui.$gse-ui-menu-option-focus-border-color;
    outline-offset: -2px;
    border-radius: global.$gse-semantic-focusOutline-sm-borderRadius;
  }

  :host(.gux-show-subtext) {
    place-content: stretch flex-start;
    block-size: auto;

    .gux-option-wrapper {
      display: flex;
      flex-direction: column;
    }

    slot[name='subtext']::slotted(*) {
      font-weight: ui.$gse-ui-menu-option-label-default-text-fontWeight;
      color: ui.$gse-ui-menu-groupedMenu-subtext-foregroundColor;
    }
  }

  :host(:hover:not(:disabled)) {
    background: ui.$gse-ui-menu-option-hover-backgroundColor;
  }

  :host(.gux-filtered) {
    display: none;
  }
}
