@import (reference) '../../../../style/typography.less';

gux-pagination-buttons-beta {
  color: #2e394c;

  .gux-pagination-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: flex-end;

    & > div {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
    }

    .gux-pagination-buttons-group {
      white-space: nowrap;

      gux-button-slot:not(:first-of-type) {
        margin-right: 8px;
        margin-left: 8px;
      }
    }

    .gux-pagination-buttons-input-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      justify-content: center;
      margin: 0 16px;

      & > div {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
        white-space: nowrap;
      }

      .gux-pagination-buttons-input {
        width: 60px;
        margin: 0 8px;

        input {
          width: inherit;
          text-align: center;
        }
      }
    }

    .gux-pagination-buttons-list-container {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      justify-content: center;

      .gux-pagination-buttons-list-current,
      .gux-pagination-buttons-list-target {
        min-width: 28px;
        min-height: 24px;
        padding: 2px 4px;
        margin: 0;
        background: inherit;
        border: none;

        &:focus-visible {
          border: 3px solid #aac9ff;
          border-radius: 4px;
          outline: none;
        }
      }

      .gux-pagination-buttons-list-current {
        background-color: #eff1f5;
        border-radius: 4px;
        .body-font-bold();
      }

      .gux-pagination-buttons-list-target {
        .body-font();

        color: #6b7585;
        cursor: pointer;

        &:hover {
          background-color: #d7dce5;
          border-radius: 4px;
          .body-font-bold();
        }
      }
    }
  }
}
