<gux-breadcrumbs-beta id="interactive" accent="primary">
    <gux-breadcrumb-item href="#">link1</gux-breadcrumb-item>
    <gux-breadcrumb-item>link2</gux-breadcrumb-item>
    <gux-breadcrumb-item href="#">link3</gux-breadcrumb-item>
    <gux-breadcrumb-item>link4</gux-breadcrumb-item>
</gux-breadcrumbs-beta>
<br />
<gux-breadcrumbs-beta id="interactive" accent="secondary">
    <gux-breadcrumb-item href="#">link1</gux-breadcrumb-item>
    <gux-breadcrumb-item>link2</gux-breadcrumb-item>
    <gux-breadcrumb-item href="#">link3</gux-breadcrumb-item>
    <gux-breadcrumb-item>link4</gux-breadcrumb-item>
</gux-breadcrumbs-beta>
