<h1>Breadcrumbs</h1>

<h2>Primary</h2>

<gux-breadcrumbs-beta accent="primary">
    <gux-breadcrumb-item href="#">Department</gux-breadcrumb-item>
    <gux-breadcrumb-item>Category</gux-breadcrumb-item>
    <gux-breadcrumb-item href="#">Parent</gux-breadcrumb-item>
    <gux-breadcrumb-item>Current</gux-breadcrumb-item>
</gux-breadcrumbs-beta>

<h2>Secondary</h2>

<gux-breadcrumbs-beta accent="secondary">
    <gux-breadcrumb-item href="#">Department</gux-breadcrumb-item>
    <gux-breadcrumb-item>Category</gux-breadcrumb-item>
    <gux-breadcrumb-item href="#">Parent</gux-breadcrumb-item>
    <gux-breadcrumb-item>Current</gux-breadcrumb-item>
</gux-breadcrumbs-beta>
