<gux-breadcrumbs-beta id="interactive" accent="primary">
    <gux-breadcrumb-item href="#">Grandparent</gux-breadcrumb-item>
    <gux-breadcrumb-item href="#">Parent</gux-breadcrumb-item>
    <gux-breadcrumb-item>Current</gux-breadcrumb-item>
</gux-breadcrumbs-beta>
<br />
<gux-breadcrumbs-beta id="interactive" accent="secondary">
    <gux-breadcrumb-item href="#">Grandparent</gux-breadcrumb-item>
    <gux-breadcrumb-item href="#">Parent</gux-breadcrumb-item>
    <gux-breadcrumb-item>Current</gux-breadcrumb-item>
</gux-breadcrumbs-beta>
