gux-breadcrumbs-beta {
  nav.breadcrumbs {
    display: block;
    border: none;
  }
  .link-row {
    display: inline-flex;
  }
  .separator {
    align-self: center;
    padding: 0 7px;
  }
  a.breadcrumb {
    padding: 0;
  }
}

// Light theme
.gux-breadcrumbs-light-theme {
  .separator {
    color: @gux-icons;
  }
}
.gux-light-theme {
  gux-breadcrumbs-beta {
    .gux-breadcrumbs-light-theme();
  }
}
