@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

dialog {
  inset-inline-start: auto;
  block-size: 100%;
  min-block-size: 100%;
  padding: 0;
  margin: unset;
  border: none;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;

  &.gux-open {
    transform: translateX(0%);
  }
}

dialog::backdrop {
  background: ui.$gse-ui-sidePanel-shroudColor;
  opacity: ui.$gse-ui-sidePanel-shroud-opacity;
}

::slotted(footer) {
  flex: 0 0 auto;
  padding: ui.$gse-ui-sidePanel-footer-padding;
  border-block-start: ui.$gse-ui-sidePanel-divider-width
    ui.$gse-ui-sidePanel-divider-style ui.$gse-ui-sidePanel-divider-color;
}

::slotted(gux-side-panel-header) {
  border-block-end: none;
}
