<h1>gux-switch</h1>

<h2>Text</h2>

<h3>Small</h3>
<gux-switch
  layout="small"
  value="day"
  onchange="notify(event)"
  oninput="notify(event)"
>
  <gux-switch-item value="month">Month</gux-switch-item>
  <gux-switch-item value="week">Week</gux-switch-item>
  <gux-switch-item value="day">Day</gux-switch-item>
  <gux-switch-item value="hour" disabled>Hour</gux-switch-item>
  <gux-switch-item value="minute">Minute</gux-switch-item>
</gux-switch>

<h3>Default</h3>
<gux-switch
  layout="default"
  value="month"
  onchange="notify(event)"
  oninput="notify(event)"
>
  <gux-switch-item value="month">Month</gux-switch-item>
  <gux-switch-item value="week" disabled>Week</gux-switch-item>
  <gux-switch-item value="day">Day</gux-switch-item>
  <gux-switch-item value="hour">Hour</gux-switch-item>
  <gux-switch-item value="minute">Minute</gux-switch-item>
</gux-switch>

<h2>Icon</h2>

<h3>Small</h3>
<gux-switch
  layout="small"
  value="line"
  onchange="notify(event)"
  oninput="notify(event)"
>
  <gux-switch-item value="bar-vertical">
    <gux-icon
      icon-name="ic-24-graph-bar-vertical"
      screenreader-text="View as virtical bar graph"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="bar">
    <gux-icon
      icon-name="ic-24-graph-bar"
      screenreader-text="View as horizontal bar graph"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="grid-cell">
    <gux-icon
      icon-name="ic-24-graph-grid-cell"
      screenreader-text="View as table"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="grid">
    <gux-icon
      icon-name="ic-24-graph-grid"
      screenreader-text="View as grid"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="line">
    <gux-icon
      icon-name="ic-24-graph-line"
      screenreader-text="View as line graph"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="stack" disabled>
    <gux-icon
      icon-name="ic-24-graph-stack"
      screenreader-text="View as stacked bar graph"
    ></gux-icon>
  </gux-switch-item>
</gux-switch>

<h3>Default</h3>
<gux-switch
  layout="default"
  value="bar"
  onchange="notify(event)"
  oninput="notify(event)"
>
  <gux-switch-item value="bar-vertical">
    <gux-icon
      icon-name="ic-24-graph-bar-vertical"
      screenreader-text="View as virtical bar graph"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="bar">
    <gux-icon
      icon-name="ic-24-graph-bar"
      screenreader-text="View as horizontal bar graph"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="grid-cell">
    <gux-icon
      icon-name="ic-24-graph-grid-cell"
      screenreader-text="View as table"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="grid">
    <gux-icon
      icon-name="ic-24-graph-grid"
      screenreader-text="View as grid"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="line">
    <gux-icon
      icon-name="ic-24-graph-line"
      screenreader-text="View as line graph"
    ></gux-icon>
  </gux-switch-item>
  <gux-switch-item value="stack" disabled>
    <gux-icon
      icon-name="ic-24-graph-stack"
      screenreader-text="View as stacked bar graph"
    ></gux-icon>
  </gux-switch-item>
</gux-switch>

<h2>Get value</h2>

<gux-switch id="get-value" layout="small" value="month">
  <gux-switch-item value="month">Month</gux-switch-item>
  <gux-switch-item value="week">Week</gux-switch-item>
  <gux-switch-item value="day">Day</gux-switch-item>
  <gux-switch-item value="hour">Hour</gux-switch-item>
  <gux-switch-item value="minute">Minute</gux-switch-item>
</gux-switch>

<div>
  Last retrieved value from gux-switch: <span id="value-output">N/A</span>
</div>

<gux-button
  onclick="(function() {
  const guxSwitch = document.getElementById('get-value');
  const valueOutput = document.getElementById('value-output');

  valueOutput.textContent = guxSwitch.value;
})()"
  >Get Value</gux-button
>

<h2>Add Itam</h2>

<gux-switch id="switch-element" value="month">
  <gux-switch-item value="week">Week</gux-switch-item>
  <gux-switch-item value="day">Day</gux-switch-item>
  <gux-switch-item value="hour">Hour</gux-switch-item>
  <gux-switch-item value="minute">Minute</gux-switch-item>
</gux-switch>
<br />
<gux-button
  onclick="(function() {
  const guxSwitch = document.getElementById('switch-element');
  const monthElement = window.toHTML(`<gux-switch-item value='month'>Month</gux-switch-item>`)

  guxSwitch.insertBefore(monthElement, guxSwitch.firstChild)
})()"
  >Add Month Item</gux-button
>
