$gse-ui-accordion-header-height: 40px;
$gse-ui-accordion-header-padding: 10px 16px 10px 16px;
$gse-ui-accordion-header-chevronIcon: 16px;
$gse-ui-accordion-header-gap: 8px;
$gse-ui-accordion-header-default-foreground-labelColor: #1b2c48;
$gse-ui-accordion-header-default-foreground-chevronIcon-closed: #626e84;
$gse-ui-accordion-header-default-foreground-chevronIcon-open: #252e78;
$gse-ui-accordion-header-default-foreground-chevronIcon-hover: #3742a2;
$gse-ui-accordion-header-label-defaultText-fontFamily: 'Noto Sans';
$gse-ui-accordion-header-label-defaultText-lineHeight: 20px;
$gse-ui-accordion-header-label-defaultText-fontSize: 14px;
$gse-ui-accordion-header-label-defaultText-fontWeight: 700;
$gse-ui-accordion-reversedHeader-padding: 2px;
$gse-ui-accordion-menuItem-height: 32px;
$gse-ui-accordion-menuItem-padding: 0 12px 0 24px;
$gse-ui-accordion-menuItem-startIcon: 16px;
$gse-ui-accordion-menuItem-parentIcon: 16px;
$gse-ui-accordion-menuItem-gap: 8px;
$gse-ui-accordion-menuItem-default-foreground-startIconColor: #1b2c48;
$gse-ui-accordion-menuItem-default-foreground-labelColor: #1b2c48;
$gse-ui-accordion-menuItem-default-foreground-startShortcutColor: #626e84;
$gse-ui-accordion-menuItem-default-foreground-parentIconColor: #626e84;
$gse-ui-accordion-menuItem-hover-foreground-startIconColor: #1b2c48;
$gse-ui-accordion-menuItem-hover-foreground-labelColor: #1b2c48;
$gse-ui-accordion-menuItem-hover-foreground-startShortcutColor: #1b2c48;
$gse-ui-accordion-menuItem-hover-foreground-parentIconColor: #1b2c48;
$gse-ui-accordion-menuItem-hover-backgroundColor: #eff0fe;
$gse-ui-accordion-menuItem-selected-foreground-startIconColor: #1b2c48;
$gse-ui-accordion-menuItem-selected-foreground-labelColor: #1b2c48;
$gse-ui-accordion-menuItem-selected-foreground-startShortcutColor: #1b2c48;
$gse-ui-accordion-menuItem-selected-foreground-parentIconColor: #1b2c48;
$gse-ui-accordion-menuItem-selected-backgroundColor: #ced2fc;
$gse-ui-accordion-menuItem-focus-borderRadius: 4px;
$gse-ui-accordion-menuItem-label-defaultText-fontFamily: 'Noto Sans';
$gse-ui-accordion-menuItem-label-defaultText-lineHeight: 18px;
$gse-ui-accordion-menuItem-label-defaultText-fontSize: 12px;
$gse-ui-accordion-menuItem-label-defaultText-fontWeight: 400;
$gse-ui-accordion-menuItem-label-selectedText-fontFamily: 'Noto Sans';
$gse-ui-accordion-menuItem-label-selectedText-lineHeight: 18px;
$gse-ui-accordion-menuItem-label-selectedText-fontSize: 12px;
$gse-ui-accordion-menuItem-label-selectedText-fontWeight: 600;
$gse-ui-accordion-menuItem-shortcut-text-fontFamily: 'Noto Sans';
$gse-ui-accordion-menuItem-shortcut-text-lineHeight: 20px;
$gse-ui-accordion-menuItem-shortcut-text-fontSize: 14px;
$gse-ui-accordion-menuItem-shortcut-text-fontWeight: 400;
$gse-ui-accordion-focusBorder-color: #7b88f7;
$gse-ui-accordion-focusBorder-style: solid;
$gse-ui-accordion-focusBorder-width: 2px;
$gse-ui-accordion-contentItem-padding: 16px;
$gse-ui-accordion-contentItem-gap: 16px;
$gse-ui-accordion-contentItem-foregroundColor: #1b2c48;
$gse-ui-accordion-contentItem-backgroundColor: #ffffff;
$gse-ui-accordion-contentItem-defaultText-fontFamily: 'Noto Sans';
$gse-ui-accordion-contentItem-defaultText-lineHeight: 18px;
$gse-ui-accordion-contentItem-defaultText-fontSize: 12px;
$gse-ui-accordion-contentItem-defaultText-fontWeight: 400;
$gse-ui-accordion-wrapper-dividerBorder-color: #c6c8ce;
$gse-ui-accordion-wrapper-dividerBorder-width: 1px;
$gse-ui-accordion-wrapper-dividerBorder-style: solid;
$gse-ui-accordion-focus-offset-gap: 1px;
$gse-ui-accordion-contentPanel-paddingBottom: 4px;
$gse-ui-accordion-label-disabled-opacity: 0.5;
