$gse-ui-toast-closeButtonColor: #626e84;
$gse-ui-toast-success-backgroundColor: #ffffff;
$gse-ui-toast-success-foregroundColor: #1b2c48;
$gse-ui-toast-success-iconColor: #09b581;
$gse-ui-toast-warning-backgroundColor: #ffffff;
$gse-ui-toast-warning-foregroundColor: #1b2c48;
$gse-ui-toast-warning-iconColor: #f8c73e;
$gse-ui-toast-info-backgroundColor: #ffffff;
$gse-ui-toast-info-foregroundColor: #1b2c48;
$gse-ui-toast-info-iconColor: #6e5ddb;
$gse-ui-toast-action-backgroundColor: #ffffff;
$gse-ui-toast-action-foregroundColor: #1b2c48;
$gse-ui-toast-action-iconColor: #4856cb;
$gse-ui-toast-error-backgroundColor: #ffffff;
$gse-ui-toast-error-foregroundColor: #1b2c48;
$gse-ui-toast-error-iconColor: #e22245;
$gse-ui-toast-heading-fontFamily: Urbanist;
$gse-ui-toast-heading-lineHeight: 24px;
$gse-ui-toast-heading-fontSize: 16px;
$gse-ui-toast-heading-fontWeight: 700;
$gse-ui-toast-text-fontFamily: Noto Sans;
$gse-ui-toast-text-lineHeight: 20px;
$gse-ui-toast-text-fontSize: 14px;
$gse-ui-toast-margin: 16px;
$gse-ui-toast-gap: 12px;
$gse-ui-toast-gapText: 4px;
$gse-ui-toast-gapButton: 16px;
$gse-ui-toast-buttonBar-gap: 8px;
$gse-ui-toast-borderRadius: 8px;
$gse-ui-toast-boxShadow-x: 0;
$gse-ui-toast-boxShadow-y: 2px;
$gse-ui-toast-boxShadow-blur: 4px;
$gse-ui-toast-boxShadow-spread: 1px;
$gse-ui-toast-boxShadow-color: #23395c1a;
$gse-ui-toast-boxShadow-type: dropShadow;
$gse-ui-toast-icon: 24px;
$gse-ui-toast-wrappingWidth: 320px;
$gse-ui-toast-stacking-gap: 4px;
$gse-ui-modal-closeButtonColor: #626e84;
$gse-ui-modal-headerColor: #1b2c48;
$gse-ui-modal-backgroundColor: #ffffff;
$gse-ui-modal-shroudColor: #23395dcc;
$gse-ui-modal-header-gap: 12px;
$gse-ui-modal-padding: 32px;
$gse-ui-modal-gap: 16px;
$gse-ui-modal-heading-fontFamily: Urbanist;
$gse-ui-modal-heading-lineHeight: 32px;
$gse-ui-modal-heading-fontSize: 24px;
$gse-ui-modal-heading-fontWeight: 700;
$gse-ui-modal-heading-letterSpacing: 2%;
$gse-ui-modal-icon: 32px;
$gse-ui-modal-small-width: 420px;
$gse-ui-modal-medium-width: 680px;
$gse-ui-modal-large-width: 800px;
$gse-ui-modal-buttonBar-gap: 8px;
$gse-ui-modal-boxShadow-x: 0;
$gse-ui-modal-boxShadow-y: 6px;
$gse-ui-modal-boxShadow-blur: 8px;
$gse-ui-modal-boxShadow-spread: 1px;
$gse-ui-modal-boxShadow-color: #23395c26;
$gse-ui-modal-boxShadow-type: dropShadow;
$gse-ui-modal-borderRadius: 16px;
$gse-ui-modal-shroud-opacity: 0.8;
$gse-ui-modal-dismissButton-paddingTop: 16px;
$gse-ui-modal-dismissButton-paddingRight: 8px;
$gse-ui-popover-borderRadius: 8px;
$gse-ui-popover-boxShadow-x: 0;
$gse-ui-popover-boxShadow-y: 6px;
$gse-ui-popover-boxShadow-blur: 8px;
$gse-ui-popover-boxShadow-spread: 1px;
$gse-ui-popover-boxShadow-color: #23395c26;
$gse-ui-popover-boxShadow-type: dropShadow;
$gse-ui-popover-closeButtonColor: #626e84;
$gse-ui-popover-headerColor: #1b2c48;
$gse-ui-popover-backgroundColor: #ffffff;
$gse-ui-popover-gap: 16px;
$gse-ui-popover-padding: 24px;
$gse-ui-popover-buttonsBar-gap: 8px;
$gse-ui-popover-header-gap: 4px;
$gse-ui-popover-spacer-height: 16px;
$gse-ui-popover-body-text-fontFamily: Noto Sans;
$gse-ui-popover-body-text-fontWeight: 400;
$gse-ui-popover-body-text-lineHeight: 20px;
$gse-ui-popover-body-text-fontSize: 14px;
$gse-ui-popover-title-text-fontFamily: Urbanist;
$gse-ui-popover-title-text-fontWeight: 700;
$gse-ui-popover-title-text-lineHeight: 24px;
$gse-ui-popover-title-text-fontSize: 16px;
$gse-ui-popover-anchor-width: 13px;
$gse-ui-popover-anchor-height: 13px;
$gse-ui-progressAndLoading-spinner-foreground: #4856cb;
$gse-ui-progressAndLoading-spinner-base: #ced2fc;
$gse-ui-progressAndLoading-spinner-large: 48px;
$gse-ui-progressAndLoading-spinner-small: 16px;
$gse-ui-progressAndLoading-spinner-text-fontFamily: Noto Sans;
$gse-ui-progressAndLoading-spinner-text-fontWeight: 600;
$gse-ui-progressAndLoading-spinner-text-lineHeight: 18px;
$gse-ui-progressAndLoading-spinner-text-fontSize: 12px;
$gse-ui-progressAndLoading-textColor: #1b2c48;
$gse-ui-progressAndLoading-loadingState-large-header-fontFamily: Urbanist;
$gse-ui-progressAndLoading-loadingState-large-header-fontWeight: 700;
$gse-ui-progressAndLoading-loadingState-large-header-lineHeight: 32px;
$gse-ui-progressAndLoading-loadingState-large-header-fontSize: 24px;
$gse-ui-progressAndLoading-loadingState-large-subheader-fontFamily: Noto Sans;
$gse-ui-progressAndLoading-loadingState-large-subheader-fontWeight: 600;
$gse-ui-progressAndLoading-loadingState-large-subheader-lineHeight: 24px;
$gse-ui-progressAndLoading-loadingState-large-subheader-fontSize: 16px;
$gse-ui-progressAndLoading-loadingState-large-width: 600px;
$gse-ui-progressAndLoading-loadingState-medium-header-fontFamily: Urbanist;
$gse-ui-progressAndLoading-loadingState-medium-header-fontWeight: 700;
$gse-ui-progressAndLoading-loadingState-medium-header-lineHeight: 27px;
$gse-ui-progressAndLoading-loadingState-medium-header-fontSize: 18px;
$gse-ui-progressAndLoading-loadingState-medium-subheader-fontFamily: Noto Sans;
$gse-ui-progressAndLoading-loadingState-medium-subheader-fontWeight: 600;
$gse-ui-progressAndLoading-loadingState-medium-subheader-lineHeight: 20px;
$gse-ui-progressAndLoading-loadingState-medium-subheader-fontSize: 14px;
$gse-ui-progressAndLoading-loadingState-medium-width: 400px;
$gse-ui-progressAndLoading-loadingState-small-header-fontFamily: Urbanist;
$gse-ui-progressAndLoading-loadingState-small-header-fontWeight: 700;
$gse-ui-progressAndLoading-loadingState-small-header-lineHeight: 24px;
$gse-ui-progressAndLoading-loadingState-small-header-fontSize: 16px;
$gse-ui-progressAndLoading-loadingState-small-subheader-fontFamily: Noto Sans;
$gse-ui-progressAndLoading-loadingState-small-subheader-fontWeight: 600;
$gse-ui-progressAndLoading-loadingState-small-subheader-lineHeight: 18px;
$gse-ui-progressAndLoading-loadingState-small-subheader-fontSize: 12px;
$gse-ui-progressAndLoading-loadingState-small-width: 200px;
$gse-ui-progressAndLoading-large-gap: 24px;
$gse-ui-progressAndLoading-large-gapText: 4px;
$gse-ui-progressAndLoading-pageLoading-gap: -3px;
$gse-ui-progressAndLoading-medium-gap: 16px;
$gse-ui-progressAndLoading-medium-gapText: 4px;
$gse-ui-progressAndLoading-small-gap: 12px;
$gse-ui-progressAndLoading-small-gapText: 4px;
$gse-ui-progressAndLoading-blankState-large-header-fontFamily: Urbanist;
$gse-ui-progressAndLoading-blankState-large-header-fontWeight: 700;
$gse-ui-progressAndLoading-blankState-large-header-lineHeight: 27px;
$gse-ui-progressAndLoading-blankState-large-header-fontSize: 18px;
$gse-ui-progressAndLoading-blankState-large-subheader-fontFamily: Noto Sans;
$gse-ui-progressAndLoading-blankState-large-subheader-fontWeight: 600;
$gse-ui-progressAndLoading-blankState-large-subheader-lineHeight: 20px;
$gse-ui-progressAndLoading-blankState-large-subheader-fontSize: 14px;
$gse-ui-progressAndLoading-blankState-small-header-fontFamily: Urbanist;
$gse-ui-progressAndLoading-blankState-small-header-fontWeight: 700;
$gse-ui-progressAndLoading-blankState-small-header-lineHeight: 24px;
$gse-ui-progressAndLoading-blankState-small-header-fontSize: 14px;
$gse-ui-progressAndLoading-blankState-small-subheader-fontFamily: Noto Sans;
$gse-ui-progressAndLoading-blankState-small-subheader-fontWeight: 600;
$gse-ui-progressAndLoading-blankState-small-subheader-lineHeight: 18px;
$gse-ui-progressAndLoading-blankState-small-subheader-fontSize: 12px;
$gse-ui-progressAndLoading-largeBorder: 4px;
$gse-ui-progressAndLoading-smallBorder: 2px;
$gse-ui-progressAndLoading-thinBorder: 1px;
$gse-ui-blankState-small-width: 250px;
$gse-ui-blankState-small-maxWidth: 569px;
$gse-ui-blankState-large-minWidth: 570px;
$gse-ui-blankState-icon-size-sm: 32px;
$gse-ui-blankState-icon-size-lg: 42px;
$gse-ui-blankState-padding: 32px 16px;
$gse-ui-blankState-gapMessage: 4px;
$gse-ui-blankState-gapMain: 12px;
$gse-ui-blankState-gapContent: 24px;
$gse-ui-blankState-iconColor: #767c8d;
$gse-ui-blankState-foregroundColor: #1b2c48;
$gse-ui-blankState-backgroundColor: #fbfcfe;
$gse-ui-blankState-borderRadius: 8px;
