$gse-ui-copyToClipboard-label-active-backgroundColor: #dee1fd;
$gse-ui-copyToClipboard-label-foregroundColor: #1b2c48;
$gse-ui-copyToClipboard-label-padding: 2px 4px;
$gse-ui-copyToClipboard-label-borderRadius: 4px;
$gse-ui-copyToClipboard-label-text-fontFamily: 'Noto Sans';
$gse-ui-copyToClipboard-label-text-fontWeight: 400;
$gse-ui-copyToClipboard-label-text-lineHeight: 20px;
$gse-ui-copyToClipboard-label-text-fontSize: 14px;
$gse-ui-copyToClipboard-label-text-textDecoration: underline;
$gse-ui-copyToClipboard-gap: 16px;
$gse-ui-copyToClipboard-contentContainer-gap: 2px;
$gse-ui-copyToClipboard-iconContainer-padding: 4px;
$gse-ui-copyToClipboard-tooltipIcon-success-foregroundColor: #09b581;
$gse-ui-copyToClipboard-tooltipIcon-error-foregroundColor: #e22245;
$gse-ui-dismissButton-foregroundColor: #626e84;
