$gse-ui-dataTableItems-header-text-fontFamily: Noto Sans;
$gse-ui-dataTableItems-header-text-lineHeight: 16px;
$gse-ui-dataTableItems-header-text-fontSize: 12px;
$gse-ui-dataTableItems-header-text-fontWeight: 700;
$gse-ui-dataTableItems-header-multiselect-default-height: 40px;
$gse-ui-dataTableItems-header-multiselect-default-width: 41px;
$gse-ui-dataTableItems-header-multiselect-default-selectedBar-height: 3px;
$gse-ui-dataTableItems-header-multiselect-default-selectedBar-width: 41px;
$gse-ui-dataTableItems-header-multiselect-compact-height: 32px;
$gse-ui-dataTableItems-header-multiselect-compact-width: 64px;
$gse-ui-dataTableItems-header-multiselect-compact-selectedBar-height: 3px;
$gse-ui-dataTableItems-header-multiselect-compact-selectedBar-width: 64px;
$gse-ui-dataTableItems-header-selectedIndicatorColor: #9ca6f9;
$gse-ui-dataTableItems-header-defaultBackgroundColor: #ffffff;
$gse-ui-dataTableItems-header-fixedBackgroundColor: #dee1fd;
$gse-ui-dataTableItems-header-foregroundColor: #1b2c48;
$gse-ui-dataTableItems-header-sort-foregroundColor: #626e84;
$gse-ui-dataTableItems-header-default-height: 40px;
$gse-ui-dataTableItems-header-default-width: 229px;
$gse-ui-dataTableItems-header-compact-height: 32px;
$gse-ui-dataTableItems-header-compact-width: 229px;
$gse-ui-dataTableItems-header-padding: 0 12px;
$gse-ui-dataTableItems-header-gap: 8px;
$gse-ui-dataTableItems-header-selectedBar-height: 3px;
$gse-ui-dataTableItems-header-selectedBar-width: 229px;
$gse-ui-dataTableItems-divider-color: #e8ebf7;
$gse-ui-dataTableItems-divider-width: 1px;
$gse-ui-dataTableItems-divider-style: solid;
$gse-ui-dataTableItems-scrollbar-borderRadius: 45px;
$gse-ui-dataTableItems-scrollbar-foregroundColor: #626e84;
$gse-ui-dataTableItems-cell-altBackgroundColor: #f3f5fb;
$gse-ui-dataTableItems-cell-defaultBackgroundColor: #ffffff;
$gse-ui-dataTableItems-cell-hoverBackgroundColor: #dee1fd;
$gse-ui-dataTableItems-cell-foregroundColor: #1b2c48;
$gse-ui-dataTableItems-cell-chevron-foregroundColor: #626e84;
$gse-ui-dataTableItems-cell-multiselect-default-height: 40px;
$gse-ui-dataTableItems-cell-multiselect-compact-height: 32px;
$gse-ui-dataTableItems-cell-multiselect-padding: 0 16px;
$gse-ui-dataTableItems-cell-multiselect-gap: 8px;
$gse-ui-dataTableItems-cell-multiselect-checkboxCell-default-height: 40px;
$gse-ui-dataTableItems-cell-multiselect-checkboxCell-default-width: 41px;
$gse-ui-dataTableItems-cell-multiselect-checkboxCell-compact-height: 32px;
$gse-ui-dataTableItems-cell-multiselect-checkboxCell-compact-width: 41px;
$gse-ui-dataTableItems-cell-default-height: 40px;
$gse-ui-dataTableItems-cell-default-width: 229px;
$gse-ui-dataTableItems-cell-compact-height: 32px;
$gse-ui-dataTableItems-cell-compact-width: 229px;
$gse-ui-dataTableItems-cell-padding: 0 12px;
$gse-ui-dataTableItems-cell-gap: 8px;
$gse-ui-dataTableItems-cell-icon-foregroundColor: #1b2c48;
$gse-ui-dataTableItems-cell-text-fontFamily: Noto Sans;
$gse-ui-dataTableItems-cell-text-lineHeight: 16px;
$gse-ui-dataTableItems-cell-text-fontSize: 12px;
$gse-ui-dataTableItems-cell-text-fontWeight: 400;
$gse-ui-dataTableItems-cell-tablePagination-width: 727px;
$gse-ui-dataTableItems-cell-tablePagination-height: 56px;
$gse-ui-dataTableItems-cell-contextMenu-default-height: 40px;
$gse-ui-dataTableItems-cell-contextMenu-default-width: 41px;
$gse-ui-dataTableItems-cell-contextMenu-compact-height: 32px;
$gse-ui-dataTableItems-cell-contextMenu-compact-width: 41px;
$gse-ui-dataTableItems-editColumn-editColumnItem-gap: 8px;
$gse-ui-dataTableItems-editColumn-editColumnItem-foregroundColor: #3e5374;
$gse-ui-dataTableItems-editColumn-editColumnItem-height: 18px;
$gse-ui-dataTableItems-editColumn-editColumnContent-gap: 10px;
$gse-ui-dataTableItems-editColumn-editColumnContent-padding: 8px 0;
$gse-ui-dataTableItems-tableToolbar-tableToolbarGroup-gap: 4px;
$gse-ui-dataTableItems-tableToolbar-gap: 4px;
$gse-ui-dataTableItems-tableToolbar-dividerColor: #c6ceec;
$gse-ui-dataTableItems-tableToolbar-divider-width: 1px;
$gse-ui-dataTableItems-tableToolbar-divider-height: 32px;
$gse-ui-dataTableItems-tableToolbar-height: 32px;
$gse-ui-dataTableItems-tablePagination-recordsetControls-gap: 10px;
$gse-ui-dataTableItems-tablePagination-padding: 12px;
$gse-ui-dataTableItems-tablePagination-divider-color: #c6c8ce;
$gse-ui-dataTableItems-tablePagination-divider-width: 1px;
$gse-ui-dataTableItems-tablePagination-divider-style: solid;
$gse-ui-dataTableItems-tablePagination-defaultText-fontFamily: Noto Sans;
$gse-ui-dataTableItems-tablePagination-defaultText-lineHeight: 16px;
$gse-ui-dataTableItems-tablePagination-defaultText-fontSize: 12px;
$gse-ui-dataTableItems-tablePagination-defaultText-fontWeight: 400;
$gse-ui-dataTableItems-tablePagination-currentResultText-fontFamily: Noto Sans;
$gse-ui-dataTableItems-tablePagination-currentResultText-lineHeight: 16px;
$gse-ui-dataTableItems-tablePagination-currentResultText-fontSize: 12px;
$gse-ui-dataTableItems-tablePagination-currentResultText-fontWeight: 700;
$gse-ui-dataTableItems-tablePagination-defaultBackgroundColor: #ffffff;
$gse-ui-dataTableItems-tablePagination-foregroundColor: #1b2c48;
$gse-ui-dataTableItems-tablePagination-countDisplay-gap: 4px;
$gse-ui-avatar-groupShapes-gap: -4px;
$gse-ui-avatar-large-size: 96px;
$gse-ui-avatar-large-badge-size: 24px;
$gse-ui-avatar-large-focusRing-size: 98px;
$gse-ui-avatar-large-content-size: 84px;
$gse-ui-avatar-large-initials-fontFamily: Urbanist;
$gse-ui-avatar-large-initials-lineHeight: 44px;
$gse-ui-avatar-large-initials-fontSize: 36px;
$gse-ui-avatar-large-initials-fontWeight: 600;
$gse-ui-avatar-large-presenceRing-width: 4px;
$gse-ui-avatar-large-ucIntegration-size: 32px;
$gse-ui-avatar-presenceRing-available: linear-gradient(
  135deg,
  #09b581 0%,
  #9de1cd 100%
);
$gse-ui-avatar-presenceRing-busy: linear-gradient(
  135deg,
  #e22245 0%,
  #f3a7b5 100%
);
$gse-ui-avatar-presenceRing-away: linear-gradient(
  135deg,
  #f8c73e 0%,
  #fce9b2 100%
);
$gse-ui-avatar-presenceRing-onQueue: linear-gradient(
  135deg,
  #4856cb 0%,
  #9ca6f9 100%
);
$gse-ui-avatar-presenceRing-offline: linear-gradient(
  135deg,
  #767c8d 0%,
  #a3a7b0 100%
);
$gse-ui-avatar-presenceRing-outOfOffice: linear-gradient(
  135deg,
  #b74ba4 0%,
  #f5bfeb 100%
);
$gse-ui-avatar-medium-size: 48px;
$gse-ui-avatar-medium-badge-size: 16px;
$gse-ui-avatar-medium-focusRing-size: 50px;
$gse-ui-avatar-medium-content-size: 40px;
$gse-ui-avatar-medium-initials-fontFamily: Urbanist;
$gse-ui-avatar-medium-initials-lineHeight: 27px;
$gse-ui-avatar-medium-initials-fontSize: 18px;
$gse-ui-avatar-medium-initials-fontWeight: 600;
$gse-ui-avatar-medium-presenceRing-width: 3px;
$gse-ui-avatar-small-size: 32px;
$gse-ui-avatar-small-badge-size: 8px;
$gse-ui-avatar-small-focusRing-size: 34px;
$gse-ui-avatar-small-content-size: 26px;
$gse-ui-avatar-small-initials-fontFamily: Urbanist;
$gse-ui-avatar-small-initials-lineHeight: 18px;
$gse-ui-avatar-small-initials-fontSize: 12px;
$gse-ui-avatar-small-initials-fontWeight: 600;
$gse-ui-avatar-small-substract-size: 30px;
$gse-ui-avatar-small-presenceRing-width: 2px;
$gse-ui-avatar-xsmall-size: 24px;
$gse-ui-avatar-xsmall-focusRing-size: 26px;
$gse-ui-avatar-xsmall-content-size: 18px;
$gse-ui-avatar-xsmall-initials-fontFamily: Urbanist;
$gse-ui-avatar-xsmall-initials-lineHeight: 16px;
$gse-ui-avatar-xsmall-initials-fontSize: 8px;
$gse-ui-avatar-xsmall-initials-fontWeight: 600;
$gse-ui-avatar-xsmall-presenceRing-width: 2px;
$gse-ui-avatar-badge-available-color: #09b581;
$gse-ui-avatar-badge-busy-color: #e22245;
$gse-ui-avatar-badge-busy-icon-margin: 2px;
$gse-ui-avatar-badge-away: #f8c73e;
$gse-ui-avatar-badge-onQueue-color: #4856cb;
$gse-ui-avatar-badge-offline-color: #626e84;
$gse-ui-avatar-badge-outOfOffice: #b74ba4;
$gse-ui-avatar-badge-notification-color: #fe624d;
$gse-ui-avatar-badge-foregroundDefault-color: #ffffff;
$gse-ui-avatar-badge-foregroundDark-color: #3e5374;
$gse-ui-avatar-badge-notifications-icon-margin: 4px;
$gse-ui-avatar-badge-queue-icon-margin: 4px;
$gse-ui-avatar-media-initialsBackground-default: #115d71;
$gse-ui-avatar-media-initialsBackground-accent1: #7785b8;
$gse-ui-avatar-media-initialsBackground-accent2: #90d3dd;
$gse-ui-avatar-media-initialsBackground-accent3: #0d7482;
$gse-ui-avatar-media-initialsBackground-accent4: #547688;
$gse-ui-avatar-media-initialsBackground-accent5: #a5cae0;
$gse-ui-avatar-media-initialsBackground-accent6: #b5bfe6;
$gse-ui-avatar-media-initialsBackground-accent7: #a05195;
$gse-ui-avatar-media-initialsBackground-accent8: #f95d6a;
$gse-ui-avatar-media-initialsBackground-accent9: #fe8f85;
$gse-ui-avatar-media-initialsBackground-accent10: #ffc650;
$gse-ui-avatar-media-initialsBackground-accent11: #fe624d;
$gse-ui-avatar-media-initialsBackground-accent12: #c44b3b;
$gse-ui-avatar-media-initialsBackground-overflowCount: #626e84;
$gse-ui-avatar-media-initialsBackground-add: #ced2fc;
$gse-ui-avatar-media-initialsForeground-default: #1b2c48;
$gse-ui-avatar-media-initialsForeground-inverse: #ffffff;
$gse-ui-avatar-media-initialsForeground-add: #4856cb;
$gse-ui-avatar-hoverModal: #0f1929;
$gse-ui-avatar-content-borderRadius: 256px;
$gse-ui-avatar-content-default-border-color: #ffffff;
$gse-ui-avatar-content-default-border-width: 1px;
$gse-ui-avatar-content-default-border-style: solid;
$gse-ui-avatar-content-large-border-color: #ffffff;
$gse-ui-avatar-content-large-border-width: 2px;
$gse-ui-avatar-content-large-border-style: solid;
$gse-ui-avatar-groupSet-gap: -2px;
$gse-ui-avatar-focusRing-large-borderRadius: 96px;
$gse-ui-avatar-focusRing-large-border-color: #7b88f7;
$gse-ui-avatar-focusRing-large-border-width: 3px;
$gse-ui-avatar-focusRing-large-border-style: solid;
$gse-ui-avatar-focusRing-mediumSmall-borderRadius: 100px;
$gse-ui-avatar-focusRing-medium-border-color: #7b88f7;
$gse-ui-avatar-focusRing-medium-border-width: 3px;
$gse-ui-avatar-focusRing-medium-border-style: solid;
$gse-ui-avatar-focusRing-small-border-color: #7b88f7;
$gse-ui-avatar-focusRing-small-border-width: 2px;
$gse-ui-avatar-focusRing-small-border-style: solid;
$gse-ui-avatar-focusRing-xsmall-border-color: #7b88f7;
$gse-ui-avatar-focusRing-xsmall-border-width: 2px;
$gse-ui-avatar-focusRing-xsmall-border-style: solid;
$gse-ui-avatar-focus: #7b88f7;
$gse-ui-globalNav-sideMenu: linear-gradient(135deg, #09b581 0%, #9de1cd 100%);
$gse-ui-dataTableComposed-boxShadow-x: 0;
$gse-ui-dataTableComposed-boxShadow-y: 2px;
$gse-ui-dataTableComposed-boxShadow-blur: 4px;
$gse-ui-dataTableComposed-boxShadow-spread: 1px;
$gse-ui-dataTableComposed-boxShadow-color: #23395c1a;
$gse-ui-dataTableComposed-boxShadow-type: dropShadow;
$gse-ui-dataTableComposed-width: 1440px;
$gse-ui-focus-color: #7b88f7;
$gse-ui-focus-width: 2px;
$gse-ui-focus-style: solid;
