$gse-ui-radioButton-icon-default-unselectedForegroundColor: #767c8d;
$gse-ui-radioButton-icon-default-selectedForegroundColor: #4856cb;
$gse-ui-radioButton-icon-hover-foregroundColor: #3742a2;
$gse-ui-radioButton-icon-active-foregroundColor: #252e78;
$gse-ui-radioButton-icon-error-foregroundColor: #e22245;
$gse-ui-radioButton-icon-height: 16px;
$gse-ui-radioButton-icon-width: 16px;
$gse-ui-radioButton-label-foregroundColor: #1b2c48;
$gse-ui-radioButton-label-text-fontFamily: Noto Sans;
$gse-ui-radioButton-label-text-fontWeight: 400;
$gse-ui-radioButton-label-text-lineHeight: 18px;
$gse-ui-radioButton-gap: 8px;
$gse-ui-radioButton-helper-padding: 4px 0 0 24px;
$gse-ui-radioButton-helper-gap: 8px;
$gse-ui-radioButton-disabled-opacity: 0.5;
$gse-ui-radioButton-focus-border-color: #7b88f7;
$gse-ui-radioButton-focus-border-width: 2px;
$gse-ui-radioButton-focus-border-style: solid;
$gse-ui-radioButton-focus-borderRadius: 16px;
$gse-ui-radioButton-focus-offset: 1px;
$gse-ui-checkbox-icon-default-unselectedForegroundColor: #767c8d;
$gse-ui-checkbox-icon-default-selectedForegroundColor: #4856cb;
$gse-ui-checkbox-icon-hover-foregroundColor: #3742a2;
$gse-ui-checkbox-icon-active-foregroundColor: #252e78;
$gse-ui-checkbox-icon-error-foregroundColor: #e22245;
$gse-ui-checkbox-icon-height: 16px;
$gse-ui-checkbox-icon-width: 16px;
$gse-ui-checkbox-label-foregroundColor: #1b2c48;
$gse-ui-checkbox-label-text-fontFamily: Noto Sans;
$gse-ui-checkbox-label-text-fontWeight: 400;
$gse-ui-checkbox-label-text-lineHeight: 18px;
$gse-ui-checkbox-helper-padding: 4px 0 0 24px;
$gse-ui-checkbox-helper-gap: 8px;
$gse-ui-checkbox-gap: 8px;
$gse-ui-checkbox-disabled-opacity: 0.5;
$gse-ui-checkbox-focus-border-color: #7b88f7;
$gse-ui-checkbox-focus-border-width: 2px;
$gse-ui-checkbox-focus-border-style: solid;
$gse-ui-checkbox-focus-borderRadius: 5.5px;
$gse-ui-checkbox-focus-borderRadiusSmall: 2px;
$gse-ui-checkbox-focus-offset: 1px;
$gse-ui-menu-option-padding: 8px 12px;
$gse-ui-menu-option-gap: 8px;
$gse-ui-menu-option-height: 32px;
$gse-ui-menu-option-startIcon-height: 16px;
$gse-ui-menu-option-startIcon-width: 16px;
$gse-ui-menu-option-label-default-text-fontFamily: Noto Sans;
$gse-ui-menu-option-label-default-text-fontWeight: 400;
$gse-ui-menu-option-label-default-text-lineHeight: 16px;
$gse-ui-menu-option-label-default-text-fontSize: 12px;
$gse-ui-menu-option-label-active-text-fontFamily: Noto Sans;
$gse-ui-menu-option-label-active-text-fontWeight: 700;
$gse-ui-menu-option-label-active-text-lineHeight: 16px;
$gse-ui-menu-option-label-active-text-fontSize: 12px;
$gse-ui-menu-option-label-foregroundColor: #1b2c48;
$gse-ui-menu-option-shortcut-text-fontFamily: Noto Sans;
$gse-ui-menu-option-shortcut-text-fontWeight: 400;
$gse-ui-menu-option-shortcut-text-lineHeight: 20px;
$gse-ui-menu-option-shortcut-text-fontSize: 14px;
$gse-ui-menu-option-shortcut-default-foregroundColor: #626e84;
$gse-ui-menu-option-shortcut-selected-foregroundColor: #1b2c48;
$gse-ui-menu-option-hover-backgroundColor: #eff0fe;
$gse-ui-menu-option-selected-backgroundColor: #ced2fc;
$gse-ui-menu-option-disabled-opacity: 0.5;
$gse-ui-menu-option-checkbox-unchecked-default-foregroundColor: #626e84;
$gse-ui-menu-option-checkbox-unchecked-hover-foregroundColor: #1b2c48;
$gse-ui-menu-option-checkbox-unchecked-selected-foregroundColor: #1b2c48;
$gse-ui-menu-option-checkbox-checked-default-foregroundColor: #4856cb;
$gse-ui-menu-option-checkbox-checked-hover-foregroundColor: #3742a2;
$gse-ui-menu-option-checkbox-checked-selected-foregroundColor: #252e78;
$gse-ui-menu-option-parentIcon-width: 16px;
$gse-ui-menu-option-parentIcon-height: 16px;
$gse-ui-menu-option-parentIcon-default-foregroundColor: #626e84;
$gse-ui-menu-option-parentIcon-hover-foregroundColor: #1b2c48;
$gse-ui-menu-option-parentIcon-selected-foregroundColor: #1b2c48;
$gse-ui-menu-option-focus-border-color: #7b88f7;
$gse-ui-menu-option-focus-border-width: 2px;
$gse-ui-menu-option-focus-border-style: solid;
$gse-ui-menu-option-default-backgroundColor: #ffffff;
$gse-ui-menu-borderRadius: 4px;
$gse-ui-menu-border-color: #c6c8ce;
$gse-ui-menu-border-width: 1px;
$gse-ui-menu-border-style: solid;
$gse-ui-menu-boxShadow-x: 0px;
$gse-ui-menu-boxShadow-y: 2px;
$gse-ui-menu-boxShadow-blur: 4px;
$gse-ui-menu-boxShadow-spread: 1px;
$gse-ui-menu-boxShadow-color: #23395c1a;
$gse-ui-menu-boxShadow-type: dropShadow;
$gse-ui-menu-padding: 8px 0px;
$gse-ui-menu-backgroundColor: #ffffff;
$gse-ui-menu-scrollbar-foregroundColor: #626e84;
$gse-ui-dropdown-menu-emptyState-header-text-fontFamily: Noto Sans;
$gse-ui-dropdown-menu-emptyState-header-text-fontWeight: 700;
$gse-ui-dropdown-menu-emptyState-header-text-lineHeight: 18px;
$gse-ui-dropdown-menu-emptyState-header-text-fontSize: 12px;
$gse-ui-dropdown-menu-emptyState-header-foregroundColor: #23395d;
$gse-ui-dropdown-menu-emptyState-subheader-text-fontFamily: Noto Sans;
$gse-ui-dropdown-menu-emptyState-subheader-text-fontWeight: 400;
$gse-ui-dropdown-menu-emptyState-subheader-text-lineHeight: 18px;
$gse-ui-dropdown-menu-emptyState-subheader-text-fontSize: 12px;
$gse-ui-dropdown-menu-emptyState-subheader-foregroundColor: #626e84;
$gse-ui-dropdown-gap: 4px;
$gse-ui-calendarMenu-day-range-width: 16px;
$gse-ui-calendarMenu-day-range-height: 32px;
$gse-ui-calendarMenu-day-input-height: 32px;
$gse-ui-calendarMenu-day-input-width: 160px;
$gse-ui-calendarMenu-day-headerText-fontFamily: Noto Sans;
$gse-ui-calendarMenu-day-headerText-lineHeight: 16px;
$gse-ui-calendarMenu-day-headerText-fontSize: 12px;
$gse-ui-calendarMenu-day-headerText-fontWeight: 700;
$gse-ui-calendarMenu-day-date-size: 32px;
$gse-ui-calendarMenu-height: 234px;
$gse-ui-calendarMenu-width: 250px;
$gse-ui-calendarMenu-month-default-foregroundColor: #1b2c48;
$gse-ui-calendarMenu-month-single-header-textWidth: 154px;
$gse-ui-calendarMenu-month-single-header-width: 218px;
$gse-ui-calendarMenu-month-single-header-height: 44px;
$gse-ui-calendarMenu-month-monthCell-width: 66px;
$gse-ui-calendarMenu-month-monthCell-height: 49px;
$gse-ui-calendarMenu-month-headerText-fontFamily: Noto Sans;
$gse-ui-calendarMenu-month-headerText-lineHeight: 24px;
$gse-ui-calendarMenu-month-headerText-fontSize: 16px;
$gse-ui-calendarMenu-month-range-vertical-width: 272px;
$gse-ui-calendarMenu-month-range-vertical-height: 652px;
$gse-ui-calendarMenu-month-defaultText-fontFamily: Noto Sans;
$gse-ui-calendarMenu-month-defaultText-lineHeight: 16px;
$gse-ui-calendarMenu-month-defaultText-fontSize: 12px;
$gse-ui-calendarMenu-month-defaultText-fontWeight: 400;
$gse-ui-calendarMenu-month-currentText-fontFamily: Noto Sans;
$gse-ui-calendarMenu-month-currentText-lineHeight: 16px;
$gse-ui-calendarMenu-month-currentText-fontSize: 12px;
$gse-ui-calendarMenu-month-currentText-fontWeight: 700;
$gse-ui-calendarMenu-month-focusBorderRadius: 20px;
$gse-ui-calendarMenu-month-borderRadius: 16px;
$gse-ui-calendarMenu-month-calendarButton-focusBorderRadius: 2px;
$gse-ui-calendarMenu-month-selected-foregroundColor: #ffffff;
$gse-ui-calendarMenu-month-selected-backgroundColor: #4856cb;
$gse-ui-calendarMenu-month-selected-hoverBackgroundColor: #3742a2;
$gse-ui-calendarMenu-month-hover-backgroundColor: #dee1fd;
$gse-ui-calendarMenu-dateBody-padding: 18px 24px;
$gse-ui-calendarMenu-dateBody-gap: 8px;
$gse-ui-calendarMenu-header-backgroundColor: #4856cb;
$gse-ui-calendarMenu-header-foregroundColor: #ffffff;
$gse-ui-calendarMenu-header-gap: 8px;
$gse-ui-calendarMenu-header-padding: 10px 16px;
$gse-ui-calendarMenu-header-arrow-padding: 8px;
$gse-ui-calendarMenu-backgroundColor: #ffffff;
$gse-ui-calendarMenu-date-defaultText-fontFamily: Noto Sans;
$gse-ui-calendarMenu-date-defaultText-lineHeight: 16px;
$gse-ui-calendarMenu-date-defaultText-fontSize: 12px;
$gse-ui-calendarMenu-date-defaultText-fontWeight: 400;
$gse-ui-calendarMenu-date-currentText-fontFamily: Noto Sans;
$gse-ui-calendarMenu-date-currentText-lineHeight: 16px;
$gse-ui-calendarMenu-date-currentText-fontSize: 12px;
$gse-ui-calendarMenu-date-currentText-fontWeight: 700;
$gse-ui-calendarMenu-date-selected-foregroundColor: #ffffff;
$gse-ui-calendarMenu-date-selected-backgroundColor: #4856cb;
$gse-ui-calendarMenu-date-selected-hoverBackgroundColor: #3742a2;
$gse-ui-calendarMenu-date-hover-backgroundColor: #dee1fd;
$gse-ui-calendarMenu-date-range-backgroundColor: #dee1fd;
$gse-ui-calendarMenu-date-default-foregroundColor: #1b2c48;
$gse-ui-calendarMenu-single-header-borderRadius: 8px 8px 0 0;
$gse-ui-calendarMenu-single-body-borderRadius: 0 0 8px 8px;
$gse-ui-calendarMenu-range-header-firstMonth-borderRadius: 8px 0 0 0;
$gse-ui-calendarMenu-range-header-secondMonth-borderRadius: 0 8px 0 0;
$gse-ui-calendarMenu-range-body-firstMonth-borderRadius: 0 0 0 8px;
$gse-ui-calendarMenu-range-body-secondMonth-borderRadius: 0 0 8px 0;
$gse-ui-calendarMenu-range-date-endDate-borderRadius: 0 16px 16px 0;
$gse-ui-calendarMenu-range-date-startDate-borderRadius: 16px 0 0 16px;
$gse-ui-calendarMenu-disabled-opacity: 0.5;
$gse-ui-calendarMenu-monthBody-padding: 18px 24px;
$gse-ui-calendarMenu-monthBody-gap: 2px;
$gse-ui-calendarMenu-boxShadow-x: 0px;
$gse-ui-calendarMenu-boxShadow-y: 2px;
$gse-ui-calendarMenu-boxShadow-blur: 4px;
$gse-ui-calendarMenu-boxShadow-spread: 1px;
$gse-ui-calendarMenu-boxShadow-color: #23395c1a;
$gse-ui-calendarMenu-boxShadow-type: dropShadow;
$gse-ui-datePicker-range-gap: 24px;
$gse-ui-datePicker-startEndInput-gap: 8px;
$gse-ui-datePicker-dateTyped-gap: 10px;
$gse-ui-datePicker-dateTyped-backgroundColor: #dee1fd;
$gse-ui-datePicker-disabled-opacity: 0.5;
$gse-ui-toggle-label-fontFamily: Noto Sans;
$gse-ui-toggle-label-fontWeight: 400;
$gse-ui-toggle-label-lineHeight: 16px;
$gse-ui-toggle-label-fontSize: 12px;
$gse-ui-toggle-gap: 8px;
$gse-ui-toggle-padding: 8px;
$gse-ui-toggle-track-width: 32px;
$gse-ui-toggle-track-height: 16px;
$gse-ui-toggle-track-enabled-off-backgroundColor: #c6c8ce;
$gse-ui-toggle-track-enabled-on-backgroundColor: #3742a2;
$gse-ui-toggle-track-disabled-off-backgroundColor: #c6c8ce;
$gse-ui-toggle-track-disabled-on-backgroundColor: #3742a2;
$gse-ui-toggle-track-error-off-backgroundColor: #f3a7b5;
$gse-ui-toggle-track-error-on-backgroundColor: #e22245;
$gse-ui-toggle-track-hover-off-backgroundColor: #9ca6f9;
$gse-ui-toggle-track-hover-on-backgroundColor: #252e78;
$gse-ui-toggle-track-borderRadius: 8px;
$gse-ui-toggle-handle-width: 16px;
$gse-ui-toggle-handle-height: 16px;
$gse-ui-toggle-handle-hover-border-width: 2px;
$gse-ui-toggle-handle-hover-border-style: solid;
$gse-ui-toggle-handle-hover-border-color: #4856cb;
$gse-ui-toggle-handle-enabled-border-width: 2px;
$gse-ui-toggle-handle-enabled-border-color: #4856cb;
$gse-ui-toggle-handle-enabled-border-style: solid;
$gse-ui-toggle-handle-disabled-border-width: 2px;
$gse-ui-toggle-handle-disabled-border-color: #4856cb;
$gse-ui-toggle-handle-disabled-border-style: solid;
$gse-ui-toggle-handle-error-border-color: #e22245;
$gse-ui-toggle-handle-error-border-width: 2px;
$gse-ui-toggle-handle-error-border-style: solid;
$gse-ui-toggle-handle-backgroundColor: #ffffff;
$gse-ui-toggle-handle-foregroundColor: #4856cb;
$gse-ui-toggle-handle-borderRadius: 100%;
$gse-ui-toggle-disabled-opacity: 0.5;
$gse-ui-toggle-focus-border-color: #7b88f7;
$gse-ui-toggle-focus-border-width: 2px;
$gse-ui-toggle-focus-border-style: solid;
$gse-ui-toggle-focus-borderRadius: 16px;
$gse-ui-toggle-focus-offset: 1px;
$gse-ui-timePicker-clock-padding: 3px;
$gse-ui-timePicker-clockStates-defaultColor: #626e84;
$gse-ui-timePicker-clockStates-hoverColor: #3742a2;
$gse-ui-timePicker-clockStates-activeColor: #4856cb;
$gse-ui-timePicker-clockStates-disabledColor: #626e8480;
$gse-ui-timePicker-focusClock-border-color: #7b88f7;
$gse-ui-timePicker-focusClock-border-width: 2px;
$gse-ui-timePicker-focusClock-border-style: solid;
$gse-ui-timePicker-focusClock-borderRadius: 2px;
$gse-ui-timePicker-focusAmpm-border-color: #7b88f7;
$gse-ui-timePicker-focusAmpm-border-width: 2px;
$gse-ui-timePicker-focusAmpm-border-style: solid;
$gse-ui-timePicker-focusAmpm-borderRadius: 2px;
$gse-ui-timePicker-focusTime-border-color: #7b88f7;
$gse-ui-timePicker-focusTime-border-width: 3px;
$gse-ui-timePicker-focusTime-border-style: solid;
$gse-ui-timePicker-focusTime-borderRadius: 4px;
$gse-ui-timePicker-ampm-padding: 3px;
$gse-ui-colorPicker-label-requiredSymbolColor: #e22245;
$gse-ui-colorPicker-label-textColor: #1b2c48;
$gse-ui-colorPicker-label-text-fontFamily: Noto Sans;
$gse-ui-colorPicker-label-text-lineHeight: 18px;
$gse-ui-colorPicker-label-text-fontSize: 12px;
$gse-ui-colorPicker-label-text-fontWeight: 400;
$gse-ui-colorPicker-inputContainer-backgroundColor: #ffffff;
$gse-ui-colorPicker-inputContainer-border-defaultColor: #a3a7b0;
$gse-ui-colorPicker-inputContainer-border-hoverColor: #3742a2;
$gse-ui-colorPicker-inputContainer-border-activeColor: #252e78;
$gse-ui-colorPicker-inputContainer-border-errorColor: #e22245;
$gse-ui-colorPicker-input-containerSizing: 32px;
$gse-ui-colorPicker-input-swatchSizing: 24px;
$gse-ui-colorPicker-input-swatchBorderRadius: 2px;
$gse-ui-colorPicker-gap: 8px;
$gse-ui-slider-handle-width: 20px;
$gse-ui-slider-handle-height: 20px;
$gse-ui-slider-handle-default-backgroundColor: #4856cb;
$gse-ui-slider-handle-hover-backgroundColor: #3742a2;
$gse-ui-slider-handle-active-backgroundColor: #252e78;
$gse-ui-slider-handle-disabled-backgroundColor: #4856cb;
$gse-ui-slider-handle-borderRadius: 100%;
$gse-ui-slider-disabled-opacity: 0.5;
$gse-ui-slider-label-text-fontFamily: Noto Sans;
$gse-ui-slider-label-text-fontWeight: 600;
$gse-ui-slider-label-text-lineHeight: 20px;
$gse-ui-slider-label-text-fontSize: 14px;
$gse-ui-slider-label-foregroundColor: #1b2c48;
$gse-ui-slider-bar-selected-backgroundColor: #4856cb;
$gse-ui-slider-bar-default-backgroundColor: #c6c8ce;
$gse-ui-slider-bar-height: 4px;
$gse-ui-slider-gap: 16px;
$gse-ui-slider-focusRing-borderRadius: 100%;
$gse-ui-flyoutMenu-anchor-height: 8px;
$gse-ui-flyoutMenu-anchor-width: 76px;
$gse-ui-flyoutMenu-width: 207px;
$gse-ui-flyoutMenu-borderRadius: 4px;
$gse-ui-flyoutMenu-padding: 8px;
$gse-ui-flyoutMenu-parenting-gap: 4px;
$gse-ui-flyoutMenu-backgroundColor: #ffffff;
$gse-ui-flyoutMenu-arrow-borderRadius: 4px;
$gse-ui-phoneInput-dropdown-hover-backgroundColor: #eff0fe;
$gse-ui-phoneInput-dropdown-active-backgroundColor: #ced2fc;
$gse-ui-phoneInput-dropdown-foregroundColor: #626e84;
$gse-ui-phoneInput-dropdown-flag-height: 12px;
$gse-ui-phoneInput-dropdown-flag-width: 16px;
$gse-ui-phoneInput-dropdown-height: 32px;
$gse-ui-phoneInput-dropdown-menu-minWidth: 230px;
$gse-ui-phoneInput-dropdown-icon-width: 16px;
$gse-ui-phoneInput-dropdown-icon-height: 16px;
$gse-ui-phoneInput-countryCode-foregroundColor: #626e84;
$gse-ui-phoneInput-minWidth: 230px;
$gse-ui-contextMenu-button-default: 32px;
$gse-ui-contextMenu-button-compact: 24px;
$gse-ui-contextMenu-borderRadius: 4px;
$gse-ui-contextMenu-states-default-foregroundColor: #767c8d;
$gse-ui-contextMenu-states-hover-foregroundColor: #3742a2;
$gse-ui-contextMenu-states-hover-backgroundColor: #dee1fd;
$gse-ui-contextMenu-states-active-foregroundColor: #252e78;
$gse-ui-contextMenu-states-active-backgroundColor: #ced2fc;
$gse-ui-contextMenu-states-disabled-foregroundColor: #767c8d;
$gse-ui-contextMenu-disabled-opacity: 0.5;
$gse-ui-contextMenu-gap: 4px;
$gse-ui-monthPicker-calendarStates-defaultColor: #626e84;
$gse-ui-monthPicker-calendarStates-hoverColor: #3742a2;
$gse-ui-monthPicker-calendarStates-activeColor: #4856cb;
$gse-ui-monthPicker-calendarStates-disabledColor: #626e8480;
$gse-ui-monthPicker-calendarStates-focus-border-color: #7b88f7;
$gse-ui-monthPicker-calendarStates-focus-border-width: 2px;
$gse-ui-monthPicker-calendarStates-focus-border-style: solid;
