$gse-ui-formControl-input-contentText-fontFamily: Noto Sans;
$gse-ui-formControl-input-contentText-lineHeight: 18px;
$gse-ui-formControl-input-contentText-fontSize: 12px;
$gse-ui-formControl-input-contentText-fontWeight: 400;
$gse-ui-formControl-input-default-border-color: #a3a7b0;
$gse-ui-formControl-input-default-border-width: 1px;
$gse-ui-formControl-input-default-border-style: solid;
$gse-ui-formControl-input-hover-border-color: #3742a2;
$gse-ui-formControl-input-hover-border-width: 1px;
$gse-ui-formControl-input-hover-border-style: solid;
$gse-ui-formControl-input-active-border-color: #252e78;
$gse-ui-formControl-input-active-border-width: 1px;
$gse-ui-formControl-input-active-border-style: solid;
$gse-ui-formControl-input-error-border-color: #e22245;
$gse-ui-formControl-input-error-border-width: 1px;
$gse-ui-formControl-input-error-border-style: solid;
$gse-ui-formControl-input-disabled-border-color: #a3a7b0;
$gse-ui-formControl-input-disabled-border-width: 1px;
$gse-ui-formControl-input-disabled-border-style: solid;
$gse-ui-formControl-input-disabled-opacity: 0.5;
$gse-ui-formControl-input-borderRadius: 4px;
$gse-ui-formControl-input-backgroundColor: #ffffff;
$gse-ui-formControl-input-placeholderColor: #626e84;
$gse-ui-formControl-input-suggestionColor: #626e84;
$gse-ui-formControl-input-populatedColor: #1b2c48;
$gse-ui-formControl-input-inputClearable-inputClearableColor: #626e84;
$gse-ui-formControl-input-inputClearable-size: 16px;
$gse-ui-formControl-input-gap: 12px;
$gse-ui-formControl-input-top: 8px;
$gse-ui-formControl-input-padding: 8px 12px;
$gse-ui-formControl-input-prefixSufix-text-fontFamily: Noto Sans;
$gse-ui-formControl-input-prefixSufix-text-lineHeight: 20px;
$gse-ui-formControl-input-prefixSufix-text-fontSize: 14px;
$gse-ui-formControl-input-prefixSufix-text-fontWeight: 700;
$gse-ui-formControl-input-prefixSufix-height: 32px;
$gse-ui-formControl-input-prefixSufix-defaultColor: #626e84;
$gse-ui-formControl-input-textfield-height: 32px;
$gse-ui-formControl-input-textfield-minWidth: 45px;
$gse-ui-formControl-input-colorPicker-size: 32px;
$gse-ui-formControl-input-inputIcon-size: 16px;
$gse-ui-formControl-input-inputIcon-defaultColor: #3e5374;
$gse-ui-formControl-input-inputIcon-iconEndColor: #626e84;
$gse-ui-formControl-input-focusRing-defaultColor: #7b88f7;
$gse-ui-formControl-input-textarea-height: 96px;
$gse-ui-formControl-input-focus-border-color: #7b88f7;
$gse-ui-formControl-input-focus-border-width: 3px;
$gse-ui-formControl-input-focus-border-style: solid;
$gse-ui-formControl-input-spinbuttonIcon-size: 16px;
$gse-ui-formControl-input-focusSelection-backgroundColor: #7b88f7;
$gse-ui-formControl-label-padding: 0 0 8px 0;
$gse-ui-formControl-label-gap: 4px;
$gse-ui-formControl-label-text-fontFamily: Noto Sans;
$gse-ui-formControl-label-text-lineHeight: 18px;
$gse-ui-formControl-label-text-fontSize: 12px;
$gse-ui-formControl-label-text-fontWeight: 400;
$gse-ui-formControl-label-labelColor: #1b2c48;
$gse-ui-formControl-label-indicator-text-fontFamily: Noto Sans;
$gse-ui-formControl-label-indicator-text-lineHeight: 18px;
$gse-ui-formControl-label-indicator-text-fontSize: 12px;
$gse-ui-formControl-label-indicator-text-fontWeight: 400;
$gse-ui-formControl-label-indicator-requiredColor: #e22245;
$gse-ui-formControl-label-indicator-optionalColor: #626e84;
$gse-ui-formControl-helper-gap: 8px;
$gse-ui-formControl-helper-helperText-fontFamily: Noto Sans;
$gse-ui-formControl-helper-helperText-lineHeight: 18px;
$gse-ui-formControl-helper-helperText-fontSize: 12px;
$gse-ui-formControl-helper-helperText-fontWeight: 400;
$gse-ui-formControl-helper-padding: 8px 0 0 0;
$gse-ui-formControl-helper-paddingSmall: 4px 0 0 0;
$gse-ui-formControl-helper-errorPadding: 4px 0 0 0;
$gse-ui-formControl-helper-defaultColor: #626e84;
$gse-ui-formControl-helper-errorColor: #e22245;
$gse-ui-formControl-helper-iconSize: 16px;
$gse-ui-formControl-spinButton-gap: 8px;
$gse-ui-formControl-spinner-track: #4856cb;
$gse-ui-formControl-spinner-errorColor: #ced2fc;
$gse-ui-formControl-textarea-padding: 8px 12px;
$gse-ui-formControl-focusRing-borderRadius: 4px;
