$gse-ui-card-backgroundColor: #ffffff;
$gse-ui-card-borderRadius: 16px;
$gse-ui-card-default-border-color: #c6c8ce;
$gse-ui-card-default-border-width: 1px;
$gse-ui-card-default-border-style: solid;
$gse-ui-card-raised-border-color: #c6c8ce;
$gse-ui-card-raised-border-width: 1px;
$gse-ui-card-raised-border-style: solid;
$gse-ui-card-raised-boxShadow-x: 0;
$gse-ui-card-raised-boxShadow-y: 4px;
$gse-ui-card-raised-boxShadow-blur: 6px;
$gse-ui-card-raised-boxShadow-spread: 1px;
$gse-ui-card-raised-boxShadow-color: #23395c1f;
$gse-ui-card-raised-boxShadow-type: dropShadow;
$gse-ui-card-padding: 24px;
$gse-ui-card-borderless-border-color: transparent;
$gse-ui-card-borderless-border-width: 1px;
$gse-ui-card-borderless-border-style: solid;
$gse-ui-tag-borderRadius: 100%;
$gse-ui-tag-default-backgroundColor: #23395d;
$gse-ui-tag-default-foregroundColor: #ffffff;
$gse-ui-tag-accent1-backgroundColor: #e4e5e7;
$gse-ui-tag-accent1-foregroundColor: #1b2c48;
$gse-ui-tag-accent2-backgroundColor: #90d3dd;
$gse-ui-tag-accent2-foregroundColor: #1b2c48;
$gse-ui-tag-accent3-backgroundColor: #0d7482;
$gse-ui-tag-accent3-foregroundColor: #ffffff;
$gse-ui-tag-accent4-backgroundColor: #547688;
$gse-ui-tag-accent4-foregroundColor: #ffffff;
$gse-ui-tag-accent5-backgroundColor: #a5cae0;
$gse-ui-tag-accent5-foregroundColor: #1b2c48;
$gse-ui-tag-accent6-backgroundColor: #b5bfe6;
$gse-ui-tag-accent6-foregroundColor: #1b2c48;
$gse-ui-tag-text-fontFamily: Noto Sans;
$gse-ui-tag-text-lineHeight: 18px;
$gse-ui-tag-text-fontSize: 12px;
$gse-ui-tag-padding: 0 12px;
$gse-ui-tag-removable-padding: 0 8px 0 12px;
$gse-ui-tag-removable-gap: 4px;
$gse-ui-tag-accent7-backgroundColor: #a05195;
$gse-ui-tag-accent7-foregroundColor: #ffffff;
$gse-ui-tag-height: 20px;
$gse-ui-tag-accent8-backgroundColor: #f95d6a;
$gse-ui-tag-accent8-foregroundColor: #1b2c48;
$gse-ui-tag-accent9-backgroundColor: #fe8f85;
$gse-ui-tag-accent9-foregroundColor: #1b2c48;
$gse-ui-tag-accent10-backgroundColor: #ffc650;
$gse-ui-tag-accent10-foregroundColor: #1b2c48;
$gse-ui-tag-button-size: 16px;
$gse-ui-badge-borderRadius: 10px;
$gse-ui-badge-text-fontFamily: Noto Sans;
$gse-ui-badge-text-lineHeight: 18px;
$gse-ui-badge-text-fontSize: 12px;
$gse-ui-badge-height: 20px;
$gse-ui-badge-padding: 0 12px;
$gse-ui-badge-gap: 4px;
$gse-ui-badge-info-bold-backgroundColor: #6e5ddb;
$gse-ui-badge-info-bold-foregroundColor: #ffffff;
$gse-ui-badge-info-regular-backgroundColor: #c5bef1;
$gse-ui-badge-info-regular-foregroundColor: #1b2c48;
$gse-ui-badge-success-bold-backgroundColor: #09b581;
$gse-ui-badge-success-bold-foregroundColor: #1b2c48;
$gse-ui-badge-success-regular-backgroundColor: #9de1cd;
$gse-ui-badge-success-regular-foregroundColor: #1b2c48;
$gse-ui-badge-warning-bold-backgroundColor: #f8c73e;
$gse-ui-badge-warning-bold-foregroundColor: #1b2c48;
$gse-ui-badge-warning-regular-backgroundColor: #fce9b2;
$gse-ui-badge-warning-regular-foregroundColor: #1b2c48;
$gse-ui-badge-error-bold-backgroundColor: #e22245;
$gse-ui-badge-error-bold-foregroundColor: #ffffff;
$gse-ui-badge-error-regular-backgroundColor: #f3a7b5;
$gse-ui-badge-error-regular-foregroundColor: #1b2c48;
$gse-ui-icon-size-sm: 16px;
$gse-ui-icon-size-md: 24px;
$gse-ui-icon-size-lg: 32px;
