$gse-ui-shared-typography-inverse: #ffffff;
$gse-ui-shared-typography-error: #e22245;
$gse-ui-shared-typography-subtle: #626e84;
$gse-ui-shared-typography-placeholder: #626e84;
$gse-ui-shared-typography-hint: #626e84;
$gse-ui-shared-typography-link: #4856cb;
$gse-ui-shared-typography-link-active-hover: #3742a2;
$gse-ui-shared-typography-link-active: #252e78;
$gse-ui-shared-typography-link-visited: #6e5ddb;
$gse-ui-shared-typography-option: #23395d;
$gse-ui-shared-typography-input-populated: #1b2c48;
$gse-ui-shared-typography-input-placeholder: #626e84;
$gse-ui-shared-typography-default: #1b2c48;
$gse-ui-shared-typography-label: #1b2c48;
$gse-ui-shared-typography-secondary: #23395d;
$gse-ui-shared-border-input-default: #a3a7b0;
$gse-ui-shared-border-input-hover: #3742a2;
$gse-ui-shared-border-input-active: #252e78;
$gse-ui-shared-border-input-invalid: #e22245;
$gse-ui-shared-border-floating: #c6c8ce;
$gse-ui-shared-border-floating-darker: #a3a7b0;
$gse-ui-shared-background-input-default: #ffffff;
$gse-ui-shared-background-primary-default: #4856cb;
$gse-ui-shared-background-primary-focus: #7b88f7;
$gse-ui-shared-background-primary-hover: #3742a2;
$gse-ui-shared-background-primary-active: #252e78;
$gse-ui-shared-foreground-primary: #4856cb;
$gse-ui-shared-foreground-primary-inverse: #ffffff;
$gse-ui-shared-focus-ring: #7b88f7;
$gse-ui-shared-divider: #c6c8ce;
$gse-ui-shared-icon-utility: #767c8d;
$gse-ui-icon-default: #3e5374;
$gse-ui-icon-utility: #626e84;
$gse-ui-icon-utility-active: #252e78;
$gse-ui-icon-dark: #1b2c48;
$gse-ui-icon-inverse: #ffffff;
$gse-ui-icon-link: #4856cb;
$gse-ui-icon-link-active: #3742a2;
$gse-ui-icon-error: #e22245;
$gse-ui-card-background-default: #ffffff;
$gse-ui-card-border-default: #c6c8ce;
$gse-ui-card-border-raised: #c6c8ce;
$gse-ui-card-foreground-default: #1b2c48;
$gse-ui-badge-info-bold-background: #6e5ddb;
$gse-ui-badge-info-bold-foreground: #ffffff;
$gse-ui-badge-info-default-background: #c5bef1;
$gse-ui-badge-info-default-foreground: #1b2c48;
$gse-ui-badge-error-default-foreground: #1b2c48;
$gse-ui-badge-error-default-background: #f3a7b5;
$gse-ui-badge-error-bold-foreground: #ffffff;
$gse-ui-badge-error-bold-background: #e22245;
$gse-ui-badge-success-bold-background: #09b581;
$gse-ui-badge-success-bold-foreground: #1b2c48;
$gse-ui-badge-success-default-background: #9de1cd;
$gse-ui-badge-success-default-foreground: #1b2c48;
$gse-ui-badge-warning-bold-background: #f8c73e;
$gse-ui-badge-warning-bold-foreground: #1b2c48;
$gse-ui-badge-warning-default-background: #fce9b2;
$gse-ui-badge-warning-default-foreground: #1b2c48;
$gse-ui-copy-to-clipboard-label-background-active: #dee1fd;
$gse-ui-copy-to-clipboard-label-background-default: #00000000;
$gse-ui-copy-to-clipboard-label-foreground: #1b2c48;
$gse-ui-copy-to-clipboard-popover-background: #ffffff;
$gse-ui-copy-to-clipboard-popover-border: #c6c8ce;
$gse-ui-tooltip-border-default: #c6c8ce;
$gse-ui-tooltip-background-default: #ffffff;
$gse-ui-tooltip-background-dark: #1b2c48;
$gse-ui-tooltip-foreground-default: #1b2c48;
$gse-ui-tooltip-foreground-inverse: #ffffff;
$gse-ui-text-field-background-default: #ffffff;
$gse-ui-text-field-background-active: #4856cb;
$gse-ui-text-field-background-checked: #4856cb;
$gse-ui-text-field-border-default: #a3a7b0;
$gse-ui-text-field-border-hover: #3742a2;
$gse-ui-text-field-border-error: #e22245;
$gse-ui-text-field-focus-ring: #7b88f7;
$gse-ui-button-primary-background-default: #4856cb;
$gse-ui-button-primary-background-hover: #3742a2;
$gse-ui-button-primary-background-active: #252e78;
$gse-ui-button-primary-foreground: #ffffff;
$gse-ui-button-primary-focus-ring: #7b88f7;
$gse-ui-button-secondary-background-default: #eff0fe;
$gse-ui-button-secondary-background-hover: #dee1fd;
$gse-ui-button-secondary-background-active: #ced2fc;
$gse-ui-button-secondary-foreground: #4856cb;
$gse-ui-button-secondary-focus-ring: #7b88f7;
$gse-ui-button-ghost-background-default: #00000000;
$gse-ui-button-ghost-background-active: #ced2fc;
$gse-ui-button-ghost-background-focus: #00000000;
$gse-ui-button-ghost-background-hover: #dee1fd;
$gse-ui-button-ghost-foreground: #4856cb;
$gse-ui-button-ghost-focus-ring: #7b88f7;
$gse-ui-button-tertiary-background-default: #00000000;
$gse-ui-button-tertiary-background-active: #252e78;
$gse-ui-button-tertiary-background-hover: #3742a2;
$gse-ui-button-tertiary-background-focus: #3742a2;
$gse-ui-button-tertiary-foreground: #4856cb;
$gse-ui-button-tertiary-foreground-inverse: #ffffff;
$gse-ui-button-tertiary-focus-ring: #7b88f7;
$gse-ui-button-tertiary-border-default: #4856cb;
$gse-ui-button-danger-background-default: #e22245;
$gse-ui-button-danger-background-hover: #881429;
$gse-ui-button-danger-background-active: #440a15;
$gse-ui-button-danger-foreground: #ffffff;
$gse-ui-button-danger-focus-ring: #7b88f7;
$gse-ui-menu-background-item-background-default: #ffffff;
$gse-ui-menu-background-item-background-hover: #eff0fe;
$gse-ui-menu-background-item-background-selected: #ced2fc;
$gse-ui-menu-background-item-foreground: #1b2c48;
$gse-ui-menu-background-item-focus-ring: #7b88f7;
$gse-ui-menu-background-default: #ffffff;
$gse-ui-menu-foreground-default: #1b2c48;
$gse-ui-menu-separator: #c6c8ce;
$gse-ui-menu-border: #c6c8ce;
$gse-ui-menu-scroll-track: #626e84;
$gse-ui-radio-label: #1b2c48;
$gse-ui-radio-focus-ring: #7b88f7;
$gse-ui-radio-icon-hover: #3742a2;
$gse-ui-radio-icon-default: #767c8d;
$gse-ui-radio-icon-selected: #4856cb;
$gse-ui-radio-icon-active: #252e78;
$gse-ui-star-rating-icon-default: #767c8d;
$gse-ui-star-rating-icon-hover: #3742a2;
$gse-ui-star-rating-icon-selected: #4856cb;
$gse-ui-star-rating-focus-ring: #7b88f7;
$gse-ui-toggle-track-inactive-default: #c6c8ce;
$gse-ui-toggle-track-inactive-hover: #9ca6f9;
$gse-ui-toggle-track-inactive-error: #f3a7b5;
$gse-ui-toggle-track-active-default: #3742a2;
$gse-ui-toggle-track-active-hover: #252e78;
$gse-ui-toggle-track-active-error: #e22245;
$gse-ui-toggle-indicator-active-icon: #4856cb;
$gse-ui-toggle-indicator-active-hover: #3742a2;
$gse-ui-toggle-indicator-active-background: #ffffff;
$gse-ui-toggle-indicator-active-border-invalid: #e22245;
$gse-ui-toggle-indicator-inactive-border: #4856cb;
$gse-ui-toggle-indicator-inactive-background: #ffffff;
$gse-ui-toggle-indicator-inactive-border-invalid: #e22245;
$gse-ui-toggle-label: #1b2c48;
$gse-ui-toggle-focus-ring: #7b88f7;
$gse-ui-tag-background-default: #23395d;
$gse-ui-tag-background-accent1: #e4e5e7;
$gse-ui-tag-background-accent2: #90d3dd;
$gse-ui-tag-background-accent3: #0d7482;
$gse-ui-tag-background-accent4: #547688;
$gse-ui-tag-background-accent5: #a5cae0;
$gse-ui-tag-background-accent6: #b5bfe6;
$gse-ui-tag-background-accent7: #a05195;
$gse-ui-tag-background-accent8: #f95d6a;
$gse-ui-tag-background-accent9: #fe8f85;
$gse-ui-tag-background-accent10: #ffc650;
$gse-ui-tag-foreground-default: #ffffff;
$gse-ui-tag-foreground-accent1: #1b2c48;
$gse-ui-tag-foreground-accent2: #1b2c48;
$gse-ui-tag-foreground-accent3: #ffffff;
$gse-ui-tag-foreground-accent4: #ffffff;
$gse-ui-tag-foreground-accent5: #1b2c48;
$gse-ui-tag-foreground-accent6: #1b2c48;
$gse-ui-tag-foreground-accent7: #ffffff;
$gse-ui-tag-foreground-accent8: #1b2c48;
$gse-ui-tag-foreground-accent9: #1b2c48;
$gse-ui-tag-foreground-accent10: #1b2c48;
$gse-ui-checkbox-icon-default: #767c8d;
$gse-ui-checkbox-icon-selected: #4856cb;
$gse-ui-checkbox-icon-hover: #3742a2;
$gse-ui-checkbox-icon-active: #252e78;
$gse-ui-checkbox-label: #1b2c48;
$gse-ui-checkbox-focus-ring: #7b88f7;
$gse-ui-multi-button-primary-background-default: #4856cb;
$gse-ui-multi-button-primary-background-active: #252e78;
$gse-ui-multi-button-primary-background-focus: #3742a2;
$gse-ui-multi-button-primary-background-hover: #3742a2;
$gse-ui-multi-button-primary-foreground: #ffffff;
$gse-ui-multi-button-primary-focus-ring: #7b88f7;
$gse-ui-multi-button-secondary-background-default: #eff0fe;
$gse-ui-multi-button-secondary-background-active: #ced2fc;
$gse-ui-multi-button-secondary-background-focus: #eff0fe;
$gse-ui-multi-button-secondary-background-hover: #dee1fd;
$gse-ui-multi-button-secondary-foreground: #4856cb;
$gse-ui-multi-button-secondary-focus-ring: #7b88f7;
$gse-ui-multi-button-ghost-background-default: #00000000;
$gse-ui-multi-button-ghost-background-active: #ced2fc;
$gse-ui-multi-button-ghost-background-focus: #00000000;
$gse-ui-multi-button-ghost-background-hover: #dee1fd;
$gse-ui-multi-button-ghost-foreground: #4856cb;
$gse-ui-multi-button-ghost-focus-ring: #7b88f7;
$gse-ui-multi-button-tertiary-background-default: #00000000;
$gse-ui-multi-button-tertiary-background-active: #252e78;
$gse-ui-multi-button-tertiary-background-hover: #3742a2;
$gse-ui-multi-button-tertiary-foreground: #4856cb;
$gse-ui-multi-button-tertiary-foreground-inverse: #ffffff;
$gse-ui-multi-button-tertiary-focus-ring: #7b88f7;
$gse-ui-multi-button-tertiary-border-default: #252e78;
$gse-ui-link-foreground-default: #4856cb;
$gse-ui-link-foreground-hover: #3742a2;
$gse-ui-link-foreground-active: #252e78;
$gse-ui-link-foreground-visited: #6e5ddb;
$gse-ui-link-focus-ring: #7b88f7;
$gse-ui-pagination-button-foreground-default: #4856cb;
$gse-ui-pagination-button-background-active: #ced2fc;
$gse-ui-pagination-button-background-focus: #dee1fd;
$gse-ui-pagination-button-focus-ring: #7b88f7;
$gse-ui-in-table-link-foreground-default: #4856cb;
$gse-ui-in-table-link-foreground-active: #3742a2;
$gse-ui-in-table-link-foreground-hover: #252e78;
$gse-ui-in-table-link-foreground-focus: #4856cb;
$gse-ui-in-table-link-focus-ring: #7b88f7;
$gse-ui-text-area-background-default: #ffffff;
$gse-ui-text-area-background-checked: #4856cb;
$gse-ui-text-area-border-default: #a3a7b0;
$gse-ui-text-area-border-hover: #3742a2;
$gse-ui-text-area-border-active: #252e78;
$gse-ui-text-area-border-error: #e22245;
$gse-ui-text-area-focus-ring: #7b88f7;
$gse-ui-label-default: #1b2c48;
$gse-ui-breadcrumbs-default-inverse: #ced2fc;
$gse-ui-breadcrumbs-active-inverse: #ffffff;
$gse-ui-breadcrumbs-separator: #a3a7b0;
$gse-ui-breadcrumbs-focus-ring: #7b88f7;
$gse-ui-accordion-border: #c6c8ce;
$gse-ui-accordion-section-title-default: #1b2c48;
$gse-ui-accordion-toggle-default: #3e5374;
$gse-ui-accordion-toggle-hover: #4856cb;
$gse-ui-accordion-item-foreground-default: #1b2c48;
$gse-ui-accordion-item-background-default: #00000000;
$gse-ui-accordion-item-background-hover: #eff0fe;
$gse-ui-accordion-item-background-active: #dee1fd;
$gse-ui-accordion-item-focus-ring: #7b88f7;
$gse-ui-accordion-background: #ffffff;
$gse-ui-search-match-background-first: #b5e2e8;
$gse-ui-search-match-background-subsequent: #daf0f4;
$gse-ui-search-match-typography-default: #1b2c48;
$gse-ui-search-counter-text-default: #626e84;
$gse-ui-search-counter-icon-default: #626e84;
$gse-ui-search-counter-icon-hover: #4856cb;
$gse-ui-tabs-tab-foreground-default: #1b2c48;
$gse-ui-tabs-tab-indicator-hover: #4856cb;
$gse-ui-tabs-tab-indicator-active: #3742a2;
$gse-ui-tabs-focus-ring: #7b88f7;
$gse-ui-tabs-divider: #c6c8ce;
$gse-ui-advanced-tabs-tab-indicator-hover: #4856cb;
$gse-ui-advanced-tabs-tab-indicator-active: #3742a2;
$gse-ui-advanced-tabs-tab-foreground-default: #1b2c48;
$gse-ui-advanced-tabs-focus-ring: #7b88f7;
$gse-ui-advanced-tabs-divider: #c6c8ce;
$gse-ui-advanced-tabs-background-active: #ffffff;
$gse-ui-advanced-tabs-background-inactive: #f3f5fb;
$gse-ui-advanced-tabs-background-tab-set: #f3f5fb;
$gse-ui-modal-background-default: #ffffff;
$gse-ui-modal-background-shroud: #23395d;
$gse-ui-modal-foreground-title-default: #1b2c48;
$gse-ui-progress-loading-foreground-default: #4856cb;
$gse-ui-progress-loading-foreground-track: #ced2fc;
$gse-ui-progress-loading-title-default: #1b2c48;
$gse-ui-progress-loading-subtitle-default: #23395d;
$gse-ui-toast-background-default: #ffffff;
$gse-ui-toast-foreground-default: #1b2c48;
$gse-ui-toast-icon-success: #09b581;
$gse-ui-toast-icon-warning: #f8c73e;
$gse-ui-toast-icon-error: #e22245;
$gse-ui-toast-icon-info: #6e5ddb;
$gse-ui-toast-icon-action: #4856cb;
$gse-ui-pagination-foreground-default: #1b2c48;
$gse-ui-popover-background-default: #ffffff;
$gse-ui-popover-foreground-default: #1b2c48;
$gse-ui-popover-border-default: #c6c8ce;
$gse-ui-flyout-menu-background-default: #ffffff;
$gse-ui-flyout-menu-foreground-default: #1b2c48;
$gse-ui-flyout-menu-border-default: #c6c8ce;
$gse-ui-inline-alert-info-background-default: #e2dff8;
$gse-ui-inline-alert-info-border-default: #c5bef1;
$gse-ui-inline-alert-info-foreground-default: #1b2c48;
$gse-ui-inline-alert-info-foreground-icon: #6e5ddb;
$gse-ui-inline-alert-success-background-default: #cef0e6;
$gse-ui-inline-alert-success-border-default: #9de1cd;
$gse-ui-inline-alert-success-foreground-default: #1b2c48;
$gse-ui-inline-alert-success-foreground-icon: #09b581;
$gse-ui-inline-alert-warning-background-default: #fef4d8;
$gse-ui-inline-alert-warning-border-default: #fce9b2;
$gse-ui-inline-alert-warning-foreground-default: #1b2c48;
$gse-ui-inline-alert-warning-foreground-icon: #f8c73e;
$gse-ui-inline-alert-error-background-default: #f9d3da;
$gse-ui-inline-alert-error-border-default: #f3a7b5;
$gse-ui-inline-alert-error-foreground-default: #1b2c48;
$gse-ui-inline-alert-error-foreground-icon: #e22245;
$gse-ui-color-picker-input-background-default: #ffffff;
$gse-ui-color-picker-input-border-default: #a3a7b0;
$gse-ui-color-picker-input-border-hover: #3742a2;
$gse-ui-color-picker-input-border-active: #252e78;
$gse-ui-color-picker-input-border-error: #e22245;
$gse-ui-color-picker-focus-ring: #7b88f7;
$gse-ui-color-picker-menu-background-default: #ffffff;
$gse-ui-color-picker-menu-swatch-border-selected: #4856cb;
$gse-ui-calendar-header-background-default: #4856cb;
$gse-ui-calendar-header-foreground-default: #ffffff;
$gse-ui-calendar-day-header-foreground-default: #1b2c48;
$gse-ui-calendar-day-date-foreground-default: #1b2c48;
$gse-ui-calendar-day-date-foreground-selected: #ffffff;
$gse-ui-calendar-day-date-background-default: #00000000;
$gse-ui-calendar-day-date-background-selected-same-month: #4856cb;
$gse-ui-calendar-day-date-background-selected-hover: #3742a2;
$gse-ui-calendar-day-date-background-selected-pff-month: #e4e5e7;
$gse-ui-calendar-day-date-background-selected-middle: #dee1fd;
$gse-ui-calendar-day-date-background-unselected-hover: #dee1fd;
$gse-ui-calendar-focus: #7b88f7;
$gse-ui-side-navigation-item-foreground-default: #1b2c48;
$gse-ui-side-navigation-item-focus-ring: #7b88f7;
$gse-ui-side-navigation-item-background-default: #00000000;
$gse-ui-side-navigation-item-background-hover: #eff0fe;
$gse-ui-side-navigation-item-background-active: #ced2fc;
$gse-ui-table-header-background-default: #00000000;
$gse-ui-table-header-background-header: #ffffff;
$gse-ui-table-header-foreground-default: #1b2c48;
$gse-ui-table-header-highlight: #9ca6f9;
$gse-ui-table-cell-background-default: #ffffff;
$gse-ui-table-cell-background-alternate: #f3f5fb;
$gse-ui-table-cell-background-hover: #dee1fd;
$gse-ui-table-cell-background-error: #f9d3da;
$gse-ui-table-cell-border-default: #00000000;
$gse-ui-table-cell-border-error: #e22245;
$gse-ui-table-cell-foreground-default: #1b2c48;
$gse-ui-table-row-border-default: #e8ebf7;
$gse-ui-table-empty-header-default: #1b2c48;
$gse-ui-table-empty-body-default: #626e84;
$gse-ui-table-empty-glyph: #c6c8ce;
$gse-ui-table-pagination-typography-default: #1b2c48;
$gse-ui-table-pagination-divider: #c6c8ce;
$gse-ui-avatar-status-ring-available: linear-gradient(
  135deg,
  #09b581 0%,
  #9de1cd 100%
);
$gse-ui-avatar-status-ring-busy: linear-gradient(
  135deg,
  #e22245 0%,
  #f3a7b5 100%
);
$gse-ui-avatar-status-ring-break: linear-gradient(
  135deg,
  #f8c73e 0%,
  #fce9b2 100%
);
$gse-ui-avatar-status-ring-on-queue: linear-gradient(
  135deg,
  #4856cb 0%,
  #9ca6f9 100%
);
$gse-ui-avatar-status-ring-offline: linear-gradient(
  135deg,
  #767c8d 0%,
  #a3a7b0 100%
);
$gse-ui-avatar-status-ring-out-of-office: linear-gradient(
  135deg,
  #a05195 0%,
  #c5bef1 100%
);
$gse-ui-avatar-status-ring-notifications: linear-gradient(
  135deg,
  #fe624d 0%,
  #4856cb 100%
);
$gse-ui-avatar-badge-available: #09b581;
$gse-ui-avatar-badge-busy: #e22245;
$gse-ui-avatar-badge-break: #f8c73e;
$gse-ui-avatar-badge-on-queue: #4856cb;
$gse-ui-avatar-badge-offline: #626e84;
$gse-ui-avatar-badge-out-of-office: #6e5ddb;
$gse-ui-avatar-badge-notification: #fe624d;
$gse-ui-avatar-focus-ring: #7b88f7;
$gse-ui-avatar-media-initials-background-default: #115d71;
$gse-ui-avatar-media-initials-background-accent1: #7785b8;
$gse-ui-avatar-media-initials-background-accent2: #90d3dd;
$gse-ui-avatar-media-initials-background-accent3: #0d7482;
$gse-ui-avatar-media-initials-background-accent4: #547688;
$gse-ui-avatar-media-initials-background-accent5: #a5cae0;
$gse-ui-avatar-media-initials-background-accent6: #b5bfe6;
$gse-ui-avatar-media-initials-background-accent7: #a05195;
$gse-ui-avatar-media-initials-background-accent8: #f95d6a;
$gse-ui-avatar-media-initials-background-accent9: #fe8f85;
$gse-ui-avatar-media-initials-background-accent10: #ffc650;
$gse-ui-avatar-media-initials-background-accent11: #fe624d;
$gse-ui-avatar-media-initials-background-accent12: #c44b3b;
$gse-ui-avatar-media-initials-background-overflow-count: #626e84;
$gse-ui-avatar-media-initials-background-add: #ced2fc;
$gse-ui-avatar-media-initials-foreground-default: #1b2c48;
$gse-ui-avatar-media-initials-foreground-inverse: #ffffff;
$gse-ui-avatar-media-initials-foreground-add: #4856cb;
$gse-ui-avatar-hover-modal: #0f1929;
$gse-ui-slider-handle-default: #4856cb;
$gse-ui-slider-handle-hover: #3742a2;
$gse-ui-slider-handle-active: #252e78;
$gse-ui-slider-handle-focus-ring: #7b88f7;
$gse-ui-slider-bar-selected: #4856cb;
$gse-ui-slider-bar-default: #c6c8ce;
$gse-ui-slider-text-default: #1b2c48;
$gse-ui-date-picker-input-typed: #dee1fd;
$gse-ui-time-picker-fucus-background: #7b88f7;
$gse-ui-time-picker-time-suffix: #1b2c48;
$gse-modal-shroud: 80%;
