@mixin tokens {
  --gse-semantic-zIndex-base: 0;
  --gse-semantic-zIndex-showFocus: 1;
  --gse-semantic-zIndex-sticky: 1;
  --gse-semantic-zIndex-popup: 100;
  --gse-semantic-zIndex-popover: 200;
  --gse-semantic-zIndex-tooltip: 200;
  --gse-semantic-zIndex-panel: 300;
  --gse-semantic-zIndex-navbar: 400;
  --gse-semantic-zIndex-sidebar: 400;
  --gse-semantic-zIndex-toast: 500;
  --gse-semantic-zIndex-modal: 600;
  --gse-semantic-opacity-disabled: 0.5;
  --gse-semantic-opacity-shroud: 0.8;
  --gse-semantic-body-sm-regular-fontFamily: Roboto;
  --gse-semantic-body-sm-regular-fontWeight: 400;
  --gse-semantic-body-sm-regular-fontSize: 12px;
  --gse-semantic-body-sm-regular-lineHeight: 18px;
  --gse-semantic-body-sm-link-fontFamily: Roboto;
  --gse-semantic-body-sm-link-fontWeight: 600;
  --gse-semantic-body-sm-link-fontSize: 12px;
  --gse-semantic-body-sm-link-lineHeight: 18px;
  --gse-semantic-body-sm-link-textDecoration: underline;
  --gse-semantic-body-sm-bold-fontFamily: Roboto;
  --gse-semantic-body-sm-bold-fontWeight: 700;
  --gse-semantic-body-sm-bold-fontSize: 12px;
  --gse-semantic-body-sm-bold-lineHeight: 18px;
  --gse-semantic-body-sm-semiBold-fontFamily: Roboto;
  --gse-semantic-body-sm-semiBold-fontWeight: 600;
  --gse-semantic-body-sm-semiBold-fontSize: 12px;
  --gse-semantic-body-sm-semiBold-lineHeight: 18px;
  --gse-semantic-body-md-regular-fontFamily: Roboto;
  --gse-semantic-body-md-regular-fontWeight: 400;
  --gse-semantic-body-md-regular-fontSize: 14px;
  --gse-semantic-body-md-regular-lineHeight: 20px;
  --gse-semantic-body-md-link-fontFamily: Roboto;
  --gse-semantic-body-md-link-fontWeight: 600;
  --gse-semantic-body-md-link-fontSize: 14px;
  --gse-semantic-body-md-link-lineHeight: 20px;
  --gse-semantic-body-md-link-textDecoration: underline;
  --gse-semantic-body-md-bold-fontFamily: Roboto;
  --gse-semantic-body-md-bold-fontWeight: 700;
  --gse-semantic-body-md-bold-fontSize: 14px;
  --gse-semantic-body-md-bold-lineHeight: 20px;
  --gse-semantic-body-md-semiBold-fontFamily: Roboto;
  --gse-semantic-body-md-semiBold-fontWeight: 600;
  --gse-semantic-body-md-semiBold-fontSize: 14px;
  --gse-semantic-body-md-semiBold-lineHeight: 20px;
  --gse-semantic-body-lg-regular-fontFamily: Roboto;
  --gse-semantic-body-lg-regular-fontWeight: 400;
  --gse-semantic-body-lg-regular-fontSize: 16px;
  --gse-semantic-body-lg-regular-lineHeight: 24px;
  --gse-semantic-body-lg-link-fontFamily: Roboto;
  --gse-semantic-body-lg-link-fontWeight: 600;
  --gse-semantic-body-lg-link-fontSize: 16px;
  --gse-semantic-body-lg-link-lineHeight: 24px;
  --gse-semantic-body-lg-link-textDecoration: underline;
  --gse-semantic-body-lg-bold-fontFamily: Roboto;
  --gse-semantic-body-lg-bold-fontWeight: 700;
  --gse-semantic-body-lg-bold-fontSize: 16px;
  --gse-semantic-body-lg-bold-lineHeight: 24px;
  --gse-semantic-body-lg-semiBold-fontFamily: Roboto;
  --gse-semantic-body-lg-semiBold-fontWeight: 600;
  --gse-semantic-body-lg-semiBold-fontSize: 16px;
  --gse-semantic-body-lg-semiBold-lineHeight: 24px;
  --gse-semantic-heading-xs-bold-fontFamily: Roboto;
  --gse-semantic-heading-xs-bold-fontWeight: 700;
  --gse-semantic-heading-xs-bold-fontSize: 14px;
  --gse-semantic-heading-xs-bold-lineHeight: 24px;
  --gse-semantic-heading-xs-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-xs-semiBold-fontWeight: 600;
  --gse-semantic-heading-xs-semiBold-fontSize: 14px;
  --gse-semantic-heading-xs-semiBold-lineHeight: 24px;
  --gse-semantic-heading-sm-bold-fontFamily: Roboto;
  --gse-semantic-heading-sm-bold-fontWeight: 700;
  --gse-semantic-heading-sm-bold-fontSize: 16px;
  --gse-semantic-heading-sm-bold-lineHeight: 24px;
  --gse-semantic-heading-sm-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-sm-semiBold-fontWeight: 600;
  --gse-semantic-heading-sm-semiBold-fontSize: 16px;
  --gse-semantic-heading-sm-semiBold-lineHeight: 24px;
  --gse-semantic-heading-md-bold-fontFamily: Roboto;
  --gse-semantic-heading-md-bold-fontWeight: 700;
  --gse-semantic-heading-md-bold-fontSize: 18px;
  --gse-semantic-heading-md-bold-lineHeight: 27px;
  --gse-semantic-heading-md-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-md-semiBold-fontWeight: 600;
  --gse-semantic-heading-md-semiBold-fontSize: 18px;
  --gse-semantic-heading-md-semiBold-lineHeight: 27px;
  --gse-semantic-heading-lg-bold-fontFamily: Roboto;
  --gse-semantic-heading-lg-bold-fontWeight: 700;
  --gse-semantic-heading-lg-bold-fontSize: 24px;
  --gse-semantic-heading-lg-bold-lineHeight: 32px;
  --gse-semantic-heading-lg-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-lg-semiBold-fontWeight: 600;
  --gse-semantic-heading-lg-semiBold-fontSize: 24px;
  --gse-semantic-heading-lg-semiBold-lineHeight: 32px;
  --gse-semantic-heading-xl-bold-fontFamily: Roboto;
  --gse-semantic-heading-xl-bold-fontWeight: 700;
  --gse-semantic-heading-xl-bold-fontSize: 36px;
  --gse-semantic-heading-xl-bold-lineHeight: 44px;
  --gse-semantic-heading-xl-semiBold-fontFamily: Roboto;
  --gse-semantic-heading-xl-semiBold-fontWeight: 600;
  --gse-semantic-heading-xl-semiBold-fontSize: 36px;
  --gse-semantic-heading-xl-semiBold-lineHeight: 44px;
  --gse-semantic-heading-overline-fontFamily: Roboto;
  --gse-semantic-heading-overline-fontWeight: 600;
  --gse-semantic-heading-overline-fontSize: 12px;
  --gse-semantic-heading-overline-lineHeight: 16px;
  --gse-semantic-heading-overline-textCase: uppercase;
  --gse-semantic-heading-overline-letterSpacing: 1px;
  --gse-semantic-subheading-bold-fontFamily: Roboto;
  --gse-semantic-subheading-bold-fontWeight: 700;
  --gse-semantic-subheading-bold-fontSize: 14px;
  --gse-semantic-subheading-bold-lineHeight: 20px;
  --gse-semantic-subheading-semiBold-fontFamily: Roboto;
  --gse-semantic-subheading-semiBold-fontWeight: 600;
  --gse-semantic-subheading-semiBold-fontSize: 14px;
  --gse-semantic-subheading-semiBold-lineHeight: 20px;
  --gse-semantic-subheading-regular-fontFamily: Roboto;
  --gse-semantic-subheading-regular-fontWeight: 400;
  --gse-semantic-subheading-regular-fontSize: 14px;
  --gse-semantic-subheading-regular-lineHeight: 20px;
  --gse-semantic-interactive-md-size: 32px;
  --gse-semantic-interactive-md-gap: 4px;
  --gse-semantic-interactive-md-padding: 8px;
  --gse-semantic-interactive-sm-size: 24px;
  --gse-semantic-interactive-sm-gap: 2px;
  --gse-semantic-interactive-sm-padding: 4px;
  --gse-semantic-interactive-sm-borderRadius: 4px;
  --gse-semantic-interactive-lg-borderRadius: 4px;
  --gse-semantic-interactive-lg-gap: 8px;
  --gse-semantic-interactive-lg-padding: 12px;
  --gse-semantic-interactive-edges-borderWidth: 1px;
  --gse-semantic-interactive-divider-sm-borderWidth: 1px;
  --gse-semantic-interactive-divider-lg-borderWidth: 2px;
  --gse-semantic-interactive-xl-gap: 12px;
  --gse-semantic-interactive-xl-padding: 16px;
  --gse-semantic-interactive-xl-size: 40px;
  --gse-semantic-interactive-xl-borderRadius: 100%;
  --gse-semantic-interactive-xs-size: 20px;
  --gse-semantic-interactive-xs-padding: 2px;
  --gse-semantic-interactive-xs-height: 20px;
  --gse-semantic-interactive-xs-width: 20px;
  --gse-semantic-interactive-4xl-size: 112px;
  --gse-semantic-focusOutline-full-borderRadius: 100%;
  --gse-semantic-focusOutline-xl-borderRadius: 16px;
  --gse-semantic-focusOutline-lg-borderRadius: 8px;
  --gse-semantic-focusOutline-md-borderRadius: 8px;
  --gse-semantic-focusOutline-md-borderWidth: 2px;
  --gse-semantic-focusOutline-sm-borderRadius: 4px;
  --gse-semantic-focusOutline-sm-borderWidth: 1px;
  --gse-semantic-focusOutline-xs-borderRadius: 4px;
  --gse-semantic-focusOutline-offset: 1px;
  --gse-semantic-container-lg-boxShadow-blur: 8px;
  --gse-semantic-container-lg-boxShadow-spread: 1px;
  --gse-semantic-container-lg-boxShadow-color: rgba(35, 57, 92, 0.15);
  --gse-semantic-container-lg-boxShadow-type: dropShadow;
  --gse-semantic-container-lg-boxShadow-offsetX: 0;
  --gse-semantic-container-lg-boxShadow-offsetY: 0;
  --gse-semantic-container-lg-borderRadius: 4px;
  --gse-semantic-container-lg-gap: 16px;
  --gse-semantic-container-lg-padding: 24px;
  --gse-semantic-container-lg-height: 40px;
  --gse-semantic-container-md-boxShadow-blur: 6px;
  --gse-semantic-container-md-boxShadow-spread: 1px;
  --gse-semantic-container-md-boxShadow-color: rgba(35, 57, 92, 0.12);
  --gse-semantic-container-md-boxShadow-type: dropShadow;
  --gse-semantic-container-md-boxShadow-offsetX: 0;
  --gse-semantic-container-md-boxShadow-offsetY: 0;
  --gse-semantic-container-md-gap: 12px;
  --gse-semantic-container-md-borderRadius: 4px;
  --gse-semantic-container-md-height: 32px;
  --gse-semantic-container-md-padding: 16px;
  --gse-semantic-container-xl-gap: 24px;
  --gse-semantic-container-xl-padding: 32px;
  --gse-semantic-container-xl-height: 48px;
  --gse-semantic-container-sm-boxShadow-blur: 4px;
  --gse-semantic-container-sm-boxShadow-spread: 1px;
  --gse-semantic-container-sm-boxShadow-color: rgba(35, 57, 92, 0.1);
  --gse-semantic-container-sm-boxShadow-type: dropShadow;
  --gse-semantic-container-sm-boxShadow-offsetX: 0;
  --gse-semantic-container-sm-boxShadow-offsetY: 0;
  --gse-semantic-container-sm-borderRadius: 4px;
  --gse-semantic-container-sm-gap: 8px;
  --gse-semantic-container-sm-padding: 12px;
  --gse-semantic-container-sm-minHeight: 20px;
  --gse-semantic-container-sm-height: 32px;
  --gse-semantic-container-xs-gap: 4px;
  --gse-semantic-container-xs-padding: 8px;
  --gse-semantic-container-xs-minHeight: 16px;
  --gse-semantic-container-xs-height: 20px;
  --gse-semantic-container-edges-borderWidth: 1px;
  --gse-semantic-container-divider-borderWidth: 1px;
  --gse-semantic-container-emphasis-width: 4px;
  --gse-semantic-container-2xs-gap: 2px;
  --gse-semantic-container-2xs-padding: 2px;
  --gse-semantic-container-2xs-size: 12px;
  --gse-semantic-container-full-borderRadius: 100%;
  --gse-semantic-container-3xs-size: 8px;
  --gse-semantic-container-4xs-size: 4px;
  --gse-semantic-formControl-form-maxWidth: 600px;
  --gse-semantic-formControl-form-margin: 24px;
  --gse-semantic-formControl-formBody-paddingBottom: 32px;
  --gse-semantic-formControl-formBody-gap: 16px;
  --gse-semantic-formControl-textInput-lg-borderRadius: 4px;
  --gse-semantic-formControl-textInput-sm-borderRadius: 4px;
  --gse-semantic-formControl-textInput-md-borderRadius: 4px;
  --gse-semantic-formControl-textInput-edges-borderWidth: 1px;
  --gse-semantic-formControl-textInput-divider-borderWidth: 1px;
  --gse-semantic-formControl-field-textInput-small-padding: 8px;
  --gse-semantic-formControl-field-textInput-gap: 12px;
  --gse-semantic-formControl-field-textInput-md-height: 32px;
  --gse-semantic-formControl-field-textInput-medium-padding: 12px;
  --gse-semantic-formControl-field-textInput-minWidth: 48px;
  --gse-semantic-formControl-field-textInput-lg-height: 98px;
  --gse-semantic-formControl-field-gap: 4px;
  --gse-semantic-formControl-field-padding: 8px;
  --gse-semantic-formControl-field-clickInput-gap: 8px;
  --gse-semantic-formControl-field-clickInput-padding: 4px;
  --gse-semantic-formControl-field-clickInput-md-size: 32px;
  --gse-semantic-formControl-field-clickInput-sm-size: 16px;
  --gse-semantic-formControl-field-groupedInput-gap: 8px;
  --gse-semantic-formControl-clickInput-handle-borderWidth: 2px;
  --gse-semantic-formControl-formHeader-paddingBottom: 20px;
  --gse-semantic-formControl-formHeader-gap: 4px;
  --gse-semantic-formControl-fieldset-paddingBottom: 48px;
  --gse-semantic-formControl-fieldset-header-paddingBottom: 20px;
  --gse-semantic-formControl-fieldset-header-gap: 4px;
  --gse-semantic-assets-lg-size: 32px;
  --gse-semantic-assets-md-size: 24px;
  --gse-semantic-assets-sm-size: 16px;
  --gse-semantic-assets-xl-size: 48px;
  --gse-semantic-assets-xs-size: 8px;
  --gse-semantic-divider-width: 1px;
  --gse-semantic-divider-sm-width: 2px;
  --gse-semantic-divider-sm-height: 20px;
  --gse-semantic-divider-sm-margin: 2px;
  --gse-semantic-divider-xs-margin: 1px;
  --gse-semantic-divider-md-margin: 4px;
  --gse-semantic-divider-md-padding: 0 4px;
  --gse-semantic-divider-lg-margin: 8px;
  --gse-semantic-divider-track-height: 4px;
  --gse-semantic-divider-indicator-width: 2px;
  --gse-semantic-code-sm-regular-fontFamily: 'Noto Sans Mono';
  --gse-semantic-code-sm-regular-fontWeight: 400;
  --gse-semantic-code-sm-regular-fontSize: 12px;
  --gse-semantic-code-sm-regular-lineHeight: 16px;
}
