@mixin tokens {
  --gse-semantic-background-interactive-primary-default: #2a60c8;
  --gse-semantic-background-interactive-primary-hover: #2754ac;
  --gse-semantic-background-interactive-primary-active: #23478f;
  --gse-semantic-background-interactive-secondary-default: #e8ecf2;
  --gse-semantic-background-interactive-secondary-hover: #deeaff;
  --gse-semantic-background-interactive-secondary-active: #e2e6ee;
  --gse-semantic-background-interactive-tertiary-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-tertiary-hover: #2754ac;
  --gse-semantic-background-interactive-tertiary-active: #23478f;
  --gse-semantic-background-interactive-ghost-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-ghost-hover: #deeaff;
  --gse-semantic-background-interactive-ghost-active: #e2e6ee;
  --gse-semantic-background-interactive-subtle-default: #ffffff;
  --gse-semantic-background-interactive-subtle-hover: #deeaff;
  --gse-semantic-background-interactive-subtle-active: #e2e6ee;
  --gse-semantic-background-interactive-danger-default: #ea0b0b;
  --gse-semantic-background-interactive-danger-hover: #8f0707;
  --gse-semantic-background-interactive-danger-active: #520404;
  --gse-semantic-background-interactive-custom-orange: #ff451a;
  --gse-semantic-background-interactive-custom-coral: #ffbec9;
  --gse-semantic-background-interactive-custom-pear: #c6dd98;
  --gse-semantic-background-interactive-custom-mango: #ffd173;
  --gse-semantic-background-interactive-custom-raspberry: #f5bfeb;
  --gse-semantic-background-interactive-custom-azure: #adbff0;
  --gse-semantic-background-interactive-custom-mineral: #bcd6f0;
  --gse-semantic-background-interactive-custom-island: #81cbe5;
  --gse-semantic-background-overlay-shroud-default: #202937a3;
  --gse-semantic-background-container-page-default: #ffffff;
  --gse-semantic-background-container-page-tonalSubtle: #fdfdfd;
  --gse-semantic-background-container-page-tonalMedium: #f6f7f9;
  --gse-semantic-background-container-page-tonalHigh: #deeaff;
  --gse-semantic-background-container-elevated-default: #ffffff;
  --gse-semantic-background-container-elevated-hover: #e8ecf2;
  --gse-semantic-background-container-elevated-active: #e2e6ee;
  --gse-semantic-background-container-elevated-error: #fceaea;
  --gse-semantic-background-container-elevated-header: #fdfdfd;
  --gse-semantic-background-container-elevated-activeSubtle: #deeaff;
  --gse-semantic-background-container-highConstrast-default: #283243;
  --gse-semantic-background-container-highConstrast-hover: #172b52;
  --gse-semantic-background-container-highConstrast-active: #1c3363;
  --gse-semantic-background-container-chatBubble-agent: #f5f6fa;
  --gse-semantic-background-container-chatBubble-costumer: #e6f4fa;
  --gse-semantic-background-container-chatBubble-bot: #ffece8;
  --gse-semantic-background-container-chatBubble-public: #fff4dc;
  --gse-semantic-background-container-chatBubble-digitalConsultation: #eee3ff;
  --gse-semantic-background-container-textHighlight-default: #ffd173;
  --gse-semantic-background-container-transparent: #fff0;
  --gse-semantic-background-container-canvas: #f0f1f5;
  --gse-semantic-background-container-specialAccents-ai-tonalMedium-topLeft: #cdeaf5;
  --gse-semantic-background-container-specialAccents-ai-tonalMedium-bottomRight: #c5bef1;
  --gse-semantic-background-container-specialAccents-ai-tonalSubtle-topLeft: #ebf7fb;
  --gse-semantic-background-container-specialAccents-ai-tonalSubtle-bottomRight: #e8e5fa;
  --gse-semantic-background-system-error-tonalMedium: #fceaea;
  --gse-semantic-background-system-error-tonalHigh: #ea0b0b;
  --gse-semantic-background-system-error-tonalSubtle: #fceaea;
  --gse-semantic-background-system-warning-tonalMedium: #fdf8ec;
  --gse-semantic-background-system-warning-tonalHigh: #ffae00;
  --gse-semantic-background-system-warning-tonalSubtle: #fdf8ec;
  --gse-semantic-background-system-success-tonalMedium: #eefcea;
  --gse-semantic-background-system-success-tonalHigh: #95c189;
  --gse-semantic-background-system-success-tonalSubtle: #eefcea;
  --gse-semantic-background-system-info-tonalMedium: #deeaff;
  --gse-semantic-background-system-info-tonalHigh: #2a60c8;
  --gse-semantic-background-system-info-tonalSubtle: #deeaff;
  --gse-semantic-background-system-primary-tonalMedium: #deeaff;
  --gse-semantic-background-system-primary-tonalHigh: #2a60c8;
  --gse-semantic-background-system-primary-tonalSubtle: #deeaff;
  --gse-semantic-background-system-customAccents-bold-accent_1: #203b73;
  --gse-semantic-background-system-customAccents-bold-accent_2: #23478f;
  --gse-semantic-background-system-customAccents-bold-accent_3: #b5b5eb;
  --gse-semantic-background-system-customAccents-bold-accent_4: #205a10;
  --gse-semantic-background-system-customAccents-bold-accent_5: #151d28;
  --gse-semantic-background-system-customAccents-bold-accent_6: #75a8ff;
  --gse-semantic-background-system-customAccents-bold-accent_7: #8452cf;
  --gse-semantic-background-system-customAccents-bold-accent_8: #5e5782;
  --gse-semantic-background-system-customAccents-bold-accent_9: #ff8fdd;
  --gse-semantic-background-system-customAccents-bold-accent_10: #755000;
  --gse-semantic-background-system-customAccents-bold-accent_11: #ddd933;
  --gse-semantic-background-system-customAccents-bold-accent_12: #ffef27;
  --gse-semantic-background-system-customAccents-bold-accent_13: #75a8ff;
  --gse-semantic-background-system-customAccents-subtle-accent_1: #bbbfd4;
  --gse-semantic-background-system-customAccents-subtle-accent_2: #d9e4ff;
  --gse-semantic-background-system-customAccents-subtle-accent_3: #e9e8f9;
  --gse-semantic-background-system-customAccents-subtle-accent_4: #c2deb9;
  --gse-semantic-background-system-customAccents-subtle-accent_5: #c8cfda;
  --gse-semantic-background-system-customAccents-subtle-accent_6: #d9e4ff;
  --gse-semantic-background-system-customAccents-subtle-accent_7: #dcc9f2;
  --gse-semantic-background-system-customAccents-subtle-accent_8: #cdc9d8;
  --gse-semantic-background-system-customAccents-subtle-accent_9: #ffdff5;
  --gse-semantic-background-system-customAccents-subtle-accent_10: #fcd276;
  --gse-semantic-background-system-customAccents-subtle-accent_11: #f8f3c6;
  --gse-semantic-background-system-customAccents-subtle-accent_12: #fff793;
  --gse-semantic-background-system-progressAndLoading-default: #deeaff;
  --gse-semantic-background-system-progressAndLoading-progressed: #2a60c8;
  --gse-semantic-background-system-status-available: #09b581;
  --gse-semantic-background-system-status-busy: #e22245;
  --gse-semantic-background-system-status-away: #f8c73e;
  --gse-semantic-background-system-status-onQueue: #2143a2;
  --gse-semantic-background-system-status-offline: #848891;
  --gse-semantic-background-system-status-outOfOffice: #b74ba4;
  --gse-semantic-background-system-status-availableReduced: #9de1cd;
  --gse-semantic-background-system-status-busyReduced: #f3a7b5;
  --gse-semantic-background-system-status-awayReduced: #fce9b2;
  --gse-semantic-background-system-status-onQueueReduced: #a6b4da;
  --gse-semantic-background-system-status-offlineReduced: #cecfd3;
  --gse-semantic-background-system-status-outOfOfficeReduced: #e2b7db;
  --gse-semantic-background-system-status-notification: #ff451a;
  --gse-semantic-background-formControl-clickInput-track: #6b7585;
  --gse-semantic-background-formControl-textInput-track: #f6f7f9;
  --gse-semantic-background-formControl-search-matchingText-firstLevel: #ffef27;
  --gse-semantic-background-formControl-search-matchingText-subsequentLevel: #fff793;
  --gse-semantic-foreground-interactive-primary-default: #ffffff;
  --gse-semantic-foreground-interactive-primary-active: #ffffff;
  --gse-semantic-foreground-interactive-primary-hover: #ffffff;
  --gse-semantic-foreground-interactive-secondary-default: #2e394c;
  --gse-semantic-foreground-interactive-secondary-active: #2e394c;
  --gse-semantic-foreground-interactive-secondary-hover: #2e394c;
  --gse-semantic-foreground-interactive-tertiary-default: #2e394c;
  --gse-semantic-foreground-interactive-tertiary-active: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-hover: #ffffff;
  --gse-semantic-foreground-interactive-ghost-default: #2e394c;
  --gse-semantic-foreground-interactive-ghost-active: #2e394c;
  --gse-semantic-foreground-interactive-ghost-hover: #2e394c;
  --gse-semantic-foreground-interactive-subtle-default: #3e4a5b;
  --gse-semantic-foreground-interactive-subtle-active: #2e394c;
  --gse-semantic-foreground-interactive-subtle-hover: #2e394c;
  --gse-semantic-foreground-interactive-danger-default: #ffffff;
  --gse-semantic-foreground-interactive-danger-active: #ffffff;
  --gse-semantic-foreground-interactive-danger-hover: #ffffff;
  --gse-semantic-foreground-interactive-link-default: #2a60c8;
  --gse-semantic-foreground-interactive-link-active: #23478f;
  --gse-semantic-foreground-interactive-link-hover: #2754ac;
  --gse-semantic-foreground-interactive-link-visited: #8452cf;
  --gse-semantic-foreground-interactive-indicator-default: #75a8ff;
  --gse-semantic-foreground-container-highEmphasis: #2e394c;
  --gse-semantic-foreground-container-midEmphasis: #3e4a5b;
  --gse-semantic-foreground-container-lowEmphasis: #4c5667;
  --gse-semantic-foreground-container-highContrast-highEmphasis: #ffffff;
  --gse-semantic-foreground-container-highContrast-midEmphasis: #eff1f5;
  --gse-semantic-foreground-container-highContrast-lowEmphasis: #b4bccb;
  --gse-semantic-foreground-container-specialAccents-ai: #8a5ecc;
  --gse-semantic-foreground-container-specialAccents-brand: #ff451a;
  --gse-semantic-foreground-container-specialAccents-brandSecondary: #141929;
  --gse-semantic-foreground-container-specialAccents-aiGradient-topLeft: #28afe0;
  --gse-semantic-foreground-container-specialAccents-aiGradient-bottomRight: #6e5ddb;
  --gse-semantic-foreground-system-customAccents-light: #ffffff;
  --gse-semantic-foreground-system-customAccents-dark: #2e394c;
  --gse-semantic-foreground-system-progressAndLoading-default: #2e394c;
  --gse-semantic-foreground-system-progressAndLoading-progressed: #ffffff;
  --gse-semantic-foreground-system-info-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-info-accent: #2a60c8;
  --gse-semantic-foreground-system-success-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-success-accent: #3c8527;
  --gse-semantic-foreground-system-warning-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-warning-accent: #ffae00;
  --gse-semantic-foreground-system-error-highEmphasis: #2e394c;
  --gse-semantic-foreground-system-error-accent: #ea0b0b;
  --gse-semantic-foreground-system-icon-default: #2e394c;
  --gse-semantic-foreground-system-indicators-positive: #3c8527;
  --gse-semantic-foreground-system-indicators-negative: #ea0b0b;
  --gse-semantic-foreground-system-indicators-neutral: #4c5667;
  --gse-semantic-foreground-formControl-helpText-default: #4c5667;
  --gse-semantic-foreground-formControl-helpText-error: #ea0b0b;
  --gse-semantic-foreground-formControl-textInput-placeholder: #4c5667;
  --gse-semantic-foreground-formControl-textInput-populated: #2e394c;
  --gse-semantic-foreground-formControl-textInput-icon: #4c5667;
  --gse-semantic-foreground-formControl-clickInput-enabled: #6b7585;
  --gse-semantic-foreground-formControl-clickInput-selected: #2a60c8;
  --gse-semantic-foreground-formControl-clickInput-hover: #2754ac;
  --gse-semantic-foreground-formControl-clickInput-active: #23478f;
  --gse-semantic-foreground-formControl-clickInput-error: #ea0b0b;
  --gse-semantic-foreground-formControl-label-default: #2e394c;
  --gse-semantic-foreground-formControl-label-requiredAccent: #ea0b0b;
  --gse-semantic-foreground-formControl-label-optionalAccent: #3e4a5b;
  --gse-semantic-foreground-formControl-label-tooltip: #3e4a5b;
  --gse-semantic-foreground-formControl-search-matchingText: #2a2a2e;
  --gse-semantic-border-focus: #aac9ff;
  --gse-semantic-border-container-divider: #b4bccb;
  --gse-semantic-border-container-edges-defaultLight: #b4bccb;
  --gse-semantic-border-container-edges-default: #b4bccb;
  --gse-semantic-border-container-edges-hover: #75a8ff;
  --gse-semantic-border-container-edges-error: #ea0b0b;
  --gse-semantic-border-container-edges-enabled: #2a60c8;
  --gse-semantic-border-container-edges-active: #2a60c8;
  --gse-semantic-border-container-edges-highEmphasis: #2e394c;
  --gse-semantic-border-container-edges-dataTable-default: #e2e6ee;
  --gse-semantic-border-container-edges-lowEmphasis: #6a6d75;
  --gse-semantic-border-container-edges-midEmphasis: #829ce5;
  --gse-semantic-border-container-highConstrast-default: #6a6d75;
  --gse-semantic-border-container-highConstrast-enabled: #2a60c8;
  --gse-semantic-border-container-highConstrast-hover: #23478f;
  --gse-semantic-border-container-highConstrast-active: #2a60c8;
  --gse-semantic-border-container-specialAccents-ai-topLeft: #28afe0;
  --gse-semantic-border-container-specialAccents-ai-bottomRight: #8b7de2;
  --gse-semantic-border-system-info: #75a8ff;
  --gse-semantic-border-system-warning: #fcd276;
  --gse-semantic-border-system-success: #95c189;
  --gse-semantic-border-system-error: #f37a7a;
  --gse-semantic-border-system-primary: #75a8ff;
  --gse-semantic-border-interactive-primary-divider: #ffffff;
  --gse-semantic-border-interactive-secondary-divider: #ffffff;
  --gse-semantic-border-interactive-tertiary-divider: #2a60c8;
  --gse-semantic-border-interactive-danger-divider: #ffffff;
  --gse-semantic-border-formControl-textInput-default: #6b7585;
  --gse-semantic-border-formControl-textInput-hover: #2754ac;
  --gse-semantic-border-formControl-textInput-active: #2a60c8;
  --gse-semantic-border-formControl-textInput-error: #ea0b0b;
  --gse-semantic-container-lg-boxShadow: 0 0 8px 1px #28324326;
  --gse-semantic-container-md-boxShadow: 0 0 6px 1px #28324326;
  --gse-semantic-container-sm-boxShadow: 0 0 4px 1px #28324326;
  --gse-semantic-effects-boxShadow: #28324326;
  --gse-semantic-charts-categoricalData-category1-default: #056385;
  --gse-semantic-charts-categoricalData-category1-shading: #82b1c2;
  --gse-semantic-charts-categoricalData-category2-default: #5798d9;
  --gse-semantic-charts-categoricalData-category2-shading: #abccec;
  --gse-semantic-charts-categoricalData-category3-default: #ac75ff;
  --gse-semantic-charts-categoricalData-category3-shading: #d5baff;
  --gse-semantic-charts-categoricalData-category4-default: #89387b;
  --gse-semantic-charts-categoricalData-category4-shading: #c49bbd;
  --gse-semantic-charts-categoricalData-category5-default: #ff5c77;
  --gse-semantic-charts-categoricalData-category5-shading: #ffadbb;
  --gse-semantic-charts-categoricalData-category6-default: #ffb5a3;
  --gse-semantic-charts-categoricalData-category6-shading: #ffdad1;
  --gse-semantic-charts-categoricalData-category7-default: #ffc650;
  --gse-semantic-charts-categoricalData-category7-shading: #ffe3a7;
  --gse-semantic-charts-categoricalData-category8-default: #c6dd98;
  --gse-semantic-charts-categoricalData-category8-shading: #e3eecc;
  --gse-semantic-charts-categoricalData-category9-default: #54c6ab;
  --gse-semantic-charts-categoricalData-category9-shading: #aae3d5;
  --gse-semantic-charts-categoricalData-category10-default: #263b73;
  --gse-semantic-charts-categoricalData-category10-shading: #939db9;
  --gse-semantic-charts-categoricalData-subtle-default: #cad1e1;
  --gse-semantic-charts-numericalData-singleColor-level1: #cdeaf5;
  --gse-semantic-charts-numericalData-singleColor-level2: #9fd6ea;
  --gse-semantic-charts-numericalData-singleColor-level3: #81cbe5;
  --gse-semantic-charts-numericalData-singleColor-level4: #53bee5;
  --gse-semantic-charts-numericalData-singleColor-level5: #28afe0;
  --gse-semantic-charts-numericalData-singleColor-level6: #1589b2;
  --gse-semantic-charts-numericalData-singleColor-level7: #056385;
  --gse-semantic-charts-numericalData-singleColor-level8: #04445c;
  --gse-semantic-charts-numericalData-singleColor-level9: #002533;
  --gse-semantic-charts-numericalData-singleColor-level10: #052a38;
  --gse-semantic-charts-numericalData-multiColor-green: #81cbe5;
  --gse-semantic-charts-numericalData-multiColor-red: #ff9dad;
  --gse-semantic-charts-numericalData-multiColor-yellow: #ffdd96;
  --gse-semantic-charts-numericalData-highEmphasisInverse: #ffffff;
  --gse-semantic-charts-numericalData-highEmphasis: #2a2a2e;
  --gse-semantic-charts-foreground-highEmphasis: #2a2a2e;
  --gse-semantic-charts-foreground-highEmphasisInverse: #ffffff;
  --gse-semantic-charts-foreground-midEmphasis: #4f5157;
  --gse-semantic-charts-border-axis: #b2b7c4;
  --gse-semantic-charts-border-grid-default: #ebedf5;
  --gse-semantic-charts-border-grid-hover: #c1c6d4;
  --gse-semantic-charts-targetLine-default: #ff8f76;
  --gse-semantic-charts-pointFill-default: #ffffff;
  --gse-semantic-charts-stroke-default: #ffffff;
  --gse-semantic-charts-background-placeholder-default: #ebedf5;
  --gse-semantic-charts-track-default: #ebedf5;
  --gse-semantic-charts-sparkline-mono: #2754ac;
  --gse-semantic-charts-sparkline-negative: #ea0b0b;
  --gse-semantic-charts-sparkline-positive: #95c189;
  --gse-semantic-charts-sparkline-neutral: #75a8ff;
  --gse-semantic-charts-sparkline-trendline: #deeaff;
}
