@mixin tokens {
  --gse-semantic-theme-fontFamily-headings: Urbanist;
  --gse-semantic-theme-fontFamily-body: 'Noto Sans';
  --gse-semantic-theme-fontFamily-code-body: 'Noto Sans Mono';
  --gse-semantic-theme-background-container-primary-10: #ffffff;
  --gse-semantic-theme-background-container-primary-20: #f5f6fa;
  --gse-semantic-theme-background-container-primary-30: #ebedf5;
  --gse-semantic-theme-background-container-primary-40: #eff3ff;
  --gse-semantic-theme-background-container-primary-50: #d5def7;
  --gse-semantic-theme-background-container-primary-60: #adbff0;
  --gse-semantic-theme-background-container-secondary-10: #2143a2;
  --gse-semantic-theme-background-container-secondary-20: #19327a;
  --gse-semantic-theme-background-container-secondary-30: #102251;
  --gse-semantic-theme-background-container-tertiary-10: rgba(0, 0, 0, 0);
  --gse-semantic-theme-background-container-tertiary-20: #c1c6d4;
  --gse-semantic-theme-background-container-highContrast-10: #2a2a2e;
  --gse-semantic-theme-background-container-highContrast-20: #0c193d;
  --gse-semantic-theme-background-container-highContrast-30: #081129;
  --gse-semantic-theme-background-container-highContrast-40: #131315;
  --gse-semantic-theme-background-formControl-input-10: #ffffff;
  --gse-semantic-theme-background-formControl-input-20: #c1c6d4;
  --gse-semantic-theme-background-overlay-10: #263b73cc;
  --gse-semantic-theme-background-system-primary-10: #d5def7;
  --gse-semantic-theme-background-system-primary-20: #829ce5;
  --gse-semantic-theme-background-system-primary-30: #2954cb;
  --gse-semantic-theme-background-system-primary-40: #19327a;
  --gse-semantic-theme-background-system-primary-50: #0c193d;
  --gse-semantic-theme-background-system-info-5: #f0f1f5;
  --gse-semantic-theme-background-system-info-10: #dfe3ec;
  --gse-semantic-theme-background-system-info-20: #9faac6;
  --gse-semantic-theme-background-system-info-30: #3d538f;
  --gse-semantic-theme-background-system-info-40: #263b73;
  --gse-semantic-theme-background-system-info-50: #141c34;
  --gse-semantic-theme-background-system-success-5: #cef0e6;
  --gse-semantic-theme-background-system-success-10: #9de1cd;
  --gse-semantic-theme-background-system-success-20: #6bd3b3;
  --gse-semantic-theme-background-system-success-30: #09b581;
  --gse-semantic-theme-background-system-success-35: #079167;
  --gse-semantic-theme-background-system-success-40: #056d4d;
  --gse-semantic-theme-background-system-success-50: #033627;
  --gse-semantic-theme-background-system-warning-5: #fef4d8;
  --gse-semantic-theme-background-system-warning-10: #fce9b2;
  --gse-semantic-theme-background-system-warning-20: #fbdd8b;
  --gse-semantic-theme-background-system-warning-30: #f8c73e;
  --gse-semantic-theme-background-system-warning-40: #9a7b25;
  --gse-semantic-theme-background-system-warning-50: #3d300c;
  --gse-semantic-theme-background-system-error-5: #f9d3da;
  --gse-semantic-theme-background-system-error-10: #f3a7b5;
  --gse-semantic-theme-background-system-error-20: #ee7a8f;
  --gse-semantic-theme-background-system-error-30: #e22245;
  --gse-semantic-theme-background-system-error-40: #881429;
  --gse-semantic-theme-background-system-error-50: #440a15;
  --gse-semantic-theme-background-customAccents-bold-10: #263b73;
  --gse-semantic-theme-background-customAccents-bold-20: #596ea6;
  --gse-semantic-theme-background-customAccents-bold-30: #3ac49a;
  --gse-semantic-theme-background-customAccents-bold-40: #056385;
  --gse-semantic-theme-background-customAccents-bold-50: #607732;
  --gse-semantic-theme-background-customAccents-bold-60: #467aae;
  --gse-semantic-theme-background-customAccents-bold-70: #8a5ecc;
  --gse-semantic-theme-background-customAccents-bold-80: #89387b;
  --gse-semantic-theme-background-customAccents-bold-90: #ff5c77;
  --gse-semantic-theme-background-customAccents-bold-100: #992910;
  --gse-semantic-theme-background-customAccents-bold-110: #ffc650;
  --gse-semantic-theme-background-customAccents-bold-120: #81cbe5;
  --gse-semantic-theme-background-customAccents-bold-130: #5798d9;
  --gse-semantic-theme-background-customAccents-subtle-10: #9faac6;
  --gse-semantic-theme-background-customAccents-subtle-20: #b2b7c4;
  --gse-semantic-theme-background-customAccents-subtle-30: #9de1cd;
  --gse-semantic-theme-background-customAccents-subtle-40: #81cbe5;
  --gse-semantic-theme-background-customAccents-subtle-50: #c6dd98;
  --gse-semantic-theme-background-customAccents-subtle-60: #9ac1e8;
  --gse-semantic-theme-background-customAccents-subtle-70: #cdacff;
  --gse-semantic-theme-background-customAccents-subtle-80: #ef9ee1;
  --gse-semantic-theme-background-customAccents-subtle-90: #ff9dad;
  --gse-semantic-theme-background-customAccents-subtle-100: #ffb5a3;
  --gse-semantic-theme-background-customAccents-subtle-110: #ffdd96;
  --gse-semantic-theme-background-customAccents-subtle-120: #9fd6ea;
  --gse-semantic-theme-background-customAccents-colorSwatch-10: #ff451a;
  --gse-semantic-theme-background-customAccents-colorSwatch-20: #ffbec9;
  --gse-semantic-theme-background-customAccents-colorSwatch-30: #c6dd98;
  --gse-semantic-theme-background-customAccents-colorSwatch-40: #ffd173;
  --gse-semantic-theme-background-customAccents-colorSwatch-50: #f5bfeb;
  --gse-semantic-theme-background-customAccents-colorSwatch-60: #adbff0;
  --gse-semantic-theme-background-customAccents-colorSwatch-70: #bcd6f0;
  --gse-semantic-theme-background-customAccents-colorSwatch-80: #81cbe5;
  --gse-semantic-theme-background-customAccents-status-10: #09b581;
  --gse-semantic-theme-background-customAccents-status-20: #e22245;
  --gse-semantic-theme-background-customAccents-status-30: #f8c73e;
  --gse-semantic-theme-background-customAccents-status-40: #2143a2;
  --gse-semantic-theme-background-customAccents-status-50: #848891;
  --gse-semantic-theme-background-customAccents-status-60: #b74ba4;
  --gse-semantic-theme-background-customAccents-status-70: #ff451a;
  --gse-semantic-theme-foreground-primary-10: #4f5157;
  --gse-semantic-theme-foreground-primary-20: #3e4044;
  --gse-semantic-theme-foreground-primary-30: #2a2a2e;
  --gse-semantic-theme-foreground-secondary-10: #ffffff;
  --gse-semantic-theme-foreground-secondary-20: #848891;
  --gse-semantic-theme-foreground-secondary-30: #6a6d75;
  --gse-semantic-theme-foreground-tertiary-10: #2143a2;
  --gse-semantic-theme-foreground-tertiary-20: #19327a;
  --gse-semantic-theme-foreground-tertiary-30: #102251;
  --gse-semantic-theme-foreground-tertiary-05: #5476d5;
  --gse-semantic-theme-foreground-highContrast-10: #ffffff;
  --gse-semantic-theme-foreground-highContrast-20: #dce1ed;
  --gse-semantic-theme-foreground-highContrast-30: #c1c6d4;
  --gse-semantic-theme-foreground-system-primary-10: #2954cb;
  --gse-semantic-theme-foreground-system-info-10: #3d538f;
  --gse-semantic-theme-foreground-system-success-10: #079167;
  --gse-semantic-theme-foreground-system-warning-10: #9a7b25;
  --gse-semantic-theme-foreground-system-error-10: #b51b37;
  --gse-semantic-theme-foreground-specialAccents-brand-10: #ff451a;
  --gse-semantic-theme-foreground-specialAccents-ai-10: #8a5ecc;
  --gse-semantic-theme-foreground-link-10: #2143a2;
  --gse-semantic-theme-foreground-link-20: #19327a;
  --gse-semantic-theme-foreground-link-30: #102251;
  --gse-semantic-theme-foreground-link-40: #3d538f;
  --gse-semantic-theme-foreground-icon-10: #4f5157;
  --gse-semantic-theme-foreground-formControl-clickInput-10: #2143a2;
  --gse-semantic-theme-foreground-formControl-clickInput-20: #19327a;
  --gse-semantic-theme-foreground-formControl-clickInput-30: #102251;
  --gse-semantic-theme-foreground-formControl-clickInput-50: #a3a8b5;
  --gse-semantic-theme-border-focus-10: #5476d5;
  --gse-semantic-theme-border-divider-10: #ffffff;
  --gse-semantic-theme-border-divider-20: #c1c6d4;
  --gse-semantic-theme-border-divider-30: #2143a2;
  --gse-semantic-theme-border-edges-default-10: #c1c6d4;
  --gse-semantic-theme-border-edges-default-20: #4f5157;
  --gse-semantic-theme-border-edges-default-30: #3e4044;
  --gse-semantic-theme-border-edges-default-05: #cad1e1;
  --gse-semantic-theme-border-edges-enabled-10: #2143a2;
  --gse-semantic-theme-border-edges-hover-10: #5476d5;
  --gse-semantic-theme-border-edges-hover-20: #102251;
  --gse-semantic-theme-border-edges-active-10: #19327a;
  --gse-semantic-theme-border-edges-emphasis-default: #6a6d75;
  --gse-semantic-theme-border-system-primary-10: #829ce5;
  --gse-semantic-theme-border-system-info-10: #bfc6d9;
  --gse-semantic-theme-border-system-success-10: #9de1cd;
  --gse-semantic-theme-border-system-warning-10: #fce9b2;
  --gse-semantic-theme-border-system-error-10: #f3a7b5;
  --gse-semantic-theme-border-system-error-20: #e22245;
  --gse-semantic-theme-border-inputs-default-10: #a3a8b5;
  --gse-semantic-theme-border-inputs-hover-10: #19327a;
  --gse-semantic-theme-border-inputs-active-10: #102251;
  --gse-semantic-theme-borderRadius-interactive-xlarge: 100%;
  --gse-semantic-theme-borderRadius-interactive-large: 16px;
  --gse-semantic-theme-borderRadius-interactive-small: 4px;
  --gse-semantic-theme-borderRadius-interactive-2xl: 16px;
  --gse-semantic-theme-borderRadius-container-large: 16px;
  --gse-semantic-theme-borderRadius-container-medium: 8px;
  --gse-semantic-theme-borderRadius-container-small: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-large: 8px;
  --gse-semantic-theme-borderRadius-formControl-input-medium: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-small: 2px;
  --gse-semantic-theme-borderRadius-focus-full: 100%;
  --gse-semantic-theme-borderRadius-focus-xlarge: 20px;
  --gse-semantic-theme-borderRadius-focus-large: 16px;
  --gse-semantic-theme-borderRadius-focus-medium: 8px;
  --gse-semantic-theme-borderRadius-focus-small: 4px;
  --gse-semantic-theme-borderRadius-focus-xsmall: 2px;
  --gse-semantic-theme-borderRadius-focus-2xl: 16px;
}
