@mixin tokens {
  --gse-core-spacing-5xs: 2px;
  --gse-core-spacing-4xs: 4px;
  --gse-core-spacing-3xs: 8px;
  --gse-core-spacing-2xs: 12px;
  --gse-core-spacing-xs: 16px;
  --gse-core-spacing-sm: 20px;
  --gse-core-spacing-md: 24px;
  --gse-core-spacing-lg: 32px;
  --gse-core-spacing-xl: 40px;
  --gse-core-spacing-2xl: 48px;
  --gse-core-spacing-6xs: 1px;
  --gse-core-zIndex-0: 0;
  --gse-core-zIndex-1: 1;
  --gse-core-zIndex-100: 100;
  --gse-core-zIndex-200: 200;
  --gse-core-zIndex-300: 300;
  --gse-core-zIndex-400: 400;
  --gse-core-zIndex-500: 500;
  --gse-core-zIndex-600: 600;
  --gse-core-borderRadius-none: 0;
  --gse-core-borderRadius-xs: 2px;
  --gse-core-borderRadius-sm: 4px;
  --gse-core-borderRadius-md: 8px;
  --gse-core-borderRadius-lg: 16px;
  --gse-core-borderRadius-xl: 20px;
  --gse-core-borderRadius-full: 100%;
  --gse-core-color-white: #ffffff;
  --gse-core-color-black: #000000;
  --gse-core-color-transparent: rgba(0, 0, 0, 0);
  --gse-core-color-mineral-100: #ddeaf7;
  --gse-core-color-mineral-200: #cde0f4;
  --gse-core-color-mineral-300: #bcd6f0;
  --gse-core-color-mineral-400: #9ac1e8;
  --gse-core-color-mineral-500: #79ade1;
  --gse-core-color-mineral-600: #5798d9;
  --gse-core-color-mineral-700: #467aae;
  --gse-core-color-mineral-800: #345b82;
  --gse-core-color-mineral-900: #233d57;
  --gse-core-color-mineral-1000: #1a2e41;
  --gse-core-color-plum-100: #eee3ff;
  --gse-core-color-plum-200: #e6d6ff;
  --gse-core-color-plum-300: #dec8ff;
  --gse-core-color-plum-400: #cdacff;
  --gse-core-color-plum-500: #bd91ff;
  --gse-core-color-plum-600: #ac75ff;
  --gse-core-color-plum-700: #8a5ecc;
  --gse-core-color-plum-800: #674699;
  --gse-core-color-plum-900: #452f66;
  --gse-core-color-plum-1000: #34234d;
  --gse-core-color-raspberry-100: #fadff5;
  --gse-core-color-raspberry-200: #f7cff0;
  --gse-core-color-raspberry-300: #f5bfeb;
  --gse-core-color-raspberry-400: #ef9ee1;
  --gse-core-color-raspberry-500: #ea7ed7;
  --gse-core-color-raspberry-600: #e55ecd;
  --gse-core-color-raspberry-700: #b74ba4;
  --gse-core-color-raspberry-800: #89387b;
  --gse-core-color-raspberry-900: #5c2652;
  --gse-core-color-raspberry-1000: #451c3e;
  --gse-core-color-coral-100: #ffdee4;
  --gse-core-color-coral-200: #ffced6;
  --gse-core-color-coral-300: #ffbec9;
  --gse-core-color-coral-400: #ff9dad;
  --gse-core-color-coral-500: #ff7d92;
  --gse-core-color-coral-600: #ff5c77;
  --gse-core-color-coral-700: #cc4a5f;
  --gse-core-color-coral-800: #993747;
  --gse-core-color-coral-900: #662530;
  --gse-core-color-coral-1000: #4d1c24;
  --gse-core-color-mango-100: #fff4dc;
  --gse-core-color-mango-200: #ffeeca;
  --gse-core-color-mango-300: #ffe8b9;
  --gse-core-color-mango-400: #ffdd96;
  --gse-core-color-mango-500: #ffd173;
  --gse-core-color-mango-600: #ffc650;
  --gse-core-color-mango-700: #cc9e40;
  --gse-core-color-mango-800: #997730;
  --gse-core-color-mango-900: #664f20;
  --gse-core-color-mango-1000: #4d3b18;
  --gse-core-color-pear-100: #edf5df;
  --gse-core-color-pear-200: #e3eecc;
  --gse-core-color-pear-300: #d9e8bb;
  --gse-core-color-pear-400: #c6dd98;
  --gse-core-color-pear-500: #b3d176;
  --gse-core-color-pear-600: #a0c654;
  --gse-core-color-pear-700: #809e43;
  --gse-core-color-pear-800: #607732;
  --gse-core-color-pear-900: #404f22;
  --gse-core-color-pear-1000: #303b19;
  --gse-core-color-jade-100: #dff5f0;
  --gse-core-color-jade-200: #cceee6;
  --gse-core-color-jade-300: #bbe8de;
  --gse-core-color-jade-400: #98ddcd;
  --gse-core-color-jade-500: #76d1bc;
  --gse-core-color-jade-600: #54c6ab;
  --gse-core-color-jade-700: #439e89;
  --gse-core-color-jade-800: #327767;
  --gse-core-color-jade-900: #224f45;
  --gse-core-color-jade-1000: #193b33;
  --gse-core-color-pepper-100: #f9d3da;
  --gse-core-color-pepper-200: #f3a7b5;
  --gse-core-color-pepper-300: #ee7a8f;
  --gse-core-color-pepper-400: #e84e6a;
  --gse-core-color-pepper-500: #e22245;
  --gse-core-color-pepper-600: #b51b37;
  --gse-core-color-pepper-700: #881429;
  --gse-core-color-pepper-800: #5a0e1c;
  --gse-core-color-pepper-900: #440a15;
  --gse-core-color-pepper-1000: #2d070e;
  --gse-core-color-honey-100: #fef4d8;
  --gse-core-color-honey-200: #fce9b2;
  --gse-core-color-honey-300: #fbdd8b;
  --gse-core-color-honey-400: #f9d265;
  --gse-core-color-honey-500: #f8c73e;
  --gse-core-color-honey-600: #c9a132;
  --gse-core-color-honey-700: #9a7b25;
  --gse-core-color-honey-800: #6c5619;
  --gse-core-color-honey-900: #3d300c;
  --gse-core-color-honey-1000: #251d06;
  --gse-core-color-emerald-100: #cef0e6;
  --gse-core-color-emerald-200: #9de1cd;
  --gse-core-color-emerald-300: #6bd3b3;
  --gse-core-color-emerald-400: #3ac49a;
  --gse-core-color-emerald-500: #09b581;
  --gse-core-color-emerald-600: #079167;
  --gse-core-color-emerald-700: #056d4d;
  --gse-core-color-emerald-800: #044834;
  --gse-core-color-emerald-900: #033627;
  --gse-core-color-emerald-1000: #02241a;
  --gse-core-color-violet-100: #e2dff8;
  --gse-core-color-violet-200: #c5bef1;
  --gse-core-color-violet-300: #a89ee9;
  --gse-core-color-violet-400: #8b7de2;
  --gse-core-color-violet-500: #6e5ddb;
  --gse-core-color-violet-600: #594bb2;
  --gse-core-color-violet-700: #443989;
  --gse-core-color-violet-800: #2e275f;
  --gse-core-color-violet-900: #241e4b;
  --gse-core-color-violet-1000: #191536;
  --gse-core-color-genesysNavy-50: #f0f1f5;
  --gse-core-color-genesysNavy-100: #dfe3ec;
  --gse-core-color-genesysNavy-200: #bfc6d9;
  --gse-core-color-genesysNavy-300: #9faac6;
  --gse-core-color-genesysNavy-400: #808db2;
  --gse-core-color-genesysNavy-500: #596ea6;
  --gse-core-color-genesysNavy-600: #3d538f;
  --gse-core-color-genesysNavy-700: #263b73;
  --gse-core-color-genesysNavy-800: #152550;
  --gse-core-color-genesysNavy-900: #141c34;
  --gse-core-color-genesysNavy-950: #141929;
  --gse-core-color-genesysNavy-1000: #0f1219;
  --gse-core-color-island-50: #e6f4fa;
  --gse-core-color-island-100: #cdeaf5;
  --gse-core-color-island-200: #9fd6ea;
  --gse-core-color-island-300: #81cbe5;
  --gse-core-color-island-400: #53bee5;
  --gse-core-color-island-500: #28afe0;
  --gse-core-color-island-600: #1589b2;
  --gse-core-color-island-700: #056385;
  --gse-core-color-island-800: #04445c;
  --gse-core-color-island-900: #003447;
  --gse-core-color-island-950: #002533;
  --gse-core-color-island-1000: #00161f;
  --gse-core-color-genesysOrange-50: #ffece8;
  --gse-core-color-genesysOrange-100: #ffdad1;
  --gse-core-color-genesysOrange-200: #ffb5a3;
  --gse-core-color-genesysOrange-300: #ff8f76;
  --gse-core-color-genesysOrange-400: #ff6a48;
  --gse-core-color-genesysOrange-500: #ff451a;
  --gse-core-color-genesysOrange-600: #cc3715;
  --gse-core-color-genesysOrange-700: #992910;
  --gse-core-color-genesysOrange-800: #661c0a;
  --gse-core-color-genesysOrange-900: #4d1508;
  --gse-core-color-genesysOrange-950: #330e05;
  --gse-core-color-genesysOrange-1000: #1a0703;
  --gse-core-color-azureBlue-50: #eff3ff;
  --gse-core-color-azureBlue-100: #d5def7;
  --gse-core-color-azureBlue-200: #adbff0;
  --gse-core-color-azureBlue-300: #829ce5;
  --gse-core-color-azureBlue-400: #5476d5;
  --gse-core-color-azureBlue-500: #2954cb;
  --gse-core-color-azureBlue-600: #2143a2;
  --gse-core-color-azureBlue-700: #19327a;
  --gse-core-color-azureBlue-800: #102251;
  --gse-core-color-azureBlue-900: #0c193d;
  --gse-core-color-azureBlue-950: #081129;
  --gse-core-color-azureBlue-1000: #040814;
  --gse-core-color-haze-50: #f5f6fa;
  --gse-core-color-haze-100: #ebedf5;
  --gse-core-color-haze-150: #dce1ed;
  --gse-core-color-haze-200: #cad1e1;
  --gse-core-color-haze-300: #c1c6d4;
  --gse-core-color-haze-400: #b2b7c4;
  --gse-core-color-haze-500: #a3a8b5;
  --gse-core-color-haze-600: #848891;
  --gse-core-color-haze-700: #6a6d75;
  --gse-core-color-haze-800: #4f5157;
  --gse-core-color-haze-850: #3e4044;
  --gse-core-color-haze-900: #2a2a2e;
  --gse-core-color-haze-950: #1e1e21;
  --gse-core-color-haze-1000: #131315;
  --gse-core-fontFamily-roboto: Roboto;
  --gse-core-fontFamily-urbanist: Urbanist;
  --gse-core-fontFamily-notoSans: 'Noto Sans';
  --gse-core-fontFamily-notoSansMono: 'Noto Sans Mono';
  --gse-core-fontSize-xs: 12px;
  --gse-core-fontSize-sm: 14px;
  --gse-core-fontSize-md: 16px;
  --gse-core-fontSize-lg: 18px;
  --gse-core-fontSize-xl: 24px;
  --gse-core-fontSize-xxl: 36px;
  --gse-core-fontWeight-regular: 400;
  --gse-core-fontWeight-semiBold: 600;
  --gse-core-fontWeight-bold: 700;
  --gse-core-lineHeight-2xs: 16px;
  --gse-core-lineHeight-xs: 18px;
  --gse-core-lineHeight-sm: 20px;
  --gse-core-lineHeight-md: 24px;
  --gse-core-lineHeight-lg: 27px;
  --gse-core-lineHeight-xl: 32px;
  --gse-core-lineHeight-2xl: 44px;
  --gse-core-lineHeight-matchFontSize: 1;
  --gse-core-elevation-low-blur: 4px;
  --gse-core-elevation-low-spread: 1px;
  --gse-core-elevation-low-color: rgba(35, 57, 92, 0.1);
  --gse-core-elevation-low-type: dropShadow;
  --gse-core-elevation-low-offsetX: 0;
  --gse-core-elevation-low-offsetY: 0;
  --gse-core-elevation-medium-blur: 6px;
  --gse-core-elevation-medium-spread: 1px;
  --gse-core-elevation-medium-color: rgba(35, 57, 92, 0.12);
  --gse-core-elevation-medium-type: dropShadow;
  --gse-core-elevation-medium-offsetX: 0;
  --gse-core-elevation-medium-offsetY: 0;
  --gse-core-elevation-high-blur: 8px;
  --gse-core-elevation-high-spread: 1px;
  --gse-core-elevation-high-color: rgba(35, 57, 92, 0.15);
  --gse-core-elevation-high-type: dropShadow;
  --gse-core-elevation-high-offsetX: 0;
  --gse-core-elevation-high-offsetY: 0;
  --gse-core-size-5xs: 2px;
  --gse-core-size-4xs: 4px;
  --gse-core-size-xs: 16px;
  --gse-core-size-sm: 20px;
  --gse-core-size-md: 24px;
  --gse-core-size-lg: 32px;
  --gse-core-size-xl: 40px;
  --gse-core-size-2xl: 48px;
  --gse-core-size-3xl: 98px;
  --gse-core-size-2xs: 12px;
  --gse-core-size-3xs: 8px;
  --gse-core-size-6xs: 1px;
  --gse-core-textDecoration-underline: underline;
  --gse-core-colorLegacy-blue-10: #172b52;
  --gse-core-colorLegacy-blue-20: #1c3363;
  --gse-core-colorLegacy-blue-30: #203b73;
  --gse-core-colorLegacy-blue-40: #23478f;
  --gse-core-colorLegacy-blue-50: #2754ac;
  --gse-core-colorLegacy-blue-60: #2a60c8;
  --gse-core-colorLegacy-blue-70: #5084e3;
  --gse-core-colorLegacy-blue-80: #75a8ff;
  --gse-core-colorLegacy-blue-90: #aac9ff;
  --gse-core-colorLegacy-blue-100: #deeaff;
  --gse-core-colorLegacy-black-10: #000000;
  --gse-core-colorLegacy-black-20: #151d28;
  --gse-core-colorLegacy-black-30: #202937;
  --gse-core-colorLegacy-black-40: #283243;
  --gse-core-colorLegacy-black-50: #2e394c;
  --gse-core-colorLegacy-black-60: #364154;
  --gse-core-colorLegacy-black-70: #3e4a5b;
  --gse-core-colorLegacy-black-80: #4c5667;
  --gse-core-colorLegacy-black-90: #596373;
  --gse-core-colorLegacy-black-100: #6b7585;
  --gse-core-colorLegacy-grey-10: #8a97ad;
  --gse-core-colorLegacy-grey-20: #99a4b8;
  --gse-core-colorLegacy-grey-30: #b4bccb;
  --gse-core-colorLegacy-grey-40: #c8cfda;
  --gse-core-colorLegacy-grey-50: #d7dce5;
  --gse-core-colorLegacy-grey-60: #e2e6ee;
  --gse-core-colorLegacy-grey-70: #e8ecf2;
  --gse-core-colorLegacy-grey-80: #eff1f5;
  --gse-core-colorLegacy-grey-90: #f6f7f9;
  --gse-core-colorLegacy-grey-100: #fdfdfd;
  --gse-core-colorLegacy-red-10: #520404;
  --gse-core-colorLegacy-red-20: #700505;
  --gse-core-colorLegacy-red-30: #8f0707;
  --gse-core-colorLegacy-red-40: #ad0808;
  --gse-core-colorLegacy-red-50: #cc0a0a;
  --gse-core-colorLegacy-red-60: #ea0b0b;
  --gse-core-colorLegacy-red-70: #ef4343;
  --gse-core-colorLegacy-red-80: #f37a7a;
  --gse-core-colorLegacy-red-90: #f8b2b2;
  --gse-core-colorLegacy-red-100: #fceaea;
  --gse-core-colorLegacy-green-10: #0d3d00;
  --gse-core-colorLegacy-green-20: #164b08;
  --gse-core-colorLegacy-green-30: #205a10;
  --gse-core-colorLegacy-green-40: #296817;
  --gse-core-colorLegacy-green-50: #33771f;
  --gse-core-colorLegacy-green-60: #3c8527;
  --gse-core-colorLegacy-green-70: #69a358;
  --gse-core-colorLegacy-green-80: #95c189;
  --gse-core-colorLegacy-green-90: #c2deb9;
  --gse-core-colorLegacy-green-100: #eefcea;
  --gse-core-colorLegacy-yellow-10: #523800;
  --gse-core-colorLegacy-yellow-20: #755000;
  --gse-core-colorLegacy-yellow-30: #976700;
  --gse-core-colorLegacy-yellow-40: #ba7f00;
  --gse-core-colorLegacy-yellow-50: #dc9600;
  --gse-core-colorLegacy-yellow-60: #ffae00;
  --gse-core-colorLegacy-yellow-70: #fbbe3b;
  --gse-core-colorLegacy-yellow-80: #fcd276;
  --gse-core-colorLegacy-yellow-90: #fce5b1;
  --gse-core-colorLegacy-yellow-100: #fdf8ec;
  --gse-core-colorLegacy-yellow-110: #fff793;
  --gse-core-colorLegacy-yellow-120: #ffef27;
  --gse-core-colorLegacy-secondary-yellowGreen: #ddd933;
  --gse-core-colorLegacy-secondary-oliveGreen: #868c1e;
  --gse-core-colorLegacy-secondary-aquaGreen: #1da8b3;
  --gse-core-colorLegacy-secondary-pink: #ff8fdd;
  --gse-core-colorLegacy-secondary-fuchsia: #cc3ebe;
  --gse-core-colorLegacy-secondary-lilac: #b5b5eb;
  --gse-core-colorLegacy-secondary-plum: #5e5782;
  --gse-core-colorLegacy-secondary-electricPurple: #8452cf;
  --gse-core-colorLegacy-secondary-genesysBlue: #75a8ff;
  --gse-core-colorLegacy-secondary-navy: #203b73;
  --gse-core-colorLegacy-dataVisualization-yellowGreen: #f8f3c6;
  --gse-core-colorLegacy-dataVisualization-oliveGreen: #dcdbbb;
  --gse-core-colorLegacy-dataVisualization-aquaGreen: #c7e5e8;
  --gse-core-colorLegacy-dataVisualization-pink: #ffdff5;
  --gse-core-colorLegacy-dataVisualization-fuchsia: #f4c9ec;
  --gse-core-colorLegacy-dataVisualization-lilac: #e9e8f9;
  --gse-core-colorLegacy-dataVisualization-plum: #cdc9d8;
  --gse-core-colorLegacy-dataVisualization-electricPurple: #dcc9f2;
  --gse-core-colorLegacy-dataVisualization-genesysBlue: #d9e4ff;
  --gse-core-colorLegacy-dataVisualization-navy: #bbbfd4;
  --gse-core-colorLegacy-brand-brandOrange: #ff4f1f;
  --gse-core-colorLegacy-brand-brandTeal: #00ae9e;
  --gse-core-colorLegacy-brand-brandNavy: #23395d;
  --gse-core-colorLegacy-brand-brandLightBlue: #3b90aa;
  --gse-core-colorLegacy-brand-brandYellow: #ff8f14;
  --gse-core-borderWidth-1: 1px;
  --gse-core-borderWidth-2: 2px;
  --gse-core-borderWidth-3: 3px;
  --gse-core-textCase-uppercase: uppercase;
  --gse-core-opacity-0: 0;
  --gse-core-opacity-50: 0.5;
  --gse-core-opacity-80: 0.8;
  --gse-core-letterSpacing-1: 1px;
}
