@mixin tokens {
  --gse-semantic-background-interactive-primary-default: #2143a2;
  --gse-semantic-background-interactive-primary-hover: #19327a;
  --gse-semantic-background-interactive-primary-active: #102251;
  --gse-semantic-background-interactive-secondary-default: #eff3ff;
  --gse-semantic-background-interactive-secondary-hover: #d5def7;
  --gse-semantic-background-interactive-secondary-active: #adbff0;
  --gse-semantic-background-interactive-tertiary-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-tertiary-hover: #19327a;
  --gse-semantic-background-interactive-tertiary-active: #102251;
  --gse-semantic-background-interactive-ghost-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-ghost-hover: #d5def7;
  --gse-semantic-background-interactive-ghost-active: #adbff0;
  --gse-semantic-background-interactive-subtle-default: #ffffff;
  --gse-semantic-background-interactive-subtle-hover: #d5def7;
  --gse-semantic-background-interactive-subtle-active: #adbff0;
  --gse-semantic-background-interactive-danger-default: #e22245;
  --gse-semantic-background-interactive-danger-hover: #881429;
  --gse-semantic-background-interactive-danger-active: #440a15;
  --gse-semantic-background-interactive-custom-orange: #ff8f76;
  --gse-semantic-background-interactive-custom-coral: #ffbec9;
  --gse-semantic-background-interactive-custom-pear: #c6dd98;
  --gse-semantic-background-interactive-custom-mango: #ffd173;
  --gse-semantic-background-interactive-custom-raspberry: #f5bfeb;
  --gse-semantic-background-interactive-custom-azure: #adbff0;
  --gse-semantic-background-interactive-custom-mineral: #bcd6f0;
  --gse-semantic-background-interactive-custom-island: #81cbe5;
  --gse-semantic-background-overlay-shroud-default: #263b73cc;
  --gse-semantic-background-container-page-default: #ffffff;
  --gse-semantic-background-container-page-tonalSubtle: #f5f6fa;
  --gse-semantic-background-container-page-tonalMedium: #ebedf5;
  --gse-semantic-background-container-page-tonalHigh: #d5def7;
  --gse-semantic-background-container-elevated-default: #ffffff;
  --gse-semantic-background-container-elevated-hover: #eff3ff;
  --gse-semantic-background-container-elevated-active: #adbff0;
  --gse-semantic-background-container-elevated-error: #f3a7b5;
  --gse-semantic-background-container-elevated-header: #f5f6fa;
  --gse-semantic-background-container-highConstrast-default: #2a2a2e;
  --gse-semantic-background-container-highConstrast-hover: #081129;
  --gse-semantic-background-container-highConstrast-active: #0c193d;
  --gse-semantic-background-system-error-tonalMedium: #f3a7b5;
  --gse-semantic-background-system-error-tonalHigh: #e22245;
  --gse-semantic-background-system-error-tonalSubtle: #f9d3da;
  --gse-semantic-background-system-warning-tonalMedium: #fce9b2;
  --gse-semantic-background-system-warning-tonalHigh: #f8c73e;
  --gse-semantic-background-system-warning-tonalSubtle: #fef4d8;
  --gse-semantic-background-system-success-tonalMedium: #9de1cd;
  --gse-semantic-background-system-success-tonalHigh: #09b581;
  --gse-semantic-background-system-success-tonalSubtle: #cef0e6;
  --gse-semantic-background-system-info-tonalMedium: #dfe3ec;
  --gse-semantic-background-system-info-tonalHigh: #3d538f;
  --gse-semantic-background-system-info-tonalSubtle: #f0f1f5;
  --gse-semantic-background-system-primary-tonalMedium: #d5def7;
  --gse-semantic-background-system-primary-tonalHigh: #2954cb;
  --gse-semantic-background-system-primary-tonalSubtle: #d5def7;
  --gse-semantic-background-system-customAccents-bold-accent_1: #263b73;
  --gse-semantic-background-system-customAccents-bold-accent_2: #596ea6;
  --gse-semantic-background-system-customAccents-bold-accent_3: #54c6ab;
  --gse-semantic-background-system-customAccents-bold-accent_4: #056385;
  --gse-semantic-background-system-customAccents-bold-accent_5: #607732;
  --gse-semantic-background-system-customAccents-bold-accent_6: #467aae;
  --gse-semantic-background-system-customAccents-bold-accent_7: #8a5ecc;
  --gse-semantic-background-system-customAccents-bold-accent_8: #89387b;
  --gse-semantic-background-system-customAccents-bold-accent_9: #ff5c77;
  --gse-semantic-background-system-customAccents-bold-accent_10: #992910;
  --gse-semantic-background-system-customAccents-bold-accent_11: #ffc650;
  --gse-semantic-background-system-customAccents-bold-accent_12: #81cbe5;
  --gse-semantic-background-system-customAccents-bold-accent_13: #5798d9;
  --gse-semantic-background-system-customAccents-subtle-accent_1: #9faac6;
  --gse-semantic-background-system-customAccents-subtle-accent_2: #b2b7c4;
  --gse-semantic-background-system-customAccents-subtle-accent_3: #cceee6;
  --gse-semantic-background-system-customAccents-subtle-accent_4: #81cbe5;
  --gse-semantic-background-system-customAccents-subtle-accent_5: #c6dd98;
  --gse-semantic-background-system-customAccents-subtle-accent_6: #9ac1e8;
  --gse-semantic-background-system-customAccents-subtle-accent_7: #cdacff;
  --gse-semantic-background-system-customAccents-subtle-accent_8: #ef9ee1;
  --gse-semantic-background-system-customAccents-subtle-accent_9: #ff9dad;
  --gse-semantic-background-system-customAccents-subtle-accent_10: #ffb5a3;
  --gse-semantic-background-system-customAccents-subtle-accent_11: #ffdd96;
  --gse-semantic-background-system-customAccents-subtle-accent_12: #9fd6ea;
  --gse-semantic-background-system-progressAndLoading-default: #d5def7;
  --gse-semantic-background-system-progressAndLoading-progressed: #2143a2;
  --gse-semantic-background-system-status-available: #09b581;
  --gse-semantic-background-system-status-busy: #e22245;
  --gse-semantic-background-system-status-away: #f8c73e;
  --gse-semantic-background-system-status-onQueue: #2143a2;
  --gse-semantic-background-system-status-offline: #848891;
  --gse-semantic-background-system-status-outOfOffice: #b74ba4;
  --gse-semantic-background-system-status-notification: #ff451a;
  --gse-semantic-background-formControl-clickInput-track: #c1c6d4;
  --gse-semantic-background-formControl-textInput-track: #ffffff;
  --gse-semantic-background-formControl-search-matchingText-firstLevel: #81cbe5;
  --gse-semantic-background-formControl-search-matchingText-subsequentLevel: #9fd6ea;
  --gse-semantic-foreground-interactive-primary-default: #ffffff;
  --gse-semantic-foreground-interactive-primary-active: #ffffff;
  --gse-semantic-foreground-interactive-primary-hover: #ffffff;
  --gse-semantic-foreground-interactive-secondary-default: #2143a2;
  --gse-semantic-foreground-interactive-secondary-active: #102251;
  --gse-semantic-foreground-interactive-secondary-hover: #19327a;
  --gse-semantic-foreground-interactive-tertiary-default: #2143a2;
  --gse-semantic-foreground-interactive-tertiary-active: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-hover: #ffffff;
  --gse-semantic-foreground-interactive-ghost-default: #2143a2;
  --gse-semantic-foreground-interactive-ghost-active: #102251;
  --gse-semantic-foreground-interactive-ghost-hover: #19327a;
  --gse-semantic-foreground-interactive-subtle-default: #4f5157;
  --gse-semantic-foreground-interactive-subtle-active: #2a2a2e;
  --gse-semantic-foreground-interactive-subtle-hover: #3e4044;
  --gse-semantic-foreground-interactive-danger-default: #ffffff;
  --gse-semantic-foreground-interactive-danger-active: #ffffff;
  --gse-semantic-foreground-interactive-danger-hover: #ffffff;
  --gse-semantic-foreground-interactive-link-default: #2143a2;
  --gse-semantic-foreground-interactive-link-active: #102251;
  --gse-semantic-foreground-interactive-link-hover: #19327a;
  --gse-semantic-foreground-interactive-link-visited: #3d538f;
  --gse-semantic-foreground-interactive-indicator-default: #5476d5;
  --gse-semantic-foreground-container-highEmphasis: #2a2a2e;
  --gse-semantic-foreground-container-midEmphasis: #4f5157;
  --gse-semantic-foreground-container-lowEmphasis: #6a6d75;
  --gse-semantic-foreground-container-highContrast-highEmphasis: #ffffff;
  --gse-semantic-foreground-container-highContrast-midEmphasis: #dce1ed;
  --gse-semantic-foreground-container-highContrast-lowEmphasis: #c1c6d4;
  --gse-semantic-foreground-container-specialAccents-ai: #1589b2;
  --gse-semantic-foreground-container-specialAccents-brand: #ff451a;
  --gse-semantic-foreground-system-customAccents-light: #ffffff;
  --gse-semantic-foreground-system-customAccents-dark: #2a2a2e;
  --gse-semantic-foreground-system-progressAndLoading-default: #3e4044;
  --gse-semantic-foreground-system-progressAndLoading-progressed: #ffffff;
  --gse-semantic-foreground-system-info-highEmphasis: #2a2a2e;
  --gse-semantic-foreground-system-info-accent: #3d538f;
  --gse-semantic-foreground-system-success-highEmphasis: #2a2a2e;
  --gse-semantic-foreground-system-success-accent: #079167;
  --gse-semantic-foreground-system-warning-highEmphasis: #2a2a2e;
  --gse-semantic-foreground-system-warning-accent: #9a7b25;
  --gse-semantic-foreground-system-error-highEmphasis: #2a2a2e;
  --gse-semantic-foreground-system-error-accent: #b51b37;
  --gse-semantic-foreground-system-icon-default: #4f5157;
  --gse-semantic-foreground-formControl-helpText-default: #6a6d75;
  --gse-semantic-foreground-formControl-helpText-error: #b51b37;
  --gse-semantic-foreground-formControl-textInput-placeholder: #6a6d75;
  --gse-semantic-foreground-formControl-textInput-populated: #2a2a2e;
  --gse-semantic-foreground-formControl-textInput-icon: #6a6d75;
  --gse-semantic-foreground-formControl-clickInput-enabled: #a3a8b5;
  --gse-semantic-foreground-formControl-clickInput-selected: #2143a2;
  --gse-semantic-foreground-formControl-clickInput-hover: #19327a;
  --gse-semantic-foreground-formControl-clickInput-active: #102251;
  --gse-semantic-foreground-formControl-clickInput-error: #b51b37;
  --gse-semantic-foreground-formControl-label-default: #2a2a2e;
  --gse-semantic-foreground-formControl-label-requiredAccent: #b51b37;
  --gse-semantic-foreground-formControl-label-optionalAccent: #4f5157;
  --gse-semantic-foreground-formControl-label-tooltip: #4f5157;
  --gse-semantic-foreground-formControl-search-matchingText: #2a2a2e;
  --gse-semantic-border-focus: #5476d5;
  --gse-semantic-border-container-divider: #dce1ed;
  --gse-semantic-border-container-edges-defaultLight: #bfc6d9;
  --gse-semantic-border-container-edges-default: #c1c6d4;
  --gse-semantic-border-container-edges-hover: #5476d5;
  --gse-semantic-border-container-edges-error: #e22245;
  --gse-semantic-border-container-edges-enabled: #2143a2;
  --gse-semantic-border-container-edges-active: #19327a;
  --gse-semantic-border-container-edges-highEmphasis: #3e4044;
  --gse-semantic-border-container-edges-dataTable-default: #cad1e1;
  --gse-semantic-border-container-edges-lowEmphasis: #6a6d75;
  --gse-semantic-border-container-edges-midEmphasis: #829ce5;
  --gse-semantic-border-container-highConstrast-default: #6a6d75;
  --gse-semantic-border-container-highConstrast-enabled: #2143a2;
  --gse-semantic-border-container-highConstrast-hover: #102251;
  --gse-semantic-border-container-highConstrast-active: #19327a;
  --gse-semantic-border-system-info: #bfc6d9;
  --gse-semantic-border-system-warning: #fce9b2;
  --gse-semantic-border-system-success: #9de1cd;
  --gse-semantic-border-system-error: #f3a7b5;
  --gse-semantic-border-system-primary: #829ce5;
  --gse-semantic-border-interactive-primary-divider: #ffffff;
  --gse-semantic-border-interactive-secondary-divider: #ffffff;
  --gse-semantic-border-interactive-tertiary-divider: #2143a2;
  --gse-semantic-border-interactive-danger-divider: #ffffff;
  --gse-semantic-border-formControl-textInput-default: #a3a8b5;
  --gse-semantic-border-formControl-textInput-hover: #19327a;
  --gse-semantic-border-formControl-textInput-active: #102251;
  --gse-semantic-border-formControl-textInput-error: #e22245;
  --gse-semantic-container-lg-boxShadow-blur: 8px;
  --gse-semantic-container-lg-boxShadow-spread: 1px;
  --gse-semantic-container-lg-boxShadow-color: #2a2a2e26;
  --gse-semantic-container-lg-boxShadow-type: dropShadow;
  --gse-semantic-container-lg-boxShadow-offsetX: 0;
  --gse-semantic-container-lg-boxShadow-offsetY: 0;
  --gse-semantic-container-md-boxShadow-blur: 6px;
  --gse-semantic-container-md-boxShadow-spread: 1px;
  --gse-semantic-container-md-boxShadow-color: #2a2a2e26;
  --gse-semantic-container-md-boxShadow-type: dropShadow;
  --gse-semantic-container-md-boxShadow-offsetX: 0;
  --gse-semantic-container-md-boxShadow-offsetY: 0;
  --gse-semantic-container-sm-boxShadow-blur: 4px;
  --gse-semantic-container-sm-boxShadow-spread: 1px;
  --gse-semantic-container-sm-boxShadow-color: #2a2a2e26;
  --gse-semantic-container-sm-boxShadow-type: dropShadow;
  --gse-semantic-container-sm-boxShadow-offsetX: 0;
  --gse-semantic-container-sm-boxShadow-offsetY: 0;
  --gse-semantic-effects-boxShadow: #2a2a2e26;
}
