@mixin tokens {
  --gse-semantic-background-interactive-primary-default: #2143a2;
  --gse-semantic-background-interactive-primary-hover: #19327a;
  --gse-semantic-background-interactive-primary-active: #102251;
  --gse-semantic-background-interactive-secondary-default: #465066;
  --gse-semantic-background-interactive-secondary-hover: #475675;
  --gse-semantic-background-interactive-secondary-active: #354a72;
  --gse-semantic-background-interactive-tertiary-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-tertiary-hover: #19327a;
  --gse-semantic-background-interactive-tertiary-active: #102251;
  --gse-semantic-background-interactive-ghost-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-ghost-hover: #475675;
  --gse-semantic-background-interactive-ghost-active: #354a72;
  --gse-semantic-background-interactive-subtle-default: #131315;
  --gse-semantic-background-interactive-subtle-hover: #475675;
  --gse-semantic-background-interactive-subtle-active: #354a72;
  --gse-semantic-background-interactive-danger-default: #881429;
  --gse-semantic-background-interactive-danger-hover: #e22245;
  --gse-semantic-background-interactive-danger-active: #440a15;
  --gse-semantic-background-interactive-custom-orange: #992910;
  --gse-semantic-background-interactive-custom-coral: #662530;
  --gse-semantic-background-interactive-custom-pear: #404f22;
  --gse-semantic-background-interactive-custom-mango: #664f20;
  --gse-semantic-background-interactive-custom-raspberry: #5c2652;
  --gse-semantic-background-interactive-custom-azure: #102251;
  --gse-semantic-background-interactive-custom-mineral: #233d57;
  --gse-semantic-background-interactive-custom-island: #003447;
  --gse-semantic-background-overlay-shroud-default: #040814a3;
  --gse-semantic-background-container-page-default: #2a2a2e;
  --gse-semantic-background-container-page-tonalSubtle: #1e1e21;
  --gse-semantic-background-container-page-tonalMedium: #131315;
  --gse-semantic-background-container-page-tonalHigh: #475675;
  --gse-semantic-background-container-elevated-default: #2a2a2e;
  --gse-semantic-background-container-elevated-hover: #465066;
  --gse-semantic-background-container-elevated-active: #475675;
  --gse-semantic-background-container-elevated-error: #440a15;
  --gse-semantic-background-container-elevated-header: #3e4044;
  --gse-semantic-background-container-elevated-activeSubtle: #475675;
  --gse-semantic-background-container-highConstrast-default: #ffffff;
  --gse-semantic-background-container-highConstrast-hover: #d5def7;
  --gse-semantic-background-container-highConstrast-active: #adbff0;
  --gse-semantic-background-container-chatBubble-agent: #131315;
  --gse-semantic-background-container-chatBubble-costumer: #002533;
  --gse-semantic-background-container-chatBubble-bot: #2f1007;
  --gse-semantic-background-container-chatBubble-public: #3d300c;
  --gse-semantic-background-container-chatBubble-digitalConsultation: #282136;
  --gse-semantic-background-container-textHighlight-default: #664f20;
  --gse-semantic-background-container-transparent: #2a2a2e00;
  --gse-semantic-background-container-canvas: #141c34;
  --gse-semantic-background-container-specialAccents-ai-tonalMedium-topLeft: #056385;
  --gse-semantic-background-container-specialAccents-ai-tonalMedium-bottomRight: #443989;
  --gse-semantic-background-container-specialAccents-ai-tonalSubtle-topLeft: #313644;
  --gse-semantic-background-container-specialAccents-ai-tonalSubtle-bottomRight: #2f2f44;
  --gse-semantic-background-system-error-tonalMedium: #440a15;
  --gse-semantic-background-system-error-tonalHigh: #881429;
  --gse-semantic-background-system-error-tonalSubtle: #2d070e;
  --gse-semantic-background-system-warning-tonalMedium: #6c5619;
  --gse-semantic-background-system-warning-tonalHigh: #c9a132;
  --gse-semantic-background-system-warning-tonalSubtle: #3d300c;
  --gse-semantic-background-system-success-tonalMedium: #044834;
  --gse-semantic-background-system-success-tonalHigh: #056d4d;
  --gse-semantic-background-system-success-tonalSubtle: #02241a;
  --gse-semantic-background-system-info-tonalMedium: #263b73;
  --gse-semantic-background-system-info-tonalHigh: #3d538f;
  --gse-semantic-background-system-info-tonalSubtle: #141c34;
  --gse-semantic-background-system-primary-tonalMedium: #102251;
  --gse-semantic-background-system-primary-tonalHigh: #2143a2;
  --gse-semantic-background-system-primary-tonalSubtle: #102251;
  --gse-semantic-background-system-customAccents-bold-accent_1: #3d538f;
  --gse-semantic-background-system-customAccents-bold-accent_2: #6a6d75;
  --gse-semantic-background-system-customAccents-bold-accent_3: #327767;
  --gse-semantic-background-system-customAccents-bold-accent_4: #04445c;
  --gse-semantic-background-system-customAccents-bold-accent_5: #607732;
  --gse-semantic-background-system-customAccents-bold-accent_6: #233d57;
  --gse-semantic-background-system-customAccents-bold-accent_7: #674699;
  --gse-semantic-background-system-customAccents-bold-accent_8: #89387b;
  --gse-semantic-background-system-customAccents-bold-accent_9: #993747;
  --gse-semantic-background-system-customAccents-bold-accent_10: #992910;
  --gse-semantic-background-system-customAccents-bold-accent_11: #664f20;
  --gse-semantic-background-system-customAccents-bold-accent_12: #003447;
  --gse-semantic-background-system-customAccents-bold-accent_13: #345b82;
  --gse-semantic-background-system-customAccents-subtle-accent_1: #152550;
  --gse-semantic-background-system-customAccents-subtle-accent_2: #3e4044;
  --gse-semantic-background-system-customAccents-subtle-accent_3: #193b33;
  --gse-semantic-background-system-customAccents-subtle-accent_4: #003447;
  --gse-semantic-background-system-customAccents-subtle-accent_5: #303b19;
  --gse-semantic-background-system-customAccents-subtle-accent_6: #1a2e41;
  --gse-semantic-background-system-customAccents-subtle-accent_7: #34234d;
  --gse-semantic-background-system-customAccents-subtle-accent_8: #451c3e;
  --gse-semantic-background-system-customAccents-subtle-accent_9: #4d1c24;
  --gse-semantic-background-system-customAccents-subtle-accent_10: #661c0a;
  --gse-semantic-background-system-customAccents-subtle-accent_11: #4d3b18;
  --gse-semantic-background-system-customAccents-subtle-accent_12: #003447;
  --gse-semantic-background-system-progressAndLoading-default: #465066;
  --gse-semantic-background-system-progressAndLoading-progressed: #5476d5;
  --gse-semantic-background-system-status-available: #09b581;
  --gse-semantic-background-system-status-busy: #e22245;
  --gse-semantic-background-system-status-away: #f8c73e;
  --gse-semantic-background-system-status-onQueue: #2143a2;
  --gse-semantic-background-system-status-offline: #848891;
  --gse-semantic-background-system-status-outOfOffice: #b74ba4;
  --gse-semantic-background-system-status-notification: #ff451a;
  --gse-semantic-background-formControl-clickInput-track: #848891;
  --gse-semantic-background-formControl-textInput-track: #1e1e21;
  --gse-semantic-background-formControl-search-matchingText-firstLevel: #81cbe5;
  --gse-semantic-background-formControl-search-matchingText-subsequentLevel: #9fd6ea;
  --gse-semantic-foreground-interactive-primary-default: #ffffff;
  --gse-semantic-foreground-interactive-primary-active: #ffffff;
  --gse-semantic-foreground-interactive-primary-hover: #ffffff;
  --gse-semantic-foreground-interactive-secondary-default: #ffffff;
  --gse-semantic-foreground-interactive-secondary-active: #ffffff;
  --gse-semantic-foreground-interactive-secondary-hover: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-default: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-active: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-hover: #ffffff;
  --gse-semantic-foreground-interactive-ghost-default: #ffffff;
  --gse-semantic-foreground-interactive-ghost-active: #ffffff;
  --gse-semantic-foreground-interactive-ghost-hover: #ffffff;
  --gse-semantic-foreground-interactive-subtle-default: #b2b7c4;
  --gse-semantic-foreground-interactive-subtle-active: #ffffff;
  --gse-semantic-foreground-interactive-subtle-hover: #cad1e1;
  --gse-semantic-foreground-interactive-danger-default: #ffffff;
  --gse-semantic-foreground-interactive-danger-active: #ffffff;
  --gse-semantic-foreground-interactive-danger-hover: #ffffff;
  --gse-semantic-foreground-interactive-link-default: #829ce5;
  --gse-semantic-foreground-interactive-link-active: #d5def7;
  --gse-semantic-foreground-interactive-link-hover: #adbff0;
  --gse-semantic-foreground-interactive-link-visited: #808db2;
  --gse-semantic-foreground-interactive-indicator-default: #5476d5;
  --gse-semantic-foreground-container-highEmphasis: #ffffff;
  --gse-semantic-foreground-container-midEmphasis: #b2b7c4;
  --gse-semantic-foreground-container-lowEmphasis: #c1c6d4;
  --gse-semantic-foreground-container-highContrast-highEmphasis: #1e1e21;
  --gse-semantic-foreground-container-highContrast-midEmphasis: #3e4044;
  --gse-semantic-foreground-container-highContrast-lowEmphasis: #4f5157;
  --gse-semantic-foreground-container-specialAccents-ai: #1589b2;
  --gse-semantic-foreground-container-specialAccents-brand: #ff451a;
  --gse-semantic-foreground-container-specialAccents-aiGradient-topLeft: #9fd6ea;
  --gse-semantic-foreground-container-specialAccents-aiGradient-bottomRight: #a89ee9;
  --gse-semantic-foreground-system-customAccents-light: #ffffff;
  --gse-semantic-foreground-system-customAccents-dark: #ffffff;
  --gse-semantic-foreground-system-progressAndLoading-default: #cad1e1;
  --gse-semantic-foreground-system-progressAndLoading-progressed: #ffffff;
  --gse-semantic-foreground-system-info-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-info-accent: #596ea6;
  --gse-semantic-foreground-system-success-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-success-accent: #09b581;
  --gse-semantic-foreground-system-warning-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-warning-accent: #f8c73e;
  --gse-semantic-foreground-system-error-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-error-accent: #e84e6a;
  --gse-semantic-foreground-system-icon-default: #b2b7c4;
  --gse-semantic-foreground-system-indicators-positive: #09b581;
  --gse-semantic-foreground-system-indicators-negative: #e84e6a;
  --gse-semantic-foreground-system-indicators-neutral: #c1c6d4;
  --gse-semantic-foreground-formControl-helpText-default: #c1c6d4;
  --gse-semantic-foreground-formControl-helpText-error: #e84e6a;
  --gse-semantic-foreground-formControl-textInput-placeholder: #c1c6d4;
  --gse-semantic-foreground-formControl-textInput-populated: #ffffff;
  --gse-semantic-foreground-formControl-textInput-icon: #c1c6d4;
  --gse-semantic-foreground-formControl-clickInput-enabled: #848891;
  --gse-semantic-foreground-formControl-clickInput-selected: #5476d5;
  --gse-semantic-foreground-formControl-clickInput-hover: #829ce5;
  --gse-semantic-foreground-formControl-clickInput-active: #adbff0;
  --gse-semantic-foreground-formControl-clickInput-error: #e84e6a;
  --gse-semantic-foreground-formControl-label-default: #ffffff;
  --gse-semantic-foreground-formControl-label-requiredAccent: #e84e6a;
  --gse-semantic-foreground-formControl-label-optionalAccent: #b2b7c4;
  --gse-semantic-foreground-formControl-label-tooltip: #b2b7c4;
  --gse-semantic-foreground-formControl-search-matchingText: #2a2a2e;
  --gse-semantic-border-focus: #5476d5;
  --gse-semantic-border-container-divider: #4f5157;
  --gse-semantic-border-container-edges-default: #4f5157;
  --gse-semantic-border-container-edges-hover: #2954cb;
  --gse-semantic-border-container-edges-error: #881429;
  --gse-semantic-border-container-edges-enabled: #2143a2;
  --gse-semantic-border-container-edges-active: #5476d5;
  --gse-semantic-border-container-edges-highEmphasis: #cad1e1;
  --gse-semantic-border-container-edges-dataTable-default: #3e4044;
  --gse-semantic-border-container-edges-lowEmphasis: #6a6d75;
  --gse-semantic-border-container-edges-midEmphasis: #829ce5;
  --gse-semantic-border-container-highConstrast-default: #c1c6d4;
  --gse-semantic-border-container-highConstrast-enabled: #2143a2;
  --gse-semantic-border-container-highConstrast-hover: #19327a;
  --gse-semantic-border-container-highConstrast-active: #5476d5;
  --gse-semantic-border-container-specialAccents-ai-topLeft: #056385;
  --gse-semantic-border-container-specialAccents-ai-bottomRight: #6e5ddb;
  --gse-semantic-border-system-info: #263b73;
  --gse-semantic-border-system-warning: #6c5619;
  --gse-semantic-border-system-success: #044834;
  --gse-semantic-border-system-error: #5a0e1c;
  --gse-semantic-border-system-primary: #102251;
  --gse-semantic-border-interactive-primary-divider: #1e1e21;
  --gse-semantic-border-interactive-secondary-divider: #1e1e21;
  --gse-semantic-border-interactive-tertiary-divider: #2143a2;
  --gse-semantic-border-interactive-danger-divider: #1e1e21;
  --gse-semantic-border-formControl-textInput-default: #848891;
  --gse-semantic-border-formControl-textInput-hover: #829ce5;
  --gse-semantic-border-formControl-textInput-active: #adbff0;
  --gse-semantic-border-formControl-textInput-error: #e22245;
  --gse-semantic-container-lg-boxShadow: 0 0 8px 1px #000000b3;
  --gse-semantic-container-md-boxShadow: 0 0 6px 1px #000000b3;
  --gse-semantic-container-sm-boxShadow: 0 0 4px 1px #000000b3;
  --gse-semantic-effects-boxShadow: #000000b3;
  --gse-semantic-charts-categoricalData-category1-default: #53bee5;
  --gse-semantic-charts-categoricalData-category1-shading: #4793b0;
  --gse-semantic-charts-categoricalData-category2-default: #467aae;
  --gse-semantic-charts-categoricalData-category2-shading: #3e6389;
  --gse-semantic-charts-categoricalData-category3-default: #ac75ff;
  --gse-semantic-charts-categoricalData-category3-shading: #865fc2;
  --gse-semantic-charts-categoricalData-category4-default: #e55ecd;
  --gse-semantic-charts-categoricalData-category4-shading: #af4f9f;
  --gse-semantic-charts-categoricalData-category5-default: #ff5c77;
  --gse-semantic-charts-categoricalData-category5-shading: #c14d62;
  --gse-semantic-charts-categoricalData-category6-default: #cc3715;
  --gse-semantic-charts-categoricalData-category6-shading: #9d331c;
  --gse-semantic-charts-categoricalData-category7-default: #ffc650;
  --gse-semantic-charts-categoricalData-category7-shading: #c19946;
  --gse-semantic-charts-categoricalData-category8-default: #a0c654;
  --gse-semantic-charts-categoricalData-category8-shading: #7e9949;
  --gse-semantic-charts-categoricalData-category9-default: #54c6ab;
  --gse-semantic-charts-categoricalData-category9-shading: #489987;
  --gse-semantic-charts-categoricalData-category10-default: #3d538f;
  --gse-semantic-charts-categoricalData-category10-shading: #374773;
  --gse-semantic-charts-categoricalData-subtle-default: #848891;
  --gse-semantic-charts-numericalData-singleColor-level1: #e6f4fa;
  --gse-semantic-charts-numericalData-singleColor-level2: #cdeaf5;
  --gse-semantic-charts-numericalData-singleColor-level3: #9fd6ea;
  --gse-semantic-charts-numericalData-singleColor-level4: #81cbe5;
  --gse-semantic-charts-numericalData-singleColor-level5: #53bee5;
  --gse-semantic-charts-numericalData-singleColor-level6: #28afe0;
  --gse-semantic-charts-numericalData-singleColor-level7: #1589b2;
  --gse-semantic-charts-numericalData-singleColor-level8: #056385;
  --gse-semantic-charts-numericalData-singleColor-level9: #04445c;
  --gse-semantic-charts-numericalData-singleColor-level10: #003447;
  --gse-semantic-charts-numericalData-multiColor-green: #53bee5;
  --gse-semantic-charts-numericalData-multiColor-red: #ff7d92;
  --gse-semantic-charts-numericalData-multiColor-yellow: #ffd173;
  --gse-semantic-charts-numericalData-highEmphasis: #2a2a2e;
  --gse-semantic-charts-numericalData-highEmphasisInverse: #ffffff;
  --gse-semantic-charts-foreground-highEmphasis: #ffffff;
  --gse-semantic-charts-foreground-highEmphasisInverse: #2a2a2e;
  --gse-semantic-charts-foreground-midEmphasis: #c1c6d4;
  --gse-semantic-charts-border-axis: #a3a8b5;
  --gse-semantic-charts-border-grid-default: #3e4044;
  --gse-semantic-charts-border-grid-hover: #848891;
  --gse-semantic-charts-targetLine-default: #ff8f76;
  --gse-semantic-charts-pointFill-default: #1e1e21;
  --gse-semantic-charts-stroke-default: #1e1e21;
  --gse-semantic-charts-background-placeholder-default: #3e4044;
  --gse-semantic-charts-track-default: #3e4044;
  --gse-semantic-charts-sparkline-mono: #5476d5;
  --gse-semantic-charts-sparkline-negative: #e84e6a;
  --gse-semantic-charts-sparkline-positive: #09b581;
  --gse-semantic-charts-sparkline-neutral: #808db2;
  --gse-semantic-charts-sparkline-trendline: #6a6d75;
}
