@mixin tokens {
  --gse-semantic-background-interactive-primary-default: #2143a2;
  --gse-semantic-background-interactive-primary-hover: #19327a;
  --gse-semantic-background-interactive-primary-active: #102251;
  --gse-semantic-background-interactive-secondary-default: #3e4044;
  --gse-semantic-background-interactive-secondary-hover: #19327a;
  --gse-semantic-background-interactive-secondary-active: #102251;
  --gse-semantic-background-interactive-tertiary-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-tertiary-hover: #19327a;
  --gse-semantic-background-interactive-tertiary-active: #102251;
  --gse-semantic-background-interactive-ghost-default: rgba(0, 0, 0, 0);
  --gse-semantic-background-interactive-ghost-hover: #19327a;
  --gse-semantic-background-interactive-ghost-active: #102251;
  --gse-semantic-background-interactive-subtle-default: #1e1e21;
  --gse-semantic-background-interactive-subtle-hover: #102251;
  --gse-semantic-background-interactive-subtle-active: #19327a;
  --gse-semantic-background-interactive-danger-default: #881429;
  --gse-semantic-background-interactive-danger-hover: #e22245;
  --gse-semantic-background-interactive-danger-active: #440a15;
  --gse-semantic-background-interactive-custom-tomato: #992910;
  --gse-semantic-background-interactive-custom-coral: #662530;
  --gse-semantic-background-interactive-custom-pear: #404f22;
  --gse-semantic-background-interactive-custom-mango: #664f20;
  --gse-semantic-background-interactive-custom-raspberry: #5c2652;
  --gse-semantic-background-interactive-custom-blueberry: #102251;
  --gse-semantic-background-interactive-custom-mineral: #233d57;
  --gse-semantic-background-interactive-custom-islandaqua: #003447;
  --gse-semantic-background-overlay-shroud-default: #040814cc;
  --gse-semantic-background-container-page-default: #1e1e21;
  --gse-semantic-background-container-page-tonalSubtle: #2a2a2e;
  --gse-semantic-background-container-page-tonalMedium: #2a2a2e;
  --gse-semantic-background-container-page-tonalHigh: #102251;
  --gse-semantic-background-container-elevated-default: #1e1e21;
  --gse-semantic-background-container-elevated-hover: #3e4044;
  --gse-semantic-background-container-elevated-active: #19327a;
  --gse-semantic-background-container-elevated-error: #440a15;
  --gse-semantic-background-container-highConstrast-default: #ffffff;
  --gse-semantic-background-container-highConstrast-hover: #d5def7;
  --gse-semantic-background-container-highConstrast-active: #adbff0;
  --gse-semantic-background-system-error-tonalMedium: #440a15;
  --gse-semantic-background-system-error-tonalHigh: #881429;
  --gse-semantic-background-system-error-tonalSubtle: #2d070e;
  --gse-semantic-background-system-warning-tonalMedium: #6c5619;
  --gse-semantic-background-system-warning-tonalHigh: #c9a132;
  --gse-semantic-background-system-warning-tonalSubtle: #3d300c;
  --gse-semantic-background-system-success-tonalMedium: #044834;
  --gse-semantic-background-system-success-tonalHigh: #056d4d;
  --gse-semantic-background-system-success-tonalSubtle: #02241a;
  --gse-semantic-background-system-info-tonalMedium: #263b73;
  --gse-semantic-background-system-info-tonalHigh: #3d538f;
  --gse-semantic-background-system-info-tonalSubtle: #141c34;
  --gse-semantic-background-system-primary-tonalMedium: #102251;
  --gse-semantic-background-system-primary-tonalHigh: #2143a2;
  --gse-semantic-background-system-primary-tonalSubtle: #102251;
  --gse-semantic-background-system-customAccents-bold-accent_1: #3d538f;
  --gse-semantic-background-system-customAccents-bold-accent_2: #6a6d75;
  --gse-semantic-background-system-customAccents-bold-accent_3: #327767;
  --gse-semantic-background-system-customAccents-bold-accent_4: #04445c;
  --gse-semantic-background-system-customAccents-bold-accent_5: #607732;
  --gse-semantic-background-system-customAccents-bold-accent_6: #233d57;
  --gse-semantic-background-system-customAccents-bold-accent_7: #674699;
  --gse-semantic-background-system-customAccents-bold-accent_8: #89387b;
  --gse-semantic-background-system-customAccents-bold-accent_9: #993747;
  --gse-semantic-background-system-customAccents-bold-accent_10: #992910;
  --gse-semantic-background-system-customAccents-bold-accent_11: #664f20;
  --gse-semantic-background-system-customAccents-bold-accent_12: #003447;
  --gse-semantic-background-system-customAccents-bold-accent_13: #345b82;
  --gse-semantic-background-system-customAccents-subtle-accent_1: #152550;
  --gse-semantic-background-system-customAccents-subtle-accent_2: #3e4044;
  --gse-semantic-background-system-customAccents-subtle-accent_3: #193b33;
  --gse-semantic-background-system-customAccents-subtle-accent_4: #003447;
  --gse-semantic-background-system-customAccents-subtle-accent_5: #303b19;
  --gse-semantic-background-system-customAccents-subtle-accent_6: #1a2e41;
  --gse-semantic-background-system-customAccents-subtle-accent_7: #34234d;
  --gse-semantic-background-system-customAccents-subtle-accent_8: #451c3e;
  --gse-semantic-background-system-customAccents-subtle-accent_9: #4d1c24;
  --gse-semantic-background-system-customAccents-subtle-accent_10: #4d1508;
  --gse-semantic-background-system-customAccents-subtle-accent_11: #4d3b18;
  --gse-semantic-background-system-customAccents-subtle-accent_12: #003447;
  --gse-semantic-background-system-progressAndLoading-default: #3e4044;
  --gse-semantic-background-system-progressAndLoading-progressed: #5476d5;
  --gse-semantic-background-system-status-available: #09b581;
  --gse-semantic-background-system-status-busy: #e22245;
  --gse-semantic-background-system-status-away: #f8c73e;
  --gse-semantic-background-system-status-onQueue: #2143a2;
  --gse-semantic-background-system-status-offline: #848891;
  --gse-semantic-background-system-status-outOfOffice: #b74ba4;
  --gse-semantic-background-system-status-notification: #ff451a;
  --gse-semantic-background-formControl-clickInput-track: #848891;
  --gse-semantic-background-formControl-textInput-track: #1e1e21;
  --gse-semantic-background-formControl-search-matchingText-firstLevel: #81cbe5;
  --gse-semantic-background-formControl-search-matchingText-subsequentLevel: #9fd6ea;
  --gse-semantic-foreground-interactive-primary-default: #ffffff;
  --gse-semantic-foreground-interactive-primary-active: #ffffff;
  --gse-semantic-foreground-interactive-primary-hover: #ffffff;
  --gse-semantic-foreground-interactive-secondary-default: #ffffff;
  --gse-semantic-foreground-interactive-secondary-active: #ffffff;
  --gse-semantic-foreground-interactive-secondary-hover: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-default: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-active: #ffffff;
  --gse-semantic-foreground-interactive-tertiary-hover: #ffffff;
  --gse-semantic-foreground-interactive-ghost-default: #ffffff;
  --gse-semantic-foreground-interactive-ghost-active: #ffffff;
  --gse-semantic-foreground-interactive-ghost-hover: #ffffff;
  --gse-semantic-foreground-interactive-subtle-default: #b2b7c4;
  --gse-semantic-foreground-interactive-subtle-active: #ffffff;
  --gse-semantic-foreground-interactive-subtle-hover: #cad1e1;
  --gse-semantic-foreground-interactive-danger-default: #ffffff;
  --gse-semantic-foreground-interactive-danger-active: #ffffff;
  --gse-semantic-foreground-interactive-danger-hover: #ffffff;
  --gse-semantic-foreground-interactive-link-default: #829ce5;
  --gse-semantic-foreground-interactive-link-active: #d5def7;
  --gse-semantic-foreground-interactive-link-hover: #adbff0;
  --gse-semantic-foreground-interactive-link-visited: #808db2;
  --gse-semantic-foreground-interactive-indicator-default: #5476d5;
  --gse-semantic-foreground-container-highEmphasis: #ffffff;
  --gse-semantic-foreground-container-midEmphasis: #b2b7c4;
  --gse-semantic-foreground-container-lowEmphasis: #c1c6d4;
  --gse-semantic-foreground-container-highContrast-highEmphasis: #1e1e21;
  --gse-semantic-foreground-container-highContrast-midEmphasis: #3e4044;
  --gse-semantic-foreground-container-highContrast-lowEmphasis: #4f5157;
  --gse-semantic-foreground-container-specialAccents-ai: #1589b2;
  --gse-semantic-foreground-container-specialAccents-brand: #ff451a;
  --gse-semantic-foreground-system-customAccents-light: #ffffff;
  --gse-semantic-foreground-system-customAccents-dark: #ffffff;
  --gse-semantic-foreground-system-progressAndLoading-default: #cad1e1;
  --gse-semantic-foreground-system-progressAndLoading-progressed: #ffffff;
  --gse-semantic-foreground-system-info-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-info-accent: #596ea6;
  --gse-semantic-foreground-system-success-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-success-accent: #09b581;
  --gse-semantic-foreground-system-warning-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-warning-accent: #f8c73e;
  --gse-semantic-foreground-system-error-highEmphasis: #ffffff;
  --gse-semantic-foreground-system-error-accent: #e84e6a;
  --gse-semantic-foreground-system-icon-default: #b2b7c4;
  --gse-semantic-foreground-formControl-helpText-default: #c1c6d4;
  --gse-semantic-foreground-formControl-helpText-error: #e84e6a;
  --gse-semantic-foreground-formControl-textInput-placeholder: #c1c6d4;
  --gse-semantic-foreground-formControl-textInput-populated: #ffffff;
  --gse-semantic-foreground-formControl-textInput-icon: #c1c6d4;
  --gse-semantic-foreground-formControl-clickInput-enabled: #848891;
  --gse-semantic-foreground-formControl-clickInput-selected: #5476d5;
  --gse-semantic-foreground-formControl-clickInput-hover: #829ce5;
  --gse-semantic-foreground-formControl-clickInput-active: #adbff0;
  --gse-semantic-foreground-formControl-clickInput-error: #e84e6a;
  --gse-semantic-foreground-formControl-label-default: #ffffff;
  --gse-semantic-foreground-formControl-label-requiredAccent: #e84e6a;
  --gse-semantic-foreground-formControl-label-optionalAccent: #b2b7c4;
  --gse-semantic-foreground-formControl-label-tooltip: #b2b7c4;
  --gse-semantic-foreground-formControl-search-matchingText: #2a2a2e;
  --gse-semantic-border-focus: #5476d5;
  --gse-semantic-border-container-divider: #4f5157;
  --gse-semantic-border-container-edges-default: #4f5157;
  --gse-semantic-border-container-edges-hover: #2954cb;
  --gse-semantic-border-container-edges-error: #881429;
  --gse-semantic-border-container-edges-enabled: #2143a2;
  --gse-semantic-border-container-edges-active: #5476d5;
  --gse-semantic-border-container-edges-highEmphasis: #cad1e1;
  --gse-semantic-border-container-edges-dataTable-default: #3e4044;
  --gse-semantic-border-container-edges-lowEmphasis: #6a6d75;
  --gse-semantic-border-container-highConstrast-default: #c1c6d4;
  --gse-semantic-border-container-highConstrast-enabled: #2143a2;
  --gse-semantic-border-container-highConstrast-hover: #19327a;
  --gse-semantic-border-container-highConstrast-active: #5476d5;
  --gse-semantic-border-system-info: #263b73;
  --gse-semantic-border-system-warning: #6c5619;
  --gse-semantic-border-system-success: #044834;
  --gse-semantic-border-system-error: #5a0e1c;
  --gse-semantic-border-system-primary: #102251;
  --gse-semantic-border-interactive-primary-divider: #1e1e21;
  --gse-semantic-border-interactive-secondary-divider: #1e1e21;
  --gse-semantic-border-interactive-tertiary-divider: #2143a2;
  --gse-semantic-border-interactive-danger-divider: #1e1e21;
  --gse-semantic-border-formControl-textInput-default: #848891;
  --gse-semantic-border-formControl-textInput-hover: #829ce5;
  --gse-semantic-border-formControl-textInput-active: #adbff0;
  --gse-semantic-border-formControl-textInput-error: #e22245;
  --gse-semantic-container-lg-boxShadow-blur: 8px;
  --gse-semantic-container-lg-boxShadow-spread: 1px;
  --gse-semantic-container-lg-boxShadow-color: #000000b3;
  --gse-semantic-container-lg-boxShadow-type: dropShadow;
  --gse-semantic-container-lg-boxShadow-offsetX: 0;
  --gse-semantic-container-lg-boxShadow-offsetY: 0;
  --gse-semantic-container-md-boxShadow-blur: 6px;
  --gse-semantic-container-md-boxShadow-spread: 1px;
  --gse-semantic-container-md-boxShadow-color: #000000b3;
  --gse-semantic-container-md-boxShadow-type: dropShadow;
  --gse-semantic-container-md-boxShadow-offsetX: 0;
  --gse-semantic-container-md-boxShadow-offsetY: 0;
  --gse-semantic-container-sm-boxShadow-blur: 4px;
  --gse-semantic-container-sm-boxShadow-spread: 1px;
  --gse-semantic-container-sm-boxShadow-color: #000000b3;
  --gse-semantic-container-sm-boxShadow-type: dropShadow;
  --gse-semantic-container-sm-boxShadow-offsetX: 0;
  --gse-semantic-container-sm-boxShadow-offsetY: 0;
  --gse-semantic-effects-boxShadow: #000000b3;
}
