@mixin tokens {
  --gse-semantic-theme-fontFamily-headings: Roboto;
  --gse-semantic-theme-fontFamily-body: Roboto;
  --gse-semantic-theme-fontFamily-code-body: 'Noto Sans Mono';
  --gse-semantic-theme-background-container-primary-10: #ffffff;
  --gse-semantic-theme-background-container-primary-20: #fdfdfd;
  --gse-semantic-theme-background-container-primary-30: #f6f7f9;
  --gse-semantic-theme-background-container-primary-40: #e8ecf2;
  --gse-semantic-theme-background-container-primary-50: #deeaff;
  --gse-semantic-theme-background-container-primary-60: #e2e6ee;
  --gse-semantic-theme-background-container-secondary-10: #2a60c8;
  --gse-semantic-theme-background-container-secondary-20: #2754ac;
  --gse-semantic-theme-background-container-secondary-30: #23478f;
  --gse-semantic-theme-background-container-tertiary-10: rgba(0, 0, 0, 0);
  --gse-semantic-theme-background-container-tertiary-20: #6b7585;
  --gse-semantic-theme-background-container-highContrast-10: #283243;
  --gse-semantic-theme-background-container-highContrast-20: #1c3363;
  --gse-semantic-theme-background-container-highContrast-30: #172b52;
  --gse-semantic-theme-background-container-highContrast-40: #000000;
  --gse-semantic-theme-background-formControl-input-10: #f6f7f9;
  --gse-semantic-theme-background-formControl-input-20: #6b7585;
  --gse-semantic-theme-background-overlay-10: #202937cc;
  --gse-semantic-theme-background-system-primary-10: #deeaff;
  --gse-semantic-theme-background-system-primary-20: #75a8ff;
  --gse-semantic-theme-background-system-primary-30: #2a60c8;
  --gse-semantic-theme-background-system-primary-40: #2754ac;
  --gse-semantic-theme-background-system-primary-50: #203b73;
  --gse-semantic-theme-background-system-info-5: #deeaff;
  --gse-semantic-theme-background-system-info-10: #deeaff;
  --gse-semantic-theme-background-system-info-20: #75a8ff;
  --gse-semantic-theme-background-system-info-30: #2a60c8;
  --gse-semantic-theme-background-system-info-40: #203b73;
  --gse-semantic-theme-background-system-info-50: #172b52;
  --gse-semantic-theme-background-system-success-5: #eefcea;
  --gse-semantic-theme-background-system-success-10: #eefcea;
  --gse-semantic-theme-background-system-success-20: #95c189;
  --gse-semantic-theme-background-system-success-30: #95c189;
  --gse-semantic-theme-background-system-success-35: #3c8527;
  --gse-semantic-theme-background-system-success-40: #205a10;
  --gse-semantic-theme-background-system-success-50: #0d3d00;
  --gse-semantic-theme-background-system-warning-5: #fdf8ec;
  --gse-semantic-theme-background-system-warning-10: #fdf8ec;
  --gse-semantic-theme-background-system-warning-20: #fcd276;
  --gse-semantic-theme-background-system-warning-30: #ffae00;
  --gse-semantic-theme-background-system-warning-40: #976700;
  --gse-semantic-theme-background-system-warning-50: #523800;
  --gse-semantic-theme-background-system-error-5: #fceaea;
  --gse-semantic-theme-background-system-error-10: #fceaea;
  --gse-semantic-theme-background-system-error-20: #f37a7a;
  --gse-semantic-theme-background-system-error-30: #ea0b0b;
  --gse-semantic-theme-background-system-error-40: #8f0707;
  --gse-semantic-theme-background-system-error-50: #520404;
  --gse-semantic-theme-background-customAccents-bold-10: #203b73;
  --gse-semantic-theme-background-customAccents-bold-20: #23478f;
  --gse-semantic-theme-background-customAccents-bold-30: #b5b5eb;
  --gse-semantic-theme-background-customAccents-bold-40: #205a10;
  --gse-semantic-theme-background-customAccents-bold-50: #151d28;
  --gse-semantic-theme-background-customAccents-bold-60: #75a8ff;
  --gse-semantic-theme-background-customAccents-bold-70: #8452cf;
  --gse-semantic-theme-background-customAccents-bold-80: #5e5782;
  --gse-semantic-theme-background-customAccents-bold-90: #ff8fdd;
  --gse-semantic-theme-background-customAccents-bold-100: #755000;
  --gse-semantic-theme-background-customAccents-bold-110: #ddd933;
  --gse-semantic-theme-background-customAccents-bold-120: #ffef27;
  --gse-semantic-theme-background-customAccents-bold-130: #75a8ff;
  --gse-semantic-theme-background-customAccents-subtle-10: #bbbfd4;
  --gse-semantic-theme-background-customAccents-subtle-20: #d9e4ff;
  --gse-semantic-theme-background-customAccents-subtle-30: #e9e8f9;
  --gse-semantic-theme-background-customAccents-subtle-40: #c2deb9;
  --gse-semantic-theme-background-customAccents-subtle-50: #c8cfda;
  --gse-semantic-theme-background-customAccents-subtle-60: #d9e4ff;
  --gse-semantic-theme-background-customAccents-subtle-70: #dcc9f2;
  --gse-semantic-theme-background-customAccents-subtle-80: #cdc9d8;
  --gse-semantic-theme-background-customAccents-subtle-90: #ffdff5;
  --gse-semantic-theme-background-customAccents-subtle-100: #fcd276;
  --gse-semantic-theme-background-customAccents-subtle-110: #f8f3c6;
  --gse-semantic-theme-background-customAccents-subtle-120: #fff793;
  --gse-semantic-theme-background-customAccents-colorSwatch-10: #ff451a;
  --gse-semantic-theme-background-customAccents-colorSwatch-20: #ffbec9;
  --gse-semantic-theme-background-customAccents-colorSwatch-30: #c6dd98;
  --gse-semantic-theme-background-customAccents-colorSwatch-40: #ffd173;
  --gse-semantic-theme-background-customAccents-colorSwatch-50: #f5bfeb;
  --gse-semantic-theme-background-customAccents-colorSwatch-60: #adbff0;
  --gse-semantic-theme-background-customAccents-colorSwatch-70: #bcd6f0;
  --gse-semantic-theme-background-customAccents-colorSwatch-80: #81cbe5;
  --gse-semantic-theme-background-customAccents-status-10: #09b581;
  --gse-semantic-theme-background-customAccents-status-20: #e22245;
  --gse-semantic-theme-background-customAccents-status-30: #f8c73e;
  --gse-semantic-theme-background-customAccents-status-40: #2143a2;
  --gse-semantic-theme-background-customAccents-status-50: #848891;
  --gse-semantic-theme-background-customAccents-status-60: #b74ba4;
  --gse-semantic-theme-background-customAccents-status-70: #ff451a;
  --gse-semantic-theme-foreground-primary-10: #3e4a5b;
  --gse-semantic-theme-foreground-primary-20: #2e394c;
  --gse-semantic-theme-foreground-primary-30: #2e394c;
  --gse-semantic-theme-foreground-secondary-10: #ffffff;
  --gse-semantic-theme-foreground-secondary-20: #596373;
  --gse-semantic-theme-foreground-secondary-30: #4c5667;
  --gse-semantic-theme-foreground-tertiary-10: #2e394c;
  --gse-semantic-theme-foreground-tertiary-20: #2e394c;
  --gse-semantic-theme-foreground-tertiary-30: #2e394c;
  --gse-semantic-theme-foreground-tertiary-05: #75a8ff;
  --gse-semantic-theme-foreground-highContrast-10: #ffffff;
  --gse-semantic-theme-foreground-highContrast-20: #eff1f5;
  --gse-semantic-theme-foreground-highContrast-30: #b4bccb;
  --gse-semantic-theme-foreground-system-primary-10: #2a60c8;
  --gse-semantic-theme-foreground-system-info-10: #2a60c8;
  --gse-semantic-theme-foreground-system-success-10: #3c8527;
  --gse-semantic-theme-foreground-system-warning-10: #ffae00;
  --gse-semantic-theme-foreground-system-error-10: #ea0b0b;
  --gse-semantic-theme-foreground-specialAccents-brand-10: #ff4f1f;
  --gse-semantic-theme-foreground-specialAccents-ai-10: #8a5ecc;
  --gse-semantic-theme-foreground-link-10: #2a60c8;
  --gse-semantic-theme-foreground-link-20: #2754ac;
  --gse-semantic-theme-foreground-link-30: #23478f;
  --gse-semantic-theme-foreground-link-40: #8452cf;
  --gse-semantic-theme-foreground-icon-10: #2e394c;
  --gse-semantic-theme-foreground-formControl-clickInput-10: #2a60c8;
  --gse-semantic-theme-foreground-formControl-clickInput-20: #2754ac;
  --gse-semantic-theme-foreground-formControl-clickInput-30: #23478f;
  --gse-semantic-theme-foreground-formControl-clickInput-40: #6b7585;
  --gse-semantic-theme-foreground-search-10: #2a2a2e;
  --gse-semantic-theme-border-focus-10: #aac9ff;
  --gse-semantic-theme-border-divider-10: #ffffff;
  --gse-semantic-theme-border-divider-20: #b4bccb;
  --gse-semantic-theme-border-divider-30: #2a60c8;
  --gse-semantic-theme-border-system-primary-10: #75a8ff;
  --gse-semantic-theme-border-system-info-10: #75a8ff;
  --gse-semantic-theme-border-system-success-10: #95c189;
  --gse-semantic-theme-border-system-warning-10: #fcd276;
  --gse-semantic-theme-border-system-error-10: #f37a7a;
  --gse-semantic-theme-border-system-error-20: #ea0b0b;
  --gse-semantic-theme-border-inputs-default-10: #6b7585;
  --gse-semantic-theme-border-inputs-hover-10: #2754ac;
  --gse-semantic-theme-border-inputs-active-10: #2a60c8;
  --gse-semantic-theme-border-edges-default-0: #b4bccb;
  --gse-semantic-theme-border-edges-default-5: #e2e6ee;
  --gse-semantic-theme-border-edges-default-10: #b4bccb;
  --gse-semantic-theme-border-edges-default-20: #4c5667;
  --gse-semantic-theme-border-edges-default-30: #2e394c;
  --gse-semantic-theme-border-edges-enabled-10: #2a60c8;
  --gse-semantic-theme-border-edges-hover-10: #75a8ff;
  --gse-semantic-theme-border-edges-hover-20: #23478f;
  --gse-semantic-theme-border-edges-active-10: #2a60c8;
  --gse-semantic-theme-border-edges-emphasis-default: #6a6d75;
  --gse-semantic-theme-border-edges-emphasis-mid: #829ce5;
  --gse-semantic-theme-borderRadius-interactive-xlarge: 100%;
  --gse-semantic-theme-borderRadius-interactive-large: 4px;
  --gse-semantic-theme-borderRadius-interactive-small: 4px;
  --gse-semantic-theme-borderRadius-interactive-2xl: 16px;
  --gse-semantic-theme-borderRadius-container-large: 4px;
  --gse-semantic-theme-borderRadius-container-medium: 4px;
  --gse-semantic-theme-borderRadius-container-small: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-large: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-medium: 4px;
  --gse-semantic-theme-borderRadius-formControl-input-small: 4px;
  --gse-semantic-theme-borderRadius-focus-full: 100%;
  --gse-semantic-theme-borderRadius-focus-xlarge: 16px;
  --gse-semantic-theme-borderRadius-focus-large: 8px;
  --gse-semantic-theme-borderRadius-focus-medium: 8px;
  --gse-semantic-theme-borderRadius-focus-small: 4px;
  --gse-semantic-theme-borderRadius-focus-xsmall: 4px;
  --gse-semantic-theme-borderRadius-focus-2xl: 16px;
}
