@import "../pagination-variables.less";

genesys-pagination-buttons {
    genesys-button + genesys-button {
      margin-left: @genesys-pagination-button-margin;
    }

    genesys-text-field {
      display: inline-block;

      margin-left: @genesys-pagination-input-margin;
      margin-right: @genesys-pagination-input-margin;

      width: 48px;
    }

    .genesys-pagination-current-page-text {
      margin-left: @genesys-pagination-text-margin;
      margin-right: @genesys-pagination-text-margin;
    }
}
