<form onchange="notify(event)" oninput="notify(event)">
  <h1>gux-form-field-legacy (Range)</h1>

  <p>slot a input[type=range] element into a gux-form-field-legacy element</p>

  <h2>Label Position Above</h2>

  <gux-form-field-legacy label-position="above">
    <label slot="label">Range</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="%" label-position="above">
    <label slot="label">Range</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="px" label-position="above">
    <label slot="label">Range</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <gux-form-field-legacy label-position="above">
    <label slot="label">Range</label>
    <input slot="input" name="range-disabled" type="range" disabled />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="%" label-position="above">
    <label slot="label">Range</label>
    <input slot="input" name="range-disabled" type="range" disabled />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="px" label-position="above">
    <label slot="label">Range</label>
    <input slot="input" name="range-disabled" type="range" disabled />
  </gux-form-field-legacy>

  <gux-form-field-legacy value-in-tooltip label-position="above">
    <label slot="label">Range (value in tooltip)</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <h2>Label Position Beside</h2>

  <gux-form-field-legacy label-position="beside">
    <label slot="label">Range</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="%" label-position="beside">
    <label slot="label">Range</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="px" label-position="beside">
    <label slot="label">Range</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>

  <gux-form-field-legacy label-position="beside">
    <label slot="label">Range</label>
    <input slot="input" name="range-disabled" type="range" disabled />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="%" label-position="beside">
    <label slot="label">Range</label>
    <input slot="input" name="range-disabled" type="range" disabled />
  </gux-form-field-legacy>

  <gux-form-field-legacy display-units="px" label-position="beside">
    <label slot="label">Range</label>
    <input slot="input" name="range-disabled" type="range" disabled />
  </gux-form-field-legacy>

  <gux-form-field-legacy value-in-tooltip label-position="beside">
    <label slot="label">Range (value in tooltip)</label>
    <input slot="input" name="range" type="range" />
  </gux-form-field-legacy>
</form>
