@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/typography.scss';

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: stretch flex-start;
  align-items: stretch;
  width: 270px;
  padding: 20px 24px;
  margin-bottom: 4px;
  color: ui.$gse-ui-toast-success-foregroundColor;
  background: ui.$gse-ui-toast-success-backgroundColor;
  border: 1px solid ui.$gse-ui-card-default-border-color;
  border-radius: 4px;

  // need to replace with token
  box-shadow: 0 2px 4px rgb(32 41 55 / 24%);
}

.gux-header {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch flex-start;
  align-items: center;
  align-self: auto;
  order: 0;

  @include typography.heading-lg;

  .gux-icon {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    color: global.$gse-core-colorLegacy-secondary-aquaGreen;

    ::slotted(gux-icon) {
      width: 32px !important;
      height: 32px !important;
    }
  }

  .gux-title {
    flex: 1 1 auto;
    align-self: auto;
    order: 0;
    margin: 0 0 0 8px;
  }
}

.gux-message {
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
  margin: 16px 0;

  @include typography.body-sm-regular;

  ::slotted(dl) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: stretch flex-start;
    align-items: flex-start;
    margin: 0;
  }
}

.gux-action-buttons {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch space-between;
  align-items: flex-start;
  align-self: auto;
  order: 0;

  .gux-negative-button {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
  }

  .gux-positive-button {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
  }
}

.gux-action-buttons {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch space-between;
  align-items: flex-start;
  align-self: auto;
  order: 0;

  .gux-negative-button {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
  }

  .gux-positive-button {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
  }
}
