@use '~genesys-spark/src/style/typography.scss';

gux-action-toast-legacy {
  dl {
    dt {
      flex: 0 1 20%;
      align-self: auto;
      order: 0;
      margin: 0;
      color: #2e394c;

      @include typography.body-sm-bold;
    }

    dd {
      flex: 0 1 80%;
      align-self: auto;
      order: 0;
      margin: 0;
    }
  }
}
