@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  box-sizing: border-box;
  color: ui.$gse-ui-formControl-input-populatedColor;
}

.gux-dropdown-container {
  position: relative;
}

.gux-error {
  &.gux-target-container-not-filterable .gux-field-button,
  &.gux-target-container-filterable {
    border: ui.$gse-ui-formControl-input-error-border-width
      ui.$gse-ui-formControl-input-error-border-style
      ui.$gse-ui-formControl-input-error-border-color;
  }
}

.gux-disabled {
  &.gux-target-container-not-filterable .gux-field-button,
  &.gux-target-container-filterable {
    user-select: none;
    border: ui.$gse-ui-formControl-input-disabled-border-width
      ui.$gse-ui-formControl-input-disabled-border-style
      ui.$gse-ui-formControl-input-disabled-border-color;
  }
}

.gux-field,
.gux-target-container-filterable {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch center;
  align-items: center;
  inline-size: 100%;
  block-size: ui.$gse-ui-formControl-input-textfield-height;
  font-family: ui.$gse-ui-formControl-input-contentText-fontFamily;
  font-size: ui.$gse-ui-formControl-input-contentText-fontSize;
  font-weight: ui.$gse-ui-formControl-input-contentText-fontWeight;
  line-height: ui.$gse-ui-formControl-input-contentText-lineHeight;
  cursor: pointer;
  background-color: ui.$gse-ui-formControl-input-backgroundColor;
}

.gux-target-container-filterable,
.gux-target-container-not-filterable .gux-field {
  padding: ui.$gse-ui-formControl-input-padding;
}

.gux-target-container-not-filterable .gux-field-button:hover,
.gux-target-container-filterable:hover {
  border: ui.$gse-ui-formControl-input-hover-border-width
    ui.$gse-ui-formControl-input-hover-border-style
    ui.$gse-ui-formControl-input-hover-border-color;
}

.gux-field {
  &.gux-input-field {
    block-size: ui.$gse-ui-formControl-input-contentText-lineHeight;
  }

  .gux-field-content {
    position: relative;
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: stretch flex-start;
    align-items: flex-start;
    min-inline-size: 0;
    block-size: ui.$gse-ui-formControl-input-contentText-lineHeight;

    .gux-filter,
    .gux-selected-option,
    .gux-placeholder {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      .gux-sr-only {
        @include mixins.gux-sr-only-clip;
      }
    }

    .gux-filter {
      position: relative;
      block-size: 100%;
      padding-inline-start: 0;

      .gux-filter-input {
        all: unset;
        inline-size: 100%;
        color: transparent;
        caret-color: ui.$gse-ui-formControl-input-populatedColor;

        &:placeholder-shown {
          text-overflow: ellipsis;
        }
      }

      .gux-filter-display {
        white-space: pre;

        .gux-filter-text {
          color: ui.$gse-ui-formControl-input-populatedColor;
        }

        .gux-filter-suggestion {
          color: ui.$gse-ui-formControl-input-suggestionColor;
        }
      }

      .gux-filter-input,
      .gux-filter-display {
        position: absolute;
      }
    }

    .gux-placeholder {
      color: ui.$gse-ui-formControl-input-placeholderColor;
    }
  }

  .gux-expand-icon {
    flex: 0 0 auto;
    align-self: auto;
    order: 0;
    padding-inline-start: ui.$gse-ui-dropdown-gap;
    color: ui.$gse-ui-formControl-input-inputIcon-iconEndColor;
  }
}

.gux-target-container-filterable {
  border: ui.$gse-ui-formControl-input-default-border-width
    ui.$gse-ui-formControl-input-default-border-style
    ui.$gse-ui-formControl-input-default-border-color;
  border-radius: ui.$gse-ui-formControl-input-borderRadius;

  &:focus-visible {
    @include focus.gux-focus-ring;
  }

  &:focus-within:has(:focus-visible) {
    @include focus.gux-focus-ring;
  }

  &.gux-target-container-filterable-active {
    border: ui.$gse-ui-formControl-input-active-border-width
      ui.$gse-ui-formControl-input-active-border-style
      ui.$gse-ui-formControl-input-active-border-color;
    border-radius: ui.$gse-ui-formControl-input-borderRadius;
  }

  .gux-filter-input {
    background-color: inherit;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  .gux-field-button {
    inline-size: auto;
    block-size: ui.$gse-ui-formControl-input-contentText-lineHeight;
    margin: 0;
    outline: none;
    background: inherit;
    border: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}

.gux-target-container-not-filterable .gux-field-button {
  border: ui.$gse-ui-formControl-input-default-border-width
    ui.$gse-ui-formControl-input-default-border-style
    ui.$gse-ui-formControl-input-default-border-color;
  border-radius: ui.$gse-ui-formControl-input-borderRadius;

  &:focus-visible {
    @include focus.gux-focus-ring;
  }

  &:focus-within:has(:focus-visible) {
    @include focus.gux-focus-ring;
  }
}

.gux-target-container-not-filterable .gux-field-content .gux-placeholder {
  white-space: pre;
}

.gux-listbox-container {
  box-sizing: border-box;
  margin: 0;
}
