@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 100;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-100.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-100.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 100;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-100italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-100italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 200;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-200.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-200.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 200;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-200italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-200italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 300;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-300.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-300.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 300;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-300italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-300italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 400;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-regular.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-regular.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 400;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-500.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-500.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 500;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-500italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-500italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-600.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-600.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 600;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-600italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-600italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 700;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-700.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-700.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 700;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-700italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-700italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 800;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-800.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-800.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 800;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-800italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-800italic.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 900;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-900.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-900.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-weight: 900;
  src:
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-900italic.woff2')
      format('woff2'),
    url('./fonts/urbanist/urbanist-v10-latin_latin-ext-900italic.ttf')
      format('truetype');
  font-display: swap;
}
