@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  display: block;
}

.gux-text-highlight-popup {
  display: flex;
  flex-direction: column;
  gap: ui.$gse-ui-rte-colorPalette-gap;
  inline-size: 104px; // Token Required : COMUI-3190
  padding: 12px; // Token Required : COMUI-3190

  @include mixins.gux-menu-container;

  gux-rich-text-editor-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: ui.$gse-ui-rte-colorPalette-gap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }

  gux-button-slot {
    align-self: center;
    block-size: ui.$gse-ui-rte-menuButton-height;

    button {
      block-size: ui.$gse-ui-rte-menuButton-height;
    }
  }
}

gux-button-slot {
  button.gux-is-pressed {
    color: ui.$gse-ui-button-ghost-active-foregroundColor;
    background-color: ui.$gse-ui-button-ghost-active-backgroundColor;
  }
}
