@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

$tabListHeight: ui.$gse-ui-tabs-set-horizontal-height;
$tabListBorderBottomHeight: ui.$gse-ui-tabs-set-divider-horizontal-height;
$tabListMarginBottom: ui.$gse-ui-tabs-set-horizontal-marginBottom;
$tabPanelHeightOffset: $tabListHeight + $tabListBorderBottomHeight +
  $tabListMarginBottom;

:host {
  block-size: calc(100% - #{$tabPanelHeightOffset});
}

:host(:not([hidden])) {
  flex: 1 1 auto;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}
