@use '~genesys-spark/dist/scss/focus.scss';

$tabListHeight: var(--gse-ui-tabs-set-horizontal-height);
$tabListBorderBottomHeight: var(--gse-ui-tabs-set-divider-horizontal-height);
$tabListMarginBottom: var(--gse-ui-tabs-set-horizontal-marginBottom);
$tabPanelHeightOffset: $tabListHeight + $tabListBorderBottomHeight +
  $tabListMarginBottom;

:host {
  block-size: calc(100% - $tabPanelHeightOffset);
}

:host(:not([hidden])) {
  flex: 1 1 auto;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}
