@use '../../../../style/focus.scss';

$tabListHeight: var(--gse-ui-tabs-set-horizontal-height);
$tabListBorderBottomHeight: var(--gse-ui-tabs-set-divider-horizontal-height);
$tabListMarginBottom: var(--gse-ui-tabs-set-horizontal-marginBottom);
$tabPanelHeightOffset: $tabListHeight + $tabListBorderBottomHeight +
  $tabListMarginBottom;

:host {
  height: calc(100% - $tabPanelHeightOffset);
}

:host(:not([hidden])) {
  display: flex;
  flex-grow: 1;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  @include focus.gux-focus-ring;
}
