@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/typography.scss';

::slotted(button:active:enabled) {
  color: ui.$gse-ui-links-active-foregroundColor;
  text-decoration: underline;
  background: none;
}

slot[name='left-align-buttons']::slotted(:not(button, gux-button)) {
  display: flex;
  flex-direction: row;
  gap: ui.$gse-ui-modal-buttonBar-gap;
  align-content: flex-start;
  align-items: center;
}

// Style
:host {
  // TODO: COMUI-2301 - fix focus/hover for dismiss button

  .gux-modal {
    position: fixed;
    inset: 0;
    z-index: global.$gse-semantic-zIndex-modal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: global.$gse-semantic-foreground-container-highEmphasis;
    background: ui.$gse-ui-modal-shroudColor;

    .gux-modal-container {
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: ui.$gse-ui-modal-padding 0;
      background: ui.$gse-ui-modal-backgroundColor;
      border: 1px solid global.$gse-semantic-border-container-edges-default;
      border-radius: ui.$gse-ui-modal-borderRadius;
      box-shadow: ui.$gse-ui-modal-boxShadow;

      &.gux-small {
        width: ui.$gse-ui-modal-small-width;
        max-height: min(368px, 100vh - 2 * #{24px}); // TODO: COMUI-2300
      }

      &.gux-medium {
        width: ui.$gse-ui-modal-medium-width;
        max-height: min(640px, 100vh - 2 * #{24px}); // TODO: COMUI-2300
      }

      &.gux-large {
        width: ui.$gse-ui-modal-large-width;
        max-height: min(640px, 100vh - 2 * #{24px}); // TODO: COMUI-2300
      }

      &.gux-dynamic {
        max-width: calc(100vw - 2 * 24px); // TODO: COMUI-2300
        max-height: calc(100vh - 2 * 24px); // TODO: COMUI-2300

        .gux-modal-content {
          max-height: none;
        }
      }

      .gux-modal-header {
        padding: 0 ui.$gse-ui-modal-padding;
        margin: 0;
        font-family: ui.$gse-ui-modal-heading-fontFamily;
        font-size: ui.$gse-ui-modal-heading-fontSize;
        font-weight: ui.$gse-ui-modal-heading-fontWeight;
        line-height: ui.$gse-ui-modal-heading-fontFamily;
        color: ui.$gse-ui-modal-headerColor;

        @include typography.heading-xl;
      }

      .gux-modal-content {
        max-height: 432px; // TODO: COMUI-2300
        padding: 0 ui.$gse-ui-modal-padding;
        margin-top: ui.$gse-ui-modal-gap;
        margin-bottom: ui.$gse-ui-modal-gap;
        overflow-y: auto;

        &.gux-no-buttons {
          margin-bottom: 0;
        }
      }

      .gux-button-footer {
        display: flex;
        justify-content: space-between;
        padding: 0 ui.$gse-ui-modal-padding;
      }
    }

    .gux-modal-container {
      @media (max-width: 416px) {
        // TODO: COMUI-2300
        &.gux-small,
        &.gux-medium,
        &.gux-large {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
