@use '../../../style/mixins';

@mixin button-text {
  font-family: var(--gse-ui-button-text-fontFamily);
  font-size: var(--gse-ui-button-text-fontSize);
  font-weight: var(--gse-ui-button-text-fontWeight);
  line-height: var(--gse-ui-button-text-lineHeight);
}

:host {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.gux-action-button-container {
  min-width: 128px;

  & > * {
    vertical-align: middle;
  }

  .gux-action-button {
    width: calc(100% - 33px);
    margin-right: 1px;

    button {
      width: 100%;
      max-width: none;
      text-align: center;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .gux-dropdown-button {
    button {
      width: var(--gse-ui-button-iconOnly-width);
      padding: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      gux-icon {
        width: var(--gse-ui-button-icon-size);
        height: var(--gse-ui-button-icon-size);
      }
    }
  }

  .gux-list-container {
    max-width: 220px;

    @include mixins.gux-menu-container;
  }
}
