gux-action-button {
  [slot='title'] {
    display: flex;
    align-items: center;
    justify-content: center;

    gux-icon {
      inline-size: var(--gse-ui-button-icon-size);
      block-size: var(--gse-ui-button-icon-size);
      padding-inline-end: var(--gse-ui-button-gap);
    }
  }
}
