@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

gux-action-button {
  [slot='title'] {
    display: flex;
    align-items: center;
    justify-content: center;

    gux-icon {
      inline-size: ui.$gse-ui-button-icon-size;
      block-size: ui.$gse-ui-button-icon-size;
      padding-inline-end: ui.$gse-ui-button-gap;
    }
  }
}
