@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '~genesys-spark/dist/scss/focus.scss';

:host {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.gux-action-button-container {
  min-inline-size: 128px;

  & > * {
    vertical-align: middle;
  }

  .gux-action-button {
    inline-size: calc(100% - 33px);
    margin-inline-end: 1px;

    button {
      inline-size: 100%;
      max-inline-size: none;
      text-align: center;
      border-start-end-radius: 0;
      border-end-end-radius: 0;

      &:focus-visible:enabled {
        position: relative;
      }
    }
  }

  .gux-dropdown-button {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      inline-size: ui.$gse-ui-button-iconOnly-width;
      padding: 0;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }

  .gux-list-container {
    max-inline-size: 220px;
    max-block-size: ui.$gse-ui-menu-maxHeight;

    @include mixins.gux-menu-container;
  }
}
