@import (reference) '../../../style/spacing.less';

gux-action-button {
  [slot='title'] {
    display: inline-flex;
    align-items: center;

    gux-icon {
      width: 16px;
      height: 16px;
      padding-right: @gux-spacing-xs;
    }
  }
}
