@use '~genesys-spark/dist/scss/mixins.scss';

@mixin button-text {
  font-family: var(--gse-ui-button-text-fontFamily);
  font-size: var(--gse-ui-button-text-fontSize);
  font-weight: var(--gse-ui-button-text-fontWeight);
  line-height: var(--gse-ui-button-text-lineHeight);
}

:host {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.gux-button-multi-container {
  .gux-dropdown-button {
    button {
      display: inline-flex;
      align-items: center;

      gux-icon {
        margin-inline-start: var(--gse-ui-button-gap);
      }
    }
  }
}

.gux-list-container {
  max-inline-size: 220px;

  @include mixins.gux-menu-container;
}
