// COMUI-2156 add missing button tokens
$temp-box-shadow: 0 4px 6px 1px rgb(35 57 92 / 12%);
$temp-menu-wrapper-borderRadius: 4px;
$temp-menu-wrapper-borderWidth: 1px;

@mixin button-text {
  font-family: var(--gse-ui-button-text-fontFamily);
  font-size: var(--gse-ui-button-text-fontSize);
  font-weight: var(--gse-ui-button-text-fontWeight);
  line-height: var(--gse-ui-button-text-lineHeight);
}

:host {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.gux-button-multi-container {
  .gux-dropdown-button {
    button {
      display: inline-flex;
      align-items: center;

      gux-icon {
        width: var(--gse-ui-button-icon-size);
        height: var(--gse-ui-button-icon-size);
        margin-left: var(--gux-spacing-xs);
      }
    }
  }
}

.gux-list-container {
  max-width: 220px;
  padding: var(--gux-spacing-xs) 0;
  margin: 0;
  list-style: none;
  background-color: var(--gse-ui-menu-wrapper-backgroundColor);
  border: $temp-menu-wrapper-borderWidth solid var(--gse-ui-menu-wrapper-border);
  border-radius: $temp-menu-wrapper-borderRadius;
  box-shadow: $temp-box-shadow;
}
