@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

@mixin button-text {
  font-family: ui.$gse-ui-button-text-fontFamily;
  font-size: ui.$gse-ui-button-text-fontSize;
  font-weight: ui.$gse-ui-button-text-fontWeight;
  line-height: ui.$gse-ui-button-text-lineHeight;
}

:host {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.gux-button-multi-container {
  .gux-dropdown-button {
    button {
      display: inline-flex;
      align-items: center;

      gux-icon {
        margin-inline-start: ui.$gse-ui-button-gap;
      }
    }
  }
}

.gux-list-container {
  max-inline-size: 220px;

  @include mixins.gux-menu-container;
}
