<gux-advanced-dropdown placeholder="[None]" filter-debounce-timeout="250">
  <gux-dropdown-option
    selected
    value="en-US"
    text="American English"
  ></gux-dropdown-option>
  <gux-dropdown-option
    value="es"
    text="Latin American Spanish"
  ></gux-dropdown-option>
  <gux-dropdown-option
    value="es-ES"
    text="European Spanish"
  ></gux-dropdown-option>
  <gux-dropdown-option value="en-UK" text="UK English"></gux-dropdown-option>
  <gux-dropdown-option
    value="fr-CA"
    text="Canadian French"
  ></gux-dropdown-option>
  <gux-dropdown-option value="fr" text="European French"></gux-dropdown-option>
  <gux-dropdown-option value="nl" text="Dutch"></gux-dropdown-option>
</gux-advanced-dropdown>
