@import (reference) '../../../style/color.less';
@import (reference) '../../../style/typography.less';

// Variables part
@background-color: @gux-grey-90;

@text-color: @gux-type;

@placeholder: @gux-placeholder;

@border-color: @gux-border;

@focus-outline: fade(@gux-blue-80, 50%);
@active-border: @gux-blue-60;

@menu-shadow: fade(@gux-black-30, 24%);

@menu-background-color: @gux-type-dark;
@menu-border-color: @gux-border;
@divider-color: @gux-grey-40;

// Style

div.gux-dropdown {
  position: relative;
  margin: 4px 0;

  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  .gux-select-field {
    position: relative;
    width: 100%;
    height: 32px;

    a.gux-select-input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 5px 24px 4px 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      border: 1px solid @border-color;
      border-radius: 2px;

      .gux-select-placeholder,
      .gux-select-value {
        line-height: 20px;
      }

      .gux-select-placeholder {
        color: @placeholder;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px fade(@gux-blue-80, 50%);
      }
    }

    .gux-icon-wrapper {
      gux-icon {
        width: 16px;
        height: 16px;
      }

      position: absolute;
      top: 1px;
      right: 8px;
      bottom: 0;
      display: flex;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &.gux-active .gux-select-field .gux-select-input {
    border: 1px solid @active-border;
    outline: none;
    box-shadow: 0 0 4px @focus-outline;

    &:focus {
      box-shadow: 0 0 4px @focus-outline;
    }
  }

  .gux-advanced-dropdown-menu {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    background: @gux-background;
    box-shadow: 0 0 2px 0 @menu-shadow;

    .gux-dropdown-menu-container {
      padding: 16px;

      .gux-search-label {
        .gux-sr-only();
      }
    }

    &.gux-opened {
      display: block;
    }
  }

  .gux-dropdown-options {
    padding: 8px 0;
    margin: 0;
    margin-top: 12px;
    color: @text-color;
    background: @menu-background-color;
    border: 1px solid @menu-border-color;
    box-shadow: none;
  }
}

// Theming

// Light
.gux-advanced-dropdown-light-theme {
  color: @gux-type;

  div.gux-dropdown {
    .gux-select-field {
      a.gux-select-input {
        color: @text-color;
        background-color: @background-color;
        border-color: @border-color;
      }

      gux-icon {
        color: @text-color;
      }
    }

    &.gux-active {
      .gux-select-field a.gux-select-input {
        border: 1px solid @active-border;
        box-shadow: 0 0 4px @focus-outline;
      }
    }
  }
}

.gux-light-theme {
  :host {
    .gux-advanced-dropdown-light-theme();
  }
}

:host.gux-light-theme {
  .gux-advanced-dropdown-light-theme();
}

// Default Theme
:host {
  .gux-advanced-dropdown-light-theme();
}
