@import (reference) '../../../style/color.less';
@import (reference) '../../../style/shadows.less';
@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/zindex.less';

:host {
  position: fixed;
  z-index: var(--gux-zindex-tooltip, @gux-zindex-tooltip);
  display: none;
  width: max-content;
  max-width: 250px;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

:host(.gux-show) {
  display: block;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.gux-container {
  box-sizing: border-box;
  padding: 6px 12px;
  color: @gux-black-50;
  background-color: @gux-grey-100;
  border: 1px solid @gux-grey-30;
  border-radius: 4px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
