@import '../../../style/zindex.scss';

/**
  * @prop --gse-ui-tooltip-light-border-color
  * @prop --gse-ui-tooltip-light-border-width
  * @prop --gse-ui-tooltip-light-border-style
  * @prop --gse-ui-tooltip-light-backgroundColor
  * @prop --gse-ui-tooltip-light-foregroundColor
  * @prop --gse-ui-tooltip-light-iconColor
  * @prop --gse-ui-tooltip-dark-border-color
  * @prop --gse-ui-tooltip-dark-border-width
  * @prop --gse-ui-tooltip-dark-border-style
  * @prop --gse-ui-tooltip-dark-backgroundColor
  * @prop --gse-ui-tooltip-dark-foregroundColor
  * @prop --gse-ui-tooltip-dark-iconColor
  * @prop --gse-ui-tooltip-boxShadow-x
  * @prop --gse-ui-tooltip-boxShadow-y
  * @prop --gse-ui-tooltip-boxShadow-blur
  * @prop --gse-ui-tooltip-boxShadow-spread
  * @prop --gse-ui-tooltip-boxShadow-color
  * @prop --gse-ui-tooltip-padding
  * @prop --gse-ui-tooltip-height
  * @prop --gse-ui-tooltip-gap
  * @prop --gse-ui-tooltip-borderRadius
  * @prop --gse-ui-tooltip-text-fontFamily
  * @prop --gse-ui-tooltip-text-lineHeight
  * @prop --gse-ui-tooltip-text-fontSize
  * @prop --gse-ui-tooltip-text-fontWeight
  
  */

:host {
  position: fixed;
  z-index: var(--gux-zindex-tooltip, $gux-zindex-tooltip);
  display: none;
  width: max-content;
  max-width: 250px;
  opacity: 0;
  box-shadow: var(--gse-ui-tooltip-boxShadow-x)
    var(--gse-ui-tooltip-boxShadow-y) var(--gse-ui-tooltip-boxShadow-blur)
    var(--gse-ui-tooltip-boxShadow-spread) var(--gse-ui-tooltip-boxShadow-color);
}

:host(.gux-show) {
  display: block;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.gux-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: var(--gse-ui-tooltip-gap);
  box-sizing: border-box;
  padding: var(--gse-ui-tooltip-padding);
  pointer-events: none;
  border-radius: var(--gse-ui-tooltip-borderRadius);
  font-family: var(--gse-ui-tooltip-text-fontFamily);
  font-weight: var(--gse-ui-tooltip-text-fontWeight);
  line-height: var(--gse-ui-tooltip-text-lineHeight);
  font-size: var(--gse-ui-tooltip-text-fontSize);

  background-color: var(--gse-ui-tooltip-light-backgroundColor);
  border: var(--gse-ui-tooltip-light-border-width)
    var(--gse-ui-tooltip-light-border-style)
    var(--gse-ui-tooltip-light-border-color);
  color: var(--gse-ui-tooltip-light-foregroundColor);

  &[data-placement='bottom'],
  &[data-placement='bottom-start'],
  &[data-placement='bottom-end'] {
    .gux-arrow {
      border-top: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
      border-left: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
    }
  }

  &[data-placement='top'],
  &[data-placement='top-start'],
  &[data-placement='top-end'] {
    .gux-arrow {
      border-right: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
      border-bottom: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
    }
  }

  &[data-placement='left'],
  &[data-placement='left-start'],
  &[data-placement='left-end'] {
    .gux-arrow {
      border-top: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
      border-right: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
    }
  }

  &[data-placement='right'],
  &[data-placement='right-start'],
  &[data-placement='right-end'] {
    .gux-arrow {
      border-bottom: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
      border-left: var(--gse-ui-tooltip-light-border-width)
        var(--gse-ui-tooltip-light-border-style)
        var(--gse-ui-tooltip-light-border-color);
    }
  }

  .gux-arrow {
    position: absolute;
    //These dimensions give the arrows the best alignment.
    width: 13px;
    height: 13px;
    border-radius: var(--gse-ui-tooltip-borderRadius);
    background: inherit;
  }

  ::slotted(gux-icon) {
    width: var(--gse-ui-icon-size-sm);
    height: var(--gse-ui-icon-size-sm);
    color: var(--gse-ui-tooltip-light-iconColor);
    align-self: center;
  }

  &.gux-dark {
    background-color: var(--gse-ui-tooltip-dark-backgroundColor);
    border-color: var(--gse-ui-tooltip-dark-border-color);
    color: var(--gse-ui-tooltip-dark-foregroundColor);

    &[data-placement='bottom'],
    &[data-placement='bottom-start'],
    &[data-placement='bottom-end'] {
      .gux-arrow {
        border-top: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
        border-left: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
      }
    }

    &[data-placement='top'],
    &[data-placement='top-start'],
    &[data-placement='top-end'] {
      .gux-arrow {
        border-right: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
        border-bottom: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
      }
    }

    &[data-placement='left'],
    &[data-placement='left-start'],
    &[data-placement='left-end'] {
      .gux-arrow {
        border-top: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
        border-right: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
      }
    }

    &[data-placement='right'],
    &[data-placement='right-start'],
    &[data-placement='right-end'] {
      .gux-arrow {
        border-bottom: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
        border-left: var(--gse-ui-tooltip-dark-border-width)
          var(--gse-ui-tooltip-dark-border-style)
          var(--gse-ui-tooltip-dark-border-color);
      }
    }

    ::slotted(gux-icon) {
      width: var(--gse-ui-icon-size-sm);
      height: var(--gse-ui-icon-size-sm);
      color: var(--gse-ui-tooltip-dark-iconColor);
      align-self: center;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
