<h1>gux-time-beta</h1>

<h2>Times</h2>

<h3>Default</h3>
<gux-time-beta></gux-time-beta>

<h3>Short</h3>
<gux-time-beta id="time-1" format="short"></gux-time-beta>

<h3>Medium</h3>
<gux-time-beta id="time-2" format="medium"></gux-time-beta>

<h3>Long</h3>
<gux-time-beta id="time-3" format="long"></gux-time-beta>

<h3>Full</h3>
<gux-time-beta id="time-4" format="full"></gux-time-beta>

<style
  onload="(function() {
    const time1 = document.querySelector('#time-1');
    const time2 = document.querySelector('#time-2');
    const time3 = document.querySelector('#time-3');
    const time4 = document.querySelector('#time-4');

    const date = new Date().toISOString();

    time1.time = date;
    time2.time = date;
    time3.time = date;
    time4.time = date;
  })()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
