@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

gux-pagination-items-per-page {
  .gux-pagination-items-per-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-dataTableItems-tablePagination-recordsetControls-gap;
    place-content: stretch center;
    align-items: center;

    & > div {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
      white-space: nowrap;
    }

    .gux-pagination-items-per-page-picker {
      gux-dropdown {
        display: inline-block;
        inline-size: fit-content;
      }
    }

    gux-dropdown {
      div.gux-dropdown .gux-options.gux-opened {
        inset-block-end: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .gux-pagination-per-page {
      font-family: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-fontFamily
      );
      font-size: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-fontSize
      );
      font-weight: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-fontWeight
      );
      line-height: var(
        --gse-ui-dataTableItems-tablePagination-defaultText-lineHeight
      );
      color: ui.$gse-ui-dataTableItems-tablePagination-foregroundColor;
    }
  }
}
