// Variables part
@use '../../../style/focus.scss';

:host {
  display: inline-block;
  width: 300px; // TODO : COMUI-2310 according to figma this should be a 320px token ?
  min-width: 300px;
}

::slotted(input[disabled]) {
  color: var(--gse-ui-formControl-input-populatedColor);
  opacity: var(--gse-ui-formControl-input-disabled-opacity);
}

::slotted(input) {
  box-sizing: border-box;
  flex-basis: 100%;
  flex-shrink: 1;
  width: 132px;
  font-family: var(--gse-ui-search-counter-text-fontFamily);
  font-size: var(--gse-ui-search-counter-text-fontSize);
  font-weight: var(--gse-ui-search-counter-text-fontWeight);
  line-height: var(--gse-ui-search-counter-text-lineHeight);
  background-image: none;
  border: 0;
  border-radius: 0;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--gse-ui-formControl-input-backgroundColor);

  &::placeholder {
    color: var(--gse-ui-formControl-input-populatedColor);
  }

  &.gux-focused,
  &:focus,
  &:focus-visible {
    border: 0;
    outline: none;
    box-shadow: none;
  }
}

.gux-content-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--gse-ui-formControl-input-gap);
  width: 100%;
  height: var(--gse-ui-formControl-input-textfield-height);
  padding: var(--gse-ui-formControl-textarea-padding);
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  background-image: none;
  border: var(--gse-ui-formControl-input-default-border-width)
    var(--gse-ui-formControl-input-default-border-style)
    var(--gse-ui-formControl-input-default-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: var(--gse-ui-formControl-input-disabled-opacity);
  }

  &:focus-visible,
  &:focus-within {
    border: var(--gse-ui-formControl-input-active-border-width)
      var(--gse-ui-formControl-input-active-border-style)
      var(--gse-ui-formControl-input-active-border-color);
    border-radius: var(--gse-ui-formControl-focusRing-borderRadius);
    outline: var(--gse-ui-formControl-input-focus-border-width)
      var(--gse-ui-formControl-input-focus-border-style)
      var(--gse-ui-formControl-input-focus-border-color);
  }

  &:not(:disabled):hover {
    border: var(--gse-ui-formControl-input-hover-border-width)
      var(--gse-ui-formControl-input-hover-border-style)
      var(--gse-ui-formControl-input-hover-border-color);
  }

  .gux-search-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:disabled {
      pointer-events: none;
      cursor: default;
      opacity: var(--gse-ui-formControl-input-disabled-opacity);
    }

    gux-icon {
      width: var(--gse-ui-search-counter-icon-width);
      height: var(--gse-ui-search-counter-icon-height);
      color: var(--gse-ui-formControl-input-inputIcon-defaultColor);
    }
  }

  .gux-content-control-panel {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: var(--gse-ui-formControl-input-gap);
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 0;

    gux-icon {
      width: var(--gse-ui-icon-size-sm);
      height: var(--gse-ui-icon-size-sm);
    }

    button {
      display: block;
      align-items: center;
      overflow: hidden;
      color: var(--gse-ui-search-counter-default-foregroundColor);
      cursor: pointer;
      background: none;
      border: none;
      border-radius: var(--gse-ui-button-borderRadius);
      outline: none;

      &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: var(--gse-ui-formControl-input-disabled-opacity);
      }

      &:not(:disabled):hover,
      &:not(:disabled):focus-visible {
        color: var(--gse-ui-search-counter-hover-foregroundColor);
      }

      &:not(.gux-clear-button):focus-visible:enabled {
        @include focus.gux-focus-ring;
      }

      &.gux-clear-button {
        flex-shrink: 0;
        align-items: center;
        padding-right: 0;
        padding-left: 0;

        gux-icon {
          width: var(--gse-ui-icon-size-sm);
          height: var(--gse-ui-icon-size-sm);
        }
      }
    }

    .gux-navigation-disabled {
      pointer-events: auto;
      cursor: default;
      opacity: var(--gse-ui-formControl-input-disabled-opacity);
    }

    .gux-navigation-panel {
      display: flex;
      gap: var(--gse-ui-search-counter-gap);

      .gux-navigation-divider {
        height: 16px; // TODO COMUI-2310 - missing token for divider height
        background-color: #c6c8ce; // TODO COMUI-2310 - missing token for divider background color.
        border: 1px var(--gse-ui-search-counter-divider-border-style)
          var(--gse-ui-search-counter-divider-border-color);
        color: var(--gse-ui-search-counter-default-foregroundColor);
      }

      .gux-navigation-buttons {
        display: flex;
        flex-direction: row;
      }

      .gux-navigation-result {
        align-items: center;
        white-space: nowrap;
        color: var(--gse-ui-search-counter-default-foregroundColor);
      }

      .gux-previous-button {
        flex-shrink: 0;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
      }

      .gux-next-button {
        flex-shrink: 0;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
