// Variables part
@use '~genesys-spark/dist/scss/focus.scss';

:host {
  display: inline-block;
  inline-size: 300px; // TODO: GDS-2451 according to figma this should be a 320px token ?
  min-inline-size: 300px;
}

::slotted(input[disabled]) {
  opacity: var(--gse-ui-formControl-input-disabled-opacity);
}

::slotted(input) {
  box-sizing: border-box;
  flex-shrink: 1;
  flex-basis: 100%;
  inline-size: 100%;
  min-inline-size: 20px; // TODO: GDS-2451 token to be added here
  overflow: hidden;
  font-family: var(--gse-ui-search-counter-text-fontFamily);
  font-size: var(--gse-ui-search-counter-text-fontSize);
  font-weight: var(--gse-ui-search-counter-text-fontWeight);
  line-height: var(--gse-ui-search-counter-text-lineHeight);
  color: var(--gse-ui-formControl-input-populatedColor);
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  background-image: none;
  border: 0;
  border-radius: 0;
  outline: none;

  &::placeholder {
    color: var(--gse-ui-formControl-input-populatedColor);
  }

  &.gux-focused,
  &:focus,
  &:focus-visible {
    border: 0;
    outline: none;
    box-shadow: none;
  }
}

.gux-content-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--gse-ui-formControl-input-gap);
  inline-size: 100%;
  block-size: var(--gse-ui-formControl-input-textfield-height);
  padding: var(--gse-ui-formControl-textarea-padding);
  cursor: text;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  background-image: none;
  border: var(--gse-ui-formControl-input-default-border-width)
    var(--gse-ui-formControl-input-default-border-style)
    var(--gse-ui-formControl-input-default-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  gux-truncate {
    display: flex;
    align-items: center;
  }

  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    opacity: var(--gse-ui-formControl-input-disabled-opacity);
  }

  &:focus-visible,
  &:focus-within {
    border: var(--gse-ui-formControl-input-active-border-width)
      var(--gse-ui-formControl-input-active-border-style)
      var(--gse-ui-formControl-input-active-border-color);
    border-radius: var(--gse-ui-formControl-focusRing-borderRadius);
    outline: var(--gse-ui-formControl-input-focus-border-width)
      var(--gse-ui-formControl-input-focus-border-style)
      var(--gse-ui-formControl-input-focus-border-color);
    outline-offset: var(--gse-semantic-focusOutline-offset);
  }

  &:not(:disabled):not(.gux-disabled):hover {
    border: var(--gse-ui-formControl-input-hover-border-width)
      var(--gse-ui-formControl-input-hover-border-style)
      var(--gse-ui-formControl-input-hover-border-color);
  }

  .gux-search-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:disabled {
      pointer-events: none;
      cursor: default;
      opacity: var(--gse-ui-formControl-input-disabled-opacity);
    }

    gux-icon {
      inline-size: var(--gse-ui-search-counter-icon-width);
      block-size: var(--gse-ui-search-counter-icon-height);
      color: var(--gse-ui-formControl-input-inputIcon-defaultColor);
    }
  }

  .gux-content-control-panel {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: var(--gse-ui-formControl-input-gap);
    place-content: center flex-end;
    align-items: center;
    padding: 0;

    gux-icon {
      inline-size: var(--gse-ui-icon-small-size);
      block-size: var(--gse-ui-icon-small-size);
    }

    button {
      display: block;
      align-items: center;
      block-size: var(--gse-ui-search-counter-icon-height);
      padding: 0;
      overflow: hidden;
      color: var(--gse-ui-search-counter-default-foregroundColor);
      cursor: pointer;
      background: none;
      border: none;
      border-radius: var(--gse-ui-button-borderRadius);
      outline: none;

      &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: var(--gse-ui-formControl-input-disabled-opacity);
      }

      &:not(:disabled):hover,
      &:not(:disabled):focus-visible {
        color: var(--gse-ui-search-counter-hover-foregroundColor);
      }

      &:not(.gux-clear-button):focus-visible:enabled {
        @include focus.gux-focus-ring;
      }

      &.gux-clear-button {
        flex-shrink: 0;
        align-items: center;

        gux-icon {
          inline-size: var(--gse-ui-icon-small-size);
          block-size: var(--gse-ui-icon-small-size);
        }
      }
    }

    .gux-navigation-disabled {
      pointer-events: auto;
      cursor: default;
      opacity: var(--gse-ui-formControl-input-disabled-opacity);
    }

    .gux-navigation-panel {
      display: flex;
      gap: var(--gse-ui-search-counter-gap);
      align-items: center;

      .gux-navigation-divider {
        box-sizing: border-box;
        align-self: center;
        block-size: 16px; // TODO: GDS-2451 - missing token for divider height
        color: var(--gse-ui-search-counter-default-foregroundColor);
        border: 1px var(--gse-ui-search-counter-divider-border-style)
          var(--gse-ui-search-counter-divider-border-color);
      }

      .gux-navigation-buttons {
        display: flex;
        flex-direction: row;
      }

      .gux-navigation-result {
        align-items: center;
        color: var(--gse-ui-search-counter-default-foregroundColor);
        white-space: nowrap;
      }

      .gux-previous-button {
        flex-shrink: 0;
        align-items: center;
      }

      .gux-next-button {
        flex-shrink: 0;
        align-items: center;
      }
    }
  }
}
