@import (reference) '../option-defaults.less';

gux-option-icon {
  .gux-option-defaults();

  gux-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding-right: @gux-spacing-xs;
  }
}
