<div>
  <h3>Accents</h3>
  <gux-notification-toast accent="neutral">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is the message</div>
  </gux-notification-toast>

  <gux-notification-toast accent="positive">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is a message that is long but is one line</div>
  </gux-notification-toast>

  <gux-notification-toast accent="alert">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">
      <div>This is the first line</div>
      <div>This is the second line</div>
    </div>
  </gux-notification-toast>
  <gux-notification-toast accent="warning">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is the message</div>
  </gux-notification-toast>
</div>

<div class="stop-default">
  <h3>Dismiss event default prevented</h3>
  <gux-notification-toast accent="neutral">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is the message</div>
  </gux-notification-toast>
  <gux-notification-toast accent="neutral">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is the message</div>
  </gux-notification-toast>
  <gux-notification-toast accent="neutral">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is the message</div>
  </gux-notification-toast>
  <gux-notification-toast accent="neutral">
    <gux-icon slot="icon" icon-name="user-add" decorative></gux-icon>
    <div slot="title">Title</div>
    <div slot="message">This is the message</div>
  </gux-notification-toast>
</div>

<style
  onload="(function() {
  const test = document.querySelector('.stop-default');
  test.addEventListener('guxdismiss', (event) => {
    event.preventDefault();

    event.target.classList.toggle('red');
  })
})()"
>
  .red {
    background-color: red !important;
  }
</style>
