:host {
  display: block;
  width: fit-content;
}

.gux-card {
  box-sizing: border-box;
  padding: var(--gse-ui-card-padding);
  background-color: var(--gse-ui-card-backgroundColor);
  border: var(--gse-ui-card-default-border-width)
    var(--gse-ui-card-default-border-style)
    var(--gse-ui-card-default-border-color);
  border-radius: var(--gse-ui-card-borderRadius);

  &.gux-bordered {
    border: var(--gse-ui-card-default-border-width)
      var(--gse-ui-card-default-border-style)
      var(--gse-ui-card-default-border-color);
  }

  &.gux-raised {
    border: var(--gse-ui-card-raised-border-width)
      var(--gse-ui-card-raised-border-style)
      var(--gse-ui-card-raised-border-color);
    box-shadow: var(--gse-ui-card-raised-boxShadow-offsetX)
      var(--gse-ui-card-raised-boxShadow-offsetY)
      var(--gse-ui-card-raised-boxShadow-blur)
      var(--gse-ui-card-raised-boxShadow-spread)
      var(--gse-ui-card-raised-boxShadow-color);
  }

  &.gux-borderless {
    border: var(--gse-ui-card-borderless-border-width)
      var(--gse-ui-card-borderless-border-style)
      var(--gse-ui-card-borderless-border-color);
  }
}
