@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
  inline-size: fit-content;
}

.gux-card {
  box-sizing: border-box;
  padding: ui.$gse-ui-card-padding;
  background-color: ui.$gse-ui-card-backgroundColor;
  border: ui.$gse-ui-card-default-border-width
    ui.$gse-ui-card-default-border-style ui.$gse-ui-card-default-border-color;
  border-radius: ui.$gse-ui-card-borderRadius;

  &.gux-bordered {
    border: ui.$gse-ui-card-default-border-width
      ui.$gse-ui-card-default-border-style ui.$gse-ui-card-default-border-color;
  }

  &.gux-raised {
    border: ui.$gse-ui-card-raised-border-width
      ui.$gse-ui-card-raised-border-style ui.$gse-ui-card-raised-border-color;
    box-shadow: ui.$gse-ui-card-raised-boxShadow;
  }

  &.gux-borderless {
    border: ui.$gse-ui-card-borderless-border-width
      ui.$gse-ui-card-borderless-border-style
      ui.$gse-ui-card-borderless-border-color;
  }
}
