@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

:host {
  display: inline-block;
}

.gux-change-photo {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 0px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;

  .gux-change-photo-icon {
    display: none;
  }

  &:hover,
  &:focus-visible {
    cursor: pointer;

    .gux-change-photo-icon {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: global.$gse-semantic-zIndex-showFocus;
      display: inline-block;
      color: ui.$gse-ui-avatar-hoverModal-foregroundColor;
      transform: translate(-50%, -50%);
    }

    &::after {
      position: absolute;
      inset-block-start: ui.$gse-ui-avatar-large-presenceRing-width;
      inset-inline-start: ui.$gse-ui-avatar-large-presenceRing-width;
      inline-size: ui.$gse-ui-avatar-addChangeImage-hoverModal-shroudSize;
      block-size: ui.$gse-ui-avatar-addChangeImage-hoverModal-shroudSize;
      content: '';
      background-color: ui.$gse-ui-avatar-hoverModal-shroudColor;
      border: ui.$gse-ui-avatar-content-large-border-width
        ui.$gse-ui-avatar-content-default-border-style
        ui.$gse-ui-avatar-content-default-border-color;
      border-radius: 50%;
      opacity: ui.$gse-ui-avatar-hoverModal-opacity;
      transition: background-color 0.5s ease;
    }
  }

  &:focus-visible {
    @include focus.gux-focus-ring;
  }
}
