@use '~genesys-spark/dist/beta/tokens/flare/global.scss';

@mixin gux-input-focus-border {
  outline: var(--gse-ui-formControl-input-focus-border-width)
    var(--gse-ui-formControl-input-focus-border-style)
    var(--gse-ui-formControl-input-focus-border-color);
  outline-offset: global.$gse-semantic-focusOutline-offset;
}

:host {
  box-sizing: border-box;
  color: var(--gse-ui-formControl-input-populatedColor);
}

.gux-field,
.gux-target-container-expanded {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch center;
  align-items: center;
  inline-size: 100%;
  block-size: var(--gse-ui-formControl-input-textfield-height);
  font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  font-weight: var(--gse-ui-formControl-input-contentText-fontWeight);
  line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
  cursor: pointer;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
}

.gux-target-container-expanded,
.gux-target-container-collapsed .gux-field {
  padding: var(--gse-ui-formControl-input-padding);
}

.gux-error {
  &.gux-target-container-collapsed .gux-field-button,
  &.gux-target-container-expanded {
    border: var(--gse-ui-formControl-input-error-border-width)
      var(--gse-ui-formControl-input-error-border-style)
      var(--gse-ui-formControl-input-error-border-color);
  }
}

.gux-disabled {
  &.gux-target-container-collapsed .gux-field-button,
  &.gux-target-container-expanded {
    user-select: none;
    border: var(--gse-ui-formControl-input-disabled-border-width)
      var(--gse-ui-formControl-input-disabled-border-style)
      var(--gse-ui-formControl-input-disabled-border-color);
  }
}

.gux-target-container-collapsed .gux-field-button:hover,
.gux-target-container-expanded:hover {
  border: var(--gse-ui-formControl-input-hover-border-width)
    var(--gse-ui-formControl-input-hover-border-style)
    var(--gse-ui-formControl-input-hover-border-color);
}

.gux-field {
  &.gux-input-field {
    block-size: var(--gse-ui-formControl-input-contentText-lineHeight);
  }

  .gux-field-content {
    // COMUI-1650 consider updating default z-index values
    // Default value for popup is 2, and this tooltip must show on top
    --gux-zindex-tooltip: 3;

    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: stretch flex-start;
    align-items: flex-start;
    min-inline-size: 0;
    block-size: var(--gse-ui-formControl-input-contentText-lineHeight);

    .gux-filter,
    .gux-selected-option,
    .gux-placeholder {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .gux-filter {
      position: relative;
      block-size: 100%;

      .gux-filter-input {
        all: unset;
        inline-size: 100%;
        color: transparent;
        caret-color: var(--gse-ui-formControl-input-populatedColor);
      }

      .gux-filter-display {
        white-space: pre;

        .gux-filter-text {
          color: var(--gse-ui-formControl-input-populatedColor);
        }

        .gux-filter-suggestion {
          color: var(--gse-ui-formControl-input-suggestionColor);
        }
      }

      .gux-filter-input,
      .gux-filter-display {
        position: absolute;
      }
    }

    .gux-placeholder {
      color: var(--gse-ui-formControl-input-placeholderColor);
    }
  }

  .gux-expand-icon {
    flex: 0 0 auto;
    align-self: auto;
    order: 0;
    padding-inline-start: var(--gse-ui-dropdown-gap);
    color: var(--gse-ui-formControl-input-inputIcon-iconEndColor);
  }
}

.gux-target-container-expanded {
  border: var(--gse-ui-formControl-input-active-border-width)
    var(--gse-ui-formControl-input-active-border-style)
    var(--gse-ui-formControl-input-active-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &:focus-visible {
    @include gux-input-focus-border;
  }

  &:focus-within:has(:focus-visible) {
    @include gux-input-focus-border;
  }

  .gux-filter-input {
    background-color: inherit;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  .gux-field-button {
    inline-size: auto;
    block-size: var(--gse-ui-formControl-input-contentText-lineHeight);
    margin: 0;
    outline: none;
    background: inherit;
    border: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}

.gux-target-container-collapsed .gux-field-button {
  border: var(--gse-ui-formControl-input-default-border-width)
    var(--gse-ui-formControl-input-default-border-style)
    var(--gse-ui-formControl-input-default-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &:focus-visible {
    @include gux-input-focus-border;
  }

  &:focus-within:has(:focus-visible) {
    @include gux-input-focus-border;
  }
}

::slotted(gux-listbox) {
  outline: none;
  box-shadow: var(--gse-ui-menu-boxShadow);
}

// Selected option styles

.gux-selected-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.gux-icon-position-end {
    flex-direction: row-reverse;
  }

  gux-icon {
    padding-inline-end: var(--gse-ui-dropdown-gap);
  }
}
