@import (reference) '../option-defaults.less';

gux-option-icon {
  @icon-size: 16px;
  @line-height: 20px; // measured from browser

  .gux-option-defaults();

  align-items: flex-start;

  gux-icon {
    flex-shrink: 0;
    width: @icon-size;
    height: @icon-size;
    // This & align-items: flex-start; ensures the icon is centered on the first line of text
    margin-block-start: calc((@line-height - @icon-size) / 2);
    margin-inline-end: 8px;
  }
}
