@use '../option-defaults';

@include option-defaults.gux-option-default;

:host {
  gux-icon {
    flex-shrink: 0;
    inline-size: var(--gse-ui-menu-option-startIcon-width);
    block-size: var(--gse-ui-menu-option-startIcon-height);
  }

  .gux-option-wrapper {
    min-inline-size: 0;
  }
}
