@use '../option-defaults';

@include option-defaults.gux-option-default;

:host {
  gux-icon {
    flex-shrink: 0;
    width: var(--gse-ui-menu-option-startIcon-width);
    height: var(--gse-ui-menu-option-startIcon-height);
  }
}
