<div>
  <h2>Position right</h2>
  <gux-disclosure-button position="right">
    <p slot="panel-content">This panel opens up from the right side.</p>
  </gux-disclosure-button>
</div>
<div>
  <h2>Position left</h2>
  <gux-disclosure-button>
    <p slot="panel-content">This panel opens up from the left side.</p>
  </gux-disclosure-button>
</div>
<div>
  <h2>Position left with is-open</h2>
  <div style="display: flex;">
    <div>
      <gux-disclosure-button is-open="true">
        <div style="padding: 0 10px 0 0;" slot="panel-content">
          <ul>
            <li>This panel opens up at the start.</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
        </div>
      </gux-disclosure-button>
    </div>
    <div style="padding: 0 10px;">
      <p>Some other container</p>
    </div>
    <div></div>
  </div>
</div>
