@use '../../../../style/typography';

$icon-off: #99a4b8;
$icon-on: #2e394c;
$hover-on: #2a60c8;
$inactive-small: #e2e6ee;
$active-tab: #75a8ff;

gux-switch-item {
  > .gux-switch-item {
    @include typography.body-sm-regular;

    font: unset;
    color: #2e394c;
    text-align: center;
    background: none;
    border: none;
    outline: none;

    > gux-icon {
      svg {
        fill: $icon-off;
      }
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &.gux-selected {
    @include typography.body-sm-bold;
  }
}

gux-switch-legacy {
  // Default
  > gux-switch-item {
    .gux-switch-item {
      padding: 0 8px 4px;
      border-bottom: 1px solid $inactive-small;

      &:focus-visible,
      &:hover {
        padding: 0 8px 1px;
        border-bottom: 4px solid #2a60c8;
        outline: none;

        > gux-icon {
          svg {
            fill: $icon-on;
          }
        }
      }

      > gux-icon {
        width: 32px;
        height: 32px;
      }
    }

    &.gux-selected {
      .gux-switch-item {
        padding: 0 8px 1px;
        border-bottom: 4px solid #2a60c8;

        > gux-icon {
          svg {
            fill: $icon-on;
          }
        }
      }
    }
  }

  &.gux-small {
    > gux-switch-item {
      .gux-switch-item {
        @include typography.body-sm-regular;

        padding: 0 4px;
        border-bottom: 1px solid $inactive-small;

        &:focus-visible,
        &:hover {
          border-bottom-color: $icon-on;
        }

        > gux-icon {
          width: 24px;
          height: 24px;
        }
      }

      &.gux-selected {
        .gux-switch-item {
          border-bottom-color: $icon-on;
        }
      }
    }
  }
}
