@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/typography.scss';

$icon-off: #99a4b8;
$icon-on: ui.$gse-ui-segmentedControl-button-disabled-foregroundColor;
$hover-on: ui.$gse-ui-segmentedControl-button-default-foregroundColor;
$inactive-small: ui.$gse-ui-segmentedControl-button-active-backgroundColor;
$active-tab: ui.$gse-ui-segmentedControl-button-active-foregroundColor;

gux-switch-item {
  > .gux-switch-item {
    @include typography.body-sm-regular;

    font: unset;
    color: global.$gse-semantic-foreground-container-highEmphasis;
    text-align: center;
    outline: none;
    background: none;
    border: none;

    > gux-icon {
      svg {
        fill: $icon-off;
      }
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &.gux-selected {
    @include typography.body-sm-bold;
  }
}

gux-switch-legacy {
  // Default
  > gux-switch-item {
    .gux-switch-item {
      padding: 0 8px 4px;
      border-bottom: 1px solid #{$inactive-small};

      &:focus-visible,
      &:hover {
        padding: 0 8px 1px;
        border-bottom: 4px solid
          #{ui.$gse-ui-segmentedControl-button-default-foregroundColor};

        > gux-icon {
          svg {
            fill: $icon-on;
          }
        }
      }

      &:focus-visible {
        @include focus.gux-focus-ring;

        border-radius: 2px;
      }

      > gux-icon {
        width: 32px;
        height: 32px;
      }
    }

    &.gux-selected {
      .gux-switch-item {
        padding: 0 8px 1px;
        border-bottom: 4px solid
          #{ui.$gse-ui-segmentedControl-button-default-foregroundColor};

        > gux-icon {
          svg {
            fill: $icon-on;
          }
        }
      }
    }
  }

  &.gux-small {
    > gux-switch-item {
      .gux-switch-item {
        @include typography.body-sm-regular;

        padding: 0 4px;
        border-bottom: 1px solid #{$inactive-small};

        &:focus-visible,
        &:hover {
          border-bottom-color: $icon-on;
        }

        > gux-icon {
          width: 24px;
          height: 24px;
        }
      }

      &.gux-selected {
        .gux-switch-item {
          border-bottom-color: $icon-on;
        }
      }
    }
  }
}
