<gux-input-checkbox-beta>
  <input slot="input" type="checkbox" id="pizza" name="food" value="pizza" />
  <label slot="label" for="pizza">Pizza</label>
</gux-input-checkbox-beta>

<gux-input-checkbox-beta>
  <input
    slot="input"
    type="checkbox"
    id="pasta"
    name="subscribe"
    value="pasta"
    checked
  />
  <label slot="label" for="pasta">Pasta</label>
</gux-input-checkbox-beta>

<gux-input-checkbox-beta>
  <input
    slot="input"
    type="checkbox"
    id="hamburger"
    name="subscribe"
    value="hamburger"
  />
  <label slot="label" for="hamburger">Hamburger</label>
</gux-input-checkbox-beta>

<gux-input-checkbox-beta>
  <input
    slot="input"
    type="checkbox"
    id="sandwich"
    name="subscribe"
    value="sandwich"
    disabled
  />
  <label slot="label" for="sandwich">Sandwich</label>
</gux-input-checkbox-beta>
