.gux-container {
  width: 320px;
  min-width: 320px;
}
.gux-container .gux-search gux-content-search {
  width: 100%;
}
.gux-container .gux-select {
  padding: 8px 0 8px 16px;
  margin: 4px 0;
  color: #596373;
  background-color: #f6f7f9;
  border-radius: 4px;
}
.gux-sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
