<!--
   For proper accessibility, use the heading-level attribute to set
   an appropriate heading level for accordion section headers 
   relative to the rest of the document. This works just like the 
   browser's native heading elements, so `heading-level="3"` is 
   equivalent to `h3`
-->
<gux-accordion id="interactive" heading-level="3">
  <div slot="First Section">
    <span>I'm a span in a div.</span>
    <button>I'm the button.</button>
  </div>
  <p slot="Second Section">I'm a p.</p>
  <span slot="Third Section">I'm a span.</span>
  <h1>I'm an h1, but i'm not a slot.</h1>
</gux-accordion>
