@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

button {
  all: unset;
  font-family: ui.$gse-ui-stepper-default-text-fontFamily;
  font-size: ui.$gse-ui-stepper-default-text-fontSize;
  font-weight: ui.$gse-ui-stepper-default-text-fontWeight;
  line-height: ui.$gse-ui-stepper-default-text-lineHeight;
  color: ui.$gse-ui-stepper-title-default;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    user-select: none;
  }

  &:hover:not([disabled]) {
    font-family: ui.$gse-ui-stepper-hover-text-fontFamily;
    font-size: ui.$gse-ui-stepper-hover-text-fontSize;
    font-weight: ui.$gse-ui-stepper-hover-text-fontWeight;
    line-height: ui.$gse-ui-stepper-hover-text-lineHeight;
    color: ui.$gse-ui-stepper-title-hover;
    text-decoration: ui.$gse-ui-stepper-hover-text-textDecoration;
  }
}

button:focus-visible {
  outline: ui.$gse-ui-stepper-step-focus-border-width
    ui.$gse-ui-stepper-step-focus-border-style
    ui.$gse-ui-stepper-step-focus-border-color;
  outline-offset: ui.$gse-ui-stepper-focus-offset;
  border-radius: ui.$gse-ui-stepper-step-focus-borderRadius;
}
