.gux-popover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--gse-semantic-zIndex-popover);
  display: inline-block;
  min-width: 280px;
  padding: var(--gse-ui-popover-gap);
  background-color: var(--gse-ui-popover-backgroundColor);
  border-radius: var(--gse-ui-popover-borderRadius);
  box-shadow: var(--gse-ui-popover-boxShadow-x)
    var(--gse-ui-popover-boxShadow-y) var(--gse-ui-popover-boxShadow-blur)
    var(--gse-ui-popover-boxShadow-spread) var(--gse-ui-tooltip-boxShadow-color);

  &.gux-hidden {
    display: none;
  }

  .gux-arrow {
    position: absolute;
    width: var(--gse-ui-popover-anchor-width);
    height: var(--gse-ui-popover-anchor-height);

    /* 4px padding leaves some space for the shadow to bleed into */
    padding-bottom: 4px;
    overflow: hidden;
  }

  .gux-arrow-caret {
    width: 0;
    height: 0;
    filter: drop-shadow(
      var(--gse-ui-popover-boxShadow-x) var(--gse-ui-popover-boxShadow-y)
        calc(var(--gse-ui-popover-boxShadow-blur) / 2)
        var(--gse-ui-tooltip-boxShadow-color)
    );
    border-top: calc(var(--gse-ui-popover-anchor-width) / 2) solid
      var(--gse-ui-popover-backgroundColor);
    border-right: calc(var(--gse-ui-popover-anchor-width) / 2) solid transparent;
    border-left: calc(var(--gse-ui-popover-anchor-width) / 2) solid transparent;
  }

  .gux-popover-header {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    padding-bottom: var(--gse-ui-popover-gap);
    font-family: var(--gse-ui-popover-title-text-fontFamily);
    font-size: var(--gse-ui-popover-title-text-fontSize);
    font-weight: var(--gse-ui-popover-title-text-fontWeight);
    line-height: var(--gse-ui-popover-title-text-lineHeight);
    color: (--gse-ui-popover-headercolor);
  }

  gux-dismiss-button {
    float: right;
  }
}
