@use '../../../style/zindex.scss';

.gux-popover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--gux-zindex-popover, zindex.$gux-zindex-popover);
  display: inline-block;
  min-width: 280px;
  padding: var(--gse-ui-popover-gap);
  background-color: var(--gse-ui-popover-backgroundColor);
  border-radius: var(--gse-ui-popover-borderRadius);
  box-shadow: var(--gse-ui-popover-boxShadow-x)
    var(--gse-ui-popover-boxShadow-y) var(--gse-ui-popover-boxShadow-blur)
    var(--gse-ui-popover-boxShadow-spread) var(--gse-ui-tooltip-boxShadow-color);

  &.gux-hidden {
    display: none;
  }

  .gux-arrow {
    position: absolute;
    width: var(--gse-ui-popover-anchor-width);
    height: var(--gse-ui-popover-anchor-width);
    background: var(--gse-ui-popover-backgroundColor);
  }

  .gux-popover-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--gse-ui-popover-gap);
    font-family: var(--gse-ui-popover-title-text-fontFamily);
    font-size: var(--gse-ui-popover-title-text-fontSize);
    font-weight: var(--gse-ui-popover-title-text-fontWeight);
    line-height: var(--gse-ui-popover-title-text-lineHeight);
    color: (--gse-ui-popover-headercolor);
  }

  gux-dismiss-button {
    float: right;
  }
}
