@import (reference) '../../../style/color.less';
@import (reference) '../../../style/shadows.less';
@import (reference) '../../../style/spacing.less';
@import (reference) '../../../style/zindex.less';
@import (reference) '../../../style/typography.less';

@gux-arrow-height: 5px;

:host {
  color: @gux-black-50;
}

.gux-popover-wrapper {
  z-index: var(--gux-zindex-popover, @gux-zindex-popover);
  display: inline-block;
  padding: @gux-spacing-medium;
  background-color: @gux-grey-100;
  border-radius: @gux-spacing-2xs;
  .gux-shadow-40();

  .gux-arrow,
  .gux-arrow::before {
    position: absolute;
    width: @gux-arrow-height * 2;
    height: @gux-arrow-height * 2;
    background: inherit;
  }

  .gux-arrow {
    visibility: hidden;
  }

  .gux-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  &[data-popper-placement='bottom'],
  &[data-popper-placement='bottom-start'],
  &[data-popper-placement='bottom-end'] {
    .gux-arrow {
      top: -1 * (@gux-arrow-height);
    }
  }

  &[data-popper-placement='top'],
  &[data-popper-placement='top-start'],
  &[data-popper-placement='top-end'] {
    .gux-arrow {
      bottom: -1 * (@gux-arrow-height);
    }
  }

  &[data-popper-placement='left'],
  &[data-popper-placement='left-start'],
  &[data-popper-placement='left-end'] {
    .gux-arrow {
      right: -1 * (@gux-arrow-height);
    }
  }

  &[data-popper-placement='right'],
  &[data-popper-placement='right-start'],
  &[data-popper-placement='right-end'] {
    .gux-arrow {
      left: -1 * (@gux-arrow-height);
    }
  }

  .gux-popover-header {
    .body-font-bold();

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: @gux-spacing-medium;
  }

  gux-dismiss-button {
    float: right;
  }
}
