gux-form-field-search {
  input {
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
    &:focus-visible {
      outline: none;
    }
  }
}
