<h1>Data table</h1>
<gux-table-beta>
  <table slot="data">
    <thead>
      <tr>
        <th data-column-name="first-name" data-sortable>First name</th>
        <th data-column-name="last-name">Last name</th>
        <th data-column-name="age" data-cell-numeric data-sortable>Age</th>
        <th data-column-name="action" data-cell-action>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td data-cell-numeric>25</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>21</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
    </tbody>
  </table>
</gux-table-beta>

<h1>Data table compact</h1>
<gux-table-beta compact>
  <table slot="data">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th data-cell-numeric>Age</th>
        <th data-cell-action>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td data-cell-numeric>25</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>21</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
    </tbody>
  </table>
</gux-table-beta>

<h1>Object table</h1>
<gux-table-beta object-table>
  <table slot="data">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th data-cell-numeric>Age</th>
        <th data-cell-action>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td data-cell-numeric>25</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>21</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
    </tbody>
  </table>
</gux-table-beta>

<h1>Empty table</h1>
<gux-table-beta object-table>
  <table slot="data">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th data-cell-numeric>Age</th>
        <th data-cell-action>Action</th>
      </tr>
    </thead>
  </table>
</gux-table-beta>

<h1>Data table with scroll</h1>
<gux-table-beta style="height: 150px;">
  <table slot="data">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <th>Biography</th>
        <th>Date of birth</th>
        <th>Office</th>
        <th>Position</th>
        <th>Department</th>
        <th>Salary</th>
        <th data-cell-numeric>Age</th>
        <th data-cell-action>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>25</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>21</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>test@testmail.test</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
        <td>05/10/1980</td>
        <td>San Francisco</td>
        <td>Developer</td>
        <td>Javascript</td>
        <td>1500</td>
        <td data-cell-numeric>23</td>
        <td data-cell-action>Delete</td>
      </tr>
    </tbody>
  </table>
</gux-table-beta>