@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: stretch flex-start;
  align-items: flex-start;
  padding: ui.$gse-ui-menu-padding;
}
