@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

@mixin gux-list-item-default {
  :host {
    inline-size: 100%;
    text-align: start;
    outline: none;
  }

  :host([disabled]) {
    pointer-events: none;
  }

  :host([disabled='false']) {
    pointer-events: auto;
  }

  ::slotted(gux-icon) {
    inline-size: ui.$gse-ui-menu-option-startIcon-height;
    block-size: ui.$gse-ui-menu-option-startIcon-height;
    margin-inline-end: ui.$gse-ui-menu-option-gap;
    vertical-align: middle;
  }

  button {
    all: unset;
    box-sizing: border-box;
    inline-size: 100%;
    min-block-size: ui.$gse-ui-menu-option-height;
    padding: ui.$gse-ui-menu-option-padding;
    font-family: ui.$gse-ui-menu-option-label-default-text-fontFamily;
    font-size: ui.$gse-ui-menu-option-label-default-text-fontSize;
    font-weight: ui.$gse-ui-menu-option-label-default-text-fontWeight;
    line-height: ui.$gse-ui-menu-option-label-default-text-lineHeight;
    color: ui.$gse-ui-menu-option-label-foregroundColor;
    overflow-wrap: break-word;
    cursor: pointer;
    outline: none;
    outline-offset: calc(
      #{ui.$gse-ui-menu-option-focus-border-width} * -1
    ) !important;
    background-color: ui.$gse-ui-menu-option-default-backgroundColor;
    border: none;

    &:focus-visible:not(:disabled) {
      outline: ui.$gse-ui-menu-option-focus-border-width
        ui.$gse-ui-menu-option-focus-border-style
        ui.$gse-ui-menu-option-focus-border-color;
      border-radius: global.$gse-semantic-focusOutline-sm-borderRadius;
    }

    &:hover:not(:disabled) {
      background: ui.$gse-ui-menu-option-hover-backgroundColor;
    }

    &:active:not(:disabled) {
      font-family: ui.$gse-ui-menu-option-label-active-text-fontFamily;
      font-size: ui.$gse-ui-menu-option-label-active-text-fontSize;
      font-weight: ui.$gse-ui-menu-option-label-active-text-fontWeight;
      line-height: ui.$gse-ui-menu-option-label-active-text-lineHeight;
      background: ui.$gse-ui-menu-option-selected-backgroundColor;
    }

    &:disabled {
      cursor: default;
      opacity: ui.$gse-ui-menu-option-disabled-opacity;
    }
  }
}
