@import (reference) '../../../style/focus.less';
@import (reference) '../../../style/typography.less';

:host {
  color: #2e394c;
}

.gux-dropdown-container {
  position: relative;
}

.gux-error {
  &.gux-target-container-collapsed .gux-field-button,
  &.gux-target-container-expanded {
    border-color: #ea0b0b;
  }
}

.gux-field,
.gux-target-container-expanded {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  padding: 6px 0 6px 6px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.6667;
  cursor: pointer;
  background-color: #f6f7f9;
}

.gux-field {
  &.gux-input-field {
    height: 30px;
    cursor: text;
  }

  .gux-field-content {
    position: relative;
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    height: 100%;

    .gux-filter,
    .gux-selected-option,
    .gux-placeholder {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      padding-left: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .gux-sr-only {
        .gux-sr-only-clip();
      }
    }

    .gux-filter {
      position: relative;
      height: 100%;
      padding-left: 0;

      .gux-filter-input {
        all: unset;
        width: 100%;
        color: transparent;
        caret-color: #2e394c;
      }

      .gux-filter-display {
        white-space: pre;

        .gux-filter-text {
          color: #2e394c;
        }

        .gux-filter-suggestion {
          color: #596373;
        }
      }

      .gux-filter-input,
      .gux-filter-display {
        position: absolute;
      }
    }

    .gux-placeholder {
      color: #596373;
    }
  }

  .gux-expand-icon {
    flex: 0 0 auto;
    align-self: auto;
    order: 0;
    width: 16px;
    height: 16px;
    padding: 0 8px;
    color: #596373;
  }
}

.gux-target-container-expanded {
  .gux-form-field-border();

  &:focus-visible,
  &:focus-within {
    .gux-focus-ring();
  }

  .gux-filter-input {
    background-color: inherit;
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .gux-field-button {
    width: auto;
    height: 30px;
    padding: 0 0 0 8px;
    margin: 0;
    background: inherit;
    border: none;
    outline: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}

.gux-target-container-collapsed .gux-field-button {
  .gux-form-field-border();

  &:focus-visible,
  &:focus-within {
    .gux-focus-ring();
  }
}

.gux-listbox-container {
  box-sizing: border-box;
  margin: 0;
  color: #2e394c;
}

gux-popup::part(gux-popup-container) {
  width: inherit;
}

.gux-error-message-container {
  display: none;
  margin: 4px 0;

  &.gux-show {
    display: flex;
  }
}
