button {
  display: flex;
  padding: 0;
  color: var(--gse-ui-formControl-input-inputClearable-inputClearableColor);
  background: transparent;
  border: none;
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &:not(:disabled):focus-visible,
  &:not(:disabled):hover {
    color: var(--gse-ui-formControl-input-inputIcon-iconEndColor);
    cursor: pointer;
  }

  gux-icon {
    inline-size: var(--gse-ui-icon-small-size);
    block-size: var(--gse-ui-icon-small-size);
    border-radius: var(--gse-ui-formControl-input-borderRadius);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible:enabled {
    gux-icon {
      border: var(--gse-ui-formControl-input-active-border-width)
        var(--gse-ui-formControl-input-active-border-style)
        var(--gse-ui-formControl-input-active-border-color);
      border-radius: var(--gse-ui-formControl-focusRing-borderRadius);
      outline: var(--gse-ui-formControl-input-focus-border-width)
        var(--gse-ui-formControl-input-focus-border-style)
        var(--gse-ui-formControl-input-focus-border-color);
    }
  }
}
