@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

button {
  display: flex;
  padding: 0;
  color: ui.$gse-ui-formControl-input-inputClearable-inputClearableColor;
  background: transparent;
  border: none;
  border-radius: ui.$gse-ui-formControl-input-borderRadius;

  &:not(:disabled):focus-visible,
  &:not(:disabled):hover {
    color: ui.$gse-ui-formControl-input-inputIcon-iconEndColor;
    cursor: pointer;
  }

  gux-icon {
    border-radius: ui.$gse-ui-formControl-input-borderRadius;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible:enabled {
    gux-icon {
      outline: ui.$gse-ui-formControl-input-focus-border-width
        ui.$gse-ui-formControl-input-focus-border-style
        ui.$gse-ui-formControl-input-focus-border-color;
      border: ui.$gse-ui-formControl-input-active-border-width
        ui.$gse-ui-formControl-input-active-border-style
        ui.$gse-ui-formControl-input-active-border-color;
      border-radius: ui.$gse-ui-formControl-focusRing-borderRadius;
    }
  }
}
