:root {
  --gse-core-white: #ffffff;
  --gse-core-black: #000000;
  --gse-core-transparent: #00000000;
  --gse-core-cornflower-100: #f2f2f3;
  --gse-core-cornflower-200: #e4e5e7;
  --gse-core-cornflower-300: #c6c8ce;
  --gse-core-cornflower-400: #a3a7b0;
  --gse-core-cornflower-500: #767c8d;
  --gse-core-cornflower-600: #626e84;
  --gse-core-cornflower-700: #3e5374;
  --gse-core-cornflower-800: #23395d;
  --gse-core-cornflower-900: #1b2c48;
  --gse-core-cornflower-1000: #0f1929;
  --gse-core-islandaqua-100: #edf8f9;
  --gse-core-islandaqua-200: #daf0f4;
  --gse-core-islandaqua-300: #b5e2e8;
  --gse-core-islandaqua-400: #90d3dd;
  --gse-core-islandaqua-500: #6bc5d1;
  --gse-core-islandaqua-600: #46b6c6;
  --gse-core-islandaqua-700: #38929e;
  --gse-core-islandaqua-800: #0d7482;
  --gse-core-islandaqua-900: #115d71;
  --gse-core-islandaqua-1000: #094052;
  --gse-core-tomato-100: #fef3f3;
  --gse-core-tomato-200: #fee8e6;
  --gse-core-tomato-300: #fecfcb;
  --gse-core-tomato-400: #feb2ab;
  --gse-core-tomato-500: #fe8f85;
  --gse-core-tomato-600: #fe624d;
  --gse-core-tomato-700: #e35744;
  --gse-core-tomato-800: #c44b3b;
  --gse-core-tomato-900: #a03d30;
  --gse-core-tomato-1000: #712b22;
  --gse-core-lavenderhaze-100: #fbfcfe;
  --gse-core-lavenderhaze-200: #f3f5fb;
  --gse-core-lavenderhaze-300: #e8ebf7;
  --gse-core-lavenderhaze-400: #d1d7ef;
  --gse-core-lavenderhaze-500: #c6ceec;
  --gse-core-lavenderhaze-600: #b5bfe6;
  --gse-core-lavenderhaze-700: #a8b4e2;
  --gse-core-lavenderhaze-800: #9ba9dd;
  --gse-core-lavenderhaze-900: #7785b8;
  --gse-core-lavenderhaze-1000: #626d97;
  --gse-core-blueberry-50: #eff0fe;
  --gse-core-blueberry-100: #dee1fd;
  --gse-core-blueberry-200: #ced2fc;
  --gse-core-blueberry-300: #9ca6f9;
  --gse-core-blueberry-400: #7b88f7;
  --gse-core-blueberry-500: #5a6af5;
  --gse-core-blueberry-600: #4856cb;
  --gse-core-blueberry-700: #3742a2;
  --gse-core-blueberry-800: #252e78;
  --gse-core-blueberry-900: #1c2463;
  --gse-core-blueberry-1000: #141a4f;
  --gse-ui-form-label-font-family: Noto Sans;
  --gse-ui-form-label-font-weight: 400;
  --gse-ui-form-label-line-height: 18px;
  --gse-ui-form-label-font-size: 12px;
  --gse-ui-form-label-letter-spacing: 0%;
  --gse-ui-form-label-paragraph-spacing: 0;
  --gse-ui-form-label-paragraph-indent: 0px;
  --gse-ui-form-label-text-case: none;
  --gse-ui-form-label-text-decoration: none;
  --gse-ui-form-button-font-family: Urbanist;
  --gse-ui-form-button-font-weight: 600;
  --gse-ui-form-button-line-height: 20px;
  --gse-ui-form-button-font-size: 14px;
  --gse-ui-form-button-letter-spacing: 0%;
  --gse-ui-form-button-paragraph-spacing: 0;
  --gse-ui-form-button-paragraph-indent: 0px;
  --gse-ui-form-button-text-case: none;
  --gse-ui-form-button-text-decoration: none;
  --gse-ui-form-text-value-font-family: Noto Sans;
  --gse-ui-form-text-value-font-weight: 400;
  --gse-ui-form-text-value-line-height: 18px;
  --gse-ui-form-text-value-font-size: 12px;
  --gse-ui-form-text-value-letter-spacing: 0%;
  --gse-ui-form-text-value-paragraph-spacing: 0;
  --gse-ui-form-text-value-paragraph-indent: 0px;
  --gse-ui-form-text-value-text-case: none;
  --gse-ui-form-text-value-text-decoration: none;
  --gse-ui-form-counter-font-family: Noto Sans;
  --gse-ui-form-counter-font-weight: 400;
  --gse-ui-form-counter-line-height: 18px;
  --gse-ui-form-counter-font-size: 12px;
  --gse-ui-form-counter-letter-spacing: 0%;
  --gse-ui-form-counter-paragraph-spacing: 0;
  --gse-ui-form-counter-paragraph-indent: 0px;
  --gse-ui-form-counter-text-case: none;
  --gse-ui-form-counter-text-decoration: none;
  --gse-ui-form-placeholder-font-family: Noto Sans;
  --gse-ui-form-placeholder-font-weight: 400;
  --gse-ui-form-placeholder-line-height: 18px;
  --gse-ui-form-placeholder-font-size: 12px;
  --gse-ui-form-placeholder-letter-spacing: 0%;
  --gse-ui-form-placeholder-paragraph-spacing: 0;
  --gse-ui-form-placeholder-paragraph-indent: 0px;
  --gse-ui-form-placeholder-text-case: none;
  --gse-ui-form-placeholder-text-decoration: none;
  --gse-ui-form-match-font-family: Noto Sans;
  --gse-ui-form-match-font-weight: 400;
  --gse-ui-form-match-line-height: 18px;
  --gse-ui-form-match-font-size: 12px;
  --gse-ui-badge-label-font-family: Noto Sans;
  --gse-ui-badge-label-font-weight: 600;
  --gse-ui-badge-label-line-height: 16px;
  --gse-ui-badge-label-font-size: 12px;
  --gse-ui-toggle-label-font-family: Noto Sans;
  --gse-ui-toggle-label-font-weight: 400;
  --gse-ui-toggle-label-line-height: 16px;
  --gse-ui-toggle-label-font-size: 12px;
  --gse-ui-tag-label-font-family: Noto Sans;
  --gse-ui-tag-label-font-weight: 600;
  --gse-ui-tag-label-line-height: 15px;
  --gse-ui-tag-label-font-size: 12px;
  --gse-ui-link-default-font-family: Noto Sans;
  --gse-ui-link-default-font-weight: 400;
  --gse-ui-link-default-line-height: 18px;
  --gse-ui-link-default-font-size: 12px;
  --gse-ui-link-default-letter-spacing: 0%;
  --gse-ui-link-default-paragraph-spacing: 0;
  --gse-ui-link-default-paragraph-indent: 0px;
  --gse-ui-link-default-text-case: none;
  --gse-ui-link-default-text-decoration: none;
  --gse-ui-link-breadcrumb-medium-default-font-family: Noto Sans;
  --gse-ui-link-breadcrumb-medium-default-font-weight: 700;
  --gse-ui-link-breadcrumb-medium-default-line-height: 20px;
  --gse-ui-link-breadcrumb-medium-default-font-size: 14px;
  --gse-ui-link-breadcrumb-medium-default-letter-spacing: 0%;
  --gse-ui-link-breadcrumb-medium-default-paragraph-spacing: 0;
  --gse-ui-link-breadcrumb-medium-default-paragraph-indent: 0px;
  --gse-ui-link-breadcrumb-medium-default-text-case: none;
  --gse-ui-link-breadcrumb-medium-default-text-decoration: none;
  --gse-ui-link-breadcrumb-medium-underlined-font-family: Noto Sans;
  --gse-ui-link-breadcrumb-medium-underlined-font-weight: 700;
  --gse-ui-link-breadcrumb-medium-underlined-line-height: 20px;
  --gse-ui-link-breadcrumb-medium-underlined-font-size: 14px;
  --gse-ui-link-breadcrumb-medium-underlined-letter-spacing: 0%;
  --gse-ui-link-breadcrumb-medium-underlined-paragraph-spacing: 0;
  --gse-ui-link-breadcrumb-medium-underlined-paragraph-indent: 0px;
  --gse-ui-link-breadcrumb-medium-underlined-text-case: none;
  --gse-ui-link-breadcrumb-medium-underlined-text-decoration: underline;
  --gse-ui-link-breadcrumb-small-default-font-family: Noto Sans;
  --gse-ui-link-breadcrumb-small-default-font-weight: 700;
  --gse-ui-link-breadcrumb-small-default-line-height: 18px;
  --gse-ui-link-breadcrumb-small-default-font-size: 12px;
  --gse-ui-link-breadcrumb-small-default-letter-spacing: 0%;
  --gse-ui-link-breadcrumb-small-default-paragraph-spacing: 0;
  --gse-ui-link-breadcrumb-small-default-paragraph-indent: 0px;
  --gse-ui-link-breadcrumb-small-default-text-case: none;
  --gse-ui-link-breadcrumb-small-default-text-decoration: none;
  --gse-ui-link-breadcrumb-small-underlined-font-family: Noto Sans;
  --gse-ui-link-breadcrumb-small-underlined-font-weight: 700;
  --gse-ui-link-breadcrumb-small-underlined-line-height: 18px;
  --gse-ui-link-breadcrumb-small-underlined-font-size: 12px;
  --gse-ui-link-breadcrumb-small-underlined-letter-spacing: 0%;
  --gse-ui-link-breadcrumb-small-underlined-paragraph-spacing: 0;
  --gse-ui-link-breadcrumb-small-underlined-paragraph-indent: 0px;
  --gse-ui-link-breadcrumb-small-underlined-text-case: none;
  --gse-ui-link-breadcrumb-small-underlined-text-decoration: underline;
  --gse-ui-link-as-button-medium-default-font-family: Noto Sans;
  --gse-ui-link-as-button-medium-default-font-weight: 700;
  --gse-ui-link-as-button-medium-default-line-height: 20px;
  --gse-ui-link-as-button-medium-default-font-size: 14px;
  --gse-ui-link-as-button-medium-default-letter-spacing: 0%;
  --gse-ui-link-as-button-medium-default-paragraph-spacing: 0;
  --gse-ui-link-as-button-medium-default-paragraph-indent: 0px;
  --gse-ui-link-as-button-medium-default-text-case: none;
  --gse-ui-link-as-button-medium-default-text-decoration: none;
  --gse-ui-link-as-button-medium-underlined-font-family: Noto Sans;
  --gse-ui-link-as-button-medium-underlined-font-weight: 700;
  --gse-ui-link-as-button-medium-underlined-line-height: 20px;
  --gse-ui-link-as-button-medium-underlined-font-size: 14px;
  --gse-ui-link-as-button-medium-underlined-letter-spacing: 0%;
  --gse-ui-link-as-button-medium-underlined-paragraph-spacing: 0;
  --gse-ui-link-as-button-medium-underlined-paragraph-indent: 0px;
  --gse-ui-link-as-button-medium-underlined-text-case: none;
  --gse-ui-link-as-button-medium-underlined-text-decoration: underline;
  --gse-ui-link-in-line-medium-default-font-family: Noto Sans;
  --gse-ui-link-in-line-medium-default-font-weight: 600;
  --gse-ui-link-in-line-medium-default-line-height: 20px;
  --gse-ui-link-in-line-medium-default-font-size: 14px;
  --gse-ui-link-in-line-medium-default-letter-spacing: 0%;
  --gse-ui-link-in-line-medium-default-paragraph-spacing: 0;
  --gse-ui-link-in-line-medium-default-paragraph-indent: 0px;
  --gse-ui-link-in-line-medium-default-text-case: none;
  --gse-ui-link-in-line-medium-default-text-decoration: none;
  --gse-ui-link-in-line-medium-underlined-font-family: Noto Sans;
  --gse-ui-link-in-line-medium-underlined-font-weight: 600;
  --gse-ui-link-in-line-medium-underlined-line-height: 20px;
  --gse-ui-link-in-line-medium-underlined-font-size: 14px;
  --gse-ui-link-in-line-medium-underlined-letter-spacing: 0%;
  --gse-ui-link-in-line-medium-underlined-paragraph-spacing: 0;
  --gse-ui-link-in-line-medium-underlined-paragraph-indent: 0px;
  --gse-ui-link-in-line-medium-underlined-text-case: none;
  --gse-ui-link-in-line-medium-underlined-text-decoration: underline;
  --gse-ui-link-in-line-small-default-font-family: Noto Sans;
  --gse-ui-link-in-line-small-default-font-weight: 600;
  --gse-ui-link-in-line-small-default-line-height: 18px;
  --gse-ui-link-in-line-small-default-font-size: 12px;
  --gse-ui-link-in-line-small-default-letter-spacing: 0%;
  --gse-ui-link-in-line-small-default-paragraph-spacing: 0;
  --gse-ui-link-in-line-small-default-paragraph-indent: 0px;
  --gse-ui-link-in-line-small-default-text-case: none;
  --gse-ui-link-in-line-small-default-text-decoration: none;
  --gse-ui-link-in-line-small-underlined-font-family: Noto Sans;
  --gse-ui-link-in-line-small-underlined-font-weight: 600;
  --gse-ui-link-in-line-small-underlined-line-height: 18px;
  --gse-ui-link-in-line-small-underlined-font-size: 12px;
  --gse-ui-link-in-line-small-underlined-letter-spacing: 0%;
  --gse-ui-link-in-line-small-underlined-paragraph-spacing: 0;
  --gse-ui-link-in-line-small-underlined-paragraph-indent: 0px;
  --gse-ui-link-in-line-small-underlined-text-case: none;
  --gse-ui-link-in-line-small-underlined-text-decoration: underline;
  --gse-ui-link-underlined-font-family: Noto Sans;
  --gse-ui-link-underlined-font-weight: 400;
  --gse-ui-link-underlined-line-height: 18px;
  --gse-ui-link-underlined-font-size: 12px;
  --gse-ui-link-underlined-letter-spacing: 0%;
  --gse-ui-link-underlined-paragraph-spacing: 0;
  --gse-ui-link-underlined-paragraph-indent: 0px;
  --gse-ui-link-underlined-text-case: none;
  --gse-ui-link-underlined-text-decoration: underline;
  --gse-ui-copy-to-clipboard-default-font-family: Noto Sans;
  --gse-ui-copy-to-clipboard-default-font-weight: 400;
  --gse-ui-copy-to-clipboard-default-line-height: 20px;
  --gse-ui-copy-to-clipboard-default-font-size: 14px;
  --gse-ui-copy-to-clipboard-default-letter-spacing: 0%;
  --gse-ui-copy-to-clipboard-default-paragraph-spacing: 0;
  --gse-ui-copy-to-clipboard-default-paragraph-indent: 0px;
  --gse-ui-copy-to-clipboard-default-text-case: none;
  --gse-ui-copy-to-clipboard-default-text-decoration: underline;
  --gse-ui-breadcrumb-separator-medium-font-family: Noto Sans;
  --gse-ui-breadcrumb-separator-medium-font-weight: 700;
  --gse-ui-breadcrumb-separator-medium-line-height: 24px;
  --gse-ui-breadcrumb-separator-medium-font-size: 16px;
  --gse-ui-breadcrumb-separator-medium-letter-spacing: 0%;
  --gse-ui-breadcrumb-separator-medium-paragraph-spacing: 0;
  --gse-ui-breadcrumb-separator-medium-paragraph-indent: 0px;
  --gse-ui-breadcrumb-separator-medium-text-case: none;
  --gse-ui-breadcrumb-separator-medium-text-decoration: none;
  --gse-ui-breadcrumb-separator-small-font-family: Noto Sans;
  --gse-ui-breadcrumb-separator-small-font-weight: 700;
  --gse-ui-breadcrumb-separator-small-line-height: 20px;
  --gse-ui-breadcrumb-separator-small-font-size: 14px;
  --gse-ui-breadcrumb-separator-small-letter-spacing: 0%;
  --gse-ui-breadcrumb-separator-small-paragraph-spacing: 0;
  --gse-ui-breadcrumb-separator-small-paragraph-indent: 0px;
  --gse-ui-breadcrumb-separator-small-text-case: none;
  --gse-ui-breadcrumb-separator-small-text-decoration: none;
  --gse-ui-in-line-alert-label-font-family: Noto Sans;
  --gse-ui-in-line-alert-label-font-weight: 700;
  --gse-ui-in-line-alert-label-line-height: 18px;
  --gse-ui-in-line-alert-label-font-size: 12px;
  --gse-ui-in-line-alert-body-font-family: Noto Sans;
  --gse-ui-in-line-alert-body-font-weight: 400;
  --gse-ui-in-line-alert-body-line-height: 18px;
  --gse-ui-in-line-alert-body-font-size: 12px;
  --gse-ui-slider-text-font-family: Noto Sans;
  --gse-ui-slider-text-font-weight: 600;
  --gse-ui-slider-text-line-height: 20px;
  --gse-ui-slider-text-font-size: 14px;
  --gse-ui-popover-title-font-family: Urbanist;
  --gse-ui-popover-title-font-weight: 700;
  --gse-ui-popover-title-line-height: 24px;
  --gse-ui-popover-title-font-size: 16px;
  --gse-ui-popover-text-font-family: Noto Sans;
  --gse-ui-popover-text-font-weight: 400;
  --gse-ui-popover-text-line-height: 20px;
  --gse-ui-popover-text-font-size: 14px;
  --gse-ui-toast-title-font-family: Urbanist;
  --gse-ui-toast-title-font-weight: 700;
  --gse-ui-toast-title-line-height: 24px;
  --gse-ui-toast-title-font-size: 16px;
  --gse-ui-toast-text-font-family: Noto Sans;
  --gse-ui-toast-text-font-weight: 400;
  --gse-ui-toast-text-line-height: 20px;
  --gse-ui-toast-text-font-size: 14px;
  --gse-ui-buttons-default-font-family: Noto Sans;
  --gse-ui-buttons-default-font-weight: 700;
  --gse-ui-buttons-default-line-height: 16px;
  --gse-ui-buttons-default-font-size: 12px;
  --gse-ui-tab-label-font-family: Noto Sans;
  --gse-ui-tab-label-font-weight: 400;
  --gse-ui-tab-label-line-height: 16px;
  --gse-ui-tab-label-font-size: 12px;
  --gse-ui-menu-default-font-family: Noto Sans;
  --gse-ui-menu-default-font-weight: 400;
  --gse-ui-menu-default-line-height: 18px;
  --gse-ui-menu-default-font-size: 12px;
  --gse-ui-menu-active-font-family: Noto Sans;
  --gse-ui-menu-active-font-weight: 700;
  --gse-ui-menu-active-line-height: 18px;
  --gse-ui-menu-active-font-size: 12px;
  --gse-ui-calendar-selectors-default-font-family: Noto Sans;
  --gse-ui-calendar-selectors-default-font-weight: 400;
  --gse-ui-calendar-selectors-default-line-height: 16px;
  --gse-ui-calendar-selectors-default-font-size: 12px;
  --gse-ui-calendar-selectors-current-font-family: Noto Sans;
  --gse-ui-calendar-selectors-current-font-weight: 700;
  --gse-ui-calendar-selectors-current-line-height: 16px;
  --gse-ui-calendar-selectors-current-font-size: 12px;
  --gse-ui-calendar-header-font-family: Noto Sans;
  --gse-ui-calendar-header-font-weight: 700;
  --gse-ui-calendar-header-line-height: 24px;
  --gse-ui-calendar-header-font-size: 16px;
  --gse-ui-table-header-label-font-family: Noto Sans;
  --gse-ui-table-header-label-font-weight: 700;
  --gse-ui-table-header-label-line-height: 16px;
  --gse-ui-table-header-label-font-size: 12px;
  --gse-ui-table-pagination-current-font-family: Noto Sans;
  --gse-ui-table-pagination-current-font-weight: 700;
  --gse-ui-table-pagination-current-line-height: 16px;
  --gse-ui-table-pagination-current-font-size: 12px;
  --gse-ui-table-pagination-default-font-family: Noto Sans;
  --gse-ui-table-pagination-default-font-weight: 400;
  --gse-ui-table-pagination-default-line-height: 16px;
  --gse-ui-table-pagination-default-font-size: 12px;
  --gse-ui-table-cell-label-font-family: Noto Sans;
  --gse-ui-table-cell-label-font-weight: 400;
  --gse-ui-table-cell-label-line-height: 16px;
  --gse-ui-table-cell-label-font-size: 12px;
  --gse-heading-xl-semi-font-family: Urbanist;
  --gse-heading-xl-semi-font-weight: 600;
  --gse-heading-xl-semi-line-height: 44px;
  --gse-heading-xl-semi-font-size: 36px;
  --gse-heading-xl-semi-letter-spacing: 2%;
  --gse-heading-xl-semi-paragraph-spacing: 0;
  --gse-heading-xl-semi-paragraph-indent: 0px;
  --gse-heading-xl-semi-text-case: none;
  --gse-heading-xl-semi-text-decoration: none;
  --gse-heading-xl-bold-font-family: Urbanist;
  --gse-heading-xl-bold-font-weight: 700;
  --gse-heading-xl-bold-line-height: 44px;
  --gse-heading-xl-bold-font-size: 36px;
  --gse-heading-xl-bold-letter-spacing: 2%;
  --gse-heading-xl-bold-paragraph-spacing: 0;
  --gse-heading-xl-bold-paragraph-indent: 0px;
  --gse-heading-xl-bold-text-case: none;
  --gse-heading-xl-bold-text-decoration: none;
  --gse-heading-lg-semi-font-family: Urbanist;
  --gse-heading-lg-semi-font-weight: 600;
  --gse-heading-lg-semi-line-height: 32px;
  --gse-heading-lg-semi-font-size: 24px;
  --gse-heading-lg-semi-letter-spacing: 2%;
  --gse-heading-lg-semi-paragraph-spacing: 0;
  --gse-heading-lg-semi-paragraph-indent: 0px;
  --gse-heading-lg-semi-text-case: none;
  --gse-heading-lg-semi-text-decoration: none;
  --gse-heading-lg-bold-font-family: Urbanist;
  --gse-heading-lg-bold-font-weight: 700;
  --gse-heading-lg-bold-line-height: 32px;
  --gse-heading-lg-bold-font-size: 24px;
  --gse-heading-lg-bold-letter-spacing: 2%;
  --gse-heading-lg-bold-paragraph-spacing: 0;
  --gse-heading-lg-bold-paragraph-indent: 0px;
  --gse-heading-lg-bold-text-case: none;
  --gse-heading-lg-bold-text-decoration: none;
  --gse-heading-md-semi-font-family: Urbanist;
  --gse-heading-md-semi-font-weight: 600;
  --gse-heading-md-semi-line-height: 27px;
  --gse-heading-md-semi-font-size: 18px;
  --gse-heading-md-semi-letter-spacing: 2%;
  --gse-heading-md-semi-paragraph-spacing: 0;
  --gse-heading-md-semi-paragraph-indent: 0px;
  --gse-heading-md-semi-text-case: none;
  --gse-heading-md-semi-text-decoration: none;
  --gse-heading-md-bold-font-family: Urbanist;
  --gse-heading-md-bold-font-weight: 700;
  --gse-heading-md-bold-line-height: 27px;
  --gse-heading-md-bold-font-size: 18px;
  --gse-heading-md-bold-letter-spacing: 2%;
  --gse-heading-md-bold-paragraph-spacing: 0;
  --gse-heading-md-bold-paragraph-indent: 0px;
  --gse-heading-md-bold-text-case: none;
  --gse-heading-md-bold-text-decoration: none;
  --gse-heading-sm-semi-font-family: Urbanist;
  --gse-heading-sm-semi-font-weight: 600;
  --gse-heading-sm-semi-line-height: 24px;
  --gse-heading-sm-semi-font-size: 16px;
  --gse-heading-sm-semi-letter-spacing: 2%;
  --gse-heading-sm-semi-paragraph-spacing: 0;
  --gse-heading-sm-semi-paragraph-indent: 0px;
  --gse-heading-sm-semi-text-case: none;
  --gse-heading-sm-semi-text-decoration: none;
  --gse-heading-sm-bold-font-family: Urbanist;
  --gse-heading-sm-bold-font-weight: 700;
  --gse-heading-sm-bold-line-height: 24px;
  --gse-heading-sm-bold-font-size: 16px;
  --gse-heading-sm-bold-letter-spacing: 2%;
  --gse-heading-sm-bold-paragraph-spacing: 0;
  --gse-heading-sm-bold-paragraph-indent: 0px;
  --gse-heading-sm-bold-text-case: none;
  --gse-heading-sm-bold-text-decoration: none;
  --gse-heading-xs-semi-font-family: Urbanist;
  --gse-heading-xs-semi-font-weight: 600;
  --gse-heading-xs-semi-line-height: 21px;
  --gse-heading-xs-semi-font-size: 14px;
  --gse-heading-xs-semi-letter-spacing: 2%;
  --gse-heading-xs-semi-paragraph-spacing: 0;
  --gse-heading-xs-semi-paragraph-indent: 0px;
  --gse-heading-xs-semi-text-case: none;
  --gse-heading-xs-semi-text-decoration: none;
  --gse-heading-xs-bold-font-family: Urbanist;
  --gse-heading-xs-bold-font-weight: 700;
  --gse-heading-xs-bold-line-height: 21px;
  --gse-heading-xs-bold-font-size: 14px;
  --gse-heading-xs-bold-letter-spacing: 2%;
  --gse-heading-xs-bold-paragraph-spacing: 0;
  --gse-heading-xs-bold-paragraph-indent: 0px;
  --gse-heading-xs-bold-text-case: none;
  --gse-heading-xs-bold-text-decoration: none;
  --gse-heading-overline-font-family: Urbanist;
  --gse-heading-overline-font-weight: 600;
  --gse-heading-overline-letter-spacing: 1.5px;
  --gse-heading-overline-font-size: 12px;
  --gse-heading-overline-line-height: 16px;
  --gse-heading-overline-text-case: uppercase;
  --gse-subheading-regular-font-family: Urbanist;
  --gse-subheading-regular-font-weight: 400;
  --gse-subheading-regular-line-height: 20px;
  --gse-subheading-regular-font-size: 14px;
  --gse-subheading-regular-letter-spacing: 2%;
  --gse-subheading-regular-paragraph-spacing: 0;
  --gse-subheading-regular-paragraph-indent: 0px;
  --gse-subheading-regular-text-case: none;
  --gse-subheading-regular-text-decoration: none;
  --gse-subheading-semi-font-family: Urbanist;
  --gse-subheading-semi-font-weight: 600;
  --gse-subheading-semi-line-height: 20px;
  --gse-subheading-semi-font-size: 14px;
  --gse-subheading-semi-letter-spacing: 2%;
  --gse-subheading-semi-paragraph-spacing: 0;
  --gse-subheading-semi-paragraph-indent: 0px;
  --gse-subheading-semi-text-case: none;
  --gse-subheading-semi-text-decoration: none;
  --gse-subheading-bold-font-family: Urbanist;
  --gse-subheading-bold-font-weight: 700;
  --gse-subheading-bold-line-height: 20px;
  --gse-subheading-bold-font-size: 14px;
  --gse-subheading-bold-letter-spacing: 2%;
  --gse-subheading-bold-paragraph-spacing: 0;
  --gse-subheading-bold-paragraph-indent: 0px;
  --gse-subheading-bold-text-case: none;
  --gse-subheading-bold-text-decoration: none;
  --gse-body-lg-regular-font-family: Noto Sans;
  --gse-body-lg-regular-font-weight: 400;
  --gse-body-lg-regular-line-height: 24px;
  --gse-body-lg-regular-font-size: 16px;
  --gse-body-lg-regular-letter-spacing: 0%;
  --gse-body-lg-regular-paragraph-spacing: 0;
  --gse-body-lg-regular-paragraph-indent: 0px;
  --gse-body-lg-regular-text-case: none;
  --gse-body-lg-regular-text-decoration: none;
  --gse-body-lg-semi-font-family: Noto Sans;
  --gse-body-lg-semi-font-weight: 600;
  --gse-body-lg-semi-line-height: 24px;
  --gse-body-lg-semi-font-size: 16px;
  --gse-body-lg-semi-letter-spacing: 0%;
  --gse-body-lg-semi-paragraph-spacing: 0;
  --gse-body-lg-semi-paragraph-indent: 0px;
  --gse-body-lg-semi-text-case: none;
  --gse-body-lg-semi-text-decoration: none;
  --gse-body-lg-bold-font-family: Noto Sans;
  --gse-body-lg-bold-font-weight: 700;
  --gse-body-lg-bold-line-height: 24px;
  --gse-body-lg-bold-font-size: 16px;
  --gse-body-lg-bold-letter-spacing: 0%;
  --gse-body-lg-bold-paragraph-spacing: 0;
  --gse-body-lg-bold-paragraph-indent: 0px;
  --gse-body-lg-bold-text-case: none;
  --gse-body-lg-bold-text-decoration: none;
  --gse-body-md-regular-font-family: Noto Sans;
  --gse-body-md-regular-font-weight: 400;
  --gse-body-md-regular-line-height: 20px;
  --gse-body-md-regular-font-size: 14px;
  --gse-body-md-semi-font-family: Noto Sans;
  --gse-body-md-semi-font-weight: 600;
  --gse-body-md-semi-line-height: 20px;
  --gse-body-md-semi-font-size: 14px;
  --gse-body-md-bold-font-family: Noto Sans;
  --gse-body-md-bold-font-weight: 700;
  --gse-body-md-bold-line-height: 20px;
  --gse-body-md-bold-font-size: 14px;
  --gse-body-sm-regular-font-family: Noto Sans;
  --gse-body-sm-regular-font-weight: 400;
  --gse-body-sm-regular-line-height: 18px;
  --gse-body-sm-regular-font-size: 12px;
  --gse-body-sm-regular-letter-spacing: 0%;
  --gse-body-sm-regular-paragraph-spacing: 0;
  --gse-body-sm-regular-paragraph-indent: 0px;
  --gse-body-sm-regular-text-case: none;
  --gse-body-sm-regular-text-decoration: none;
  --gse-body-sm-semi-font-family: Noto Sans;
  --gse-body-sm-semi-font-weight: 600;
  --gse-body-sm-semi-line-height: 18px;
  --gse-body-sm-semi-font-size: 12px;
  --gse-body-sm-semi-letter-spacing: 0%;
  --gse-body-sm-semi-paragraph-spacing: 0;
  --gse-body-sm-semi-paragraph-indent: 0px;
  --gse-body-sm-semi-text-case: none;
  --gse-body-sm-semi-text-decoration: none;
  --gse-body-sm-bold-font-family: Noto Sans;
  --gse-body-sm-bold-font-weight: 700;
  --gse-body-sm-bold-line-height: 18px;
  --gse-body-sm-bold-font-size: 12px;
  --gse-body-sm-bold-letter-spacing: 0%;
  --gse-body-sm-bold-paragraph-spacing: 0;
  --gse-body-sm-bold-paragraph-indent: 0px;
  --gse-body-sm-bold-text-case: none;
  --gse-body-sm-bold-text-decoration: none;
  --gse-border-ui-focus-color: #7b88f7;
  --gse-border-ui-focus-width: 3px;
  --gse-border-ui-focus-style: solid;
  --gse-border-ui-focus-dark-color: #38929e;
  --gse-border-ui-focus-dark-width: 3px;
  --gse-border-ui-focus-dark-style: solid;
  --gse-border-ui-default-dark-color: #626d97;
  --gse-border-ui-default-dark-width: 1px;
  --gse-border-ui-default-dark-style: solid;
  --gse-border-ui-default-color: #a3a7b0;
  --gse-border-ui-default-width: 1px;
  --gse-border-ui-default-style: solid;
  --gse-border-ui-selectors-active-color: #4856cb;
  --gse-border-ui-selectors-active-width: 2px;
  --gse-border-ui-active-color: #5a6af5;
  --gse-border-ui-active-width: 1px;
  --gse-border-ui-active-style: solid;
  --gse-border-ui-error-color: #e22245;
  --gse-border-ui-error-width: 1px;
  --gse-border-ui-error-style: solid;
  --gse-border-ui-divider-light-color: #c6c8ce;
  --gse-border-ui-divider-light-width: 1px;
  --gse-border-ui-divider-light-style: solid;
  --gse-border-ui-divider-dark-color: #626e84;
  --gse-border-ui-divider-dark-width: 1px;
  --gse-border-ui-divider-dark-style: solid;
  --gse-border-ui-card-default-color: #c6c8ce;
  --gse-border-ui-card-default-width: 1;
  --gse-border-ui-card-default-style: solid;
  --gse-border-ui-popover-color: #a3a7b0;
  --gse-border-ui-popover-width: 1;
  --gse-border-ui-popover-style: solid;
  --gse-border-ui-input-active-color: #4856cb;
  --gse-border-ui-input-active-width: 1;
  --gse-border-ui-input-active-style: solid;
  --gse-border-ui-input-default-color: #a3a7b0;
  --gse-border-ui-input-default-width: 1;
  --gse-border-ui-input-default-style: solid;
  --gse-border-ui-input-error-color: #e22245;
  --gse-border-ui-input-error-width: 1;
  --gse-border-ui-input-error-style: solid;
  --gse-border-ui-input-focus-color: #a3a7b0;
  --gse-border-ui-input-focus-width: 1;
  --gse-border-ui-input-focus-style: solid;
  --gse-border-ui-checkbox-border-default-color: #767c8d;
  --gse-border-ui-checkbox-border-default-width: 1;
  --gse-border-ui-checkbox-border-default-style: solid;
  --gse-border-ui-checkbox-border-hover-color: #4856cb;
  --gse-border-ui-checkbox-border-hover-width: 1;
  --gse-border-ui-checkbox-border-hover-style: solid;
  --gse-border-button-tertiary-default-color: #4856cb;
  --gse-border-button-tertiary-default-width: 1;
  --gse-border-button-tertiary-default-style: solid;
  --gse-markup: #ff0d8f;
  --gse-font-families-urbanist: Urbanist;
  --gse-font-families-noto-sans: Noto Sans;
  --gse-line-heights-0: 16px;
  --gse-line-heights-1: 20px;
  --gse-line-heights-2: 32px;
  --gse-line-heights-3: 24px;
  --gse-line-heights-4: 80px;
  --gse-line-heights-5: 27px;
  --gse-line-heights-6: 48px;
  --gse-line-heights-7: AUTO;
  --gse-line-heights-8: 42px;
  --gse-line-heights-9: 30px;
  --gse-line-heights-10: 21px;
  --gse-line-heights-11: 18px;
  --gse-line-heights-12: 44px;
  --gse-font-weights-urbanist-5: 800;
  --gse-font-weights-urbanist-6: 600;
  --gse-font-weights-noto-sans-7: 400;
  --gse-font-weights-urbanist-8: 500;
  --gse-font-weights-noto-sans-9: 500;
  --gse-font-weights-urbanist-10: 700;
  --gse-font-weights-urbanist-11: 400;
  --gse-font-weights-noto-sans-12: 600;
  --gse-font-weights-noto-sans-13: 700;
  --gse-font-size-0: 11;
  --gse-font-size-1: 12px;
  --gse-font-size-2: 14px;
  --gse-font-size-3: 18px;
  --gse-font-size-4: 24px;
  --gse-font-size-5: 16px;
  --gse-font-size-6: 18px;
  --gse-font-size-7: 20px;
  --gse-font-size-8: 24px;
  --gse-font-size-9: 26px;
  --gse-font-size-10: 36px;
  --gse-font-size-11: 40px;
  --gse-font-size-12: 64px;
  --gse-letter-spacing-0: 0%;
  --gse-letter-spacing-1: -1;
  --gse-letter-spacing-2: 0;
  --gse-letter-spacing-3: 2%;
  --gse-letter-spacing-4: 1.5px;
  --gse-paragraph-spacing-0: 0;
  --gse-paragraph-spacing-1: 10;
  --gse-text-case-none: none;
  --gse-text-case-uppercase: uppercase;
  --gse-text-decoration-none: none;
  --gse-paragraph-indent-0: 0px;
  --gse-4xs: 4px;
  --gse-3xs: 8px;
  --gse-2xs: 12px;
  --gse-radius-sm: 4px;
  --gse-radius-sm-left: 4px 0px 0px 4px;
  --gse-radius-sm-right: 0px 4px 4px 0px;
  --gse-radius-md: 8px;
  --gse-radius-md-left: 8px 0px 0px 8px;
  --gse-radius-md-right: 0px 8px 8px 0px;
  --gse-radius-lg: 16px;
  --gse-radius-none: 0px;
  --gse-radius-full: 100%;
  --gse-xs: 16px;
  --gse-sm: 20px;
  --gse-md: 24px;
  --gse-lg: 32;
  --gse-xl: 40px;
  --gse-elevation-small-10-x: 0;
  --gse-elevation-small-10-y: 2;
  --gse-elevation-small-10-blur: 4;
  --gse-elevation-small-10-spread: 1;
  --gse-elevation-small-10-color: #23395c1a;
  --gse-elevation-small-10-type: dropShadow;
  --gse-elevation-medium-20-x: 0;
  --gse-elevation-medium-20-y: 4;
  --gse-elevation-medium-20-blur: 6;
  --gse-elevation-medium-20-spread: 1;
  --gse-elevation-medium-20-color: #23395c1f;
  --gse-elevation-medium-20-type: dropShadow;
  --gse-elevation-large-30-x: 0;
  --gse-elevation-large-30-y: 6;
  --gse-elevation-large-30-blur: 8;
  --gse-elevation-large-30-spread: 1;
  --gse-elevation-large-30-color: #23395d26;
  --gse-elevation-large-30-type: dropShadow;
  --gse-2xl: 48;
  --gse-3xl: 64;
  --gse-dummy: 100px;
}
