:root {
  --gse-core-spacing-4xs: 4px;
  --gse-core-spacing-3xs: 8px;
  --gse-core-spacing-2xs: 12px;
  --gse-core-spacing-xs: 16px;
  --gse-core-spacing-sm: 20px;
  --gse-core-spacing-md: 24px;
  --gse-core-spacing-lg: 32px;
  --gse-core-borderRadius-none: 0;
  --gse-core-borderRadius-sm: 4px;
  --gse-core-borderRadius-md: 8px;
  --gse-core-borderRadius-lg: 16px;
  --gse-core-borderRadius-full: 100%;
  --gse-core-color-white: #ffffff;
  --gse-core-color-black: #000000;
  --gse-core-color-transparent: #00000000;
  --gse-core-color-cornflower-100: #f2f2f3;
  --gse-core-color-cornflower-200: #e4e5e7;
  --gse-core-color-cornflower-300: #c6c8ce;
  --gse-core-color-cornflower-400: #a3a7b0;
  --gse-core-color-cornflower-500: #767c8d;
  --gse-core-color-cornflower-600: #626e84;
  --gse-core-color-cornflower-700: #3e5374;
  --gse-core-color-cornflower-800: #23395d;
  --gse-core-color-cornflower-900: #1b2c48;
  --gse-core-color-cornflower-1000: #0f1929;
  --gse-core-color-islandaqua-100: #edf8f9;
  --gse-core-color-islandaqua-200: #daf0f4;
  --gse-core-color-islandaqua-300: #b5e2e8;
  --gse-core-color-islandaqua-400: #90d3dd;
  --gse-core-color-islandaqua-500: #6bc5d1;
  --gse-core-color-islandaqua-600: #46b6c6;
  --gse-core-color-islandaqua-700: #38929e;
  --gse-core-color-islandaqua-800: #0d7482;
  --gse-core-color-islandaqua-900: #115d71;
  --gse-core-color-islandaqua-1000: #094052;
  --gse-core-color-tomato-100: #fef3f3;
  --gse-core-color-tomato-200: #fee8e6;
  --gse-core-color-tomato-300: #fecfcb;
  --gse-core-color-tomato-400: #feb2ab;
  --gse-core-color-tomato-500: #fe8f85;
  --gse-core-color-tomato-600: #fe624d;
  --gse-core-color-tomato-700: #e35744;
  --gse-core-color-tomato-800: #c44b3b;
  --gse-core-color-tomato-900: #a03d30;
  --gse-core-color-tomato-1000: #712b22;
  --gse-core-color-lavenderhaze-100: #fbfcfe;
  --gse-core-color-lavenderhaze-200: #f3f5fb;
  --gse-core-color-lavenderhaze-300: #e8ebf7;
  --gse-core-color-lavenderhaze-400: #d1d7ef;
  --gse-core-color-lavenderhaze-500: #c6ceec;
  --gse-core-color-lavenderhaze-600: #b5bfe6;
  --gse-core-color-lavenderhaze-700: #a8b4e2;
  --gse-core-color-lavenderhaze-800: #9ba9dd;
  --gse-core-color-lavenderhaze-900: #7785b8;
  --gse-core-color-lavenderhaze-1000: #626d97;
  --gse-core-color-blueberry-50: #eff0fe;
  --gse-core-color-blueberry-100: #dee1fd;
  --gse-core-color-blueberry-200: #ced2fc;
  --gse-core-color-blueberry-300: #9ca6f9;
  --gse-core-color-blueberry-400: #7b88f7;
  --gse-core-color-blueberry-500: #5a6af5;
  --gse-core-color-blueberry-600: #4856cb;
  --gse-core-color-blueberry-700: #3742a2;
  --gse-core-color-blueberry-800: #252e78;
  --gse-core-color-blueberry-900: #1c2463;
  --gse-core-color-blueberry-1000: #141a4f;
  --gse-core-fontFamily-body: Noto Sans;
  --gse-core-fontFamily-heading: Urbanist;
  --gse-core-fontSize-xs: 12px;
  --gse-core-fontSize-sm: 14px;
  --gse-core-fontSize-md: 16px;
  --gse-core-fontSize-lg: 18px;
  --gse-core-fontSize-xl: 24px;
  --gse-core-fontSize-xxl: 36px;
  --gse-core-fontWeight-regular: 400;
  --gse-core-fontWeight-semiBold: 600;
  --gse-core-fontWeight-bold: 700;
  --gse-core-lineHeight-2xs: 16px;
  --gse-core-lineHeight-xs: 18px;
  --gse-core-lineHeight-sm: 20px;
  --gse-core-lineHeight-md: 24px;
  --gse-core-lineHeight-lg: 27px;
  --gse-core-lineHeight-xl: 32px;
  --gse-core-lineHeight-2xl: 44px;
  --gse-core-typography-body-md-fontFamily: Noto Sans;
  --gse-core-typography-body-md-lineHeight: 20px;
  --gse-core-typography-body-md-fontSize: 14px;
  --gse-core-typography-body-sm-fontFamily: Noto Sans;
  --gse-core-typography-body-sm-lineHeight: 18px;
  --gse-core-typography-body-sm-fontSize: 12px;
  --gse-core-elevation-low-x: 0;
  --gse-core-elevation-low-y: 2px;
  --gse-core-elevation-low-blur: 4px;
  --gse-core-elevation-low-spread: 1px;
  --gse-core-elevation-low-color: #23395c1a;
  --gse-core-elevation-low-type: dropShadow;
  --gse-core-elevation-medium-x: 0;
  --gse-core-elevation-medium-y: 4px;
  --gse-core-elevation-medium-blur: 6px;
  --gse-core-elevation-medium-spread: 1px;
  --gse-core-elevation-medium-color: #23395c1f;
  --gse-core-elevation-medium-type: dropShadow;
  --gse-core-elevation-high-x: 0;
  --gse-core-elevation-high-y: 6px;
  --gse-core-elevation-high-blur: 8px;
  --gse-core-elevation-high-spread: 1px;
  --gse-core-elevation-high-color: #23395c26;
  --gse-core-elevation-high-type: dropShadow;
  --gse-core-size-xs: 16px;
  --gse-core-size-sm: 20px;
  --gse-core-size-md: 24px;
  --gse-core-size-lg: 32px;
  --gse-core-size-xl: 40px;
  --gse-core-size-2xl: 48px;
}
