:root {
  --gse-ui-tabs-item-height: 40px;
  --gse-ui-tabs-item-horizontal-fixedHeight: 40px;
  --gse-ui-tabs-item-horizontal-padding: 11px 12px 10px;
  --gse-ui-tabs-item-disableOpacity: 0.5;
  --gse-ui-tabs-item-itemText-fontFamily: Noto Sans;
  --gse-ui-tabs-item-itemText-lineHeight: 18px;
  --gse-ui-tabs-item-itemText-fontSize: 12px;
  --gse-ui-tabs-item-itemText-fontWeight: 400;
  --gse-ui-tabs-item-itemTextColor: #1b2c48;
  --gse-ui-tabs-item-divider-horizontal-height: 1px;
  --gse-ui-tabs-item-divider-vertical-height: 40px;
  --gse-ui-tabs-item-divider-vertical-width: 1px;
  --gse-ui-tabs-item-divider-dividerColor: #c6c8ce;
  --gse-ui-tabs-item-indicator-vertical-height: 40px;
  --gse-ui-tabs-item-indicator-vertical-width: 2px;
  --gse-ui-tabs-item-indicator-horizontal-height: 2px;
  --gse-ui-tabs-item-indicator-hoverColor: #4856cb;
  --gse-ui-tabs-item-indicator-activeColor: #3742a2;
  --gse-ui-tabs-item-icon-iconColor: #1b2c48;
  --gse-ui-tabs-item-icon-size: 16px;
  --gse-ui-tabs-item-gap: 8px;
  --gse-ui-tabs-item-vertical-fixedHeight: 40px;
  --gse-ui-tabs-item-vertical-padding: 11px 9px 10px 12px;
  --gse-ui-tabs-item-focusRing-offset: 1px;
  --gse-ui-tabs-set-vertical-height: 360px;
  --gse-ui-tabs-set-vertical-width: 98px;
  --gse-ui-tabs-set-vertical-marginRight: 16px;
  --gse-ui-tabs-set-horizontal-width: 800px;
  --gse-ui-tabs-set-horizontal-height: 40px;
  --gse-ui-tabs-set-horizontal-marginBottom: 16px;
  --gse-ui-tabs-set-gap: -1px;
  --gse-ui-tabs-set-divider-horizontal-height: 1px;
  --gse-ui-tabs-set-divider-vertical-width: 1px;
  --gse-ui-tabs-focusRing-border-color: #7b88f7;
  --gse-ui-tabs-focusRing-border-width: 3px;
  --gse-ui-tabs-focusRing-border-style: solid;
  --gse-ui-tabs-focusRing-borderRadius: 4px;
  --gse-ui-advancedTabs-divider-dividerColor: #c6c8ce;
  --gse-ui-advancedTabs-item-padding: 11px 12px 10px;
  --gse-ui-advancedTabs-item-gap: 8px;
  --gse-ui-advancedTabs-item-focus-borderRadius: 8px;
  --gse-ui-advancedTabs-item-focus-border-color: #7b88f7;
  --gse-ui-advancedTabs-item-focus-border-width: 3px;
  --gse-ui-advancedTabs-item-focus-border-style: solid;
  --gse-ui-advancedTabs-item-focus-borderCopy-0: 4;
  --gse-ui-advancedTabs-item-focus-borderCopy-1: p;
  --gse-ui-advancedTabs-item-focus-borderCopy-2: x;
  --gse-ui-advancedTabs-item-backgroundColor: #ffffff;
  --gse-ui-advancedTabs-item-borderRadius: 4px 4px 0 0;
  --gse-ui-advancedTabs-item-height: 48px;
  --gse-ui-advancedTabs-item-width: 151px;
  --gse-ui-advancedTabs-item-focusItem-height: 53px;
  --gse-ui-advancedTabs-item-focusItem-width: 126px;
  --gse-ui-advancedTabs-item-divider-bottom-height: 1px;
  --gse-ui-advancedTabs-item-divider-right-height: 32px;
  --gse-ui-advancedTabs-item-divider-right-width: 1px;
  --gse-ui-advancedTabs-item-text-color: #1b2c48;
  --gse-ui-advancedTabs-item-text-height: 9px;
  --gse-ui-advancedTabs-item-indicator-hoverColor: #4856cb;
  --gse-ui-advancedTabs-item-indicator-activeColor: #3742a2;
  --gse-ui-advancedTabs-item-indicator-height: 2px;
  --gse-ui-advancedTabs-item-icon-iconColor: #1b2c48;
  --gse-ui-advancedTabs-item-icon-size: 16px;
  --gse-ui-advancedTabs-item-menuButton-gap: 4px;
  --gse-ui-advancedTabs-item-menuButton-height: 45px;
  --gse-ui-advancedTabs-item-menuButton-width: 32px;
  --gse-ui-advancedTabs-item-menuButton-defaultColor: #626e84;
  --gse-ui-advancedTabs-item-menuButton-activeColor: #252e78;
  --gse-ui-advancedTabs-item-menuButton-focus-height: 53px;
  --gse-ui-advancedTabs-item-menuButton-focus-width: 40px;
  --gse-ui-advancedTabs-item-itemText-fontFamily: Noto Sans;
  --gse-ui-advancedTabs-item-itemText-lineHeight: 18px;
  --gse-ui-advancedTabs-item-itemText-fontSize: 12px;
  --gse-ui-advancedTabs-item-itemText-fontWeight: 400;
  --gse-ui-advancedTabs-button-add-height: 45px;
  --gse-ui-advancedTabs-button-arrow-height: 48px;
  --gse-ui-advancedTabs-set-backgroundColor: #f3f5fb;
  --gse-ui-advancedTabs-set-standard-width: 920px;
  --gse-ui-globalNav-text-fontFamily: Noto Sans;
  --gse-ui-globalNav-text-lineHeight: 16px;
  --gse-ui-globalNav-text-fontSize: 12px;
  --gse-ui-globalNav-text-fontWeight: 700;
  --gse-ui-globalNav-toggle-onQueue-text-fontFamily: Noto Sans;
  --gse-ui-globalNav-toggle-onQueue-text-lineHeight: 16px;
  --gse-ui-globalNav-toggle-onQueue-text-fontSize: 12px;
  --gse-ui-globalNav-toggle-onQueue-text-fontWeight: 600;
  --gse-ui-globalNav-toggle-gap: 16px;
  --gse-ui-globalNav-toggle-offQueue-text-fontFamily: Noto Sans;
  --gse-ui-globalNav-toggle-offQueue-text-lineHeight: 16px;
  --gse-ui-globalNav-toggle-offQueue-text-fontSize: 12px;
  --gse-ui-globalNav-toggle-offQueue-text-fontWeight: 400;
  --gse-ui-globalNav-focus-border-color: #7b88f7;
  --gse-ui-globalNav-focus-border-width: 3px;
  --gse-ui-globalNav-focus-border-style: solid;
  --gse-ui-globalNav-menuOption-height: 32px;
  --gse-ui-globalNav-menuOption-width: 248px;
  --gse-ui-globalNav-menuOption-padding: 0px 12px;
  --gse-ui-globalNav-menuOption-gap: 8px;
  --gse-ui-globalNav-menuOption-default-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-hover-backgroundColor: #252e78;
  --gse-ui-globalNav-menuOption-hover-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-selected-backgroundColor: #4856cb;
  --gse-ui-globalNav-menuOption-selected-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-disabled-backgroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-focus-borderRadius: 8px;
  --gse-ui-globalNav-menuOption-borderRadius: 4px;
  --gse-ui-globalNav-menuOption-disableOpacity: 0.5;
  --gse-ui-globalNav-menuOption-selectedPanel-backgroundColor: #3742a2;
  --gse-ui-globalNav-menuOption-selectedPanel-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-return-default-backgroundColor: #1c2463;
  --gse-ui-globalNav-menuOption-return-default-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-return-hover-backgroundColor: #141a4f;
  --gse-ui-globalNav-menuOption-return-hover-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-return-selected-backgroundColor: #4856cb;
  --gse-ui-globalNav-menuOption-return-selected-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-treeView-bar: #314669;
  --gse-ui-globalNav-buttonReturn-height: 48px;
  --gse-ui-globalNav-buttonReturn-width: 280px;
  --gse-ui-globalNav-buttonReturn-padding: 16px 28px;
  --gse-ui-globalNav-buttonReturn-gap: 12px;
  --gse-ui-globalNav-treeView-border-color: #3e5374;
  --gse-ui-globalNav-treeView-border-width: 2px;
  --gse-ui-globalNav-treeView-border-style: solid;
  --gse-ui-globalNav-treeView-gap: 8px;
  --gse-ui-globalNav-treeView-width: 224px;
  --gse-ui-globalNav-bar-padding: 8px 12px;
  --gse-ui-globalNav-sideMenu-heading-text-fontFamily: Urbanist;
  --gse-ui-globalNav-sideMenu-heading-text-lineHeight: 16px;
  --gse-ui-globalNav-sideMenu-heading-text-fontSize: 12px;
  --gse-ui-globalNav-sideMenu-heading-text-fontWeight: 600;
  --gse-ui-globalNav-sideMenu-top-open-buttons-gap: 8px;
  --gse-ui-globalNav-sideMenu-top-open-gap: 16px;
  --gse-ui-globalNav-sideMenu-top-closed-buttons-gap: 8px;
  --gse-ui-globalNav-sideMenu-top-closed-gap: 128px;
  --gse-ui-globalNav-sideMenu-width: 280px;
  --gse-ui-globalNav-sideMenu-items-gap: 12px;
  --gse-ui-globalNav-sideMenu-padding: 16px 24px;
  --gse-ui-globalNav-topBar-items-gap: 16px;
  --gse-ui-globalNav-topBar-padding: 16px 24px;
  --gse-ui-globalNav-topBar-height: 64px;
  --gse-ui-globalNav-topBar-frame-backgroundColor: #ffffff;
  --gse-ui-globalNav-topBar-frame-stroke: #c6ceec;
  --gse-ui-globalNav-topBar-logo: #ff4f1f;
  --gse-ui-globalNav-topBar-menuButton-closed-default-foregroundColor: #4856cb;
  --gse-ui-globalNav-topBar-menuButton-closed-hover-backgroundColor: #3742a2;
  --gse-ui-globalNav-topBar-menuButton-closed-hover-foregroundColorStroke: #4856cb;
  --gse-ui-globalNav-topBar-menuButton-closed-hover-foregroundColor: #ffffff;
  --gse-ui-globalNav-topBar-menuButton-open-default-foregroundColorStroke: #ffffff;
  --gse-ui-globalNav-topBar-menuButton-open-hover-backgroundColor: #3742a2;
  --gse-ui-globalNav-topBar-menuButton-open-hover-foregroundColor: #ffffff;
  --gse-ui-globalNav-panel-panelTitle: #ffffff;
  --gse-ui-globalNav-panel-primary: linear-gradient(
    127deg,
    #23395d 3.19%,
    #3e5374 225.06%
  );
  --gse-ui-globalNav-panel-secondary: linear-gradient(
    358deg,
    #1b2b48 0.16%,
    #23395d 98.45%
  );
}
