:root {
  --gse-ui-toast-closeButtonColor: #626e84;
  --gse-ui-toast-success-backgroundColor: #ffffff;
  --gse-ui-toast-success-foregroundColor: #1b2c48;
  --gse-ui-toast-success-iconColor: #09b581;
  --gse-ui-toast-warning-backgroundColor: #ffffff;
  --gse-ui-toast-warning-foregroundColor: #1b2c48;
  --gse-ui-toast-warning-iconColor: #f8c73e;
  --gse-ui-toast-info-backgroundColor: #ffffff;
  --gse-ui-toast-info-foregroundColor: #1b2c48;
  --gse-ui-toast-info-iconColor: #6e5ddb;
  --gse-ui-toast-action-backgroundColor: #ffffff;
  --gse-ui-toast-action-foregroundColor: #1b2c48;
  --gse-ui-toast-action-iconColor: #4856cb;
  --gse-ui-toast-error-backgroundColor: #ffffff;
  --gse-ui-toast-error-foregroundColor: #1b2c48;
  --gse-ui-toast-error-iconColor: #e22245;
  --gse-ui-toast-heading-fontFamily: Urbanist;
  --gse-ui-toast-heading-lineHeight: 24px;
  --gse-ui-toast-heading-fontSize: 16px;
  --gse-ui-toast-heading-fontWeight: 700;
  --gse-ui-toast-text-fontFamily: Noto Sans;
  --gse-ui-toast-text-lineHeight: 20px;
  --gse-ui-toast-text-fontSize: 14px;
  --gse-ui-toast-margin: 16px;
  --gse-ui-toast-gap: 12px;
  --gse-ui-toast-gapText: 4px;
  --gse-ui-toast-gapButton: 16px;
  --gse-ui-toast-buttonBar-gap: 8px;
  --gse-ui-toast-borderRadius: 8px;
  --gse-ui-toast-boxShadow-x: 0;
  --gse-ui-toast-boxShadow-y: 2px;
  --gse-ui-toast-boxShadow-blur: 4px;
  --gse-ui-toast-boxShadow-spread: 1px;
  --gse-ui-toast-boxShadow-color: #23395c1a;
  --gse-ui-toast-boxShadow-type: dropShadow;
}
