:root {
  --gse-ui-card-backgroundColor: #ffffff;
  --gse-ui-card-borderRadius: 16px;
  --gse-ui-card-default-border-color: #c6c8ce;
  --gse-ui-card-default-border-width: 1px;
  --gse-ui-card-default-border-style: solid;
  --gse-ui-card-raised-border-color: #c6c8ce;
  --gse-ui-card-raised-border-width: 1px;
  --gse-ui-card-raised-border-style: solid;
  --gse-ui-card-raised-boxShadow-x: 0;
  --gse-ui-card-raised-boxShadow-y: 4px;
  --gse-ui-card-raised-boxShadow-blur: 6px;
  --gse-ui-card-raised-boxShadow-spread: 1px;
  --gse-ui-card-raised-boxShadow-color: #23395c1f;
  --gse-ui-card-raised-boxShadow-type: dropShadow;
  --gse-ui-card-padding: 24px;
  --gse-ui-card-borderless-border-color: transparent;
  --gse-ui-card-borderless-border-width: 1px;
  --gse-ui-card-borderless-border-style: solid;
  --gse-ui-tooltip-light-border-color: #c6c8ce;
  --gse-ui-tooltip-light-border-width: 1px;
  --gse-ui-tooltip-light-border-style: solid;
  --gse-ui-tooltip-light-backgroundColor: #ffffff;
  --gse-ui-tooltip-light-foregroundColor: #1b2c48;
  --gse-ui-tooltip-light-iconColor: #3e5374;
  --gse-ui-tooltip-dark-border-color: #1b2c48;
  --gse-ui-tooltip-dark-border-width: 1px;
  --gse-ui-tooltip-dark-border-style: solid;
  --gse-ui-tooltip-dark-backgroundColor: #1b2c48;
  --gse-ui-tooltip-dark-foregroundColor: #ffffff;
  --gse-ui-tooltip-dark-iconColor: #ffffff;
  --gse-ui-tooltip-boxShadow-x: 0;
  --gse-ui-tooltip-boxShadow-y: 4px;
  --gse-ui-tooltip-boxShadow-blur: 6px;
  --gse-ui-tooltip-boxShadow-spread: 1px;
  --gse-ui-tooltip-boxShadow-color: #23395c1f;
  --gse-ui-tooltip-boxShadow-type: dropShadow;
  --gse-ui-tooltip-padding: 8px 12px;
  --gse-ui-tooltip-height: 32px;
  --gse-ui-tooltip-gap: 8px;
  --gse-ui-tooltip-borderRadius: 4px;
  --gse-ui-tooltip-text-fontFamily: Noto Sans;
  --gse-ui-tooltip-text-lineHeight: 18px;
  --gse-ui-tooltip-text-fontSize: 12px;
  --gse-ui-tag-borderRadius: 100%;
  --gse-ui-tag-default-backgroundColor: #23395d;
  --gse-ui-tag-default-foregroundColor: #ffffff;
  --gse-ui-tag-accent1-backgroundColor: #e4e5e7;
  --gse-ui-tag-accent1-foregroundColor: #1b2c48;
  --gse-ui-tag-accent2-backgroundColor: #90d3dd;
  --gse-ui-tag-accent2-foregroundColor: #1b2c48;
  --gse-ui-tag-accent3-backgroundColor: #0d7482;
  --gse-ui-tag-accent3-foregroundColor: #ffffff;
  --gse-ui-tag-accent4-backgroundColor: #547688;
  --gse-ui-tag-accent4-foregroundColor: #ffffff;
  --gse-ui-tag-accent5-backgroundColor: #a5cae0;
  --gse-ui-tag-accent5-foregroundColor: #1b2c48;
  --gse-ui-tag-accent6-backgroundColor: #b5bfe6;
  --gse-ui-tag-accent6-foregroundColor: #1b2c48;
  --gse-ui-tag-text-fontFamily: Noto Sans;
  --gse-ui-tag-text-lineHeight: 18px;
  --gse-ui-tag-text-fontSize: 12px;
  --gse-ui-tag-padding: 0 12px;
  --gse-ui-tag-removable-padding: 0 8px 0 12px;
  --gse-ui-tag-removable-gap: 4px;
  --gse-ui-tag-accent7-backgroundColor: #a05195;
  --gse-ui-tag-accent7-foregroundColor: #ffffff;
  --gse-ui-tag-height: 20px;
  --gse-ui-tag-accent8-backgroundColor: #f95d6a;
  --gse-ui-tag-accent8-foregroundColor: #1b2c48;
  --gse-ui-tag-accent9-backgroundColor: #fe8f85;
  --gse-ui-tag-accent9-foregroundColor: #1b2c48;
  --gse-ui-tag-accent10-backgroundColor: #ffc650;
  --gse-ui-tag-accent10-foregroundColor: #1b2c48;
  --gse-ui-tag-button-size: 16px;
  --gse-ui-links-asButton-padding: 12px;
  --gse-ui-links-asButton-gap: 8px;
  --gse-ui-links-asButton-height: 32px;
  --gse-ui-links-inLine-padding: 4px;
  --gse-ui-links-inLine-medium-height: 20px;
  --gse-ui-links-inLine-small-height: 18px;
  --gse-ui-links-icon: 16px;
  --gse-ui-links-borderRadius: 0;
  --gse-ui-badge-borderRadius: 10px;
  --gse-ui-badge-text-fontFamily: Noto Sans;
  --gse-ui-badge-text-lineHeight: 18px;
  --gse-ui-badge-text-fontSize: 12px;
  --gse-ui-badge-height: 20px;
  --gse-ui-badge-padding: 0 12px;
  --gse-ui-badge-gap: 4px;
  --gse-ui-badge-info-bold-backgroundColor: #6e5ddb;
  --gse-ui-badge-info-bold-foregroundColor: #ffffff;
  --gse-ui-badge-info-regular-backgroundColor: #c5bef1;
  --gse-ui-badge-info-regular-foregroundColor: #1b2c48;
  --gse-ui-badge-success-bold-backgroundColor: #09b581;
  --gse-ui-badge-success-bold-foregroundColor: #1b2c48;
  --gse-ui-badge-success-regular-backgroundColor: #9de1cd;
  --gse-ui-badge-success-regular-foregroundColor: #1b2c48;
  --gse-ui-badge-warning-bold-backgroundColor: #f8c73e;
  --gse-ui-badge-warning-bold-foregroundColor: #1b2c48;
  --gse-ui-badge-warning-regular-backgroundColor: #fce9b2;
  --gse-ui-badge-warning-regular-foregroundColor: #1b2c48;
  --gse-ui-badge-error-bold-backgroundColor: #e22245;
  --gse-ui-badge-error-bold-foregroundColor: #ffffff;
  --gse-ui-badge-error-regular-backgroundColor: #f3a7b5;
  --gse-ui-badge-error-regular-foregroundColor: #1b2c48;
  --gse-ui-icon-size-sm: 16px;
  --gse-ui-icon-size-md: 24px;
  --gse-ui-icon-size-lg: 32px;
  --gse-ui-alert-padding: 8px 16px;
  --gse-ui-alert-gap: 8px;
  --gse-ui-alert-info-backgroundColor: #e2dff8;
  --gse-ui-alert-info-foregroundColor: #1b2c48;
  --gse-ui-alert-info-iconColor: #6e5ddb;
  --gse-ui-alert-info-border-color: #c5bef1;
  --gse-ui-alert-info-border-width: 1px;
  --gse-ui-alert-info-border-style: solid;
  --gse-ui-alert-success-backgroundColor: #cef0e6;
  --gse-ui-alert-success-foregroundColor: #1b2c48;
  --gse-ui-alert-success-iconColor: #09b581;
  --gse-ui-alert-success-border-color: #9de1cd;
  --gse-ui-alert-success-border-width: 1px;
  --gse-ui-alert-success-border-style: solid;
  --gse-ui-alert-warning-backgroundColor: #fef4d8;
  --gse-ui-alert-warning-foregroundColor: #1b2c48;
  --gse-ui-alert-warning-iconColor: #f8c73e;
  --gse-ui-alert-warning-border-color: #fce9b2;
  --gse-ui-alert-warning-border-width: 1px;
  --gse-ui-alert-warning-border-style: solid;
  --gse-ui-alert-error-backgroundColor: #f9d3da;
  --gse-ui-alert-error-foregroundColor: #1b2c48;
  --gse-ui-alert-error-iconColor: #e22245;
  --gse-ui-alert-error-border-color: #f3a7b5;
  --gse-ui-alert-error-border-width: 1px;
  --gse-ui-alert-error-border-style: solid;
  --gse-ui-alert-text-fontFamily: Noto Sans;
  --gse-ui-alert-text-lineHeight: 18px;
  --gse-ui-alert-text-fontSize: 12px;
  --gse-ui-alert-emphasisText-fontFamily: Noto Sans;
  --gse-ui-alert-emphasisText-lineHeight: 18px;
  --gse-ui-alert-emphasisText-fontSize: 12px;
  --gse-ui-alert-borderRadius: 4px;
  --gse-ui-rating-default-color: #767c8d;
  --gse-ui-rating-active-color: #4856cb;
  --gse-ui-rating-hover-color: #3742a2;
  --gse-ui-rating-disabled-color: #767c8d;
  --gse-ui-rating-disabled-opacity: 0.5;
  --gse-ui-rating-size: 16px;
  --gse-ui-button-disabled-opacity: 0.5;
  --gse-ui-button-text-fontFamily: Noto Sans;
  --gse-ui-button-text-lineHeight: 16px;
  --gse-ui-button-text-fontSize: 12px;
  --gse-ui-button-text-fontWeight: 700;
  --gse-ui-button-padding: 0 12px;
  --gse-ui-button-height: 32px;
  --gse-ui-button-borderRadius: 4px;
  --gse-ui-button-iconOnly-width: 32px;
  --gse-ui-button-icon-size: 16px;
  --gse-ui-button-primary-default-backgroundColor: #4856cb;
  --gse-ui-button-primary-default-foregroundColor: #ffffff;
  --gse-ui-button-primary-hover-backgroundColor: #3742a2;
  --gse-ui-button-primary-hover-foregroundColor: #ffffff;
  --gse-ui-button-primary-active-backgroundColor: #252e78;
  --gse-ui-button-primary-active-foregroundColor: #ffffff;
  --gse-ui-button-secondary-default-backgroundColor: #eff0fe;
  --gse-ui-button-secondary-default-foregroundColor: #4856cb;
  --gse-ui-button-secondary-hover-backgroundColor: #dee1fd;
  --gse-ui-button-secondary-hover-foregroundColor: #4856cb;
  --gse-ui-button-secondary-active-backgroundColor: #ced2fc;
  --gse-ui-button-secondary-active-foregroundColor: #4856cb;
  --gse-ui-button-tertiary-default-backgroundColor: #00000000;
  --gse-ui-button-tertiary-default-foregroundColor: #4856cb;
  --gse-ui-button-tertiary-default-border-color: #4856cb;
  --gse-ui-button-tertiary-default-border-width: 1px;
  --gse-ui-button-tertiary-default-border-style: solid;
  --gse-ui-button-tertiary-hover-backgroundColor: #dee1fd;
  --gse-ui-button-tertiary-hover-foregroundColor: #4856cb;
  --gse-ui-button-tertiary-active-backgroundColor: #ced2fc;
  --gse-ui-button-tertiary-active-foregroundColor: #4856cb;
  --gse-ui-button-ghost-default-backgroundColor: #00000000;
  --gse-ui-button-ghost-default-foregroundColor: #4856cb;
  --gse-ui-button-ghost-hover-backgroundColor: #dee1fd;
  --gse-ui-button-ghost-hover-foregroundColor: #4856cb;
  --gse-ui-button-ghost-active-backgroundColor: #ced2fc;
  --gse-ui-button-ghost-active-foregroundColor: #4856cb;
  --gse-ui-button-danger-default-backgroundColor: #e22245;
  --gse-ui-button-danger-default-foregroundColor: #ffffff;
  --gse-ui-button-danger-hover-backgroundColor: #881429;
  --gse-ui-button-danger-hover-foregroundColor: #ffffff;
  --gse-ui-button-danger-active-backgroundColor: #440a15;
  --gse-ui-button-danger-active-foregroundColor: #ffffff;
  --gse-ui-link-default-color: #4856cb;
  --gse-ui-link-disabled-color: #4856cb;
  --gse-ui-link-hover-color: #3742a2;
  --gse-ui-link-active-color: #252e78;
  --gse-ui-link-visited-color: #6e5ddb;
  --gse-ui-link-asButton-text-fontFamily: Noto Sans;
  --gse-ui-link-asButton-text-lineHeight: 20px;
  --gse-ui-link-asButton-text-fontSize: 14px;
  --gse-ui-link-asButton-text-fontWeight: 700;
  --gse-ui-link-asButton-underlinedText-fontFamily: Noto Sans;
  --gse-ui-link-asButton-underlinedText-lineHeight: 20px;
  --gse-ui-link-asButton-underlinedText-fontSize: 14px;
  --gse-ui-link-asButton-underlinedText-fontWeight: 700;
  --gse-ui-link-asButton-underlinedText-textDecoration: underline;
  --gse-ui-link-inLine-medium-text-fontFamily: Noto Sans;
  --gse-ui-link-inLine-medium-text-lineHeight: 20px;
  --gse-ui-link-inLine-medium-text-fontSize: 14px;
  --gse-ui-link-inLine-medium-text-fontWeight: 600;
  --gse-ui-link-inLine-medium-underlinedText-fontFamily: Noto Sans;
  --gse-ui-link-inLine-medium-underlinedText-lineHeight: 20px;
  --gse-ui-link-inLine-medium-underlinedText-fontSize: 14px;
  --gse-ui-link-inLine-medium-underlinedText-fontWeight: 600;
  --gse-ui-link-inLine-medium-underlinedText-textDecoration: underline;
  --gse-ui-link-inLine-small-text-fontFamily: Noto Sans;
  --gse-ui-link-inLine-small-text-lineHeight: 18px;
  --gse-ui-link-inLine-small-text-fontSize: 12px;
  --gse-ui-link-inLine-small-text-fontWeight: 600;
  --gse-ui-link-inLine-small-underlinedText-fontFamily: Noto Sans;
  --gse-ui-link-inLine-small-underlinedText-lineHeight: 18px;
  --gse-ui-link-inLine-small-underlinedText-fontSize: 12px;
  --gse-ui-link-inLine-small-underlinedText-fontWeight: 600;
  --gse-ui-link-inLine-small-underlinedText-textDecoration: underline;
  --gse-ui-breadcrumbs-primary-height: 20px;
  --gse-ui-breadcrumbs-secondary-height: 18px;
  --gse-ui-breadcrumbs-separator-padding-primary: 0 12px;
  --gse-ui-breadcrumbs-separator-padding-secondary: 0 8px;
  --gse-ui-breadcrumbs-separator-primary-fontFamily: Noto Sans;
  --gse-ui-breadcrumbs-separator-primary-lineHeight: 24px;
  --gse-ui-breadcrumbs-separator-primary-fontSize: 16px;
  --gse-ui-breadcrumbs-separator-primary-fontWeight: 700;
  --gse-ui-breadcrumbs-separator-secondary-fontFamily: Noto Sans;
  --gse-ui-breadcrumbs-separator-secondary-lineHeight: 20px;
  --gse-ui-breadcrumbs-separator-secondary-fontSize: 14px;
  --gse-ui-breadcrumbs-separator-secondary-fontWeight: 700;
  --gse-ui-breadcrumbs-separator-color: #a3a7b0;
  --gse-ui-breadcrumbs-borderRadius: 0;
  --gse-ui-formControl-input-contentText-fontFamily: Noto Sans;
  --gse-ui-formControl-input-contentText-lineHeight: 18px;
  --gse-ui-formControl-input-contentText-fontSize: 12px;
  --gse-ui-formControl-input-contentText-fontWeight: 400;
  --gse-ui-formControl-input-helperText-fontFamily: Noto Sans;
  --gse-ui-formControl-input-helperText-lineHeight: 18px;
  --gse-ui-formControl-input-helperText-fontSize: 12px;
  --gse-ui-formControl-input-helperText-fontWeight: 400;
  --gse-ui-formControl-input-default-border-color: #a3a7b0;
  --gse-ui-formControl-input-default-border-width: 1px;
  --gse-ui-formControl-input-default-border-style: solid;
  --gse-ui-formControl-input-hover-border-color: #3742a2;
  --gse-ui-formControl-input-hover-border-width: 1px;
  --gse-ui-formControl-input-hover-border-style: solid;
  --gse-ui-formControl-input-active-border-color: #252e78;
  --gse-ui-formControl-input-active-border-width: 1px;
  --gse-ui-formControl-input-active-border-style: solid;
  --gse-ui-formControl-input-error-border-color: #e22245;
  --gse-ui-formControl-input-error-border-width: 1px;
  --gse-ui-formControl-input-error-border-style: solid;
  --gse-ui-formControl-input-disabled-border-color: #a3a7b0;
  --gse-ui-formControl-input-disabled-border-width: 1px;
  --gse-ui-formControl-input-disabled-border-style: solid;
  --gse-ui-formControl-input-disabled-opacity: 0.5;
  --gse-ui-formControl-input-borderRadius: 4px;
  --gse-ui-formControl-input-backgroundColor: #ffffff;
  --gse-ui-formControl-input-placeholderColor: #a3a7b0;
  --gse-ui-formControl-input-populatedColor: #1b2c48;
  --gse-ui-formControl-input-clearable: #626e84;
  --gse-ui-formControl-input-iconColor: #3e5374;
  --gse-ui-formControl-label-text-fontFamily: Noto Sans;
  --gse-ui-formControl-label-text-lineHeight: 18px;
  --gse-ui-formControl-label-text-fontSize: 12px;
  --gse-ui-formControl-label-defaultColor: #1b2c48;
  --gse-ui-formControl-helper-defaultColor: #626e84;
  --gse-ui-formControl-helper-errorColor: #e22245;
  --gse-ui-formControl-indicator-requiredColor: #e22245;
  --gse-ui-formControl-indicator-optionalColor: #626e84;
  --gse-ui-formControl-prefixSufix-defaultColor: #626e84;
  --gse-ui-formControl-focusRing-defaultColor: #7b88f7;
}
