:root {
  --gse-ui-tabs-item-height: 40px;
  --gse-ui-tabs-item-fixedWidth: 98px;
  --gse-ui-tabs-item-horizontal-fixedHeight: 37px;
  --gse-ui-tabs-item-horizontal-padding: 11px 12px 10px;
  --gse-ui-tabs-item-disableOpacity: 0.5;
  --gse-ui-tabs-item-itemText-fontFamily: Noto Sans;
  --gse-ui-tabs-item-itemText-lineHeight: 18px;
  --gse-ui-tabs-item-itemText-fontSize: 12px;
  --gse-ui-tabs-item-itemText-fontWeight: 400;
  --gse-ui-tabs-item-itemTextColor: #1b2c48;
  --gse-ui-tabs-item-divider-horizontal-height: 1px;
  --gse-ui-tabs-item-divider-vertical-height: 40px;
  --gse-ui-tabs-item-divider-vertical-width: 1px;
  --gse-ui-tabs-item-divider-dividerColor: #c6c8ce;
  --gse-ui-tabs-item-indicator-vertical-height: 40px;
  --gse-ui-tabs-item-indicator-vertical-width: 2px;
  --gse-ui-tabs-item-indicator-horizontal-height: 2px;
  --gse-ui-tabs-item-indicator-hoverColor: #4856cb;
  --gse-ui-tabs-item-indicator-activeColor: #3742a2;
  --gse-ui-tabs-item-icon-iconColor: #1b2c48;
  --gse-ui-tabs-item-icon-size: 16px;
  --gse-ui-tabs-item-gap: 8px;
  --gse-ui-tabs-item-vertical-fixedHeight: 40px;
  --gse-ui-tabs-item-vertical-padding: 11px 9px 10px 12px;
  --gse-ui-tabs-set-vertical-height: 360px;
  --gse-ui-tabs-set-horizontal-width: 800px;
  --gse-ui-tabs-set-gap: -1px;
  --gse-ui-tabs-set-divider-horizontal-height: 1px;
  --gse-ui-tabs-set-divider-vertical-width: 1px;
  --gse-ui-advancedTabs-divider-dividerColor: #c6c8ce;
  --gse-ui-advancedTabs-item-padding: 11px 12px 10px;
  --gse-ui-advancedTabs-item-gap: 8px;
  --gse-ui-advancedTabs-item-focus-borderRadius: 8px;
  --gse-ui-advancedTabs-item-focus-border-color: #7b88f7;
  --gse-ui-advancedTabs-item-focus-border-width: 3px;
  --gse-ui-advancedTabs-item-focus-border-style: solid;
  --gse-ui-advancedTabs-item-focus-borderCopy-0: 4;
  --gse-ui-advancedTabs-item-focus-borderCopy-1: p;
  --gse-ui-advancedTabs-item-focus-borderCopy-2: x;
  --gse-ui-advancedTabs-item-backgroundColor: #ffffff;
  --gse-ui-advancedTabs-item-borderRadius: 4px 4px 0 0;
  --gse-ui-advancedTabs-item-height: 48px;
  --gse-ui-advancedTabs-item-width: 151px;
  --gse-ui-advancedTabs-item-focusItem-height: 53px;
  --gse-ui-advancedTabs-item-focusItem-width: 126px;
  --gse-ui-advancedTabs-item-divider-bottom-height: 1px;
  --gse-ui-advancedTabs-item-divider-right-height: 32px;
  --gse-ui-advancedTabs-item-divider-right-width: 1px;
  --gse-ui-advancedTabs-item-text-color: #1b2c48;
  --gse-ui-advancedTabs-item-text-height: 9px;
  --gse-ui-advancedTabs-item-indicator-hoverColor: #4856cb;
  --gse-ui-advancedTabs-item-indicator-activeColor: #3742a2;
  --gse-ui-advancedTabs-item-indicator-height: 2px;
  --gse-ui-advancedTabs-item-icon-iconColor: #1b2c48;
  --gse-ui-advancedTabs-item-icon-size: 16px;
  --gse-ui-advancedTabs-item-menuButton-gap: 4px;
  --gse-ui-advancedTabs-item-menuButton-height: 45px;
  --gse-ui-advancedTabs-item-menuButton-width: 32px;
  --gse-ui-advancedTabs-item-menuButton-defaultColor: #626e84;
  --gse-ui-advancedTabs-item-menuButton-activeColor: #252e78;
  --gse-ui-advancedTabs-item-menuButton-focus-height: 53px;
  --gse-ui-advancedTabs-item-menuButton-focus-width: 40px;
  --gse-ui-advancedTabs-item-itemText-fontFamily: Noto Sans;
  --gse-ui-advancedTabs-item-itemText-lineHeight: 18px;
  --gse-ui-advancedTabs-item-itemText-fontSize: 12px;
  --gse-ui-advancedTabs-item-itemText-fontWeight: 400;
  --gse-ui-advancedTabs-button-add-height: 45px;
  --gse-ui-advancedTabs-button-arrow-height: 48px;
  --gse-ui-advancedTabs-set-backgroundColor: #f3f5fb;
  --gse-ui-advancedTabs-set-standard-width: 920px;
  --gse-ui-globalNav-focus-border-color: #7b88f7;
  --gse-ui-globalNav-focus-border-width: 3px;
  --gse-ui-globalNav-focus-border-style: solid;
  --gse-ui-globalNav-menuOption-height: 32px;
  --gse-ui-globalNav-menuOption-width: 248px;
  --gse-ui-globalNav-menuOption-padding: 0px 12px;
  --gse-ui-globalNav-menuOption-gap: 8px;
  --gse-ui-globalNav-menuOption-default-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-hover-backgroundColor: #252e78;
  --gse-ui-globalNav-menuOption-hover-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-selected-backgroundColor: #4856cb;
  --gse-ui-globalNav-menuOption-selected-foregroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-disabled-backgroundColor: #ffffff;
  --gse-ui-globalNav-menuOption-focus-borderRadius: 8px;
  --gse-ui-globalNav-menuOption-borderRadius: 4px;
  --gse-ui-globalNav-menuOption-disableOpacity: 0.5;
  --gse-ui-globalNav-buttonReturn-height: 48px;
  --gse-ui-globalNav-buttonReturn-width: 280px;
  --gse-ui-globalNav-buttonReturn-padding: 16px 28px;
  --gse-ui-globalNav-buttonReturn-gap: 12px;
}
