:root {
  --gse-semantic-info-lightest: #e2dff8;
  --gse-semantic-info-lighter: #c5bef1;
  --gse-semantic-info-main: #6e5ddb;
  --gse-semantic-info-darker: #443989;
  --gse-semantic-info-darkest: #2e275f;
  --gse-semantic-warning-lightest: #fef4d8;
  --gse-semantic-warning-lighter: #fce9b2;
  --gse-semantic-warning-main: #f8c73e;
  --gse-semantic-warning-darker: #6c5619;
  --gse-semantic-warning-darkest: #3d300c;
  --gse-semantic-error-lightest: #f9d3da;
  --gse-semantic-error-lighter: #f3a7b5;
  --gse-semantic-error-main: #e22245;
  --gse-semantic-error-darker: #881429;
  --gse-semantic-error-darkest: #440a15;
  --gse-semantic-success-lightest: #cef0e6;
  --gse-semantic-success-lighter: #9de1cd;
  --gse-semantic-success-main: #09b581;
  --gse-semantic-success-darker: #056d4d;
  --gse-semantic-success-darkest: #033627;
  --gse-semantic-primary-lightest: #ced2fc;
  --gse-semantic-primary-lighter: #9ca6f9;
  --gse-semantic-primary-main: #4856cb;
  --gse-semantic-primary-darker: #3742a2;
  --gse-semantic-primary-darkest: #252e78;
}
