// Various
@expalette-dropdown-background-color: #f9fafb;
@expalette-background-color-dark: #555d66;
@expalette-background-color-dark-2: #393e45;
@expalette-icon-color: #b1becc;
@expalette-grey: #98a7b8;
@expalette-grey-2: #c3cad4;

// Buttons
@expalette-primary-border-color: #2455a3;
@expalette-primary-active-background-color: #275aad;
@expalette-primary-dark-hover-background-color: #3476f5;
@expalette-secondary-border-color: #d5dce0;
@expalette-secondary-active-background-color: #dce1e5;
@expalette-secondary-dark-hover-background-color: #76818f;

// gux-table
@expalette-table-scroll-thumb: #b5b6b7;

// gux-tabs
@expalette-tabs-background: #e6e8e8;
@expalette-off-tab-fill: #cfd1d1;
