// Genesys Colors from https://intranet.genesys.com/display/GDS/Colors+3.0

// Primary Palette
// Blue
@gux-blue-60: #2a60c8;
@gux-blue-80: #75a8ff;
@gux-blue-90: #aac9ff;
@gux-blue-100: #deeaff;

// Black
@gux-black-30: #222529;
@gux-black-50: #33383d;
@gux-black-90: #666f7b;
@gux-black-100: #77828f;

// Grey
@gux-grey-10: #9baab8;
@gux-grey-60: #e4e9f0;
@gux-grey-90: #f8f8f8;
@gux-grey-100: #fdfdfd;

// Conditional Palette
// Alert Red
@gux-alert-red-60: #ea0b0b;
@gux-alert-red-90: #f8b2b2;

// Alert Yellow
@gux-alert-yellow-60: #ffae00;

// Alert Green
@gux-alert-green-60: #3c8527;
@gux-alert-green-90: #c2deb9;

// Secondary Palette
@gux-navy-sec: #203b73;
@gux-blue-sec: @gux-blue-80;
@gux-electric-purple-sec: #8452cf;
@gux-plum-sec: #5e5782;
@gux-lilac-sec: #b5b5eb;
@gux-fuscha-sec: #cc3ebe;
@gux-bubblegum-pink-sec: #ff8fdd;
@gux-aqua-green-sec: #1da8b3;
@gux-olive-green-sec: #868c1e;
@gux-alert-yellow-green-sec: #ddd933;
@gux-dark-purple-sec: #5e5782;

// Brand Colors
@gux-genesys-charcoal-grey: #33383d;
@gux-genesys-off-white: @gux-grey-100;
@gux-genesys-plum: #5d3d5e;
@gux-genesys-warm-red: #ff4f1f;

// V1 Legacy
@gux-blue: @gux-blue-80;
@gux-charcoal-grey: #444a52;
@gux-dark-blue: @gux-blue-60;
@gux-off-white: @gux-grey-100;
@gux-warm-red: #ff4f1f;
