@import (reference) './color-palette.less';
@import (reference) './spacing.less';

:root {
  // Colors
  // Blue
  --gux-blue-60: @gux-blue-60;
  --gux-blue-80: @gux-blue-80;
  --gux-blue-90: @gux-blue-90;
  --gux-blue-100: @gux-blue-100;

  // Black
  --gux-black-30: @gux-black-30;
  --gux-black-50: @gux-black-50;
  --gux-black-90: @gux-black-90;
  --gux-black-100: @gux-black-100;

  // Grey
  --gux-grey-10: @gux-grey-10;
  --gux-grey-60: @gux-grey-60;
  --gux-grey-90: @gux-grey-90;
  --gux-grey-100: @gux-grey-100;

  // Alert Red
  --gux-alert-red-60: @gux-alert-red-60;
  --gux-alert-red-90: @gux-alert-red-90;

  // Alert Yellow
  --gux-alert-yellow-60: @gux-alert-yellow-60;

  // Alert Green
  --gux-alert-green-60: @gux-alert-green-60;
  --gux-alert-green-90: @gux-alert-green-90;

  // Legacy Colors V1
  --gux-blue: @gux-blue;
  --gux-charcoal-grey: @gux-charcoal-grey;
  --gux-dark-blue: @gux-dark-blue;
  --gux-off-white: @gux-off-white;
  --gux-warm-red: @gux-warm-red;

  // Spacing
  --soft-grid-increment: @soft-grid-increment;
  --spacing-3xs: @spacing-3xs;
  --spacing-2xs: @spacing-2xs;
  --spacing-xs: @spacing-xs;
  --spacing-small: @spacing-small;
  --spacing-medium: @spacing-medium;
  --spacing-large: @spacing-large;
  --spacing-xl: @spacing-xl;
  --spacing-2xl: @spacing-2xl;
  --spacing-3xl: @spacing-3xl;
  --spacing-4xl: @spacing-4xl;
}
