// Font Mixins from https://intranet.genesys.com/display/UXT/Type+Styles+3.0

.large-title {
    font-family: @genesys-light-font;
    font-size: 24px;
    line-height: 32px;
}

.small-title {
    font-family: @genesys-light-font;
    font-size: 18px;
    line-height: 24px;
}

.subhead-1 {
    font-family: @genesys-bold-font;
    font-size: 14px;
    line-height: 20px;
}

.subhead-2 {
    font-family: @genesys-regular-font;
    font-size: 14px;
    line-height: 20px;
}

.body {
    font-family: @genesys-regular-font;
    font-size: 12px;
    line-height: 20px;
}

.body-bold {
    font-family: @genesys-bold-font;
    font-size: 12px;
    line-height: 20px;
}

.body-italic {
    font-family: @genesys-italic-font;
    font-size: 12px;
    line-height: 20px;
}

.label {
    font-family: @genesys-bold-font;
    font-size: 12px;
    line-height: 16px;
}

.small-body {
    font-family: @genesys-regular-font;
    font-size: 11px;
    line-height: 16px;
}
