/*
 * This file combines all the exported library styles into a single stylesheet for consumption by applications.
 */
@import 'typography.less';
@import 'shadows.less';
@import 'css-custom-properties.less';

a {
  color: @gux-blue-60;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
