// Genesys Fonts from https://intranet.genesys.com/display/UXT/Type+Styles+3.0
@gux-bold-font: 'RobotoBold';
@gux-regular-font: 'Roboto';
@gux-light-font: 'RobotoLight';
@gux-italic-font: 'RobotoItalic';

// Genesys Colors from https://intranet.genesys.com/pages/viewpage.action?spaceKey=UXT&title=Colors+3.0

// Genesys Brand
@gux-warm-red: #ff4f1f;
@gux-plum: #5d3d5e;
@gux-charocal: #33383d;

// Genesys White / Black
@gux-off-white: #fdfdfd;
@gux-grey-2: #444a52;
@gux-grey-1: #222529;

// Borders
@gux-border: #e4e9f0;
@gux-border-alt: #dae1e8;
@gux-border-strong: #c3c4d4;
@gux-border-dark: #555d66;

// Interactive
@gux-dark-blue: #2a60c8;
@gux-blue: #75a8ff;
@gux-light-blue: #deeaff;
@gux-highlight: #ffef27;
@gux-highlight-2: #fff793;

// Backgrounds
@gux-off-white-bg: @gux-off-white;
@gux-off-white-bg-2: #f8f8f8;
@gux-grey-bg-1: @gux-grey-1;
@gux-grey-bg-2: @gux-grey-2;
@gux-panel: #393e45;

// Conditional Palette
@gux-alert: #f53131;
@gux-alert-2: #ff7070;
@gux-warning: #fabb00;
@gux-positive: #a1d318;
@gux-neutral: #203873;
@gux-neutral-2: #75a8ff;

// Type & Icons
@gux-grey-type: @gux-grey-2;
@gux-pale-gray: #77828f;
@gux-off-white-type: @gux-off-white;
@gux-pale-gray-2: #9baab8;
@genesys-icons: #98a7b8;

// Secondary Palette
@gux-dark-blue-sec: #203b73;
@gux-blue-sec: @gux-blue;
@gux-purple-sec: #8452cf;
@gux-teal-sec: #1da8b3;
@gux-light-purple-sec: #b5b5eb;
@gux-dark-pink-sec: #cc3ebe;
@gux-dark-purple-sec: #5e5782;
@gux-pink-sec: #ff8fdd;
@gux-dark-yellow-sec: #868c1e;
@gux-yellow-sec: #ddd933;

// Gensys Common Font Sizes

@gux-icon-size-default: 16px;

// Genesys Common Margin Sizes

@gux-margin-small-horizontal: 4px;
@gux-margin-large-horizontal: 8px;
@gux-margin-xlarge-horizontal: 16px;
