// Genesys Fonts from https://intranet.genesys.com/display/UXT/Type+Styles+3.0
@genesys-bold-font: 'RobotoBold';
@genesys-regular-font: 'Roboto';
@genesys-light-font: 'RobotoLight';
@genesys-italic-font: 'RobotoItalic';

// Genesys Colors from https://intranet.genesys.com/pages/viewpage.action?spaceKey=UXT&title=Colors+3.0

// Genesys Brand
@genesys-warm-red: #ff4f1f;
@genesys-plum: #5d3d5e;
@genesys-charocal: #33383d;

// Genesys White / Black
@genesys-off-white: #fdfdfd;
@genesys-grey-2: #444a52;
@genesys-grey-1: #222529;

// Borders
@genesys-border: #e4e9f0;
@genesys-border-alt: #dae1e8;
@genesys-border-strong: #c3c4d4;
@genesys-border-dark: #555d66;

// Interactive
@genesys-dark-blue: #2a60c8;
@genesys-blue: #75a8ff;
@genesys-light-blue: #deeaff;
@genesys-highlight: #ffef27;
@genesys-highlight-2: #fff793;

// Backgrounds
@genesys-off-white-bg: @genesys-off-white;
@genesys-off-white-bg-2: #f8f8f8;
@genesys-grey-bg-1: @genesys-grey-1;
@genesys-grey-bg-2: @genesys-grey-2;
@genesys-panel: #393e45;

// Conditional Palette
@genesys-alert: #f53131;
@genesys-alert-2: #ff7070;
@genesys-warning: #fabb00;
@genesys-positive: #a1d318;
@genesys-neutral: #203873;
@genesys-neutral-2: #75a8ff;

// Type & Icons
@genesys-grey-type: @genesys-grey-2;
@genesys-pale-gray: #77828f;
@genesys-off-white-type: @genesys-off-white;
@genesys-pale-gray-2: #9baab8;
@genesys-icons: #98a7b8;

// Secondary Palette
@genesys-dark-blue-sec: #203b73;
@genesys-blue-sec: @genesys-blue;
@genesys-purple-sec: #8452cf;
@genesys-teal-sec: #1da8b3;
@genesys-light-purple-sec: #b5b5eb;
@genesys-dark-pink-sec: #cc3ebe;
@genesys-dark-purple-sec: #5e5782;
@genesys-pink-sec: #ff8fdd;
@genesys-dark-yellow-sec: #868c1e;
@genesys-yellow-sec: #ddd933;

// Gensys Common Font Sizes

@genesys-icon-size-default: 16px;

// Genesys Common Margin Sizes

@genesys-margin-small-horizontal: 4px;
@genesys-margin-large-horizontal: 8px;
@genesys-margin-xlarge-horizontal: 16px;
