@use '../../../style/typography.scss';

:host {
  dialog {
    border: 1px solid #b4bccb; // TODO: COMUI-2300
    border-radius: var(--gse-ui-modal-borderRadius);
    box-shadow: var(--gse-ui-modal-boxShadow-x) var(--gse-ui-modal-boxShadow-y)
      var(--gse-ui-modal-boxShadow-blur) var(--gse-ui-modal-boxShadow-spread)
      var(--gse-ui-modal-boxShadow-color);

    &::backdrop {
      // background: var(--gse-ui-modal-shroudColor);
      background: #4d6182cc;
    }

    .gux-dialog-header {
      margin: 0;
      font-family: var(--gse-ui-modal-heading-fontFamily);
      font-size: var(--gse-ui-modal-heading-fontSize);
      font-weight: var(--gse-ui-modal-heading-fontWeight);
      line-height: var(--gse-ui-modal-heading-fontFamily);
      color: var(--gse-ui-modal-headerColor);
      letter-spacing: var(--gse-ui-modal-heading-letterSpacing);

      @include typography.h1;
    }
  }
}
