@use '~genesys-spark/dist/scss/mixins.scss';

:host {
  display: none;
  -webkit-user-select: none;
  user-select: none;
}

:host(.gux-show-menu) {
  display: block;
}

.gux-menu-button {
  button {
    color: var(--gse-ui-button-secondary-default-foregroundColor);
    cursor: grab;
    background-color: var(--gse-ui-button-secondary-default-backgroundColor);
    border: none;

    gux-icon {
      width: var(--gse-ui-icon-size-sm, --gse-ui-icon-small-size);
      height: var(--gse-ui-icon-size-sm, --gse-ui-icon-small-size);
    }
  }
}

.gux-list-container {
  width: min-content;

  @include mixins.gux-menu-container;
}
