@use "~genesys-spark/dist/scss/mixins.scss";

:host {
  display: none;
  -webkit-user-select: none;
  user-select: none;
}

:host(.gux-show-menu) {
  display: block;
}

.gux-menu-button {
  display: flex;
  color: var(--gse-ui-button-secondary-default-foregroundColor);
  cursor: pointer;
  border: none;

  gux-icon {
    inline-size: var(--gse-ui-icon-small-size);
    block-size: var(--gse-ui-icon-small-size);
    align-self: center;
  }
}

.gux-list-container {
  inline-size: min-content;

  @include mixins.gux-menu-container;
}
