<h1>Default (no previous or next page available)</h1>
<div lang="en">
  <div class="table-placeholder"></div>
  <gux-pagination-cursor-beta></gux-pagination-cursor-beta>
</div>

<h1>Next page available</h1>
<div lang="en">
  <div class="table-placeholder"></div>
  <gux-pagination-cursor-beta has-next></gux-pagination-cursor-beta>
</div>

<h1>Next and previous page available</h1>
<div lang="en">
  <div class="table-placeholder"></div>
  <gux-pagination-cursor-beta
    has-previous
    has-next
  ></gux-pagination-cursor-beta>
</div>

<h1>Previous page available</h1>
<div lang="en">
  <div class="table-placeholder"></div>
  <gux-pagination-cursor-beta has-previous></gux-pagination-cursor-beta>
</div>

<style>
  .table-placeholder {
    padding: 10px;
    color: #f1f1f1;
    text-align: center;
    background-image: linear-gradient(
      45deg,
      #f1f1f1 25%,
      transparent 25%,
      transparent 50%,
      #f1f1f1 50%,
      #f1f1f1 75%,
      transparent 75%,
      #fff
    );
    background-size: 5px 5px;
  }

  .table-placeholder::before {
    padding: 5px;
    content: 'Table Placeholder';
    background-color: white;
  }
</style>
