@import (reference) '../../../../../../style/color.less';
@import (reference) '../../../../../../style/focus.less';
@import (reference) '../../../../../../style/spacing.less';

:host {
  flex: 0 0 33.3%;
}

:host([disabled]) {
  pointer-events: none;
}

:host([disabled='false']) {
  pointer-events: auto;
}

::slotted(gux-icon) {
  width: 16px;
  height: 16px;
  margin-right: @gux-spacing-xs;
  vertical-align: middle;
}

.gux-container {
  padding: @gux-spacing-2xs;

  button {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    padding: @gux-spacing-xs 0;
    color: @gux-black-50;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    border: none;
    border-radius: @gux-spacing-2xs;
    outline: none;

    &.gux-selected {
      color: @gux-grey-100;
      background: @gux-blue-60;
    }

    &:focus-visible:not(:disabled) {
      .gux-focus-ring();
    }

    &:hover:not(:disabled) {
      color: @gux-grey-100;
      background: @gux-blue-60;
    }

    &:active:not(:disabled) {
      color: @gux-grey-100;
      background: @gux-blue-60;
    }

    &:disabled {
      color: fade(@gux-black-50, 50%);
      cursor: default;
    }
  }
}
