:host([disabled]) {
  pointer-events: none;
}

:host([disabled='false']) {
  pointer-events: auto;
}

.gux-container {
  box-sizing: border-box;
  width: var(--gse-ui-calendarMenu-month-monthCell-width);
  height: var(--gse-ui-calendarMenu-month-monthCell-height);
  padding: 10px 5px 9px; //TODO COMUI-2256

  button {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    border: none;
    border-radius: var(--gse-ui-calendarMenu-month-borderRadius);
    outline: none;

    &.gux-selected {
      color: var(--gse-ui-calendarMenu-month-selected-foregroundColor);
      background: var(--gse-ui-calendarMenu-month-selected-backgroundColor);
    }

    &:focus-visible:not(:disabled) {
      border-radius: var(--gse-ui-calendarMenu-month-focusBorderRadius);
      outline: var(--gse-ui-monthPicker-calendarStates-focus-border-width)
        var(--gse-ui-monthPicker-calendarStates-focus-border-style)
        var(--gse-ui-monthPicker-calendarStates-focus-border-color);
      outline-offset: var(
        --gse-semantic-focusRing-offset,
        var(--gse-semantic-focusOutline-offset)
      );
    }

    &:hover:not(:disabled) {
      color: var(--gse-ui-calendarMenu-month-default-foregroundColor);
      background: var(--gse-ui-calendarMenu-month-hover-backgroundColor);
    }

    &:disabled {
      cursor: default;
      opacity: var(--gse-ui-calendarMenu-disabled-opacity);
    }
  }
}
