@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host([disabled]) {
  pointer-events: none;
}

:host([disabled='false']) {
  pointer-events: auto;
}

.gux-container {
  box-sizing: border-box;
  inline-size: ui.$gse-ui-calendarMenu-month-monthCell-width;
  block-size: ui.$gse-ui-calendarMenu-month-monthCell-height;
  padding-block: 10px 9px;
  padding-inline: 5px; //TODO COMUI-2256

  button {
    all: unset;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    text-align: center;
    overflow-wrap: break-word;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: ui.$gse-ui-calendarMenu-month-borderRadius;

    &.gux-selected {
      color: ui.$gse-ui-calendarMenu-month-selected-foregroundColor;
      background: ui.$gse-ui-calendarMenu-month-selected-backgroundColor;
    }

    &:focus-visible:not(:disabled) {
      outline: ui.$gse-ui-monthPicker-calendarStates-focus-border-width
        ui.$gse-ui-monthPicker-calendarStates-focus-border-style
        ui.$gse-ui-monthPicker-calendarStates-focus-border-color;
      outline-offset: global.$gse-semantic-focusOutline-offset;
      border-radius: ui.$gse-ui-calendarMenu-month-focusBorderRadius;
    }

    &:hover:not(:disabled) {
      color: ui.$gse-ui-calendarMenu-month-default-foregroundColor;
      background: ui.$gse-ui-calendarMenu-month-hover-backgroundColor;
    }

    &:disabled {
      cursor: default;
      opacity: ui.$gse-ui-calendarMenu-disabled-opacity;
    }
  }
}
