@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

gux-pagination-item-counts {
  .gux-pagination-item-counts-container {
    display: flex;
    flex-direction: row;
    gap: ui.$gse-ui-dataTableItems-tablePagination-countDisplay-gap;
    font-family: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontFamily;
    font-size: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontSize;
    font-weight: ui.$gse-ui-dataTableItems-tablePagination-currentResultText-fontWeight;
    line-height: ui.$gse-ui-dataTableItems-tablePagination-defaultText-lineHeight;
    color: ui.$gse-ui-dataTableItems-tablePagination-foregroundColor;
    white-space: nowrap;
  }

  .gux-pagination-item-counts-total {
    font-family: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontFamily;
    font-size: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontSize;
    font-weight: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontWeight;
    line-height: ui.$gse-ui-dataTableItems-tablePagination-defaultText-lineHeight;
    color: ui.$gse-ui-dataTableItems-tablePagination-foregroundColor;
    white-space: nowrap;
  }
}
