@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
}

.gux-file-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: ui.$gse-ui-fileUpload-fileCard-foregroundColor;
  border: ui.$gse-ui-fileUpload-fileCard-mainContainer-default-border-width
    ui.$gse-ui-fileUpload-fileCard-mainContainer-default-border-style
    ui.$gse-ui-fileUpload-fileCard-mainContainer-default-border-color;
  border-radius: ui.$gse-ui-fileUpload-fileCard-borderRadius;
  box-shadow: ui.$gse-ui-fileUpload-fileCard-boxShadow;

  &.gux-disabled {
    opacity: 0.5;
  }

  &.gux-error {
    padding-block-start: 0;
    border: ui.$gse-ui-fileUpload-fileCard-mainContainer-error-border-width
      ui.$gse-ui-fileUpload-fileCard-mainContainer-error-border-style
      ui.$gse-ui-fileUpload-fileCard-mainContainer-error-border-color;
  }

  .gux-info {
    box-sizing: border-box;
    display: flex;
    gap: ui.$gse-ui-fileUpload-fileCard-card-gap;
    align-items: center;
    inline-size: 100%;
    block-size: 32px;
    padding: ui.$gse-ui-fileUpload-fileCard-card-padding;

    .gux-file-name {
      font-family: ui.$gse-ui-fileUpload-fileCard-fileName-text-fontFamily;
      font-size: ui.$gse-ui-fileUpload-fileCard-fileName-text-fontSize;
      font-weight: ui.$gse-ui-fileUpload-fileCard-fileName-text-fontWeight;
      line-height: ui.$gse-ui-fileUpload-fileCard-fileName-text-lineHeight;
      color: ui.$gse-ui-fileUpload-fileCard-fileName-default;
    }

    .gux-indicator {
      &[icon-name='fa/circle-check-solid'] {
        --gse-ui-formControl-label-tooltipTrigger-color: ui.$gse-ui-fileUpload-fileCard-statusIcon-success;
      }

      &[icon-name='fa/hexagon-exclamation-solid'] {
        --gse-ui-formControl-label-tooltipTrigger-color: ui.$gse-ui-fileUpload-fileCard-statusIcon-error;
      }
    }

    // UX should provide a small icon only button if it is in their designs.
    gux-button-slot {
      inline-size: ui.$gse-ui-button-dismiss-small-width;
      block-size: ui.$gse-ui-button-dismiss-small-height;

      button {
        --gse-ui-button-default-paddingIconOnly: 4px;

        inline-size: ui.$gse-ui-button-dismiss-small-width;
        min-inline-size: ui.$gse-ui-button-dismiss-small-width;
        block-size: ui.$gse-ui-button-dismiss-small-height;
      }
    }
  }

  .gux-additional-info {
    display: flex;
    flex-direction: column;
    gap: ui.$gse-ui-fileUpload-fileCard-card-errorCard-errorTextSection-gap;
    inline-size: 100%;
    padding: ui.$gse-ui-fileUpload-fileCard-card-errorCard-mainContainer-padding;
    font-family: ui.$gse-ui-fileUpload-fileCard-error-text-fontFamily;
    font-size: ui.$gse-ui-fileUpload-fileCard-error-text-fontSize;
    font-weight: ui.$gse-ui-fileUpload-fileCard-error-text-fontWeight;
    line-height: ui.$gse-ui-fileUpload-fileCard-error-text-lineHeight;
    border-block-start: ui.$gse-ui-fileUpload-fileCard-mainContainer-default-border-width
      ui.$gse-ui-fileUpload-fileCard-mainContainer-default-border-style
      ui.$gse-ui-fileUpload-fileCard-mainContainer-default-border-color;

    .gux-additional-info-header {
      padding: ui.$gse-ui-fileUpload-fileCard-card-padding;
      color: ui.$gse-ui-fileUpload-fileCard-error-errorMessage;
    }

    .gux-additional-info-content {
      padding: ui.$gse-ui-fileUpload-fileCard-card-padding;
      color: ui.$gse-ui-fileUpload-fileCard-error-errorHelper;
    }
  }
}
