/* stylelint-disable-next-line selector-class-pattern */
@mixin Style {
  .gux-form-field-container {
    display: flex;
    flex-direction: column;

    &.gux-beside {
      flex-direction: row;
    }
  }
}
