:host {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  place-content: stretch space-between;
  align-items: flex-start;
  padding: var(--gse-ui-dataTableItems-tablePagination-padding);
  font-family: var(
    --gse-ui-dataTableItems-tablePagination-defaultText-fontFamily
  );
  font-size: var(--gse-ui-dataTableItems-tablePagination-defaultText-fontSize);
  font-weight: var(
    --gse-ui-dataTableItems-tablePagination-defaultText-fontWeight
  );
  line-height: var(
    --gse-ui-dataTableItems-tablePagination-defaultText-lineHeight
  );
  color: var(--gse-ui-dataTableItems-tablePagination-foregroundColor);
  background-color: var(
    --gse-ui-dataTableItems-tablePagination-defaultBackgroundColor
  );
  border-block-start: var(--gse-ui-dataTableItems-tablePagination-divider-width)
    var(--gse-ui-dataTableItems-tablePagination-divider-style)
    var(--gse-ui-dataTableItems-tablePagination-divider-color);

  .gux-pagination-button-container {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gse-ui-dataTableItems-tablePagination-recordsetControls-gap);
    align-content: center;
  }

  .gux-button-align-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-button-gap);
    align-content: center;
    align-items: center;

    > * {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
    }
  }

  gux-icon {
    display: flex;
    inline-size: var(--gse-ui-button-icon-size);
    block-size: var(--gse-ui-button-icon-size);
  }
}
