@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  place-content: stretch space-between;
  align-items: flex-start;
  padding: ui.$gse-ui-dataTableItems-tablePagination-padding;
  font-family: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontFamily;
  font-size: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontSize;
  font-weight: ui.$gse-ui-dataTableItems-tablePagination-defaultText-fontWeight;
  line-height: ui.$gse-ui-dataTableItems-tablePagination-defaultText-lineHeight;
  color: ui.$gse-ui-dataTableItems-tablePagination-foregroundColor;
  background-color: ui.$gse-ui-dataTableItems-tablePagination-defaultBackgroundColor;
  border-block-start: ui.$gse-ui-dataTableItems-tablePagination-divider-width
    ui.$gse-ui-dataTableItems-tablePagination-divider-style
    ui.$gse-ui-dataTableItems-tablePagination-divider-color;

  .gux-pagination-button-container {
    display: flex;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-dataTableItems-tablePagination-recordsetControls-gap;
    align-content: center;
  }

  .gux-button-align-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-button-gap;
    align-content: center;
    align-items: center;

    > * {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
    }
  }

  gux-icon {
    display: flex;
  }
}
