:host {
  display: block;
  margin: 2px;
  color: #2e394c;
  outline: none;
}

:host(.gux-display-inline) {
  display: inline-block;
}

.gux-toggle-container {
  &.gux-disabled {
    pointer-events: none;
    cursor: default;

    .gux-toggle-input {
      .gux-toggle-label {
        .gux-toggle-label-text {
          opacity: var(--gse-ui-toggle-disabled-opacity);
        }
      }
    }
  }

  &.gux-toggle-label-left {
    .gux-toggle-input {
      flex-direction: row-reverse;

      .gux-toggle-label {
        .gux-toggle-label-text {
          place-items: end;
        }
      }
    }

    .gux-toggle-error {
      float: right;
    }
  }

  .gux-toggle-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-toggle-gap);
    place-content: stretch flex-start;
    align-items: flex-start;

    .gux-toggle-label {
      position: relative;
      display: inline-block;
      padding: 0 4px; // TODO: COMUI-2332 missing token
      cursor: default;

      .gux-toggle-label-text {
        display: grid;
        grid-template-areas: 'inner-div';
        place-items: start;

        .gux-toggle-label-text-inner {
          position: relative;
          grid-area: inner-div;
          font-family: var(--gse-ui-toggle-label-fontFamily);
          font-size: var(--gse-ui-toggle-label-fontSize);
          font-weight: var(--gse-ui-toggle-label-fontWeight);
          color: var(--gse-ui-formControl-label-labelColor);
          word-wrap: break-word;

          &.gux-hidden {
            visibility: hidden;
          }
        }
      }

      .gux-toggle-label-loading {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        place-content: stretch center;
        align-items: center;
      }
    }
  }

  .gux-toggle-error {
    .gux-toggle-error-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      place-content: stretch flex-start;
      align-items: flex-start;
      font-size: var(--gse-ui-toggle-label-fontSize);
      color: var(--gse-ui-formControl-helper-errorColor);

      gux-icon {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
        width: var(--gse-ui-button-icon-size);
        height: var(--gse-ui-button-icon-size);
        margin: 0 4px; // TODO: COMUI-2332 missing token
        color: var(--gse-ui-formControl-helper-errorColor);
      }

      .gux-toggle-error-message {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
      }
    }
  }
}
