/**
 * @prop --gse-ui-toggle-label-fontFamily
 * @prop --gse-ui-toggle-label-fontWeight
 * @prop --gse-ui-toggle-label-lineHeight
 * @prop --gse-ui-toggle-label-fontSize
 * @prop --gse-ui-toggle-gap
 */

:host {
  display: block;
  margin: 2px;
  color: #2e394c;
  outline: none;
}

:host(.gux-display-inline) {
  display: inline-block;
}

.gux-toggle-container {
  cursor: pointer;

  &.gux-disabled {
    pointer-events: none;
    cursor: default;

    .gux-toggle-input {
      .gux-toggle-label {
        .gux-toggle-label-text {
          opacity: var(--gse-ui-toggle-disabled-opacity);
        }
      }
    }
  }

  &.gux-toggle-label-left {
    .gux-toggle-input {
      flex-direction: row-reverse;

      .gux-toggle-label {
        .gux-toggle-label-text {
          place-items: end;
        }
      }
    }

    .gux-toggle-error {
      float: right;
    }
  }

  .gux-toggle-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gse-ui-toggle-gap);

    .gux-toggle-label {
      position: relative;
      display: inline-block;
      padding: 0 4px; // TODO: COMUI-2332 missing token
      font-family: var(--gse-ui-toggle-label-fontFamily);
      font-weight: var(--gse-ui-toggle-label-fontWeight);
      // line-height: var(--gse-ui-toggle-label-lineHeight); // TODO: COMUI-2332 adding this line height shifts up the label so it's not vertically centered anymore
      font-size: var(--gse-ui-toggle-label-fontSize);

      .gux-toggle-label-text {
        display: grid;
        grid-template-areas: 'inner-div';
        place-items: start;
        font-family: var(--gse-ui-toggle-label-fontWeight);

        .gux-toggle-label-text-inner {
          position: relative;
          grid-area: inner-div;

          &.gux-hidden {
            visibility: hidden;
          }
        }
      }

      .gux-toggle-label-loading {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .gux-toggle-error {
    .gux-toggle-error-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: var(--gse-ui-toggle-label-fontSize);
      color: var(--gse-ui-formControl-helper-errorColor);

      gux-icon {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
        width: var(--gse-ui-button-icon-size);
        height: var(--gse-ui-button-icon-size);
        margin: 0 4px; // TODO: COMUI-2332 missing token
        color: var(--gse-ui-formControl-helper-errorColor);
      }

      .gux-toggle-error-message {
        flex: 0 1 auto;
        align-self: auto;
        order: 0;
      }
    }
  }
}
