@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

.gux-month-calendar {
  flex-wrap: wrap;
  inline-size: ui.$gse-ui-calendarMenu-width;
  box-shadow: ui.$gse-ui-calendarMenu-boxShadow;

  &.gux-hidden {
    display: none;
  }

  .gux-current-month {
    font-family: ui.$gse-ui-calendarMenu-month-currentText-fontFamily;
    font-size: ui.$gse-ui-calendarMenu-month-currentText-fontSize;
    font-weight: ui.$gse-ui-calendarMenu-month-currentText-fontWeight;
    line-height: ui.$gse-ui-calendarMenu-month-currentText-lineHeight;
    color: ui.$gse-ui-calendarMenu-month-default-foregroundColor;
  }

  .gux-year-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: ui.$gse-ui-calendarMenu-month-single-header-height;
    padding: ui.$gse-ui-calendarMenu-header-padding;
    font-family: ui.$gse-ui-calendarMenu-day-headerText-fontFamily;
    font-size: ui.$gse-ui-calendarMenu-day-headerText-fontSize;
    font-weight: ui.$gse-ui-calendarMenu-day-headerText-fontWeight;
    line-height: ui.$gse-ui-calendarMenu-day-headerText-lineHeight;
    color: ui.$gse-ui-calendarMenu-header-foregroundColor;
    background-color: ui.$gse-ui-calendarMenu-header-backgroundColor;
    border-radius: ui.$gse-ui-calendarMenu-single-header-borderRadius;

    button {
      padding: ui.$gse-ui-calendarMenu-header-arrow-padding;
      color: inherit;
      cursor: pointer;
      outline: none;
      background: none;
      border: none;

      &:focus-visible {
        outline: global.$gse-semantic-focusOutline-md-borderWidth solid
          ui.$gse-ui-color-focus;
        outline-offset: global.$gse-semantic-focusOutline-offset;
        border-radius: calc(
          #{global.$gse-semantic-focusOutline-sm-borderRadius} -
            #{global.$gse-semantic-focusOutline-offset}
        );
      }

      &.gux-year-change {
        &:disabled {
          cursor: default;
          opacity: ui.$gse-ui-calendarMenu-disabled-opacity;
        }
      }

      gux-icon {
        pointer-events: none;
      }
    }
  }
}
