.gux-month-calendar {
  flex-wrap: wrap;
  inline-size: var(--gse-ui-calendarMenu-width);
  box-shadow: var(--gse-ui-calendarMenu-boxShadow-offsetX)
    var(--gse-ui-calendarMenu-boxShadow-offsetY)
    var(--gse-ui-calendarMenu-boxShadow-blur)
    var(--gse-ui-calendarMenu-boxShadow-spread)
    var(--gse-ui-calendarMenu-boxShadow-color);

  &.gux-hidden {
    display: none;
  }

  .gux-current-month {
    font-family: var(--gse-ui-calendarMenu-month-currentText-fontFamily);
    font-size: var(--gse-ui-calendarMenu-month-currentText-fontSize);
    font-weight: var(--gse-ui-calendarMenu-month-currentText-fontWeight);
    line-height: var(--gse-ui-calendarMenu-month-currentText-lineHeight);
    color: var(--gse-ui-calendarMenu-month-default-foregroundColor);
  }

  .gux-year-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: var(--gse-ui-calendarMenu-month-single-header-height);
    padding: var(--gse-ui-calendarMenu-header-padding);
    font-family: var(--gse-ui-calendarMenu-day-headerText-fontFamily);
    font-size: var(--gse-ui-calendarMenu-day-headerText-fontSize);
    font-weight: var(--gse-ui-calendarMenu-day-headerText-fontWeight);
    line-height: var(--gse-ui-calendarMenu-day-headerText-lineHeight);
    color: var(--gse-ui-calendarMenu-header-foregroundColor);
    background-color: var(--gse-ui-calendarMenu-header-backgroundColor);
    border-radius: var(--gse-ui-calendarMenu-single-header-borderRadius);

    button {
      padding: var(--gse-ui-calendarMenu-header-arrow-padding);
      color: inherit;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;

      &:focus-visible {
        border-radius: calc(
          var(--gse-semantic-focusOutline-sm-borderRadius) - var(
              --gse-semantic-focusOutline-offset
            )
        );
        outline: var(--gse-semantic-focusOutline-md-borderWidth) solid
          var(--gse-ui-color-focus);
        outline-offset: var(--gse-semantic-focusOutline-offset);
      }

      &.gux-year-change {
        &:disabled {
          cursor: default;
          opacity: var(--gse-ui-calendarMenu-disabled-opacity);
        }
      }

      gux-icon {
        pointer-events: none;
      }
    }
  }
}
