@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
  inline-size: fit-content;
  block-size: 100%;
}

:host([size='large']) {
  max-inline-size: 50%;
}

.gux-side-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  inline-size: calc(100vw - #{ui.$gse-ui-sidePanel-shoud-minWidth});
  block-size: inherit;
  background-color: ui.$gse-ui-sidePanel-backgroundColor;
  box-shadow: ui.$gse-ui-sidePanel-boxShadow;

  &.gux-side-panel-small {
    max-inline-size: ui.$gse-ui-sidePanel-widthSize-sm;
  }

  &.gux-side-panel-medium {
    max-inline-size: ui.$gse-ui-sidePanel-widthSize-md;
  }

  &.gux-side-panel-large {
    max-inline-size: ui.$gse-ui-sidePanel-widthSize-lg;
  }

  &.gux-side-panel-expanded {
    max-inline-size: unset;
  }

  & .gux-side-panel-content-wrapper {
    flex: 1 1 100%;
    overflow-y: auto;
    border-block-start: ui.$gse-ui-sidePanel-divider-width
      ui.$gse-ui-sidePanel-divider-style ui.$gse-ui-sidePanel-divider-color;
  }

  & .gux-side-panel-content {
    padding: ui.$gse-ui-sidePanel-body-padding;
  }
}

::slotted(footer) {
  flex: 0 0 auto;
  padding: ui.$gse-ui-sidePanel-footer-padding;
  border-block-start: ui.$gse-ui-sidePanel-divider-width
    ui.$gse-ui-sidePanel-divider-style ui.$gse-ui-sidePanel-divider-color;
}
