@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

@mixin slotted-description {
  margin: 0;
  font-family: ui.$gse-ui-sidePanel-description-text-fontFamily !important;
  font-size: ui.$gse-ui-sidePanel-description-text-fontSize !important;
  font-weight: ui.$gse-ui-sidePanel-description-text-fontWeight !important;
  line-height: ui.$gse-ui-sidePanel-description-text-lineHeight !important;
  color: ui.$gse-ui-sidePanel-descriptionColor !important;
}
