@import (reference) '../../../../style/color.less';
@import (reference) '../../../../style/mixins.less';
@import (reference) '../../../../style/spacing.less';

// Variables part
@gux-tabs-background: @gux-grey-60;
@gux-off-tab-fill: @gux-grey-40;

gux-tab-advanced-list {
  .gux-tab-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: @gux-tabs-background;

    .action-button-container {
      display: flex;
      border-radius: 2px;
      .add-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        color: @gux-black-30;
        background-color: @gux-tabs-background;
        border-color: @gux-off-tab-fill;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        transition: color 0.25s;

        &:disabled {
          opacity: 0.5;
        }

        &:hover {
          color: @gux-blue-60;
        }

        &:active {
          background-color: darken(@gux-tabs-background, 5%);
        }

        &:focus-visible {
          border: 3px solid @gux-blue-90;
          border-radius: 5px;
          outline: none;
        }

        gux-icon {
          width: 16px;
          height: 16px;
        }
      }

      .gux-scroll-button-container {
        display: flex;
        background-color: @gux-off-tab-fill;
        border-radius: 4px;

        .gux-scroll-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 40px;
          padding: 0;
          color: @gux-black-30;
          background-color: @gux-tabs-background;
          border-color: @gux-off-tab-fill;
          border-style: solid;
          border-width: 1px;
          border-radius: 2px;
          transition: color 0.25s;

          &:focus-visible {
            border: 3px solid @gux-blue-90;
            border-radius: 5px;
            outline: none;
          }

          gux-icon {
            width: 10px;
            height: 10px;
          }
          &:focus {
            border: 3px solid @gux-blue-90;
            outline: none;
          }

          &:hover {
            color: @gux-blue-60;
          }

          &:active {
            background-color: darken(@gux-tabs-background, 5%);
          }

          &:focus-visible {
            .focus-ring();
          }
        }
      }
    }

    .new-tab {
      .add-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        min-width: 36px;
        height: 36px;
        padding: 0;
        margin-left: 4px;
        color: @gux-black-30;
        background-color: @gux-off-tab-fill;
        border: none;
        transition: color 0.25s;

        &:hover {
          color: @gux-blue-60;
        }

        &:active {
          background-color: darken(@gux-off-tab-fill, 5%);
        }

        &:focus-visible {
          border: 3px solid @gux-blue-90;
          border-radius: 5px;
          outline: none;
        }

        gux-icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    .gux-scrollable-section {
      display: flex;
      align-items: flex-end;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        height: 0;
      }
    }
  }
}
