@import (reference) '../../../style/color.less';

:host {
  display: block;
  max-width: fit-content;
}

gux-icon {
  width: 16px;
  height: 16px;
  color: #6b7585;
}

.gux-list-container {
  width: 128px;
  padding: 8px 0;
  margin: 0;
  text-align: left;
  list-style: none;
  background-color: @gux-type-dark;
  border: 1px solid #b4bccb;
  border-radius: 4px;
  box-shadow: 0 2px 4px fade(#202937, 24%);
}
