@import (reference) '../../../style/color.less';
@import (reference) '../../../style/shadows.less';

:host {
  display: block;
  max-width: fit-content;
  white-space: normal;
}

gux-icon {
  width: 16px;
  height: 16px;
  color: @gux-black-100;
}

.gux-list-container {
  width: 128px;
  padding: 8px 0;
  margin: 0;
  text-align: left;
  list-style: none;
  background-color: @gux-type-dark;
  border: 1px solid @gux-grey-30;
  border-radius: 4px;
  .gux-shadow-20();
}
