@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

.gux-label-info {
  inline-size: fit-content;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  border-radius: ui.$gse-ui-formControl-label-tooltipTrigger-borderRadius;

  gux-tooltip {
    padding-inline-start: 0;
  }

  & gux-icon {
    vertical-align: bottom;
    color: ui.$gse-ui-formControl-label-tooltipTrigger-color;
  }
}
