.gux-label-info {
  width: fit-content;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  border-radius: var(--gse-ui-formControl-label-tooltipTrigger-borderRadius);

  gux-tooltip {
    padding-inline-start: 0;
  }

  & gux-icon {
    color: var(
      --gse-ui-formControl-label-tooltipTrigger-optionalColor,
      --gse-ui-formControl-label-tooltipTrigger-color
    );
    vertical-align: bottom;
  }
}
