@import (reference) '../../../../style/spacing.less';
@import (reference) '../../../../style/mixins.less';

:host {
  .gux-hide-offscreen();
}

:host(:focus-within) {
  .gux-unhide-offscreen();
}

::slotted(a) {
  padding: @spacing-small;
  font-size: 2rem;
  text-decoration: underline !important;
  background-color: @gux-grey-100;
  border-radius: 2px;
  box-shadow: 0 8px 24px fade(@gux-black-30, 40%), 0 0 0 1px @gux-grey-100,
    0 0 0 4px @gux-blue-90 !important;
}

::slotted(a:hover) {
  color: @gux-blue-50!important;
}

::slotted(a:active) {
  color: @gux-blue-40!important;
}

::slotted(a:focus) {
  .focus-ring();
}
