@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/typography.less';

:host {
  display: block;
}

.gux-inline-alert {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  border-radius: 4px;
  .body-font();

  gux-icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 16px;
    height: 16px;
    margin-top: 2px;
  }

  gux-tooltip-title {
    white-space: nowrap;
  }

  .gux-sr-only {
    .gux-sr-only-clip();
  }

  &.gux-info {
    color: #4c5667;
    background-color: #f6f7f9;
    border: 1px solid #d7dce5;
  }

  &.gux-error {
    color: #8f0707;
    background-color: #fceaea;
    border: 1px solid #f8b2b2;
  }

  &.gux-warning {
    color: #976700;
    background-color: #fdf8ec;
    border: 1px solid #fce5b1;
  }

  &.gux-success {
    color: #205a10;
    background-color: #eefcea;
    border: 1px solid #c2deb9;
  }
}
