@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/color-palette.less';

:host {
  display: block;
}

.gux-inline-alert {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  border-radius: 4px;
  .body-font();

  gux-icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 16px;
    height: 16px;
    margin-top: 2px;
  }

  gux-tooltip-title {
    white-space: nowrap;
  }

  .gux-sr-only {
    .gux-sr-only-clip();
  }

  &.gux-info {
    color: #4c5667;
    background-color: #f6f7f9;
    border: 1px solid #d7dce5;
  }

  &.gux-error {
    color: @gux-alert-red-30;
    background-color: @gux-alert-red-100;
    border: 1px solid @gux-alert-red-90;
  }

  &.gux-warning {
    color: @gux-alert-yellow-30;
    background-color: @gux-alert-yellow-100;
    border: 1px solid @gux-alert-yellow-90;
  }

  &.gux-success {
    color: @gux-alert-green-30;
    background-color: @gux-alert-green-100;
    border: 1px solid @gux-alert-green-90;
  }
}
