<h1>gux-list-legacy</h1>
<gux-list-legacy>
  <gux-list-item-legacy value="test" text="test"></gux-list-item-legacy>
  <gux-list-divider-legacy></gux-list-divider-legacy>
  <gux-list-item-legacy value="test2">Some detail</gux-list-item-legacy>
  <gux-list-item-legacy
    text="test3"
    value="test3"
    disabled
  ></gux-list-item-legacy>
  <gux-list-item-legacy value="test4">
    <div>
      <gux-icon
        class="example"
        icon-name="user-add"
        decorative="true"
      ></gux-icon>
      Add User
    </div>
  </gux-list-item-legacy>
</gux-list-legacy>
