<h1>gux-list-legacy</h1>

<p>
  <gux-icon
    style="color: #ba7f00"
    icon-name="alert-warning-triangle"
    decorative="true"
  ></gux-icon>
  Legacy components may not be supported in future major releases. Use the
  stable
  <strong>gux-list</strong> component instead. See this component's
  <a
    href="https://github.com/MyPureCloud/genesys-webcomponents/blob/main/docs/migrations/v3/gux-list-legacy.md#gux-list-legacy"
    target="_blank"
    >migration guide
  </a>
  for more details.
</p>

<gux-list-legacy>
  <gux-list-item-legacy value="test" text="test"></gux-list-item-legacy>
  <gux-list-divider-legacy></gux-list-divider-legacy>
  <gux-list-item-legacy value="test2">Some detail</gux-list-item-legacy>
  <gux-list-item-legacy
    text="test3"
    value="test3"
    disabled
  ></gux-list-item-legacy>
  <gux-list-item-legacy value="test4">
    <div>
      <gux-icon
        class="example"
        icon-name="user-add"
        decorative="true"
      ></gux-icon>
      Add User
    </div>
  </gux-list-item-legacy>
</gux-list-legacy>
