@import (reference) '../../../../style/color.less';
@import (reference) '../../../../style/mixins.less';

@gux-arrow-height: 5px;

gux-menu {
  flex-direction: column;
  width: fit-content;
  padding: 8px 0;
  background-color: @gux-type-dark;
  border: 1px solid @gux-grey-30;
  border-radius: 4px;
  box-shadow: 0 2px 4px fade(#202937, 24%);

  .gux-arrow,
  .gux-arrow::before {
    position: absolute;
    top: -3px;
    width: @gux-arrow-height * 2;
    height: @gux-arrow-height * 2;
    background: inherit;
  }

  .gux-arrow::before {
    visibility: visible;
    content: '';
    border-top: 1px solid @gux-grey-30;
    border-left: 1px solid @gux-grey-30;
    transform: rotate(45deg);
  }
}
