@use '../../../style/focus';

:host {
  display: block;
  color: var(--gse-ui-formControl-input-populatedColor);
}

.gux-phone-text-input {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
  width: 100%;
  overflow: hidden;
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  color: var(--gse-ui-formControl-input-populatedColor);
  text-overflow: ellipsis;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  border: none;
  outline: none;

  &.gux-disabled {
    -webkit-user-select: none;
    user-select: none;
  }
}

.target-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: stretch center;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 8px 0 0;
  font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  font-weight: var(--gse-ui-formControl-input-contentText-fontWeight);
  line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
  color: var(--gse-ui-formControl-input-populatedColor);
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  background-image: none;
  border: var(--gse-ui-formControl-input-default-border-width)
    var(--gse-ui-formControl-input-default-border-style)
    var(--gse-ui-formControl-input-default-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &.gux-error {
    border: var(--gse-ui-formControl-input-error-border-width)
      var(--gse-ui-formControl-input-error-border-style)
      var(--gse-ui-formControl-input-error-border-color);
  }

  &:focus-within {
    @include focus.gux-focus-ring;
  }
}

.gux-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-formControl-label-gap);
  align-items: center;
  width: 100%;
  height: var(--gse-ui-phoneInput-dropdown-height);
  padding: 0 0 0 12px;
  font-family: inherit;
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
  cursor: pointer;
  border-radius: var(--gse-ui-formControl-input-borderRadius) 0 0
    var(--gse-ui-formControl-input-borderRadius);
}

.gux-field {
  .gux-field-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    place-content: stretch flex-start;
    align-items: flex-start;
    min-width: 0;

    .gux-selected-option {
      display: flex;
      justify-content: center;
      width: 16px;
      overflow: hidden;

      gux-icon {
        position: relative;
        color: var(--gse-ui-formControl-input-inputIcon-defaultColor);
      }
    }

    .gux-placeholder {
      color: var(--gse-ui-formControl-input-placeholderColor);
    }
  }

  .gux-expand-icon {
    flex: 0 0 auto;
    align-self: auto;
    order: 0;
    width: var(--gse-ui-phoneInput-dropdown-icon-width);
    height: var(--gse-ui-phoneInput-dropdown-icon-height);
    color: var(--gse-ui-phoneInput-dropdown-foregroundColor);
  }
}

.gux-field-button {
  height: 100%;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  border: none;
  outline: inherit;

  &:focus-visible {
    @include focus.gux-focus-ring;
  }

  &.gux-expanded {
    background-color: var(--gse-ui-phoneInput-dropdown-active-backgroundColor);

    .gux-expand-icon {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: var(--gse-ui-phoneInput-dropdown-hover-backgroundColor);
  }
}

.gux-listbox-container {
  box-sizing: border-box;
  width: var(--gse-ui-phoneInput-dropdown-menu-minWidth);
  min-width: var(--gse-ui-phoneInput-dropdown-menu-minWidth);
  margin: 0;
  color: #2e394c;
}

.gux-option-content {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
  width: 100%;
  height: 25px;
  line-height: 25px;

  .gux-country-code {
    text-align: right;
  }

  gux-icon {
    position: relative;
    left: 4px;
    width: var(--gse-ui-phoneInput-dropdown-icon-width);
    height: var(--gse-ui-phoneInput-dropdown-icon-height);
    color: var(--gse-ui-formControl-input-inputIcon-defaultColor);
  }
}

.gux-region-select {
  height: 100%;
  margin-right: 4px;
}
