@use '~genesys-spark/dist/scss/focus.scss';

:host {
  display: block;
  color: var(--gse-ui-formControl-input-populatedColor);
}

.gux-phone-text-input {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
  inline-size: 100%;
  margin-inline-start: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  font-weight: var(--gse-ui-formControl-input-contentText-fontWeight);
  line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
  color: var(--gse-ui-formControl-input-populatedColor);
  outline: none;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  border: none;

  &.gux-disabled {
    -webkit-user-select: none;
    user-select: none;
  }
}

.target-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  inline-size: 100%;
  block-size: var(--gse-ui-phoneInput-dropdown-height);
  padding-block: 0;
  padding-inline: 0 8px;
  font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  font-weight: var(--gse-ui-formControl-input-contentText-fontWeight);
  line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
  color: var(--gse-ui-formControl-input-populatedColor);
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  background-image: none;
  border: var(--gse-ui-formControl-input-default-border-width)
    var(--gse-ui-formControl-input-default-border-style)
    var(--gse-ui-formControl-input-default-border-color);
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  .gux-input {
    flex: 1;
    align-content: center;
    block-size: 100%;
    cursor: text;
  }

  &.gux-error {
    border: var(--gse-ui-formControl-input-error-border-width)
      var(--gse-ui-formControl-input-error-border-style)
      var(--gse-ui-formControl-input-error-border-color);
  }

  &:focus-within {
    @include focus.gux-focus-ring;
  }
}

.gux-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-phoneInput-dropdown-gap);
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  padding: var(--gse-ui-phoneInput-dropdown-padding);
  font-family: inherit;
  font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
  font-size: var(--gse-ui-formControl-input-contentText-fontSize);
  font-weight: var(--gse-ui-formControl-input-contentText-fontWeight);
  line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
  cursor: pointer;
  border-radius: var(--gse-ui-formControl-input-borderRadius) 0 0
    var(--gse-ui-formControl-input-borderRadius);

  &.gux-disabled {
    padding: var(--gse-ui-phoneInput-dropdown-disabled-padding);
  }
}

.gux-field {
  .gux-field-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    place-content: stretch flex-start;
    align-items: flex-start;
    min-inline-size: 0;

    .gux-selected-option {
      display: flex;
      justify-content: center;
      inline-size: var(--gse-ui-phoneInput-dropdown-flag-width);
      overflow: hidden;

      gux-icon {
        position: relative;
        color: var(--gse-ui-formControl-input-inputIcon-defaultColor);
      }
    }

    .gux-placeholder {
      color: var(--gse-ui-formControl-input-placeholderColor);
    }
  }

  .gux-expand-icon {
    flex: 0 0 auto;
    align-self: auto;
    order: 0;
    color: var(--gse-ui-phoneInput-dropdown-foregroundColor);
  }
}

.gux-field-button {
  box-sizing: border-box;
  outline: none;
  background-color: var(--gse-ui-formControl-input-backgroundColor);
  border: none;
  border-radius: var(--gse-ui-formControl-input-borderRadius) 0 0
    var(--gse-ui-formControl-input-borderRadius);

  &.gux-expanded {
    background-color: var(--gse-ui-phoneInput-dropdown-active-backgroundColor);

    .gux-expand-icon {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: var(--gse-ui-phoneInput-dropdown-hover-backgroundColor);
  }
}

.gux-listbox-container {
  box-sizing: border-box;
  inline-size: fit-content;
  min-inline-size: var(--gse-ui-phoneInput-dropdown-menu-minWidth);
  margin: 0;
}

.gux-option-content {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
  inline-size: 100%;

  .gux-country-code {
    text-align: end;
  }

  gux-icon {
    position: relative;
    inset-inline-start: 4px;
    color: var(--gse-ui-formControl-input-inputIcon-defaultColor);
  }
}

.gux-region-select {
  block-size: 100%;
  border-radius: var(--gse-ui-formControl-input-borderRadius);

  &:focus-within {
    @include focus.gux-focus-ring;
  }
}
