<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-element">
    <label for="firstname">First Name </label>
    <input
      type="text"
      id="firstname"
      name="firstname"
      formControlName="firstname"
    />
    <div>
      <small *ngIf="showRequiredErrorMessage('firstname')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <label for="lastname">Last Name </label>
    <input
      type="text"
      id="lastname"
      name="lastname"
      formControlName="lastname"
    />
    <div>
      <small *ngIf="showRequiredErrorMessage('lastname')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <label for="country">Country </label>
    <select id="country" name="country" formControlName="country">
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{ c.name }}
      </option>
    </select>
    <div>
      <small *ngIf="showRequiredErrorMessage('country')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <label for="pet">Pet </label>
    <gux-dropdown-v2-beta
      id="pet"
      name="pet"
      formControlName="pet"
      placeholder="Select an pet"
      ngDefaultControl
    >
      <gux-listbox aria-label="Pets">
        <gux-option-v2 [value]="p.id" *ngFor="let p of petList">
          {{ p.name }}
        </gux-option-v2>
      </gux-listbox>
    </gux-dropdown-v2-beta>
    <div>
      <small *ngIf="showRequiredErrorMessage('pet')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email" />
    <div>
      <small *ngIf="showRequiredErrorMessage('email')"
        >This field is required.</small
      >
      <small *ngIf="showEmailErrorMessage('email')"
        >This field must contain an email addess.</small
      >
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </div>
</form>
