<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-element">
    <label for="firstname">First Name </label>
    <input
      type="text"
      id="firstname"
      name="firstname"
      formControlName="firstname"
    />
    <div>
      <small *ngIf="showRequiredErrorMessage('firstname')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <label for="lastname">Last Name </label>
    <input
      type="text"
      id="lastname"
      name="lastname"
      formControlName="lastname"
    />
    <div>
      <small *ngIf="showRequiredErrorMessage('lastname')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <label for="country">Country </label>
    <select id="country" name="country" formControlName="country">
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{ c.name }}
      </option>
    </select>
    <div>
      <small *ngIf="showRequiredErrorMessage('country')"
        >This field is required.</small
      >
    </div>
  </div>

  <div class="form-element">
    <gux-form-field-dropdown label-position="above">
      <gux-dropdown
        filter-type="prefix"
        id="pet"
        name="pet"
        formControlName="pet"
        placeholder="Select a pet"
        ngDefaultControl
      >
        <gux-listbox aria-label="Pets">
          <gux-option [value]="p.id" *ngFor="let p of petList">
            {{ p.name }}
          </gux-option>
        </gux-listbox>
      </gux-dropdown>
      <label slot="label">Pets</label>
      <span *ngIf="showRequiredErrorMessage('pet')" slot="error"
        >This field is required.</span
      >
    </gux-form-field-dropdown>
  </div>
  <div class="form-element">
    <gux-form-field-dropdown label-position="above">
      <gux-dropdown-multi
        #dropdownMulti
        filter-type="custom"
        id="countriesVisited"
        name="countriesVisited"
        formControlName="countriesVisited"
        placeholder="Select Countries"
        (guxfilter)="onFilter($event)"
        attr.loading="{{ isLoading }}"
        ngDefaultControl
      >
        <gux-listbox-multi aria-label="Countries Visited">
          <gux-option-multi
            [value]="c.id"
            *ngFor="let c of filteredCountryList"
            >{{ c.name }}</gux-option-multi
          >
        </gux-listbox-multi>
      </gux-dropdown-multi>
      <label slot="label">Countries Visited</label>
      <span *ngIf="showRequiredErrorMessage('countriesVisited')" slot="error"
        >This field is required</span
      >
    </gux-form-field-dropdown>
  </div>

  <div class="form-element">
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email" />
    <div>
      <small *ngIf="showRequiredErrorMessage('email')"
        >This field is required.</small
      >
      <small *ngIf="showEmailErrorMessage('email')"
        >This field must contain an email addess.</small
      >
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </div>
</form>
<br />
<!-- COMUI-1486 conditional slots -->
<button (click)="onToggleTabOptions()">Toggle Tab Options</button>
<gux-tabs-advanced>
  <gux-tab-advanced-list slot="tab-list" show-new-tab-button="false">
    <gux-tab-advanced tab-id="1-1">
      <gux-list slot="dropdown-options" *ngIf="showOptions">
        <gux-list-item>
          <gux-icon icon-name="close" decorative="true"></gux-icon>
          Close {{ showOptions }}
        </gux-list-item>
      </gux-list>
      <span id="tabTitle1">Tab Header 1 {{ showOptions }}</span>
    </gux-tab-advanced>
  </gux-tab-advanced-list>
  <gux-tab-advanced-panel tab-id="1-1">
    <span>Tab content 1</span>
    <div>The current time is: <span id="currentTime"></span></div>
    <div>The current selected panel tab-id</div>
  </gux-tab-advanced-panel>
</gux-tabs-advanced>
