@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
}

gux-popover {
  div.gux-popover-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: ui.$gse-ui-popover-gap;
  }
}

gux-button-slot {
  inline-size: ui.$gse-ui-button-iconOnly-width;
  block-size: ui.$gse-ui-button-default-height;

  button.gux-is-pressed {
    color: ui.$gse-ui-button-ghost-active-foregroundColor;
    background-color: ui.$gse-ui-button-ghost-active-backgroundColor;
  }
}
