:host {
  display: block;
}

gux-popover {
  div.gux-popover-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gse-ui-popover-gap);
  }
}

gux-button-slot {
  inline-size: var(--gse-ui-button-iconOnly-width);
  block-size: var(--gse-ui-button-default-height);

  button.gux-is-pressed {
    color: var(--gse-ui-button-ghost-active-foregroundColor);
    background-color: var(--gse-ui-button-ghost-active-backgroundColor);
  }
}
