@import (reference) '../../../../../../../style/color.less';

gux-color-select {
  display: inline-block;
  color: @gux-black-50;

  > div {
    box-sizing: border-box;
    padding: 20px 0 12px;
    background-color: @gux-grey-90;
    border: 1px solid @gux-black-100;
    box-shadow: 0 0 2px fade(@gux-black-30, 24%);
  }

  .gux-input-color-matrix {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 120px;
    padding: 0 20px 8px;
    margin: 0;

    > * {
      display: none;
    }

    > gux-input-color-option {
      display: inline-block;
    }
  }
}
