@use '../../../style/mixins';

.gux-time-picker {
  position: relative;
  display: inline-block;

  &.gux-error {
    .gux-input-time {
      border-color: var(--gse-ui-formControl-input-error-border-color);
    }
  }

  .gux-input-time {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-formControl-input-gap);
    place-content: stretch center;
    align-items: center;
    width: 100%;
    height: var(--gse-ui-formControl-input-textfield-height);
    padding: var(--gse-ui-formControl-input-padding);
    font-family: var(--gse-ui-formControl-input-contentText-fontFamily);
    font-size: var(--gse-ui-formControl-input-contentText-fontSize);
    line-height: var(--gse-ui-formControl-input-contentText-lineHeight);
    color: var(--gse-ui-formControl-input-populatedColor);
    white-space: nowrap;
    background-color: var(--gse-ui-formControl-input-backgroundColor);
    background-image: none;
    border: var(--gse-ui-formControl-input-default-border-width)
      var(--gse-ui-formControl-input-default-border-style)
      var(--gse-ui-formControl-input-default-border-color);
    border-radius: var(--gse-ui-formControl-input-borderRadius);

    &:focus-within {
      border: var(--gse-ui-timePicker-focusTime-border-width)
        var(--gse-ui-timePicker-focusTime-border-style)
        var(--gse-ui-timePicker-focusTime-border-color);
      border-radius: var(--gse-ui-timePicker-focusTime-borderRadius);
    }

    &:hover:not(:disabled) {
      border: var(--gse-ui-formControl-input-hover-border-width)
        var(--gse-ui-formControl-input-hover-border-style)
        var(--gse-ui-formControl-input-hover-border-color);
    }

    input {
      flex: 1 1 auto;
      align-self: auto;
      order: 0;
      width: 2ch;
      padding: 0;
      font-size: var(--gse-ui-formControl-label-text-fontSize);
      background-color: var(--gse-ui-formControl-input-backgroundColor);
      border: none;
      outline: none;

      &.gux-input-time-hours {
        text-align: right;
      }

      &::placeholder {
        color: var(--gse-ui-formControl-input-placeholderColor);
        opacity: 1;
      }
    }

    .gux-input-time-am-pm-selector {
      display: grid;
      grid-template: auto 1fr / auto 1fr auto;
      place-items: flex-end;
      padding: 0;
      font-family: var(--gse-ui-formControl-input-prefixSufix-text-fontFamily);
      font-size: var(--gse-ui-formControl-input-prefixSufix-text-fontSize);
      font-weight: var(--gse-ui-formControl-input-prefixSufix-text-fontWeight);
      line-height: var(--gse-ui-formControl-input-prefixSufix-text-lineHeight);
      color: var(--gse-ui-formControl-input-populatedColor);
      background: transparent;
      border: none;
      outline: none;

      &:focus-visible {
        border: var(--gse-ui-timePicker-focusAmpm-border-width)
          var(--gse-ui-timePicker-focusAmpm-border-style)
          var(--gse-ui-timePicker-focusAmpm-border-color);
        border-radius: var(--gse-ui-timePicker-focusAmpm-borderRadius);
      }

      .gux-meridiem {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        visibility: hidden;

        &.gux-visible {
          visibility: visible;
        }
      }
    }

    .gux-clock-button {
      // Also make the button itself a flex container to ensure vertical centering.
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      align-self: auto;
      justify-content: center;
      order: 0;
      padding: 0;
      color: var(--gse-ui-formControl-input-inputIcon-iconEndColor);
      background: transparent;
      border: none;

      &.gux-active:not(:disabled) {
        color: var(--gse-ui-timePicker-clockStates-activeColor);
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        border: var(--gse-ui-timePicker-focusClock-border-width)
          var(--gse-ui-timePicker-focusClock-border-style)
          var(--gse-ui-timePicker-focusClock-border-color);
        border-radius: var(--gse-ui-timePicker-focusClock-borderRadius);
      }

      gux-icon {
        width: var(--gse-ui-icon-size-sm);
        height: var(--gse-ui-icon-size-sm);
        padding: var(--gse-ui-timePicker-clock-padding);
      }
    }
  }

  .gux-time-separator {
    padding: 0 1ch;
  }

  .gux-list-container {
    max-height: 150px;

    @include mixins.gux-menu-container;
  }
}
