/* stylelint-disable-next-line selector-class-pattern */
@use '~genesys-spark/src/style/mixins.scss';

@mixin Style {
  .gux-form-field-legend-label-container {
    display: inline-flex;
    flex: 1 0 auto;
    gap: var(--gse-ui-formControl-label-gap);

    &.gux-beside {
      position: relative;
      top: var(--gse-ui-formControl-input-top);
      float: left;
      width: fit-content;
      min-width: var(--gse-ui-formControl-input-textfield-minWidth);
      max-width: fit-content;
      margin-right: var(--gse-ui-formControl-group-gapItems);
    }

    &.gux-above {
      padding: var(--gse-ui-formControl-label-padding);
    }

    &.gux-screenreader {
      @include mixins.gux-sr-only;
    }
  }
}
