@import (reference) '../../../style/color.less';

// Style
gux-datepicker {
  display: block;
  min-width: 200px;
  height: auto;
  color: @gux-black-50;

  > div.gux-datepicker {
    button {
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
    }

    > div.gux-datepicker-field {
      position: relative;
      display: inline-block;
      width: 200px;
      margin-right: 20px;

      gux-text-field-legacy {
        position: relative;

        &:hover {
          > button {
            color: @gux-black-50;
          }
        }

        input::-ms-clear {
          display: none;
        }

        > button {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 32px;
          font-size: 16px;
          color: @gux-black-90;
        }

        > div > div > button {
          display: none;
        }
      }
    }

    &.gux-active {
      .gux-datepicker-text-field {
        &:hover {
          button {
            color: @gux-blue-60;
          }
        }
        button {
          color: @gux-blue-60;
        }
        .gux-text-clearable {
          border: 1px solid @gux-blue-60;
          outline: none;
          box-shadow: 0 0 4px @gux-blue-80;
        }
      }

      gux-calendar {
        display: block;
      }
    }
  }

  gux-calendar {
    position: absolute;
    top: 35px;
    z-index: 2;
    display: none;
  }
}
