@import (reference) '../../../../../style/color-palette.less';
@import (reference) '../../../../../style/spacing.less';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: @gux-spacing-small @gux-spacing-medium;
  background-color: @gux-grey-100;
  border: 1px solid @gux-grey-30;
}
