@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

button {
  all: unset;
}

.gux-container {
  block-size: var(--gse-ui-segmentedControl-height);
  border-color: var(--gse-ui-segmentedControl-divider-color);
  border-style: var(--gse-ui-segmentedControl-divider-style);
  border-width: var(--gse-ui-segmentedControl-divider-width);
  border-inline-end: none;
  border-radius: var(--gse-ui-segmentedControl-button-middle-borderRadius);

  &.gux-start {
    border-inline-start-color: var(--gse-ui-segmentedControl-divider-color);
    border-radius: var(--gse-ui-segmentedControl-button-start-borderRadius);

    .gux-segmented-control-item {
      &:focus-visible {
        border-radius: var(--gse-ui-segmentedControl-button-start-borderRadius);
      }
    }
  }

  &.gux-end {
    border-style: var(--gse-ui-segmentedControl-divider-style);
    border-width: var(--gse-ui-segmentedControl-divider-width);
    border-inline-end-color: var(--gse-ui-segmentedControl-divider-color);
    border-radius: var(--gse-ui-segmentedControl-button-end-borderRadius);

    .gux-segmented-control-item {
      &:focus-visible {
        border-radius: var(--gse-ui-segmentedControl-button-end-borderRadius);
      }
    }
  }

  &.gux-start.gux-end {
    border-radius: var(--gse-ui-segmentedControl-borderRadius);
  }

  &.gux-parent-disabled {
    pointer-events: none;
    user-select: none;
    border-color: color-mix(
      in srgb,
      var(--gse-ui-segmentedControl-divider-color) 50%,
      rgb(0 0 0 / 0%)
    ); // Token Issue: https://inindca.atlassian.net/browse/COMUI-3205
  }

  .gux-segmented-control-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-segmentedControl-button-gap);
    place-content: stretch flex-start;
    align-items: center;
    block-size: 100%;
    padding: var(--gse-ui-segmentedControl-button-padding);
    line-height: 0;
    color: var(--gse-ui-segmentedControl-button-default-foregroundColor);
    cursor: pointer;
    background-color: var(
      --gse-ui-segmentedControl-button-default-backgroundColor
    );

    &.gux-icon-only {
      padding: var(--gse-ui-segmentedControl-iconOnly-padding);

      .gux-text {
        &.gux-icon-only {
          @include mixins.gux-sr-only-clip;
        }
      }
    }

    &:hover {
      color: var(--gse-ui-segmentedControl-button-hover-foregroundColor);
      background-color: var(
        --gse-ui-segmentedControl-button-hover-backgroundColor
      );
    }

    &[disabled] {
      color: var(--gse-ui-segmentedControl-button-disabled-foregroundColor);
      pointer-events: none;
      cursor: default;
      background-color: var(
        --gse-ui-segmentedControl-button-disabled-backgroundColor
      );
      opacity: var(--gse-ui-segmentedControl-button-disabled-opacity);
    }

    &.gux-selected {
      color: var(--gse-ui-segmentedControl-button-active-foregroundColor);
      background-color: var(
        --gse-ui-segmentedControl-button-active-backgroundColor
      );
    }

    &:focus-visible {
      position: relative;
      z-index: var(--gse-semantic-zIndex-showFocus);
      outline-offset: var(--gse-ui-segmentedControl-focus-offset);

      @include focus.gux-focus-ring;
    }

    .gux-icon {
      slot[name='icon']::slotted(gux-icon) {
        inline-size: var(--gse-ui-icon-small-size);
        block-size: var(--gse-ui-icon-small-size);
      }
    }
  }
}
