@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

button {
  all: unset;
}

.gux-container {
  height: var(--gse-ui-segmentedControl-height);
  cursor: pointer;
  border-color: var(--gse-ui-segmentedControl-divider-color);
  border-style: var(--gse-ui-segmentedControl-divider-style);
  border-width: var(--gse-ui-segmentedControl-divider-width);
  border-right: none;
  border-radius: var(--gse-ui-segmentedControl-button-middle-borderRadius);

  &.gux-start {
    border-left-color: var(--gse-ui-segmentedControl-divider-color);
    border-radius: var(--gse-ui-segmentedControl-button-start-borderRadius);
  }

  &.gux-end {
    border-style: var(--gse-ui-segmentedControl-divider-style);
    border-width: var(--gse-ui-segmentedControl-divider-width);
    border-right-color: var(--gse-ui-segmentedControl-divider-color);
    border-radius: var(--gse-ui-segmentedControl-button-end-borderRadius);
  }

  &.gux-start.gux-end {
    border-radius: var(--gse-ui-segmentedControl-borderRadius);
  }

  .gux-segmented-control-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-segmentedControl-button-gap);
    place-content: stretch flex-start;
    align-items: center;
    height: 100%;
    padding: var(--gse-ui-segmentedControl-button-padding);
    color: var(--gse-ui-segmentedControl-button-default-foregroundColor);
    background-color: var(
      --gse-ui-segmentedControl-button-default-backgroundColor
    );

    &.gux-icon-only {
      padding: var(--gse-ui-segmentedControl-iconOnly-padding);

      .gux-text {
        &.gux-icon-only {
          @include mixins.gux-sr-only-clip;
        }
      }
    }

    &:hover {
      color: var(--gse-ui-segmentedControl-button-hover-foregroundColor);
      background-color: var(
        --gse-ui-segmentedControl-button-hover-backgroundColor
      );
    }

    &[disabled] {
      color: var(--gse-ui-segmentedControl-button-disabled-foregroundColor);
      pointer-events: none;
      background-color: var(
        --gse-ui-segmentedControl-button-disabled-backgroundColor
      );
      opacity: var(--gse-ui-segmentedControl-button-disabled-opacity);
    }

    &.gux-selected {
      color: var(--gse-ui-segmentedControl-button-active-foregroundColor);
      background-color: var(
        --gse-ui-segmentedControl-button-active-backgroundColor
      );
    }

    &:focus-visible {
      position: relative;
      z-index: var(--gse-semantic-zIndex-showFocus);
      border-radius: var(--gse-ui-segmentedControl-borderRadius);

      @include focus.gux-focus-ring;

      outline-offset: var(--gse-ui-segmentedControl-focus-offset);
    }

    .gux-icon {
      slot[name='icon']::slotted(gux-icon) {
        width: var(--gse-ui-icon-size-sm, --gse-ui-icon-small-size);
        height: var(--gse-ui-icon-size-sm, --gse-ui-icon-small-size);
      }
    }
  }
}
