@import (reference) '../../../../../style/color-palette.less';
@import (reference) '../../../../../style/mixins.less';
@import (reference) '../../../../../style/typography.less';
@import (reference)
  '../../functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.less';
@import (reference)
  '../../functional-components/gux-form-field-error/gux-form-field-error.less';
@import (reference)
  '../../functional-components/gux-form-field-legend-label/gux-form-field-legend-label.less';
@import (reference)
  '../../functional-components/gux-form-field-help/gux-form-field-help.less';

.GuxFormFieldFieldsetContainerStyle();
.GuxFormFieldErrorStyle();
.GuxFormFieldLegendLabelStyle();
.GuxFormFieldHelpStyle();

:host {
  display: block;
  color: @gux-black-50;
}

::slotted(label) {
  .gux-label();
}

.gux-input-and-error-container {
  flex-grow: 1;

  .gux-input {
    &.gux-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
