@use '../../../../../style/typography.scss';
@use '../../functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-legend-label/gux-form-field-legend-label.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-fieldset-container.Style;
@include gux-form-field-error.Style;
@include gux-form-field-legend-label.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

::slotted(label) {
  @include typography.gse-ui-formControl-label;
}

.gux-input-and-error-container {
  flex-grow: 1;

  .gux-input {
    &.gux-disabled {
      pointer-events: none;
      opacity: var(--gse-ui-formControl-input-disabled-opacity);
    }
  }
}
