gux-button {
  gux-icon {
    width: var(--gse-ui-icon-small-size);
    height: var(--gse-ui-icon-small-size);
    padding-top: 4px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Works for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
