gux-button {
  gux-icon {
    inline-size: var(--gse-ui-icon-small-size);
    block-size: var(--gse-ui-icon-small-size);
    padding-block-start: 4px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Works for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
