@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '~genesys-spark/dist/scss/checkbox-icons.scss';
@use '~genesys-spark/dist/scss/radio-icons.scss';

::slotted(*) {
  cursor: pointer;
}

::slotted(gux-icon) {
  width: var(--gse-ui-icon-size-md);
  height: var(--gse-ui-icon-size-md);
  color: var(--gse-ui-selectorCard-ilustrativeIcon-foregroundColor);
}

::slotted(label) {
  width: 100%;
  font-family: var(--gse-ui-selectorCard-simple-label-fontFamily);
  font-size: var(--gse-ui-selectorCard-simple-label-fontSize);
  font-weight: var(--gse-ui-selectorCard-simple-label-fontWeight);
  line-height: var(--gse-ui-selectorCard-simple-label-lineHeight);
  color: var(--gse-ui-selectorCard-text-foregroundColor);
}

::slotted(input[type='radio']),
::slotted(input[type='checkbox']) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--gse-ui-radioButton-icon-default-unselectedForegroundColor);
  -webkit-appearance: none;
  appearance: none;
  border: var(--gse-ui-selectorCard-unselected-border-width)
    var(--gse-ui-selectorCard-unselected-border-style)
    var(--gse-ui-selectorCard-unselected-border-color);
  border-radius: var(--gse-ui-selectorCard-simple-borderRadius);
  outline: none;

  &::before {
    position: absolute;
    inset-block-start: var(--gse-ui-selectorCard-descriptive-text-gap);
    inset-inline-end: var(--gse-ui-selectorCard-descriptive-text-gap);
    display: inline-grid;
    grid-area: 1/1;
    width: var(--gse-ui-radioButton-icon-width);
    height: var(--gse-ui-radioButton-icon-height);
    color: var(--gse-ui-radioButton-icon-default-unselectedForegroundColor);
    text-align: center;
    vertical-align: middle;
    content: '';
  }
}

::slotted(input[type='radio'])::before {
  border-radius: 50%;
}

::slotted(input[type='radio']:checked),
::slotted(input[type='checkbox']:checked) {
  border: var(--gse-ui-selectorCard-selected-border-width)
    var(--gse-ui-selectorCard-selected-border-style)
    var(--gse-ui-selectorCard-selected-border-color);

  &::before {
    background-color: var(
      --gse-ui-selectorCard-default-selectedIndicator-selected-foregroundColor
    );
  }
}

::slotted(input[type='radio']:not(:checked))::before,
::slotted(input[type='checkbox']:not(:checked))::before {
  background-color: var(
    --gse-ui-selectorCard-default-selectedIndicator-unselected-foregroundColor
  );
}

::slotted(input[type='radio']:disabled),
::slotted(input[type='checkbox']:disabled) {
  pointer-events: none;
  cursor: not-allowed;
  opacity: var(--gse-ui-radioButton-disabled-opacity);
}

::slotted(input[type='radio'])::before {
  @include radio-icons.unchecked;
}

::slotted(input[type='radio']:checked)::before {
  @include radio-icons.checked;
}

::slotted(input[type='checkbox'])::before {
  @include checkbox-icons.unchecked;
}

::slotted(input[type='checkbox']:checked)::before {
  @include checkbox-icons.checked;
}

.gux-selector-card {
  width: fit-content;

  .gux-content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gse-ui-selectorCard-descriptive-text-gap);
    align-items: center;
    width: var(--gse-ui-selectorCard-simple-minWidth);
    min-width: var(--gse-ui-selectorCard-simple-minWidth);
    max-width: var(--gse-ui-selectorCard-simple-maxWidth);
    height: fit-content;
    min-height: var(--gse-ui-selectorCard-simple-minHeight);
    max-height: var(--gse-ui-selectorCard-simple-maxHeight);
    padding: var(--gse-ui-selectorCard-simple-padding);
    text-align: center;
    background-color: var(--gse-ui-selectorCard-default-backgroundColor);
    border-radius: var(--gse-ui-selectorCard-simple-borderRadius);

    .gux-label-container {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .gux-icon {
      line-height: 0;
    }

    &:focus-within {
      @include focus.gux-focus-ring;
    }
  }

  &.gux-descriptive {
    .gux-content {
      align-items: flex-start;
      width: var(--gse-ui-selectorCard-descriptive-minWidth);
      min-width: var(--gse-ui-selectorCard-descriptive-minWidth);
      max-width: var(--gse-ui-selectorCard-descriptive-maxWidth);
      min-height: var(--gse-ui-selectorCard-descriptive-minHeight);
      max-height: var(--gse-ui-selectorCard-descriptive-maxHeight);
      padding: var(--gse-ui-selectorCard-descriptive-padding);
      text-align: start;
      white-space: normal;
      border-radius: var(--gse-ui-selectorCard-descriptive-borderRadius);

      .gux-description-container {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }

      ::slotted(gux-badge) {
        margin-top: var(--gse-ui-selectorCard-descriptive-badge-marginTop);
      }

      ::slotted(input[type='radio']),
      ::slotted(input[type='checkbox']) {
        left: 0;
        border-radius: var(--gse-ui-selectorCard-descriptive-borderRadius);

        &::before {
          inset-block-start: var(--gse-ui-selectorCard-descriptive-gap);
          inset-inline-end: var(--gse-ui-selectorCard-descriptive-gap);
          width: var(--gse-ui-icon-size-md);
          height: var(--gse-ui-icon-size-md);
        }
      }

      ::slotted(label) {
        display: block;
        margin-bottom: var(--gse-ui-selectorCard-descriptive-text-gap);
        font-family: var(--gse-ui-selectorCard-descriptive-label-fontFamily);
        font-size: var(--gse-ui-selectorCard-descriptive-label-fontSize);
        font-weight: var(--gse-ui-selectorCard-descriptive-label-fontWeight);
        line-height: var(--gse-ui-selectorCard-descriptive-label-lineHeight);
      }

      ::slotted(gux-icon) {
        width: var(--gse-ui-icon-size-lg);
        height: var(--gse-ui-icon-size-lg);
        margin-bottom: var(--gse-ui-selectorCard-descriptive-gap);
      }
    }
  }

  &.gux-disabled {
    pointer-events: none;
    cursor: not-allowed;

    .gux-content {
      pointer-events: none;
      -webkit-user-select: none; /* Safari */
      user-select: none;
      background-color: var(--gse-ui-selectorCard-disabled-backgroundColor);
      opacity: var(--gse-ui-selectorCard-disabled-opacity);
    }
  }

  &:hover:not(:disabled) {
    .gux-content {
      cursor: pointer;
      background-color: var(--gse-ui-selectorCard-hover-backgroundColor);

      ::slotted(input[type='radio'])::before,
      ::slotted(input[type='checkbox'])::before {
        background-color: var(
          --gse-ui-selectorCard-hover-selectedIndicator-foregroundColor
        );
      }
    }
  }

  &:active:not(:disabled) {
    .gux-content {
      background-color: var(--gse-ui-selectorCard-active-backgroundColor);

      ::slotted(input[type='radio'])::before,
      ::slotted(input[type='checkbox'])::before {
        background-color: var(
          --gse-ui-selectorCard-active-selectedIndicator-foregroundColor
        );
      }
    }
  }

  .gux-screenreader {
    @include mixins.gux-sr-only;
  }
}
