@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '~genesys-spark/dist/scss/checkbox-icons.scss';
@use '~genesys-spark/dist/scss/radio-icons.scss';

:host {
  display: flex;
  min-inline-size: ui.$gse-ui-selectorCard-simple-minWidth;
  max-inline-size: ui.$gse-ui-selectorCard-simple-maxWidth;
  min-block-size: ui.$gse-ui-selectorCard-simple-minHeight;
  max-block-size: ui.$gse-ui-selectorCard-simple-maxHeight;
}

:host([variant='descriptive']) {
  min-inline-size: ui.$gse-ui-selectorCard-descriptive-minWidth;
  max-inline-size: ui.$gse-ui-selectorCard-descriptive-maxWidth;
  min-block-size: ui.$gse-ui-selectorCard-descriptive-minHeight;
  max-block-size: ui.$gse-ui-selectorCard-descriptive-maxHeight;
}

::slotted(*) {
  cursor: pointer;
}

::slotted(gux-icon) {
  inline-size: ui.$gse-ui-icon-medium-size;
  block-size: ui.$gse-ui-icon-medium-size;
  color: ui.$gse-ui-selectorCard-ilustrativeIcon-foregroundColor;
}

::slotted(label) {
  inline-size: 100%;
  font-family: ui.$gse-ui-selectorCard-simple-label-fontFamily;
  font-size: ui.$gse-ui-selectorCard-simple-label-fontSize;
  font-weight: ui.$gse-ui-selectorCard-simple-label-fontWeight;
  line-height: ui.$gse-ui-selectorCard-simple-label-lineHeight;
  color: ui.$gse-ui-selectorCard-text-foregroundColor;
}

::slotted(input[type='radio']),
::slotted(input[type='checkbox']) {
  position: absolute;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  color: ui.$gse-ui-radioButton-icon-default-unselectedForegroundColor;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: ui.$gse-ui-selectorCard-unselected-border-width
    ui.$gse-ui-selectorCard-unselected-border-style
    ui.$gse-ui-selectorCard-unselected-border-color;
  border-radius: ui.$gse-ui-selectorCard-simple-borderRadius;

  &::before {
    position: absolute;
    inset-block-start: ui.$gse-ui-selectorCard-descriptive-text-gap;
    inset-inline-end: ui.$gse-ui-selectorCard-descriptive-text-gap;
    display: inline-grid;
    grid-area: 1/1;
    inline-size: ui.$gse-ui-radioButton-icon-width;
    block-size: ui.$gse-ui-radioButton-icon-height;
    vertical-align: middle;
    color: ui.$gse-ui-radioButton-icon-default-unselectedForegroundColor;
    text-align: center;
    content: '';
  }
}

::slotted(input[type='radio'])::before {
  border-radius: 50%;
}

::slotted(input[type='radio']:checked),
::slotted(input[type='checkbox']:checked) {
  border: ui.$gse-ui-selectorCard-selected-border-width
    ui.$gse-ui-selectorCard-selected-border-style
    ui.$gse-ui-selectorCard-selected-border-color;

  &::before {
    background-color: ui.$gse-ui-selectorCard-default-selectedIndicator-selected-foregroundColor;
  }
}

::slotted(input[type='radio']:not(:checked))::before,
::slotted(input[type='checkbox']:not(:checked))::before {
  background-color: ui.$gse-ui-selectorCard-default-selectedIndicator-unselected-foregroundColor;
}

::slotted(input[type='radio']:disabled),
::slotted(input[type='checkbox']:disabled) {
  pointer-events: none;
  cursor: not-allowed;
  opacity: ui.$gse-ui-radioButton-disabled-opacity;
}

::slotted(input[type='radio'])::before {
  @include radio-icons.unchecked;
}

::slotted(input[type='radio']:checked)::before {
  @include radio-icons.checked;
}

::slotted(input[type='checkbox'])::before {
  @include checkbox-icons.unchecked;
}

::slotted(input[type='checkbox']:checked)::before {
  @include checkbox-icons.checked;
}

.gux-selector-card {
  display: flex;
  flex: 1 1 auto;
  inline-size: inherit;

  .gux-content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: ui.$gse-ui-selectorCard-descriptive-text-gap;
    align-items: center;
    inline-size: inherit;
    min-inline-size: ui.$gse-ui-selectorCard-simple-minWidth;
    max-inline-size: ui.$gse-ui-selectorCard-simple-maxWidth;
    min-block-size: ui.$gse-ui-selectorCard-simple-minHeight;
    max-block-size: ui.$gse-ui-selectorCard-simple-maxHeight;
    padding: ui.$gse-ui-selectorCard-simple-padding;
    text-align: center;
    background-color: ui.$gse-ui-selectorCard-default-backgroundColor;
    border-radius: ui.$gse-ui-selectorCard-simple-borderRadius;

    .gux-label-container {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }

    .gux-icon {
      line-height: 0;
    }

    &:focus-within {
      @include focus.gux-focus-ring;
    }
  }

  &.gux-descriptive {
    .gux-content {
      align-items: flex-start;
      min-inline-size: ui.$gse-ui-selectorCard-descriptive-minWidth;
      max-inline-size: ui.$gse-ui-selectorCard-descriptive-maxWidth;
      min-block-size: ui.$gse-ui-selectorCard-descriptive-minHeight;
      max-block-size: ui.$gse-ui-selectorCard-descriptive-maxHeight;
      padding: ui.$gse-ui-selectorCard-descriptive-padding;
      text-align: start;
      white-space: normal;
      border-radius: ui.$gse-ui-selectorCard-descriptive-borderRadius;

      .gux-description-container {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }

      ::slotted(gux-badge) {
        margin-block-start: ui.$gse-ui-selectorCard-descriptive-badge-marginTop;
      }

      ::slotted(input[type='radio']),
      ::slotted(input[type='checkbox']) {
        inset-inline-start: 0;
        border-radius: ui.$gse-ui-selectorCard-descriptive-borderRadius;

        &::before {
          inset-block-start: ui.$gse-ui-selectorCard-descriptive-gap;
          inset-inline-end: ui.$gse-ui-selectorCard-descriptive-padding;
          inline-size: ui.$gse-ui-icon-small-size;
          block-size: ui.$gse-ui-icon-small-size;
        }
      }

      ::slotted(label) {
        display: block;
        margin-block-end: ui.$gse-ui-selectorCard-descriptive-text-gap;
        font-family: ui.$gse-ui-selectorCard-descriptive-label-fontFamily;
        font-size: ui.$gse-ui-selectorCard-descriptive-label-fontSize;
        font-weight: ui.$gse-ui-selectorCard-descriptive-label-fontWeight;
        line-height: ui.$gse-ui-selectorCard-descriptive-label-lineHeight;
      }

      ::slotted(gux-icon) {
        inline-size: ui.$gse-ui-icon-large-size;
        block-size: ui.$gse-ui-icon-large-size;
        margin-block-end: ui.$gse-ui-selectorCard-descriptive-gap;
      }
    }
  }

  &.gux-disabled {
    pointer-events: none;
    cursor: not-allowed;

    .gux-content {
      pointer-events: none;
      -webkit-user-select: none; /* Safari */
      user-select: none;
      background-color: ui.$gse-ui-selectorCard-disabled-backgroundColor;
      opacity: ui.$gse-ui-selectorCard-disabled-opacity;
    }
  }

  &:hover:not(:disabled) {
    .gux-content {
      cursor: pointer;
      background-color: ui.$gse-ui-selectorCard-hover-backgroundColor;

      ::slotted(input[type='radio'])::before,
      ::slotted(input[type='checkbox'])::before {
        background-color: ui.$gse-ui-selectorCard-hover-selectedIndicator-foregroundColor;
      }
    }
  }

  &:active:not(:disabled) {
    .gux-content {
      background-color: ui.$gse-ui-selectorCard-active-backgroundColor;

      ::slotted(input[type='radio'])::before,
      ::slotted(input[type='checkbox'])::before {
        background-color: ui.$gse-ui-selectorCard-active-selectedIndicator-foregroundColor;
      }
    }
  }

  .gux-screenreader {
    @include mixins.gux-sr-only;
  }
}
