:host {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
:host(:focus-within) {
  position: inherit;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  overflow: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gux-container nav {
  width: fit-content;
  margin: 40px auto;
}
.gux-container nav ul {
  padding: 0;
  margin: 0;
}
