@use '~genesys-spark/dist/scss/focus.scss';

@mixin link-breadcrumb-primary-default {
  font-family: var(--gse-ui-link-inLine-medium-text-fontFamily);
  font-size: var(--gse-ui-link-inLine-medium-text-fontSize);
  font-weight: var(--gse-ui-link-inLine-medium-text-fontWeight);
  line-height: var(--gse-ui-link-inLine-medium-text-lineHeight);
  text-decoration: none;
}

@mixin link-breadcrumb-primary-underline {
  font-family: var(--gse-ui-link-inLine-medium-underlinedText-fontFamily);
  font-size: var(--gse-ui-link-inLine-medium-underlinedText-fontSize);
  font-weight: var(--gse-ui-link-inLine-medium-underlinedText-fontWeight);
  line-height: var(--gse-ui-link-inLine-medium-underlinedText-lineHeight);
  text-decoration: var(
    --gse-ui-link-inLine-medium-underlinedText-textDecoration
  );
}

@mixin link-breadcrumb-primary-separator {
  padding: var(--gse-ui-breadcrumbs-primary-separator-padding);
  font-family: var(
    --gse-ui-breadcrumbs-primary-separator-typography-fontFamily
  );
  font-size: var(--gse-ui-breadcrumbs-primary-separator-typography-fontSize);
  font-weight: var(
    --gse-ui-breadcrumbs-primary-separator-typography-fontWeight
  );
  line-height: var(
    --gse-ui-breadcrumbs-primary-separator-typography-lineHeight
  );
}

@mixin link-breadcrumb-secondary-default {
  font-family: var(--gse-ui-link-inLine-small-text-fontFamily);
  font-size: var(--gse-ui-link-inLine-small-text-fontSize);
  font-weight: var(--gse-ui-link-inLine-small-text-fontWeight);
  line-height: var(--gse-ui-link-inLine-small-text-lineHeight);
  text-decoration: none;
}

@mixin link-breadcrumb-secondary-underline {
  font-family: var(--gse-ui-link-inLine-small-underlinedText-fontFamily);
  font-size: var(--gse-ui-link-inLine-small-underlinedText-fontSize);
  font-weight: var(--gse-ui-link-inLine-small-underlinedText-fontWeight);
  line-height: var(--gse-ui-link-inLine-small-underlinedText-lineHeight);
  text-decoration: var(
    --gse-ui-link-inLine-small-underlinedText-textDecoration
  );
}

@mixin link-breadcrumb-secondary-separator {
  padding: var(--gse-ui-breadcrumbs-secondary-separator-padding);
  font-family: var(
    --gse-ui-breadcrumbs-secondary-separator-typography-fontFamily
  );
  font-size: var(--gse-ui-breadcrumbs-secondary-separator-typography-fontSize);
  font-weight: var(
    --gse-ui-breadcrumbs-secondary-separator-typography-fontWeight
  );
  line-height: var(
    --gse-ui-breadcrumbs-secondary-separator-typography-lineHeight
  );
}

.gux-breadcrumb-generation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: flex-start flex-start;
  align-items: center;
  min-height: var(--gse-ui-breadcrumbs-secondary-height);

  .gux-breadcrumb-content {
    @include link-breadcrumb-secondary-default;

    color: var(--gse-ui-link-default-foregroundColor);
    pointer-events: none;

    &.gux-active {
      color: var(--gse-ui-link-active-foregroundColor);
    }

    &.gux-link {
      color: var(--gse-ui-link-default-foregroundColor);
      pointer-events: initial;

      &:visited {
        color: var(--gse-ui-link-visited-foregroundColor);
      }

      &:hover {
        @include link-breadcrumb-secondary-underline;

        color: var(--gse-ui-link-hover-foregroundColor);
      }

      &:active {
        color: var(--gse-ui-link-active-foregroundColor);
      }

      &:focus-visible {
        @include focus.gux-focus-ring;

        border-radius: var(--gse-semantic-focusRing-cornerRadius);
      }
    }
  }

  .gux-breadcrumb-separator {
    @include link-breadcrumb-secondary-separator;

    color: var(--gse-ui-breadcrumbs-separator-color);
  }

  &.gux-primary {
    min-height: var(--gse-ui-breadcrumbs-primary-height);

    .gux-breadcrumb-content {
      @include link-breadcrumb-primary-default;

      &.gux-link {
        &:hover {
          @include link-breadcrumb-primary-underline;
        }
      }
    }

    .gux-breadcrumb-separator {
      @include link-breadcrumb-primary-separator;
    }
  }
}
