:host {
  display: inline-block;
  width: 300px;
  min-width: 300px;
  color: #596373;
}
::slotted(input) {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 4px 12px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.6667;
  background-color: #fdfdfd;
  background-image: none;
  border: 1px solid #6b7585;
  border-radius: 2px;
  flex-basis: 100%;
  flex-shrink: 1;
  min-width: 0;
  height: 22px;
  padding: 0;
  color: #2e394c;
  background-color: #f6f7f9;
  border: 0;
  border-radius: 0;
  outline: none;
}
::slotted(input)::placeholder {
  color: #596373;
}
::slotted(input).gux-focused,
::slotted(input):focus-visible {
  border: 1px solid #2a60c8;
  outline: none;
  box-shadow: 0 0 4px rgba(170, 201, 255, 0.5);
}
::slotted(input).gux-focused,
::slotted(input):focus {
  border: 0;
  outline: none;
  box-shadow: none;
}
.gux-content-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32px;
  padding: 4px 0 4px 0;
  margin: 4px 0;
  background-color: #f6f7f9;
  background-image: none;
  border: 1px solid #6b7585;
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgba(32, 41, 55, 0.16);
}
.gux-content-search.gux-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.gux-content-search:focus-visible,
.gux-content-search:focus-within {
  border: 1px solid #2a60c8;
  outline: none;
  box-shadow: 0 0 4px #75a8ff;
}
.gux-content-search .gux-search-icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 4px 0 8px;
}
.gux-content-search .gux-search-icon:disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.gux-content-search .gux-search-icon gux-icon {
  width: 16px;
  height: 16px;
}
.gux-content-search .gux-content-control-panel {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 22px;
  padding: 0;
  line-height: 1.6667;
}
.gux-content-search .gux-content-control-panel button {
  display: block;
  align-items: center;
  overflow: hidden;
  color: #596373;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 4px;
  outline: none;
}
.gux-content-search .gux-content-control-panel button:disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.gux-content-search .gux-content-control-panel button:not(:disabled):hover,
.gux-content-search .gux-content-control-panel button:not(:disabled):focus-visible {
  color: #2e394c;
}
.gux-content-search .gux-content-control-panel button:focus-visible:enabled {
  outline: 3px solid #aac9ff;
  outline-offset: 1px;
  box-shadow: 0 0 0 1px #fdfdfd;
}
.gux-content-search .gux-content-control-panel button gux-icon {
  width: 16px;
  height: 16px;
}
.gux-content-search .gux-content-control-panel .gux-clear-button {
  flex-shrink: 0;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  margin-right: 8px;
  margin-left: 8px;
}
.gux-content-search .gux-content-control-panel .gux-navigation-disabled {
  pointer-events: auto;
  cursor: default;
  opacity: 0.5;
}
.gux-content-search .gux-content-control-panel .gux-navigation-panel {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid #596373;
}
.gux-content-search .gux-content-control-panel .gux-navigation-panel .gux-navigation-result {
  align-items: center;
  padding-left: 8px;
  font-family: inherit;
  font-size: 12px;
  white-space: nowrap;
}
.gux-content-search .gux-content-control-panel .gux-navigation-panel .gux-previous-button {
  flex-shrink: 0;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  margin-left: 4px;
}
.gux-content-search .gux-content-control-panel .gux-navigation-panel .gux-next-button {
  flex-shrink: 0;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  margin-right: 4px;
}
