@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '~genesys-spark/dist/scss/checkbox-icons.scss';

@include gux-form-field-error.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

:host(.gux-input-error) {
  ::slotted(input[type='checkbox']:not(:checked))::before {
    @include checkbox-icons.unchecked-error;

    background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
  }

  ::slotted(input[type='checkbox']:checked)::before {
    @include checkbox-icons.checked-error;

    background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
  }

  ::slotted(
      input[type='checkbox']:not(:checked):not(:disabled):not(
          :indeterminate
        ):hover
    )::before {
    @include checkbox-icons.unchecked-error;

    background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
  }

  ::slotted(input[type='checkbox']:indeterminate)::before {
    @include checkbox-icons.indeterminate-error;

    background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
  }
}

:host(.gux-disabled) {
  cursor: not-allowed;
  opacity: ui.$gse-ui-checkbox-disabled-opacity;

  ::slotted(label) {
    cursor: not-allowed;
  }
}

.gux-input-label {
  display: inline-flex;
  flex-direction: row;
  gap: ui.$gse-ui-checkbox-gap;

  .gux-label-screenreader {
    @include mixins.gux-sr-only;
  }
}

::slotted(input[type='checkbox']) {
  display: inline-grid;
  inline-size: ui.$gse-ui-checkbox-icon-width;
  block-size: ui.$gse-ui-checkbox-icon-height;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: 0;
}

::slotted(input[type='checkbox'])::before {
  grid-area: 1/1;
  content: '';
  border-radius: 15%;
}

::slotted(input[type='checkbox']:focus-visible) {
  outline: ui.$gse-ui-checkbox-focus-border-width
    ui.$gse-ui-checkbox-focus-border-style
    ui.$gse-ui-checkbox-focus-border-color;
  outline-offset: ui.$gse-ui-checkbox-focus-offset;
  border-radius: ui.$gse-ui-checkbox-focus-borderRadiusSmall;
}

::slotted(input[type='checkbox']:not(:checked))::before {
  @include checkbox-icons.unchecked;

  background: ui.$gse-ui-checkbox-icon-default-unselectedForegroundColor;
}

::slotted(
    input[type='checkbox']:not(:checked):not(:disabled):not(
        :indeterminate
      ):hover
  )::before {
  @include checkbox-icons.unchecked-hover;

  background: ui.$gse-ui-checkbox-icon-hover-foregroundColor;
}

::slotted(input[type='checkbox']:checked:not(:disabled):hover) {
  @include checkbox-icons.checked-hover;

  background: ui.$gse-ui-checkbox-icon-hover-foregroundColor;
}

::slotted(input[type='checkbox']:not(:disabled):indeterminate:hover) {
  @include checkbox-icons.indeterminate-hover;

  background: ui.$gse-ui-checkbox-icon-hover-foregroundColor;
}

::slotted(input[type='checkbox']:checked)::before {
  @include checkbox-icons.checked;

  background: ui.$gse-ui-checkbox-icon-default-selectedForegroundColor;
}

::slotted(input[type='checkbox']:indeterminate)::before {
  @include checkbox-icons.indeterminate;

  background: ui.$gse-ui-checkbox-icon-default-selectedForegroundColor;
}

::slotted(input[type='checkbox']:disabled)::before {
  cursor: not-allowed;
  opacity: ui.$gse-ui-checkbox-disabled-opacity;
}

::slotted(label) {
  display: inline-block;
  font-family: ui.$gse-ui-checkbox-label-text-fontFamily;
  font-size: 12px; // -- missing font-size token https://inindca.atlassian.net/browse/COMUI-1672
  font-weight: ui.$gse-ui-checkbox-label-text-fontWeight;
  line-height: ui.$gse-ui-checkbox-label-text-lineHeight;
  vertical-align: middle;
  color: ui.$gse-ui-checkbox-label-foregroundColor;
}
