@use '~genesys-spark/dist/scss/checkbox-icons.scss';

@mixin unchecked {
  @include checkbox-icons.checkbox-unchecked;

  background: var(--gse-ui-checkbox-icon-default-unselectedForegroundColor);
}

@mixin unchecked-hover {
  @include checkbox-icons.checkbox-unchecked-hover;

  background: var(--gse-ui-checkbox-icon-hover-foregroundColor);
}

@mixin checked {
  @include checkbox-icons.checkbox-checked;

  background: var(--gse-ui-checkbox-icon-default-selectedForegroundColor);
}

@mixin checked-hover {
  @include checkbox-icons.checkbox-checked-hover;

  background: var(--gse-ui-checkbox-icon-hover-foregroundColor);
}

@mixin unchecked-error {
  @include checkbox-icons.checkbox-unchecked-error;

  background: var(--gse-ui-checkbox-icon-error-foregroundColor);
}

@mixin checked-error {
  @include checkbox-icons.checkbox-checked-error;

  background: var(--gse-ui-checkbox-icon-error-foregroundColor);
}

@mixin indeterminate {
  @include checkbox-icons.checkbox-indeterminate;

  background: var(--gse-ui-checkbox-icon-default-selectedForegroundColor);
}

@mixin indeterminate-hover {
  @include checkbox-icons.checkbox-indeterminate-hover;

  background: var(--gse-ui-checkbox-icon-hover-foregroundColor);
}

@mixin indeterminate-error {
  @include checkbox-icons.checkbox-indeterminate-error;

  background: var(--gse-ui-checkbox-icon-error-foregroundColor);
}
