// This file is needed because of a safari
//  - https://bugs.webkit.org/show_bug.cgi?id=223814
//  - https://bugs.webkit.org/show_bug.cgi?id=178237#attach_442680

@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/checkbox-icons.scss';

gux-form-field-checkbox {
  input[type='checkbox']::before {
    grid-area: 1/1;
    content: '';
    border-radius: 15%;
  }

  input[type='checkbox']:focus-visible {
    outline: ui.$gse-ui-checkbox-focus-border-width
      ui.$gse-ui-checkbox-focus-border-style
      ui.$gse-ui-checkbox-focus-border-color;
    outline-offset: ui.$gse-ui-checkbox-focus-offset;
    border-radius: ui.$gse-ui-checkbox-focus-borderRadiusSmall;
  }

  input[type='checkbox']:not(:checked)::before {
    @include checkbox-icons.unchecked;

    background: ui.$gse-ui-checkbox-icon-default-unselectedForegroundColor;
  }

  input[type='checkbox']:not(:checked):not(:disabled):not(
      :indeterminate
    ):hover::before {
    @include checkbox-icons.unchecked-hover;

    background: ui.$gse-ui-checkbox-icon-hover-foregroundColor;
  }

  input[type='checkbox']:checked:not(:disabled):hover::before {
    @include checkbox-icons.checked-hover;

    background: ui.$gse-ui-checkbox-icon-hover-foregroundColor;
  }

  input[type='checkbox']:checked::before {
    @include checkbox-icons.checked;

    background: ui.$gse-ui-checkbox-icon-default-selectedForegroundColor;
  }

  input[type='checkbox']:indeterminate::before {
    @include checkbox-icons.indeterminate;

    background: ui.$gse-ui-checkbox-icon-default-selectedForegroundColor;
  }

  input[type='checkbox']:not(:disabled):indeterminate:hover {
    @include checkbox-icons.indeterminate-hover;

    background: ui.$gse-ui-checkbox-icon-hover-foregroundColor;
  }

  input[type='checkbox']:disabled::before {
    cursor: not-allowed;
    opacity: ui.$gse-ui-checkbox-disabled-opacity;
  }

  &.gux-input-error {
    input[type='checkbox']:not(:checked)::before {
      @include checkbox-icons.unchecked-error;

      background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
    }

    input[type='checkbox']:checked::before {
      @include checkbox-icons.checked-error;

      background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
    }

    input[type='checkbox']:indeterminate::before {
      @include checkbox-icons.indeterminate-error;

      background: ui.$gse-ui-checkbox-icon-error-foregroundColor;
    }
  }
}
