// This file is needed because of a safari
//  - https://bugs.webkit.org/show_bug.cgi?id=223814
//  - https://bugs.webkit.org/show_bug.cgi?id=178237#attach_442680

@use './gux-form-field-checkbox-icons.scss';

gux-form-field-checkbox {
  input[type='checkbox']::before {
    grid-area: 1/1;
    content: '';
    border-radius: 15%;
  }

  input[type='checkbox']:focus-visible {
    border-radius: var(--gse-ui-checkbox-focus-borderRadiusSmall);
    outline: var(--gse-ui-checkbox-focus-border-width)
      var(--gse-ui-checkbox-focus-border-style)
      var(--gse-ui-checkbox-focus-border-color);
    outline-offset: var(--gse-ui-checkbox-focus-offset);
  }

  input[type='checkbox']:not(:checked)::before {
    @include gux-form-field-checkbox-icons.unchecked;
  }

  input[type='checkbox']:not(:checked):not(:disabled):not(
      :indeterminate
    ):hover::before {
    @include gux-form-field-checkbox-icons.unchecked-hover;
  }

  input[type='checkbox']:checked:not(:disabled):hover::before {
    @include gux-form-field-checkbox-icons.checked-hover;
  }

  input[type='checkbox']:checked::before {
    @include gux-form-field-checkbox-icons.checked;
  }

  input[type='checkbox']:indeterminate::before {
    @include gux-form-field-checkbox-icons.indeterminate;
  }

  input[type='checkbox']:not(:disabled):indeterminate:hover {
    @include gux-form-field-checkbox-icons.indeterminate-hover;
  }

  input[type='checkbox']:disabled::before {
    cursor: not-allowed;
    opacity: var(--gse-ui-checkbox-disabled-opacity);
  }

  &.gux-input-error {
    input[type='checkbox']:not(:checked)::before {
      @include gux-form-field-checkbox-icons.unchecked-error;
    }

    input[type='checkbox']:checked::before {
      @include gux-form-field-checkbox-icons.checked-error;
    }

    input[type='checkbox']:indeterminate::before {
      @include gux-form-field-checkbox-icons.indeterminate-error;
    }
  }
}
