@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';
@use '~genesys-spark/dist/scss/mixins.scss';
@use '~genesys-spark/dist/scss/checkbox-icons.scss';

@include gux-form-field-error.Style;
@include gux-form-field-help.Style;

:host {
  display: block;
}

:host(.gux-input-error) {
  ::slotted(input[type='checkbox']:not(:checked))::before {
    @include checkbox-icons.unchecked-error;

    background: var(--gse-ui-checkbox-icon-error-foregroundColor);
  }

  ::slotted(input[type='checkbox']:checked)::before {
    @include checkbox-icons.checked-error;

    background: var(--gse-ui-checkbox-icon-error-foregroundColor);
  }

  ::slotted(
      input[type='checkbox']:not(:checked):not(:disabled):not(
          :indeterminate
        ):hover
    )::before {
    @include checkbox-icons.unchecked-error;

    background: var(--gse-ui-checkbox-icon-error-foregroundColor);
  }

  ::slotted(input[type='checkbox']:indeterminate)::before {
    @include checkbox-icons.indeterminate-error;

    background: var(--gse-ui-checkbox-icon-error-foregroundColor);
  }
}

:host(.gux-disabled) {
  cursor: not-allowed;
  opacity: var(--gse-ui-checkbox-disabled-opacity);

  ::slotted(label) {
    cursor: not-allowed;
  }
}

.gux-input-label {
  display: inline-flex;
  flex-direction: row;
  gap: var(--gse-ui-checkbox-gap);

  .gux-label-screenreader {
    @include mixins.gux-sr-only;
  }
}

::slotted(input[type='checkbox']) {
  display: inline-grid;
  inline-size: var(--gse-ui-checkbox-icon-width);
  block-size: var(--gse-ui-checkbox-icon-height);
  margin: 0;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  outline: none;
}

::slotted(input[type='checkbox'])::before {
  grid-area: 1/1;
  content: '';
  border-radius: 15%;
}

::slotted(input[type='checkbox']:focus-visible) {
  border-radius: var(--gse-ui-checkbox-focus-borderRadiusSmall);
  outline: var(--gse-ui-checkbox-focus-border-width)
    var(--gse-ui-checkbox-focus-border-style)
    var(--gse-ui-checkbox-focus-border-color);
  outline-offset: var(--gse-ui-checkbox-focus-offset);
}

::slotted(input[type='checkbox']:not(:checked))::before {
  @include checkbox-icons.unchecked;

  background: var(--gse-ui-checkbox-icon-default-unselectedForegroundColor);
}

::slotted(
    input[type='checkbox']:not(:checked):not(:disabled):not(
        :indeterminate
      ):hover
  )::before {
  @include checkbox-icons.unchecked-hover;

  background: var(--gse-ui-checkbox-icon-hover-foregroundColor);
}

::slotted(input[type='checkbox']:checked:not(:disabled):hover) {
  @include checkbox-icons.checked-hover;

  background: var(--gse-ui-checkbox-icon-hover-foregroundColor);
}

::slotted(input[type='checkbox']:not(:disabled):indeterminate:hover) {
  @include checkbox-icons.indeterminate-hover;

  background: var(--gse-ui-checkbox-icon-hover-foregroundColor);
}

::slotted(input[type='checkbox']:checked)::before {
  @include checkbox-icons.checked;

  background: var(--gse-ui-checkbox-icon-default-selectedForegroundColor);
}

::slotted(input[type='checkbox']:indeterminate)::before {
  @include checkbox-icons.indeterminate;

  background: var(--gse-ui-checkbox-icon-default-selectedForegroundColor);
}

::slotted(input[type='checkbox']:disabled)::before {
  cursor: not-allowed;
  opacity: var(--gse-ui-checkbox-disabled-opacity);
}

::slotted(label) {
  display: inline-block;
  font-family: var(--gse-ui-checkbox-label-text-fontFamily);
  font-size: 12px; // -- missing font-size token https://inindca.atlassian.net/browse/COMUI-1672
  font-weight: var(--gse-ui-checkbox-label-text-fontWeight);
  line-height: var(--gse-ui-checkbox-label-text-lineHeight);
  color: var(--gse-ui-checkbox-label-foregroundColor);
  vertical-align: middle;
}
