@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

/* This is necessary to override the position of the popover on the page. By default, an HTML popover will
   render in the middle of the screen, which we do not want */
:popover-open {
  position: absolute;
  inset: unset;
}

.gux-popover-wrapper {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  padding: ui.$gse-ui-popover-padding;
  overflow: hidden;
  color: global.$gse-semantic-foreground-container-highEmphasis;
  background-color: ui.$gse-ui-popover-backgroundColor;
  border: none;
  border-radius: ui.$gse-ui-popover-borderRadius;
  box-shadow: ui.$gse-ui-popover-boxShadow;

  .gux-arrow {
    position: absolute;
    inline-size: ui.$gse-ui-popover-anchor-width;
    block-size: ui.$gse-ui-popover-anchor-height;

    /* 4px padding leaves some space for the shadow to bleed into */
    padding-block-end: 4px;
    overflow: hidden;
  }

  /* // TODO: COMUI-3210 - Arrow currently does not show  */
  .gux-arrow-caret {
    inline-size: 0;
    block-size: 0;
    border-block-start: calc(#{ui.$gse-ui-popover-anchor-width} / 2) solid
      ui.$gse-ui-popover-backgroundColor;
    border-inline-start: calc(#{ui.$gse-ui-popover-anchor-width} / 2) solid
      transparent;
    border-inline-end: calc(#{ui.$gse-ui-popover-anchor-width} / 2) solid
      transparent;
    filter: drop-shadow(0 0 4px global.$gse-semantic-effects-boxShadow);
  }

  .gux-popover-header {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    padding-block-end: ui.$gse-ui-popover-gap;
    font-family: ui.$gse-ui-popover-title-text-fontFamily;
    font-size: ui.$gse-ui-popover-title-text-fontSize;
    font-weight: ui.$gse-ui-popover-title-text-fontWeight;
    line-height: ui.$gse-ui-popover-title-text-lineHeight;
    color: ui.$gse-ui-popover-headerColor;
  }

  .gux-popover-footer {
    padding-block-start: ui.$gse-ui-popover-gap;
  }
}
