/* This is necessary to override the position of the popover on the page. By default, an HTML popover will
   render in the middle of the screen, which we do not want */
:popover-open {
  position: absolute;
  inset: unset;
}

.gux-popover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 280px; // TODO: add new token once UX has added it: GDS-2672
  padding: var(--gse-ui-popover-gap);
  overflow: hidden;
  background-color: var(--gse-ui-popover-backgroundColor);
  border: none;
  border-radius: var(--gse-ui-popover-borderRadius);
  box-shadow: var(
      --gse-ui-popover-boxShadow-x,
      var(--gse-ui-popover-boxShadow-offsetX)
    )
    var(--gse-ui-popover-boxShadow-y, var(--gse-ui-popover-boxShadow-offsetY))
    var(--gse-ui-popover-boxShadow-blur) var(--gse-ui-popover-boxShadow-spread)
    var(--gse-ui-tooltip-boxShadow-color);

  .gux-arrow {
    position: absolute;
    width: var(--gse-ui-popover-anchor-width);
    height: var(--gse-ui-popover-anchor-height);

    /* 4px padding leaves some space for the shadow to bleed into */
    padding-bottom: 4px;
    overflow: hidden;
  }

  /* // TODO: COMUI-3210 - Arrow currently does not show  */
  .gux-arrow-caret {
    width: 0;
    height: 0;
    filter: drop-shadow(
      var(--gse-ui-popover-boxShadow-x, --gse-ui-popover-boxShadow-offsetX)
        var(--gse-ui-popover-boxShadow-y, --gse-ui-popover-boxShadow-offsetY)
        calc(var(--gse-ui-popover-boxShadow-blur) / 2)
        var(--gse-ui-tooltip-boxShadow-color)
    );
    border-top: calc(var(--gse-ui-popover-anchor-width) / 2) solid
      var(--gse-ui-popover-backgroundColor);
    border-right: calc(var(--gse-ui-popover-anchor-width) / 2) solid transparent;
    border-left: calc(var(--gse-ui-popover-anchor-width) / 2) solid transparent;
  }

  .gux-popover-header {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    padding-bottom: var(--gse-ui-popover-gap);
    font-family: var(--gse-ui-popover-title-text-fontFamily);
    font-size: var(--gse-ui-popover-title-text-fontSize);
    font-weight: var(--gse-ui-popover-title-text-fontWeight);
    line-height: var(--gse-ui-popover-title-text-lineHeight);
    color: var(--gse-ui-popover-headerColor);
  }

  gux-dismiss-button {
    float: right;
  }
}
