@import (reference) '../../../style/color.less';

// Variables part

gux-tooltip-beta {
  div.gux-tooltip {
    position: absolute;
    white-space: nowrap;
    background-color: @gux-background;
    color: @gux-type;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    padding: 0 8px;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    pointer-events: none;

    &.shown {
      opacity: 1;
    }

    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
  }
}

// Theming
// Light
.gux-tooltip-light-theme {
  div.gux-tooltip {
    border: 1px solid #dae1e8;
    box-shadow: 0 0 2px 0 fade(@gux-grey-global, 24);
  }
}
.gux-light-theme {
  gux-tooltip-beta {
    .gux-tooltip-light-theme;
  }
}
gux-tooltip-beta.gux-light-theme {
  .gux-tooltip-light-theme;
}
// Dark
.gux-tooltip-dark-theme {
  div.gux-tooltip {
    border: 1px solid #555d66;
    box-shadow: 0 0 2px 0 fade(@gux-grey-global, 100);
  }
}
.gux-dark-theme {
  gux-tooltip-beta {
    .gux-tooltip-dark-theme;
  }
}
gux-tooltip-beta.gux-dark-theme {
  .gux-tooltip-dark-theme;
}
// Default
gux-tooltip-beta {
  .gux-tooltip-light-theme;
}
