@import (reference) '../../../../../style/spacing.less';

/* stylelint-disable-next-line selector-class-pattern */
.GuxFormFieldFieldsetContainerStyle {
  .gux-form-field-fieldset-container {
    min-width: 0;
    padding: 0;
    margin: @spacing-medium 0;
    border: none;
  }
}
