<h4>No width restrictions</h4>
<gux-page-loading-spinner
  style="border: 1px dashed gainsboro"
></gux-page-loading-spinner>

<hr />

<h4>Width restriction on component (200px)</h4>
<gux-page-loading-spinner
  style="width: 200px; border: 1px dashed gainsboro"
></gux-page-loading-spinner>

<hr />

<h4>Width restriction on parent (400px)</h4>
<div style="width: 400px">
  <gux-page-loading-spinner
    style="border: 1px dashed gainsboro"
  ></gux-page-loading-spinner>
</div>

<hr />

<footer>
  <strong>Note:</strong> The dashed borders are not part of the component they
  are just to help visualise the width restictions
</footer>
