@import (reference) '../../../style/color.less';
@import (reference) '../../../style/focus.less';
@import (reference) '../../../style/zindex.less';

@gux-arrow-height: 5px;

// Style
:host {
  z-index: var(--gux-zindex-popover, @gux-zindex-popover);
  color: @gux-type;
  cursor: default;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  .gux-focus-ring();
}

.gux-flyout-menu-content {
  display: none;
  margin: 0;

  &.gux-shown {
    display: flex;
  }
}

.gux-arrow,
.gux-arrow::before {
  position: absolute;
  top: -3px;
  width: @gux-arrow-height * 2;
  height: @gux-arrow-height * 2;
  background: inherit;
}

.gux-arrow::before {
  visibility: visible;
  content: '';
  border-top: 1px solid #b4bccb;
  border-left: 1px solid #b4bccb;
  transform: rotate(45deg);
}
