@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: flex;
  inline-size: fit-content;
}

.gux-inline-alert {
  display: inline-flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: ui.$gse-ui-alert-padding;
  border: 1px solid;
  border-radius: ui.$gse-ui-alert-borderRadius;

  gux-icon {
    flex-shrink: 0;
    align-self: flex-start;
    margin-block-start: 1px;
  }

  gux-tooltip-title {
    white-space: nowrap;
  }

  .gux-message-wrapper {
    display: flex;
    gap: ui.$gse-ui-alert-gap;
    font-family: ui.$gse-ui-alert-text-fontFamily;
    font-size: ui.$gse-ui-alert-text-fontSize;
    font-weight: ui.$gse-ui-alert-text-fontWeight;
    line-height: ui.$gse-ui-alert-text-lineHeight;
  }

  .gux-content {
    flex: 1 1 auto;
  }

  &.gux-info {
    color: ui.$gse-ui-alert-info-foregroundColor;
    background-color: ui.$gse-ui-alert-info-backgroundColor;
    border: ui.$gse-ui-alert-info-border-width
      ui.$gse-ui-alert-info-border-style ui.$gse-ui-alert-info-border-color;

    gux-icon {
      color: ui.$gse-ui-alert-info-iconColor;
    }
  }

  &.gux-error {
    color: ui.$gse-ui-alert-error-foregroundColor;
    background-color: ui.$gse-ui-alert-error-backgroundColor;
    border: ui.$gse-ui-alert-error-border-width
      ui.$gse-ui-alert-error-border-style ui.$gse-ui-alert-error-border-color;

    gux-icon {
      color: ui.$gse-ui-alert-error-iconColor;
    }
  }

  &.gux-warning {
    color: ui.$gse-ui-alert-warning-foregroundColor;
    background-color: ui.$gse-ui-alert-warning-backgroundColor;
    border: ui.$gse-ui-alert-warning-border-width
      ui.$gse-ui-alert-warning-border-style
      ui.$gse-ui-alert-warning-border-color;

    gux-icon {
      color: ui.$gse-ui-alert-warning-iconColor;
    }
  }

  &.gux-success {
    color: ui.$gse-ui-alert-success-foregroundColor;
    background-color: ui.$gse-ui-alert-success-backgroundColor;
    border: ui.$gse-ui-alert-success-border-width
      ui.$gse-ui-alert-success-border-style
      ui.$gse-ui-alert-success-border-color;

    gux-icon {
      color: ui.$gse-ui-alert-success-iconColor;
    }
  }
}
