@use '~genesys-spark/dist/beta/tokens/flare/global.scss';

::slotted(*) {
  margin: 0;
  font-family: global.$gse-semantic-heading-md-bold-fontFamily !important;
  font-size: global.$gse-semantic-heading-md-bold-fontSize !important;
  font-weight: global.$gse-semantic-heading-md-bold-fontWeight !important;
  line-height: global.$gse-semantic-heading-md-bold-lineHeight !important;
  color: global.$gse-semantic-foreground-container-highEmphasis !important;
}
