@use './components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss';
@use './components/gux-form-field-number/gux-form-field-number.light.scss';
@use './components/gux-form-field-radio/gux-form-field-radio.light.scss';
@use './components/gux-form-field-range/gux-form-field-range.light.scss';
@use './components/gux-form-field-search/gux-form-field-search.light.scss';
@use './components/gux-form-field-text-like/gux-form-field-text-like.light.scss';

input:focus-visible {
  outline: none;
}
