@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

@mixin gse-ui-formControl-label {
  font-family: ui.$gse-ui-formControl-label-text-fontFamily;
  font-size: ui.$gse-ui-formControl-label-text-fontSize;
  font-weight: ui.$gse-ui-formControl-label-text-fontWeight;
  line-height: ui.$gse-ui-formControl-label-text-lineHeight;
  color: ui.$gse-ui-formControl-label-labelColor;
}

@mixin gse-ui-formControl-label-bold {
  font-family: ui.$gse-ui-formControl-label-textBold-fontFamily;
  font-size: ui.$gse-ui-formControl-label-textBold-fontSize;
  font-weight: ui.$gse-ui-formControl-label-textBold-fontWeight;
  line-height: ui.$gse-ui-formControl-label-textBold-lineHeight;
  color: ui.$gse-ui-formControl-label-labelColor;
}
