gux-tabs[orientation='vertical'] > gux-tab-list {
  gux-tab {
    box-sizing: border-box;
    border-inline-end: var(--gse-ui-tabs-item-divider-vertical-width) solid
      var(--gse-ui-tabs-item-divider-dividerColor);

    .gux-tab {
      display: flex;
      justify-content: flex-end;
      inline-size: var(--gse-ui-tabs-set-vertical-width);
      block-size: var(--gse-ui-tabs-item-vertical-fixedHeight);
      padding: var(--gse-ui-tabs-item-vertical-padding);
      border-inline-end: var(--gse-ui-tabs-item-indicator-vertical-width) solid
        transparent;

      &.gux-active {
        border-inline-end-color: var(--gse-ui-tabs-item-indicator-activeColor);
      }

      &:hover:not(.gux-active):not(.gux-disabled) {
        border-inline-end-color: var(--gse-ui-tabs-item-indicator-hoverColor);
      }
    }
  }
}

gux-tabs:not([orientation='vertical']) > gux-tab-list {
  .gux-tab {
    box-sizing: border-box;
    max-inline-size: 160px;
    block-size: var(--gse-ui-tabs-item-horizontal-fixedHeight);
    padding: var(--gse-ui-tabs-item-horizontal-padding);
    border-block-end: var(--gse-ui-tabs-item-indicator-horizontal-height) solid
      transparent;

    &.gux-active {
      border-block-end-color: var(--gse-ui-tabs-item-indicator-activeColor);
    }

    &:hover:not(.gux-active):not(.gux-disabled) {
      border-block-end-color: var(--gse-ui-tabs-item-indicator-hoverColor);
    }

    gux-tooltip-title {
      margin: auto;
    }
  }
}

gux-tabs[alignment='center'] > gux-tab-list {
  .gux-scrollable-section {
    justify-content: center;
  }
}

gux-tabs[alignment='full-width'] > gux-tab-list {
  .gux-scrollable-section {
    flex-grow: 1;
  }

  gux-tab {
    inline-size: 100%;
    max-inline-size: 100%;

    .gux-tab {
      inline-size: 100%;
      max-inline-size: 100%;
    }
  }
}

gux-tab {
  display: flex;

  .gux-tab {
    display: flex;
    align-items: center;
    block-size: var(--gse-ui-tabs-item-height);
    font-family: var(--gse-ui-tabs-item-itemText-fontFamily);
    font-size: var(--gse-ui-tabs-item-itemText-fontSize);
    font-weight: var(--gse-ui-tabs-item-itemText-fontWeight);
    line-height: var(--gse-ui-tabs-item-itemText-lineHeight);
    color: var(--gse-ui-tabs-item-itemTextColor);
    cursor: pointer;
    background-color: transparent;
    border: none;

    &.gux-disabled {
      cursor: default;

      gux-tooltip-title {
        opacity: var(--gse-ui-tabs-item-disableOpacity);
      }
    }

    &:focus-visible {
      outline: var(--gse-ui-tabs-focusRing-border-width)
        var(--gse-ui-tabs-focusRing-border-style)
        var(--gse-ui-tabs-focusRing-border-color);
      outline-offset: calc(var(--gse-ui-tabs-focusRing-border-width) * -1);
      border-radius: var(--gse-ui-tabs-focusRing-borderRadius);
    }

    gux-tooltip-title {
      white-space: nowrap;
    }
  }
}
