gux-tabs[orientation='vertical'] > gux-tab-list {
  .gux-tab {
    display: flex;
    justify-content: flex-end;
    height: var(--gse-ui-tabs-item-vertical-fixedHeight);
    padding: var(--gse-ui-tabs-item-vertical-padding);
    border-right: var(--gse-ui-tabs-item-divider-vertical-width) solid
      var(--gse-ui-tabs-item-divider-dividerColor);

    &.gux-active {
      border-right: var(--gse-ui-tabs-item-indicator-vertical-width) solid
        var(--gse-ui-tabs-item-indicator-activeColor);
    }

    &:hover:not(.gux-active):not(.gux-disabled) {
      border-right: var(--gse-ui-tabs-item-indicator-vertical-width) solid
        var(--gse-ui-tabs-item-indicator-hoverColor);
    }
  }
}

gux-tabs:not([orientation='vertical']) > gux-tab-list {
  .gux-tab {
    box-sizing: border-box;
    height: var(--gse-ui-tabs-item-horizontal-fixedHeight);
    padding: var(--gse-ui-tabs-item-horizontal-padding);

    &.gux-active {
      border-bottom: var(--gse-ui-tabs-item-indicator-horizontal-height) solid
        var(--gse-ui-tabs-item-indicator-activeColor);
    }

    &:hover:not(.gux-active):not(.gux-disabled) {
      border-bottom: var(--gse-ui-tabs-item-indicator-horizontal-height) solid
        var(--gse-ui-tabs-item-indicator-hoverColor);
    }

    gux-tooltip-title {
      margin: auto;
    }
  }
}

gux-tabs[alignment='center'] > gux-tab-list {
  .gux-scrollable-section {
    justify-content: center;
  }
}

gux-tabs[alignment='full-width'] > gux-tab-list {
  .gux-scrollable-section {
    flex-grow: 1;
  }

  gux-tab {
    width: 100%;
    max-width: 100%;

    .gux-tab {
      width: 100%;
      max-width: 100%;
    }
  }
}

gux-tab {
  display: flex;
  width: var(--gse-ui-tabs-item-fixedWidth);
  max-width: 160px;

  .gux-tab {
    display: flex;
    align-items: center;
    width: var(--gse-ui-tabs-item-fixedWidth);
    max-width: 160px;
    height: var(--gse-ui-tabs-item-height);
    font-family: var(--gse-ui-tabs-item-itemText-fontFamily);
    font-size: var(--gse-ui-tabs-item-itemText-fontSize);
    font-weight: var(--gse-ui-tabs-item-itemText-fontWeight);
    line-height: var(--gse-ui-tabs-item-itemText-lineHeight);
    color: var(--gse-ui-tabs-item-itemTextColor);
    cursor: pointer;
    background-color: transparent;
    border: none;

    &.gux-disabled {
      cursor: default;

      gux-tooltip-title {
        opacity: var(--gse-ui-tabs-item-disableOpacity);
      }
    }

    &:focus-visible {
      border: var(--gse-ui-tabs-focusRing-border-width)
        var(--gse-ui-tabs-focusRing-border-style)
        var(--gse-ui-tabs-focusRing-border-color);
      border-radius: var(--gse-ui-tabs-focusRing-borderRadius);
      outline: none;
    }

    gux-tooltip-title {
      max-width: 160px;
      white-space: nowrap;
    }
  }
}
