<h1 id="shadow-dom-header">Shadow DOM</h1>
<div id="shadow-dom-host"></div>
<p>
  The `gux-icon` is expected to work even when used in the shadow dom (open)
</p>

<h1>Accessibility</h1>
<gux-icon icon-name="cc-delivery" decorative></gux-icon>
<p>
  Set the <strong>decorative</strong> attrribute if the icon does not convey
  information about the page and is only for decoration
</p>

<gux-icon
  icon-name="add-user"
  screenreader-text="add John Smith to contact list"
></gux-icon>
<p>
  Set the <strong>screenreader-text</strong> attribute if the icon conveys
  information to the user that would not otherwise be available
</p>

<gux-icon icon-name="cc-disconnected-system"></gux-icon>
<p>
  If neither <strong>decorative</strong> or <strong>screenreader-text</strong>
  are set an error will be logged in the console
</p>

<h1>Styling</h1>
<gux-icon id="styled" icon-name="add-user" decorative></gux-icon>
<p>
  You can use the <strong>color</strong>, <strong>height</strong> and
  <strong>width</strong> css properties to style your icon
</p>

<h1>Caching</h1>
<div>
  <gux-icon icon-name="align-left" decorative></gux-icon>
  <gux-icon icon-name="align-center" decorative></gux-icon>
  <gux-icon icon-name="align-right" decorative></gux-icon>
</div>
<hr />
<div>
  <gux-icon icon-name="align-left" decorative></gux-icon>
  <gux-icon icon-name="align-center" decorative></gux-icon>
  <gux-icon icon-name="align-right" decorative></gux-icon>
</div>
<hr />
<div>
  <gux-icon icon-name="align-left" decorative></gux-icon>
  <gux-icon icon-name="align-center" decorative></gux-icon>
  <gux-icon icon-name="align-right" decorative></gux-icon>
</div>
<hr />
<div>
  <gux-icon icon-name="align-left" decorative></gux-icon>
  <gux-icon icon-name="align-center" decorative></gux-icon>
  <gux-icon icon-name="align-right" decorative></gux-icon>
</div>
<hr />
<div>
  <gux-icon icon-name="align-left" decorative></gux-icon>
  <gux-icon icon-name="align-center" decorative></gux-icon>
  <gux-icon icon-name="align-right" decorative></gux-icon>
</div>
<p>Duplicated icons should not require additional network calls</p>

<h1>Spark Icons</h1>
${SPARK_ICON_EXAMPLE_LIST}

<h1>Legacy</h1>
<gux-icon icon-name="legacy/cc-delivery" decorative></gux-icon>
<p>
  After a review of icons in this project many of them were removed as they will
  not be part of the official Spark Design System. You should migrate all usage
  of these icons where possible and if not possible contact the Spark Design
  System team to get a suitable icon added to the system. For convenience all
  legacy icons will be available via a "legacy/" prefix to aid in the transition
  to officially suppported icons.
</p>

<h1>Legacy Icons (Migrate away from these)</h1>
${LEGACY_ICON_EXAMPLE_LIST}

<style
  onload="(function () {
  const shadowDomHeaderElement = document.getElementById('shadow-dom-header');
  const hostElement = document.getElementById('shadow-dom-host');
  const shadowRoot = hostElement.attachShadow({ mode: 'open' });
  const guxIcon = document.createElement('gux-icon');

  guxIcon.setAttribute('icon-name', 'add-user');
  guxIcon.setAttribute('screenreader-text', 'test');
  guxIcon.setAttribute('style', 'width: 50px; height: 50px;');
  shadowRoot.appendChild(guxIcon);
})()"
>
  gux-icon {
    width: 50px;
    height: 50px;
    color: #33383d;
  }

  #styled {
    width: 100px;
    height: 100px;
    color: #ff4f1f;
  }

  .icons-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .icon-example {
    width: 100px;
    margin: 5px;
    text-align: center;
  }
</style>
