<h1 id="shadow-dom-header">Shadow DOM</h1>
<div id="shadow-dom-host"></div>
<p>
  The `gux-icon` is expected to work even when used in the shadow dom (open)
</p>

<h1>Accessibility</h1>
<gux-icon class="example" icon-name="add-user" decorative="true"></gux-icon>
<p>
  Set the <strong>decorative</strong> attrribute if the icon does not convey
  information about the page and is only for decoration
</p>

<gux-icon
  class="example"
  icon-name="add-user"
  screenreader-text="add John Smith to contact list"
></gux-icon>
<p>
  Set the <strong>screenreader-text</strong> attribute if the icon conveys
  information to the user that would not otherwise be available
</p>

<gux-icon class="example" icon-name="add-user"></gux-icon>
<p>
  If neither <strong>decorative</strong> or <strong>screenreader-text</strong>
  are set an error will be logged in the console
</p>

<h1>Styling</h1>
<gux-icon id="styled" icon-name="add-user" decorative="true"></gux-icon>
<p>
  You can use the <strong>color</strong>, <strong>height</strong> and
  <strong>width</strong> css properties to style your icon
</p>

<h1>Caching</h1>
<div>
  <gux-icon class="example" icon-name="align-left" decorative="true"></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-center"
    decorative="true"
  ></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-right"
    decorative="true"
  ></gux-icon>
</div>
<hr />
<div>
  <gux-icon class="example" icon-name="align-left" decorative="true"></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-center"
    decorative="true"
  ></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-right"
    decorative="true"
  ></gux-icon>
</div>
<hr />
<div>
  <gux-icon class="example" icon-name="align-left" decorative="true"></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-center"
    decorative="true"
  ></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-right"
    decorative="true"
  ></gux-icon>
</div>
<hr />
<div>
  <gux-icon class="example" icon-name="align-left" decorative="true"></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-center"
    decorative="true"
  ></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-right"
    decorative="true"
  ></gux-icon>
</div>
<hr />
<div>
  <gux-icon class="example" icon-name="align-left" decorative="true"></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-center"
    decorative="true"
  ></gux-icon>
  <gux-icon
    class="example"
    icon-name="align-right"
    decorative="true"
  ></gux-icon>
</div>
<p>Duplicated icons should not require additional newtwork calls</p>

<style
  onload="(function () {
  const shadowDomHeaderElement = document.getElementById('shadow-dom-header');
  const hostElement = document.getElementById('shadow-dom-host');
  const shadowRoot = hostElement.attachShadow({ mode: 'open' });
  const guxIcon = document.createElement('gux-icon');

  guxIcon.setAttribute('icon-name', 'add-user');
  guxIcon.setAttribute('screenreader-text', 'test');
  guxIcon.setAttribute('style', 'width: 50px; height: 50px;');

  shadowRoot.appendChild(guxIcon);
})()"
>
  #styled {
    color: #ff4f1f;
    height: 100px;
    width: 100px;
  }

  .example {
    width: 50px;
    height: 50px;
  }
</style>
