@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

gux-form-field-file {
  input:focus-visible {
    outline: none;
  }

  input[type='file']::file-selector-button {
    min-inline-size: ui.$gse-ui-button-iconOnly-width;
    block-size: ui.$gse-ui-button-default-height;
    padding: ui.$gse-ui-button-default-padding;
    margin-inline-end: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: ui.$gse-ui-button-text-fontFamily;
    font-size: ui.$gse-ui-button-text-fontSize;
    font-weight: ui.$gse-ui-button-text-fontWeight;
    line-height: ui.$gse-ui-button-text-lineHeight;
    color: ui.$gse-ui-button-secondary-default-foregroundColor;
    white-space: nowrap;
    cursor: pointer;
    background-color: ui.$gse-ui-button-secondary-default-backgroundColor;
    border: none;
    border-radius: ui.$gse-ui-button-borderRadius;
  }

  input[type='file']::file-selector-button:hover {
    color: ui.$gse-ui-button-secondary-hover-foregroundColor;
    background-color: ui.$gse-ui-button-secondary-hover-backgroundColor;
  }

  input[type='file']:focus-visible {
    @include focus.gux-focus-ring;

    border-radius: ui.$gse-ui-formControl-input-borderRadius;
  }

  input[type='file']:disabled {
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
    opacity: ui.$gse-ui-button-disabled-opacity;
  }
}
