@use '~genesys-spark/dist/scss/focus.scss';

gux-form-field-file {
  input:focus-visible {
    outline: none;
  }

  input[type='file']::file-selector-button {
    min-inline-size: var(--gse-ui-button-iconOnly-width);
    block-size: var(--gse-ui-button-default-height);
    padding: var(--gse-ui-button-default-padding);
    margin-inline-end: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--gse-ui-button-text-fontFamily);
    font-size: var(--gse-ui-button-text-fontSize);
    font-weight: var(--gse-ui-button-text-fontWeight);
    line-height: var(--gse-ui-button-text-lineHeight);
    color: var(--gse-ui-button-secondary-default-foregroundColor);
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--gse-ui-button-secondary-default-backgroundColor);
    border: none;
    border-radius: var(--gse-ui-button-borderRadius);
  }

  input[type='file']::file-selector-button:hover {
    color: var(--gse-ui-button-secondary-hover-foregroundColor);
    background-color: var(--gse-ui-button-secondary-hover-backgroundColor);
  }

  input[type='file']:focus-visible {
    @include focus.gux-focus-ring;

    border-radius: var(--gse-ui-formControl-input-borderRadius);
  }

  input[type='file']:disabled {
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
    opacity: var(--gse-ui-button-disabled-opacity);
  }
}
