<h1>gux-tabs-beta</h1>

<h2>Example 1 -- tabs left alignment scroll</h2>

<gux-tabs-beta class="example" active-tab="1-2">
  <gux-tab-list-beta slot="tab-list">
    <gux-tab-beta tab-id="1-1">
      <span>Tab Header 1</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-2">
      <span>Tab Header 2</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-3">
      <span>Tab Header 3</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-4">
      <span>Tab Header 4</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-5">
      <span>Tab Header 5</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-6">
      <span>Tab Header 6</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-7">
      <span>Tab Header 7</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-8">
      <span>Tab Header 8</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-9">
      <span>Tab Header 9</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="1-10">
      <span>Tab Header 10</span>
    </gux-tab-beta>
  </gux-tab-list-beta>
  <gux-tab-panel-beta tab-id="1-1">
    <span>Tab content 1</span>
    <div>The current time is: <span id="currentTime"></span></div>
    <div>
      The current selected panel tab-id is: <span id="currenttab-id"></span>
    </div>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-2">
    <span>Tab content 2</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-3">
    <span>Tab content 3</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-4">
    <span>Tab content 4</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-5">
    <span>Tab content 5</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-6">
    <span>Tab content 6</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-7">
    <span>Tab content 7</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-8">
    <span>Tab content 8</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-9">
    <span>Tab content 9</span>
  </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="1-10">Tab content 10</gux-tab-panel-beta>
</gux-tabs-beta>

<h2>Example 2 -- tabs left alignment</h2>

<gux-tabs-beta class="example">
  <gux-tab-list-beta slot="tab-list">
    <gux-tab-beta tab-id="2-1"><span>Tab Header 1</span></gux-tab-beta>
    <gux-tab-beta tab-id="2-2"><span>Tab Header 2</span></gux-tab-beta>
    <gux-tab-beta tab-id="2-3"><span>Tab Header 3</span></gux-tab-beta>
    <gux-tab-beta gux-disabled tab-id="2-4"
      ><span>Tab Header 4</span></gux-tab-beta
    >
    <gux-tab-beta gux-disabled tab-id="2-5"
      ><span>Tab Header 5 long long long</span></gux-tab-beta
    >
  </gux-tab-list-beta>
  <gux-tab-panel-beta tab-id="2-1">Tab content 1</gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="2-2">Tab content 2</gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="2-3">Tab content 3</gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="2-4">Tab content 4</gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="2-5">Tab content 5</gux-tab-panel-beta>
</gux-tabs-beta>

<h2>Example 3 -- tabs left alignment in a resizable container</h2>

<div
  style="width: 300px; overflow: auto; resize: both; border: 1px dotted black"
>
  <gux-tabs-beta class="example">
    <gux-tab-list-beta slot="tab-list">
      <gux-tab-beta tab-id="2-1"><span>Tab Header 1</span></gux-tab-beta>
      <gux-tab-beta tab-id="2-2"><span>Tab Header 2</span></gux-tab-beta>
      <gux-tab-beta tab-id="2-3"><span>Tab Header 3</span></gux-tab-beta>
      <gux-tab-beta gux-disabled tab-id="2-4"
        ><span>Tab Header 4</span></gux-tab-beta
      >
      <gux-tab-beta gux-disabled tab-id="2-5"
        ><span>Tab Header 5 long long long</span></gux-tab-beta
      >
    </gux-tab-list-beta>
    <gux-tab-panel-beta tab-id="2-1">Tab content 1</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="2-2">Tab content 2</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="2-3">Tab content 3</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="2-4">Tab content 4</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="2-5">Tab content 5</gux-tab-panel-beta>
  </gux-tabs-beta>
</div>

<h2>Example 4 -- tabs vertical alignment in a resizable container</h2>

<div
  style="height: 300px; overflow: auto; resize: both; border: 1px dotted black"
>
  <gux-tabs-beta orientation="vertical" class="example">
    <gux-tab-list-beta slot="tab-list">
      <gux-tab-beta tab-id="3-1">
        <span>Tab Header 1</span>
      </gux-tab-beta>
      <gux-tab-beta tab-id="3-2">
        <span>Tab Header 2</span>
      </gux-tab-beta>
      <gux-tab-beta gux-disabled tab-id="3-3">
        <span>Tab Header 3</span></gux-tab-beta
      >
      <gux-tab-beta tab-id="3-4">
        <span>Tab Header long long long</span>
      </gux-tab-beta>
      <gux-tab-beta tab-id="3-5"><span>Tab Header 5</span></gux-tab-beta>
    </gux-tab-list-beta>
    <gux-tab-panel-beta tab-id="3-1">Tab content 1</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="3-2">Tab content 2</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="3-3">Tab content 3</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="3-4">Tab content 4</gux-tab-panel-beta>
    <gux-tab-panel-beta tab-id="3-5">Tab content 5</gux-tab-panel-beta>
  </gux-tabs-beta>
</div>

<h2>Example 4 -- tabs icons only</h2>

<gux-tabs-beta class="example">
  <gux-tab-list-beta slot="tab-list">
    <gux-tab-beta tab-id="4-1">
      <gux-icon icon-name="agent" screenreader-text="Agent"></gux-icon>
    </gux-tab-beta>
    <gux-tab-beta tab-id="4-2">
      <gux-icon
        icon-name="user-directory"
        screenreader-text="User Directory"
      ></gux-icon>
    </gux-tab-beta>
    <gux-tab-beta tab-id="4-3">
      <gux-icon icon-name="cobrowse" screenreader-text="Co-browse"></gux-icon>
    </gux-tab-beta>
    <gux-tab-beta tab-id="4-4">
      <gux-icon icon-name="user-group" screenreader-text="Users"></gux-icon>
    </gux-tab-beta>
    <gux-tab-beta tab-id="4-5">
      <gux-icon
        icon-name="attachment"
        screenreader-text="Attachments"
      ></gux-icon>
    </gux-tab-beta>
  </gux-tab-list-beta>
  <gux-tab-panel-beta tab-id="4-1"> Tab content 1 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="4-2"> Tab content 2 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="4-3"> Tab content 3 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="4-4"> Tab content 4 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="4-5"> Tab content 5 </gux-tab-panel-beta>
</gux-tabs-beta>

<h2>Example 5 -- tabs icons and title</h2>

<gux-tabs-beta class="example">
  <gux-tab-list-beta slot="tab-list">
    <gux-tab-beta tab-id="5-1">
      <gux-icon icon-name="agent" decorative="true"></gux-icon>
      <span>Tab Header 1</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="5-2">
      <gux-icon icon-name="user-directory" decorative="true"></gux-icon>
      <span>Tab Header 2</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="5-3">
      <gux-icon icon-name="cobrowse" decorative="true"></gux-icon>
      <span>Tab Header 3 long long long long</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="5-4">
      <gux-icon icon-name="user-group" decorative="true"></gux-icon>
      <span>Tab Header 4</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="5-5">
      <gux-icon icon-name="attachment" decorative="true"></gux-icon>
      <span>Tab Header 5</span>
    </gux-tab-beta>
  </gux-tab-list-beta>
  <gux-tab-panel-beta tab-id="5-1"> Tab content 1 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="5-2"> Tab content 2 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="5-3"> Tab content 3 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="5-4"> Tab content 4 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="5-5"> Tab content 5 </gux-tab-panel-beta>
</gux-tabs-beta>

<h2>Example 6 -- tabs full width</h2>

<gux-tabs-beta alignment="full-width" class="example">
  <gux-tab-list-beta slot="tab-list">
    <gux-tab-beta tab-id="6-1">
      <span>Tab Header 1</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="6-2">
      <span>Tab Header 2</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="6-3">
      <span>Tab Header 3</span>
    </gux-tab-beta>
  </gux-tab-list-beta>
  <gux-tab-panel-beta tab-id="6-1"> Tab content 1 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="6-2"> Tab content 2 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="6-3"> Tab content 3 </gux-tab-panel-beta>
</gux-tabs-beta>

<h2>Example 7 -- tabs center aligned</h2>

<gux-tabs-beta alignment="center" class="example">
  <gux-tab-list-beta slot="tab-list">
    <gux-tab-beta tab-id="7-1">
      <span>Tab Header 1</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="7-2">
      <span>Tab Header 2</span>
    </gux-tab-beta>
    <gux-tab-beta tab-id="7-3">
      <span>Tab Header 3</span>
    </gux-tab-beta>
  </gux-tab-list-beta>
  <gux-tab-panel-beta tab-id="7-1"> Tab content 1 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="7-2"> Tab content 2 </gux-tab-panel-beta>
  <gux-tab-panel-beta tab-id="7-3"> Tab content 3 </gux-tab-panel-beta>
</gux-tabs-beta>

<style
  onload="(function () {
    document.querySelector(`gux-tab-panel-beta[tab-id='1-1']`).addEventListener('guxactivepanelchange', 
    (event) => {
      const currentTime = new Date().toLocaleTimeString();
      document.querySelector('#currentTime').innerHTML = currentTime;
      document.querySelector('#currenttab-id').innerHTML = event.detail;
    })
  }
  )()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
