<h1>gux-panel-frame-legacy</h1>
<div style="height: calc(100% - 64px)">
  <gux-panel-frame-legacy>
    <div slot="header">
      <div
        style="display: flex; align-items: center; justify-content: flex-end"
      >
        <h2 style="margin-right: auto">Find Events</h2>
      </div>
    </div>
    <div slot="body">
      <div style="display: flex; flex-direction: column">
        <gux-form-field>
          <input
            slot="input"
            name="text"
            type="text"
            placeholder="Enter an event name"
          />
          <label slot="label">Event Name</label>
        </gux-form-field>

        <gux-form-field>
          <input
            slot="input"
            name="text"
            type="text"
            placeholder="Enter a comment"
          />
          <label slot="label">Comment</label>
        </gux-form-field>

        <gux-toggle
          checked-label="Active"
          unchecked-label="Inactive"
          label-position="left"
        ></gux-toggle>
      </div>
    </div>
    <div slot="footer">
      <div style="display: flex; justify-content: space-between">
        <gux-button accent="primary">Accept</gux-button>
        <gux-button>Close</gux-button>
      </div>
    </div>
  </gux-panel-frame-legacy>
</div>
