@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: ui.$gse-ui-calendarMenu-monthBody-padding;
  background-color: ui.$gse-ui-calendarMenu-backgroundColor;
  border-radius: ui.$gse-ui-calendarMenu-single-body-borderRadius;
  box-shadow: ui.$gse-ui-calendarMenu-boxShadow;
}
