@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/focus.scss';

// Variables part
$range-active: ui.$gse-ui-rangeSlider-bar-selected-backgroundColor;
$thumb-block-size: ui.$gse-ui-rangeSlider-handle-height;
$thumb-inline-size: ui.$gse-ui-rangeSlider-handle-width;
$track-width: 100%;
$track-height: ui.$gse-ui-rangeSlider-bar-height;
$track-radius: 0;
$handle-enabled-background: var(
  --gse-ui-rangeSlider-handle-default-backgroundColor
);
$handle-hover-background: var(
  --gse-ui-rangeSlider-handle-hover-backgroundColor
);
$handle-active-background: var(
  --gse-ui-rangeSlider-handle-active-backgroundColor
);
$handle-border-radius: 100%;
$contrast: 5%;
$slider-border: #b4bccb;

@mixin gux-track {
  inline-size: $track-width;
  block-size: $track-height;
  cursor: pointer;
}

@mixin gux-thumb {
  display: block;
  inline-size: $thumb-inline-size;
  block-size: $thumb-block-size;
  cursor: pointer;
  background: $handle-enabled-background;
  border-radius: $handle-border-radius;
}

gux-form-field-range {
  input[type='range'] {
    position: absolute;
    inline-size: $track-width;
    block-size: $track-height;
    margin-block: calc(#{$thumb-block-size} / 2);
    margin-block-start: calc(-1 * (#{$thumb-block-size} / 2));
    margin-inline: 0;
    -webkit-appearance: none;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      @include gux-track;

      background: transparent;
    }

    &::-webkit-slider-thumb {
      @include gux-thumb;

      margin-block-start: calc(
        (#{$track-height} / 2) - (#{$thumb-block-size} / 2)
      );
      -webkit-appearance: none;
      border: 0 solid #{$range-active}; // For firefox
    }

    &:focus::-webkit-slider-runnable-track {
      background: transparent;
    }

    &::-moz-range-track {
      @include gux-track;

      background: transparent;
    }

    &::-moz-range-thumb {
      @include gux-thumb;

      margin-block-start: calc(
        (#{$track-height} / 2) - (#{$thumb-block-size} / 2)
      );
      border: 0 solid #{$range-active}; // For firefox
    }

    &::-ms-track {
      @include gux-track;

      color: transparent;
      background: transparent;
      border-color: transparent;
      border-width: $thumb-block-size 0;
    }

    &::-ms-fill-lower {
      background: transparent;
    }

    &::-ms-fill-upper {
      background: transparent;
    }

    &::-ms-thumb {
      @include gux-thumb;

      border: 0 solid #{$range-active}; // For firefox
    }

    &:focus::-ms-fill-lower {
      background: transparent;
    }

    &:focus::-ms-fill-upper {
      background: transparent;
    }
  }

  &.gux-active {
    input[type='range'],
    input[type='range']:hover {
      &::-webkit-slider-thumb {
        @include focus.gux-focus-ring;

        background-color: $handle-active-background;
      }

      &::-moz-range-thumb {
        @include focus.gux-focus-ring;

        background-color: $handle-active-background;
      }

      &::-ms-thumb {
        @include focus.gux-focus-ring;

        background-color: $handle-active-background;
      }
    }
  }

  input[type='range']:hover ~ .gux-range-tooltip-container:not(.gux-hidden),
  input[type='range']:active ~ .gux-range-tooltip-container:not(.gux-hidden) {
    visibility: visible;

    .gux-range-tooltip {
      visibility: visible;
    }
  }

  input[type='range']:hover {
    &::-webkit-slider-thumb {
      background-color: $handle-hover-background;
    }

    &::-moz-range-thumb {
      background-color: $handle-hover-background;
    }

    &::-ms-thumb {
      background-color: $handle-hover-background;
    }
  }
}
