/* Tokens
@prop $gse-ui-slider-handle-width
@prop $gse-ui-slider-handle-height
@prop $gse-ui-slider-handle-default-backgroundColor
@prop $gse-ui-slider-handle-hover-backgroundColor
@prop $gse-ui-slider-handle-active-backgroundColor
@prop $gse-ui-slider-handle-disabled-backgroundColor
@prop $gse-ui-slider-handle-borderRadius
@prop $gse-ui-slider-disabled-opacity
@prop $gse-ui-slider-label-text-fontFamily
@prop $gse-ui-slider-label-text-fontWeight
@prop $gse-ui-slider-label-text-lineHeight
@prop $gse-ui-slider-label-text-fontSize
@prop $gse-ui-slider-label-foregroundColor
@prop $gse-ui-slider-bar-selected-backgroundColor
@prop $gse-ui-slider-bar-default-backgroundColor
@prop $gse-ui-slider-bar-height
@prop $gse-ui-slider-gap
@prop $gse-ui-slider-focusRing-borderRadius
**/

@use '~genesys-spark/dist/scss/typography.scss';
@use '../../gux-form-field.scss';
@use '../../functional-components/gux-form-field-container/gux-form-field-container.scss';
@use '../../functional-components/gux-form-field-error/gux-form-field-error.scss';
@use '../../functional-components/gux-form-field-label/gux-form-field-label.scss';
@use '../../functional-components/gux-form-field-help/gux-form-field-help.scss';

@include gux-form-field-container.Style;
@include gux-form-field-error.Style;
@include gux-form-field-label.Style;
@include gux-form-field-help.Style;

// Variables part
$range-active: var(--gse-ui-rangeSlider-bar-selected-backgroundColor);
$track-width: 100%;
$track-height: var(--gse-ui-rangeSlider-bar-height);
$thumb-diameter: calc(var(--gse-ui-rangeSlider-handle-height) / 2);

@mixin gux-track {
  inline-size: $track-width;
  block-size: $track-height;
  cursor: pointer;
}

@mixin gux-thumb {
  display: block;
  inline-size: var(--gse-ui-rangeSlider-handle-width);
  block-size: var(--gse-ui-rangeSlider-handle-height);
  cursor: pointer;
  border-radius: var(--gse-ui-rangeSlider-handle-borderRadius);
}

:host {
  display: block;
}

::slotted(label) {
  @include gux-form-field.gse-ui-formControl-label-bold;
}

::slotted(input[type='range']) {
  position: absolute;
  inline-size: $track-width;
  block-size: $track-height;
  margin-block: $thumb-diameter;
  margin-block-start: calc(-1 * (#{$thumb-diameter} + #{$track-height}));
  margin-inline: 0;
  -webkit-appearance: none;
  background: transparent;
}

.gux-input-and-error-container {
  flex-grow: 1;

  &.gux-hidden {
    display: none;
  }

  .gux-range-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gse-ui-rangeSlider-gap);
    place-content: stretch flex-start;
    align-items: center;
    block-size: var(--gse-ui-rangeSlider-set-height);
    font-size: var(--gse-ui-rangeSlider-label-text-fontSize);

    &.gux-disabled {
      opacity: var(--gse-ui-rangeSlider-disabled-opacity);
    }

    .gux-range {
      position: relative;
      flex: 1 1 auto;
      align-self: center;
      order: 0;

      &:hover,
      &:focus-within {
        .gux-range-tooltip {
          visibility: visible;
        }
      }

      .gux-track {
        inline-size: 100%;
        block-size: $track-height;
        // We are not using a token for this margin below since it this 6px margin is used to center position the head on the track
        margin-block: 6px;
        margin-inline: 0;
        background: var(--gse-ui-rangeSlider-bar-default-backgroundColor);
        border-radius: var(--gse-ui-rangeSlider-track-borderRadius);

        .gux-progress {
          block-size: $track-height;
          background-color: $range-active;
          border-radius: var(--gse-ui-rangeSlider-track-borderRadius);
        }
      }
    }

    .gux-display {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
      margin-block: 0;
      margin-inline: var(--gux-spacing-medium) 0;
      font-family: var(--gse-ui-rangeSlider-label-text-fontFamily);
      font-size: var(--gse-ui-rangeSlider-label-text-fontSize);
      font-weight: var(--gse-ui-rangeSlider-label-text-fontWeight);
      line-height: var(--gse-ui-rangeSlider-label-text-lineHeight);
      text-align: end;

      &.gux-hidden {
        display: none;
      }
    }
  }
}

.gux-form-field-label.gux-beside {
  inset-block-start: 0;
}
