@use '../../../../../style/focus.scss';
@import '../../../../../style/typography.scss';

// Variables part
$range-active: var(--gse-ui-slider-bar-selected-backgroundColor);
$thumb-diameter: var(--gse-ui-slider-handle-width);
$track-width: 100%;
$track-height: var(--gse-ui-slider-bar-height);
$track-radius: 0;
$handle-enabled-background: var(--gse-ui-slider-handle-default-backgroundColor);
$handle-hover-background: var(--gse-ui-slider-handle-hover-backgroundColor);
$handle-active-background: var(--gse-ui-slider-handle-active-backgroundColor);
$handle-border-radius: 100%;
$contrast: 5%;
$slider-border: #b4bccb;

@mixin gux-track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
}

@mixin gux-thumb {
  display: block;
  width: $thumb-diameter;
  height: $thumb-diameter;
  cursor: pointer;
  background: $handle-enabled-background;
  border-radius: $handle-border-radius;
}

gux-form-field-range {
  input[type='range'] {
    position: absolute;
    width: 100%;
    width: $track-width;
    height: $track-height;
    margin: calc($thumb-diameter / 2) 0;
    margin-top: calc(-1 * calc($thumb-diameter / 2));
    -webkit-appearance: none;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      @include gux-track();

      background: transparent;
    }

    &::-webkit-slider-thumb {
      @include gux-thumb();

      margin-top: calc(calc($track-height / 2) - calc($thumb-diameter / 2));
      -webkit-appearance: none;
      border: 0 solid $range-active; // For firefox
    }

    &:focus::-webkit-slider-runnable-track {
      background: lighten(transparent, $contrast);
    }

    &::-moz-range-track {
      @include gux-track();

      background: transparent;
    }

    &::-moz-range-thumb {
      @include gux-thumb();

      margin-top: calc(calc($track-height / 2) - calc($thumb-diameter / 2));
      border: 0 solid $range-active; // For firefox
    }

    &::-ms-track {
      @include gux-track();

      color: transparent;
      background: transparent;
      border-color: transparent;
      border-width: $thumb-diameter 0;
    }

    &::-ms-fill-lower {
      background: darken(transparent, $contrast);
    }

    &::-ms-fill-upper {
      background: transparent;
    }

    &::-ms-thumb {
      @include gux-thumb();

      border: 0 solid $range-active; // For firefox
    }

    &:focus::-ms-fill-lower {
      background: transparent;
    }

    &:focus::-ms-fill-upper {
      background: lighten(transparent, $contrast);
    }
  }

  &.gux-active {
    input[type='range'],
    input[type='range']:hover {
      &::-webkit-slider-thumb {
        @include gux-focus-ring();

        background-color: $handle-active-background;
      }

      &::-moz-range-thumb {
        @include gux-focus-ring();

        background-color: $handle-active-background;
      }

      &::-ms-thumb {
        @include gux-focus-ring();

        background-color: $handle-active-background;
      }
    }
  }

  input[type='range']:hover ~ .gux-range-tooltip-container:not(.gux-hidden),
  input[type='range']:active ~ .gux-range-tooltip-container:not(.gux-hidden) {
    visibility: visible;

    .gux-range-tooltip {
      visibility: visible;
    }
  }

  input[type='range']:hover {
    &::-webkit-slider-thumb {
      background-color: $handle-hover-background;
    }

    &::-moz-range-thumb {
      background-color: $handle-hover-background;
    }

    &::-ms-thumb {
      background-color: $handle-hover-background;
    }
  }
}
