@import (reference) '../../../style/color.less';
@import (reference) '../../../style/typography.less';

// Style
gux-calendar {
  display: inline-block;
  margin-top: -4px;

  div.gux-calendar {
    border: 1px solid @gux-black-100;

    .gux-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 16px;
      padding: 16px;
      background-color: @gux-blue-60;
      color: @gux-grey-100;

      button {
        position: absolute;
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        padding: 5px;
        color: @gux-grey-100;

        &:focus {
          outline: @gux-blue-80 auto 5px;
        }

        &.gux-left {
          left: 18px;
        }

        &.gux-right {
          right: 18px;
        }

        gux-icon {
          width: 13px;
          height: 13px;
          pointer-events: none;
        }
      }

      .gux-month-list {
        display: flex;
        justify-content: space-between;
        width: 100%;

        label {
          width: 100%;
          text-align: center;
          .body-font();
          .bold-font();
        }
      }
    }

    .gux-content {
      display: flex;
      padding: 16px 22px 20px 22px;
      background-color: @gux-grey-100;
      color: @gux-black-50;

      table {
        table-layout: fixed;
        text-align: left;
        border-spacing: 0;
        width: 168px;
        -ms-user-select: none;
        user-select: none;

        &:not(:last-child) {
          padding-right: 24px;
        }

        tr {
          height: 24px;

          &:empty {
            display: none;
          }

          th {
            text-align: center;
            width: 24px;
            margin: 0;
            .body-font();
            .bold-font();
          }

          td {
            text-align: center;
            width: 24px;
            margin: 0;
            cursor: pointer;
            .body-font();

            &.gux-hovered {
              background-color: @gux-blue-100;
            }

            &.gux-selected {
              background-color: @gux-blue-60;
              color: @gux-grey-100;
            }

            &:hover {
              background-color: @gux-blue-60;
              color: @gux-grey-100;
            }

            &.gux-disabled {
              opacity: 0.5;
              pointer-events: none;
            }

            &.gux-not-in-month {
              color: @gux-grey-10;

              &:hover {
                background-color: @gux-border;
                color: @gux-black-50;
              }

              &.gux-hidden {
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}
