@mixin gux-percentage-state-style {
  div[role='progressbar'] {
    .gux-svg-container {
      display: block;
      width: calc(var(--gse-ui-progressAndLoading-spinner-large) * 1px);
      height: calc(var(--gse-ui-progressAndLoading-spinner-large) * 1px);

      .gux-dynamic-circle {
        fill: none;
        stroke: var(--gse-ui-progressAndLoading-spinner-foreground);
        stroke-width: 4; //TODO https://inindca.atlassian.net/browse/COMUI-2226
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
      }

      .gux-static-circle {
        fill: none;
        stroke: var(--gse-ui-progressAndLoading-spinner-base);
        stroke-width: 4; //TODO https://inindca.atlassian.net/browse/COMUI-2226
      }

      .gux-percentage {
        font-family: var(--gse-ui-progressAndLoading-spinner-text-fontFamily);
        font-size: var(--gse-ui-progressAndLoading-spinner-text-fontSize);
        font-weight: var(--gse-ui-progressAndLoading-spinner-text-fontWeight);
        line-height: var(--gse-ui-progressAndLoading-spinner-text-lineHeight);
        text-anchor: middle;
        fill: var(--gse-ui-progressAndLoading-textColor);
      }
    }
  }
}
