@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

.editor-styles {
  font-family: ui.$gse-ui-rte-paragraph-md-regular-fontFamily;
  font-size: ui.$gse-ui-rte-paragraph-md-regular-fontSize;
  font-weight: ui.$gse-ui-rte-paragraph-md-regular-fontWeight;
  line-height: ui.$gse-ui-rte-paragraph-md-regular-lineHeight;
  color: ui.$gse-ui-rte-paragraph-foregroundColor;
  outline: none;

  p {
    margin: 0;
  }

  a {
    cursor: pointer;
  }

  blockquote {
    margin: ui.$gse-ui-rte-quoteBlock-margin;
    border-inline-start: ui.$gse-ui-rte-quoteBlock-borderLeft-width solid
      ui.$gse-ui-rte-quoteBlock-borderLeft-color;

    p {
      margin-inline-start: ui.$gse-ui-rte-quoteBlock-container-gap;
      font-family: ui.$gse-ui-rte-quoteBlock-md-regular-fontFamily;
      font-size: ui.$gse-ui-rte-quoteBlock-md-regular-fontSize;
      font-weight: ui.$gse-ui-rte-quoteBlock-md-regular-fontWeight;
      line-height: ui.$gse-ui-rte-quoteBlock-md-regular-lineHeight;
      color: ui.$gse-ui-rte-quoteBlock-foregroundColor;
    }
  }

  pre {
    padding: ui.$gse-ui-rte-codeBlock-padding;
    background-color: ui.$gse-ui-rte-codeBlock-backgroundColor;
    border: ui.$gse-ui-rte-codeBlock-border-width
      ui.$gse-ui-rte-codeBlock-border-style
      ui.$gse-ui-rte-codeBlock-border-color;
    border-radius: ui.$gse-ui-rte-codeBlock-borderRadius;

    code {
      font-family: ui.$gse-ui-rte-codeBlock-sm-regular-fontFamily;
      font-size: ui.$gse-ui-rte-codeBlock-sm-regular-fontSize;
      font-weight: ui.$gse-ui-rte-codeBlock-sm-regular-fontWeight;
      line-height: ui.$gse-ui-rte-codeBlock-sm-regular-lineHeight;
      color: ui.$gse-ui-rte-codeBlock-foregroundColor;
      white-space: pre-wrap;
    }
  }
}
