.editor-styles {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #23395d;
  outline: none;

  pre {
    white-space: pre-wrap;
  }

  p {
    margin: 0;
  }

  blockquote {
    border-left: 2px solid #a8b4e2;

    p {
      margin-left: 4px;
    }
  }

  a {
    color: #4856cb;
    cursor: pointer;
  }

  pre {
    background-color: #f3f5fb;
    border: 1px solid #c6c8ce;
    border-radius: 4px;
  }
}
