@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

:host {
  display: block;
}

:host([style*='resize']) {
  overflow: auto;
  resize: inherit;
}

.gux-rich-text-editor-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: ui.$gse-ui-rte-innerContainer-gap;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  padding: ui.$gse-ui-rte-padding;
  overflow: hidden scroll;
  background-color: ui.$gse-ui-formControl-input-backgroundColor;
  border: ui.$gse-ui-rte-mainContainer-default-border-width
    ui.$gse-ui-rte-mainContainer-default-border-color
    ui.$gse-ui-rte-mainContainer-default-border-style;
  border-radius: ui.$gse-ui-rte-container-borderRadius;

  .gux-rich-text-editor-toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .gux-global-action-container {
      margin-inline-start: auto;
    }
  }

  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    user-select: none;
    border: ui.$gse-ui-rte-mainContainer-disabled-border-width
      ui.$gse-ui-rte-mainContainer-disabled-border-color
      ui.$gse-ui-rte-mainContainer-disabled-border-style;
    opacity: 0.5;
  }

  &:active:enabled {
    border: ui.$gse-ui-rte-mainContainer-active-border-width
      ui.$gse-ui-rte-mainContainer-active-border-color
      ui.$gse-ui-rte-mainContainer-active-border-style;
  }

  &:focus-within:not(.gux-disabled),
  &:hover:not(.gux-disabled) {
    border: ui.$gse-ui-rte-mainContainer-hover-border-width
      ui.$gse-ui-rte-mainContainer-hover-border-color
      ui.$gse-ui-rte-mainContainer-hover-border-style;
  }

  &:focus-within:not(.gux-disabled) {
    outline: ui.$gse-ui-rte-mainContainer-focus-border-width
      ui.$gse-ui-rte-mainContainer-focus-border-color
      ui.$gse-ui-rte-mainContainer-focus-border-style;
  }
}
