.gux-rich-text-editor-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 707px;
  height: 230px;
  padding: 8px 16px;
  overflow: auto;
  border: 1px #a3a7b0 solid;
  border-radius: 4px;

  .gux-rich-text-editor-toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &.gux-disabled {
    pointer-events: none;
    cursor: default;
    user-select: none;
    opacity: 0.5;

    .tiptap {
      p {
        user-select: none;
      }
    }
  }

  &:hover:not(.gux-disabled) {
    border: 1px #3742a2 solid;
  }

  .gux-rich-text-editor {
    .prosemirror pre {
      white-space: pre-wrap;
    }

    .tiptap {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #23395d;
      outline: none;

      p {
        margin: 0;
      }

      blockquote {
        border-left: 2px solid #a8b4e2;

        p {
          margin-left: 4px;
        }
      }

      pre {
        background-color: #f3f5fb;
        border: 1px solid #c6c8ce;
        border-radius: 4px;
      }
    }
  }
}
