@use 'sass:color';

gux-tabs {
  &[orientation='vertical'] {
    height: 100%;

    > gux-tab-list {
      .gux-tab-container {
        display: flex;
        flex-direction: column;
        width: var(--gse-ui-tabs-set-vertical-width);
        height: 100%;
        margin-right: var(--gse-ui-tabs-set-vertical-marginRight);
        border-right: var(--gse-ui-tabs-item-divider-horizontal-height) solid
          var(--gse-ui-tabs-item-divider-dividerColor);

        .gux-scroll-button-container {
          width: 100%;

          button {
            width: 100%;
          }
        }

        .gux-scrollable-section {
          flex-direction: column;
          height: 100%;
          overflow-y: auto;
          scrollbar-width: none; /* Firefox */
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scroll-behavior: smooth;

          &::-webkit-scrollbar {
            /* WebKit */
            width: 0;
            height: 0;
          }
        }
      }
    }
  }

  &:not([orientation='vertical']) {
    > gux-tab-list {
      .gux-tab-container {
        height: var(--gse-ui-tabs-set-horizontal-height);
        margin-bottom: var(--gse-ui-tabs-set-horizontal-marginBottom);
        border-bottom: var(--gse-ui-tabs-item-divider-horizontal-height) solid
          var(--gse-ui-tabs-item-divider-dividerColor);
      }

      .gux-scrollable-section {
        overflow-x: auto;
      }
    }
  }

  .gux-tab-container {
    box-sizing: content-box;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
  }

  .gux-scrollable-section {
    display: flex;
    flex: 1 1 auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .gux-scroll-button-container {
    display: flex;
    border-radius: 4px; // TODO: COMUI-2341. Should we use button tokens here ?

    .gux-scroll-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 40px;
      color: #202937;
      cursor: pointer;
      background-color: #e2e6ee;
      border: none;
      border-radius: 4px;

      gux-icon {
        width: 16px;
        height: 16px;
      }

      &:hover:not(:disabled) {
        background-color: #d7dce5;
      }

      &:active:not(:disabled) {
        background-color: color.adjust(#e2e6ee, $lightness: -5%);
      }

      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}
