@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '~genesys-spark/dist/scss/typography.scss';

::slotted(button:active:enabled) {
  color: ui.$gse-ui-links-active-foregroundColor;
  text-decoration: underline;
  background: none;
}

slot[name='start-align-buttons']::slotted(:not(button, gux-button-slot)) {
  display: flex;
  flex-direction: row;
  gap: ui.$gse-ui-modal-buttonBar-gap;
  align-content: flex-start;
  align-items: center;
}

:host {
  dialog {
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    background-color: ui.$gse-ui-modal-backgroundColor;
    border: none;
    border-radius: ui.$gse-ui-modal-borderRadius;
    box-shadow: ui.$gse-ui-modal-boxShadow;

    &::backdrop {
      background: ui.$gse-ui-modal-shroudColor;
    }

    .gux-modal-container {
      display: flex;
      flex-direction: column;

      &.gux-small {
        inline-size: ui.$gse-ui-modal-small-width;
        max-block-size: min(368px, 100vh - 2 * #{24px});
      }

      &.gux-medium {
        inline-size: min(#{ui.$gse-ui-modal-medium-width}, 100vw - 48px);
        max-block-size: min(640px, 100vh - 2 * #{24px});
      }

      &.gux-large {
        inline-size: min(#{ui.$gse-ui-modal-large-width}, 100vw - 48px);
        max-block-size: min(640px, 100vh - 2 * #{24px});
      }

      &.gux-dynamic {
        max-inline-size: calc(100vw - 2 * 24px);
        max-block-size: calc(100vh - 2 * 24px);

        .gux-modal-content {
          max-block-size: none;
        }
      }

      .gux-modal-header {
        padding-block-start: ui.$gse-ui-modal-padding;
        padding-inline: ui.$gse-ui-modal-padding;
        margin: 0;
        font-family: ui.$gse-ui-modal-heading-fontFamily;
        font-size: ui.$gse-ui-modal-heading-fontSize;
        font-weight: ui.$gse-ui-modal-heading-fontWeight;
        line-height: ui.$gse-ui-modal-heading-lineHeight;
        color: ui.$gse-ui-modal-headerColor;
      }

      .gux-modal-content {
        max-block-size: 432px;
        padding-inline: ui.$gse-ui-modal-padding;
        margin-block-start: ui.$gse-ui-modal-gap;
        overflow-y: auto;
        color: global.$gse-semantic-foreground-container-highEmphasis;
      }

      .gux-button-footer {
        display: flex;
        justify-content: space-between;
        padding-block-end: ui.$gse-ui-modal-padding;
        padding-inline: ui.$gse-ui-modal-padding;
        margin-block-start: ui.$gse-ui-modal-gap;

        &.gux-no-buttons {
          display: none;
        }
      }

      footer {
        padding-block-end: ui.$gse-ui-modal-padding;
        padding-inline: ui.$gse-ui-modal-padding;
        margin-block-start: ui.$gse-ui-modal-gap;
      }
    }

    .gux-modal-container {
      @media (max-width: 416px) {
        &.gux-small,
        &.gux-medium,
        &.gux-large {
          inline-size: 100%;
          block-size: 100%;
        }
      }
    }
  }
}
