@use '~genesys-spark/dist/scss/typography.scss';

::slotted(button:active:enabled) {
  color: var(
    --gse-ui-link-active-foregroundColor,
    var(--gse-ui-links-active-foregroundColor)
  );
  text-decoration: underline;
  background: none;
}

slot[name='start-align-buttons']::slotted(:not(button, gux-button-slot)) {
  display: flex;
  flex-direction: row;
  gap: var(--gse-ui-modal-buttonBar-gap);
  align-content: flex-start;
  align-items: center;
}

:host {
  dialog {
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    border: none;
    border-radius: var(--gse-ui-modal-borderRadius);
    box-shadow: var(
        --gse-ui-modal-boxShadow-x,
        var(--gse-ui-modal-boxShadow-offsetX)
      )
      var(--gse-ui-modal-boxShadow-y, var(--gse-ui-modal-boxShadow-offsetY))
      var(--gse-ui-modal-boxShadow-blur) var(--gse-ui-modal-boxShadow-spread)
      var(--gse-ui-modal-boxShadow-color);

    &::backdrop {
      // token isn't working?
      // background: var(--gse-ui-modal-shroudColor);
      background: #4d6182cc;
    }

    .gux-modal-container {
      display: flex;
      flex-direction: column;

      &.gux-small {
        width: var(--gse-ui-modal-small-width);
        max-height: min(368px, 100vh - 2 * #{24px});
      }

      &.gux-medium {
        width: min(var(--gse-ui-modal-medium-width), 100vw - 48px);
        max-height: min(640px, 100vh - 2 * #{24px});
      }

      &.gux-large {
        width: min(var(--gse-ui-modal-large-width), 100vw - 48px);
        max-height: min(640px, 100vh - 2 * #{24px});
      }

      &.gux-dynamic {
        max-width: calc(100vw - 2 * 24px);
        max-height: calc(100vh - 2 * 24px);

        .gux-modal-content {
          max-height: none;
        }
      }

      .gux-modal-header {
        padding-top: var(--gse-ui-modal-padding);
        padding-right: var(--gse-ui-modal-padding);
        padding-left: var(--gse-ui-modal-padding);
        margin: 0;
        font-family: var(--gse-ui-modal-heading-fontFamily);
        font-size: var(--gse-ui-modal-heading-fontSize);
        font-weight: var(--gse-ui-modal-heading-fontWeight);
        line-height: var(--gse-ui-modal-heading-lineHeight);
        color: var(--gse-ui-modal-headerColor);
      }

      .gux-modal-content {
        max-height: 432px;
        padding-right: var(--gse-ui-modal-padding);
        padding-left: var(--gse-ui-modal-padding);
        margin-top: var(--gse-ui-modal-gap);
        overflow-y: auto;
      }

      .gux-button-footer {
        display: flex;
        justify-content: space-between;
        padding-right: var(--gse-ui-modal-padding);
        padding-bottom: var(--gse-ui-modal-padding);
        padding-left: var(--gse-ui-modal-padding);
        margin-top: var(--gse-ui-modal-gap);

        &.gux-no-buttons {
          display: none;
        }
      }
    }

    .gux-modal-container {
      @media (max-width: 416px) {
        &.gux-small,
        &.gux-medium,
        &.gux-large {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
