@use '~genesys-spark/dist/beta/tokens/flare/global.scss';
@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';
@use '../gux-form-field/gux-form-field.scss';
@use '~genesys-spark/dist/scss/mixins.scss';

@mixin gse-ui-focus {
  outline: ui.$gse-ui-formControl-input-focus-border-width
    ui.$gse-ui-formControl-input-focus-border-style
    ui.$gse-ui-formControl-input-focus-border-color;
  outline-offset: global.$gse-semantic-focusOutline-offset;
  border: ui.$gse-ui-formControl-input-active-border-width
    ui.$gse-ui-formControl-input-active-border-style
    ui.$gse-ui-formControl-input-active-border-color;
  border-radius: ui.$gse-ui-formControl-focusRing-borderRadius;
}

:host {
  display: block;
  inline-size: fit-content;
}

.gux-datepicker {
  display: flex;

  &.gux-disabled {
    pointer-events: none;
    cursor: default;

    .gux-datepicker-field {
      .gux-datepicker-field-input {
        opacity: ui.$gse-ui-datePicker-disabled-opacity;
      }
    }
  }

  .gux-datepicker-field {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: flex-start flex-start;
    align-items: center;
    inline-size: 100%;

    ~ .gux-datepicker-field {
      margin-inline-start: ui.$gse-ui-datePicker-range-gap;
    }

    &.gux-above {
      flex-direction: column;
      align-items: self-start;

      .gux-datepicker-field-input {
        margin-block-start: 0;
      }

      .gux-datepicker-field-label {
        margin-inline-end: 0;
      }
    }

    .gux-datepicker-field-label {
      flex: 0 1 auto;
      align-self: auto;
      order: 0;
      margin-inline-end: ui.$gse-ui-formControl-helper-gap;

      @include gux-form-field.gse-ui-formControl-label-bold;
    }

    .gux-datepicker-field-input {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: ui.$gse-ui-formControl-input-gap;
      place-content: stretch center;
      align-items: center;
      inline-size: 100%;
      block-size: ui.$gse-ui-formControl-input-textfield-height;
      padding: ui.$gse-ui-formControl-input-padding;
      color: ui.$gse-ui-formControl-input-populatedColor;
      white-space: nowrap;
      background-color: ui.$gse-ui-formControl-input-backgroundColor;
      background-image: none;
      border: ui.$gse-ui-formControl-input-default-border-width
        ui.$gse-ui-formControl-input-default-border-style
        ui.$gse-ui-formControl-input-default-border-color;
      border-radius: ui.$gse-ui-formControl-input-borderRadius;

      &:hover {
        border: ui.$gse-ui-formControl-input-hover-border-width
          ui.$gse-ui-formControl-input-hover-border-style
          ui.$gse-ui-formControl-input-hover-border-color;
      }

      &:focus-within {
        @include gse-ui-focus;
      }

      &.gux-active {
        @include gse-ui-focus;
      }

      .gux-datepicker-field-text-input {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        flex-wrap: nowrap;

        input {
          flex: 1 1 auto;
          align-self: auto;
          order: 0;
          inline-size: calc(
            #{ui.$gse-ui-calendarMenu-day-input-width} -
              #{ui.$gse-ui-icon-small-size}
          );
          padding: 0;
          overflow: hidden;
          font-family: ui.$gse-ui-formControl-input-contentText-fontFamily;
          font-size: ui.$gse-ui-formControl-input-contentText-fontSize;
          font-weight: ui.$gse-ui-formControl-input-contentText-fontWeight;
          line-height: ui.$gse-ui-formControl-input-contentText-lineHeight;
          color: ui.$gse-ui-formControl-input-populatedColor;
          outline: none;
          background-color: ui.$gse-ui-formControl-input-backgroundColor;
          border: none;

          &::placeholder {
            color: ui.$gse-ui-formControl-input-placeholderColor;
            opacity: 1;
          }

          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
          }
        }

        button {
          // Also make the button itself a flex container to ensure vertical centering.
          display: flex;
          flex: 0 1 auto;
          align-items: center;
          align-self: auto;
          justify-content: center;
          order: 0;
          padding: 0;
          color: ui.$gse-ui-formControl-input-inputIcon-iconEndColor;
          outline: none;
          background: transparent;
          border: none;
          border-radius: ui.$gse-ui-actionButton-borderRadius;

          &:focus-within {
            @include gse-ui-focus;

            outline-offset: ui.$gse-ui-datePicker-focusCalendar-gap;
            border: none;
            border-radius: var(
              --gse-ui-calendarMenu-month-calendarButton-focusBorderRadius
            );
          }

          &:not(:disabled):focus-visible,
          &:not(:disabled):hover {
            color: ui.$gse-ui-datePicker-iconHover;
            cursor: pointer;
          }
        }
      }

      gux-calendar {
        position: fixed;
        z-index: global.$gse-semantic-zIndex-popup;
        display: none;
      }
    }
  }

  &.gux-active {
    .gux-datepicker-field {
      .gux-datepicker-field-input {
        .gux-datepicker-field-text-input {
          button {
            color: ui.$gse-ui-formControl-input-inputIcon-iconEndColor;

            &:not(:disabled):focus-visible,
            &:not(:disabled):hover {
              color: ui.$gse-ui-formControl-input-inputIcon-iconEndColor;
            }
          }
        }

        gux-calendar {
          display: block;
        }
      }
    }
  }
}

.gux-sr-only {
  @include mixins.gux-sr-only;
}
