<h1>Default</h1>
<gux-column-chart-beta id="chart-1"> </gux-column-chart-beta>

<h1>Layered</h1>
<gux-column-chart-beta id="chart-2"> </gux-column-chart-beta>

<h1>Legend</h1>
<gux-column-chart-beta id="chart-3"> </gux-column-chart-beta>

<style
  onload="(function() {
    const chart1 = document.querySelector('#chart-1');
    const chart2 = document.querySelector('#chart-2');
    const chart3 = document.querySelector('#chart-3');

    chart1.addEventListener('chartClicked', (event) => console.log(event));

    chart1.chartData = {'values': [
    {'category': 'a', 'value': 4},
    {'category': 'b', 'value': 6},
    {'category': 'c', 'value': 10},
    {'category': 'd', 'value': 3},
    {'category': 'e', 'value': 10},
    {'category': 'f', 'value': 20}
  ]
}

chart2.chartData = { 'values': [
      {
        'date': 'Sun May 01 2021 00:00:00 GMT-0400 (Eastern Daylight Time)',
        'value': 5,
        'series': 'abandon'
      },
      {
        'date': 'Sun May 01 2021 00:00:00 GMT-0400 (Eastern Daylight Time)',
        'value': 10,
        'series': 'answer'
      },
      {
        'date': 'Sun May 02 2021 00:00:00 GMT-0400 (Eastern Daylight Time)',
        'value': 10,
        'series': 'answer'
      },
      {
        'date': 'Sun May 03 2021 00:00:00 GMT-0400 (Eastern Daylight Time)',
        'value': 100,
        'series': 'answer'
      },
      {
        'date': 'Sun May 04 2021 00:00:00 GMT-0400 (Eastern Daylight Time)',
        'value': 0,
        'series': 'answer'
      }
    ]};

chart2.chartLayer = [
    {
      'mark': 'bar',
      'transform': [{
        'filter': {'field': 'series', 'equal': 'answer'}
        }],
      'encoding': {
          'x': {
            'timeUnit': 'yearmonthdate',
            'field': 'date',
            'type': 'ordinal',
            'title': 'time',
            'series': 'answer',
            'axis': {'format': '%b %e'},

          },
          'y': {
            'field': 'value',
            'type': 'quantitative',
            'title': null,
          }
      }
    },
    {
      'mark': 'bar',
      'transform': [{
        'filter': {'field': 'series', 'equal': 'abandon'}
        }],
      'encoding': {
          'x': {
            'timeUnit': 'yearmonthdate',
            'field': 'date',
            'type': 'ordinal',
            'title': 'time',
            'series': 'abandon',
            'axis': {'format': '%b %e'}
          },
          'y': {
            'field': 'value',
            'type': 'quantitative',
            'title': null,
          }
      }
    }

  ]

  chart3.chartData = {'values': [
    {'category': 'a', 'value': 4},
    {'category': 'b', 'value': 6},
    {'category': 'c', 'value': 10},
    {'category': 'd', 'value': 3},
    {'category': 'e', 'value': 10},
    {'category': 'f', 'value': 20}
  ]
}
  chart3.chartEncoding = {
      'x': { field: 'category', type: 'nominal' },
      'y': { field: 'value', type: 'quantitative' },
      'color': { field: 'category'}
    }

  })()"
>
  --noop: none;
</style>
