:host {
  &:first-child {
    .gux-header {
      border-top: var(--gse-ui-accordion-wrapper-dividerBorder-width)
        var(--gse-ui-accordion-wrapper-dividerBorder-style)
        var(--gse-ui-accordion-wrapper-dividerBorder-color);
    }
  }
}

section.gux-disabled {
  cursor: default;
  opacity: 0.5;

  > * {
    pointer-events: none;
  }
}

.gux-header {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: center flex-start;
  align-items: center;
  width: 100%;
  padding: var(--gse-ui-accordion-header-padding);
  margin: 0;
  cursor: pointer;
  border-bottom: var(--gse-ui-accordion-wrapper-dividerBorder-width)
    var(--gse-ui-accordion-wrapper-dividerBorder-style)
    var(--gse-ui-accordion-wrapper-dividerBorder-color);

  .gux-header-text {
    flex: 1 1 auto;
    align-self: auto;
    font-weight: var(--gse-ui-accordion-header-label-defaultText-fontWeight);
    color: var(--gse-ui-accordion-header-default-foreground-labelColor);
    text-align: left;
  }

  &.gux-reverse-headings {
    & .gux-header-text {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  ::slotted([slot='header']) {
    padding: 0;
    margin: 0;
    font-family: var(
      --gse-ui-accordion-header-label-defaultText-fontFamily
    ) !important;
    font-size: var(
      --gse-ui-accordion-header-label-defaultText-fontFamily
    ) !important;
    font-weight: var(
      --gse-ui-accordion-header-label-defaultText-fontWeight
    ) !important;
    line-height: var(
      --gse-ui-accordion-header-label-defaultText-lineHeight
    ) !important;
    color: var(--gse-ui-accordion-header-default-foreground-labelColor);
  }

  ::slotted([slot='subheader']) {
    // TODO COMUI-2370. Missing tokens for subheaders text styling.
    padding: 0;
    margin: var(--gux-spacing-3xs) 0 0;
    font-family: var(
      --gse-ui-accordion-contentItem-defaultText-fontFamily
    ) !important;
    font-size: var(
      --gse-ui-accordion-contentItem-defaultText-fontSize
    ) !important;
    font-weight: var(
      --gse-ui-accordion-contentItem-defaultText-fontWeight
    ) !important;
    line-height: var(
      --gse-ui-accordion-contentItem-defaultText-lineHeight
    ) !important;
    color: var(--gse-ui-accordion-contentItem-foregroundColor);

    .gux-reverse-headings {
      margin: 0 0 var(--gux-spacing-3xs) 0; // missing token COMUI-1678
    }
  }

  ::slotted([slot='icon']) {
    flex: 0 0 auto;
    align-self: flex-start;
    width: var(--gse-ui-icon-size-sm, --gse-ui-icon-small-size);
    height: var(--gse-ui-icon-size-sm, --gse-ui-icon-small-size);
    margin-right: var(--gse-ui-accordion-header-gap);
    color: var(--gse-ui-accordion-header-default-foreground-chevronIcon-closed);

    .gux-reverse-headings {
      align-self: flex-end;
    }
  }

  .gux-header-icon {
    flex: 0 1 auto;
    align-items: center;
    align-self: auto;
    margin-left: var(--gse-ui-accordion-header-gap);
    color: var(--gse-ui-accordion-header-default-foreground-chevronIcon-closed);
    transition: transform 0.5s ease;
    transform-origin: center;

    gux-icon {
      width: var(--gse-ui-accordion-header-chevronIcon);
      height: var(--gse-ui-accordion-header-chevronIcon);
    }

    &.gux-arrow-position-start {
      order: -1;
      margin-right: var(--gse-ui-accordion-header-gap);
    }

    &.gux-expanded {
      color: var(--gse-ui-accordion-header-default-foreground-chevronIcon-open);
      transform: rotate(-180deg);
    }
  }

  &:focus-visible {
    border-radius: var(--gse-ui-accordion-menuItem-focus-borderRadius);
    outline: var(--gse-ui-accordion-focusBorder-width)
      var(--gse-ui-accordion-focusBorder-style)
      var(--gse-ui-accordion-focusBorder-color);
    outline-offset: var(--gse-ui-accordion-focus-offset-gap);
  }

  &:hover {
    .gux-header-icon {
      color: var(
        --gse-ui-accordion-header-default-foreground-chevronIcon-hover
      );
    }
  }
}

.gux-content {
  box-sizing: border-box;
  display: none;
  border-bottom: var(--gse-ui-accordion-wrapper-dividerBorder-width)
    var(--gse-ui-accordion-wrapper-dividerBorder-style)
    var(--gse-ui-accordion-wrapper-dividerBorder-color);

  &.gux-expanded {
    display: block;
  }

  &.gux-text-content-layout {
    padding: var(--gse-ui-accordion-contentItem-padding);
  }

  ::slotted([slot='content']) {
    margin: 0;
  }
}
