@import (reference) '../../../style/color.less';

// Style
gux-popup-beta {
  isolation: isolate;

  .gux-target-container {
    &.gux-disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }

  .gux-popup-container {
    z-index: 1;
    visibility: hidden;

    &.gux-expanded {
      visibility: visible;
    }
  }
}
