<h1>gux-card-beta</h1>
<h2>Outline Card</h2>
<gux-card-beta>
  <h2>Outcome Details</h2>
  <gux-form-field-text-like label-position="above">
    <input
      slot="input"
      type="text"
      name="a-2"
      placeholder="Please enter a name"
      required
    />
    <label slot="label">Name</label>
  </gux-form-field-text-like>
  <gux-form-field-text-like label-position="above">
    <input
      slot="input"
      type="text"
      name="a-2"
      placeholder="Please enter a description"
    />
    <label slot="label">Description</label>
  </gux-form-field-text-like>
  <gux-card-beta accent="filled">
    <div class="card-content">
      <label>Status</label>
      <gux-toggle
        checked-label="The outcome is active."
        unchecked-label="The outcome is not active."
      ></gux-toggle>
    </div>
  </gux-card-beta>
</gux-card-beta>
<h2>Outline Card (Explicity Set)</h2>
<gux-card-beta accent="outline">
  <h2>Define your outcome conditions</h2>
  <gux-card-beta accent="filled">
    <p>What activity type should be used to achieve this outcome?</p>
    <gux-form-field-select label-position="beside">
      <select slot="input" name="lp-1">
        <option value="option1">Session 1</option>
        <option value="option2">Session 2</option>
        <option value="option3">Session 3</option>
      </select>
      <label slot="label">Session Type</label>
    </gux-form-field-select>
  </gux-card-beta>
  <gux-button class="button-styling">Add Event</gux-button>
</gux-card-beta>
<h2>Filled Card</h2>
<gux-card-beta accent="filled">
  <p>What session type is required for this action to be performed?</p>
  <gux-form-field-select label-position="beside">
    <select slot="input" name="lp-1">
      <option value="option1">Session 1</option>
      <option value="option2">Session 2</option>
      <option value="option3">Session 3</option>
    </select>
    <label slot="label">Session Type</label>
  </gux-form-field-select>
</gux-card-beta>
<h2>Raised Card</h2>
<gux-card-beta accent="raised">
  <h2>Define your Visitor Characteristics</h2>
  <gux-card-beta accent="filled">
    <p>All characteristics must be met for outcome to be achieved.</p>
    <gux-button>Add Characteristic</gux-button>
  </gux-card-beta>
</gux-card-beta>

<style>
  gux-form-field-text-like {
    width: 700px;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .button-styling {
    margin-top: 8px;
  }
</style>
