<h1>gux-popup</h1>
<gux-popup>
  <gux-button
    slot="target"
    onClick='(function(event) {
      const popup = event.target.closest("gux-popup");
      popup.expanded = !popup.expanded;
    })(event)'
    >Target</gux-button
  >
  <gux-list slot="popup">
    <gux-list-item>Item 1</gux-list-item>
    <gux-list-item>Item 2</gux-list-item>
    <gux-list-item>Item 3</gux-list-item>
    <gux-list-item>Item 4</gux-list-item>
    <gux-list-item>Item 5</gux-list-item>
    <gux-list-item>Item 6</gux-list-item>
  </gux-list>
</gux-popup>
