.gux-toast {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gse-ui-toast-gap);
  place-content: stretch flex-start;
  align-items: flex-start;
  inline-size: var(--gse-ui-toast-wrappingWidth);
  padding: var(--gse-ui-toast-margin);
  margin-block-end: var(--gse-ui-toast-stacking-gap);
  border-radius: var(--gse-ui-toast-borderRadius);
  box-shadow: var(--gse-ui-toast-boxShadow-offsetX)
    var(--gse-ui-toast-boxShadow-offsetY) var(--gse-ui-toast-boxShadow-blur)
    var(--gse-ui-toast-boxShadow-spread) var(--gse-ui-toast-boxShadow-color);

  .gux-icon {
    ::slotted(gux-icon) {
      inline-size: var(--gse-ui-toast-icon) !important;
      block-size: var(--gse-ui-toast-icon) !important;
    }

    gux-icon {
      inline-size: var(--gse-ui-toast-icon) !important;
      block-size: var(--gse-ui-toast-icon) !important;
    }

    &.gux-icon-error {
      color: var(--gse-ui-toast-error-iconColor);
    }

    &.gux-icon-warning {
      color: var(--gse-ui-toast-warning-iconColor);
    }

    &.gux-icon-success {
      color: var(--gse-ui-toast-success-iconColor);
    }

    &.gux-icon-info {
      color: var(--gse-ui-toast-info-iconColor);
    }

    &.gux-icon-action {
      color: var(--gse-ui-toast-action-iconColor);
    }
  }

  .gux-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--gse-ui-toast-gapButton);
    place-content: stretch flex-start;
    align-items: flex-start;
    align-self: auto;
    order: 0;

    .gux-message {
      display: flex;
      flex-direction: column;
      gap: var(--gse-ui-toast-gapText);

      .gux-message-title {
        font-family: var(--gse-ui-toast-heading-fontFamily);
        font-size: var(--gse-ui-toast-heading-fontSize);
        font-weight: var(--gse-ui-toast-heading-fontWeight);
        line-height: var(--gse-ui-toast-heading-lineHeight);
      }

      .gux-message-body {
        font-family: var(--gse-ui-toast-text-fontFamily);
        font-size: var(--gse-ui-toast-text-fontSize);
        line-height: var(--gse-ui-toast-text-lineHeight);
      }
    }

    .gux-buttons-bar {
      inline-size: 100%;

      ::slotted(a) {
        font-family: var(
          --gse-ui-links-inLine-medium-underlinedText-fontFamily
        );
        font-size: var(--gse-ui-links-inLine-medium-underlinedText-fontSize);
        font-weight: var(
          --gse-ui-links-inLine-medium-underlinedText-fontWeight
        );
        line-height: var(
          --gse-ui-links-inLine-medium-underlinedText-lineHeight
        );
      }
    }
  }

  &.gux-toast-success {
    background-color: var(--gse-ui-toast-success-backgroundColor);

    .gux-message {
      color: var(--gse-ui-toast-success-foregroundColor);
    }
  }

  &.gux-toast-warning {
    background-color: var(--gse-ui-toast-warning-backgroundColor);

    .gux-message {
      color: var(--gse-ui-toast-warning-foregroundColor);
    }
  }

  &.gux-toast-error {
    background-color: var(--gse-ui-toast-error-backgroundColor);

    .gux-message {
      color: var(--gse-ui-toast-error-foregroundColor);
    }
  }

  &.gux-toast-info {
    background-color: var(--gse-ui-toast-info-backgroundColor);

    .gux-message {
      color: var(--gse-ui-toast-info-foregroundColor);
    }
  }

  &.gux-toast-action {
    background-color: var(--gse-ui-toast-action-backgroundColor);

    .gux-message {
      color: var(--gse-ui-toast-action-foregroundColor);
    }
  }
}
