// Variables part
@import '../../../style/color';
@import '../../../style/shadows';
@import '../../../style/typography';

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gse-ui-toast-gap);
  width: fit-content;
  padding: var(--gse-ui-toast-margin);
  margin-bottom: 4px;
  border-radius: var(--gse-ui-toast-borderRadius);
  box-shadow: var(--gse-ui-toast-boxShadow-x) var(--gse-ui-toast-boxShadow-y)
    var(--gse-ui-toast-boxShadow-blur) var(--gse-ui-toast-boxShadow-spread)
    var(--gse-ui-toast-boxShadow-color);

  &.gux-toast-success {
    background-color: var(--gse-ui-toast-success-backgroundColor);
    color: var(--gse-ui-toast-success-foregroundColor);
  }

  &.gux-toast-warning {
    background-color: var(--gse-ui-toast-warning-backgroundColor);
    color: var(--gse-ui-toast-warning-foregroundColor);
  }

  &.gux-toast-error {
    background-color: var(--gse-ui-toast-error-backgroundColor);
    color: var(--gse-ui-toast-error-foregroundColor);
  }

  &.gux-toast-info {
    background-color: var(--gse-ui-toast-info-backgroundColor);
    color: var(--gse-ui-toast-info-foregroundColor);
  }

  &.gux-toast-action {
    background-color: var(--gse-ui-toast-action-backgroundColor);
    color: var(--gse-ui-toast-action-foregroundColor);
  }
}

.gux-icon {
  ::slotted(gux-icon) {
    width: 24px !important;
    height: 24px !important;
  }

  gux-icon {
    width: 24px !important;
    height: 24px !important;
  }

  &.gux-icon-error {
    color: var(--gse-ui-toast-error-iconColor);
  }

  &.gux-icon-warning {
    color: var(--gse-ui-toast-warning-iconColor);
  }

  &.gux-icon-success {
    color: var(--gse-ui-toast-success-iconColor);
  }

  &.gux-icon-info {
    color: var(--gse-ui-toast-info-iconColor);
  }

  &.gux-icon-action {
    color: var(--gse-ui-toast-action-iconColor);
  }
}

.gux-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  align-self: auto;
  justify-content: flex-start;
  order: 0;
  gap: var(--gse-ui-toast-gapButton);

  .gux-message {
    display: flex;
    flex-direction: column;
    gap: var(--gse-ui-toast-gapText);

    .gux-message-title {
      font-family: var(--gse-ui-toast-heading-fontFamily);
      line-height: var(--gse-ui-toast-heading-lineHeight);
      font-size: var(--gse-ui-toast-heading-fontSize);
      font-weight: var(--gse-ui-toast-heading-fontWeight);
    }

    .gux-message-body {
      font-family: var(--gse-ui-toast-text-fontFamily);
      line-height: var(--gse-ui-toast-text-lineHeight);
      font-size: var(--gse-ui-toast-text-fontSize);
    }
  }

  .gux-buttons-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--gse-ui-toast-buttonBar-gap);
  }
}
