@use '~genesys-spark/dist/beta/tokens/flare/ui.scss';

.gux-toast {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: ui.$gse-ui-toast-gap;
  place-content: stretch flex-start;
  align-items: flex-start;
  inline-size: ui.$gse-ui-toast-wrappingWidth;
  padding: ui.$gse-ui-toast-margin;
  margin-block-end: ui.$gse-ui-toast-stacking-gap;
  border-radius: ui.$gse-ui-toast-borderRadius;
  box-shadow: ui.$gse-ui-toast-boxShadow;

  .gux-icon {
    ::slotted(gux-icon) {
      inline-size: ui.$gse-ui-toast-icon !important;
      block-size: ui.$gse-ui-toast-icon !important;
    }

    gux-icon {
      inline-size: ui.$gse-ui-toast-icon !important;
      block-size: ui.$gse-ui-toast-icon !important;
    }

    &.gux-icon-error {
      color: ui.$gse-ui-toast-error-iconColor;
    }

    &.gux-icon-warning {
      color: ui.$gse-ui-toast-warning-iconColor;
    }

    &.gux-icon-success {
      color: ui.$gse-ui-toast-success-iconColor;
    }

    &.gux-icon-info {
      color: ui.$gse-ui-toast-info-iconColor;
    }

    &.gux-icon-action {
      color: ui.$gse-ui-toast-action-iconColor;
    }
  }

  .gux-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: ui.$gse-ui-toast-gapButton;
    place-content: stretch flex-start;
    align-items: flex-start;
    align-self: auto;
    order: 0;

    .gux-message {
      display: flex;
      flex-direction: column;
      gap: ui.$gse-ui-toast-gapText;

      .gux-message-title {
        font-family: ui.$gse-ui-toast-heading-fontFamily;
        font-size: ui.$gse-ui-toast-heading-fontSize;
        font-weight: ui.$gse-ui-toast-heading-fontWeight;
        line-height: ui.$gse-ui-toast-heading-lineHeight;
      }

      .gux-message-body {
        font-family: ui.$gse-ui-toast-text-fontFamily;
        font-size: ui.$gse-ui-toast-text-fontSize;
        line-height: ui.$gse-ui-toast-text-lineHeight;
        word-break: break-all;
      }
    }

    .gux-buttons-bar {
      inline-size: 100%;
    }
  }

  &.gux-toast-success {
    background-color: ui.$gse-ui-toast-success-backgroundColor;

    .gux-message {
      color: ui.$gse-ui-toast-success-foregroundColor;
    }
  }

  &.gux-toast-warning {
    background-color: ui.$gse-ui-toast-warning-backgroundColor;

    .gux-message {
      color: ui.$gse-ui-toast-warning-foregroundColor;
    }
  }

  &.gux-toast-error {
    background-color: ui.$gse-ui-toast-error-backgroundColor;

    .gux-message {
      color: ui.$gse-ui-toast-error-foregroundColor;
    }
  }

  &.gux-toast-info {
    background-color: ui.$gse-ui-toast-info-backgroundColor;

    .gux-message {
      color: ui.$gse-ui-toast-info-foregroundColor;
    }
  }

  &.gux-toast-action {
    background-color: ui.$gse-ui-toast-action-backgroundColor;

    .gux-message {
      color: ui.$gse-ui-toast-action-foregroundColor;
    }
  }
}
