:host {
  height: fit-content;
}

text {
  fill: #2e394c;
}

.role-axis-domain {
  fill: #2e394c;
}

.role-axis-label text {
  fill: #596373;
}

.mark-rule.role-axis-domain line {
  stroke: #2e394c;
}
