@use '~genesys-spark/dist/scss/focus.scss';

gux-table-select-menu {
  display: inline-flex;
  font-family: var(--gse-ui-popover-body-text-fontFamily);
  font-size: var(--gse-ui-popover-body-text-fontSize);
  font-weight: var(--gse-ui-popover-body-text-fontWeight);
  line-height: var(--gse-ui-popover-body-text-lineHeight);

  .gux-select-menu-button {
    padding: 0;
    margin-left: var(--gse-ui-dataTableItems-header-gap);
    color: var(--gse-ui-dataTableItems-cell-chevron-foregroundColor);
    background-color: inherit;
    border: none;
    outline: none;

    &:focus-visible {
      // TODO: COMUI-2393 need focus ring tokens for table-select-menu dropdown button ?
      @include focus.gux-focus-ring;

      border-radius: 4px;
    }

    gux-icon {
      width: var(--gse-ui-icon-small-size);
      height: var(--gse-ui-icon-small-size);
    }
  }
}
