@import '../../../../style/focus.scss';

gux-table-select-menu {
  display: inline-flex;
  font-family: var(--gse-ui-popover-body-text-fontFamily);
  font-weight: var(--gse-ui-popover-body-text-fontWeight);
  line-height: var(--gse-ui-popover-body-text-lineHeight);
  font-size: var(--gse-ui-popover-body-text-fontSize);

  .gux-select-menu-button {
    margin-left: var(--gse-ui-dataTableItems-header-gap);
    padding: 0;
    color: var(--gse-ui-dataTableItems-cell-chevron-foregroundColor);
    background-color: inherit;
    border: none;
    outline: none;

    &:focus-visible {
      gux-icon {
        outline: var(--gse-semantic-focusRing-width) solid
          var(--gse-semantic-color-focus);
        outline-offset: var(--gse-semantic-focusRing-offset);
        border-radius: var(--gse-semantic-focusRing-cornerRadius);
      }
    }

    gux-icon {
      width: var(--gse-ui-icon-size-sm);
      height: var(--gse-ui-icon-size-sm);
    }
  }
}
