// --gse-ui-advancedTabs-divider-dividerColor: #c6c8ce;
// --gse-ui-advancedTabs-item-padding: 11px 12px 10px;
// --gse-ui-advancedTabs-item-gap: 8px;
// --gse-ui-advancedTabs-item-focus-borderRadius: 8px;
// --gse-ui-advancedTabs-item-focus-border-color: #7b88f7;
// --gse-ui-advancedTabs-item-focus-border-width: 3px;
// --gse-ui-advancedTabs-item-focus-border-style: solid;
// --gse-ui-advancedTabs-item-focus-borderCopy-0: 4;
// --gse-ui-advancedTabs-item-focus-borderCopy-1: p;
// --gse-ui-advancedTabs-item-focus-borderCopy-2: x;
// --gse-ui-advancedTabs-item-backgroundColor: #ffffff;
// --gse-ui-advancedTabs-item-borderRadius: 4px 4px 0 0;
// --gse-ui-advancedTabs-item-height: 48px;
// --gse-ui-advancedTabs-item-width: 151px;
// --gse-ui-advancedTabs-item-focusItem-height: 53px;
// --gse-ui-advancedTabs-item-focusItem-width: 126px;
// --gse-ui-advancedTabs-item-divider-bottom-height: 1px;
// --gse-ui-advancedTabs-item-divider-right-height: 32px;
// --gse-ui-advancedTabs-item-divider-right-width: 1px;
// --gse-ui-advancedTabs-item-text-color: #1b2c48;
// --gse-ui-advancedTabs-item-text-height: 9px;
// --gse-ui-advancedTabs-item-indicator-hoverColor: #4856cb;
// --gse-ui-advancedTabs-item-indicator-activeColor: #3742a2;
// --gse-ui-advancedTabs-item-indicator-height: 2px;
// --gse-ui-advancedTabs-item-icon-iconColor: #1b2c48;
// --gse-ui-advancedTabs-item-icon-size: 16px;
// --gse-ui-advancedTabs-item-menuButton-gap: 4px;
// --gse-ui-advancedTabs-item-menuButton-height: 45px;
// --gse-ui-advancedTabs-item-menuButton-width: 32px;
// --gse-ui-advancedTabs-item-menuButton-defaultColor: #626e84;
// --gse-ui-advancedTabs-item-menuButton-activeColor: #252e78;
// --gse-ui-advancedTabs-item-menuButton-focus-height: 53px;
// --gse-ui-advancedTabs-item-menuButton-focus-width: 40px;
// --gse-ui-advancedTabs-item-itemText-fontFamily: Noto Sans;
// --gse-ui-advancedTabs-item-itemText-lineHeight: 18px;
// --gse-ui-advancedTabs-item-itemText-fontSize: 12px;
// --gse-ui-advancedTabs-item-itemText-fontWeight: 400;
// --gse-ui-advancedTabs-button-add-height: 45px;
// --gse-ui-advancedTabs-button-arrow-height: 48px;
// --gse-ui-advancedTabs-set-backgroundColor: #f3f5fb;
// --gse-ui-advancedTabs-set-standard-width: 920px;

@use '../../../../style/focus';

gux-tab-advanced {
  .gux-tab {
    display: flex;

    border-top-width: var(--gse-ui-advancedTabs-item-indicator-height);
    border-bottom-width: var(--gse-ui-advancedTabs-item-indicator-height);
    border-bottom-style: solid;
    border-color: transparent;
    align-items: center;

    .gux-buttons {
      width: var(--gse-ui-advancedTabs-item-width);
      flex: 1 1 0;
      display: flex;

      align-items: center;
      gap: var(--gse-ui-advancedTabs-item-gap);
      min-width: 0;

      .gux-tab-button {
        all: unset;
        width: 100px;
        flex: 1 1 0;
        min-width: 0;
        padding: var(--gse-ui-advancedTabs-item-padding);

        &:focus-visible {
          @include focus.gux-focus-ring;

          border-radius: var(--gse-ui-advancedTabs-item-focus-borderRadius);
          outline-offset: calc(
            -1 * var(--gse-semantic-focusRing-default-border-width)
          );
        }

        .gux-tab-button-text {
          font-family: var(--gse-ui-advancedTabs-item-itemText-fontFamily);
          line-height: var(--gse-ui-advancedTabs-item-itemText-lineHeight);
          font-size: var(--gse-ui-advancedTabs-item-itemText-fontSize);
          font-weight: var(--gse-ui-advancedTabs-item-itemText-fontWeight);
          color: var(--gse-ui-advancedTabs-item-text-color);
          white-space: nowrap;
        }
      }
    }

    .gux-tab-options {
      .gux-tab-options-trigger {
        gux-icon {
          width: var(--gse-ui-icon-size-sm);
          height: var(--gse-ui-icon-size-sm);
        }
      }

      .gux-tab-options-container {
        --no-op: none;
      }
    }

    .gux-divider {
      height: var(--gse-ui-advancedTabs-item-divider-right-height);
      width: var(--gse-ui-advancedTabs-item-divider-right-width);
      background-color: var(--gse-ui-advancedTabs-divider-dividerColor);
    }

    &:hover:not(.gux-disabled),
    &:focus-within {
      border-bottom-color: var(
        --gse-ui-advancedTabs-item-indicator-activeColor
      );
    }

    &.gux-selected {
      background-color: var(--gse-ui-advancedTabs-item-backgroundColor);
      border-bottom-color: var(
        --gse-ui-advancedTabs-item-indicator-activeColor
      );

      &.gux-disabled {
        border-bottom-color: color-mix(
          in srgb,
          var(--gse-ui-advancedTabs-item-indicator-activeColor) 50%,
          white
        );
      }
    }

    &.gux-disabled {
      .gux-buttons {
        .gux-tab-button {
          .gux-tab-button-text {
            color: color-mix(
              in srgb,
              var(--gse-ui-advancedTabs-item-text-color) 50%,
              white
            );
          }
        }
      }
    }
  }
}
