@use '~genesys-spark/dist/scss/focus.scss';

gux-tab-advanced {
  .gux-tab {
    display: flex;
    align-items: center;
    border-color: transparent;
    border-block-start-width: var(--gse-ui-advancedTabs-item-indicator-height);
    border-block-end-style: solid;
    border-block-end-width: var(--gse-ui-advancedTabs-item-indicator-height);

    .gux-buttons {
      display: flex;
      flex: 1 1 0;
      gap: var(--gse-ui-advancedTabs-item-gap);
      align-items: center;
      inline-size: var(--gse-ui-advancedTabs-item-width);
      min-inline-size: 0;

      .gux-tab-button {
        all: unset;
        flex: 1 1 0;
        inline-size: 100px;
        min-inline-size: 0;
        padding: var(--gse-ui-advancedTabs-item-padding);

        &:focus-visible {
          @include focus.gux-focus-ring;

          border-radius: var(--gse-ui-advancedTabs-item-focus-borderRadius);
          outline-offset: calc(
            -1 * var(--gse-semantic-focusOutline-md-borderWidth)
          );
        }

        .gux-tab-button-text {
          font-family: var(--gse-ui-advancedTabs-item-itemText-fontFamily);
          font-size: var(--gse-ui-advancedTabs-item-itemText-fontSize);
          font-weight: var(--gse-ui-advancedTabs-item-itemText-fontWeight);
          line-height: var(--gse-ui-advancedTabs-item-itemText-lineHeight);
          color: var(--gse-ui-advancedTabs-item-text-color);
          white-space: nowrap;
        }
      }
    }

    .gux-tab-options {
      .gux-tab-options-trigger {
        gux-icon {
          inline-size: var(--gse-ui-icon-small-size);
          block-size: var(--gse-ui-icon-small-size);
        }
      }

      .gux-tab-options-container {
        --no-op: none;
      }
    }

    .gux-divider {
      inline-size: var(--gse-ui-advancedTabs-item-divider-right-width);
      block-size: var(--gse-ui-advancedTabs-item-divider-right-height);
      background-color: var(--gse-ui-advancedTabs-divider-dividerColor);
    }

    &:hover:not(.gux-disabled),
    &:focus-within {
      border-block-end-color: var(
        --gse-ui-advancedTabs-item-indicator-activeColor
      );
    }

    &.gux-selected {
      background-color: var(--gse-ui-advancedTabs-item-backgroundColor);
      border-block-end-color: var(
        --gse-ui-advancedTabs-item-indicator-activeColor
      );

      &.gux-disabled {
        opacity: var(--gse-ui-advancedTabs-item-disabled-opacity);
      }
    }

    &.gux-disabled {
      .gux-buttons {
        .gux-tab-button {
          .gux-tab-button-text {
            opacity: var(--gse-ui-advancedTabs-item-disabled-opacity);
          }
        }
      }
    }
  }
}
